<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Role Menu</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form>


              <h1 class="ad-page-title" style="text-align: center;">Menu List</h1>

              <br />
              <!-- <th>Menu<input type="checkbox" [(ngModel)]="selectAllCheckbox" (change)="select()"></th> -->
              <div class="row">
                <div class="col-sm-12">
                  <h3>Budget</h3>
                  <div class="col-sm-12" *ngFor="let item of budgetMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>

                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h3>Accounts Payable</h3>
                  <div class="col-sm-6" *ngFor="let item of apMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h3>Accounts Receivable</h3>
                  <div class="col-sm-6" *ngFor="let item of arMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h3>General Ledger</h3>
                  <div class="col-sm-6" *ngFor="let item of glMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h3>Maintainence</h3>
                  <div class="col-sm-6" *ngFor="let item of maintanenceMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h3>Student Finance</h3>
                  <div class="col-sm-6" *ngFor="let item of sfMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h3>Investment</h3>
                  <div class="col-sm-6" *ngFor="let item of investmentMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>
              <!-- <div class="row">
                  <div class="col-sm-12">
              <h3 >Report</h3>
                <div class="col-sm-6" *ngFor="let item of reportMenus">
                  <input type="checkbox" name="report" [(ngModel)]="item.menuStatus"  value="{{item.f011fid}}" >{{item.f011fmenuName}}
                </div><br>
              </div> -->
              <!-- </div> -->
              <div class="row">
                <div class="col-sm-12">
                  <h3>Procurement</h3>
                  <div class="col-sm-6" *ngFor="let item of procurementMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <h3>Assets</h3>
                  <div class="col-sm-6" *ngFor="let item of assetMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <h3>Loans</h3>
                  <div class="col-sm-6" *ngFor="let item of loanMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <h3>Cash Advances</h3>
                  <div class="col-sm-6" *ngFor="let item of cashadvancesMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <h3>Payroll</h3>
                  <div class="col-sm-6" *ngFor="let item of payrollMenus">
                    <input type="checkbox" name="budget" value="{{item.f011fid}}">{{item.f011fmenuName}}
                  </div><br>
                </div>
              </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p class="text-right">
                      <a href="/generalsetup/rolemenu" class="btn nh-btn-secondary">Cancel</a>
                      <button type="submit" (click)='addRolemenu()' class="btn nh-btn-primary">Save</button>
                    </p>
                  </div>
                </div>
             

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
