<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title" *ngIf="idview!=2"> Returns</h1>
                    <h1 class="ad-page-title" *ngIf="idview==2"> Returns Aproval</h1>
                </div>
            </div>
            <div class="row" id="target">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addReturns()" #f="ngForm" name="form" novalidate>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Amount(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" style="text-align: right" (keypress)="onlyNumberKey($event)"
                                        class="form-control" name="f118famount" placeholder="Enter Amount " [(ngModel)]="returnData.f118famount"
                                        value="" required #Amount="ngModel">
                                    <span *ngIf=" Amount.errors && (Amount.dirty || Amount.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Amount(RM)</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account number<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f118famountNumber" (keypress)="onlyNumberKey($event)"placeholder="Enter Account number "
                                        [(ngModel)]="returnData.f118famountNumber" value="" required #accnum="ngModel">
                                    <span *ngIf=" accnum.errors && (accnum.dirty || accnum.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Account number</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Receipt Name<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f118freceiptNumber"
                                        placeholder="Enter Receipt Name " [(ngModel)]="returnData.f118freceiptNumber" value=""
                                        required #receipt="ngModel">
                                    <span *ngIf=" receipt.errors && (receipt.dirty || receipt.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Receipt Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Student Name</label>
                                    <!-- <select class="form-control" [(ngModel)]="returnData.f064fidStudent" name="f064fidStudent"
                                        value="" required #student="ngModel">
                                        <option *ngFor="let indstudent of studentList" [value]="indstudent.f060fid">{{
                                            indstudent.f060fname }}
                                        </option>
                                    </select> -->
                                    <ng-select [disabled]="viewDisabled" [items]="studentList | sort:'f060fname'"  bindLabel="f060fname"
                                        bindValue="f060fid" [(ngModel)]="returnData.f118fstudent" name="f118fstudent"
                                        #student="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" student.errors && (student.dirty || student.touched || f.submitted)"
                                        class="form-errors">*Select Student Name
                                        .</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="returnData.f118fstatus" [checked]="returnData.f118fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="returnData.f118fstatus" [checked]="returnData.f118fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/studentfinance/returns']" *ngIf="idview!=2" class="btn nh-btn-secondary">Cancel</a>
                                    <a [routerLink]="['/studentfinance/returnapproval']" *ngIf="idview==2" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>