<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Knock Off / Advance payment Invoice</h1>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Payment Type</label>
                <ng-select [items]="paymenttype" bindLabel="name" bindValue="type" [(ngModel)]="advancePaymentData.f031ftype"
                  name="f031ftype" (change)="getType()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="type == 'KSTD'">
              <div class="form-group">
                <label>Student </label>
                <ng-select [items]="studentList | sort:'f060fname'" bindLabel="f060fname" (change)="getInvoiceList()"
                  bindValue="f060fid" [(ngModel)]="advancePaymentData.f031fidCustomer" name="f031fidCustomer">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="type == 'KCUS'">
              <div class="form-group">
                <label>Customer </label>
                <ng-select [items]="customerList | sort:'Debtor'" bindLabel="Debtor" bindValue="f021fid" (change)="getInvoiceList()"
                  [(ngModel)]="advancePaymentData.f031fidCustomer" name="f031fidCustomer">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food">
            <thead>
              <tr>
                <th colspan='6' style='text-align: center'>Advance Payment Details</th>
              </tr>
              <tr>
                <th>Select</th>
                <th>Payment Type</th>
                <th>Document Number</th>
                <th>Total Amount (RM)</th>
                <th>Balance Amount (RM)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indadvancePayment of maininvoiceList | filter : searchText ">
                <td>
                  <input type="checkbox" [(ngModel)]="indadvancePayment.status">
                </td>
                <td> {{indadvancePayment.f071finvoiceType}}</td>
                <td>{{indadvancePayment.f071finvoiceNumber}}</td>
                <td class="amountAlign">{{indadvancePayment.f071finvoiceTotal | number: '.2'}} </td>
                <td class="amountAlign">{{indadvancePayment.f071fbalance | number: '.2'}} </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div class="text-right">
                      <button type="submit" (click)='refundKnockOffInvoice()' class="btn um-btn-primary">Knock Off /
                        Refund
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>