<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Block Vendor</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addblockvendor()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Vendor<span class="required-class">*</span></label>
                  <ng-select [disabled]="editDisabled" [items]="supplierList | sort:'f030fcompanyName'" bindLabel="f030fcompanyName" bindValue="f030fid"
                    [(ngModel)]="blockvendorData.f111fvendor" name="f111fvendor" #vendor="ngModel" required>
                  </ng-select>
                  <span *ngIf="vendor.errors && (vendor.dirty || vendor.touched || f.submitted)" class="form-errors">*Select
                    Vendor</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Blocklist From<span class="required-class">*</span></label>
                  <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="blockvendorData.f111fblocklistFrom"
                    name="f111fblocklistFrom" placeholder="Enter Blocklist From" #effective="ngModel" required>
                  <span *ngIf="effective.errors && (effective.dirty || effective.touched || f.submitted)" class="form-errors">*Select
                    Blocklist From </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Reason for Blocklist<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f111freason" [(ngModel)]=" blockvendorData.f111freason "
                    placeholder="Enter Reason for Blocklist" #reason="ngModel" required>
                  <span *ngIf="reason.errors && (reason.dirty || reason.touched || f.submitted)" class="form-errors">*Enter
                    the Reason for Blocklist</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Release Date<span class="required-class">*</span></label>
                  <input type="date" class="form-control" name="f111freleaseDate" (change)="dateComparison()"
                    [(ngModel)]=" blockvendorData.f111freleaseDate" placeholder="Select Release Date" #release="ngModel"
                    required>
                  <span *ngIf="release.errors && (release.dirty || release.touched || f.submitted)" class="form-errors">*Select
                    Release Date</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
                    <a [routerLink]="['/procurement/blockvendor']" class="btn nh-btn-secondary">Cancel</a>
                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>