<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Petty Cash Entry</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/accountspayable/addnewpattycashentry']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="pattycashentryList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f122freferenceNo">Petty Cash ID</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="DepartmentName">Cost Center</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f123frequestedDate">Requested Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f123fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f123famount">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f123ftransactionType">Transaction Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f123fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indPattycashentry of mf.data">
                                <td>{{indPattycashentry.f122freferenceNo}}</td>
                                <td>{{indPattycashentry.DepartmentName}}</td>
                                <td>{{indPattycashentry.f123frequestedDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indPattycashentry.f123fdescription}}</td>
                                <td class="amountAlign">{{indPattycashentry.f123famount | number: '.2' }}</td>
                                <td>{{indPattycashentry.f011fdefinitionCode}}</td>
                                <td>{{indPattycashentry.f123fstatus}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountspayable/editpattycashentry/{{indPattycashentry.f123fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye" *ngIf="indPattycashentry.f123fstatus  == 'Approved'"></i>
                                                <i class="fa fa-edit" *ngIf="indPattycashentry.f123fstatus  == 'Pending'"></i>
                                                <i class="fa fa-eye" *ngIf="indPattycashentry.f123fstatus  == 'Rejected'"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>