<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Legal Information</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewlegalinformation']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="legalinformationList | filter : searchText | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th><mfDefaultSorter by="f026fname">Legal Associate</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f026femail">Email</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f026femail">Fax Number</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f026fphone">Phone Number</mfDefaultSorter></th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indlegalinformation of mf.data ">
                                <td>{{indlegalinformation.f026fname}}</td>
                                <td>{{indlegalinformation.f026femail}}</td>
                                <td>{{indlegalinformation.f026ffax}}</td>

                                <td>{{indlegalinformation.f026fphone}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editlegalinformation/{{indlegalinformation.f026fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>


                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                          </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>