<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Claim Customer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/accountspayable/addnewclaimcustomer']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="claimcustomerList" #mf="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f022ffirstName">First Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f022flastName">Last Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f022femailId">Email</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f022faddress1">Address One</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f022faddress2">Address Two</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indclaimcustomer of mf.data | filter : searchText">
                                <td>{{indclaimcustomer.f022ffirstName}}</td>
                                <td>{{indclaimcustomer.f022flastName}}</td>
                                <td>{{indclaimcustomer.f022femailId}}</td>
                                <td>{{indclaimcustomer.f022faddress1}}</td>
                                <td>{{indclaimcustomer.f022faddress2}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountspayable/editclaimcustomer/{{indclaimcustomer.f022fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>