<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Account Code</h1>
                </div>
            </div>
            <table class="table table-bordered table-striped table-food">
                <thead>
                    <tr align="center">
                        <th *ngIf="previousLevel">Previous Level</th>
                        <th *ngIf="previousLevel">Parent Code</th>

                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>View Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let indVoucher of accountCodeList">
                        <td *ngIf="previousLevel">
                            <span (click)="loadDataForNextSet(indVoucher.f059fshortCode)">Previous Level</span>
                        </td>
                        
                        <td *ngIf="previousLevel">
                            <input type="text" maxlength="1" class="form-control" readonly="readonly" placeholder="Enter accountCode" value={{indVoucher.f059frefCode}}>
                        </td>
                        <td>
                            <input type="text" maxlength="1" class="form-control" readonly="readonly" placeholder="Enter accountCode" value={{indVoucher.f059fcode}}>
                        </td>
                        <td>
                            <input type="text" maxlength="1" class="form-control" readonly="readonly" placeholder="Enter accountCode" value={{indVoucher.f059fname}}>
                        </td>
                        <td>
                            <input type="text" maxlength="1" class="form-control" readonly="readonly" placeholder="Enter accountCode" value={{indVoucher.f059ftype}}>
                        </td>

                        <td>
                            <input type="text" maxlength="1" class="form-control" readonly="readonly" placeholder="Enter accountCode" value={{indVoucher.f059fdescription}}>
                        </td>
                        <td>
                            <span (click)="loadDataForNextSet(indVoucher.f059fcode)">Next Level </span>
                        </td>
                    </tr>
                    <tr>
                        <td *ngIf="previousLevel">&nbsp;</td>
                        <td *ngIf="previousLevel">
                            <input type="text" maxlength="1" class="form-control" maxlength="1" name="accountCode" placeholder="Code" [(ngModel)]="account.f059frefCode" value="">
                        </td>
                        <td>
                            <input type="text" maxlength="1" class="form-control" maxlength="1" name="accountCode" placeholder="Code" [(ngModel)]="account.code" value="">
                        </td>
                        <td>
                            <input type="text" maxlength="1" class="form-control" maxlength="1" name="accountCode" placeholder="Enter accountCode" [(ngModel)]="account.name" value="">
                        </td>
                        <td>
                            <select class="form-control" maxlength="40" [(ngModel)]="account.type" name="first">
                                <option *ngFor="let o of options">
                                    {{o.name}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" maxlength="50" [(ngModel)]="account.description" name='debtorId'>
                                <option *ngFor="let ol of debtorlist" [ngValue]="ol">
                                    {{ol.f041fname}}
                                </option>
                            </select>
                        </td>

                        <td>
                            <input type="button" name="add" (click)='addAccountcode()' value='Save & Add Level' class="btn nh-btn-primary" />
                        </td>
                    </tr>
                    <tr>
                        <td>{{totalDebitAmount}}</td>
                        <td>{{totalCreditAmount}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>