<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Purchase Method</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addPurchaseLimit()" #f="ngForm" name="form" novalidate>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Order Type<span class="required-class">*</span></label>
                                    <ng-select [items]="fordertype | sort:'name'" bindLabel="name" bindValue="name"
                                        [(ngModel)]="purchaseLimitData.f109ftype" name="f109ftype" class="formm-control" required #type="ngModel">
                                    </ng-select>
                                    <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted )" class="form-errors">*Select
                                        Order
                                        Type.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Minimum Amount(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" class="form-control" style="text-align: right"
                                        name="f109fminLimit" [(ngModel)]="purchaseLimitData.f109fminLimit " (keypress)="onlyNumberKey($event)"
                                        placeholder="Minimum Amount(RM)" required #min="ngModel">
                                    <span *ngIf="min.errors && (min.dirty || min.touched || f.submitted )" class="form-errors">*Enter
                                        the
                                        Minimum Amount(RM).</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Maximum Amount(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" class="form-control" style="text-align: right"
                                        name="f109fmaxLimit" [(ngModel)]="purchaseLimitData.f109fmaxLimit " (keypress)="onlyNumberKey($event)"
                                        placeholder="Maximum Amount(RM)" required #max="ngModel">
                                    <span *ngIf="max.errors && (max.dirty || max.touched || f.submitted )" class="form-errors">*Enter
                                        the
                                        Maximum Amount(RM).</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="purchaseLimitData.f109fstatus"
                                        [checked]="purchaseLimitData.f109fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="purchaseLimitData.f109fstatus"
                                        [checked]="purchaseLimitData.f109fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/procurement/purchaselimit']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>