<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Cash Advance Process</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="cashadvanceprocessList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f052fcashAdvance">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="staffName">Staff Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="financialYear">Financial Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f052ftotal">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f052fapprovalStatus">Process</mfDefaultSorter>
                                </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indcashadvanceprocess of mf.data">
                                <td>{{indcashadvanceprocess.f052fcashAdvance}}</td>
                                <td>{{indcashadvanceprocess.f052fidStaff}} - {{indcashadvanceprocess.staffName}}</td>
                                <td>{{indcashadvanceprocess.financialYear}}</td>
                                <td class="amountAlign">{{indcashadvanceprocess.f052ftotal | number: '.2'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indcashadvanceprocess.processStatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/cashadvances/viewcashadvanceapp/{{indcashadvanceprocess.f052fid}}/3">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='cashadvanceprocessListData()' class="btn nh-btn-primary">Process</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>