<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelone']">Payroll
                                    Tax Schedule</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/leveltwo']"> Payroll
                                    Tax Exemption</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelthree']">
                                    Payroll
                                    EPF Contribution per Month</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelfour']"> Payroll
                                    IT Deduction</a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title">Tax Exemption</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">

                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Individual Expenses(RM)</th>
                            <th>Spouse Expenses(RM)</th>
                            <th>Child Expenses(RM)</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let indleveltwo of leveltwoList; let i = index;last as isLast">
                            <td>
                                <input type="text" class="form-control" maxlength="50" name="f063fcategory" placeholder="Enter Category"
                                    [(ngModel)]="leveltwoList[i].f063fcategory" value="" (blur)="onBlurMethod(leveltwoList[i])">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align: right" name="f063findividualExpenses"
                                    (keypress)="onlyNumberKey($event)" placeholder="Enter Individual Expenses(RM)"
                                    [(ngModel)]="leveltwoList[i].f063findividualExpenses" value="" (blur)="onBlurMethod(leveltwoList[i])">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align: right" name="f063fspouseExpenses"
                                    (keypress)="onlyNumberKey($event)" placeholder="Enter Spouse Expenses(RM)"
                                    [(ngModel)]="leveltwoList[i].f063fspouseExpenses" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align: right" name="f063fchildExpenses"
                                    (keypress)="onlyNumberKey($event)" placeholder="Enter Child Expenses(RM)"
                                    [(ngModel)]="leveltwoList[i].f063fchildExpenses" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <!-- <td> -->
                                <!-- <input type="button" name="add" (click)='deleteleveltwo(leveltwoList[i])' value='Delete' class="btn nh-btn-primary" /> -->
                            <!-- </td>/ -->
                            <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" type="button" (click)='deleteleveltwo(leveltwoList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteleveltwo(leveltwoList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr *ngIf="showLastRow==false">
                            <td>
                                <input type="text" class="form-control" maxlength="50" name="f063fcategory" placeholder="Enter Category"
                                    [(ngModel)]="leveltwoData.f063fcategory" value="" (blur)="onBlurMethod(leveltwoList[i])">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align: right" maxlength="10" name="f063findividualExpenses"
                                    (keypress)="onlyNumberKey($event)" placeholder="Enter Individual Expenses(RM)"
                                    [(ngModel)]="leveltwoData.f063findividualExpenses" value="" (blur)="onBlurMethod(leveltwoList[i])">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align: right" maxlength="10" name="f063fspouseExpenses"
                                    (keypress)="onlyNumberKey($event)" placeholder="Enter Spouse Expenses(RM)"
                                    [(ngModel)]="leveltwoData.f063fspouseExpenses" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align: right" maxlength="10" name="f063fchildExpenses"
                                    (keypress)="onlyNumberKey($event)" placeholder=" Enter Child Expenses(RM)"
                                    [(ngModel)]="leveltwoData.f063fchildExpenses" value="">
                            </td>

                            <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addLeveltwo()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            <!-- <td>
                                <button class="btn nh-btn-primary" type="button" (click)='addLeveltwo()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td> -->
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/payroll/leveltwo" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveLeveltwo()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>