<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Department Activity</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Department</label>
                                    <select class="form-control" [(ngModel)]="DepartmentactivityData.f055fidDepartment" name="f055fidDepartment" placeholder="Enter Department "
                                        required #department="ngModel">
                                        <option [ngValue]="undefined" hidden selected> --please select-- </option>
                                        <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fid">{{ inddepartment.f015fdepartmentName }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Activity Name </label>
                                    <input type="text" class="form-control" name="Activity" placeholder="Enter Activity" [(ngModel)]="DepartmentactivityData.f055factivityName"
                                        value="" #description="ngModel" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="DepartmentactivityData.f055fstatus" [checked]="DepartmentactivityData.f055fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="DepartmentactivityData.f055fstatus" [checked]="DepartmentactivityData.f055fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/budget/departmentactivity" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='adddepartmentactivity()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>