<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Release Staff</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/loan/addnewempreleaselist']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="empreleaseList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="staffName">Staff</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f018feffectiveDate">Blacklist From</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f018fendDate">End Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f018freason">Reason</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f018fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indempreleaslist of mf.data">
                                <td>{{indempreleaslist.f018fidStaff}} - {{indempreleaslist.staffName}}</td>
                                <td>{{indempreleaslist.f018feffectiveDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indempreleaslist.f018fendDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indempreleaslist.f018freason}}</td>
                                <td>{{indempreleaslist.f018fstatus == 1?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/editempreleaslist/{{indempreleaslist.f018fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>