<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Utility Setup</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewutility']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="utilityList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f078fdescription">Meter ID</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="premiseName">Premise</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078finitialReading">Initial Meter Reading</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078flastReading">Last Meter Reading</mfDefaultSorter>
                </th>
                <!-- <td>
                  <mfDefaultSorter by="f078fstatus">Status</mfDefaultSorter>
                </td> -->
                <th class="text-center">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indutility of  mf.data ">
                <td>{{indutility.f078fdescription}}</td>
                <td>{{indutility.premiseName}}</td>
                <td>{{indutility.f078finitialReading}}</td>
                <td>{{indutility.f078flastReading}}</td>
                <!-- <td>{{indutility.f078fstatus == '1'?'Active':'Inactive'}}</td> -->

                <td class="actions-col">
                  <div class="nh-btn-group text-center">
                    <a routerLink="/accountsrecivable/editutility/{{indutility.f078fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody class="pagination-wrapper">
              <tr>
                <td class="pagination-col" colspan="6">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>