<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Loan Grade</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/loan/addnewsetupgrade']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="setupgradeList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>

                                <th><mfDefaultSorter by="f020floanName">Loan Type</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f046fgradeName">Grade</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f046fgradeFrom">Loan Minimum Limit(RM)</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f046fgradeTo">Loan Maximum Limit(RM)</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f046fgradeMonthFrom">Minimum Loan Period(Month)</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f046fgradeMonthTo">Maximum Loan Period(Month)</mfDefaultSorter></th>                               
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indsetupgrade of mf.data ">

                                <td>{{indsetupgrade.f020floanName}}</td>
                                <td *ngIf="indsetupgrade.f046fgradeName=='0'">All</td>
                                <td *ngIf="indsetupgrade.f046fgradeName!='0'">{{indsetupgrade.f046fgradeName}}</td>
                                <td  class="amountAlign" >{{indsetupgrade.f046fgradeFrom  | number: '.2'}}</td>
                                <td  class="amountAlign" >{{indsetupgrade.f046fgradeTo  | number: '.2'}}</td>
                                <td  style="text-align:center;" >{{indsetupgrade.f046fgradeMonthFrom}}</td>
                                <td   style="text-align:center;" >{{indsetupgrade.f046fgradeMonthTo}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/editsetupgrade/{{indsetupgrade.f046fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>