<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">EMP Salary</h1>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Employee Name<span class="required-class">*</span></label>
                <input type="text" class="form-control" maxlength="50" [(ngModel)]="empsalaryData.empname" name="f082fname"
                  placeholder="Enter Employee Name" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Employee ID<span class="required-class">*</span></label>
                <input type="text" class="form-control" maxlength="50" [(ngModel)]="empsalaryData.empid" name="f082fname"
                  placeholder="Enter Employee ID" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Designation<span class="required-class">*</span></label>
                <input type="text" class="form-control" maxlength="50" [(ngModel)]="empsalaryData.designation" name="f082fname"
                  placeholder="Enter Designation" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12" class="table-responsive salary-note-table-wrapper">
        <table class="table table-bordered table-striped table-food">
          <thead>
            <tr>
              <th>Name:</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th>Designation:</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th>Month:</th>
            </tr>
          </thead>
          <div class="row">
            <div class="col-sm-6">
              <table class="table table-striped" [mfData]="empsalaryList | filter : searchText" #mf="mfDataTable"
                [mfRowsOnPage]="10">
                <thead>
                  <tr>
                    <th>
                      <mfDefaultSorter by="">Earning</mfDefaultSorter>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indcompany of mf.data ">
                    <td>{{indcompany.f0earning}}</td>
                  </tr>

                  <tr>
                    <td>total</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <table class="table table-bordered table-striped" [mfData]="empsalaryList | filter : searchText" #mf="mfDataTable"
                [mfRowsOnPage]="10">
                <thead>
                  <tr>
                    <th>
                      <mfDefaultSorter by="">Deduction</mfDefaultSorter>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indcompany1 of mf.data ">
                    <td>{{indcompany1.f0deduction}}</td>
                  </tr>
                  <tr>
                    <td>total</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Tax:</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>