<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Receipt Non Invoice Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div>
                        </div>
                        <div class="col-sm-2">
                            <div class="add-btn">
                                <a [routerLink]="['accountsrecivable/receiptnoninvoice']" class="btn nh-btn-primary">Add Receipt Non Invoice</a>
                              </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Invoice Number</th>
                                <th>Invoice Type</th>
                                <th>Invoice Date</th>
                                <th>Customer</th>
                                <th>Amount</th>
                                <th>Approval Status</th>
                                <th>Approve ( Select all ) <input type="checkbox" [(ngModel)]="selectAllCheckbox" (change)="selectAll()"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indreceiptnoninvapprovallist of receiptnoninvapprovallistList | filter : searchText ">
                                <td>{{indreceiptnoninvapprovallist.f071finvoiceNumber}}</td>
                                <td>{{indreceiptnoninvapprovallist.f071finvoiceType}}</td>
                                <td>{{indreceiptnoninvapprovallist.f071finvoiceDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indreceiptnoninvapprovallist.firstName}}</td>
                                <td class="amountAlign">{{indreceiptnoninvapprovallist.f071finvoiceTotal | number: '.2'}}</td>
                                <td>{{indreceiptnoninvapprovallist.f071fstatus === 1?'Approved':'Not Approved'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indreceiptnoninvapprovallist.f071fstatus">
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='ReceiptnoninvapprovallistData()' class="btn nh-btn-primary">Approve</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>