<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Update Asset Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="assetapprovalList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>

                                <th>
                                    <mfDefaultSorter by="f085fassetDescription">Asset Description</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f087fcategoryDiscription">Asset Category</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f085fAcquisitionDate">Acquisition Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f085forderNumber">Order Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f085fstoreCode">Store Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Account">Account Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f087fapprovedStatus">Approve/Reject</mfDefaultSorter>
                                </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indassetinformation of mf.data">
                                <td>{{indassetinformation.f085fassetDescription}}</td>
                                <td>{{indassetinformation.f087fcategoryDiscription}}</td>
                                <td>{{indassetinformation.f085fAcquisitionDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indassetinformation.f085forderNumber}}</td>
                                <td>{{indassetinformation.f085fstoreCode}}</td>
                                <td>{{indassetinformation.Account}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indassetinformation.f087fapprovedStatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/assets/viewupdateasset/{{indassetinformation.f085fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="assetapprovalData.reason" name="f087freason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='assetapprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="submit" (click)='regectApprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>