<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Blacklist / Release Staff</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/loan/addnewblacklistemp']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="blacklistempList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="staffName">Staff</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f018feffectiveDate">Blacklist From</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f018freleaseDate">Release Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f018freason">Reason for Blacklist</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indblacklist of mf.data">
                                <td>{{indblacklist.f018fidStaff}} - {{indblacklist.staffName}}</td>
                                <td>{{indblacklist.f018feffectiveDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indblacklist.f018freleaseDate | date: 'dd/MM/yyyy'}}</td>
                            
                                <!-- <td *ngIf="indblacklist.f018freleaseDate=='1970-01-01'">{{indblacklist.f018freleaseDate
                                    | date: 'dd/MM/yyyy'}}</td> -->
                                <!-- <td *ngIf="indblacklist.f018freleaseDate!='1970-01-01'">{{indblacklist.f018freleaseDate
                                    | date: 'dd/MM/yyyy'}}</td> -->
                                <td>{{indblacklist.f018freason}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/editblacklistemp/{{indblacklist.f018fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>