<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Student Ledger</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Graduation Type<span class="required-class">*</span> </label>
                        <ng-select [items]="graduationType | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                          bindValue="f011fdefinitionCode" [(ngModel)]="studentledgerData.graduationType" name="graduationType"
                          #level="ngModel" (change)="getViewData()" required>
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Student </label>
                        <ng-select [items]="studentList |sort: 'f060fmatricNumber'" maxlength="50" bindLabel="Student"
                          bindValue="f060fmatricNumber" [(ngModel)]="studentledgerData.student" name="program" #program="ngModel"
                          required>
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Program </label>
                        <ng-select [items]="programmeList |sort: 'originalName'" maxlength="50" bindLabel="originalName"
                          bindValue="f068fcode" [(ngModel)]="studentledgerData.program" name="program" #program="ngModel"
                          required>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Intake<span class="required-class">*</span> </label>
      
                        <ng-select [items]="intakeList |sort: 'f067fname'" maxlength="50" bindLabel="f067fname" bindValue="f067fname"
                          [(ngModel)]="studentledgerData.intake" name="intake" #intake="ngModel" required>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <p class="text-right">
      
                        <button type="button" (click)="showStudent()" class="btn nh-btn-primary">Search</button>
      
                      </p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>