<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Staff Contribution</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addstaffContribution()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff<span class="required-class">*</span></label>
                                   
                                    <ng-select [items]="staffList" bindLabel="f034fid" bindValue="f034fname"
                                        [(ngModel)]="staffcontributionData.f083fidStaff" name="f083fidStaff" #staff="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="staff.errors && (staff.dirty || staff.touched || f.submitted )" class="form-errors">*Select
                                        Staff</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fund<span class="required-class">*</span></label>
                                    <ng-select [items]="fundList" bindLabel="f057fname" bindValue="f057fcode"
                                        [(ngModel)]="staffcontributionData.f083ffundCode" name="f083ffundCode" #fund="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="fund.errors && (fund.dirty || fund.touched || f.submitted )" class="form-errors">*Select
                                        Fund</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Activity Code<span class="required-class">*</span></label>
                                    <ng-select [items]="activitycodeList" bindLabel="f058fcompleteCode" bindValue="f058fcompleteCode"
                                        [(ngModel)]="staffcontributionData.f083factivityCode" name="f083factivityCode"
                                        #ativity="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="ativity.errors && (ativity.dirty || ativity.touched || f.submitted )"
                                        class="form-errors">*Select
                                        Activity Code</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department<span class="required-class">*</span></label>
                                    <ng-select [items]="DeptList" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                        [(ngModel)]="staffcontributionData.f083fdepartmentCode" name="f083fdepartmentCode"
                                        #dept="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="dept.errors && (dept.dirty || dept.touched || f.submitted )" class="form-errors">*Select
                                        Department</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- <label>EPF<span class="required-class">*</span></label> -->
                                    <input type="checkbox" [(ngModel)]="staffcontributionData.f083fepfDeductable" name="f083fepfDeductable">EPF
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Employee</label>
                                    <input type="text" class="form-control" [(ngModel)]="staffcontributionData.f083femployee"
                                        name="f083femployee" placeholder="Enter Employee" required #employee="ngModel" />
                                    <span *ngIf="employee.errors && (employee.dirty || employee.touched || f.submitted )"
                                        class="form-errors">*Enter the Employee</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Employer</label>
                                    <input type="text" class="form-control" [(ngModel)]="staffcontributionData.f083femployer"
                                        name="f083femployer" placeholder="Enter Employer" required #employor="ngModel" />
                                    <span *ngIf="employor.errors && (employor.dirty || employor.touched || f.submitted )"
                                        class="form-errors">*Enter the Employer</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- <label>SOCSO<span class="required-class">*</span></label> -->
                                    <input type="checkbox" [(ngModel)]="staffcontributionData.f083fsocsoDeductable"
                                        name="f083fsocsoDeductable">SOCSO
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- <label>Tax<span class="required-class">*</span></label> -->
                                    <input type="checkbox" [(ngModel)]="staffcontributionData.f083ftaxDeductable" name="f083ftaxDeductable">Tax
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="staffcontributionData.f083fstatus"
                                        [checked]="staffcontributionData.f083fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="staffcontributionData.f083fstatus"
                                        [checked]="staffcontributionData.f083fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">

                                    <a [routerLink]="['/payroll/staffcontribution']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>