<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Trial Balance Report</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addTrialbalancereport()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Account Code Level <span class="required-class">*</span> </label>
                  <ng-select [items]="faccount" bindLabel="name" bindValue="value" [(ngModel)]="trialbalancereportData.level"
                  name="level" #level="ngModel" required>
                </ng-select>

                  <!-- <select class="form-control" [(ngModel)]="trialbalancereportData.level" name="level"
                    placeholder="Enter Year " required #level="ngModel">
                    <option [ngValue]="undefined" hidden selected> --please select-- </option>
                    <option [ngValue]="1" > Level 1 </option>
                    <option [ngValue]="2" > Level 2 </option>
                    <option [ngValue]="3" > Level 3 </option>

                  </select> -->
                  <span *ngIf=" level.errors && (level.dirty || level.touched || f.submitted)"
                    class="form-errors">*Select Level</span>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                    <label>Cost Center <span class="required-class">*</span> </label>
                    <ng-select [items]="departmentList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                    bindValue="f015fdepartmentCode" [(ngModel)]="trialbalancereportData.departmentId" name="departmentId"
                    #costcenter="ngModel" required>
                  </ng-select>

                    <!-- <select class="form-control" [(ngModel)]="trialbalancereportData.departmentId" name="departmentId" #department="ngModel">
                        <option [ngValue]="undefined" hidden selected> --please select-- </option>
                        <option *ngFor="let inddep of departmentList" [value]="inddep.f015fid">{{ inddep.f015fdepartmentName }}</option>
                    </select> -->
                    <span *ngIf=" costcenter.errors && (costcenter.dirty || costcenter.touched || f.submitted)"  class="form-errors">*Select the Cost Center</span> 
                </div>
            </div>

            </div>
            
            </form>
        </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <button type="submit" class="btn nh-btn-primary" (click)="addTrialbalancereport()">Generate</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
