<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">EA Form Process</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/payroll/addneweaformprocess']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="eaformprocessList | filter : searchText"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th><mfDefaultSorter by="companyName">Company Name</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="financialYear">Year</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="staff Type">Staff Type</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f093fstatus">Status</mfDefaultSorter></th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indeaformprocess of mf.data ">
  
                  <td>{{indeaformprocess.companyName}}</td>
                  <td>{{indeaformprocess.financialYear}}</td>
                  <!-- <td>{{indpayrollprocess.f044fstaffType}}</td> -->
                                <!-- <td>{{indinsurancecompany.f052fidStaff}} - {{indinsurancecompany.staffName}}</td> -->

                  <td>{{indeaformprocess.f093fidStaff}}-{{indeaformprocess.staff}}</td>
                  <td>{{indeaformprocess.f093fstatus == 1?'Active':'Inactive'}}</td>
  
  
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/payroll/editeaformprocess/{{indeaformprocess.f093fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
  
                      <!-- <button class="btn nh-btn-remove">
                                              <i class="fas fa-trash-alt"></i>
                                          </button> -->
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="8">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  