<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title" *ngIf="idview!=2">Petty Cash Allocation</h1>
                </div>
            </div>
            <div class="row" id="target">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addpattycashallocation()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4" *ngIf="id!=0">
                                <div class="form-group">
                                    <label>Petty Cash ID<span class="required-class">*</span></label>
                                    <input disabled="disabled" type="text" maxlength="15" class="form-control" style="text-align: right"
                                        name="f122freferenceNo" placeholder="Enter Petty Cash ID" [(ngModel)]="pattycashallocationData.f122freferenceNo"
                                        (keypress)="onlyNumberKey($event)" value="" required #pettyId="ngModel">
                                    <span *ngIf="pettyId.errors && (pettyId.dirty || pettyId.touched || f.submitted)"
                                        class="form-errors">*
                                        Petty Cash ID.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Holder<span class="required-class">*</span></label>
                                    <ng-select [items]="userList |sort:'f014fuserName'" bindValue="f014fid" bindLabel="originalName"
                                        [(ngModel)]="pattycashallocationData.f122fapprover" name="f122fapprover"
                                        #Approver="ngModel" required>
                                    </ng-select>
                                    <!-- <ng-select [disabled]="viewDisabled" [items]="staffList1" bindLabel="f034fname" bindValue="f014fid"
                    [(ngModel)]="journalDataheader.f017fapprover" name="f017fapprover">
                  </ng-select> -->

                                    <span *ngIf=" Approver.errors && (Approver.dirty || Approver.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Holder</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cost Center<span class="required-class">*</span></label>
                                    <ng-select [items]="deptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="pattycashallocationData.f122fdepartmentCode"
                                        name="f122fdepartmentCode" #dept="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                                        Cost Center .
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Allocation Year <span class="required-class">*</span> </label>
                                    <ng-select [disabled]="viewDisabled" [items]="financialyearList" bindLabel="f015fname"
                                        bindValue="f015fid" [(ngModel)]="pattycashallocationData.f122fallocationYear"
                                        name="f122fallocationYear" #year="ngModel" required></ng-select>
                                    <span *ngIf=" year.errors && (year.dirty || year.touched || f.submitted)" class="form-errors">*Select
                                        Allocation
                                        Year</span>
                                </div>
                            </div> -->
                        </div>
                        <!-- </div> -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Minimum Transaction Amount(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" class="form-control" style="text-align: right"
                                        name="f122fminAmount" placeholder="Enter Minimum Transaction Amount"
                                        [(ngModel)]="pattycashallocationData.f122fminAmount" (keypress)="onlyNumberKey($event)"
                                        value="" required #min="ngModel">
                                    <span *ngIf="min.errors && (min.dirty || min.touched || f.submitted)" class="form-errors">*
                                        Enter the Minimum Transaction Amount.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Maximum Transaction Amount(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" class="form-control" style="text-align: right"
                                        name="f122fmaxAmount" placeholder="Enter Maximum Transaction Amount"
                                        [(ngModel)]="pattycashallocationData.f122fmaxAmount" (keypress)="onlyNumberKey($event)"
                                        value="" required #max="ngModel">
                                    <span *ngIf="max.errors && (max.dirty || max.touched || f.submitted)" class="form-errors">*
                                        Enter the Maximum Transaction Amount.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Payment Mode<span class="required-class">*</span></label>
                                    <ng-select [items]="paymentmodeList" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                                        [(ngModel)]="pattycashallocationData.f122fpaymentMode" name="f122fpaymentMode"
                                        #mode="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="mode.errors && (mode.dirty || mode.touched || f.submitted)" class="form-errors">*
                                        Select Payment Mode.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Minimum Amount For Reimbursement(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" class="form-control" style="text-align: right"
                                        name="f122fminReimbursement" placeholder="Enter Minimum Amount For Reimbursement"
                                        [(ngModel)]="pattycashallocationData.f122fminReimbursement" (keypress)="onlyNumberKey($event)"
                                        value="" required #minreib="ngModel">
                                    <span *ngIf="minreib.errors && (minreib.dirty || minreib.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter the Minimum Amount For Reimbursement.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Maximum Amount For Reimbursement(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" class="form-control" style="text-align: right"
                                        name="f122fmaxReimbursement" placeholder="Enter Maximum Amount For Reimbursement"
                                        [(ngModel)]="pattycashallocationData.f122fmaxReimbursement" (keypress)="onlyNumberKey($event)"
                                        value="" required #mixreib="ngModel">
                                    <span *ngIf="mixreib.errors && (mixreib.dirty || mixreib.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter the Maximum Amount For Reimbursement.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Minimum Reimbursement Percentage(%)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="5" class="form-control" style="text-align: right"
                                        name="f122fminReimbursementPercentage" placeholder="Enter Minimum Reimbursement Percentage"
                                        [(ngModel)]="pattycashallocationData.f122fminReimbursementPercentage" (keypress)="onlyNumberKey($event)"
                                        value="" required #minperc="ngModel">
                                    <span *ngIf="minperc.errors && (minperc.dirty || minperc.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter the Minimum Reimbursement Percentage.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Maximum Reimbursement Percentage(%)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="5" class="form-control" style="text-align: right"
                                        name="f122fmaxReimbursementPercentage" placeholder="Enter Maximum Reimbursement Percentage"
                                        [(ngModel)]="pattycashallocationData.f122fmaxReimbursementPercentage" (keypress)="onlyNumberKey($event)"
                                        value="" required #maxperc="ngModel">
                                    <span *ngIf="maxperc.errors && (maxperc.dirty || maxperc.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter the Maximum Reimbursement Percentage.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Amount(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" class="form-control" style="text-align: right"
                                        name="f122famount" placeholder="Enter Amount"
                                        [(ngModel)]="pattycashallocationData.f122famount" (keypress)="onlyNumberKey($event)"
                                        value="" required #amount="ngModel">
                                    <span *ngIf="amount.errors && (amount.dirty || amount.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter the Amount.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/accountspayable/pattycashallocationlist" class="btn nh-btn-secondary">Cancel</a>

                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>