<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll; padding-bottom: 200px">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Petty Cash Allocation</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/accountspayable/addnewpattycashallocation']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="PattycashallocationList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f122freferenceNo">Petty Cash ID</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f034fname">Holder</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="DepartmentName">Cost Center</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fname">Allocation Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f122fminAmount">Minimum Transaction Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f122fmaxAmount">Maximum Transaction Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f011fdefinitionCode">Payment Mode</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indpattycashallocationlist of mf.data">
                                <td>{{indpattycashallocationlist.f122freferenceNo}}</td>
                                <td>{{indpattycashallocationlist.f034fname}}</td>
                                <td>{{indpattycashallocationlist.DepartmentName}}</td>
                                <td>{{indpattycashallocationlist.f015fname}}</td>
                                <td class="amountAlign">{{indpattycashallocationlist.f122fminAmount | number: '.2' }}</td>
                                <td class="amountAlign">{{indpattycashallocationlist.f122fmaxAmount | number: '.2' }}</td>
                                <td>{{indpattycashallocationlist.f011fdefinitionCode}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountspayable/editpattycashallocation/{{indpattycashallocationlist.f122fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>