<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row" id="target">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="viewid==2">SAB Batch Approval</h1>
          <h1 class="ad-page-title" *ngIf="viewid!=2">SAB Batch</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                    <label>SAB Batch Id <span class="required-class">*</span></label>
                    <input type="text" maxlength="150" [disabled]="true" class="form-control"  placeholder="Payment Voucher Id">
                  </div>
                </div>

             
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Payment Reference Number <span class="required-class">*</span></label>
                    <input type="text" maxlength="10" [disabled]="viewDisabled" class="form-control" name="f138freferenceNumber"
                      [(ngModel)]="paymentvoucherDataheader.f138freferenceNumber " placeholder="Enter Payment Reference Number">
                  </div>
                </div>
      
               
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label>Description <span class="required-class">*</span></label>
                          <input type="text" maxlength="10" [disabled]="viewDisabled" class="form-control" name="f138fdescription"
                            [(ngModel)]="paymentvoucherDataheader.f138fdescription " placeholder="Enter Payment Reference Number">
                        </div>
                      </div>
            
                      <div class="col-sm-4">
                          <div class="form-group">
                            <label>Pay Amount <span class="required-class">*</span></label>
                            <input type="text" maxlength="150" [disabled]="viewDisabled" class="form-control" name="f138famount"
                              [(ngModel)]="paymentvoucherDataheader.f138famount" value="" required placeholder="Enter Description">
                          </div>
                        </div>             
                                
            
          </div>
        
          <div class="row" id="target1">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food" [mfData]="etfDetails | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                          <tr>
                              <th>
                                <mfDefaultSorter by="f093fvoucherNo">Payment Voucher Number</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="f136freferenceNumber">Payment Reference Number</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="paymentType">Payment Voucher Type </mfDefaultSorter>
                              </th>
              
                              <th>
                                <mfDefaultSorter by="f093fdescription">Description</mfDefaultSorter>
                              </th>
              
                              <th>
                                <mfDefaultSorter by="PaymentMode">Payment Mode</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="totalAmount">Amount(RM) </mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="f136fstatus">Status</mfDefaultSorter>
                              </th>
                              <th>Edit/view</th>
                            </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let indpaymentvoucherList of mf.data">
                            <td><input type="checkbox" [(ngModel)]="indpaymentvoucherList.voucherChecked" >{{indpaymentvoucherList.f136fbatchId}}</td>
                              <td>{{indpaymentvoucherList.f136freferenceNumber}}</td>
                              <td>{{indpaymentvoucherList.paymentName}}</td>
                              <td>{{indpaymentvoucherList.voucherName}}</td>
                              <td>{{indpaymentvoucherList.f042fbankName}}</td>
                            <td class="amountAlign">{{indpaymentvoucherList.f136famount | number: '.2' }}</td>
                            <td>{{indpaymentvoucherList.f136fstatus}}</td>
                            <td class="actions-col">
                              <div class="nh-btn-group">
                                <a routerLink="/accountspayable/editnewetfbatch/{{indpaymentvoucherList.f138fid}}/1">
                                  <button class="btn nh-btn-edit">
                                    <i class="fa fa-eye" *ngIf="indpaymentvoucherList.f136fstatus  == 'Approved'"></i>
                                    <i class="fa fa-edit" *ngIf="indpaymentvoucherList.f136fstatus  == 'Pending'"></i>
                                    <i class="fa fa-eye" *ngIf="indpaymentvoucherList.f136fstatus  == 'Rejected'"></i>
                                  </button>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/accountspayable/etfbatch']" *ngIf="viewid!=2" class="btn nh-btn-secondary">Cancel</a>
                <a [routerLink]="['/accountspayable/paymentvoucherapproval']" class="btn nh-btn-secondary" *ngIf="viewid==2">Cancel</a>
                <button type="submit" (click)='savePaymentvoucher()'  class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>