<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Disposal Account Code</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addDisposalaccountcode()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f033fcode" placeholder="Enter Code"
                                        [(ngModel)]="disposalaccountcodeData.f033fcode" value="" required #Code="ngModel">
                                    <span *ngIf="Code.errors && (Code.dirty || Code.touched || f.submitted )" class="form-errors">*Enter
                                        the Code
                                        .</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code<span class="required-class">*</span></label>
                                    <ng-select [items]="accountcodeList| sort:'f059fcompleteCode'" bindLabel="f059fname"
                                        bindValue="f059fcompleteCode" [(ngModel)]="disposalaccountcodeData.f033faccountCode"
                                        name="f033faccountCode" #acccode="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="acccode.errors && (acccode.dirty || acccode.touched || f.submitted )"
                                        class="form-errors">*Select
                                        Account Code
                                        .</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Disposal Type Reason<span class="required-class">*</span></label>
                                    <ng-select [items]="disposalList|sort:'f086fdisposalType'" bindLabel="f086fdisposalType" bindValue="f086fid"
                                        [(ngModel)]="disposalaccountcodeData.f033ftype" name="f033ftype" #type="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted )" class="form-errors">*Select Disposal
                                        Type Reason
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="disposalaccountcodeData.f033fstatus"
                                        [checked]="disposalaccountcodeData.f033fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="disposalaccountcodeData.f033fstatus"
                                        [checked]="disposalaccountcodeData.f033fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/disposalaccountcode']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>