<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Setup Insurance Policy</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewtagstudentinsurance']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="tagstudentList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="Student">Student Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f050fdueDate">Due Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f050fpolicyNo">Policy Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="insurance">Insurance</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="TaggingStatus">Student Status</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f050fstatus">Status</mfDefaultSorter>
                                </th>


                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indtagstudentinsurance of mf.data ">
                                <td>{{indtagstudentinsurance.Student}}</td>
                                <td>{{indtagstudentinsurance.f050fdueDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{indtagstudentinsurance.f050fpolicyNo}}</td>
                                <td>{{indtagstudentinsurance.insurance}}</td>
                                <td>{{indtagstudentinsurance.TaggingStatus }}</td>

                                <td>{{indtagstudentinsurance.f050fstatus ==1?'Active':'Inactive'}}</td>

                                <!-- <td>{{indtagstudentinsurance.f050fStatus == 1?'Active':'Inactive'}}</td> -->
                            
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/edittagstudentinsurance/{{indtagstudentinsurance.f050fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>


                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>