<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Procurement Sub Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addItemsubcategory()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Procurement Category<span class="required-class">*</span></label>
                                    <ng-select [items]="itemcategoryList |sort:'f027fcategoryName' " bindLabel="f027fcategoryName"
                                        bindValue="f027fid" [(ngModel)]="itemsubcategoryData.f028fidCategory" name="f028fidCategory"
                                        #category="ngModel" required class="formm-control">
                                    </ng-select>
                                    <span *ngIf="category.errors && (category.dirty || category.touched || f.submitted)"
                                        class="form-errors">*Select Procurement Category</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Procurement Sub Category <span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f028fsubCategoryName"
                                        placeholder="Enter Procurement Sub Category " [(ngModel)]="itemsubcategoryData.f028fsubCategoryName"
                                        value="" required #subcateg="ngModel">
                                    <span *ngIf="subcateg.errors && (subcateg.dirty || subcateg.touched || f.submitted )"
                                        class="form-errors">*Enter the Procurement Sub Category
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Procurement Sub Category Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f028fcode" placeholder="Enter Procurement Sub Category Code"
                                        [(ngModel)]="itemsubcategoryData.f028fcode" value="" required #code="ngModel">
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*
                                        Enter the Procurement Sub Category Code</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="itemsubcategoryData.f028fstatus"
                                        [checked]="itemsubcategoryData.f028fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="itemsubcategoryData.f028fstatus"
                                        [checked]="itemsubcategoryData.f028fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/procurement/itemsubcategory']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>