<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Print Salary Sheet</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && printsalarysheet()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department<span class="required-class">*</span> </label>
                                    <ng-select [items]="DeptList | sort:'f015fdepartmentName'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="printsalarysheetDate.f043fdepartment"
                                        name="f043fdepartment" #dept="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                                        Department</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Name<span class="required-class">*</span></label>
                                    <ng-select [items]="staffList  | sort:'f034fname'" bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="printsalarysheetDate.f043fidStaff" name="f043fidStaff" #staff="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" staff.errors && (staff.dirty || staff.touched || f.submitted)" class="form-errors">*Select
                                        Staff Name</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Date<span class="required-class">*</span></label>
                                    <input type="date" class="form-control" [(ngModel)]="printsalarysheetDate.f102feffectiveDate"
                                        style="text-align: right" name="f102feffectiveDate" required #effdate="ngModel">
                                    <span *ngIf="effdate.errors && (effdate.dirty || effdate.touched || f.submitted )"
                                        class="form-errors">*Select
                                        Effective Date.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="checkbox" name="f081fsachin" checked="checked" [(ngModel)]="printsalarysheetDate.f081fsachin">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="f081fswetha" checked="checked" [(ngModel)]="printsalarysheetDate.f081fswetha">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="f081fkiran" checked="checked" [(ngModel)]="printsalarysheetDate.f081fkiran">
                                </div>

                                <div class="form-group">
                                    <input type="checkbox" name="f081faurn" checked="checked" [(ngModel)]="printsalarysheetDate.f081faurn">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="f081frajashekar" checked="checked" [(ngModel)]="printsalarysheetDate.f081frajashekar">

                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="f081fseetharam" checked="checked" [(ngModel)]="printsalarysheetDate.f081fseetharam">

                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="f081fvinay" checked="checked" [(ngModel)]="printsalarysheetDate.f081fvinay">

                                </div>
                            </div>
                        </div>
                        <!-- <form class="Scroller-Container" name="multipleCheckbox" novalidate="">
                                <div class="col-sm-3">
                            <div ng-repeat="fruit in fruits">
                                <input type="checkbox" ng-model="printsalarysheetDate.selectedFruits[fruit.name]" ng-change="checkboxChanged()"
                                    ng-required="!someSelected" /> {{fruit.name}}
                                    <input type="checkbox" name="f081fvinay" checked="checked" [(ngModel)]="printsalarysheetDate.f081fvinay">

                                    <input type="checkbox" name="f081frajashekar" checked="checked" [(ngModel)]="printsalarysheetDate.f081frajashekar">
                                    <input type="checkbox" name="f081fsachin" checked="checked" [(ngModel)]="printsalarysheetDate.f081fsachin">
                            </div>
                            <p style="color: red;" ng-show="multipleCheckbox.$error.required"></p>
                            </div>
                        </form>
 -->

                        <!-- <ng-select
          [items]="printsalarysheetList"
          [multiple]="true"
          bindLabel="name"
          groupBy="gender"
          [selectableGroup]="true"
          [selectableGroupAsModel]="false"
          [closeOnSelect]="false"
          bindValue="id"
          formControlName="userGroups" placeholder="Select a user group">
            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [(ngModel)]="" formControlName="userGroupParent"/> {{item.gender | uppercase}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [(ngModel)]="" formControlName="userGroupChild"/> {{item.name}}
            </ng-template>
        </ng-select> -->

                        <!-- <ng-select [items]="checkboxList" [multiple]="true" bindLabel="f034fname" bindValue="f034fstaffId"
                            groupBy="gender" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false"
                            bindValue="id" formControlName="userGroups">
                            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [(ngModel)]="printsalarysheetDate.f081fvinay"
                                    formControlName="userGroupParent" /> {{item.gender | uppercase}}
                            </ng-template>
                        </ng-select> -->

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <!-- <a [routerLink]="['/payroll/printsalarysheet']" class="btn nh-btn-secondary">Close</a> -->

                                    <button type="submit" class="btn um-btn-primary mar-l-20">Print</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>