<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Revenue Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCurrencyratesetup()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <div class="col-sm-4"> -->
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Revenue Type Code<span class="required-class">*</span></label>
                                            <input type="text" maxlength="30" class="form-control" name="f132ftypeCode"
                                                placeholder="Enter Revenue Type Code" [(ngModel)]="revenuetypeData.f132ftypeCode"
                                                value="" required #code="ngModel" (blur)="checkDuplication()">
                                            <span *ngIf=" code.errors && (code.dirty || code.touched || f.submitted)"
                                                class="form-errors">*Enter
                                                the Revenue Type Code</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Revenue Name<span class="required-class">*</span></label>
                                            <input type="text" maxlength="25" class="form-control" name="f132frevenueName"
                                                placeholder="Enter Revenue Name" [(ngModel)]="revenuetypeData.f132frevenueName"
                                                value="" required #name="ngModel" (blur)="checkDuplication1()">
                                            <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)"
                                                class="form-errors">*Enter
                                                the Revenue Name</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Revenue Category<span class="required-class">*</span></label>
                                            <ng-select [items]="categoryList|sort:'revenueName'" bindLabel="revenueName"
                                                bindValue="f073fid" [(ngModel)]="revenuetypeData.f132fidCategory" name="f132fidCategory"
                                                #category="ngModel" required>
                                            </ng-select>
                                            <span *ngIf=" category.errors && (category.dirty || category.touched || f.submitted)"
                                                class="form-errors">*Select Revenue Category</span>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div [className]="'active'"></div>
                                            <label>Status</label>
                                            <br>
                                            <input type="radio" name="Status" [(ngModel)]="revenuetypeData.f132fstatus"
                                                [checked]="revenuetypeData.f132fstatus === '1'" [value]="1"> Active
                                            <br>
                                            <input type="radio" name="Status" [(ngModel)]="revenuetypeData.f132fstatus"
                                                [checked]="revenuetypeData.f132fstatus === '0'" [value]="0"> Inactive
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-right">
                                        <a routerLink="/accountsrecivable/revenuetype" class="btn nh-btn-secondary">Cancel</a>
                                        <button type="submit" class="btn nh-btn-primary">Save</button>
                                    </p>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>