<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="viewId!==2">Debit Note Entry</h1>
          <h1 class="ad-page-title" *ngIf="viewId==2">Debit Note Approval</h1>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Customer Type</label>
            <ng-select [disabled]="editDisabled" [items]="invoicetypeList | sort:'name'" bindLabel="name" bindValue="type"
              [(ngModel)]="debitnoteData.f031ftype" name="f031ftype" (change)="getType()">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="type == 'DOR'">
          <div class="form-group">
            <label>Debtor Name </label>
            <ng-select [disabled]="editDisabled" [items]="customerList | sort:'Debtor'" bindLabel="Debtor" (change)="getInvoiceList()"
              bindValue="f021fid" [(ngModel)]="debitnoteData.f031fidCustomer" name="f031fidCustomer">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="type == 'DSTD'">
          <div class="form-group">
            <label>Student </label>
            <ng-select [disabled]="editDisabled" [items]="studentList | sort:'f060fname'" bindLabel="f060fname"
              (change)="getInvoiceList()" bindValue="f060fid" [(ngModel)]="debitnoteData.f031fidCustomer" name="f031fidCustomer">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="type == 'DSTA'">
          <div class="form-group">
            <label>Staff </label>
            <ng-select [disabled]="editDisabled" [items]="smartStaffList | sort:'f034fname'" bindLabel="f034fname"
              (change)="getInvoiceList()" bindValue="f034fstaffId" [(ngModel)]="debitnoteData.f031fidCustomer" name="f031fidCustomer">
            </ng-select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Invoice Number</label>
            <ng-select [disabled]="viewDisabled" [items]="maininvoiceList" bindLabel="f071finvoiceNumber" (change)="getInvoiceDetails()"
              bindValue="f071fid" [(ngModel)]="debitnoteData.f031fidInvoice" name="f031fidInvoice">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Total Amount (RM) </label>
            <input type="text" class="form-control" name="Amount" placeholder="Amount " style="text-align: right"
              [(ngModel)]="debitnoteData.f031ftotalAmount" value="" readonly="readonly">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Debit Note Date</label>
            <input [disabled]="viewDisabled" type="date" class="form-control" name="f031fdate" [(ngModel)]="debitnoteData.f031fdate"
              value="" required>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
              <label>Revenue Type</label>
              <ng-select [disabled]="viewDisabled" [items]="revenuetypeList | sort:'f132frevenueName'" bindLabel="f132frevenueName"
                bindValue="f132fid" [(ngModel)]="debitnoteData.f031frevenueType" name="f031frevenueType">
              </ng-select>
            </div>
          </div>
      </div>
        <div class="row">
            <div class="col-sm-4" *ngIf="id!=0">
                <div class="form-group">
                  <label>Debit Note Number</label>
                  <input type="text" class="form-control" name="f031freferenceNumber" placeholder="Reference Number"
                    [(ngModel)]="debitnoteData.f031freferenceNumber" value="" readonly="readonly">
                </div>
              </div>
          <div class="col-sm-8">
            <div class="form-group">
              <label>Description</label>
              <textarea [disabled]="viewDisabled" class="form-control" maxlength="255" name="f031fdescription"
                placeholder="Enter Description" [(ngModel)]="debitnoteData.f031fdescription"></textarea>
            </div>
          </div>
        </div>
      <div id="overlay1"></div>
      <div id="myModal" class=" fade in" role="dialog">
        <div class="modal-content">
          <p class="maximize-icon">
            <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
          </p>
          <p class="minimize-icon hidden">
            <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
          </p>
          <div class="modal-body">
            <div class="table-responsive credit-note-table-wrapper">
              <table class="table table-bordered table-striped credit-note-table" id="target1">
                <thead>
                  <tr>
                    <th rowspan='2' class="item-col">Revenue Item</th>
                    <th colspan="4" style="text-align:center;">Debit GL Code</th>
                    <th colspan="4" style="text-align:center;">Credit GL Code</th>

                    <th rowspan='2' class="quantity-col">Quantity</th>
                    <th rowspan='2' class="price-col">Price (RM)</th>
                    <th rowspan='2' class="taxcode-col">Tax Code</th>
                    <th rowspan='2' class="tax-amount-col">Tax Amount (RM)</th>
                    <th rowspan='2' class="total-col">Total (RM)</th>
                    <th rowspan='2' class="total-col">Balance Amount(RM)</th>
                    <th rowspan='2' class="to-credit-col">Debit Note Amount (RM)</th>
                  </tr>
                  <tr>
                    <th>Fund</th>
                    <th>Activity Code</th>
                    <th>Department</th>
                    <th>Account Code</th>
                    <th>Fund</th>
                    <th>Activity Code</th>
                    <th>Department</th>
                    <th>Account Code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indinv of maininvoiceListBasedOnInvoiceId;let i = index;trackBy:indexTracker">
                    <td>
                      <ng-select [items]="revenueitemList" style="width: 150px;" bindLabel="originalname"
                        bindValue="f085fid" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fidItem" name="f072fidItem">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="fundList" style="width: 150px;" bindLabel="f057fname"
                        bindValue="f057fcode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitFundCode" name="f072fdebitFundCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="activitycodeList" style="width: 150px;" bindLabel="f058fname"
                        bindValue="f058fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitActivityCode"
                        name="f072fdebitActivityCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="DeptList" style="width: 150px;" bindLabel="f015fdepartmentName"
                        bindValue="f015fdepartmentCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitDepartmentCode"
                        name="f072fdebitDepartmentCode">
                      </ng-select>
                    </td>

                    <td>
                      <ng-select disabled="disabled" [items]="accountcodeList" style="width: 150px;" bindLabel="f059fname"
                        bindValue="f059fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitAccountCode"
                        name="f072fdebitAccountCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="fundList" style="width: 150px;" bindLabel="f057fname"
                        bindValue="f057fcode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditFundCode" name="f072fcreditAccountCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="activitycodeList" style="width: 150px;" bindLabel="f058fname"
                        bindValue="f058fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditActivityCode"
                        name="f072fcreditActivityCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="DeptList" style="width: 150px;" bindLabel="f015fdepartmentName"
                        bindValue="f015fdepartmentCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditDepartmentCode"
                        name="f072fcreditDepartmentCode">
                      </ng-select>
                    </td>

                    <td>
                      <ng-select disabled="disabled" [items]="accountcodeList" style="width: 150px;" bindLabel="f059fname"
                        bindValue="f059fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditAccountCode"
                        name="f072fcreditAccountCode">
                      </ng-select>
                    </td>

                    <td>
                      <input type="number" disabled="disabled" class="form-control" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fquantity"
                        name="f072fquantity" value="" (blur)="onBlurMethod()">
                    </td>
                    <td>
                      <input type="number" disabled="disabled" class="form-control" style="text-align: right"
                        [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fprice" name="f072fprice">
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="taxcodeList | sort:'taxInformation'" style="width: 150px;"
                        bindLabel="taxInformation" bindValue="f081fid" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fgstCode"
                        name="f072fgstCode">
                      </ng-select>
                    </td>
                    <td>
                      <input disabled="disabled" type="number" class="form-control" style="text-align: right; width: 95px"
                        [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fgstValue" name="f072fgstValue">
                    </td>
                    <td>

                      <input type="text" disabled="disabled" class="form-control" style="text-align: right; width: 95px"
                        [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072ftotal" name="f072ftotal" placeholder="Total">
                    </td>
                    <td>
                        <input type="text" readonly="readonly" class="form-control" style="width: 50px;" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f032fbalanceAmount"
                          name="f032fbalanceAmount" style="text-align: right; width: 95px" placeholder="Balance Amount"> </td>
                    <td>
                      <input type="text" [disabled]="viewDisabled" class="form-control" 
                        style="text-align: right; width: 95px" placeholder="To Debit Amount(RM)" (keypress)="onlyNumberKey($event)"
                        style="text-align: right" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f032ftoDnAmount" name="f032ftoDnAmount">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="viewId==2">
        <div class="col-sm-12">
          <label>Remarks </label>
          <textarea class="form-control" [(ngModel)]="debitnoteApprovalData.reason" name="reason" placeholder="Enter Remarks "></textarea>
        </div>
      </div>
      <div class="row" *ngIf="viewId==2">
        <div class="col-sm-12">
          <p class="text-right">
            <button type="submit" (click)='ApprovalListData()' class="btn nh-btn-primary">Approve</button>
            <button type="reject" (click)='regectdebitorApprovalListData()' class="btn nh-btn-primary">Reject</button>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-right">
            <a routerLink="/accountsrecivable/debitnote" class="btn nh-btn-secondary" *ngIf="viewId!=2">Cancel</a>
            <a routerLink="/accountsrecivable/debitnoteapproval" class="btn nh-btn-secondary" *ngIf="viewId==2">Cancel</a>
            <button type="submit" (click)='saveData()' *ngIf="viewDisabled==false" class="btn um-btn-primary mar-l-20">Save</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>