<!DOCTYPE html>
<html>
<body>
    <br><br>
<form action="/action_page.php">
  Date:
  <input type="date" name="bday">
</form>

<br><br>
<form action="/action_page.php">
    Time:
     <input type="time" name="usr_time">
</form>

<!DOCTYPE html>
<html>
<body>
<h2>Radio Buttons</h2>
<form>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
   
</form> 
<br>
<h2>Radio Buttons</h2>
<form action="select ">
        <input type="checkbox" name="vehicle" value="Bike">select<br>
        <input type="checkbox" name="vehicle" value="Car">select2<br>
</form>
</body>
</html>
</body>
 </html>


<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
<p>Date: <input type="text" id="datepicker"></p> 
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        $('#effective_date').datepicker({ dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true });
        $('#effective_date').attr('readonly','true');
    });
</script>




<form #form="ngForm" (ngSubmit)="submitForm(form.value)">
  <div class="form-group">



      <label>First Name:</label>
      <!-- Since we are working with template driven forms, we can use the ngModel directive to capture the values of our forms. One thing to note if you are coming from Angular 1.x. Using ngModel as shown below creates a one-way data binding, so once we hit submit the data is only sent to the controller. If we wanted to use two-way data binding, we would have to wrap the ngModel in [()] and assign an attribute to it. Also the name of the field corresponds to the name attribute so our first input will be firstName. -->
      <input minlength="5" maxlength="30" [(ngModel)]="firstName" type="text" 
      class="form-control" name="firstName" required #first="ngModel">
  </div>


  <div *ngIf="first.errors && (first.dirty || first.touched)">
          <div [hidden]="!first.errors.required">
              Book title is required!
          </div>
          <div [hidden]="!first.errors.minlength">
              Title must be at least 5 characters long.
          </div>
          <div [hidden]="!first.errors.maxlength">
              Title cannot be more than 30 characters long.
          </div>
      </div>
  <div>
      <button type="submit" [disabled]="!ngForm.valid">Submit</button>
  </div>  
</form>

<div class="form-group">
    <label for ="email">Email</label>
      <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"name="email" ngModel #emailref="ngModel">
      <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="aler alert-danger">
       <div [hidden]="!emailref.errors?.pattern">
         Invalid pattern
       </div> 
      </div> 
</div>