<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">{{this.title}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <!-- <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button> -->
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- <table class="table table-bordered table-striped table-food"> -->
                    <table class="table table-bordered table-striped table-food" [mfData]="etfDetails | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                  <mfDefaultSorter by="f093fvoucherNo">Payment Voucher Number</mfDefaultSorter>
                                </th>
                                <th>
                                  <mfDefaultSorter by="f136freferenceNumber">Payment Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                  <mfDefaultSorter by="paymentType">Payment Voucher Type </mfDefaultSorter>
                                </th>
                
                                <th>
                                  <mfDefaultSorter by="f093fdescription">Description</mfDefaultSorter>
                                </th>
                
                                <th>
                                  <mfDefaultSorter by="PaymentMode">Payment Mode</mfDefaultSorter>
                                </th>
                                <th>
                                  <mfDefaultSorter by="totalAmount">Amount(RM) </mfDefaultSorter>
                                </th>
                                <th>
                                  <mfDefaultSorter by="f136fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit/view</th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indpaymentvoucherList of mf.data">
                              <td><input type="checkbox" [(ngModel)]="indpaymentvoucherList.voucherChecked" >{{indpaymentvoucherList.f136fbatchId}}</td>
                                <td>{{indpaymentvoucherList.f136freferenceNumber}}</td>
                                <td>{{indpaymentvoucherList.paymentName}}</td>
                                <td>{{indpaymentvoucherList.voucherName}}</td>
                                <td>{{indpaymentvoucherList.f042fbankName}}</td>
                              <td class="amountAlign">{{indpaymentvoucherList.f136famount | number: '.2' }}</td>
                              <td>{{indpaymentvoucherList.f136fstatus}}</td>
                              <td class="actions-col">
                                <div class="nh-btn-group">
                                  <a routerLink="/accountspayable/editnewetf/{{indpaymentvoucherList.f136fid}}/1">
                                    <button class="btn nh-btn-edit">
                                      <i class="fa fa-eye" *ngIf="indpaymentvoucherList.f136fstatus  == 'Approved'"></i>
                                      <i class="fa fa-edit" *ngIf="indpaymentvoucherList.f136fstatus  == 'Pending'"></i>
                                      <i class="fa fa-eye" *ngIf="indpaymentvoucherList.f136fstatus  == 'Rejected'"></i>
                                    </button>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="paymentvoucherapprovalData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="button" (click)='approveEtf()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectpaymentApprovalListData()' class="btn nh-btn-primary">Reject</button>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>