<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target1">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="viewid!=2">Discount Note Entry</h1>
          <h1 class="ad-page-title" *ngIf="viewid==2">Discount Note Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Customer Type</label>
                  <ng-select [disabled]="viewDisabled" [items]="invoicetype | sort:'name'" bindLabel="name" bindValue="type"
                    [(ngModel)]="discountHeaderData.f024ftype" name="f024ftype" (change)="getType()">
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="type == 'DCOR'">
                <div class="form-group">
                  <label>Customer </label>
                  <ng-select [disabled]="viewDisabled" [items]="customerList | sort:'Debtor'" bindLabel="Debtor"
                    bindValue="f021fid" [(ngModel)]="discountHeaderData.f024fidCustomer" name="f024fidCustomer"
                    (change)="getInvoiceList()">
                  </ng-select>
                </div>
              </div>

              <!-- <div class="col-sm-4" *ngIf="type == 'DCSP'">
                <div class="form-group">
                  <label>Sponser </label>
                  <ng-select [disabled]="viewDisabled" [items]="sponserList | sort:'Name'" bindLabel="Name" bindValue="f063fid"
                    [(ngModel)]="discountHeaderData.f024fidCustomer" name="f024fidCustomer" (change)="getInvoiceList()">
                  </ng-select>
                </div>
              </div> -->
              <div class="col-sm-4" *ngIf="type == 'DCSTD'">
                <div class="form-group">
                  <label>Student </label>

                  <ng-select [disabled]="viewDisabled" [items]="studentList | sort:'f060fname'" bindLabel="f060fname"
                    bindValue="f060fid" (change)="getInvoiceList()" [(ngModel)]="discountHeaderData.f024fidCustomer"
                    name="f024fidCustomer">
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="type == 'DCSTA'">
                <div class="form-group">
                  <label>Staff </label>
                  <ng-select [disabled]="viewDisabled" [items]="smartStaffList | sort:'f034fname'" bindLabel="f034fname"
                    bindValue="f034fstaffId" [(ngModel)]="discountHeaderData.f024fidCustomer" name="f024fidCustomer"
                    (change)="getInvoiceList()">
                  </ng-select>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Invoice Number</label>
                  <ng-select [disabled]="viewDisabled" [items]="maininvoiceList | sort:'f071finvoiceNumber'" bindLabel="f071finvoiceNumber"
                    bindValue="f071fid" [(ngModel)]="discountHeaderData.f024fidInvoice" name="f024fidInvoice" (change)="getInvoiceDetails()">
                  </ng-select>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Discount Note Date</label>
                  <input [disabled]="viewDisabled" type="date" disabled="disabled" class="form-control" name="invoiceDate"
                    [(ngModel)]="discountHeaderData.invoiceDate" value="" required>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="id!=0">
                <div class="form-group">
                  <label>Discount Number</label>
                  <input type="text" class="form-control" name="f024freferenceNumber" placeholder="Discount Number"
                    [(ngModel)]="discountHeaderData.f024freferenceNumber" value="" readonly="readonly">

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Total Amount </label>
                  <input type="text" class="form-control" name="Amount" placeholder="Amount " style="text-align: right"
                    [(ngModel)]="discountHeaderData.f024ftotalAmount" value="" readonly="readonly">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Voucher Date</label>
                  <input [disabled]="viewDisabled" type="date" class="form-control" name="f024fdate" [(ngModel)]="discountHeaderData.f024fdate"
                    value="" required>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Description</label>
                  <textarea [disabled]="viewDisabled" class="form-control" maxlength="255" name="f024fdescription"
                    placeholder="Description" [(ngModel)]="discountHeaderData.f024fdescription"></textarea>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Discount type</label>
                  <ng-select [disabled]="viewDisabled" [items]="discountListData" bindLabel="f046fdiscountType"
                    bindValue="f046fid" [(ngModel)]="discountHeaderData.f024fdiscountType" name="f024fdiscountType">
                  </ng-select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="overlay1"></div>

      <div id="myModal" class=" fade in" role="dialog">
        <div class="modal-content">
          <p class="maximize-icon">
            <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
          </p>
          <p class="minimize-icon hidden">
            <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
          </p>
          <div class="modal-body">
            <div class="table-responsive credit-note-table-wrapper">
              <table class="table table-bordered table-striped credit-note-table" id="target">
                <thead>
                  <tr>
                    <th rowspan='2' class="item-col">Revenue Item</th>
                    <th colspan="4" style="text-align:center;">Debit GL Code</th>
                    <th colspan="4" style="text-align:center;">Credit GL Code</th>
                    <th rowspan='2' class="quantity-col">Quantity</th>
                    <th rowspan='2' class="price-col">Price (RM)</th>
                    <th rowspan='2' class="taxcode-col">Tax Code</th>
                    <th rowspan='2' class="tax-amount-col">Tax Amount (RM)</th>
                    <th rowspan='2' class="total-col">Total (RM)</th>
                    <th rowspan='2' class="to-credit-col">Balance Amount(RM)</th>
                    <!-- <th rowspan='2' class="to-credit-col">Discount in Percentage</th> -->
                    <!-- <th rowspan='2' class="to-credit-col">Or</th> -->
                    <th rowspan='2' class="to-credit-col">Discount Amount(RM)</th>
                  </tr>
                  <tr>
                    <th>Fund</th>
                    <th>Activity Code</th>
                    <th>Department</th>
                    <th>Account Code</th>
                    <th>Fund</th>
                    <th>Activity Code</th>
                    <th>Department</th>
                    <th>Account Code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indinv of maininvoiceListBasedOnInvoiceId;let i = index;trackBy:indexTracker">
                    <td>
                      <ng-select disabled="disabled" [items]="itemList | sort:'originalname'" style="width: 150px;"
                        bindLabel="originalname" bindValue="f085fid" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fidItem"
                        name="f072fidItem">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="fundList" style="width: 150px;" bindLabel="f057fname"
                        bindValue="f057fcode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitFundCode" name="f072fdebitFundCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="activitycodeList" style="width: 150px;" bindLabel="f058fname"
                        bindValue="f058fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitActivityCode"
                        name="f072fdebitActivityCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="DeptList" style="width: 150px;" bindLabel="f015fdepartmentName"
                        bindValue="f015fdepartmentCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitDepartmentCode"
                        name="f072fdebitDepartmentCode">
                      </ng-select>
                    </td>

                    <td>
                      <ng-select disabled="disabled" [items]="accountcodeList" style="width: 150px;" bindLabel="f059fname"
                        bindValue="f059fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitAccountCode"
                        name="f072fdebitAccountCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="fundList" style="width: 150px;" bindLabel="f057fname"
                        bindValue="f057fcode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditFundCode" name="f072fcreditAccountCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="activitycodeList" style="width: 150px;" bindLabel="f058fname"
                        bindValue="f058fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditActivityCode"
                        name="f072fcreditActivityCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="DeptList" style="width: 150px;" bindLabel="f015fdepartmentName"
                        bindValue="f015fdepartmentCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditDepartmentCode"
                        name="f072fcreditDepartmentCode">
                      </ng-select>
                    </td>

                    <td>
                      <ng-select disabled="disabled" [items]="accountcodeList" style="width: 150px;" bindLabel="f059fname"
                        bindValue="f059fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditAccountCode"
                        name="f072fcreditAccountCode">
                      </ng-select>
                    </td>
                    <td>
                      <input type="text" readonly="readonly" class="form-control" style="width: 95px" readonly="readonly"
                        [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fquantity" name="f072fquantity" value="">
                    </td>
                    <td>
                      <input type="text" readonly="readonly" class="form-control" style="text-align: right; width: 95px"
                        readonly="readonly" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fprice" name="f072fprice">
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="taxcodeList | sort:'taxInformation'" style="text-align: right; width: 95px"
                        bindLabel="taxInformation" bindValue="f081fid" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fgstCode"
                        name="f072fgstCode">
                      </ng-select>
                    </td>
                    <td>
                      <input type="text" readonly="readonly" class="form-control" style="text-align: right; width: 95px"
                        [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fgstValue" name="f072fgstValue" (blur)="onBlurMethod()">
                    </td>
                    <td>

                      <input type="text" readonly="readonly" class="form-control" style="text-align: right; width: 95px"
                        [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072ftotal" name="f072ftotal" placeholder="Total" (change)="getBalanceAmount()">
                    </td>
                    <!-- <td>
                      <ng-select [disabled]="viewDisabled" [items]="discountListData | sort:'f046fdescription'" style="width: 150px;"
                        bindLabel="f046fdescription" bindValue="f046fid" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f025fdiscountType"
                        name="f025fdiscountType">
                      </ng-select>
                    </td> -->
                    <!-- <td>
                      <input [disabled]="viewDisabled" type="text" class="form-control" style="width:95px;" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f025fdiscountPercentage"
                        name="f025fdiscountPercentage" (keypress)="onlyNumberKey($event)" placeholder="Enter Discount in Percentage"
                        (keyup)="disableFieldsOfAP()" [readonly]="showDrReadonly">
                    </td> -->
                    <td>
                      <input type="text" readonly="readonly" class="form-control" style="width: 50px;" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f025fbalanceAmount"
                        name="f025fbalanceAmount" style="text-align: right; width: 95px" placeholder="Balance Amount">
                    </td>
                    <td>
                      <input [disabled]="viewDisabled" type="text" class="form-control" style="text-align: right; width: 95px"
                        [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f025fdiscountAmount" name="f025fdiscountAmount"
                        (keypress)="onlyNumberKey($event)" placeholder="Enter Discount Amount(RM)" (keyup)="disableFieldsOfAP()"
                        [readonly]="showCrReadonly">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="viewid==2">
        <div class="col-sm-12">
          <label>Remarks </label>
          <textarea class="form-control" [(ngModel)]="invoiceapprovalData.reason" name="reason" placeholder="Enter Remarks"></textarea>
        </div>
      </div>
      <div class="text-right" *ngIf="viewid==2">
        <button type="submit" (click)='ApprovalListData()' class="btn nh-btn-primary">Approve</button>
        <button type="reject" (click)='regectApprovalListData()' class="btn nh-btn-primary">Reject</button>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-right">
            <a [routerLink]="['/accountsrecivable/discount']" class="btn nh-btn-secondary" *ngIf="viewid!=2">Cancel</a>
            <a routerLink="/accountsrecivable/discountapproval" class="btn nh-btn-secondary" *ngIf="viewid==2">Cancel</a>
            <button type="submit" (click)='saveData()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>