<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">PTPTN</h1>
                    <!-- <h1 class="ad-page-title">Sponsor Data Import</h1> -->

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addPtptn()" #f="ngForm" name="form" novalidate>

                        <div class="row">
                            <!-- <div class="col-sm-12"> -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Reference Number<span class="required-class">*</span></label>
                                    <input type="text" maxlength="25" class="form-control" name="Name" placeholder="Enter Reference Number "
                                        [(ngModel)]="ptptnData.f053fsemester" value="" required #name="ngModel">
                                    <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                                        Reference Number
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>File<span class="required-class">*</span></label>
                                    <input type="file" maxlength="10" class="form-control" name="f053fcode" placeholder=" Upload the File "
                                        [(ngModel)]="ptptnData.f053fcode" (change)="fileSelected($event)" >
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Date<span class="required-class">*</span></label>
                                    <input type="Date" class="form-control" name="sdate" [(ngModel)]="ptptnData.f053fstartDate"
                                        value="" required #sdate="ngModel">
                                    <span *ngIf=" sdate.errors && (sdate.dirty || sdate.touched || f.submitted)" class="form-errors">*Select
                                        Date</span>
                                </div>
                            </div>

                            <!-- </div> -->
                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Semester<span class="required-class">*</span></label>
                                        <!-- <option *ngFor="let indsem of semesterList" [value]="indsem.f011fid">{{ -->
                                    <ng-select [items]="semesterList | sort: 'semesterSequence'"  bindLabel="semesterSequence"
                                    bindValue="f053fid" [(ngModel)]="ptptnData.f053fsemSequence" name="f053fsemSequence" #sem="ngModel"
                                    required>
                                  </ng-select>
                                    <!-- <select class="form-control" [(ngModel)]="ptptnData.f053fsemSequence" name="f053fsemSequence"
                                        required #sem="ngModel">
                                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                        <option *ngFor="let indsem of semesterList" [value]="indsem.f011fid">{{
                                            indsem.f011fdefinitionCode
                                            }}
                                        </option>
                                    </select> -->
                                    <span *ngIf=" sem.errors && (sem.dirty || sem.touched || f.submitted)" class="form-errors">*Select
                                        Semester.</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <button type="submit" class="btn nh-btn-primary">Import Data</button>

                                    <!-- <button type="submit" class="btn nh-btn-primary">Process Status</button> -->

                                    <!-- <button type="submit" class="btn nh-btn-primary">Generate Text File</button> -->
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>