<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Loan Cancellation Request</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addLoancancellation()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Loan Cancellation Description<span class="required-class">*</span></label>
                  <input type="text" maxlength="65" class="form-control" name="f070fname" placeholder="Enter Name"
                    [(ngModel)]="loancancleData.f070fname" value="" required #name="ngModel">
                  <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Enter
                    the Name
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Cancel Reason<span class="required-class">*</span></label>
                  <input type="text" maxlength="65" class="form-control" name="f070fcancelReason" placeholder="Enter Cancle Reason"
                    [(ngModel)]="loancancleData.f070fcancelReason" value="" required #cancleres="ngModel">
                  <span *ngIf="cancleres.errors && (cancleres.dirty || cancleres.touched || f.submitted )" class="form-errors">*Enter
                    the Cancle Reason
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Staff<span class="required-class">*</span></label>
                  <ng-select [items]="loanstaffList" bindLabel="f034fname" bindValue="f034fstaffId" [(ngModel)]="loancancleData.f070fidStaff"
                    name="f070fidStaff" #loanstaff="ngModel" required>
                  </ng-select>
                  <ng-select [items]="smartStaffList" bindLabel="f034fname" bindValue="f034fstaffId" [(ngModel)]="blacklistempData.f043fempName"
                    name="f043fempName" #staff="ngModel" required>
                  </ng-select>
                  <span *ngIf="loanstaff.errors && (loanstaff.dirty || loanstaff.touched || f.submitted )" class="form-errors">*Select
                    Staff</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <div [className]="'active'"></div>
                  <label>Status</label>
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="loancancleData.f070fstatus" [checked]="loancancleData.f070fstatus === '1'"
                    [value]="1"> Active
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="loancancleData.f070fstatus" [checked]="loancancleData.f070fstatus === '0'"
                    [value]="0"> Inactive
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/loan/loancancellation']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>