<div class="ps-right-section">

    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Loan Grade</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addSetupgrade()" #f="ngForm" name="form" novalidate>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Loan Type<span class="required-class">*</span></label>
                                <ng-select [items]="loanList | sort: 'f020floanName'" bindLabel="f020floanName"
                                    bindValue="f020fid" [(ngModel)]="setupgradeData.f046floanType" name="f046floanType"
                                    #group="ngModel" required (change)="hideshowvc()" [disabled]="edit">
                                </ng-select>
                                <span *ngIf="group.errors && (group.dirty || group.touched || f.submitted)" class="form-errors">*Select
                                    Loan Type.</span>
                            </div>
                        </div>
                        <div class="col-sm-4" *ngIf="vehicleConditionDiv">
                            <div class="form-group">
                                <label>Vehicle Condition<span class="required-class">*</span></label>
                                <ng-select [items]="fvehicle | sort: 'name'" bindLabel="name" bindValue="id"
                                    [(ngModel)]="setupgradeData.f046fvehicleCondition" name="f046fvehicleCondition">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Grade<span class="required-class">*</span></label>
                                <ng-select [items]="groupList | sort: 'groupId'" bindLabel="groupId" bindValue="groupId"
                                    [(ngModel)]="setupgradeData.f046fgradeName" name="f046fgradeName" #group1="ngModel"
                                    required>
                                </ng-select>
                                <span *ngIf="group1.errors && (group1.dirty || group1.touched || f.submitted)" class="form-errors">*Select
                                    Grade</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Grade Description<span class="required-class">*</span></label>
                                <input type="text" maxlength="50" class="form-control" name="f046fgradeDescription"
                                    placeholder="Enter Grade Description" [(ngModel)]="setupgradeData.f046fgradeDescription"
                                    value="" required #group1="ngModel">
                                <span *ngIf="group1.errors && (group1.dirty || group1.touched || f.submitted)" class="form-errors">*Enter
                                    the Grade Description</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Loan Minimum Limit(RM)<span class="required-class">*</span></label>
                                <input type="text" maxlength="12" class="form-control" name="f046fgradeFrom"
                                    placeholder="Enter Loan Minimum Limit" [(ngModel)]="setupgradeData.f046fgradeFrom"
                                    value="" required #From="ngModel" (keypress)="onlyNumberKey($event)" style="text-align: right"
                                    (blur)="checkLoanLimit()">
                                <span *ngIf="From.errors && (From.dirty || From.touched || f.submitted )" class="form-errors">*Enter
                                    the Loan Minimum Limit</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Loan Maximum Limit(RM)<span class="required-class">*</span></label>
                                <input type="text" maxlength="12" class="form-control" name="f046fgradeTo" placeholder="Enter Loan Maximum Limit"
                                    [(ngModel)]="setupgradeData.f046fgradeTo" value="" required #max="ngModel"
                                    (keypress)="onlyNumberKey($event)" style="text-align: right">
                                <span *ngIf="max.errors && (max.dirty || max.touched || f.submitted )" class="form-errors">*Enter
                                    the Loan Maximum Limit</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Minimum Loan Period(Month)<span class="required-class">*</span></label>
                                <input type="text" maxlength="12" class="form-control" name="f046fgradeMonthFrom"
                                    placeholder="Enter Minimum Loan Period(Month)" (keypress)="onlyNumberKey($event)"
                                    [(ngModel)]="setupgradeData.f046fgradeMonthFrom" value="" required #minperiod="ngModel"
                                    (blur)="checkMonthLimit()">
                                <span *ngIf="minperiod.errors && (minperiod.dirty || minperiod.touched || f.submitted )"
                                    class="form-errors">*Enter
                                    the Minimum Loan Period(Month)</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Maximum Loan Period(Month)<span class="required-class">*</span></label>
                                <input type="text" maxlength="12" class="form-control" name="f046fgradeMonthTo"
                                    placeholder="Enter Maximum Loan Period(Month)" (keypress)="onlyNumberKey($event)"
                                    [(ngModel)]="setupgradeData.f046fgradeMonthTo" value="" required #maxperiod="ngModel">
                                <span *ngIf="maxperiod.errors && (maxperiod.dirty || maxperiod.touched || f.submitted )"
                                    class="form-errors">*Enter
                                    the Maximum Loan Period(Month)</span>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-right">
                        <a [routerLink]="['/loan/setupgrade']" class="btn nh-btn-secondary">Cancel</a>
                        <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>