<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Movement Approval 1</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="momentapprovalList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>

                                <th>
                                    <mfDefaultSorter by="f087fidType">Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f087fidReceiver">Receiver</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fdepartmentName">Department</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f087freason">Reason</mfDefaultSorter>
                                </th>
                                <th>Approve/Reject</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indmomentapproval of mf.data">

                                <td>{{indmomentapproval.f087fidType == '1'?'Transfer':'Loan'}}</td>
                                <td>{{indmomentapproval.f087fidReceiver}}-{{indmomentapproval.customerName}}</td>
                                <td>{{indmomentapproval.f087idDepartment}}-{{indmomentapproval.f015fdepartmentName}}</td>
                                <td>{{indmomentapproval.f087freason}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indmomentapproval.approvalStatus">
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description<span class="required-class">*</span></label>
                            <textarea class="form-control" [(ngModel)]="rejectData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='momentapprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectmomentapprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>