<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Role</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/generalsetup/addnewrole']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="roleList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f021froleName">Role Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f021fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indrole of mf.data ">
                                <td>
                                    <a routerLink="/generalsetup/addnewrolemenu/{{indrole.f021fid}}">
                                        {{indrole.f021froleName}}
                                    </a>
                                </td>
                                <!-- <td>{{indrole.f021froleName}}</td> -->
                                <td>{{indrole.f021fstatus === true?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/generalsetup/editrole/{{indrole.f021fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i></button></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>