<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Pre Asset Registration</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <form (ngSubmit)="f.form.valid && addAssetinformation()" #f="ngForm" name="form" novalidate>
                <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Category Name</th>
                    <!-- <th>Quantity</th> -->
                    <th>Sub Category</th>
                    <th>Item</th>
                    <!-- <th>Iditem</th> -->
                    
                    <th><input type='checkbox' [(ngModel)]="assetNameCheckbox" (change)="assignName()" name="asset"/>Asset Description</th>
                    <th>Serial Number</th>
                    <th><input type='checkbox' [(ngModel)]="assetorderNumber" (change)="orderNumber()" name="assetOrderNumber"/>Order Number</th>
                    <th><input type='checkbox' [(ngModel)]="assetacqusitionDate" (change)="acqusitionDate()" name="assetOrderNumber"/>Acquisition Date</th>
                    <th><input type='checkbox' [(ngModel)]="assetexpiryDate" (change)="expiryDate()" name="assetOrderNumber"/>Expire Date</th>
                    <th><input type='checkbox' [(ngModel)]="assetdepreciation" (change)="depreciation()" name="assetOrderNumber"/>Depreciation</th>
                    <th><input type='checkbox' [(ngModel)]="assetmonthlyDepreciation" (change)="monthlyDepreciation()" name="assetOrderNumber"/>Monthly Depreication Cost</th>
                    <th><input type='checkbox' [(ngModel)]="assetinstallationCost" (change)="installationCost()" name="assetOrderNumber"/>Installation Cost</th>
                    <th><input type='checkbox' [(ngModel)]="assetnetValue" (change)="netValue()" name="assetOrderNumber"/>Net Value</th>
                    <th><input type='checkbox' [(ngModel)]="assetbrandName" (change)="brandName()" name="assetOrderNumber"/>Brand Name</th>
                    <th><input type='checkbox' [(ngModel)]="assetassetOwner" (change)="assetOwner()" name="assetOrderNumber"/>Asset Owner</th>
                    <th><input type='checkbox' [(ngModel)]="assetcampus" (change)="campus()" name="assetOrderNumber"/>Campus</th>
                    <th><input type='checkbox' [(ngModel)]="assetblock" (change)="block()" name="assetOrderNumber"/>Block</th>
                    <th><input type='checkbox' [(ngModel)]="assetbuilding" (change)="building()" name="assetOrderNumber"/>Building</th>
                    <th><input type='checkbox' [(ngModel)]="assetroom" (change)="room()" name="assetOrderNumber"/>Room</th>

                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let indreg of preregistrationList;let i = index;trackBy:indexTracker">
                    <td>
                      <input type="text" class="form-control" style="width:150px;" placeholder="Reference Sequence Number"
                        [(ngModel)]="preregistrationList[i].categoryName" name="categoryName" value="">
                    </td>
                   
                    <td>
                        <input type="text" class="form-control" style="width:150px;" disabled="disabled" placeholder="Reference Sequence Number"
                        [(ngModel)]="preregistrationList[i].subCategoryName" name="subCategoryName" value="">
                  </td>
                 
                  <td>
                      <input type="text" class="form-control" style="width:150px;" disabled="disabled" placeholder="Reference Sequence Number"
                        [(ngModel)]="preregistrationList[i].itemName" name="itemName" value="">
                  </td>
                  <td>
                      <input type="text" class="form-control"  style="width:150px;"  placeholder="Asset Description"
                        [(ngModel)]="preregistrationList[i].f133fassetDescription" name="f133fassetDescription" value="">
                  </td>
                  <td>
                      <input type="text" class="form-control" style="width:150px;"  placeholder="Order Number"
                        [(ngModel)]="preregistrationList[i].f133fserialNumber" name="f133fserialNumber" value="">
                  </td>
                  <td>
                    <input type="text" class="form-control" style="width:150px;"  placeholder="Order Number"
                      [(ngModel)]="preregistrationList[i].f133forderNumber" name="f133forderNumber" value="">
                </td>
                  <td>
                    <input type="date" class="form-control" style="width:150px;"  placeholder="Order Number"
                      [(ngModel)]="preregistrationList[i].f133fAcquisitionDate" name="f133fAcquisitionDate" value="">
                </td>
                <td>
                  <input type="date" class="form-control" style="width:150px;"  placeholder="Order Number"
                    [(ngModel)]="preregistrationList[i].f133fexpireDate" name="f133fexpireDate" value="">
              </td>
              <td>
                <ng-select [items]="depreciationList | sort:'f089fsubDescription'" bindLabel="depreciationCode"
                bindValue="f015fid" [(ngModel)]="preregistrationList[i].f133fdepreicationCode" name="f133fdepreicationCode"
                #subcategory="ngModel" required (change)="getDepreciatedValue(i)">
            </ng-select>
              </td>
                    <td>
                      <input type="text" class="form-control" style="width:150px;"  placeholder="Order Number"
                        [(ngModel)]="preregistrationList[i].f133fyearDeprCost" name="f133fyearDeprCost" value="">
                  </td>
                
                <td>
                  <input type="text" class="form-control" style="width:150px;"  placeholder="Order Number"
                    [(ngModel)]="preregistrationList[i].f133finstallCost" name="f133finstallCost" value="">
              </td>
              <td>
                <input type="text" class="form-control" style="width:150px;"  placeholder="Order Number"
                  [(ngModel)]="preregistrationList[i].f133fnetValue" name="f133fnetValue" value="">
            </td>
            <td>
              <input type="text" class="form-control" style="width:150px;"  placeholder="Order Number"
                [(ngModel)]="preregistrationList[i].f133fbrandName" name="f133fbrandName" value="">
          </td>
          <td>
            <ng-select [items]="smartStaffList | sort:'f034fname'"  style="width:150px;"  bindLabel="f034fname"
            bindValue="f034fstaffId" [(ngModel)]="preregistrationList[i].f133fassetOwner" name="f133fassetOwner"
            #subcategory="ngModel" >
        </ng-select>
          </td>
          <td>
                    <ng-select [items]="campusList | sort:'f034fname'"  style="width:150px;"  bindLabel="f059fname"
                    bindValue="f059fid" [(ngModel)]="preregistrationList[i].f133fcurrentCampus" name="f133fcurrentCampus"
                    #subcategory="ngModel" >
                    </ng-select>
          </td>

          <td>
            <ng-select [items]="blockList | sort:'f034fname'"  style="width:150px;"  bindLabel="f059fname"
            bindValue="f059fid" [(ngModel)]="preregistrationList[i].f133fcurrentBlock" name="f133fcurrentBlock"
            #subcategory="ngModel" >
            </ng-select>
  </td>

  <td>
    <ng-select [items]="buildingList | sort:'f034fname'"  style="width:150px;"  bindLabel="f059fid"
    bindValue="f059fid" [(ngModel)]="preregistrationList[i].f133fcurrentBuilding" name="f133fcurrentBuilding"
    #subcategory="ngModel" >
    </ng-select>
</td>

<td>
  <ng-select [items]="roomList | sort:'f034fname'"  style="width:150px;"  bindLabel="f059fname"
  bindValue="f059fid" [(ngModel)]="preregistrationList[i].f133fcurrentRoom" name="f133fcurrentRoom"
  #subcategory="ngModel" >
  </ng-select>
</td>
                  
  
                  </tr>
  
                </tbody>
              </table>
            
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
                    <a routerLink="/assets/assetinformation" class="btn nh-btn-secondary">Cancel</a>
                    <!-- <button type="submit" (click)='saveAssetinformation()' class="btn nh-btn-primary">Save</button> -->
                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
