<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Expenditure Report</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addbalancesheetreport()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Budget Year<span class="required-class">*</span></label>
                                    <ng-select [disabled]="viewDisabled" [items]="finantialyearList | sort:'f110fyear'"
                                        bindLabel="f110fyear" bindValue="f110fid" [(ngModel)]="expenditureData.financialYear"
                                        name="financialYear" #financialYear="ngModel" required>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department <span class="required-class"></span> </label>
                                    <ng-select [items]="budgetcostcenterList | sort:'departmentCode'" bindLabel="originalName"
                                        bindValue="f051fdepartment" [(ngModel)]="expenditureData.departmentCode" name="departmentCode"
                                        #dept="ngModel" required>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-right">
                        <button type="button" (click)="downloadReport()" class="btn nh-btn-primary">Download</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>