<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Generate Bill</h1>
        </div>
      </div>

      <form (ngSubmit)="f.form.valid && addDebitinformation()" #f="ngForm" name="form" novalidate>

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Graduation Type<span class="required-class">*</span> </label>
                  <ng-select [items]="graduationType | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                    bindValue="f011fdefinitionCode" [(ngModel)]="generatebillData.graduationType" name="graduationType"
                    #level="ngModel" (change)="getViewData()" required>
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Student </label>
                  <ng-select [items]="studentList |sort: 'f060fname'" maxlength="50" bindLabel="f060fname"
                    bindValue="f060fid" [(ngModel)]="generatebillData.student" name="program" #program="ngModel"
                    required>
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Program </label>
                  <ng-select [items]="programmeList |sort: 'program_name'" maxlength="50" bindLabel="program_name"
                    bindValue="f006kdprogram" [(ngModel)]="generatebillData.program" name="program" #program="ngModel"
                    required>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Citizen<span class="required-class">*</span></label>
                  <ng-select [disabled]="editDisabled" [items]="citizenList | sort:'name'" bindLabel="name"
                    bindValue="value" [(ngModel)]="generatebillData.citizen" name="citizen" #citizen="ngModel"
                    required>
                  </ng-select>
                </div>
              </div>
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <label>Region<span class="required-class">*</span></label>

                  <ng-select [items]="regionList |sort: 'f016keterangan'" maxlength="50" bindLabel="f016keterangan"
                    bindValue="f016kdwarga" [(ngModel)]="generatebillData.region" name="region" #region="ngModel"
                    required>
                  </ng-select>
                </div>
              </div> -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Intake<span class="required-class">*</span> </label>

                  <ng-select [items]="intakeList |sort: 'intake_name'" maxlength="50" bindLabel="intake_name" bindValue="term"
                    [(ngModel)]="generatebillData.intake" name="intake" #intake="ngModel" required>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">

                  <button type="button" (click)="showStudent()" class="btn nh-btn-primary">Search</button>

                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped " [mfData]="generatebillList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <!-- <th>
                      <mfDefaultSorter by="f066fname">Student</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="f066fname">Intake</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="f066fname">Program</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="f066fname">Semester</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="f066fname">Email</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="f066fname">Region</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="f066fname">Category</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="f066fname">Study Mode</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="f066fname">Citizen</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="f066fname">Invoice</mfDefaultSorter>
                  </th> -->
                <th></th>
                <!-- <th>Invoice Number</th> -->
                <th>Student</th>
                <th>Intake</th>
                <th>Program</th>
                <th>Semester</th>
                <th>Matric Number</th>
                <!-- <th>Category</th> -->
                <!-- <th>Study Mode</th> -->
                <th>Citizen</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indgeneratebill of mf.data">
                <td>
                  <input type="checkbox" [(ngModel)]="indgeneratebill.checked">
                </td>
                <!-- <td></td> -->
                <td>{{indgeneratebill.f060fname}}</td>
                <td>{{indgeneratebill.f060fidIntake}}</td>
                <td>{{indgeneratebill.f060fprogramCode}}</td>
                <td>{{indgeneratebill.f060fidSemester}}</td>
                <td>{{indgeneratebill.f060fid}}</td>
                <!-- <td>{{indgeneratebill.studentCategory}}</td> -->
                <!-- <td>{{indgeneratebill.studyMode}}</td> -->
                <td>{{indgeneratebill.f060fcitizen == 'M' ? 'Local':'International'}}</td>
              </tr>
            </tbody>

            <td colspan="9">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <button (click)='generatebills()' class="btn nh-btn-primary">Generate Bill</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>