<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Disposal</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addAssetdisposal()" #f="ngForm" name="form" novalidate>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Disposal Name<span class="required-class">*</span></label>
                                <input type="text" maxlength="25" class="form-control" name="f086fdisposalName"
                                    placeholder="Enter Type Of disposal " [(ngModel)]="assetdisposalDataheader.f086fdisposalName"
                                    value="">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Description<span class="required-class">*</span> </label>
                                <textarea maxlength="100" class="form-control" name="f086fdescription" placeholder="Enter Description"
                                    [(ngModel)]="assetdisposalDataheader.f086fdescription" value=""></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <table class="table table-bordered table-striped table-food">
                            <thead>
                                <tr>
                                    <th>Assets</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let inddebitinfo of assetdisposalList;let i = index;trackBy:indexTracker">
                                    <td>
                                        <select class="form-control" [(ngModel)]="assetdisposalList[i].f086fidAsset"
                                            name="f086fidAsset" value="">
                                            <option [ngValue]="undefined" hidden selected> --Select-- </option>
                                            <option *ngFor="let indasset of assetssList" [value]="indasset.f087fid">{{indasset.f087fcategoryName}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea type="text" class="form-control" [(ngModel)]="assetdisposalList[i].f086fdescription"
                                            name="f086fdescription" value=""></textarea>
                                    </td>
                                    <td>
                                        <input type="button" name="delete" (click)='deleteassetdisposal(assetdisposalList[i])'
                                            value='Delete' class="btn nh-btn-primary" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select class="form-control" [(ngModel)]="assetdisposalData.f086fidAsset" name="f086fidAsset"
                                            value="">
                                            <option [ngValue]="undefined" hidden selected> --Select-- </option>
                                            <option *ngFor="let indasset of assetssList" [value]="indasset.f087fid">{{indasset.f087fcategoryName}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea type="text" class="form-control" [(ngModel)]="assetdisposalData.f086fdescription"
                                            name="f086fdescription" value=""></textarea>
                                    </td>
                                    <td>
                                        <input type="button" name="add" (click)='addassetdisposallist()' value='ADD'
                                            class="btn nh-btn-primary" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <a routerLink="/assets/assetdisposal" class="btn nh-btn-secondary">Cancel</a>
                                <button type="submit" (click)='saveAssetdisposal()' class="btn nh-btn-primary">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>