<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Add Bank Payment</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addPayment()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label> Type<span class="required-class">*</span></label>
                  <ng-select [items]="typeList|sort:'name'" bindLabel="name" bindValue="name" [(ngModel)]="paymentData.f078ftype"
                    name="f078ftype" (change)="setbank()" #type="ngModel" required>
                  </ng-select>
                  <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted)" class="form-errors">*
                    Select Type</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> Bank<span class="required-class">*</span></label>
                  <!-- <select class="form-control" name="f078fidBank" [(ngModel)]="paymentData.f078fidBank" value=""
                    required #bank="ngModel">
                    <option value=''>--Select--</option>
                    <option [value]="30">Malayan Banking Berhad</option>
                    <option [value]="25">CIMB Bank Berhad</option>
                    <option [value]="6">Bank Islam Malaysia</option>
                  </select> -->
                  <ng-select [items]="bankList1" bindLabel="name" bindValue="name" [(ngModel)]="paymentData.f078fidBank"
                    name="f078fidBank" required #bank="ngModel">
                  </ng-select>
                  <span *ngIf="bank.errors && (bank.dirty || bank.touched || f.submitted)" class="form-errors">*
                    Select Bank</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> Date</label>
                  <input type="date" class="form-control" name="date" placeholder="Enter  Date" [(ngModel)]="paymentData.f078fdate"
                    value="" required #date="ngModel">
                  <span *ngIf="date.errors && (date.dirty || date.touched || f.submitted)" class="form-errors">*
                    Enter Date</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label> File<span class="required-class">*</span></label>
                  <input type="file" class="form-control" name="file1" [(ngModel)]="paymentData.file1"  (change)="fileSelected($event)">
                  <!-- <span *ngIf="file.errors && (file.dirty || file.touched || f.submitted)" class="form-errors">*
                  Select File</span> -->
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/accountsrecivable/onlinebankpayment" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>