<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Utility Rate Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addUtilityratesetup()" #f="ngForm" name="form" novalidate>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Effective Date<span class="required-class">*</span></label>
                                    <input type="date" class="form-control" name="f078feffectiveDate"
                                        placeholder="Enter Minimum Unit"
                                        [(ngModel)]="utilityrateData.f078feffectiveDate" value="" (change)="getBills()">
                                    <span *ngIf="minunit.errors && (minunit.dirty || minunit.touched || f.submitted)"
                                        class="form-errors">
                                        Enter the Effective Date </span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Minimum Unit<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" readonly="readonly"
                                        name="minunit" placeholder="Enter Minimum Unit"
                                        [(ngModel)]="utilityrateData.f078fminUnit" value=""
                                        (keypress)="onlyNumberKey($event)" required #minunit="ngModel">
                                    <span *ngIf="minunit.errors && (minunit.dirty || minunit.touched || f.submitted)"
                                        class="form-errors">
                                        Enter the Minimum Unit </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Maximum Unit<span class="required-class">*</span></label>
                                        <input type="text" maxlength="20" class="form-control" name="maxunit"
                                            placeholder="Enter Maximum Unit" [(ngModel)]="utilityrateData.f078fmaxUnit"
                                            value="" (keypress)="onlyNumberKey($event)" required #maxunit="ngModel">
                                        <span *ngIf="maxunit.errors && (maxunit.dirty || maxunit.touched || f.submitted)"
                                            class="form-errors">
                                            Enter the Maximum Unit </span>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Rate per Unit(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" style="text-align: right"
                                        [(ngModel)]="utilityrateData.f078famount" name="f078famount" required
                                        #amount="ngModel" (keypress)="onlyNumberKey($event)"
                                        placeholder="Enter Rate Per Unit" />
                                    <span *ngIf="amount.errors && (amount.dirty || amount.touched || f.submitted )"
                                        class="form-errors">*Enter the Rate per unit
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-4">
                            <div class="form-group">
                                <label>Rate per unit(RM)<span class="required-class">*</span></label>
                                <input type="number" maxlength="50" class="form-control amountAlign" name="amount" placeholder="Enter Amount"
                                    [(ngModel)]="utilityrateData.f078famount" value="" required #amount="ngModel">
                                <span *ngIf="amount.errors && (amount.dirty || amount.touched || f.submitted)" class="form-errors">*
                                    Enter the Rate per unit </span>


                            </div>
                        </div> -->

                        <!-- <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="utilityrateData.f078fstatus" [checked]="utilityrateData.f078fstatus == '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="utilityrateData.f078fstatus" [checked]="utilityrateData.f078fstatus == '0'"
                                    [value]="0"> Inactive
                                <br>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/accountsrecivable/utilityratesetup"
                                        class="btn nh-btn-secondary">Cancel</a>

                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>