<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Revenue Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addRevenuesetup()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4" *ngIf="id==0">
                                <div class="form-group">
                                    <label>Prefix Code<span class="required-class">*</span></label>
                                    <input disabled="disabled" type="text" maxlength="10" class="form-control"
                                        name="f085fidPreficCode" placeholder="Prefix Code"
                                        [(ngModel)]="revenuesetupdata.f085fidPreficCode" value="" required
                                        #code="ngModel">
                                    <!-- <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*
                                                Prefix Code</span> -->
                                </div>
                            </div>
                            <div class="col-sm-4" *ngIf="id > 0">
                                <div class="form-group">
                                    <label>Revenue Item<span class="required-class">*</span></label>
                                    <input type="text" [disabled]="editDisabled" maxlength="10" class="form-control"
                                        name="f085fcode" placeholder="Revenue Item"
                                        [(ngModel)]="revenuesetupdata.f085fcode" value="" required #code="ngModel">
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)"
                                        class="form-errors">*
                                        Revenue Item</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Revenue Category<span class="required-class">*</span></label>
                                    <ng-select [items]="categoriesList | sort:'f073fcategoryName'"
                                        bindLabel="f073fcategoryName" bindValue="f073fid"
                                        [(ngModel)]="revenuesetupdata.f085fidRevenueCategory"
                                        name="f085fidRevenueCategory" (change)="getPrefixCode()"
                                        #revenuecategory="ngModel" (change)="getPrefixCode()" required>
                                    </ng-select>
                                    <span
                                        *ngIf="revenuecategory.errors && (revenuecategory.dirty || revenuecategory.touched || f.submitted)"
                                        class="form-errors">*Select Revenue Category</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Description<span class="required-class">*</span></label>
                                    <textarea type="text" maxlength="100" class="form-control" name="f085fname"
                                        placeholder="Enter Description" [(ngModel)]="revenuesetupdata.f085fname"
                                        value="" required #name="ngModel" (blur)="checkDuplication()"></textarea>
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter the Description</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fund <span class="required-class">*</span> </label>
                                    <ng-select [items]="fundList | sort:'f057fcode'" bindLabel="f057fname"
                                        bindValue="f057fcode" [(ngModel)]="revenuesetupdata.f085ffund" name="f085ffund"
                                        #Fund="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Fund.errors && (Fund.dirty || Fund.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Fund</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Activity Code<span class="required-class">*</span> </label>
                                    <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'"
                                        bindLabel="f058fname" bindValue="f058fcompleteCode"
                                        [(ngModel)]="revenuesetupdata.f085factivity" name="f085factivity"
                                        #Activity="ngModel" required>
                                    </ng-select>
                                    <span
                                        *ngIf=" Activity.errors && (Activity.dirty || Activity.touched || f.submitted)"
                                        class="form-errors">*Select Activity Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label>Department<span class="required-class">*</span> </label>
                                    <ng-select [items]="DeptList | sort:'f015fdepartmentCode'"
                                        bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                        [(ngModel)]="revenuesetupdata.f085fdepartment" name="f085fdepartment"
                                        #Department="ngModel" required>
                                    </ng-select>
                                    <span
                                        *ngIf=" Department.errors && (Department.dirty || Department.touched || f.submitted)"
                                        class="form-errors">*Select Department</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code<span class="required-class">*</span> </label>
                                    <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'"
                                        bindLabel="f059fname" bindValue="f059fcompleteCode"
                                        [(ngModel)]="revenuesetupdata.f085faccountId" name="f085faccountId"
                                        #Account="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Account.errors && (Account.dirty || Account.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Account Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Tax Code <span class="required-class">*</span> </label>
                                    <ng-select [items]="taxcodeList | sort:'taxInformation'" bindLabel="taxInformation"
                                        bindValue="f081fid" [(ngModel)]="revenuesetupdata.f085fidTaxCode"
                                        name="f085fidTaxCode" #invoice="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" invoice.errors && (invoice.dirty || invoice.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Tax code </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="revenuesetupdata.f085fstatus"
                                        [checked]="revenuesetupdata.f085fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="revenuesetupdata.f085fstatus"
                                        [checked]="revenuesetupdata.f085fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/accountsrecivable/revenuesetup"
                                        class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>