<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">GRN DONATION</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/assets/addnewmanualgrn']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="manualgrnList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f121freferenceNumber">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f121forderType">Order Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f121fapproveDate">Approval Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f121fdonor">Donor</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f121fvalue">Value(RM)</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indmanualgrn of mf.data ">

                                <td>{{indmanualgrn.f121freferenceNumber}}</td>
                                <td>{{indmanualgrn.f121forderType}}</td>
                                <td>{{indmanualgrn.f121fapproveDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indmanualgrn.f121fdonor}}</td>
                                <td class="amountAlign">{{indmanualgrn.f121fvalue | number: '.2'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/assets/editmanualgrn/{{indmanualgrn.f121fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>