<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Petty Cash Float Reimbursement</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="pattycashapprovalList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>

                            <tr>
                                <th>
                                    <mfDefaultSorter by="Status">Reimbursement</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="DepartmentName">Cost Center</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f123frequestedDate">Requested Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f123fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f123famount">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f011fdefinitionCode">Transaction Type</mfDefaultSorter>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indpattycashapproval of mf.data">
                                <td>
                                    <input type="checkbox" [(ngModel)]="indpattycashapproval.Status">
                                </td>
                                <td>{{indpattycashapproval.DepartmentName}}</td>
                                <td>{{indpattycashapproval.f123frequestedDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indpattycashapproval.f123fdescription}}</td>
                                <td class="amountAlign">{{indpattycashapproval.f123famount | number: '.2' }}</td>
                                <td>{{indpattycashapproval.f011fdefinitionCode}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='pattycashapprovalListData()' class="btn nh-btn-primary">Reimbursement</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>