<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Statement Staff Loan</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="loanlistingList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>

                            <tr>
                                <th>
                                    <mfDefaultSorter by="f043fcompanyName">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fmanufacturer">Loan Type</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f043fmodel">Applicant Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fapplyDate">Date Applied</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043ffinalStatus">Status</mfDefaultSorter>
                                </th>
                                <th>Download</th>
                                <th>View</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indloanlisting of mf.data">

                                <td>{{indloanlisting.f043freferenceNumber}}</td>
                                <td>{{indloanlisting.f020floanName}}</td>
                                <td>{{indloanlisting.employeeName}}-{{indloanlisting.f043fempName}}</td>
                                <td>{{indloanlisting.f043fapplyDate | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <div>{{indloanlisting.currentStatus}}</div>
                                </td>
                                <td>
                                    <div *ngIf="indloanlisting.f043ffinalStatus==1"><button (click)="downloadPDF(indloanlisting.f043fid,indloanlisting.f020ftypeOfLoan)">
                                            Download pdf</button></div>
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/viewvehicleloan/{{indloanlisting.f043fid}}/10">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>