<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationnzero']">Campus
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationnone']">
                                    Building
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationntwo']"> Level
                                    Building
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationnthree']">
                                    Room
                                </a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title">Campus</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <thead>
                        <tr>
                            <th>Code<span class="required-class"></span></th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let indlevelone of locationzeroList; let i = index;last as isLast">

                            <td>
                                <input type="text" maxlength="2" minlength="2" class="form-control" (blur)="onBlurMethod(locationzeroList[i])"
                                    name="f059fcode" placeholder="Enter Code" [(ngModel)]="locationzeroList[i].f059fcode"
                                    required #code="ngModel">
                                    <span *ngIf="code.errors?.minlength" class="form-errors">*Code must be at least 2 characters long.</span>                               
                            </td>
                            <td>
                                <textarea type="text" class="form-control" maxlength="100" (blur)="onBlurMethod(locationzeroList[i])"
                                    name="f059fname" placeholder="Enter Description" [(ngModel)]="locationzeroList[i].f059fname"
                                    value=""></textarea>
                            </td>

                            <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" type="button" (click)='deletelevelone(locationzeroList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletelevelone(locationzeroList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr *ngIf="showLastRow==false">
                            <td>
                                <input type="text" maxlength="2" minlength="2" class="form-control" name="code"
                                    placeholder="Enter Code" [(ngModel)]="locationzeroData.f059fcode" required #code="ngModel">
                                <span *ngIf="code.errors?.minlength" class="form-errors">Code must be at least 2 characters long.</span>
                            </td>
                            <td>
                                <textarea type="text" class="form-control" maxlength="100" name="description"
                                    placeholder="Enter Description" [(ngModel)]="locationzeroData.f059fname" value=""></textarea>
                            </td>
                            <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addLocationnzero()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <button type="submit" (click)='saveLocationnzero()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>