<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Receipt</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
              <div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewreceipt']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Invoice Number</th>
                  <th>Customer Name</th>
                  <th>RCP Date</th>
                  <th>RCP Number</th>
                  <th>Payment Type</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indinvoiceapproval of invoiceList | filter : searchText ">
                  <td>{{indinvoiceapproval.f071finvoiceNumber}}</td>
                  <td>{{indinvoiceapproval.f071finvoiceType === 'KI'?'Payment Counter':'Government Agencies'}}</td>
                  <td>{{indinvoiceapproval.f071finvoiceDate}}</td>
                  <td>{{indinvoiceapproval.firstName}} {{ indinvoiceapproval.lastName}}</td>
                  <td>{{indinvoiceapproval.f071finvoiceTotal}}</td>
                  <!-- <td>{{indbudgetactivitiesapproval.f054fstatus === true?'Active':'Inactive'}}</td> -->
                  <td>{{indinvoiceapproval.f071fstatus == 1?'Approved':'Not Approved'}}</td>
                  <td class="actions-col">
                    <div class="nh-btn-group" *ngIf="this.id==0">
                      <a routerLink="/accountsrecivable/editrequestinvoice/{{indinvoiceapproval.f071fid}}/0">
                        <button class="btn nh-btn-edit">
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
                    </div>
  
                    <div class="nh-btn-group" *ngIf="this.id==1">
                      <a routerLink="/accountsrecivable/editinvoice/{{indinvoiceapproval.f071fid}}/1">
                        <button class="btn nh-btn-edit">
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  