<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">View Invoice</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Invoice Type</label>
                  <select class="form-control" [(ngModel)]="invoiceDataheader.f071finvoiceType" name="f071finvoiceType"
                    (change)="getInvoiceNumber()">
                    <option value='0'>--Select--</option>
                    <option value='KI'>Payment Counter</option>
                    <option value='CI'>Credit Card Payment</option>
                    <option value='PI'>Invoice from Government Agencies</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Invoice Number</label>
                  <input type="text" class="form-control" [(ngModel)]="invoiceDataheader.f071finvoiceNumber" name="f071finvoiceNumber"
                    placeholder="Invoice Number" readonly="readonly" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Date</label>
                  <input type="date" class="form-control" name="startDate" [(ngModel)]="invoiceDataheader.f071finvoiceDate"
                    value="" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Amount</label>
                  <input type="text" class="form-control" name="finalAmount" [(ngModel)]="invoiceDataheader.f071finvoiceTotal"
                    placeholder="Amount" readonly="readonly">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Customer </label>
                  <!-- <input type="text" class="form-control" name="customer" placeholder="Enter customer " [(ngModel)]="recurringsetupcustomerData.f077fcustomer" value="" required> -->
                  <select class="form-control" [(ngModel)]="invoiceDataheader.f071fidCustomer" name="f071fidCustomer">
                    <option *ngFor="let indcustomer of customerList" [value]="indcustomer.f021fid">{{
                      indcustomer.f021ffirstName
                      }} {{ indcustomer.f021flastName}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4" style="display:none;">
                <div class="form-group">
                  <label>Advance Payment</label>
                  <input type="text" class="form-control" [(ngModel)]="invoiceDataheader.f056famount" name="totalamount"
                    placeholder="Advance Payment">
                </div>
              </div>
            </div>
  
            <div class="row">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Debit GL-Code</th>
                    <th>Credit GL-Code</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Tax Code</th>
                    <th>Tax Amount</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indinv of invoiceList;let i = index;trackBy:indexTracker">
                    <td>
                      <select class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode" #invoice="ngModel">
                        <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                      </select> </td>
                    <td>
                      <select class="form-control" [(ngModel)]="invoiceList[i].f072fidDebitGlcode" name="f072fidCreditGlcode">
                        <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                          }}</option>
                      </select> </td>
                      <td>
                        <select class="form-control" [(ngModel)]="invoiceList[i].f072fidCreditGlcode" name="f072fidCreditGlcode">
                          <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                            }}</option>
                        </select> </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="invoiceList[i].f072fquantity" value=""
                        (blur)="onBlurMethod()">
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="invoiceList[i].f072fprice" name="listPrice"
                        (blur)="onBlurMethod()">
                    </td>
                    <td>
                      <select class="form-control" [(ngModel)]="invoiceList[i].f072fgstCode" name="f072fgstCode" #invoice="ngModel">
                        <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{ indtaxcode.f081fcode }}</option>
                      </select> </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="invoiceList[i].f072fgstValue" name="listGst"
                        (blur)="onBlurMethod()">
                    </td>
                    <td>
  
                      <input type="text" disabled="disabled" class="form-control" [(ngModel)]="invoiceList[i].f072ftotal"
                        name="listTotal" placeholder="Total"> </td>
  
                    <!-- <td>
                      <input type="button" name="add" (click)='deleteInvoice(invoiceList[i])' value='Delete' class="btn nh-btn-primary" />
                    </td> -->
                  </tr>
  
  
                  <tr>
                    <td>
                      <select class="form-control" [(ngModel)]="invoiceData.f072fidItem" name="fidItem" required
                        #department="ngModel">
                        <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control" [(ngModel)]="invoiceData.f072fidDebitGlcode" name="DebitGlcode">
                        <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                          }}</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control" [(ngModel)]="invoiceData.f072fidCreditGlcode" name="CreditGlcode">
                        <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                          }}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" maxlength="10" class="form-control" name="quantity" [(ngModel)]="invoiceData.f072fquantity"
                        placeholder="Quantity">
                    </td>
                    <td>
                      <input type="number" maxlength="10" class="form-control" name="price" [(ngModel)]="invoiceData.f072fprice"
                        placeholder="Price">
                    </td>
                    <td>
                      <select class="form-control" [(ngModel)]="invoiceData.f072fgstCode" name="f072fgstCode" required
                        #department="ngModel" (change)="getGstvalue(this.value)">
                        <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{ indtaxcode.f081fcode }}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" maxlength="15" class="form-control" name="f072fgstValue" [(ngModel)]="invoiceData.f072fgstValue"
                        placeholder="GST" value="">
                    </td>
                    <td>
                      <input type="text" disabled="disabled" maxlength="10" class="form-control" name="total" [(ngModel)]="invoiceData.f072ftotal"
                        placeholder="Total" value="{{ invoiceData.f072fgstValue / 100 * (invoiceData.f072fquantity * invoiceData.f072fprice) + (invoiceData.f072fquantity * invoiceData.f072fprice) }}">
                    </td>
                    <!-- <td>
                      <input type="button" name="add" (click)='addinvoicelist()' value='ADD' class="btn nh-btn-primary" />
                    </td> -->
                  </tr>
  
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Total</th>
  
                  </tr>
                </tbody>
              </table>
            </div>
  
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/accountsrecivable/maininvoiceapproval']" class="btn nh-btn-primary">Back</a>
                </p>
              </div>  
              
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>