<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Auto Matching Process</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addDebitinformation()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Bank<span class="required-class">*</span> </label>
                                    <ng-select [items]="bankList1 | sort:'Bank'" bindLabel="Bank" bindValue="f041fid"
                                        [(ngModel)]="ampcashbookData.bank" name="bank" #bank="ngModel" required>
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Start Date </label>
                                    <input type="date" class="form-control" name="fromDate" placeholder="Enter Start Date"
                                        (change)="dateComparison()" [(ngModel)]="ampcashbookData.fromDate" value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> To Date </label>
                                    <input type="date" class="form-control" name="endDate" placeholder="Enter Start Date"
                                        (change)="dateComparison()" [(ngModel)]="ampcashbookData.endDate" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>File Upload<span class="required-class">*</span> </label>
                                    <input type="file" class="form-control" name="file1" [(ngModel)]="ampcashbookData.file1"
                                        (change)="fileSelected($event)" accept=".csv" #uploaddoc="ngModel">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <button type="button" (click)="addAmpcashbook()" class="btn nh-btn-primary">Search</button>
                                </p>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-food" [mfData]="ampcashbookList | filter : searchText"
                                #mfone="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th colspan='7' style='text-align: center'>Cash Book Table</th>
                                    </tr>
                                    <tr>
                                       
                                        <th>
                                            <mfDefaultSorter by="f096ftype">Source</mfDefaultSorter>
                                        </th>

                                        <th>
                                            <mfDefaultSorter by="f096ftransaction_date">Transaction Date</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="f097fdebit_amount">Debit Amount(RM)</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="f097fcredit_amount">Credit Amount(RM)</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="cashapprovalstatus">Approve</mfDefaultSorter>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let indimported of mfone.data">
                                        <td>{{indimported.f096ftype}}</td>
                                        <td>{{indimported.f096ftransaction_date | date:'dd/MM/yyyy'}}</td>
                                        <td class="amountAlign">{{indimported.f097fdebit_amount | number: '.2'}}</td>
                                        <td class="amountAlign">{{indimported.f097fcredit_amount| number: '.2'}}</td>
                                        <td>
                                            <input type="checkbox" [(ngModel)]="indimported.cashapprovalstatus">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <button type="submit" (click)='CashApprovalData()' class="btn nh-btn-primary">Approve</button>
                            </div>
                            <table class="table table-bordered table-striped table-food" [mfData]="importedList | filter : searchText"
                                #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th colspan='7' style='text-align: center'>Imported File</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <mfDefaultSorter by="document_no">Doc Number</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="resource">Source</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="transaction_date">Transaction Date</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="debit_amount">Debit Amount(RM)</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="credit_amount">Credit Amount(RM)</mfDefaultSorter>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let indampcashbook of mf.data">
                                        <td>{{indampcashbook.document_no}}</td>
                                        <td>{{indampcashbook.resource}}</td>
                                        <td>{{indampcashbook.transaction_date | date:'dd/MM/yyyy'}}</td>
                                        <td class="amountAlign">{{indampcashbook.debit_amount | number: '.2'}}</td>
                                        <td class="amountAlign">{{indampcashbook.credit_amount| number: '.2'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>