<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Investment Summary</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <!-- <div class="add-btn">
                            <a [routerLink]="['/investment/investmentsummaryform']" class="btn nh-btn-primary">
                                Add</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="investmentsummaryList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f063fapplicationId">Batch Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f014fuserName">Created By</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fcreatedDtTm">Created Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063finvestmentAmount">Investment Amount (RM)</mfDefaultSorter>
                                </th>
                                <!-- <th><mfDefaultSorter by="f063fapproved1Status">Approval Bursury</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f063fapproved2Status">Approval Register</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f063fapproved3Status">Approval VC</mfDefaultSorter></th> -->
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indinvestmentsummary of mf.data">
                                <td>{{indinvestmentsummary.f063fapplicationId}}</td>
                                <td>{{indinvestmentsummary.f014fuserName}}</td>
                                <td>{{indinvestmentsummary.f063fcreatedDtTm | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indinvestmentsummary.f063fdescription}}</td>
                                <td class="amountAlign">{{indinvestmentsummary.f063finvestmentAmount | number:
                                    '.2'}}</td>
                                    <td class="actions-col">
                                        <div class="nh-btn-group">
                                            <a routerLink="/investment/investmentsummaryform/{{indinvestmentsummary.f063fid}}">
                                                <button class="btn nh-btn-edit">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                <!-- <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/investment/editinvestmentapplication/{{indinvestmentsummary.f063fid}}/0">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td> -->

                                <!-- <td>
                                        <div class="nh-btn-group" *ngIf="showDownload == true">
                                            <p class="text-right">
                                                <button type="submit" (click)='downloadReport()' class="btn nh-btn-primary">Download</button>
                                            </p>
                                        </div>
                                </td> -->
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>