<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Approve Cash Advance </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="cashadvanceapprovalList| filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f052fcashAdvance">Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="staffName">Staff Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="financialYear">Financial Year</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f052ftotal">Amount(RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f052fapprovalStatus">Approve/Reject</mfDefaultSorter>
                </th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indcashadvanceapproval of mf.data">
                <td>{{indcashadvanceapproval.f052fcashAdvance}}</td>
                <td>{{indcashadvanceapproval.f052fidStaff}} - {{indcashadvanceapproval.staffName}}</td>
                <td>{{indcashadvanceapproval.financialYear}}</td>
                <td class="amountAlign">{{indcashadvanceapproval.f052ftotal | number: '.2'}}</td>

                <td>
                  <input type="checkbox" [(ngModel)]="indcashadvanceapproval.f052fapprovalStatus">
                </td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/cashadvances/viewcashadvanceapp/{{indcashadvanceapproval.f052fid}}/2">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="10">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
          <div class="row">
            <div class="col-sm-12">
              <label>Description </label>
              <textarea class="form-control" [(ngModel)]="cashadvanceapprovalData.reason" name="reason" placeholder="Enter Description "></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <button type="submit" (click)='cashadvanceapprovalListData()' class="btn nh-btn-primary">Approve</button>
                <button type="submit" (click)='rejecttwoListData()' class="btn nh-btn-primary">Reject</button>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>