<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Asset Pre Registration</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/assets/addnewassetpreregistration']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="assetinformationList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <td>
                  <mfDefaultSorter by="f085fassetCode">Grn</mfDefaultSorter>
                </td>
                <td>
                  <mfDefaultSorter by="f085fassetDescription">Grn Number</mfDefaultSorter>
                </td>
                <td>
                  <mfDefaultSorter by="f085fidDepartment">Grn Date</mfDefaultSorter>
                </td>
                <td>
                  <mfDefaultSorter by="f085fidAssetCategory">Asset Item</mfDefaultSorter>
                </td>
                <td>
                  <mfDefaultSorter by="f085fAcquisitionDate">Order Quantity</mfDefaultSorter>
                </td>
                <td>
                  <mfDefaultSorter by="f085fAcquisitionDate">Quantity Received</mfDefaultSorter>
                </td>
                <th>Status</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indassetprereg of mf.data ">
                <td>{{indassetprereg.f092fidGrn}}</td>
                <td>{{indassetprereg.f092fgrnNumber}}</td>
                <td>{{indassetprereg.f092fgrnDate}}</td>
                <td>{{indassetprereg.f092fassetItem}}</td>
                <td>{{indassetprereg.f034fquantity}}</td>

                <td>{{indassetprereg.f034fquantity_received}}</td>
                <td>{{indassetprereg.f092fstatus == '1'?'Approved':'Not Approved'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/assets/editassetpreregistration/{{indassetprereg.f085fid}}">
                      <button class="btn nh-btn-edit">

                        <i class="fa fa-edit"></i>
                      </button>
                    </a>

                    <!-- <button class="btn nh-btn-remove">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button> -->
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>