<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Fee Item</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewfeeitem']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped " [mfData]="feeitemList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f066fname">Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066fcode"> Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066fidFeeCategory">Fee Category</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="GST">Tax Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066fsoCode">SO Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066finsuredItem">Insured Item</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066finvoiceItem">Invoice Item</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066frefundable">Refundable</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066fsoa">Student SOA</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>

                                <!-- 
                                <th>Name</th>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Fee Category</th>
                                <th>Tax Code</th>
                                <th>So Code</th>
                                <th>Insured Item</th>
                                <th>Invoice Item</th>
                                <th>Refundable</th>
                                <th>SOA</th>
                                <th>Status</th>
                                <th>Edit</th> -->
                            </tr>
                        </thead>


                        <tbody>
                            <tr *ngFor="let indfeeitem of mf.data">
                                <td>{{indfeeitem.f066fname}}</td>
                                <td>{{indfeeitem.f066fcode}}</td>
                                <td>{{indfeeitem.f066fdescription}}</td>
                                <td>{{indfeeitem.feeCategory}}</td>
                                <td>{{indfeeitem.GST}}</td>
                                <td>{{indfeeitem.f066fsoCode}}</td>
                                <td>{{indfeeitem.f066finsuredItem}}</td>
                                <td>{{indfeeitem.f066finvoiceItem == 1?'Yes':'No'}}</td>
                                <td>{{indfeeitem.f066frefundable == 1?'Yes':'No'}}</td>
                                <td>{{indfeeitem.f066fsoa == 1?'Yes':'No'}}</td>
                                <td>{{indfeeitem.f066fstatus == 1?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editfeeitem/{{indfeeitem.f066fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="12">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>