<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Blacklist / Release Staff</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addblacklisttemp()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Staff<span class="required-class">*</span></label>
                  <ng-select [items]="staffList | sort:'f034fname'" bindLabel="f034fname" bindValue="f034fstaffId" [(ngModel)]="blacklistempData.f018fidStaff"
                    name="f018fidStaff" #staff="ngModel" required [disabled]="edit">
                  </ng-select>
                  <span *ngIf="staff.errors && (staff.dirty || staff.touched || f.submitted)" class="form-errors">*Select
                    Staff</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Blacklist From<span class="required-class">*</span></label>
                  <input type="date" class="form-control" [(ngModel)]="blacklistempData.f018feffectiveDate" name="f018feffectiveDate"
                    placeholder="Enter Blacklist From" (change)="dateComparison()" #effective="ngModel" required>
                  <span *ngIf="effective.errors && (effective.dirty || effective.touched || f.submitted)" class="form-errors">*Select
                    Blacklist From</span>
                </div>
              </div>
             
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Reason for Blacklist<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f018freason" [(ngModel)]=" blacklistempData.f018freason "
                    placeholder="Enter Reason for Blacklist" #reason="ngModel" required>
                  <span *ngIf="reason.errors && (reason.dirty || reason.touched || f.submitted)" class="form-errors">*Enter
                    the Reason for Blacklist</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Release Date<span class="required-class">*</span></label>
                  <input type="date"  class="form-control" name="f018freleaseDate" (change)="dateComparison()" [(ngModel)]=" blacklistempData.f018freleaseDate"
                    placeholder="Select Release Date">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
                    <a [routerLink]="['/loan/blacklistemp']" class="btn nh-btn-secondary">Cancel</a>
                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>