<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Asset Updation</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <form (ngSubmit)="f.form.valid && addAssetinformation()" #f="ngForm" name="form" novalidate>
              <div class="row">
  
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Code<span class="required-class">*</span></label>
                    <input type="text" class="form-control" name="f085fassetCode" placeholder="Enter Asset Code"
                      [(ngModel)]="assetinformationData.f085fassetCode" value="" required #Asset="ngModel">
                    <span *ngIf="Asset.errors && (Asset.dirty || Asset.touched || f.submitted )" class="form-errors">*Enter
                      the Asset Code.</span>
                  </div>
                </div>
  
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Description<span class="required-class">*</span> </label>
                    <textarea maxlength="100" class="form-control" name="f085fassetDescription" placeholder="Enter Asset Description"
                      [(ngModel)]="assetinformationData.f085fassetDescription" value="" required #Description="ngModel"></textarea>
                    <span *ngIf="Description.errors && (Description.dirty || Description.touched || f.submitted )" class="form-errors">*Enter
                      the Asset Description.</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Cost Center<span class="required-class">*</span></label>
  
                    <select class="form-control" [(ngModel)]="assetinformationData.f085fidDepartment" name="f085fidDepartment"
                      placeholder="Enter to Department " required #cost="ngModel">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fid">{{
                        inddepartment.f015fdepartmentName }}</option>
                    </select>
  
  
                    <!-- <input type="text" ngui-auto-complete value-formatter="f015fdepartmentName"
                                              list-formatter="f015fdepartmentName" [match-formatted]="true" maxlength="50"
                                              class="form-control" name="f085fidDepartment" placeholder="Select Cost Center"
                                              [(ngModel)]="assetinformationData.f085fidDepartment" value="" required
                                              #Department="ngModel" [source]='DeptList' required #cost="ngModel"> -->
                    <span *ngIf="cost.errors && (cost.dirty || cost.touched || f.submitted )" class="form-errors">*Select
                      Cost Center.</span>
                  </div>
                </div>
              </div>
              <div class="row">
  
  
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Category<span class="required-class">*</span></label>
                    <select class="form-control" [(ngModel)]="assetinformationData.f085fidAssetCategory" name="f085fidAssetCategory"
                      required #category="ngModel">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indassetcategory of categoryList" [value]="indassetcategory.f087fid">{{
                        indassetcategory.f087fcategoryCode }}</option>
                    </select>
                    <!-- <input type="text" ngui-auto-complete value-formatter="f087fcategoryDiscription"
                                              list-formatter="f087fcategoryDiscription" [match-formatted]="true" maxlength="50"
                                              class="form-control" name="f085fidAssetCategory" placeholder="Select Asset Category"
                                              [(ngModel)]="assetinformationData.f085fidAssetCategory" value="" required #category="ngModel"
                                              [source]='categoryList' required #categ="ngModel">  -->
                    <span *ngIf="category.errors && (category.dirty || category.touched || f.submitted )" class="form-errors">*Select
                      Asset Category.</span>
  
                  </div>
                </div>
  
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Sub Category<span class="required-class">*</span></label>
                    <select class="form-control" [(ngModel)]="assetinformationData.f085fsubCategory" name="f085fsubCategory"
                      required #subcategory="ngModel">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indassetcategory of subcategoryList" [value]="indassetcategory.f089fid">{{
                        indassetcategory.f089fsubcode }}</option>
                    </select>
                    <!-- <input type="text" ngui-auto-complete value-formatter="f087fcategoryDiscription"
                                              list-formatter="f087fcategoryDiscription" [match-formatted]="true" maxlength="50"
                                              class="form-control" name="f085fidAssetCategory" placeholder="Select Asset Category"
                                              [(ngModel)]="assetinformationData.f085fidAssetCategory" value="" required #category="ngModel"
                                              [source]='categoryList' required #categ="ngModel">  -->
                    <span *ngIf="subcategory.errors && (subcategory.dirty || subcategory.touched || f.submitted )" class="form-errors">*Select
                      Asset Sub Category.</span>
  
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Type<span class="required-class">*</span></label>
                    <select class="form-control" [(ngModel)]="assetinformationData.f085fidAssetType" name="f085fidAssetType"
                      required #assettype="ngModel">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indassettype of typeList" [value]="indassettype.f090fid">{{
                        indassettype.f090ftypeCode }}</option>
                    </select>
                    <span *ngIf="assettype.errors && (assettype.dirty || assettype.touched || f.submitted )" class="form-errors">*Select
                      Asset Type</span>
                    <!-- <input type="text" ngui-auto-complete value-formatter="f090fname"
                                              list-formatter="f090fname" [match-formatted]="true" maxlength="50"
                                              class="form-control" name="f085fidAssetType" placeholder="Select Asset Type"
                                              [(ngModel)]="assetinformationData.f085fidAssetType" value="" required #category="ngModel"
                                              [source]='assettypeList' required #assettype="ngModel">
                                         -->
  
                    <!-- <input type="text" maxlength="25" class="form-control" name="f086fdisposalName"
                                              placeholder="Enter Asset Type" [(ngModel)]="assetinformationData.f086fdisposalName"
                                              value=""> -->
                  </div>
                </div>
  
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Item<span class="required-class">*</span></label>
                    <select class="form-control" [(ngModel)]="assetinformationData.f085fidItem" name="f085fidItem"
                      required #assetitem="ngModel">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indassettype of itemList" [value]="indassettype.f088fid">{{
                        indassettype.f088fitemCode }}</option>
                    </select>
                    <span *ngIf="assetitem.errors && (assetitem.dirty || assetitem.touched || f.submitted )" class="form-errors">*Select
                      Asset Type</span>
                    <!-- <input type="text" ngui-auto-complete value-formatter="f090fname"
                                              list-formatter="f090fname" [match-formatted]="true" maxlength="50"
                                              class="form-control" name="f085fidAssetType" placeholder="Select Asset Type"
                                              [(ngModel)]="assetinformationData.f085fidAssetType" value="" required #category="ngModel"
                                              [source]='assettypeList' required #assettype="ngModel">
                                         -->
  
                    <!-- <input type="text" maxlength="25" class="form-control" name="f086fdisposalName"
                                              placeholder="Enter Asset Type" [(ngModel)]="assetinformationData.f086fdisposalName"
                                              value=""> -->
                  </div>
                </div>
  
  
  
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Acquisition Date<span class="required-class">*</span></label>
                    <input type="date" class="form-control" name="f085fAcquisitionDate" placeholder="Enter Acquisition Date"
                      [(ngModel)]="assetinformationData.f085fAcquisitionDate" value="" required #Acquisition="ngModel">
                    <span *ngIf="Acquisition.errors && (Acquisition.dirty || Acquisition.touched || f.submitted )" class="form-errors">*Select
                      Acquisition Date.</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Order Number<span class="required-class">*</span></label>
                    <input type="number" class="form-control" name="f085forderNumber" placeholder="Enter Order Number"
                      [(ngModel)]="assetinformationData.f085forderNumber" value="" required #order="ngModel">
                    <span *ngIf="order.errors && (order.dirty || order.touched || f.submitted )" class="form-errors">*Enter
                      the Order Number.</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Store Code<span class="required-class">*</span></label>
                    <input type="text" maxlength="10" class="form-control" name="f085fstoreCode" placeholder="Enter Store Code"
                      [(ngModel)]="assetinformationData.f085fstoreCode" value="" required #store="ngModel">
                    <span *ngIf="store.errors && (store.dirty || store.touched || f.submitted )" class="form-errors">*Enter
                      the Store Code.</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Account Code<span class="required-class">*</span></label>
                    <select class="form-control" [(ngModel)]="assetinformationData.f085faccountCode" name="f085faccountCode"
                      placeholder="Select Account Code " required #acode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --Select-- </option>
                      <option *ngFor="let indacccode of accountcodeList" [value]="indacccode.f059fcompleteCode">{{
                        indacccode.f059fcompleteCode }} - {{ indacccode.f059fname }}</option>
                    </select>
  
                    <!-- <input type="text" ngui-auto-complete value-formatter="f059fcompleteCode"
                                              list-formatter="f059fcompleteCode" [match-formatted]="true" maxlength="50"
                                              class="form-control" name="f085faccountCode" name="accountcodeList" placeholder="Select Account Code"
                                              [(ngModel)]="assetinformationData.f085faccountCode" value="" required #acccode="ngModel"
                                              [source]='accountcodeList' required #acode="ngModel"> -->
                    <span *ngIf="acode.errors && (acode.dirty || acode.touched || f.submitted )" class="form-errors">*Select
                      Account Code</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Approve Date<span class="required-class">*</span></label>
                    <input type="date" class="form-control" name="f085fapproveDate" placeholder="Enter Approve Date"
                      [(ngModel)]="assetinformationData.f085fapproveDate" value="" required #approved="ngModel">
                    <span *ngIf="approved.errors && (approved.dirty || approved.touched || f.submitted )" class="form-errors">*Select
                      Approve Date</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Expire Date<span class="required-class">*</span></label>
                    <input type="date" class="form-control" name="f085fexpireDate" placeholder="Enter Expire Date"
                      [(ngModel)]="assetinformationData.f085fexpireDate" value="" required #expiredata="ngModel">
                    <span *ngIf="expiredata.errors && (expiredata.dirty || expiredata.touched || f.submitted )" class="form-errors">*Select
                      Expire Date</span>
                  </div>
                </div>
                
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Install Cost(RM)<span class="required-class">*</span></label>
                    <input type="text" maxlength="25" class="form-control" name="f085finstallCost" placeholder="Enter Install Cost"
                      [(ngModel)]="assetinformationData.f085finstallCost" value="" required #cost="ngModel">
                    <span *ngIf="cost.errors && (cost.dirty || cost.touched || f.submitted )" class="form-errors">*Select
                      Install Cost</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Account Depr Cost(RM)<span class="required-class">*</span></label>
                    <input type="text" maxlength="25" class="form-control" name="f085faccumDeprCost" placeholder="Enter Accoum Depr Cost"
                      [(ngModel)]="assetinformationData.f085faccumDeprCost" value="" required #accdepr="ngModel">
                    <span *ngIf="accdepr.errors && (accdepr.dirty || accdepr.touched || f.submitted )" class="form-errors">*Enter
                      the Accoum Depr Cost(RM)</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Net Value(RM)<span class="required-class">*</span></label>
                    <input type="text" maxlength="10" class="form-control" name="f085fnetValue" placeholder="Enter Net Value"
                      [(ngModel)]="assetinformationData.f085fnetValue" value="" required #netvalue="ngModel">
                    <span *ngIf="netvalue.errors && (netvalue.dirty || netvalue.touched || f.submitted )" class="form-errors">*Enter
                      the Net Value(RM)</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Yearly Depr Cost(RM)<span class="required-class">*</span></label>
                    <input type="text" maxlength="25" class="form-control" name="f085fyearDeprCost" placeholder="Enter Yearly Depr Cost"
                      [(ngModel)]="assetinformationData.f085fyearDeprCost" value="" required #year="ngModel">
                    <span *ngIf="year.errors && (year.dirty || year.touched || f.submitted )" class="form-errors">*Enter
                      the Yearly Depr Cost(RM)</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Residual Value<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="f085fresidualValue" placeholder="Enter Residual Value "
                      [(ngModel)]="assetinformationData.f085fresidualValue" value="" required #value="ngModel">
                    <span *ngIf="value.errors && (value.dirty || value.touched || f.submitted )" class="form-errors">*Enter
                      the Residual Value</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Asset Owner<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="f085fassetOwner" placeholder="Enter Asset Owner "
                      [(ngModel)]="assetinformationData.f085fassetOwner" value="" required #owner="ngModel">
                    <span *ngIf="owner.errors && (owner.dirty || owner.touched || f.submitted )" class="form-errors">*Enter
                      the Asset Owner</span>
                  </div>
                </div>
                <!-- <div class="col-sm-4">
                                      <div class="form-group">
                                          <label>Bar Code<span class="required-class">*</span></label>
                                          <input type="text" maxlength="50" class="form-control" name="f085fbarCode"
                                              placeholder="Enter Bar Code " [(ngModel)]="assetinformationData.f085fbarCode"
                                              value="" required #barcode="ngModel">
                                          <span *ngIf="barcode.errors && (barcode.dirty || barcode.touched || f.submitted )"
                                              class="form-errors">*Enter the Bar Code</span>
                                      </div>
                                  </div> -->
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Serial Number<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="f085fserialNumber" placeholder="Enter Serial Number "
                      [(ngModel)]="assetinformationData.f085fserialNumber" value="" required #serial="ngModel">
                    <span *ngIf="serial.errors && (serial.dirty || serial.touched || f.submitted )" class="form-errors">*Enter
                      the Serial Number</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Brand Name<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="f085fbrandName" placeholder="Enter Brand Name"
                      [(ngModel)]="assetinformationData.f085fbrandName" value="" required #brandd="ngModel">
                    <span *ngIf="brandd.errors && (brandd.dirty || brandd.touched || f.submitted )" class="form-errors">*Enter
                      the Brand Name</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Current Campus<span class="required-class">*</span></label>
                    <select class="form-control" [(ngModel)]="assetinformationData.f085fcurrentCampus" name="f085fcurrentCampus"
                      required #campus="ngModel">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indassettype of campusList" [value]="indassettype.f059fid" [selected]="assetinformationData.f085fcurrentCampus == indassettype.f059fid">{{
                        indassettype.f059fname }}</option>
                    </select>
                    <!-- <input type="text" maxlength="50" class="form-control" name="f085fcurrentRoom"
                                                  placeholder="Enter Current Room " [(ngModel)]="assetinformationData.f085fcurrentRoom"
                                                  value="" required #room="ngModel"> -->
                    <span *ngIf="campus.errors && (campus.dirty || campus.touched || f.submitted )" class="form-errors">*Enter
                      the Current Campus</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Current Block<span class="required-class">*</span></label>
                    <select class="form-control" [(ngModel)]="assetinformationData.f085fcurrentBlock" name="f085fcurrentBlock"
                      required #block="ngModel">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indassettype of blockList" [value]="indassettype.f059fid" [selected]="assetinformationData.f085fcurrentBlock == indassettype.f059fid">{{
                        indassettype.f059fname }}</option>
                    </select>
                    <!-- <input type="text" maxlength="50" class="form-control" name="f085fcurrentRoom"
                                                      placeholder="Enter Current Room " [(ngModel)]="assetinformationData.f085fcurrentRoom"
                                                      value="" required #room="ngModel"> -->
                    <span *ngIf="block.errors && (block.dirty || block.touched || f.submitted )" class="form-errors">*Enter
                      the Current Block</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Current Building<span class="required-class">*</span></label>
                    <select class="form-control" [(ngModel)]="assetinformationData.f085fcurrentBuilding" name="f085fcurrentBuilding"
                      required #building="ngModel">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indassettype of buildingList" [value]="indassettype.f059fid" [selected]="assetinformationData.f085fcurrentBuilding == indassettype.f059fid">{{
                        indassettype.f059fname }}</option>
                    </select>
  
                    <span *ngIf="building.errors && (building.dirty || building.touched || f.submitted )" class="form-errors">*Enter
                      the Current Building</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Current Room<span class="required-class">*</span></label>
                    <select class="form-control" [(ngModel)]="assetinformationData.f085fcurrentRoom" name="f085fcurrentRoom"
                      required #room="ngModel">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indassettype of roomList" [value]="indassettype.f059fid" [selected]="assetinformationData.f085fcurrentRoom == indassettype.f059fid">{{
                        indassettype.f059fname }}</option>
                    </select>
                    <!-- <input type="text" maxlength="50" class="form-control" name="f085fcurrentRoom"
                                                              placeholder="Enter Current Room " [(ngModel)]="assetinformationData.f085fcurrentRoom"
                                                              value="" required #room="ngModel"> -->
                    <span *ngIf="room.errors && (room.dirty || room.touched || f.submitted )" class="form-errors">*Enter
                      the Current Room</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
                    <a routerLink="/assets/assetinformation" class="btn nh-btn-secondary">Cancel</a>
                    <!-- <button type="submit" (click)='saveAssetinformation()' class="btn nh-btn-primary">Save</button> -->
                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
