<div class="ps-right-section">
        <div class="ps-dashboard-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="ad-page-title">Subject</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-top-wrapper">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            
                            <div class="add-btn">
                                <a [routerLink]="['/studentfinance/addnewsubject']" class="btn nh-btn-primary">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped " [mfData]="subjectList | filter : searchText | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Code</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let indsubject of mf.data">
                                    <td>{{indsubject.f047fdescription}}</td>
                                    <td>{{indsubject.f047fcode}}</td>
                                    <td>{{indsubject.f047fstatus == 1?'Active':'Inactive'}}</td>
    
                                    <td class="actions-col">
                                        <div class="nh-btn-group">
                                            <a routerLink="/studentfinance/editsubject/{{indsubject.f047fid}}">
                                                <button class="btn nh-btn-edit">
    
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <td colspan="9">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                              </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>