<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Group Details</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a href="generalsetup/addnewgroups" class="btn nh-btn-primary">Add Group</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>Parent Group</th>
                                <!-- <th>Order</th> -->
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indgroup of groupsList  | filter : searchText">
                                <td>{{indgroup.f012fgroupName}}</td>
                                <td>{{indgroup.parent_name}}</td>
                                <!-- <td>{{indgroup.f012forder}}</td> -->
                                <td>{{indgroup.f012fstatus === true?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a href="generalsetup/editgroup/{{indgroup.f012fid}}">
                                        <button class="btn nh-btn-edit">
                                            
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            </a>
                                        
                                        <!-- <button class="btn nh-btn-remove">
                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>