<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Financial Year</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/generalledger/addnewfinancialyear']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="financialyearList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f015fname">Financial Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fstartDate">Financial Year Start Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fendDate">Financial Year End Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indfinancialyear of mf.data ">
                                <td>{{indfinancialyear.f015fname}}</td>
                                <td>{{indfinancialyear.f015fstartDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indfinancialyear.f015fendDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indfinancialyear.f015fstatus == 1?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/generalledger/editfinancialyear/{{indfinancialyear.f015fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>