<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Utility Setup</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addUtility()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label"><span class="required-class">*</span>Meter ID</label>
                  <input type="text" maxlength="25" class="form-control" name="f078fdescription" placeholder="Enter Meter ID"
                    [(ngModel)]="utilityData.f078fdescription" value="" required #utility="ngModel" (blur)="checkDuplication()">
                  <span *ngIf="utility.errors && (utility.dirty || utility.touched || f.submitted)" class="form-errors">*
                    Enter the Meter ID </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label"><span class="required-class">*</span>Premise</label>
                  <!-- <ng-select [items]="premiseList | sort:'f030fcompanyName'" bindLabel="f030fcompanyName" bindValue="f030fid" [(ngModel)]="customerData.f021fidSupplier"
                   name="f021fidSupplier" #state="ngModel" required>
                                      </ng-select> -->
                  <!-- <select class="form-control" name="f078fpremise" [(ngModel)]="utilityData.f078fpremise" placeholder="Select Premise">
                    <option value=''>Select Premise</option>
                    <option *ngFor="let indutility of premiseList" [value]="indutility.f076fid">{{ indutility.f076fname
                      }} - {{indutility.f037fpremiseType}}
                    </option>
                  </select> -->
                  <ng-select [items]="premiseList | sort:'premiseName'" bindLabel="premiseName" bindValue="f076fid" [(ngModel)]="utilityData.f078fpremise"
                    name="f078fpremise" #premise="ngModel" required>
                  </ng-select>
                  <span *ngIf="premise.errors && (premise.dirty || premise.touched || f.submitted)" class="form-errors">*
                    Select Premise</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label"><span class="required-class">*</span>Last Charged Date</label>
                  <input type="date" class="form-control" name="f078fdate" placeholder="Enter Period" [(ngModel)]="utilityData.f078fdate"
                    value="" #date="ngModel" required>
                  <span *ngIf="date.errors && (date.dirty || date.touched || f.submitted)" class="form-errors">*
                    Enter the Last Charged Date</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label"><span class="required-class">*</span>Revenue Description</label>
                  <ng-select [items]="revenuesetupList | sort:'f085fname'" bindLabel="f085fname" bindValue="f085fid"
                    [(ngModel)]="utilityData.f078fidRevenue" name="f078fidRevenue" #revenue="ngModel" required>
                  </ng-select>
                  <span *ngIf="revenue.errors && (revenue.dirty || revenue.touched || f.submitted)" class="form-errors">*
                    Select Revenue Description</span>
                  <!-- <select class="form-control" name="f078fidRevenue" [(ngModel)]="utilityData.f078fidRevenue" placeholder="Select Premise"
                    value="" required #premise="ngModel">
                    <option value=''>Select Item</option>
                    <option *ngFor="let indutility of revenuesetupList" [value]="indutility.f085fid">{{
                      indutility.f085fname}}
                    </option>
                  </select> -->
                  <span *ngIf="revenue.errors && (revenue.dirty || revenue.touched || f.submitted)" class="form-errors">*
                    Select Revenue Description </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label"><span class="required-class">*</span>Initial Meter Reading </label>
                  <input type="text" maxlength="10" class="form-control" name="f078finitialReading" placeholder="Enter Initial Meter Reading "
                    [(ngModel)]="utilityData.f078finitialReading" (keypress)="onlyNumberKey($event)" value="" required
                    #intreading="ngModel">
                  <span *ngIf="intreading.errors && (intreading.dirty || intreading.touched || f.submitted)" class="form-errors">*
                    required Initial Meter Reading </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label"><span class="required-class">*</span>Last Meter Reading </label>
                  <input type="text" maxlength="10" class="form-control" name="f078flastReading" placeholder="Enter Last Meter Reading"
                    [(ngModel)]="utilityData.f078flastReading" (keypress)="onlyNumberKey($event)" value="" required
                    #lastupdate="ngModel">
                  <span *ngIf="lastupdate.errors && (lastupdate.dirty || lastupdate.touched || f.submitted)" class="form-errors">*
                    Enter the Last Meter Reading </span>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Credit Fund</label>

                  
                </div>

              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Credit Department</label>

                 
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Credit Activity Code</label>

                  
                </div>
              </div>
            </div> -->
            <div id="overlay1"></div>

            <div id="myModal" class=" fade in" role="dialog">

              <!-- <div class="modal-dialog"> -->

              <!-- Modal content-->
              <div class="modal-content">
                <p class="maximize-icon">
                  <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                </p>
                <p class="minimize-icon hidden">
                  <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                </p>
                <div class="modal-body">
                  <div class="table-responsive credit-note-table-wrapper">
                    <table class="table table-bordered table-striped table-food">
                      <thead>
                        <tr>
                          <th colspan='4' style='text-align:center;'>Debit GL Code</th>

                          <th colspan='4' style='text-align:center;'>Credit GL Code</th>

                        </tr>
                        <tr>
                          <th>Fund<span class="required-class">*</span></th>
                          <th>Activity Code<span class="required-class">*</span></th>
                          <th>Cost Center<span class="required-class">*</span></th>
                          <th>Account Code<span class="required-class">*</span></th>
                          <th>Fund<span class="required-class">*</span></th>
                          <th>Activity Code<span class="required-class">*</span></th>
                          <th>Cost Center<span class="required-class">*</span></th>
                          <th>Account Code<span class="required-class">*</span></th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <!-- <select class="form-control fundAlign" [(ngModel)]="utilityData.f078fdebitFund" name="f078fdebitFund"
                          placeholder="Enter to Account " required #Account="ngModel">
                          <option value=''>--Select--</option>
                          <option *ngFor="let indaccountcode of fundList" [value]="indaccountcode.f057fcode">
                            {{indaccountcode.f057fcode }}  {{
                            indaccountcode.f057fname }}</option>
                        </select> -->
                            <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                              bindValue="f057fcode" [(ngModel)]="utilityData.f078fdebitFund" name="f078fdebitFund"
                              #fund="ngModel">
                            </ng-select>
                          </td>
                          <td>
                            <!-- <select class="form-control activityCodeAlign" [(ngModel)]="utilityData.f078fdebitActivity" name="f085factivityId"
                          placeholder="Enter to Activity " required #activity="ngModel">
                          <option value=''>--Select--</option>
                          <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                            - {{ indactivitycode.f058fname }}</option>
                        </select> -->
                            <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" style="width: 150px;"
                              bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="utilityData.f078fdebitActivity"
                              name="f078fdebitActivity" #activity="ngModel">
                            </ng-select>
                          </td>

                          <td>
                            <!-- <select class="form-control costCenterAlign" [(ngModel)]="utilityData.f078fdebitDepartment" name="f085fdepartmentId"
                          placeholder="Enter to Department " required #Department="ngModel">
                          <option value=''>--Select--</option>
                          <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                            - {{ inddepartment.f015fdepartmentName }}</option>
                        </select> -->
                            <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;" bindLabel="f015fdepartmentName"
                              bindValue="f015fdepartmentCode" [(ngModel)]="utilityData.f078fdebitDepartment" name="f078fdebitDepartment"
                              #dept="ngModel">
                            </ng-select>
                          </td>

                          <td>
                            <!-- <select class="form-control accountCodeAlign" [(ngModel)]="utilityData.f078fdebitAccount" name="f085faccountId"
                          placeholder="Enter to Account " required #Account="ngModel">
                          <option value=''>--Select--</option>
                          <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                            indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                        </select> -->
                            <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" style="width: 150px;"
                              bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="utilityData.f078fdebitAccount"
                              name="f078fdebitAccount" #account="ngModel">
                            </ng-select>
                          </td>

                          <td>
                            <!-- <select class="form-control fundAlign" [(ngModel)]="utilityData.f078fcreditFund" name="f078fcreditFund"
                        placeholder="Enter to Account " required #Account="ngModel">
                        <option value=''>--Select--</option>
                        <option *ngFor="let indaccountcode of fundList" [value]="indaccountcode.f057fcode">{{
                          indaccountcode.f057fcode }} - {{
                          indaccountcode.f057fname }}</option>
                      </select> -->
                            <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                              bindValue="f057fcode" [(ngModel)]="utilityData.f078fcreditFund" name="f078fcreditFund"
                              #crfund="ngModel">
                            </ng-select>
                          </td>
                          <td>
                            <!-- <select class="form-control activityCodeAlign" [(ngModel)]="utilityData.f078fcreditActivity"
                        name="f085factivityId" placeholder="Enter to Activity " required #activity="ngModel">
                        <option value=''>--Select--</option>
                        <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                          - {{ indactivitycode.f058fname }}</option>
                      </select> -->
                            <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" style="width: 150px;"
                              bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="utilityData.f078fcreditActivity"
                              name="f078fcreditActivity" #cractivity="ngModel">
                            </ng-select>
                          </td>
                          <td>
                            <!-- <select class="form-control costCenterAlign" [(ngModel)]="utilityData.f078fcreditDepartment"
                        name="f085fdepartmentId" placeholder="Enter to Department " required #Department="ngModel">
                        <option value=''>--Select--</option>
                        <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                          - {{ inddepartment.f015fdepartmentName }}</option>
                      </select> -->
                            <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;" bindLabel="f015fdepartmentName"
                              bindValue="f015fdepartmentCode" [(ngModel)]="utilityData.f078fcreditDepartment" name="f078fcreditDepartment">
                            </ng-select>
                          </td>
                          <td>
                            <!-- <select class="form-control accountCodeAlign" [(ngModel)]="utilityData.f078fcreditAccount"
                        name="f085faccountId" placeholder="Enter to Account " required #Account="ngModel">
                        <option value=''>--Select--</option>
                        <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                          indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                      </select> -->
                            <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" style="width: 150px;"
                              bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="utilityData.f078fcreditAccount"
                              name="f078fcreditAccount">
                            </ng-select>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="um-label">Status</label>
                  <div class="">
                    <label class="radio-inline">
                      <input type="radio" name="Status" [(ngModel)]="utilityData.f078fstatus" [checked]="utilityData.f078fstatus == 1"
                        [value]="1"> Active
                    </label>
                    <label class="radio-inline ">
                      <input type="radio" name="Status" [(ngModel)]="utilityData.f078fstatus" [checked]="utilityData.f078fstatus == 0"
                        [value]="0"> Inactive
                    </label>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="row">
              <div class="col-sm-12">
                <div class="text-right">
                  <a routerLink="/accountsrecivable/utility">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>