<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Student Discount</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewdiscount']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped " [mfData]="discountList | filter : searchText | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Discription</th>
                                <th>Fee Item</th>
                                <th>Amount (RM)</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inddiscount of mf.data">
                                <td>{{inddiscount.f046fname}}</td>
                                <td>{{inddiscount.f046fcode}}</td>
                                <td>{{inddiscount.f046fdescription}}</td>
                                <td>{{inddiscount.f066fname}}</td>
                                <td class="amountAlign" >{{inddiscount.f046famount | number: '.2'}}</td>
                                <td>{{inddiscount.f046fstatus == '1'?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editdiscount/{{inddiscount.f046fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>


                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                          </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>