<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Notification SetUp</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addNotification()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Days<span class="required-class">*</span></label>
                                    <ng-select [items]="days" bindLabel="name" bindValue="name" [(ngModel)]="notificationDataHeader.day"
                                        name="day" required #name="ngModel">
                                    </ng-select>
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Select
                                        Days </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Maturity Date<span class="required-class">*</span> </label>
                                    <input type="date" maxlength="50" class="form-control" (change)="dateCompare()"
                                        name="f064fmaturityDate" [(ngModel)]="notificationDataHeader.f064fmaturityDate"
                                        value="" required #Maturity="ngModel">
                                    <span *ngIf="Maturity.errors && (Maturity.dirty || Maturity.touched || f.submitted)"
                                        class="form-errors">*
                                        Select the Maturity Date</span>
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Contact Email One<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                        name="f064fcontactEmail" [(ngModel)]="notificationDataHeader.f064fcontactEmail"
                                        value="" #Email="ngModel" required>
                                    <span *ngIf="Email.errors && (Email.dirty || Email.touched || f.submitted)" class="form-errors">*
                                        Enter the Contact Email One</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="overlay1"></div>
                                <div id="myModal" class=" fade in" role="dialog">
                                    <!-- <div class="modal-dialog"> -->
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <p class="maximize-icon">
                                            <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                                        </p>
                                        <p class="minimize-icon hidden">
                                            <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                                        </p>
                                        <div class="modal-body">
                                            <table class="table table-bordered table-striped table-food">
                                                <thead>
                                                    <tr>
                                                        <th>Recipient Email</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let indnotification of notificationList;let i = index;last as isLast">
                                                        <td>
                                                            <input type="text" maxlength="50" class="form-control"
                                                                pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="f064fcontactEmail"
                                                                [(ngModel)]="notificationList[i].f064fcontactEmail"
                                                                value="" #Email="ngModel" required>
                                                        </td>
                                                        <td *ngIf="!isLast">
                                                            <button class="btn nh-btn-primary" type="button" (click)='deleteNotificationList(notificationList[i])'>
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </td>
                                                        <td *ngIf="isLast">
                                                            <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary"
                                                                type="button" (click)='deleteNotificationList(notificationList[i])'>
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                            <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary"
                                                                type="button" (click)='showNewRow()'>
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="showLastRow==false">
                                                        <td>
                                                            <!-- <ng-select [items]="typeofinvestmentList" bindLabel="f038ftype"
                                                                    bindValue="f038fid" [(ngModel)]="notificationData.email"
                                                                    name="email">
                                                                </ng-select> -->
                                                            <input type="text" maxlength="50" class="form-control"
                                                                pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="f064fcontactEmail"
                                                                [(ngModel)]="notificationData.f064fcontactEmail" value=""
                                                                #Email="ngModel" required>
                                                        </td>
                                                        <td>
                                                            <button *ngIf="showLastRowMinus" class="btn nh-btn-primary"
                                                                type="button" (click)='deletemodule()'>
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                            <button *ngIf="showLastRowPlus" class="btn nh-btn-primary"
                                                                type="button" (click)='addNotifications()'>
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/investment/notification" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>