<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Asset Sub Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addSubcategory()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4" *ngIf="id>0">
                                <label>Current Running Number</label>
                                <div class="form-group">
                                    <input type="text" readonly="readonly" placeholder="Current Running Number"
                                        maxlength="10" class="form-control" name="f089faccountNumber" [(ngModel)]="subcategoryData.f089faccountNumber"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Procurement Sub Category<span class="required-class">*</span></label>
                                    <ng-select [items]="itemgroupList | sort: 'f028fsubCategoryName'" bindLabel="f028fsubCategoryName"
                                        bindValue="f028fid" [(ngModel)]="subcategoryData.f089fidItemGroup" name="f089fidItemGroup"
                                        #itemgroup="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="itemgroup.errors && (itemgroup.dirty || itemgroup.touched || f.submitted)"
                                        class="form-errors">*Select Procurement Sub Category</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Category<span class="required-class">*</span></label>
                                    <ng-select [items]="categoryList  | sort: 'f087fcategoryDiscription'" bindLabel="f087fcategoryDiscription"
                                        bindValue="f087fid" [(ngModel)]="subcategoryData.f089fidCategory" name="f089fidCategory"
                                        #category="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="category.errors && (category.dirty || category.touched || f.submitted)"
                                        class="form-errors">*Select Asset Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Sub Category Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f089fsubcode"
                                        placeholder="Enter Asset Sub Category Code" [(ngModel)]="subcategoryData.f089fsubcode"
                                        value="" required #namesub="ngModel">
                                    <span *ngIf="namesub.errors && (namesub.dirty || namesub.touched || f.submitted )"
                                        class="form-errors">*Enter
                                        the Asset Sub Category Code
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Sub Category <span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f089fsubDescription"
                                        placeholder="Enter Asset Sub Category" [(ngModel)]="subcategoryData.f089fsubDescription"
                                        value="" required #name="ngModel">
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Enter
                                        the Asset Sub Category
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Life Span (In Years)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="5" class="form-control" name="f089flifeExpectancy"
                                        placeholder="Enter Life Span" (keypress)="onlyNumberKey($event)" [(ngModel)]="subcategoryData.f089flifeExpectancy"
                                        value="" required #life="ngModel">
                                    <span *ngIf="life.errors && (life.dirty || life.touched || f.submitted )" class="form-errors">*Enter
                                        the Life Span </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="f089fstatus" [(ngModel)]="subcategoryData.f089fstatus"
                                        [checked]="subcategoryData.f089fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="f089fstatus" [(ngModel)]="subcategoryData.f089fstatus"
                                        [checked]="subcategoryData.f089fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/subcategory']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>