<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id='target'>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Tender Submission</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Reference Number<span class="required-class">*</span></label>
            <ng-select [disabled]="viewDisabled" [items]="tenderQuotationList | sort:'f035fquotationNumber'" bindLabel="f035fquotationNumber"
              bindValue="f035fid" [(ngModel)]="specData.f050fidTendor" (change)="showTenderItems()" name="f050fidTendor">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Title<span class="required-class">*</span></label>
            <input type="text" disabled="disabled" class="form-control" [(ngModel)]="specData.f050ftitle">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Start Date<span class="required-class">*</span></label>
            <input [disabled]="viewDisabled" type="datetime-local" disabled="disabled" class="form-control" [(ngModel)]="specData.f050fstartDate"
              name="f050fstartDate">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>End Date<span class="required-class">*</span></label>
            <input [disabled]="viewDisabled" type="datetime-local" disabled="disabled" class="form-control" [(ngModel)]="specData.f050fendDate"
              name="f050fendDate">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Tender Opening Date<span class="required-class">*</span></label>
            <input [disabled]="viewDisabled" type="datetime-local" disabled="disabled" class="form-control" [(ngModel)]="specData.f050fopeningDate"
              name="f035ftenderOpeningDate">
          </div>
        </div>

      </div>
      <div class="row">

        <div id="overlay1"></div>
        <div id="myModal" class=" fade in" role="dialog">
          <div class="modal-content">
            <p class="maximize-icon">
              <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
            </p>
            <p class="minimize-icon hidden">
              <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
            </p>
            <div class="modal-body">
              <div class="table-responsive credit-note-table-wrapper" style="padding-bottom:99px;">
                <table class="table table-bordered table-striped credit-note-table" id='target1'>
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Vendor</th>
                      <th> Vendor Code</th>
                      <th> Grade</th>
                      <th> Amount (RM)</th>
                      <th> Completion Duration</th>
                      <th> Description</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indinv of vendorList;let i = index;trackBy:indexTracker;last as isLast">
                      <td>
                        {{i+1}}
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled||editDisabled" [items]="supplierList" disabled="disabled"
                          style="width:150px" bindLabel="f030fcompanyName" bindValue="f030fid" [(ngModel)]="vendorList[i].f050fidVendor"
                          name="f050fidVendor" (change)="getUOM()">
                        </ng-select>
                      </td>
                      <td>
                        <input type="text" class="form-control" style="width:80px;" disabled="disabled" [(ngModel)]="vendorList[i].f050fvendorCode"
                          name="f050fvendorCode">
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled||editDisabled" [items]="licenseList | sort:'f091flicense'"
                          style="width:150px" bindLabel="f091flicense" bindValue="f091fid" [(ngModel)]="vendorList[i].f050fgrade"
                          name="f050fgrade">
                        </ng-select>
                      </td>
                      <td>
                        <input type="text" disabled="disabled" maxlength="10" style="text-align: right" class="form-control"
                          class="amountAlign" (keypress)="onlyNumberKey($event)" [(ngModel)]="vendorList[i].f050famount"
                          name="f050famount">
                      </td>
                      <td>
                        <input type="text" disabled="disabled" class="form-control" maxlength="10" [(ngModel)]="vendorList[i].f050fcompletion"
                          (keypress)="onlyNumberKey($event)" name="f050fcompletion">
                      </td>

                      <td>
                        <input type="text" disabled="disabled" class="form-control" [(ngModel)]="vendorList[i].f050fdescription"
                          name="f050fdescription">
                      </td>
                      <td *ngIf="!isLast">
                        <button class="btn nh-btn-primary" type="button" (click)="deleteItems('vendor',vendorList[i])"
                          *ngIf="viewDisabled==false">
                          <i class="fa fa-minus"></i>
                        </button>
                      </td>
                      <td *ngIf="isLast">
                        <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)="deleteItems('vendor',vendorList[i])">
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngIf="showLastRow==false">
                      <td>{{slno}}</td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="supplierList" (change)="getUOM()" style="width:150px"
                          bindLabel="f030fcompanyName" bindValue="f030fid" [(ngModel)]="vendorData.f050fidVendor" name="f050fidVendor">
                        </ng-select>

                      </td>
                      <td>
                        <input type="text" style="width:80px;" class="form-control" disabled="disabled" [(ngModel)]="vendorData.f050fvendorCode"
                          name="f050fvendorCode">
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="licenseList | sort:'f091flicense'" style="width:150px"
                          bindLabel="f091flicense" bindValue="f091fid" [(ngModel)]="vendorData.f050fgrade" name="f050fgrade">
                        </ng-select>
                      </td>
                      <td>
                        <input type="text" class="amountAlign" style="text-align: right" maxlength="10" placeholder="Enter Amount"
                          class="form-control" (keypress)="onlyNumberKey($event)" [(ngModel)]="vendorData.f050famount"
                          name="f050famount">
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="vendorData.f050fcompletion" maxlength="10" class="form-control"
                          (keypress)="onlyNumberKey($event)" placeholder="Enter Completion" name="f050fcompletion">
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="vendorData.f050fdescription" class="form-control" placeholder="Enter Description"
                          name="f050fdescription">
                      </td>
                      <td>
                        <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='pushVendorList()'>
                          <i class="fa fa-plus"></i>
                        </button>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Tender Committee</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="overlay1"></div>
          <div id="myModal" class=" fade in" role="dialog">
            <div class="modal-content">
              <p class="maximize-icon">
                <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
              </p>
              <p class="minimize-icon hidden">
                <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
              </p>
              <div class="modal-body">
                <table class="table table-bordered table-striped table-food" id='target2'>
                  <thead>
                    <tr align="center">
                      <th>Staff Id</th>

                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let inddescription of committList; let i = index; trackBy:indexTracker;last as isLast1">
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="smartStaffListNew" style="width:150px" bindLabel="f034fname"
                          bindValue="f034fstaffId" [(ngModel)]="committList[i].f051fidStaff" name="f038fidStaff">
                        </ng-select>
                      </td>
                      <td *ngIf="!isLast1">
                        <button class="btn nh-btn-primary" type="button" (click)="deleteItems('staff',committList[i])"
                          *ngIf="viewDisabled==false">
                          <i class="fa fa-minus"></i>
                        </button>
                      </td>
                      <td *ngIf="isLast1">
                        <button *ngIf="listshowLastRowMinus1" class="btn nh-btn-primary" type="button" (click)="deleteItems('staff',committList[i])">
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="listshowLastRowPlus1" class="btn nh-btn-primary" type="button" (click)='showNewRow1()'>
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngIf="showLastRow1==false">
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="smartStaffListNew" style="width:150px" bindLabel="f034fname"
                          bindValue="f034fstaffId" [(ngModel)]="committListData.f051fidStaff" name="f038fidStaff">
                        </ng-select>
                      </td>
                      <td>
                        <button *ngIf="showLastRowMinus1" class="btn nh-btn-primary" type="button" (click)='deletemodule1()'>
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="showLastRowPlus1" class="btn nh-btn-primary" type="button" (click)='addListCommittee()'>
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Tender General Specs</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="overlay1"></div>
          <div id="myModal" class=" fade in" role="dialog">
            <div class="modal-content">
              <p class="maximize-icon">
                <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
              </p>
              <p class="minimize-icon hidden">
                <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
              </p>
              <div class="modal-body">
                <table class="table table-bordered table-striped table-food" id='target2'>
                  <thead>
                    <tr align="center">
                      <th>Committee Remarks</th>

                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indremark of remarkList; let i = index; trackBy:indexTracker;last as isLast2">
                      <td>
                        <input [disabled]="viewDisabled" type="text" style="width:714px;" class="form-control" name="f053fremarks"
                          [(ngModel)]="remarkList[i].f053fremarks" placeholder="Committee Remarks" value="">
                      </td>
                      <td *ngIf="!isLast2">
                        <button class="btn nh-btn-primary" type="button" (click)="deleteItems('remarks',remarkList[i])"
                          *ngIf="viewDisabled==false">
                          <i class="fa fa-minus"></i>
                        </button>
                      </td>
                      <td *ngIf="isLast2">
                        <button *ngIf="listshowLastRowMinus2" class="btn nh-btn-primary" type="button" (click)="deleteItems('remarks',remarkList[i])">
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="listshowLastRowPlus2" class="btn nh-btn-primary" type="button" (click)='showNewRow2()'>
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngIf="showLastRow2==false">
                      <td>
                        <input [disabled]="viewDisabled" type="text" style="width:714px" class="form-control" name="remarks"
                          [(ngModel)]="remarkData.f053fremarks" placeholder="Committee Remarks" value="">
                      </td>
                      <td>
                        <button *ngIf="showLastRowMinus2" class="btn nh-btn-primary" type="button" (click)='deletemodule2()'>
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="showLastRowPlus2" class="btn nh-btn-primary" type="button" (click)='addListGeneralSpecs()'>
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <a routerLink="/procurement/tenderregistration" class="btn nh-btn-secondary" *ngIf="idview!=2">Cancel</a>
              <button type="button" (click)='saveData()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>