<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Revenue Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCategories()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <!-- <div class="col-sm-3" *ngIf="id!=0">
                                <div class="form-group">
                                    <label>Revenue Code<span class="required-class">*</span></label>
                                    <input type="text" disabled="disabled" maxlength="3" class="form-control" name="f073frevenueCode"
                                        placeholder="Enter Prefix Code" [(ngModel)]="categoriesData.f073frevenueCode"
                                        value="">
                                </div>
                            </div> -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Prefix Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="3" class="form-control" name="f073fcode"
                                        placeholder="Enter Prefix Code" [(ngModel)]="categoriesData.f073fcode"
                                        value="" required #code="ngModel" (blur)="checkDuplication1()">
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*
                                        Enter the Prefix Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Description<span class="required-class">*</span></label>
                                    <textarea type="text" maxlength="100" class="form-control" name="Name" placeholder="Enter Description"
                                        [(ngModel)]="categoriesData.f073fcategoryName" value="" required #name="ngModel" (blur)="checkDuplication()"></textarea>
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*
                                        Enter the Description</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code <span class="required-class">*</span> </label>
                                    <!-- <ng-select [items]="taxcodeList | sort:'taxInformation'" bindLabel="taxInformation" bindValue="f081fid"
                                        [(ngModel)]="categoriesData.f073ftaxCode" name="f073ftaxCode" #invoice="ngModel"
                                        required>
                                    </ng-select> -->
                                    <ng-select [items]="accountcodeList | sort:'f059fname'" bindLabel="f059fname"
                                        bindValue="f059fid" [(ngModel)]="categoriesData.f073ftaxCode" name="f073ftaxCode"
                                        #invoice="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" invoice.errors && (invoice.dirty || invoice.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Account Code </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="categoriesData.f073fstatus"
                                        [checked]="categoriesData.f073fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="categoriesData.f073fstatus"
                                        [checked]="categoriesData.f073fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/accountsrecivable/categories" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>