<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/activitylevelone']">Group</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/activityleveltwo']">Sub
                                    Group</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/activitylevelthree']">Sub
                                    - Siri</a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title"> Sub Group</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <!-- <div class="col-sm-12"> -->

                    <thead>
                        <tr>
                            <th>Group Code</th>
                            <th>Sub Group Code</th>
                            <th>Sub Group Description</th>

                        </tr>
                    </thead>
                    <!-- </div> -->
                    <tbody>
                        <tr *ngFor="let indleveltwo of activityleveltwoList; let i = index">
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="levelone" placeholder="Enter Group Code"
                                    [(ngModel)]="activitylevelone" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="f058fcode" maxlength="2" (keypress)="onlyNumberKey($event)"
                                    placeholder="Enter the Sub Group Code" [(ngModel)]="activityleveltwoList[i].f058fcode"
                                    value="" (blur)="onBlurMethod(activityleveltwoList[i])">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="f058fname" maxlength="150" placeholder="Enter the Sub Group Description"
                                    [(ngModel)]="activityleveltwoList[i].f058fname" value="">
                            </td>
                            <td>
                                <!-- <input type="button" name="add" (click)='deleteleveltwo(activityleveltwoList[i])' value='Delete' class="btn nh-btn-primary" /> -->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="levelone" placeholder="Enter Group Code"
                                    [(ngModel)]="activitylevelone" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="2" class="form-control" (keypress)="onlyNumberKey($event)"
                                    name="f058fcode" maxlength="2" placeholder="Enter the Sub Group Code" [(ngModel)]="activityleveltwoData.f058fcode"
                                    value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="f058fname" maxlength="150" placeholder="Enter the Sub Group Description"
                                    [(ngModel)]="activityleveltwoData.f058fname" value="">
                            </td>

                            <td>
                                <button class="btn nh-btn-primary" type="button" (click)='addactivityLeveltwo()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                                <!-- <input type="button" name="add" (click)='addactivityLeveltwo()' value='ADD' class="btn nh-btn-primary" /> -->
                            </td>
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/generalsetup/activityleveltwo" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveactivityleveltwo()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>