<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Shortlist Vendor</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group um-search-wrapper">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <fa-icon [icon]="Search"></fa-icon>
                  </button>
                </span>
              </div>
              <a [routerLink]="['/procurement/addtendershortlist']" class="btn nh-btn-primary pull-right">Add</a>
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="tenderQuotationList| filter : searchText" #mf="mfDataTable"
              [mfRowsOnPage]="10">
              <thead>
                <tr>
  
                  <th><mfDefaultSorter by="f035fquotationNumber">Reference Number</mfDefaultSorter> </th>
                  <th><mfDefaultSorter by="f035fstartDate">Start Date</mfDefaultSorter> </th>
                  <th><mfDefaultSorter by="f035fendDate">End Date</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f035ftitle">Title</mfDefaultSorter></th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indtenderQuotation of tenderQuotationList">
                  <td>{{indtenderQuotation.f035fquotationNumber}}</td>
                  <td>{{indtenderQuotation.f035fstartDate}}</td>
                  <td>{{indtenderQuotation.f035fendDate}}</td>
                  <td>{{indtenderQuotation.f035ftitle}}</td>
                  <td class="actions-col">
                    <div class="nh-btn-group text-center">
                      <a routerLink="/procurement/edittenderquotation/{{indtenderQuotation.f035fid}}">
                        <button class="btn nh-btn-edit">
                          <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody class="pagination-wrapper">
                <tr>
                  <td class="pagination-col" colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  