<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">{{typeText}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="applyloanapprovalList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f043freferenceNumber">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f020floanName">Loan Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fmanufacturer">Applicant Name</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f043fapplyDate">Date Applied</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f044fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indapplyloan of mf.data">
                                <td>{{indapplyloan.f043freferenceNumber}}</td>
                                <td>{{indapplyloan.f020floanName}}</td>
                                <td>{{indapplyloan.staff}}-{{indapplyloan.f043fempName}}</td>
                                <td>{{indapplyloan.f043fapplyDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indapplyloan.f043ffinalStatus == '1'?'Approved':'Pending'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/viewvehicleloan/{{indapplyloan.f043fid}}/{{level}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>