<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Batch Withdraw</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/investment/addbatchwithdraw']" class="btn nh-btn-primary">Add </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="etfDetails | filter : searchText"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="f145fbatchNo">Batch ID</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="f145fmaturityDate">Maturity Date</mfDefaultSorter>
                  </th>
                  <th></th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indpaymentvoucherList of mf.data">
                  <td>{{indpaymentvoucherList.f145fbatchNo}}</td>
                  <td>{{indpaymentvoucherList.f145fmaturityDate | date:'dd/MM/yyyy' }}</td>
                  <td> <input type='button' value="Download" (click)="downloadData(indpaymentvoucherList.f145fid)" /></td>
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/investment/editbatchwithdraw/{{indpaymentvoucherList.f145fid}}">
                        <button class="btn nh-btn-edit">
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="10">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>