<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Receipt</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Receipt Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Payee Type</label>
                <ng-select [disabled]="viewDisabled" [items]="fpayeetype | sort:'name'" (change)="getType()" bindLabel="name"
                  bindValue="type" [(ngModel)]="receiptDataheader.f082fpayeeType" name="f082fpayeeType">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="id > 0">
              <div class="form-group">
                <label>Receipt Number</label>
                <input [disabled]="editDisabled" type="text" class="form-control" name="f082freceiptNumber" [(ngModel)]="receiptDataheader.f082freceiptNumber"
                  placeholder="Amount">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Date</label>
                <input [disabled]="viewDisabled" type="date" class="form-control" name="f082fdate" [(ngModel)]="receiptDataheader.f082fdate"
                  value="" required>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="type == 'ROR'">
              <div class="form-group">
                <label>Debtor Name</label>
                <ng-select [disabled]="viewDisabled" [items]="customerList" (change)="getInvoiceList()" bindLabel="Debtor"
                  bindValue="f021fid" [(ngModel)]="receiptDataheader.f082fidCustomer" name="f082fidCustomer">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="type == 'RSP'">
              <div class="form-group">
                <label>Sponsor </label>
                <ng-select [disabled]="viewDisabled" [items]="sponserList" (change)="getInvoiceList()" bindLabel="Name"
                  bindValue="f063fid" [(ngModel)]="receiptDataheader.f082fidCustomer" name="f082fidCustomer">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="type == 'RSTD'">
              <div class="form-group">
                <label>Student </label>
                <ng-select [disabled]="viewDisabled" [items]="studentList" (change)="getInvoiceList()" bindLabel="f060fname"
                  bindValue="f060fid" [(ngModel)]="receiptDataheader.f082fidCustomer" name="f082fidCustomer">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="type == 'RSTA'">
              <div class="form-group">
                <label>Staff </label>
                <ng-select [disabled]="viewDisabled" (change)="getInvoiceList()" [items]="smartStaffList | sort:'f034fname'"
                  bindLabel="f034fname" bindValue="f034fstaffId" [(ngModel)]="receiptDataheader.f082fidCustomer" name="f082fidCustomer"
                  #dept="ngModel" required>
                </ng-select>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Payment Bank </label>
                <ng-select [disabled]="viewDisabled" [items]="companyBankList | sort:'Bank'" bindLabel="Bank" bindValue="f041fid"
                  [(ngModel)]="receiptDataheader.f082fpaymentBank" name="f082fpaymentBank">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description</label>
                <textarea [disabled]="viewDisabled" maxlength="100" class="form-control" [(ngModel)]="receiptDataheader.f082fdescription"
                  name="f082fdescription" placeholder="Enter Description"></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Total Amount(RM)</label>
                <input type="text" [disabled]="viewDisabled" maxlength="15" class="form-control" style="text-align:right" [(ngModel)]="receiptDataheader.f082ftotalAmount"
                  name="f082ftotalAmount" placeholder="Enter Total Amount">
                <!-- {{receiptamount}}={{paymentamount}} =({{invoiceamount}}+{{noninvoiceamount}}) -->
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <h1 class="ad-page-title">Payment Information</h1>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div id="overlay1"></div>
              <div id="myModal" class=" fade in" role="dialog">
                <div class="modal-content">
                  <p class="maximize-icon">
                    <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                  </p>
                  <p class="minimize-icon hidden">
                    <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                  </p>
                  <div class="modal-body">
                    <table class="table table-bordered table-striped table-food" id="target1">
                      <thead>
                        <tr>
                          <th>Payment Type</th>
                          <th>Terminal ID</th>
                          <th>Reference Number</th>
                          <th>Bank</th>
                          <th>Amount (RM)</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let indinv of receiptPaymentInfoList;let i = index;trackBy:indexTracker;last as isLast">
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="paymentList|sort:'f018fcode'" style="width: 150px"
                              bindLabel="f018fcode" bindValue="f018fid" [(ngModel)]="receiptPaymentInfoList[i].f083fidPayment"
                              name="f083fidPayment">
                            </ng-select>
                          </td>
                          <td>
                            <input [disabled]="viewDisabled" maxlength="8" type="text" class="form-control" [(ngModel)]="receiptPaymentInfoList[i].f083fidTerminal"
                              name="f083fidTerminal" placeholder="Enter Terminal ID">
                          </td>

                          <td>
                            <input [disabled]="viewDisabled" maxlength="10" type="text" class="form-control" placeholder="Enter Reference Number"
                              [(ngModel)]="receiptPaymentInfoList[i].f083freferenceNumber" name="f083freferenceNumber">
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="companyBankList" bindLabel="Bank" bindValue="f041fid"
                              style="width: 150px" [(ngModel)]="receiptPaymentInfoList[i].f083fidBank" name="f083fidBank">
                            </ng-select>
                          </td>
                          <td>
                            <input [disabled]="viewDisabled" maxlength="10" type="text" style="text-align: right"
                              placeholder="Enter Amount" class="form-control" [(ngModel)]="receiptPaymentInfoList[i].f083famount"
                              name="f083famount" (keypress)="onlyNumberKey($event)" (focus)="decreaseReceiptAmount(receiptPaymentInfoList[i].f083famount)" (blur)="increaseReceiptAmount(receiptPaymentInfoList[i].f083famount)"> </td>
                          <td *ngIf="!isLast">
                            <button class="btn nh-btn-primary" type="button" (click)='deletePaymentInfo(receiptPaymentInfoList[i])'
                              *ngIf="viewDisabled==false">
                              <i class="fa fa-minus"></i>
                            </button>
                          </td>

                          <td *ngIf="isLast">
                            <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletePaymentInfo(receiptPaymentInfoList[i])'>
                              <i class="fa fa-minus"></i>
                            </button>
                            <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                              <i class="fa fa-plus"></i>
                            </button>
                        </tr>

                        <tr *ngIf="showLastRow==false">
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="paymentList|sort:'f018fcode'" bindLabel="f018fcode"
                              bindValue="f018fid" [(ngModel)]="receiptPaymentInfoData.f083fidPayment" name="f083fidPayment"
                              style="width: 150px">
                            </ng-select>
                          </td>
                          <td>
                            <input [disabled]="viewDisabled" maxlength="8" type="text" class="form-control" [(ngModel)]="receiptPaymentInfoData.f083fidTerminal"
                              name="f083fidTerminal" placeholder="Enter Terminal ID">
                          </td>
                          <td>
                            <input [disabled]="viewDisabled" maxlength="10" type="text" class="form-control"
                              [(ngModel)]="receiptPaymentInfoData.f083freferenceNumber" name="f083freferenceNumber" placeholder="Enter Reference Number">
                          </td>

                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="companyBankList" bindLabel="Bank" bindValue="f041fid"
                              style="width: 150px" [(ngModel)]="receiptPaymentInfoData.f083fidBank" name="f083fidBank">
                            </ng-select>
                          </td>
                          <td>
                            <input [disabled]="viewDisabled" maxlength="10" type="text" style="text-align: right" placeholder="Enter Amount" class="form-control"
                              [(ngModel)]="receiptPaymentInfoData.f083famount" name="f083famount" (keypress)="onlyNumberKey($event)" (focus)="decreaseReceiptAmount(receiptPaymentInfoData.f083famount)" (blur)="increaseReceiptAmount(receiptPaymentInfoData.f083famount)">
                          </td>
                          <td>
                            <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                              <i class="fa fa-minus"></i>
                            </button>
                            <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addPaymentInfo()'>
                              <i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="text-right">
                      <button (click)='showInvoice()' class="btn nh-btn-primary" *ngIf="showinvoice == 0">Show Invoice
                        Details</button>
                      <button (click)='hideInvoice()' class="btn nh-btn-primary" *ngIf="showinvoice == 1">Hide Invoice
                        Details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="paymentinformation" *ngIf="showinvoice == 1">

            <div class="col-sm-12">
              <h1 class="ad-page-title">Invoice Details</h1>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div id="overlay1"></div>
                <div id="myModal" class=" fade in" role="dialog">
                  <div class="modal-content">
                    <p class="maximize-icon">
                      <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                    </p>
                    <p class="minimize-icon hidden">
                      <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                    </p>
                    <div class="modal-body">
                      <div class="table-responsive credit-note-table-wrapper">

                        <table class="table table-bordered table-striped table-food" id="target2">
                          <thead>
                            <tr>
                              <th>Invoice</th>
                              <th>Credit Fund</th>
                              <th>Credit Activity Code</th>
                              <th>Credit Department</th>
                              <th>Credit Account Code</th>
                              <th>Balance (RM)</th>
                              <th>Amount (RM)</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let indinv of receiptInvoiceList;let i = index;trackBy:indexTracker;last as isLast1">
                              <td>
                                  
                                <ng-select [disabled]="viewDisabled" [items]="maininvoiceList" bindLabel="f071finvoiceNumber"
                                  bindValue="f071fid" style="width: 150px" [(ngModel)]="receiptInvoiceList[i].f084fidInvoice"
                                  name="f084fidInvoice" #fund="ngModel" required>
                                </ng-select>
                              </td>

                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="fundList" bindLabel="f057fname" bindValue="f057fcode"
                                  style="width: 150px" [(ngModel)]="receiptInvoiceList[i].f084fcreditFundCode" name="f084fcreditFundCode"
                                  #fund="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="activitycodeList" bindLabel="f058fname"
                                  bindValue="f058fcompleteCode" style="width: 150px" [(ngModel)]="receiptInvoiceList[i].f084fcreditActivityCode"
                                  name="f084fcreditActivityCode" #activity="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="DeptList" bindLabel="f015fdepartmentName"
                                  bindValue="f015fdepartmentCode" style="width: 150px" [(ngModel)]="receiptInvoiceList[i].f084fcreditDepartmentCode"
                                  name="f084fcreditDepartmentCode" #dept="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="accountcodeList" bindLabel="f059fname"
                                  bindValue="f059fcompleteCode" style="width: 150px" [(ngModel)]="receiptInvoiceList[i].f084fcreditAccountCode"
                                  name="f084fcreditAccountCode" #account="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <input type="text" maxlength="10" class="form-control" style="text-align: right; width: 120px"
                                  name="balance" [(ngModel)]="receiptInvoiceList[i].balance" placeholder="Total"
                                  value="" [disabled]="true">
                              </td>
                              <td>
                                <input type="text" maxlength="10" class="form-control" style="text-align: right; width: 120px"
                                  name="f084ftotal" [(ngModel)]="receiptInvoiceList[i].f084ftotal" placeholder="Total"
                                  value="">
                              </td>
                              <!-- <td *ngIf="!isLast1">
                                <button class="btn nh-btn-primary" type="button" (click)='deleteReceiptInvoiceList(receiptInvoiceList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>
                              <td *ngIf="isLast1">
                                <button *ngIf="listshowLastRowMinus1" class="btn nh-btn-primary" type="button" (click)='deleteReceiptInvoiceList(receiptInvoiceList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus1" class="btn nh-btn-primary" type="button" (click)='showNewRow1()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td> -->
                            </tr>


                            <!-- <tr *ngIf="showLastRow1==false">
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="maininvoiceList" bindLabel="f071finvoiceNumber"
                                  bindValue="f071fid" style="width: 150px" [(ngModel)]="receiptInvoiceData.f084fidInvoice"
                                  name="f084fidInvoice" #account="ngModel" required (change)="getInvoiceAmount()">
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="fundList" bindLabel="f057fname" bindValue="f057fcode"
                                  style="width: 150px" [(ngModel)]="receiptInvoiceData.f084fcreditFundCode" name="f084fcreditFundCode"
                                  #fund="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="activitycodeList" bindLabel="f058fname"
                                  bindValue="f058fcompleteCode" style="width: 150px" [(ngModel)]="receiptInvoiceData.f084fcreditActivityCode"
                                  name="f084fcreditActivityCode" #activity="ngModel" required>
                                </ng-select>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="DeptList" bindLabel="f015fdepartmentName"
                                  bindValue="f015fdepartmentCode" style="width: 150px" [(ngModel)]="receiptInvoiceData.f084fcreditDepartmentCode"
                                  name="f084fcreditDepartmentCode" #dept="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="accountcodeList" bindLabel="f059fname"
                                  bindValue="f059fcompleteCode" style="width: 150px" [(ngModel)]="receiptInvoiceData.f084fcreditAccountCode"
                                  name="f084fcreditAccountCode" #account="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <input type="text" maxlength="10" class="form-control" style="text-align: right; width: 120px"
                                  name="f084ftotal" [(ngModel)]="receiptInvoiceData.f084ftotal" placeholder="Total"
                                  value="">
                              </td>
                              <td>
                                <button *ngIf="showLastRowMinus1" class="btn nh-btn-primary" type="button" (click)='deletemodule1()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus1" class="btn nh-btn-primary" type="button" (click)='addreceiptInvoiceData()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr> -->

                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>Total:{{this.finalAmount}}</td>
                              <td> </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <h1 class="ad-page-title">Non Invoice Details</h1>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div id="overlay1"></div>
                <div id="myModal" class=" fade in" role="dialog">
                  <div class="modal-content">
                    <p class="maximize-icon">
                      <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                    </p>
                    <p class="minimize-icon hidden">
                      <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                    </p>
                    <div class="modal-body">
                      <div class="table-responsive credit-note-table-wrapper">
                        <table class="table table-bordered table-striped credit-note-table" id="target3">
                          <thead>
                            <tr>
                              <th *ngIf="type == 'STD'">Fee Item</th>
                              <th>Fee Item</th>
                              <th>Credit Fund</th>
                              <th>Credit Activity Code</th>
                              <th>Credit Department</th>
                              <th>Credit Account Code</th>

                              <!-- <th>Quantity</th>
                            <th>Price (RM)</th> -->
                              <th>Total (RM)</th>
                              <th>Tax Code</th>
                              <th>In %</th>
                              <th>Tax Amount (RM)</th>
                              <th>Total Inc Tax (RM)</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let indinv of receiptNonInvoiceList;let i = index;trackBy:indexTracker;last as isLast2">
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="feeItemList" bindLabel="f066fname"
                                  bindValue="f066fid" style="width: 150px" [(ngModel)]="receiptNonInvoiceList[i].f084fidItem"
                                  name="f084fidItem" #fund="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="fundList" bindLabel="f057fname" bindValue="f057fcode"
                                  style="width: 150px" [(ngModel)]="receiptNonInvoiceList[i].f084fcreditFundCode" name="f084fcreditFundCode"
                                  #fund="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="activitycodeList" bindLabel="f058fname"
                                  bindValue="f058fcompleteCode" style="width: 150px" [(ngModel)]="receiptNonInvoiceList[i].f084fcreditActivityCode"
                                  name="f084fcreditActivityCode" #activity="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="DeptList" bindLabel="f015fdepartmentName"
                                  bindValue="f015fdepartmentCode" style="width: 150px" [(ngModel)]="receiptNonInvoiceList[i].f084fcreditDepartmentCode"
                                  name="f084fcreditDepartmentCode" #dept="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="accountcodeList" bindLabel="f059fname"
                                  bindValue="f059fcompleteCode" style="width: 150px" [(ngModel)]="receiptNonInvoiceList[i].f084fcreditAccountCode"
                                  name="f084fcreditAccountCode" #account="ngModel" required>
                                </ng-select>
                                <!-- <td>
                              <input [disabled]="viewDisabled" type="text" class="form-control" disabled="disabled"
                                style="width: 75px" placeholder="Enter Quantity"
                                [(ngModel)]="receiptNonInvoiceList[i].f084fquantity" (change)="listamountprefill()"
                                value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                              <input [disabled]="viewDisabled" type="text" class="form-control" disabled="disabled"
                                style="text-align: right; width: 120px"
                                [(ngModel)]="receiptNonInvoiceList[i].f084fprice" (change)="listamountprefill()"
                                name="f084fprice" placeholder="Enter Price" (keypress)="onlyNumberKey($event)">
                            </td> -->
                              <td><input [disabled]="viewDisabled" type="text" class="form-control" 
                                  style="text-align: right; width: 120px" name="f084ftotalExc" (blur)="onBlurMethod()"
                                  [(ngModel)]="receiptNonInvoiceList[i].f084ftotalExc">
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="taxcodeList" bindLabel="taxInformation"
                                  bindValue="f081fid" style="width: 150px" [(ngModel)]="receiptNonInvoiceList[i].f084fidTaxCode"
                                  name="f084fidTaxCode" #account="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <input [disabled]="viewDisabled" type="text" class="form-control" disabled="disabled"
                                  style="width: 65px" [(ngModel)]="receiptNonInvoiceList[i].f084fgstValue" (blur)="onBlurMethod()"
                                  name="f084fgstValue">
                              </td>
                              <td><input [disabled]="viewDisabled" type="text" maxlength="15" class="form-control"
                                  disabled="disabled" style="text-align: right; width: 120px" name="f084ftaxAmount"
                                  (blur)="onBlurMethod()" [(ngModel)]="receiptNonInvoiceList[i].f084ftaxAmount"
                                  placeholder="Tax Amount" value=""></td>
                              <td>

                                <input [disabled]="viewDisabled" type="text" disabled="disabled" class="form-control"
                                  style="text-align: right; width: 130px" (blur)="onBlurMethod()" (keypress)="onlyNumberKey($event)"
                                  [(ngModel)]="receiptNonInvoiceList[i].f084ftotal" name="f084ftotal" placeholder="Total">
                              </td>
                              <td *ngIf="!isLast2">
                                <button class="btn nh-btn-primary" type="button" (click)='deleteReceiptNonInvoice(receiptNonInvoiceList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>
                              <td *ngIf="isLast2">
                                <button *ngIf="listshowLastRowMinus2" class="btn nh-btn-primary" type="button" (click)='deleteReceiptNonInvoice(receiptNonInvoiceList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus2" class="btn nh-btn-primary" type="button" (click)='showNewRow2()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                            </tr>
                            <tr *ngIf="showLastRow2==false">
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="feeItemList" bindLabel="f066fname"
                                  bindValue="f066fid" style="width: 150px" [(ngModel)]="receiptNonInvoiceData.f084fidItem"
                                  name="f084fidItem" #fund="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="fundList" bindLabel="f057fname" bindValue="f057fcode"
                                  style="width: 150px" [(ngModel)]="receiptNonInvoiceData.f084fcreditFundCode" name="f084fcreditFundCode"
                                  #fund="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="activitycodeList" bindLabel="f058fname"
                                  bindValue="f058fcompleteCode" style="width: 150px" [(ngModel)]="receiptNonInvoiceData.f084fcreditActivityCode"
                                  name="f084fcreditActivityCode" #activity="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="DeptList" bindLabel="f015fdepartmentName"
                                  bindValue="f015fdepartmentCode" style="width: 150px" [(ngModel)]="receiptNonInvoiceData.f084fcreditDepartmentCode"
                                  name="f084fcreditDepartmentCode" #dept="ngModel" required>
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="accountcodeList" bindLabel="f059fname"
                                  bindValue="f059fcompleteCode" style="width: 150px" [(ngModel)]="receiptNonInvoiceData.f084fcreditAccountCode"
                                  name="f084fcreditAccountCode" #account="ngModel" required>
                                </ng-select>
                              </td>
                              <!-- <td>
                              <input [disabled]="viewDisabled" type="text" maxlength="10" style="width: 75px"
                                class="form-control" placeholder="Enter Quantity" name="f084fquantity"
                                (blur)="amountprefill()" [(ngModel)]="receiptNonInvoiceData.f084fquantity">
                            </td>
                            <td>
                              <input [disabled]="viewDisabled" type="text" maxlength="10"
                                style="text-align: right; width: 120px" class="form-control" name="f084fprice"
                                (blur)="amountprefill()" [(ngModel)]="receiptNonInvoiceData.f084fprice"
                                placeholder="Enter Price" (keypress)="onlyNumberKey($event)">
                            </td> -->
                              <td><input type="text" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                                  name="f084ftotalExc" [(ngModel)]="receiptNonInvoiceData.f084ftotalExc" placeholder="Total"></td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="taxcodeList" bindLabel="taxInformation"
                                  bindValue="f081fid" style="width: 150px" [(ngModel)]="receiptNonInvoiceData.f084fidTaxCode"
                                  name="f084fidTaxCode" (change)="getGstvalue()" #account="ngModel"
                                  required>
                                </ng-select>
                              </td>
                              <td>
                                <input [disabled]="viewDisabled" type="text" disabled="disabled" maxlength="15" style="width: 65px"
                                  class="form-control" name="f084fgstValue" [(ngModel)]="receiptNonInvoiceData.f084fgstValue"
                                  placeholder="" value="">
                              </td>
                              <td><input [disabled]="viewDisabled" type="text" disabled="disabled" maxlength="15" class="form-control"
                                  style="text-align: right; width: 120px" name="f084ftaxAmount" [(ngModel)]="receiptNonInvoiceData.f084ftaxAmount"
                                  placeholder="Tax Amount" (blur)="onBlurMethod()" value=""></td>
                              <td>
                                <input [disabled]="viewDisabled" type="text" disabled="disabled" maxlength="10" class="form-control"
                                  name="f084ftotal" style="text-align: right;width: 130px" [(ngModel)]="receiptNonInvoiceData.f084ftotal"
                                  placeholder="Total">
                              </td>
                              <td>
                                <button *ngIf="showLastRowMinus2" class="btn nh-btn-primary" type="button" (click)='deletemodule2()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus2" class="btn nh-btn-primary" type="button" (click)='addReceiptNonInvoicelist()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>

                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>Total:{{this.nonInvoiceAmount}}</td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="idview==2">
            <div class="col-sm-12">
              <label>Remarks</label>
              <textarea class="form-control" [(ngModel)]="invoiceapprovalData.reason" name="reason" placeholder="Enter  Remarks "></textarea>
            </div>
          </div>
          <div class="text-right" *ngIf="idview==2">
            <button type="submit" (click)='ApprovalListData()' class="btn nh-btn-primary">Approve</button>
            <button type="reject" (click)='regectJournalApprovalListData()' class="btn nh-btn-primary">Reject</button>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/accountsrecivable/receiptlist']" *ngIf="idview!=2" class="btn nh-btn-secondary">Cancel</a>
                <a [routerLink]="['/accountsrecivable/receiptapproval']" *ngIf="idview==2" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveReceipt()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>