<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Discount Note Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group um-search-wrapper">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="discountList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f024freferenceNumber">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f024fdate">Discount Note Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f025fdiscountAmount">Discount Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inddiscountnoteapproval of mf.data">
                                <td>{{inddiscountnoteapproval.f024freferenceNumber}}</td>
                                <td>{{inddiscountnoteapproval.f071finvoiceNumber}}</td>
                                <td>{{inddiscountnoteapproval.f024fdate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{inddiscountnoteapproval.f025fdiscountAmount | number:'.2'}}</td>
                                <!-- <td>
                                    <input type="checkbox" [(ngModel)]="inddiscountnoteapproval.f024fapprovalStatus">
                                </td> -->
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountsrecivable/viewdiscount/{{inddiscountnoteapproval.f024fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="invoiceapprovalData.reason" name="reason"
                                placeholder="Enter  Description "></textarea>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" (click)='ApprovalListData()' class="btn nh-btn-primary">Approve</button>
                        <button type="reject" (click)='regectApprovalListData()' class="btn nh-btn-primary">Reject</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>