<div class="ps-right-section">

  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Loan Payment History</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addLoanPayment()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Staff<span class="required-class">*</span></label>
                  <ng-select [items]="staffList" bindLabel="f034fname" bindValue="f034fstaffId" [(ngModel)]="loanpaymentData.f148fstaff"
                    name="f148fstaff" #staff="ngModel" required (change)="getLoans()">
                  </ng-select>

                  <span *ngIf="staff.errors && (staff.dirty || staff.touched || f.submitted )" class="form-errors">*Select
                    Staff.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Loan<span class="required-class">*</span></label>
                  <ng-select [items]="loanList" bindLabel="loanName" bindValue="f043fid" [(ngModel)]="loanpaymentData.f148fidLoan"
                  name="f148fidLoan" #loan="ngModel" required (change)="getAmount()">
                </ng-select>
                  <span *ngIf="loan.errors && (loan.dirty || loan.touched || f.submitted )" class="form-errors">*Select Loan</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Amount (RM)<span class="required-class">*</span></label>
                  <input type="text" maxlength="15" class="form-control"  name="f148famount"
                    placeholder="Enter Amount" (keypress)="onlyNumberKey($event)" [(ngModel)]="loanpaymentData.f148famount" value="" required
                    #amount="ngModel">
                  <span *ngIf="amount.errors && (amount.dirty || amount.touched || f.submitted )" class="form-errors">*Enter
                    Amount</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/loan/loanpayment']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>