<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id='target'>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Batch Number Generate</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3" *ngIf="id > 0">
              <div class="form-group">
                <label>Reference Number<span class="required-class">*</span></label>
                <input type="text" class="form-control" name="refnumber" placeholder=" " [(ngModel)]="batchDataheader.f050freferenceNumber"
                  value="">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Date<span class="required-class">*</span></label>
                <input [disabled]="viewDisabled" type="date" class="form-control" name="date" placeholder="Enter Date "
                  [(ngModel)]="batchDataheader.f050fdate" value="">
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label>UUM Bank<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="banksetupaccountList" bindLabel="Bank" bindValue="f041fid"
                  [(ngModel)]="batchDataheader.f050fpaymentBank" name="f050fpaymentBank" (change)="getReceipts()">
                </ng-select>
              </div>
            </div>
            <!-- <div class="col-sm-3">
              <div class="form-group">
                <label>Batch Number<span class="required-class">*</span></label>
                <input type="text" maxlength="10" class="form-control" name="batchnumber" placeholder="Enter Batch Number "
                  [(ngModel)]="batchDataheader.f050fbatchNumber" value="">
              </div>
            </div> -->
            <div class="col-sm-4">
                <div class="form-group">
                  <label>Payment Type<span class="required-class">*</span></label>
                  <ng-select [items]="paymentList | sort:'f018fcode'" bindLabel="f018fcode" bindValue="f018fid" [(ngModel)]="batchDataheader.f050fpaymentType"
                    name="f050fpaymentType" required>
                  </ng-select>
                </div>
              </div>
          </div>
          <div class="row">
            <table class="table table-bordered table-striped table-food" id='target1'>
              <thead>
                <tr>
                  <th>Receipt</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indbatch of batchList;let i = index;trackBy:indexTracker;last as isLast">
                  <td style="width:160px;">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <ng-select [disabled]="viewDisabled" [items]="receiptsList" bindLabel="f082freceipt_number"
                          bindValue="f082fid" [(ngModel)]="batchList[i].f051fidReceipt" name="f051fidReceipt">
                        </ng-select>
                      </div>
                    </div>
                  </td>
                  <td *ngIf="!isLast">
                    <button class="btn nh-btn-primary" type="button" (click)='deletecashadvanceapp(cashadvanceappList[i])'
                      *ngIf="viewDisabled==false">
                      <i class="fa fa-minus"></i>
                    </button>
                  </td>
                  <td *ngIf="isLast">
                    <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletebatchgenerate(batchList[i])'>
                      <i class="fa fa-minus"></i>
                    </button>
                    <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>
                <tr *ngIf="showLastRow==false">
                  <td style="width:160px;">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <ng-select [disabled]="viewDisabled" [items]="receiptsList" bindLabel="f082freceiptNumber"
                          bindValue="f082fid" [(ngModel)]="batchData.f051fidReceipt" name="f051fidReceipt">
                        </ng-select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                      <i class="fa fa-minus"></i>
                    </button>
                    <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addbatchgeneratelist()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/accountsrecivable/batchgenerate" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='savebatchgenerate()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>