<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">SAB List</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountspayable/addnewetf']" class="btn nh-btn-primary">Add </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="etfDetails | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f093fvoucherNo">Batch ID</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f093fpaymentRefNo">Payment Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="paymentType">Payment Type </mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f093fdescription">Voucher Type</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="PaymentMode">Bank Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="totalAmount">Amount(RM) </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f136fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit/view</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indpaymentvoucherList of mf.data">
                <td>{{indpaymentvoucherList.f136fbatchId}}</td>
                <td>{{indpaymentvoucherList.f136freferenceNumber}}</td>
                <td>{{indpaymentvoucherList.paymentName}}</td>
                <td>{{indpaymentvoucherList.voucherName}}</td>
                <td>{{indpaymentvoucherList.f042fbankName}}</td>
                <td class="amountAlign">{{indpaymentvoucherList.f136famount | number: '.2' }}</td>
                <td>{{indpaymentvoucherList.f136fstatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountspayable/editnewetf/{{indpaymentvoucherList.f136fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indpaymentvoucherList.f136fstatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indpaymentvoucherList.f136fstatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indpaymentvoucherList.f136fstatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>