<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelone']">Payroll
                                    Tax Schedule</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/leveltwo']"> Payroll
                                    Tax Exemption</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelthree']">
                                    Payroll
                                    EPF Contribution per Month</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelfour']"> Payroll
                                    IT Deduction</a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title"> IT Deduction</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">

                    <thead>
                        <tr>

                            <th>Reference Number</th>
                            <th>Description</th>
                            <th>Limit</th>
                            <th>Combine Limit</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let indlevelfour of levelfourList; let i = index;last as isLast">
                            <td>
                                <input type="text" class="form-control"  name="f064freferenceNumber" placeholder="Enter Reference Number"
                                    [(ngModel)]="levelfourList[i].f064freferenceNumber" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control"  name="f064fdescription" placeholder="Enter Description"
                                    [(ngModel)]="levelfourList[i].f064fdescription" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="f064flimit" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourList[i].f064flimit" (keypress)="onlyNumberKey($event)" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="f064fcombineLimit" placeholder="Enter Combine Limit"
                                    [(ngModel)]="levelfourList[i].f064fcombineLimit" (keypress)="onlyNumberKey($event)" value="">
                            </td>

                            <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" type="button" (click)='deletelevelfour(levelfourList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletelevelfour(levelfourList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="showLastRow==false">
                            <td>
                                <input type="text" class="form-control" maxlength="10 " name="f064freferenceNumber" placeholder="Enter Reference Number"
                                    [(ngModel)]="levelfourData.f064freferenceNumber" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="10" name="f064fdescription" placeholder="Enter Description"
                                    [(ngModel)]="levelfourData.f064fdescription" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="10" name="f064flimit" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourData.f064flimit" (keypress)="onlyNumberKey($event)" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="10" name="f064fcombineLimit" placeholder="Enter Combine Limit"
                                    [(ngModel)]="levelfourData.f064fcombineLimit" (keypress)="onlyNumberKey($event)" value="">
                            </td>

                            <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addLevelfour()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            <!-- <td>
                                <button class="btn nh-btn-primary" type="button" (click)='addLevelfour()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td> -->
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/payroll/levelfour" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveLevelfour()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>