<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Fee Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCurrencyratesetup()" #f="ngForm" name="form" novalidate>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Fee Type Name<span class="required-class">*</span></label>
                                        <input type="text" maxlength="25" class="form-control"
                                            name="f120fname" placeholder="Enter Fee Type Name" [(ngModel)]="feetypeData.f120fname"
                                            value="" required #name="ngModel">
                                        <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                                            the Fee Type Name</span>


                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Fee Type Code<span class="required-class">*</span></label>
                                        <input type="text" maxlength="10" class="form-control"
                                            name="f120fcode" placeholder="Enter Fee Type Code" [(ngModel)]="feetypeData.f120fcode"
                                            value="" required #code="ngModel">
                                        <span *ngIf=" code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*Enter
                                            the Fee Type Code</span>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Fee Category Name<span class="required-class">*</span></label>
                                        <ng-select [items]="feecategoryList|sort:'f065fname'" bindLabel="f065fname"
                                            bindValue="f065fid" [(ngModel)]="feetypeData.f120fidCategory" name="f120fidCategory"
                                            #category="ngModel" required>
                                        </ng-select>
                                        <span *ngIf=" category.errors && (category.dirty || category.touched || f.submitted)"
                                            class="form-errors">*Select Fee Category Name</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div [className]="'active'"></div>
                                        <label>Status</label>
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="feetypeData.f120fstatus"
                                            [checked]="feetypeData.f120fstatus === '1'" [value]="1"> Active
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="feetypeData.f120fstatus"
                                            [checked]="feetypeData.f120fstatus === '0'" [value]="0"> Inactive
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/studentfinance/feetype" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>