<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Student</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <!-- <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewstudent']" class="btn nh-btn-primary">Add</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="studentList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>

                                <th>
                                    <mfDefaultSorter by="f060fmatricNumber">Matric Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f060ficNumber">IC Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f060fname">Student Name</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="countryName">Country</mfDefaultSorter>
                                </th> -->
                                <!-- <th>
                                    <mfDefaultSorter by="stateName">State</mfDefaultSorter>
                                </th> -->
                                <!-- <th>
                                    <mfDefaultSorter by="f060fcity">City</mfDefaultSorter>
                                </th> -->
                                <!-- <th>
                                    <mfDefaultSorter by="program">Programme</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="intake">Intake</mfDefaultSorter>
                                </th>-->
                                <th>
                                    <mfDefaultSorter by="f060ftype">Type</mfDefaultSorter>
                                </th> 
                                <th>
                                    <mfDefaultSorter by="f060fstatus">Status</mfDefaultSorter>
                                </th>
                                <!-- <th><mfDefaultSorter by="f060faddress">Address</mfDefaultSorter></th> -->

                                <!-- <th>Edit</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indstudent of mf.data">
                                <td>{{indstudent.f060fmatricNumber}}</td>
                                <td>{{indstudent.f060ficNumber}}</td>
                                <td>{{indstudent.f060fname}}</td>
                                <!-- <td>{{indstudent.countryName}}</td> -->
                                <!-- <td>{{indstudent.stateName}}</td> -->
                                <!-- <td>{{indstudent.f060fcity}}</td> -->
                                <!-- <td>{{indstudent.Programme}}</td> -->
                                <!-- <td>{{indstudent.intake}}</td> -->
                                <!-- <td>{{indstudent.semester}}</td> -->
                                <td>{{indstudent.f060ftype}}</td>
                                <td>{{indstudent.f060fstatus == 1?'Active':'Inactive'}}</td>


                                <!-- <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editstudent/{{indstudent.f060fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                        <td colspan="12">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>