<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Order Type </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addItemsetup()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Order Type <span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f081forderType"
                                        placeholder="Enter Order Type" [(ngModel)]="orderTypeData.f081forderType" value=""
                                        required #Name="ngModel">
                                    <span *ngIf="Name.errors && (Name.dirty || Name.touched || f.submitted )" class="form-errors">*Enter
                                        the Order Type
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Order Type Description<span class="required-class">*</span></label>
                                    <input type="text" maxlength="150" class="form-control" name="f081fdescription"
                                        placeholder="Enter Order Type Description" [(ngModel)]="orderTypeData.f081fdescription"
                                        value="" required #ordertype="ngModel">
                                    <span *ngIf="ordertype.errors && (ordertype.dirty || ordertype.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter the Order Type Description</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code<span class="required-class">*</span></label>
                                    <select class="form-control" [(ngModel)]="orderTypeData.f081faccountCode" name="f081faccountCode"
                                        value="" required #Code="ngModel">
                                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                        <option *ngFor="let indacccode of accountcodeList" [value]="indacccode.f059fcompleteCode">{{indacccode.f059fcompleteCode}}
                                            - {{indacccode.f059fname}}
                                        </option>
                                    </select>
                                    <span *ngIf="Code.errors && (Code.dirty || Code.touched || f.submitted )" class="form-errors">*Select
                                        Account Code
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="orderTypeData.f081fstatus" [checked]="orderTypeData.f081fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="orderTypeData.f081fstatus" [checked]="orderTypeData.f081fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/procurement/ordertype']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>