<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">User</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/generalsetup/addnewuser']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="userList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                  <th><mfDefaultSorter by="f034fname">Staff</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f014fuserName">User ID</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f014femail">Email</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f014fstatus">Status</mfDefaultSorter></th>
    
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let induser of mf.data ">

                <td>{{induser.f034fname}}-{{induser.f034fgrade_id}}</td>
                <td>{{induser.f014fuserName}}</td>
                <td>{{induser.f014femail}}</td>
                <!-- <td *ngIf="{{induser.f014fstatus == 1}}">Approved</td> -->
                <!-- <td *ngIf="f014fstatus == 1">Approved</td> -->
                <td>{{induser.f014fstatus}}</td>

                <td class="actions-col" >
                  <div class="nh-btn-group">
                    <a routerLink="/generalsetup/edituser/{{induser.f014fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="induser.f014fstatus == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="induser.f014fstatus == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="induser.f014fstatus == 'Rejected'"></i>

                    </button>
                    </a>

                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>