<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Legal Information</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && saveLegalinformation()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Legal Associate<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="f026fname" placeholder="Enter Legal Associate "
                      [(ngModel)]="legalinfoDataheader.f026fname" value="" required #name="ngModel">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Email<span class="required-class">*</span> </label>
                    <input type="text" maxlength="50" class="form-control" name="f026femail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                      placeholder="Enter Email" [(ngModel)]="legalinfoDataheader.f026femail" required #Email="ngModel">
                    <span *ngIf="Email.errors && (Email.dirty || Email.touched || f.submitted)" class="form-errors">*
                      Enter the Valid Email</span>
                  </div>
                </div>
                <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label>Address<span class="required-class">*</span> </label>
                    <input type="text" maxlength="100" class="form-control" name="f026faddress" placeholder="Enter Address"
                      [(ngModel)]="legalinfoDataheader.f026faddress" value="" required #Address="ngModel">
                  </div>
                </div> -->
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Fax Number<span class="required-class">*</span> </label>
                    <input type="text" maxlength="10" class="form-control" name="f026ffax" placeholder="Enter Fax Number"
                      [(ngModel)]="legalinfoDataheader.f026ffax" value="" required #Fax="ngModel">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Phone Number<span class="required-class">*</span> </label>
                    <input type="text" maxlength="12" pattern="^\d{12}$" class="form-control" name="f026fphone"
                      placeholder="Enter Phone Number" (keypress)="onlyNumberKey($event)" [(ngModel)]="legalinfoDataheader.f026fphone"
                      value="" required #Number="ngModel">
                    <span *ngIf=" Number.errors && (Number.dirty || Number.touched || f.submitted)" class="form-errors">*
                      Enter the Valid Phone Number.</span>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="row">
            <div id="overlay1"></div>
            <div id="myModal" class=" fade in" role="dialog">
              <div class="modal-content">
                <p class="maximize-icon">
                  <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                </p>
                <p class="minimize-icon hidden">
                  <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                </p>
                <div class="modal-body">
                  <table class="table table-bordered table-striped table-food">
                    <thead>
                      <tr>
                        <th>Student Name</th>
                        <th>Description</th>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let inddebitinfo of legalinformationList;let i = index;trackBy:indexTracker;last as isLast">
                        <td>
                          <!-- <select class="form-control" [(ngModel)]="legalinformationList[i].f026fidStudent" name="f026fidStudent"
                      value="">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indstudent of studentList" [value]="indstudent.f060fid">{{
                        indstudent.f060fname }}
                      </option>
                    </select> -->
                          <ng-select [items]="studentList | sort: 'f060fname'" bindLabel="f060fname" bindValue="f060fid"
                            style="width: 400px;" [(ngModel)]="legalinformationList[i].f026fidStudent" name="f026fidStudent"
                            #student="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <input type="text" maxlength="100" class="form-control" [(ngModel)]="legalinformationList[i].f026fdescription"
                            name="f026fdescription" style="width: 400px;" placeholder="Enter Description" value="">
                        </td>

                        <!-- <td>
                    <input type="button" name="delete" (click)='deletelegalinformation(legalinformationList[i])' value='Delete'
                      class="btn nh-btn-primary" />
                  </td> -->
                        <td *ngIf="!isLast">
                          <button class="btn nh-btn-primary" type="button" (click)='deletelegalinformation(legalinformationList[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>
                        <td *ngIf="isLast">
                          <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletelegalinformation(legalinformationList[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                        <!-- <td>
                    <button class="btn nh-btn-primary" type="button" (click)='deletelegalinformation(legalinformationList[i])'>
                      <i class="fa fa-minus"></i>
                    </button>
                  </td> -->
                      </tr>
                      <tr *ngIf="showLastRow==false">
                        <td>
                          <!-- <select class="form-control" [(ngModel)]="legalinformationData.f026fidStudent" name="f026fidStudent"
                      value="">
                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let indstudent of studentList" [value]="indstudent.f060fid">{{
                        indstudent.f060fname }}
                      </option>
                    </select> -->
                          <ng-select [items]="studentList | sort: 'f060fname'" bindLabel="f060fname" bindValue="f060fid"
                            style="width: 400px;" [(ngModel)]="legalinformationData.f026fidStudent" name="f026fidStudent"
                            #student="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <input type="text" maxlength="100" class="form-control" [(ngModel)]="legalinformationData.f026fdescription"
                            name="f026fdescription" style="width: 400px;" placeholder="Enter description" value="">
                        </td>
                        <!-- <td>
                    <input type="button" name="add" (click)='addlegalinformationlist()' value='ADD' class="btn nh-btn-primary" />
                  </td> -->
                        <td>
                          <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addlegalinformationlist()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                        <!-- <td>
                    <button class="btn nh-btn-primary" type="button" (click)='addlegalinformationlist()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td> -->
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/studentfinance/legalinformation" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveLegalinformation()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>