<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Cash Advance Rate</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <form (ngSubmit)="f.form.valid && addCashadvancerate()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Type<span class="required-class">*</span></label>
                                    <ng-select [items]="stafftypeList | sort:'f116fstaffType'" bindLabel="f116fstaffType"
                                        bindValue="f116fid" [(ngModel)]="cashadvancerateData.f117fstaffType" name="f117fstaffType"
                                        #stafftype="ngModel" required class="formm-control">
                                    </ng-select>
                                    <span *ngIf="stafftype.errors && (stafftype.dirty || stafftype.touched || f.submitted)"
                                        class="form-errors">*Select Staff Type</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>From Position Grade<span class="required-class">*</span></label>
                                    <input type="text" maxlength="20" class="form-control" class="form-control" name="f117ffromPositionGrade"
                                        placeholder="Enter From Position Grade" [(ngModel)]="cashadvancerateData.f117ffromPositionGrade"
                                        value="" required #from="ngModel">
                                    <span *ngIf="from.errors && (from.dirty || from.touched || f.submitted)" class="form-errors">*Enter
                                        the From Position Grade</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>To Position Grade<span class="required-class">*</span></label>
                                    <input type="text" maxlength="20" class="form-control" class="form-control" name="f117ftoPositionGrade"
                                        placeholder="Enter To Position Grade" [(ngModel)]="cashadvancerateData.f117ftoPositionGrade"
                                        value="" required #to="ngModel">
                                    <span *ngIf="to.errors && (to.dirty || to.touched || f.submitted)" class="form-errors">*Enter
                                        the To Position Grade</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Amount (RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" class="form-control" class="form-control" style="text-align: right"
                                        (keypress)="onlyNumberKey($event)" name="f117famount" placeholder="Enter Amount"
                                        [(ngModel)]="cashadvancerateData.f117famount" value="" required #amount="ngModel">
                                    <span *ngIf="amount.errors && (amount.dirty || amount.touched || f.submitted)"
                                        class="form-errors">*Enter the Amount</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="cashadvancerateData.f117fstatus"
                                        [checked]="cashadvancerateData.f117fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="cashadvancerateData.f117fstatus"
                                        [checked]="cashadvancerateData.f117fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/cashadvances/cashadvancerate']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>