<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="id==0">Apply Loan</h1>
          <h1 class="ad-page-title" *ngIf="idview==11">Apply Loan</h1>
          <h1 class="ad-page-title" *ngIf="idview==12">Apply Loan</h1>
          <h1 class="ad-page-title" *ngIf="idview==1">Guarantor Approval</h1>
          <h1 class="ad-page-title" *ngIf="idview==3">HOD Approval</h1>
          <h1 class="ad-page-title" *ngIf="idview==4">Loan Checking</h1>
          <h1 class="ad-page-title" *ngIf="idview==5">Verify Loan</h1>
          <h1 class="ad-page-title" *ngIf="idview==6">Bursar Approval</h1>
          <h1 class="ad-page-title" *ngIf="idview==8">Registrar Approval</h1>
          <h1 class="ad-page-title" *ngIf="idview==7">Vice Chancellor</h1>
          <h1 class="ad-page-title" *ngIf="idview==9">Offer Loan</h1>
          <h1 class="ad-page-title" *ngIf="idview==10">View Loan</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid" #f="ngForm" name="form" novalidate>
            <div class="row">
              <table class="table table-bordered table-striped table-food">
                <tr>
                  <td width='40%'>Loan Type</td>
                  <td>
                    <ng-select disabled="disabled" [items]="loannameList | sort:'f020floanName'" bindLabel="f020floanName"
                      bindValue="f020fid" [(ngModel)]="vehicleloanData.f043fidLoanName" name="f043fidLoanName" #name="ngModel"
                      (change)="getLoanTypeDetails()">
                    </ng-select>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Select
                      Loan Type</span>
                  </td>
                </tr>
                <tr *ngIf="typeofLoan=='Vehicle Loan'">
                  <td width='40%'>Vehicle Condition</td>
                  <td>
                    <ng-select [items]="Vehiclelist" disabled="disabled" bindLabel="name" bindValue="id" [(ngModel)]="vehicleloanData.f043fvehicleCondition"
                      name="f043fvehicleCondition" #vehiclecond="ngModel" (change)="hideDetailsOfNew()">
                    </ng-select>
                    <span *ngIf="vehiclecond.errors && (vehiclecond.dirty || vehiclecond.touched || f.submitted)" class="form-errors">*Select
                      Vehicle Condition</span>
                  </td>
                </tr>
              </table>
              <table class="table table-bordered table-striped table-food">
                <tr>
                  <td width='40%'>Employee Name</td>
                  <td>
                    <ng-select [items]="smartStaffList" bindLabel="gradeCustomerName" bindValue="f034fstaffId"
                      [(ngModel)]="vehicleloanData.f043fempName" name="f043fempName" disabled>
                    </ng-select>
                  </td>
                </tr>
                <tr>
                  <td>IC NO</td>
                  <td> <input type="text" maxlength="20" class="form-control" name="f043icnumber" [(ngModel)]="vehicleloanData.f043icnumber"
                      value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Staff No</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="f034fstaffId"
                      [(ngModel)]="vehicleloanData.f034fstaffId" value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Department</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="departmentName"
                      [(ngModel)]="vehicleloanData.departmentName" value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Head of Department</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="hod"
                      [(ngModel)]="vehicleloanData.f034freportingName" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Unit</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="Unit"
                      [(ngModel)]="vehicleloanData.Unit" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Designation</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="designation"
                      [(ngModel)]="vehicleloanData.designation" value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Designation Status</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="designation status"
                      [(ngModel)]="vehicleloanData.designationStatus" value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Status</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="Status"
                      [(ngModel)]="vehicleloanData.Status" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Date of Report</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="dor"
                      [(ngModel)]="vehicleloanData.dor" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Confirmation Date</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="cd" [(ngModel)]="vehicleloanData.cd"
                      value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Basic Salary</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="bs" [(ngModel)]="vehicleloanData.bs"
                      value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Fixed Allowance</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="fa" [(ngModel)]="vehicleloanData.fa"
                      value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Acting Allowance</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="aa" [(ngModel)]="vehicleloanData.aa"
                      value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Total Monthly Deduction</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="tmd"
                      [(ngModel)]="vehicleloanData.tmd" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Address</td>
                  <td> <input type="text" readonly="readonly" maxlength="500" class="form-control" name="address"
                      [(ngModel)]="vehicleloanData.address" value="" #reference="ngModel">
                </tr>
              </table>
              <div class="col-sm-12" *ngIf="hideUsedDetails==1">
                <h1 class="ad-page-title">Used Vehicle Details </h1>
              </div>
              <table class="table table-bordered table-striped ta" *ngIf="hideUsedDetails==1">
                <tr>
                  <td width='40%'>Chassis Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fchasisNo" [(ngModel)]="vehicleloanData.f043fchasisNo"
                      value="" #Chassis="ngModel" disabled>
                    <span *ngIf="Chassis.errors && (Chassis.dirty || Chassis.touched || f.submitted )" class="form-errors">*Enter
                      the Chassis Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>Engine Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fengineNo" [(ngModel)]="vehicleloanData.f043fengineNo"
                      value="" #Engine="ngModel" disabled>
                    <span *ngIf="Engine.errors && (Engine.dirty || Engine.touched || f.submitted )" class="form-errors">*Enter
                      the Engine Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>Vehicle Registration Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fregistrationNo" [(ngModel)]="vehicleloanData.f043fregistrationNo"
                      value="" #Registration="ngModel" disabled>
                    <span *ngIf="Registration.errors && (Registration.dirty || Registration.touched || f.submitted )"
                      class="form-errors">*Enter
                      the Vehicle Registration Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>JKR Evaluation Amount(RM)</td>
                  <td> <input type="number" maxlength="15" style="text-align: right" class="form-control" name="f043fjkrAmount"
                      [(ngModel)]="vehicleloanData.f043fjkrAmount" value="" #JKR="ngModel" disabled>
                    <span *ngIf="JKR.errors && (JKR.dirty || JKR.touched || f.submitted )" class="form-errors">*Enter
                      the JKR Evaluation Amount.</span></td>
                </tr>
                <tr>
                  <td width='40%'>IC Number./Owner Registration Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043ficNo" [(ngModel)]="vehicleloanData.f043ficNo"
                      value="" #Owner="ngModel" disabled>
                    <span *ngIf="Owner.errors && (Owner.dirty || Owner.touched || f.submitted )" class="form-errors">*Enter
                      the IC Number./Owner Registration Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>JKR Evaluation Certificate Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fjkrCertificateNo" [(ngModel)]="vehicleloanData.f043fjkrCertificateNo"
                      value="" #Evaluation="ngModel" disabled>
                    <span *ngIf="Evaluation.errors && (Evaluation.dirty || Evaluation.touched || f.submitted )" class="form-errors">*Enter
                      the JKR Evaluation Certificate Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>JKR Evaluation Period</td>
                  <td>
                    <ng-select [items]="jkrList | sort: 'name'" bindLabel="name" bindValue="id" [(ngModel)]="vehicleloanData.f043fjkrPeriod"
                      name="f043fjkrPeriod" #Period="ngModel" required disabled>
                    </ng-select>
                    <span *ngIf="Period.errors && (Period.dirty || Period.touched || f.submitted)" class="form-errors">*Select
                      JKR Evaluation Period</span>
                  </td>
                </tr>
              </table>
              <div class="col-sm-12" *ngIf="hideNewDetails==1">
                <h1 class="ad-page-title"> Details </h1>
              </div>
              <table class="table table-bordered table-striped table-food" *ngIf="hideNewDetails==1">
                <tr *ngIf="typeofLoan=='Vehicle Loan'">
                  <td width='40%'>Manufacturer</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fmanufacturer" [(ngModel)]="vehicleloanData.f043fmanufacturer"
                      value="" #manufacture="ngModel" disabled>
                    <span *ngIf="manufacture.errors && (manufacture.dirty || manufacture.touched || f.submitted )"
                      class="form-errors">*Enter
                      the Manufacturer.</span></td>
                </tr>
                <tr>
                  <td>Model</td>
                  <td> <input type="text" maxlength="10" class="form-control" name="f043fmodel" [(ngModel)]="vehicleloanData.f043fmodel"
                      value="" #model="ngModel" disabled>
                    <span *ngIf="model.errors && (model.dirty || model.touched || f.submitted )" class="form-errors">*Enter
                      the Model
                      .</span></td>
                </tr>
                <tr *ngIf="typeofLoan=='Vehicle Loan'">
                  <td>CC</td>
                  <td> <input type="text" maxlength="5" class="form-control" name="f043fcc" [(ngModel)]="vehicleloanData.f043fcc"
                      value="" #cc="ngModel" disabled>
                    <span *ngIf="cc.errors && (cc.dirty || cc.touched || f.submitted )" class="form-errors">*Enter
                      the
                      CC .</span></td>
                </tr>
                <tr *ngIf="showVendor!='Vendor'">
                  <td>Dealer</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fcompanyName" [(ngModel)]="vehicleloanData.f043fcompanyName"
                      value="" #cmpname="ngModel" disabled>
                    <span *ngIf="cmpname.errors && (cmpname.dirty || cmpname.touched || f.submitted )" class="form-errors">*Enter
                      the Dealer.</span></td>
                </tr>
                <tr *ngIf="typeofLoan=='Vehicle Loan'">
                  <td width='40%'>Driving License</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fdrivingLicense" [(ngModel)]="vehicleloanData.f043fdrivingLicense"
                      value="" #driving="ngModel" disabled>
                    <span *ngIf="driving.errors && (driving.dirty || driving.touched || f.submitted )" class="form-errors">*Enter
                      the Driving License .</span></td>
                </tr>
              </table>
              <div class="row">
                <div class="col-sm-12">
                  <h1 class="ad-page-title">Loan Details</h1>
                </div>
              </div>
              <table class="table table-bordered table-striped table-food">
                <tr *ngIf="showVendor=='Vendor'">
                  <td width='40%'>Vendor</td>
                  <td>
                    <ng-select [items]="supplierListNew" bindLabel="f030fcompanyName" bindValue="f030fid" [(ngModel)]="vehicleloanData.f043fidVendor"
                      name="f043fidVendor" #Vendor="ngModel" disabled>
                    </ng-select>
                </tr>
                <tr>
                  <td>Purchase Price(RM)</td>
                  <td> <input type="text" maxlength="15" class="form-control amountAlign" style="text-align: right"
                      name="f043fpurchasePrice" [(ngModel)]="vehicleloanData.f043fpurchasePrice" value=""
                      #purchaseprice="ngModel" (keypress)="onlyNumberKey($event)" disabled>
                    <span *ngIf="purchaseprice.errors && (purchaseprice.dirty || purchaseprice.touched || f.submitted )"
                      class="form-errors">*Enter the Purchase Price
                      .</span></td>
                </tr>
                <tr>
                  <td>Insurance</td>
                  <td>
                    <ng-select disabled="disabled" [items]="insurancecompanyList | sort:'f101fproductName'" bindLabel="f101fproductName"
                      bindValue="f101fid" [(ngModel)]="vehicleloanData.f043finsuranceComp" name="f043finsuranceComp"
                      #insurance="ngModel">
                    </ng-select>
                    <span *ngIf="insurance.errors && (insurance.dirty || insurance.touched || f.submitted)" class="form-errors">*Select
                      Insurance EMP</span>
                  </td>
                </tr>
                <tr>
                  <td width='40%'>Loan Entitlement(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043floanEntitlement"
                      [(ngModel)]="vehicleloanData.f043floanEntitlement" value="" #entitilement="ngModel" (keypress)="onlyNumberKey($event)">
                    <span *ngIf="entitilement.errors && (entitilement.dirty || entitilement.touched || f.submitted )"
                      class="form-errors">*Enter the Loan Entitlement .</span></td>
                </tr>
                <tr>
                  <td> Loan Amount(RM)</td>
                  <td> <input type="text" maxlength="15" class="form-control" style="text-align: right" name="f043floanAmount"
                      [(ngModel)]="vehicleloanData.f043floanAmount" (blur)="monthlyemicalculate()" value="" #loanamount="ngModel"
                      (blur)="calculateTotal()" (keypress)="onlyNumberKey($event)" disabled>
                    <span *ngIf="loanamount.errors && (loanamount.dirty || loanamount.touched || f.submitted )" class="form-errors">*Enter
                      the Total Loan Amount</span></td>
                </tr>
                <tr>
                  <td>Instalment Period </td>
                  <td> <input type="text" maxlength="15"class="form-control" name="f043finstallmentPeriod" [(ngModel)]="vehicleloanData.f043finstallmentPeriod"
                      value="" (blur)="monthlyemicalculate()" #instalementperiod="ngModel" (keyup)="checkLimit()"
                      (keypress)="onlyNumberKey($event)" disabled>
                    <span *ngIf="instalementperiod.errors && (instalementperiod.dirty || instalementperiod.touched || f.submitted )"
                      class="form-errors">*Enter the Instalment Period</span></td>
                </tr>
                <tr >
                  <td>Debt Ratio</td>
                  <td> <input type="text" maxlength="15" class="form-control amountAlign" name="f043debtRatio"
                      [(ngModel)]="vehicleloanData.f043debtRatio" (keypress)="onlyNumberKey($event)" value=""
                      #f043fdebtRatio="ngModel" disabled>
                  </td>
                </tr>
                <tr>
                  <td>Insurance Amount(RM)</td>
                  <td> <input type="text" maxlength="15" class="form-control amountAlign" name="f043insuranceAmt"
                      [(ngModel)]="vehicleloanData.f043insuranceAmt" value="" #f043finsuranceamts="ngModel" (blur)="calculateTotal()"
                      (keypress)="onlyNumberKey($event)" disabled="disabled">
                    <span *ngIf="f043finsuranceamts.errors && (f043finsuranceamts.dirty || f043finsuranceamts.touched || f.submitted )"
                      class="form-errors">*Enter the Insurance Amount</span></td>
                </tr>
                <tr>
                  <td>Total Loan Amount(RM)</td>
                  <td> <input type="text" maxlength="15" readonly="readonly" class="form-control amountAlign" style="text-align: right"
                      name="f043ftotalLoan" [(ngModel)]="vehicleloanData.f043ftotalLoan" (blur)="monthlyemicalculate()"
                      (keypress)="onlyNumberKey($event)" value="" #ftotalloanAmount="ngModel">
                    <span *ngIf="ftotalloanAmount.errors && (ftotalloanAmount.dirty || ftotalloanAmount.touched || f.submitted )"
                      class="form-errors">*Enter
                      the Total Loan Amount</span></td>
                </tr>
                <tr>
                  <td>Monthly Installment(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043fmonthlyInstallment"
                      [(ngModel)]="vehicleloanData.f043fmonthlyInstallment" (keypress)="onlyNumberKey($event)">
                </tr>
                <tr>
                  <td>Principal Monthly(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043fprincipal"
                      [(ngModel)]="vehicleloanData.f043fprincipal" (keypress)="onlyNumberKey($event)">
                </tr>
                <tr>
                  <td>Profit Monthly(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043fprofitAmount"
                      [(ngModel)]="vehicleloanData.f043fprofitAmount" (keypress)="onlyNumberKey($event)">
                </tr>
                <tr>
                  <td>Total Payment(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043ftotalLoan"
                      [(ngModel)]="vehicleloanData.f043ftotalLoan" (keypress)="onlyNumberKey($event)">
                </tr>
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="ad-page-title">Guarantor Details</h1>
            </div>
          </div>
          <table class="table table-bordered table-striped table-food">
            <tr *ngFor="let indinv of guaranteeList;let i = index;trackBy:indexTracker">
              <td>
                <ng-select [items]="smartStaffList" bindLabel="gradeCustomerName" bindValue="f034fstaffId" [(ngModel)]="guaranteeList[i].guaranteeId"
                  name="guaranteeId" #firstgurrarantor="ngModel" (change)="guarantorLevel(i)" disabled="disabled">
                </ng-select>
              </td>
            </tr>
            <br>
          </table>
          <div class="row" *ngIf="idview != 10 && idview != 11 && idview != 12">
            <div class="col-sm-12">
              <label>Reason </label>
              <textarea class="form-control" name="reason" placeholder="Enter Reason" [(ngModel)]="vehicleloanData.reason"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/loan/vehicleloan']" class="btn nh-btn-secondary" *ngIf="idview == 0">Cancel</a>
                <a [routerLink]="['/loan/guranterone/1/0']" class="btn nh-btn-secondary" *ngIf="idview == 1">Cancel</a>
                <a [routerLink]="['/loan/approvalthree/3/0']" class="btn nh-btn-secondary" *ngIf="idview == 3">Cancel</a>
                <a [routerLink]="['/loan/approvalfour/4/0']" class="btn nh-btn-secondary" *ngIf="idview == 4">Cancel</a>
                <a [routerLink]="['/loan/approvalfive/5/0']" class="btn nh-btn-secondary" *ngIf="idview == 5">Cancel</a>
                <a [routerLink]="['/loan/approvalsix/6/0']" class="btn nh-btn-secondary" *ngIf="idview == 6">Cancel</a>
                <a [routerLink]="['/loan/approvalseven/7/0']" class="btn nh-btn-secondary" *ngIf="idview == 7">Cancel</a>
                <a [routerLink]="['/loan/approvaleight/8/0']" class="btn nh-btn-secondary" *ngIf="idview == 8">Cancel</a>
                <a [routerLink]="['/loan/approvalnine/9/0']" class="btn nh-btn-secondary" *ngIf="idview == 9">Cancel</a>
                <a [routerLink]="['/loan/vehicleloan']" class="btn nh-btn-secondary" *ngIf="idview == 11">Cancel</a>
                <a [routerLink]="['/loan/vehicleloan']" class="btn nh-btn-secondary" *ngIf="idview == 12">Cancel</a>
                <a [routerLink]="['/loan/loanlisting']" class="btn nh-btn-secondary" *ngIf="idview == 10">Cancel</a>
                <button *ngIf="idview != 10 && idview != 12" (click)="applyloanapprovalListData()" type="submit" class="btn um-btn-primary mar-l-20">Accept</button>
                <button *ngIf="idview != 10 && idview != 12" (click)="applyloanRejectListData()" type="submit" class="btn um-btn-primary mar-l-20">Reject</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>