<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row" id="target">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="viewid==2">SAB Approval</h1>
          <h1 class="ad-page-title" *ngIf="viewid!=2">SAB</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-4" *ngIf="this.id>0">
                  <div class="form-group">
                    <label>Batch Id <span class="required-class">*</span></label>
                    <input type="text" maxlength="150" [disabled]="true" class="form-control" [(ngModel)]="paymentvoucherDataheader.f136fbatchId"  name="f136fbatchId" placeholder="Payment Voucher Id">
                  </div>
                </div>

              <div class="col-sm-4">
                  <div class="form-group">
                    <label>Payment Voucher Type <span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="paymenttypeList" bindLabel="f011fdefinitionCode"
                      bindValue="f011fid" [(ngModel)]="paymentvoucherDataheader.f136fvoucherType" name="f136fvoucherType"
                      #accd="ngModel" #Voucher="ngModel">
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label>Payment Mode <span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="paymentmodeList" bindLabel="f011fdefinitionCode"
                        bindValue="f011fid" [(ngModel)]="paymentvoucherDataheader.f136fpaymentMode" name="f136fpaymentMode"
                        #accd="ngModel" required>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label>UUM Bank <span class="required-class">*</span></label>
                        <ng-select [disabled]="viewDisabled" [items]="companyBankList | sort:'Bank'" bindLabel="Bank" bindValue="f041fid"
                          [(ngModel)]="paymentvoucherDataheader.f136fuumBank" name="f136fuumBank" #accd="ngModel"
                          required>
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label>Payment Reference Number <span class="required-class">*</span></label>
                          <input type="text" maxlength="10" [disabled]="viewDisabled" class="form-control" name="f136freferenceNumber"
                            [(ngModel)]="paymentvoucherDataheader.f136freferenceNumber " placeholder="Enter Payment Reference Number">
                        </div>
                      </div>
            
                      <div class="col-sm-4">
                          <div class="form-group">
                            <label>Pay Date <span class="required-class">*</span></label>
                            <input type="date" [disabled]="viewDisabled" class="form-control" name="f136fpayDate"
                              [(ngModel)]="paymentvoucherDataheader.f136fpayDate" value="" required>
                          </div>
                        </div>             
                        <div class="col-sm-4">
                            <div class="form-group">
                              <label>Letter Reference <span class="required-class">*</span></label>
                              <input type="text" maxlength="150" [disabled]="viewDisabled" class="form-control" name="f136fletterReference"
                                [(ngModel)]="paymentvoucherDataheader.f136fletterReference" value="" required placeholder="Enter Letter Reference">
                            </div>
                          </div>           
            
          </div>
          <div class="row">
             
           
            
         
            

          </div>
          <div class="row" id="target1">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Voucher Number</th>
                    <th>Vendor Name</th>
                    <th>Amount</th>
                    <th>Source</th>
                    <th>Bank Name</th>
                    <th>PayMode</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let indpaymentvoucherapproval of paymentvoucherList;let i = index;trackBy:indexTracker">
                        <td><input type="checkbox" [(ngModel)]="paymentvoucherList[i].selectedvalue">
                                <input type="text"  style="width: 150px" class="form-control"
                                name="f093fvoucherNo" [(ngModel)]="paymentvoucherList[i].f093fvoucherNo"
                                placeholder="unit" readonly="readonly">
                        </td>
                    <td>
                            <input type="text"  style="width: 150px" class="form-control"
                            name="vendorCompany" [(ngModel)]="paymentvoucherList[i].vendorCompany"
                            placeholder="unit" readonly="readonly">
                    </td>
                   
                    <td>
                            <input type="text"  style="width: 150px" class="form-control"
                            name="totalAmount" [(ngModel)]="paymentvoucherList[i].totalAmount"
                            placeholder="unit" readonly="readonly">
                    </td>
                    <td>
                            <input type="text"  style="width: 150px" class="form-control"
                            name="f093fsource" [(ngModel)]="paymentvoucherList[i].f093fsource"
                            placeholder="unit" readonly="readonly">
                    </td>
                    <td>
                            <input type="text"  style="width: 150px" class="form-control"
                            name="bankName" [(ngModel)]="paymentvoucherList[i].bankName"
                            placeholder="unit" readonly="readonly">
                    </td>
                    <td>
                        <input type="text"  style="width: 150px" class="form-control"
                        name="bankName" [(ngModel)]="paymentvoucherList[i].bankName"
                        placeholder="unit" readonly="readonly">
                </td>
                   
                </tr>
              
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/accountspayable/etf']" *ngIf="viewid!=2" class="btn nh-btn-secondary">Cancel</a>
                <a [routerLink]="['/accountspayable/paymentvoucherapproval']" class="btn nh-btn-secondary" *ngIf="viewid==2">Cancel</a>
                <button type="button" (click)='savePaymentvoucher()'  class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>