<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Yearly Process</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addYearlyprocess()" #f="ngForm" name="form" novalidate>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Year <span class="required-class">*</span> </label>
                                <ng-select [items]="finantialyearList | sort:'f015fname'" bindLabel="f015fname"
                                    bindValue="f015fid" [(ngModel)]="yearlyprocessData.f019fyear" name="f019fyear"
                                    #yearName="ngModel" required></ng-select>
                                <span *ngIf=" yearName.errors && (yearName.dirty || yearName.touched || f.submitted)"
                                    class="form-errors">*Select Year</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Date <span class="required-class">*</span> </label>
                                <input type="date" class="form-control" name="Date" placeholder="Enter Date "
                                    [(ngModel)]="yearlyprocessData.f019fdate" value="" required #date="ngModel">
                                <span *ngIf=" date.errors && (date.dirty || date.touched || f.submitted)" class="form-errors">*Enter
                                    the Date</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="f019fstatus" [(ngModel)]="yearlyprocessData.f019fstatus"
                                    [checked]="yearlyprocessData.f019fstatus === 1" [value]="1"> Open
                                <br>
                                <input type="radio" name="f019fstatus" [(ngModel)]="yearlyprocessData.f019fstatus"
                                    [checked]="yearlyprocessData.f019fstatus === 0" [value]="0"> Closed
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/generalledger/yearlyprocess']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>