<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Item</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/procurement/addnewitemsetup']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="itemsetupList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">

                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="category">Procurement Category</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="subCategory">Procurement Sub Category</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f029fitemCode">Item Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f029fitemName">Item </mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f029funit">UOM</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f029faccountCode">Account Code</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="tax">Tax Code</mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter by="f029fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inditemsetup of mf.data ">
                                <td>{{inditemsetup.category}}</td>
                                <td>{{inditemsetup.subCategory}}</td>
                                <td>{{inditemsetup.f029fitemCode}}</td>
                                <td>{{inditemsetup.f029fitemName}}</td>
                                <td>{{inditemsetup.f029funit}}</td>
                                <td>{{inditemsetup.originalName}}</td>
                                <!-- <td>{{inditemsetup.tax}}</td> -->
                                <td>{{inditemsetup.f029fstatus == 1?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/procurement/edititemsetup/{{inditemsetup.f029fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>