<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Disposal Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addAssettype()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Disposal Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f086fdisposalCode"
                                        placeholder="Enter Disposal Code" [(ngModel)]="assettypeData.f086fdisposalCode"
                                        value="" required #code="ngModel">
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted )" class="form-errors">*Enter
                                        the Disposal Code.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Disposal Reason<span class="required-class">*</span></label>
                                    <textarea type="text" maxlength="100" class="form-control" name="f086fdisposalType"
                                        placeholder="Enter  Disposal Reason" [(ngModel)]="assettypeData.f086fdisposalType"
                                        value="" required #type="ngModel"></textarea>

                                    <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted )" class="form-errors">*Enter
                                        the Disposal Reason.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code<span class="required-class">*</span></label>
                                    <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" bindLabel="f059fname"
                                        bindValue="f059fcompleteCode" [(ngModel)]="assettypeData.f086faccountCode" name="f086faccountCode"
                                        #acc="ngModel" required>
                                    </ng-select>

                                    <span *ngIf="acc.errors && (acc.dirty || acc.touched || f.submitted)" class="form-errors">*Select
                                        Account Code</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/assettype']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>