<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <!-- <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;"> -->
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Payroll Process</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="row">
              
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Month</label>
                  <ng-select [items]="fmonth"  bindLabel="name" bindValue="name" [(ngModel)]="payrollprocessData.f044fmonth"
                    name="f044fmonth" #month="ngModel" >
                  </ng-select>
                 
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Process Type<span class="required-class">*</span></label>
                 
                  <ng-select [items]="staffIP" bindLabel="name" bindValue="id" [(ngModel)]="payrollprocessData.f044fstaffType"
                    name="f044fstaffType" #staff="ngModel" >
                  </ng-select>
                 
                </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <button type="button" class="btn um-btn-primary mar-l-20" (click)="processSalary()">Process</button>

                  </div>
                </div>
            </div>

        
            
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Confirm</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="row">
                
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Month</label>
                    <ng-select [items]="fmonth"  bindLabel="name" bindValue="name" [(ngModel)]="payrollprocessData.f045fmonth"
                      name="f045fmonth" #month="ngModel" >
                    </ng-select>
                   
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <button type="button" class="btn um-btn-primary mar-l-20" (click)="moveSalary()">Confirm</button>
  
                    </div>
                  </div>
                
              </div>
  
          
              
          </div>
        </div>
    <!-- </div> -->
  </div>
</div>