<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Department Budget</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Department</label>
                                    <input type="text" class="form-control" name="Department" placeholder="Enter from Department "
                                        [(ngModel)]="DepartmentactivityData.f055fidDepartment" value="" required
                                        #department="ngModel">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Activity Name </label>
                                    <input type="text" class="form-control" name="Activity" placeholder="Enter Activity"
                                        [(ngModel)]="DepartmentbudgetData.f055factivityName" value="" #description="ngModel"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="DepartmentbudgetData.f055fstatus"
                                    [checked]="DepartmentbudgetData.f055fstatus === '1'" [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="DepartmentbudgetData.f055fstatus"
                                    [checked]="DepartmentbudgetData.f055fstatus === '0'" [value]="0"> Inactive
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/budget/departmentbudget" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='adddepartmentbudget()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>