<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Receipt</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="add-btn">
            <a [routerLink]="['/accountsrecivable/receipt']" class="btn nh-btn-primary">Add</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="receiptList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f082freceiptNumber">Receipt Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f082fdate">Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f042fbankName">Payment Bank</mfDefaultSorter>
                </th>
                 <th>
                  <mfDefaultSorter by="f082ftotalAmount">Amount(RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="approvalStatus">Status</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indreceipt of mf.data ">
                <td>{{indreceipt.f082freceiptNumber}}</td>
                <td>{{indreceipt.f082fdate | date: 'dd/MM/yyyy'}}</td>
                <!-- <td>{{indreceipt.fullName}}</td> -->
                <td>{{indreceipt.f042fbankName}}</td>
                <td class="amountAlign">{{indreceipt.f082ftotalAmount | number: '.2'}}</td>
                <td>{{indreceipt.approvalStatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editreceipt/{{indreceipt.f082fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indreceipt.approvalStatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indreceipt.approvalStatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indreceipt.approvalStatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>