<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Activity Code</h1>
                </div>
            </div>
            <table class="table table-bordered table-striped table-food">
                <thead>
                    <tr>
                        <th *ngIf="previousLevel">Previous Level</th>
                        <th *ngIf="previousLevel">Parent Code</th>

                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>View Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let indVoucher of activityCodeList">
                        <td *ngIf="previousLevel">
                            <span (click)="loadDataForNextSet(indVoucher.f058fshortCode)">Previous Level</span>
                        </td>
                        
                        <td *ngIf="previousLevel">
                            <input type="text" maxlength="1" class="form-control" readonly="readonly" placeholder="Enter activityCode" value={{indVoucher.f058frefCode}}>
                        </td>
                        <td>
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter activityCode" value={{indVoucher.f058fcode}}>
                        </td>
                        <td>
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter activityCode" value={{indVoucher.f058fname}}>
                        </td>
                        <td>
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter activityCode" value={{indVoucher.f058ftype}}>
                        </td>

                        <td>
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter activityCode" value={{indVoucher.f058fdescription}}>
                        </td>
                        <td>
                            <span (click)="loadDataForNextSet(indVoucher.f058fcode)">Next Level </span>
                        </td>
                    </tr>
                    <tr>
                        <td *ngIf="previousLevel">&nbsp;</td>
                        <td *ngIf="previousLevel">
                            <input type="text" class="form-control" name="activityCode" placeholder="Code" [(ngModel)]="activity.f058frefCode" value="">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="activityCode" placeholder="Code" [(ngModel)]="activity.code" value="">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="activityCode" placeholder="Enter activityCode" [(ngModel)]="activity.name" value="">
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="activity.type" name="first">
                                <option *ngFor="let o of options">
                                    {{o.name}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="activity.description" name='debtorId'>
                                <option *ngFor="let ol of debtorlist" [ngValue]="ol">
                                    {{ol.f041fname}}
                                </option>
                            </select>
                        </td>

                        <td>
                            <input type="button" name="add" (click)='addActivitycode()' value='Save & Add Level' class="btn nh-btn-primary" />
                        </td>
                    </tr>
                    <tr>
                        <td>{{totalDebitAmount}}</td>
                        <td>{{totalCreditAmount}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>