<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Student Insurance</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <td colspan="9">
                                <a [routerLink]="['/studentfinance/addnewstudentinsurance']" class="btn nh-btn-primary">Add</a>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped " [mfData]="studentinsuranceList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f099fname">Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099finsCode">Insurance Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099faddress">Address</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099fcontactPerson">Contact Person</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099fphone">Phone Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099ffax">Fax Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099femail">Email</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099fendDate">End Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f013fcountryName">Country</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f012fstateName">State</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099fcity">City</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indstudentinsurance of mf.data">
                                <td>{{indstudentinsurance.f099fname}}</td>
                                <td>{{indstudentinsurance.f099finsCode}}</td>
                                <td>{{indstudentinsurance.f099faddress}}</td>
                                <td>{{indstudentinsurance.f099fcontactPerson}}</td>
                                <td>{{indstudentinsurance.f099fphone}}</td>
                                <td>{{indstudentinsurance.f099ffax}}</td>
                                <td>{{indstudentinsurance.f099femail}}</td>
                                <td>{{indstudentinsurance.f099fendDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{indstudentinsurance.f013fcountryName}}</td>
                                <td>{{indstudentinsurance.f012fstateName}}</td>
                                <td>{{indstudentinsurance.f099fcity}}</td>
                                <td>{{indstudentinsurance.f099fstatus == '1'?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editstudentinsurance/{{indstudentinsurance.f099fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="14">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>