<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Programme</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/studentfinance/addnewprogramme']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="programmeList | filter : searchText | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">

            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f068fname">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f068fcode">Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f068ftotalCreditHours">Total Credit Hours</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f068fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indprogramme of mf.data">
                <td>{{indprogramme.f068fname}}</td>
                <td>{{indprogramme.f068fcode}}</td>
                <td>{{indprogramme.f068ftotalCreditHours}}</td>
                <!-- <td>{{indprogramme.scheme}}</td> -->
                <!-- <td>{{indprogramme.award}}</td> -->

                <td>{{indprogramme.f068fstatus == 1?'Active':'Inactive'}}</td>

                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/studentfinance/editprogramme/{{indprogramme.f068fid}}">
                      <button class="btn nh-btn-edit">

                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="9">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>