<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Procurement Sub Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/procurement/addnewitemsubcategory']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="itemsubcategoryList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="category">Procurement Category</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f028fsubCategoryName">Procurement Sub Category</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f028fcode">Procurement Sub Category Code</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f028fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inditemsubcategory of mf.data ">

                                <td>{{inditemsubcategory.category}}</td>
                                <td>{{inditemsubcategory.f028fsubCategoryName}}</td>
                                <td>{{inditemsubcategory.f028fcode}}</td>
                                <td>{{inditemsubcategory.f028fstatus == 1 ?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/procurement/edititemsubcategory/{{inditemsubcategory.f028fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>