<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Asset Item</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/assets/addnewassetitem']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="itemList | filter : searchText" #mf="mfDataTable"
              [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th><mfDefaultSorter by="itemGroup">Procurement Sub Category</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="categoryName">Asset Category</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f089fsubDescription">Asset Sub Category</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f090ftypeDescription">Asset Type</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f088fitemCode">Asset Item Code</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f088fitemDescription">Asset Item </mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f088fstatus">Status</mfDefaultSorter></th>
  
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indassetitem of mf.data ">
                  <td>{{indassetitem.itemGroup}}</td>
                  <td>{{indassetitem.categoryName}}</td>
                  <td>{{indassetitem.f089fsubDescription}}</td>
                  <td>{{indassetitem.f090ftypeDescription}}</td>
                  <td>{{indassetitem.f088fitemCode}}</td>
                  <td>{{indassetitem.f088fitemDescription}}</td>                  
                  <td>{{indassetitem.f088fstatus == 1?'Active':'Inactive'}}</td>
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/assets/editassetitem/{{indassetitem.f088fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
  
                      <!-- <button class="btn nh-btn-remove">
                                                <i class="fas fa-trash-alt"></i>
                                            </button> -->
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="8">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>