<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Staff Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addStaffType()" #f="ngForm" name="form" novalidate>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Staff Type<span class="required-class">*</span></label>
                                <input type="text" maxlength="20" class="form-control" name="f116fstaffType"
                                    placeholder="Enter Staff type" [(ngModel)]="stafftypeData.f116fstaffType" value=""
                                    required #type="ngModel">
                                <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted)" class="form-errors">*Enter
                                    the Staff type</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="stafftypeData.f116fstatus" [checked]="stafftypeData.f116fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="stafftypeData.f116fstatus" [checked]="stafftypeData.f116fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/cashadvances/stafftype']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>