<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Utility Bill</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addUtility()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label">Meter ID</label>
                  <ng-select [items]="utilityrateList | sort:'f078fdescription'" bindLabel="f078fdescription"
                    bindValue="f078fid" [(ngModel)]="utilitybillData.f078fidUtility" name="f078fidUtility"
                    (change)="getLastReading()" #utility="ngModel" required>
                  </ng-select>
                  <span *ngIf="utility.errors && (utility.dirty || utility.touched || f.submitted)"
                    class="form-errors">*
                    Select Meter ID</span>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label">Premise</label>
                  <input type="text" disabled="disabled" class="form-control" name="f078fidPremise"
                    [(ngModel)]="utilitybillData.f078fidPremise" #premise="ngModel" required>
                  <!-- <ng-select [items]="premiseList | sort:'Premise'" bindLabel="Premise" bindValue="f076fid" [(ngModel)]="utilitybillData.f078fidPremise"
                    name="f078fidPremise" (change)="ShowUtilityList()" #premise="ngModel" required>
                  </ng-select> -->
                  <span *ngIf="premise.errors && (premise.dirty || premise.touched || f.submitted)"
                    class="form-errors">*
                    Select Premise</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>From Date</label>
                  <input type="date" disabled="disabled" class="form-control" name="f078ffromDate"
                    [(ngModel)]="utilitybillData.f078ffromDate" #fromdate="ngModel" required>
                  <span *ngIf="fromdate.errors && (fromdate.dirty || fromdate.touched || f.submitted)"
                    class="form-errors">*
                    Select From Date </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>To Date</label>
                  <input type="date" disabled="disabled" class="form-control" name="f078ftoDate"
                    (change)="dateComparison()" [(ngModel)]="utilitybillData.f078ftoDate" #todate="ngModel" required>
                  <span *ngIf="todate.errors && (todate.dirty || todate.touched || f.submitted)" class="form-errors">*
                    Select To Date</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Reading Date</label>
                  <input type="date" class="form-control" name="f078finitialReading"
                    [(ngModel)]="utilitybillData.f078finitialReading" (change)="getToDate()" #reading="ngModel"
                    required>
                  <span *ngIf="reading.errors && (reading.dirty || reading.touched || f.submitted)"
                    class="form-errors">*
                    Select Reading Date </span>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Last Reading Value</label>
                  <input type="text" class="form-control" readonly="readonly" name="f078flastReading"
                    placeholder="Last Reading Value" [(ngModel)]="lastReadingValue" #lastreadingvalue="ngModel"
                    required>
                  <!-- <span *ngIf="lastreadingvalue.errors && (lastreadingvalue.dirty || lastreadingvalue.touched || f.submitted)"
                    class="form-errors">*
                    Enter the Last Reading Value </span> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Current Reading Value</label>
                  <input type="text" class="form-control" name="f078fcurrentReadingValue"
                    placeholder="Enter Current Reading Value" [(ngModel)]="utilitybillData.f078fcurrentReadingValue"
                    #currentreading="ngModel" (keypress)="onlyNumberKey($event)" required (blur)="getTotalUnit()">
                  <span *ngIf="currentreading.errors && (currentreading.dirty || currentreading.touched || f.submitted)"
                    class="form-errors">*
                    Enter the Current Reading Value </span>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label">Total Usage</label>
                  <input type="number" maxlength="20" class="form-control" readonly="readonly" name="f078funits"
                    placeholder="Total Usage" [(ngModel)]="utilitybillData.f078funits" value="" required
                    #total="ngModel">
                  <!-- <span *ngIf="total.errors && (total.dirty || total.touched || f.submitted)" class="form-errors">*
                    Enter the Total Usage </span> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="um-label">Amount(RM)</label>
                  <input type="text" maxlength="10" class="form-control amountAlign" readonly="readonly"
                    [(ngModel)]="utilitybillData.f078fcalculatedAmount" name="f078fcalculatedAmount"
                    placeholder="Enter Amount(RM)" (keypress)="onlyNumberKey($event)">
                  <!-- <span *ngIf="utility.errors && (utility.dirty || utility.touched || f.submitted)" class="form-errors">*
                    Enter the Amount </span> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="text-right">
                  <a routerLink="/accountsrecivable/utilitybill" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>