<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Menu</h1>
        </div>
      </div>
      <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Menu Name</label>
                <input type="text" class="form-control" name="Menu name" placeholder="Enter Menu name" [(ngModel)]="menuData.f011fmenuName"
                  value="">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Parent Menu</label>
                <select class="form-control" [(ngModel)]="menuData.f011fidParent" name="f011fidParent" placeholder="Select Id Parent">
                  <option *ngFor="let indmenu of menuidparentList" [value]="indmenu.f011fid">{{ indmenu.f011fmenuName }}</option>
                </select>
              </div>
            </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Order</label>
              <input type="number" class="form-control" name="Order" placeholder="Enter Order" [(ngModel)]="menuData.f011forder" value="">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Link</label>
              <input type="text" class="form-control" name="Link" placeholder="Enter Link" [(ngModel)]="menuData.f011flink" value="">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Module</label>
              <select class="form-control" [(ngModel)]="menuData.f011fmodule" name="Module" placeholder="Select Module">
                <option *ngFor="let indmodule of moduleList" [value]="indmodule.f011fmodule">{{ moduleNames[indmodule.f011fmodule] }}</option>

              </select>
            </div>
          </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div [className]="'active'"></div>
                <label>Status</label>
                <br>
                <input type="radio" name="Status" [(ngModel)]="menuData.f011fstatus" [checked]="menuData.f011fstatus === '1'" [value]="1"> Active
                <br>
                <input type="radio" name="Status" [(ngModel)]="menuData.f011fstatus" [checked]="menuData.f011fstatus === '0'" [value]="0"> Inactive
                <br>
              </div>
            </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/generalsetup/menu" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='addMenu()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
