<div class="ps-right-section">
        <div class="ps-dashboard-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="ad-page-title">Loan Processing Fee</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-top-wrapper">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="add-btn">
                                <a [routerLink]="['/loan/addloanprocessingfee']" class="btn nh-btn-primary">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped table-food" [mfData]="processingfeeList | filter : searchText"
                            #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="loanName">Loan Type</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f142feffectiveDate">Effective Date</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f142famount">Amount(RM)</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f142fstatus">Status</mfDefaultSorter>
                                    </th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let indprocessingfee of mf.data ">
    
                                    <td>{{indprocessingfee.loanName}}</td>
                                    <td>{{indprocessingfee.f142feffectiveDate | date: 'MM/dd/yyyy'}}</td>
                                    <td class="amountAlign">{{indprocessingfee.f142famount | number: '.2'}}</td>
                                    <td>{{indprocessingfee.f142fstatus == 1?'Active':'Inactive'}}</td>
                                    <td class="actions-col">
                                        <div class="nh-btn-group">
                                            <a routerLink="/loan/editloanprocessingfee/{{indprocessingfee.f142fid}}">
                                                <button class="btn nh-btn-edit">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <td colspan="8">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                            </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>