<header >
    <!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="http://www.uum.edu.my/images/logouumwhite.png " alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-menu" *ngFor="let module of moduleList">
                        <a routerLink='{{moduleLinks[module.f011fmodule]}}'
                            class="nav-menu-link" >{{moduleNames[module.f011fmodule]}} 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <div class="um-navbar">
        <div class="um-navbar-header">
            <a class="um-navbar-brand navbar-brand" href="#"><img src="../../../assets/images/logo.png" alt="logo" height="60px" width="60px"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="um-menu-wrapper" >
            <ul class="um-menu-list">
                
                <!-- <li class="nav-menu">
                    <div ngbDropdown class="d-inline-block nav-menu-link">
                        <button class="btn btn-outline-primary" 
                            id="dropdownBasic1" 
                            ngbDropdownToggle>Accounts <span class="caret"></span></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <a class="dropdown-item" routerLink='/accountspayable'>Payable</a>
                            <a class="dropdown-item" routerLink='/accountsrecivable'>Receivable</a>
                        </div>
                    </div>
                </li>   -->
                <li class="nav-menu" *ngIf="expireDays" style="color:yellow;font-weight:bold;">
                    Your Registration has to be renewed on or before {{enddate |  date:'MM/dd/yyyy'}}
                    
                </li>
                <li class="nav-menu">
                    <a class="nav-menu-link logout-menu" role="button" (click)="logout()">
                        <fa-icon [icon]="faUserCircle"></fa-icon> Logout
                    </a>
                </li>                      
            </ul>
        </div>
    </div>
</header>