<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Sponsor</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewsponsor']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="sponsorList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f063fcode">Sponosor Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Name">Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063ffaxNumber">Tax Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fcountry">Country</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fstate">State</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063femail">Email</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063finchargeOfficer">Incharge Officer</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fpostCode">Post Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="receivableStatus">Status Of Recivable</mfDefaultSorter>
                                </th>
                                <th>Edit</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indsponsor of mf.data">
                                <td>{{indsponsor.f063fcode}}</td>
                                <td>{{indsponsor.Name}}</td>
                                <td>{{indsponsor.f063ffaxNumber}}</td>
                                <td>{{indsponsor.countryName}}</td>
                                <td>{{indsponsor.stateName}}</td>
                                <td>{{indsponsor.f063femail}}</td>
                                <td>{{indsponsor.f063finchargeOfficer}}</td>
                                <td>{{indsponsor.f063fpostCode}}</td>
                                <td>{{indsponsor.receivableStatus}}</td>
                                <!-- <td>{{indsponsor.f063fstatus == 1?'Active':'Inactive'}}</td> -->

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editsponsor/{{indsponsor.f063fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>


                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="12">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>