<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">{{title}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addApplyloan()" #f="ngForm" name="form" novalidate id="target1">

                        <div class="row">
                            <div class="col-sm-4" *ngIf="showReference == true">
                                <div class="form-group">
                                    <label>Reference Number<span class="required-class">*</span> </label>
                                    <input type="text" maxlength="100" class="form-control" name="f052fcashAdvance"
                                        readonly="readonly" [(ngModel)]="cashadvanceappDataheader.f052fcashAdvance"
                                        value="" required #desc="ngModel">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Name<span class="required-class">*</span></label>
                                    <ng-select [items]="staffList" bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="cashadvanceappDataheader.f052fidStaff" name="f052fidStaff" #item="ngModel"
                                        disabled>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department<span class="required-class">*</span></label>
                                    <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'"
                                        bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="cashadvanceappDataheader.f052fidDepartment"
                                        name="f052fidDepartment" #item="ngModel" required>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Financial Year<span class="required-class">*</span></label>
                                    <ng-select [disabled]="viewDisabled" [items]="financialyearList" bindLabel="f015fname"
                                        bindValue="f015fid" [(ngModel)]="cashadvanceappDataheader.f052fidFinancialYear"
                                        name="f052fidFinancialYear" (change)="getAllpurchaseGlList()"></ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Total Amount(RM)<span class="required-class">*</span></label>
                                    <input [disabled]="viewDisabled" type="text" class="form-control" style="text-align: right"
                                        name="f052ftotal" [(ngModel)]="cashadvanceappDataheader.f052ftotal" (blur)="onBlurMethod()"
                                        placeholder="Total Amount" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="overlay1"></div>
                    <div id="myModal" class=" fade in" role="dialog">
                        <!-- <div class="modal-dialog"> -->
                        <!-- Modal content-->
                        <div class="modal-content">
                            <p class="maximize-icon">
                                <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                            </p>
                            <p class="minimize-icon hidden">
                                <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                            </p>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" style="height:200px;">
                                            <table class="table table-bordered table-striped table-food" id="target">
                                                <thead>
                                                    <tr>
                                                        <th>Cash Advance Type</th>
                                                        <th>Item</th>
                                                        <th>Unit</th>
                                                        <th colspan="4" style="text-align:center">GL Code<span class="required-class">*</span></th>
                                                        <th colspan="4" style="text-align:center">Budget Code<span
                                                                class="required-class">*</span></th>
                                                        <th>So Code</th>
                                                        <th>Amount(RM)</th>
                                                        <th>Quantity</th>
                                                        <th>Total Amount(RM)</th>
                                                        <th></th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Fund</th>
                                                        <th>Activity Code</th>
                                                        <th>Cost Center</th>
                                                        <th>Account Code</th>
                                                        <th>Fund</th>
                                                        <th>Activity Code</th>
                                                        <th>Cost Center</th>
                                                        <th>Account Code</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let indapplyloaninfo of cashadvanceappList;let i = index;trackBy:indexTracker;last as isLast">

                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" style="width:150px;"
                                                                [items]="cashadvanceList | sort:'displayname'"
                                                                bindLabel="displayname" bindValue="f051fid" [(ngModel)]="cashadvanceappList[i].f052fidCashType"
                                                                name="f052fidCashType">
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'f029fitemName'"
                                                                style="width: 95px;" bindLabel="f029fitemName"
                                                                bindValue="f029fid" (change)="getUOM()" [(ngModel)]="cashadvanceappList[i].f052fitem"
                                                                name="f052fitem">
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <input type="text" readonly="readonly" maxlength="10" style="width: 95px"
                                                                class="form-control" name="f052funit" [(ngModel)]="cashadvanceappList[i].f052funit"
                                                                placeholder="unit">
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" style="width:150px;"
                                                                [items]="fundList | sort:'f057fcode'" bindLabel="f057fname"
                                                                bindValue="f057fcode" [(ngModel)]="cashadvanceappList[i].f052ffund"
                                                                name="f052ffund" #item="ngModel" required>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" style="width:150px;"
                                                                [items]="activitycodeList | sort:'f058fcompleteCode'"
                                                                bindLabel="f058fname" bindValue="f058fcompleteCode"
                                                                [(ngModel)]="cashadvanceappList[i].f052factivity" name="f052factivity"
                                                                #item="ngModel" required>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" style="width:150px;"
                                                                [items]="DeptList |sort:'f015fdepartmentCode'"
                                                                bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                                                [(ngModel)]="cashadvanceappList[i].f052fdepartment"
                                                                name="f052fdepartment" #item="ngModel" required>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" style="width:150px;"
                                                                [items]="accountcodeList | sort:'f059fcompleteCode'"
                                                                bindLabel="f059fname" bindValue="f059fcompleteCode"
                                                                [(ngModel)]="cashadvanceappList[i].f052faccount" name="f052faccount"
                                                                #item="ngModel" required>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" [items]="costCenterFund | sort:'f057fcode'"
                                                                style="width: 150px;" bindLabel="originalName"
                                                                bindValue="f057fcode" [(ngModel)]="cashadvanceappList[i].f052fbudgetFund"
                                                                name="f052fbudgetFund">
                                                            </ng-select>

                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'f058fcompleteCode'"
                                                                style="width: 150px;" bindLabel="originalName"
                                                                bindValue="f058fcompleteCode" [(ngModel)]="cashadvanceappList[i].f052fbudgetActivity"
                                                                name="f052fbudgetActivity">
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'f015fdepartmentCode'"
                                                                style="width: 150px;" bindLabel="originalName"
                                                                bindValue="f054fdepartmentCode" [(ngModel)]="cashadvanceappList[i].f052fbudgetDepartment"
                                                                name="f052fbudgetDepartment">
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'f059fcompleteCode'"
                                                                style="width: 150px;" bindLabel="originalName"
                                                                bindValue="f059fcompleteCode" [(ngModel)]="cashadvanceappList[i].f052fbudgetAccount"
                                                                name="f052fbudgetAccount">
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <input type="text" maxlength="10" style="width:100px;"
                                                                class="form-control" placeholder="Enter So Code"
                                                                [(ngModel)]="cashadvanceappList[i].f052fsoCode" name="f052fsoCode"
                                                                value="">
                                                        </td>

                                                        <td>
                                                            <input type="text" maxlength="15" style="width:150px;text-align: right"
                                                                (keypress)="onlyNumberKey($event)" class="form-control"
                                                                placeholder="Enter Amount" [(ngModel)]="cashadvanceappList[i].f052famount"
                                                                (blur)="getAmount1()" name="f052famount" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" maxlength="10" style="width:150px"
                                                                (keypress)="onlyNumberKey($event)" class="form-control"
                                                                placeholder="Enter Quantity" [(ngModel)]="cashadvanceappList[i].f052fquantity"
                                                                (blur)="getAmount1()" name="f052fquantity" value="">
                                                        </td>

                                                        <td>
                                                            <input type="text" style="width:150px;text-align: right"
                                                                class="form-control" placeholder=" Total Amount"
                                                                [(ngModel)]="cashadvanceappList[i].f052ftotalAmount"
                                                                name="f052ftotalAmount" readonly="readonly" value="">
                                                        </td>
                                                        <td *ngIf="!isLast">
                                                            <button class="btn nh-btn-primary" type="button" (click)='deletecashadvanceapp(cashadvanceappList[i])'
                                                                *ngIf="viewDisabled==false">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </td>
                                                        <td *ngIf="isLast">
                                                            <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary"
                                                                type="button" (click)='deletecashadvanceapp(cashadvanceappList[i])'>
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                            <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary"
                                                                type="button" (click)='showNewRow()'>
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="showLastRow==false">
                                                        <td>
                                                            <ng-select style="width:150px;" [items]="cashadvanceList | sort:'displayname'"
                                                                bindLabel="displayname" bindValue="f051fid" [(ngModel)]="cashadvanceappData.f052fidCashType"
                                                                name="f052fidCashType" #item="ngModel" required>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [items]="itemList | sort:'f029fitemName'" style="width: 95px;"
                                                                bindLabel="f029fitemName" bindValue="f029fid" (change)="getUOM()"
                                                                [(ngModel)]="cashadvanceappData.f052fitem" name="f052fitem">
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <input type="text" readonly="readonly" maxlength="10" style="width: 95px"
                                                                class="form-control" name="f052funit" [(ngModel)]="cashadvanceappData.f052funit"
                                                                placeholder="unit">
                                                        </td>
                                                        <td>
                                                            <ng-select style="width:150px;" [items]="fundList |sort:'f057fcode'"
                                                                bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="cashadvanceappData.f052ffund"
                                                                name="f052ffund" #item="ngModel" required>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select style="width:150px;" [items]="activitycodeList |sort:'f058fcompleteCode'"
                                                                bindLabel="f058fname" bindValue="f058fcompleteCode"
                                                                [(ngModel)]="cashadvanceappData.f052factivity" name="f052factivity"
                                                                #item="ngModel" required>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select style="width:150px;" [items]="DeptList|sort:'f015fdepartmentCode'"
                                                                bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                                                [(ngModel)]="cashadvanceappData.f052fdepartment" name="f052fdepartment"
                                                                #item="ngModel" required>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select style="width:150px;" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                                                bindLabel="f059fname" bindValue="f059fcompleteCode"
                                                                [(ngModel)]="cashadvanceappData.f052faccount" name="f052faccount"
                                                                #item="ngModel" required>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" [items]="costCenterFund | sort:'f057fcode'"
                                                                style="width: 150px;" bindLabel="originalName"
                                                                bindValue="f057fcode" [(ngModel)]="cashadvanceappData.f052fbudgetFund"
                                                                name="f052fbudgetFund">
                                                            </ng-select>

                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'f058fcompleteCode'"
                                                                style="width: 150px;" bindLabel="originalName"
                                                                bindValue="f058fcompleteCode" [(ngModel)]="cashadvanceappData.f052fbudgetActivity"
                                                                name="f052fbudgetActivity">
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'f015fdepartmentCode'"
                                                                style="width: 150px;" bindLabel="originalName"
                                                                bindValue="f054fdepartmentCode" [(ngModel)]="cashadvanceappData.f052fbudgetDepartment"
                                                                name="f052fbudgetDepartment">
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'f059fcompleteCode'"
                                                                style="width: 150px;" bindLabel="originalName"
                                                                bindValue="f059fcompleteCode" [(ngModel)]="cashadvanceappData.f052fbudgetAccount"
                                                                name="f052fbudgetAccount">
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <input type="text" maxlength="10" style="width:100px;"
                                                                class="form-control" placeholder="Enter So Code"
                                                                [(ngModel)]="cashadvanceappData.f052fsoCode" name="f052fsoCode"
                                                                value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" maxlength="15" style="width:150px;text-align: right"
                                                                (keypress)="onlyNumberKey($event)" class="form-control"
                                                                placeholder="Enter Amount" [(ngModel)]="cashadvanceappData.f052famount"
                                                                name="f052famount" value="" (blur)="getAmount()">
                                                        </td>
                                                        <td>
                                                            <input type="text" maxlength="10" style="width:150px"
                                                                (keypress)="onlyNumberKey($event)" class="form-control"
                                                                placeholder="Enter Quantity" [(ngModel)]="cashadvanceappData.f052fquantity"
                                                                name="f052fquantity" value="" (blur)="getAmount()">
                                                        </td>

                                                        <td>
                                                            <input type="text" style="width:150px;text-align: right"
                                                                class="form-control" placeholder=" Total Amount"
                                                                [(ngModel)]="cashadvanceappData.f052ftotalAmount" name="f052ftotalAmount"
                                                                value="" readonly="readonly">
                                                        </td>
                                                        <td>
                                                            <button *ngIf="showLastRowMinus" class="btn nh-btn-primary"
                                                                type="button" (click)='deletemodule()'>
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                            <button *ngIf="showLastRowPlus" class="btn nh-btn-primary"
                                                                type="button" (click)='addcashadvanceapplist()'>
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" *ngIf="idview==2">
                            <p class="text-right">
                                <a routerLink="/cashadvances/cashadvanceapproval" class="btn nh-btn-secondary">Cancel</a>
                            </p>
                        </div>
                        <div class="col-sm-12" *ngIf="idview==3">
                            <p class="text-right">
                                <a routerLink="/cashadvances/cashadvanceprocess" class="btn nh-btn-secondary">Cancel</a>
                            </p>
                        </div>
                        <div class="col-sm-12" *ngIf="idview==4">
                            <p class="text-right">
                                <a routerLink="/cashadvances/cashdeclaration" class="btn nh-btn-secondary">Cancel</a>
                            </p>
                        </div>
                        <div class="col-sm-12" *ngIf="idview==5">
                            <p class="text-right">
                                <a routerLink="/cashadvances/cashadvancelisting" class="btn nh-btn-secondary">Cancel</a>
                            </p>
                        </div>
                        <div class="col-sm-12" *ngIf="idview==1 || idview==''">
                            <p class="text-right">
                                <a routerLink="/cashadvances/cashadvanceapp" class="btn nh-btn-secondary">Cancel</a>
                                <button type="submit" (click)='saveCashadvanceapp()' class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>