<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Utility Bill</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewutilitybill']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="utilitybillList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="premiseName">Premise</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078ffromDate">From Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078ftoDate"> To Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078freadingDate">Reading Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078funits">Total Usage</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078fcalculatedAmount">Amount(RM)</mfDefaultSorter>
                </th>

                <th class="text-center">Bill</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indutilitybill of  mf.data ">
                <td>{{indutilitybill.premiseName}}</td>
                <td>{{indutilitybill.f078ffromDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indutilitybill.f078ftoDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indutilitybill.f078freadingDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indutilitybill.f078funits}}</td>
                <td class="amountAlign">{{indutilitybill.f078fcalculatedAmount |number:'.2'}}</td>


                <td class="actions-col">
                  <!-- <div class="nh-btn-group text-center">
                          <a routerLink="/accountsrecivable/editutilitybill/{{indutilitybill.f078fid}}">
                            <button class="btn um-btn-edit">
                              <fa-icon [icon]="faEdit"></fa-icon>
                            </button>
                          </a>
                        </div> -->
                  <input type="button" name="Generate Bill" value="Generate Bill" (click)="generateBill(indutilitybill.f078fid)" />
                </td>
              </tr>
            </tbody>
            <tbody class="pagination-wrapper">
              <tr>
                <td class="pagination-col" colspan="10">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>