<app-header></app-header>
<section class="ps-main-section">
  <div class="ps-left-navbar">
    <ul class="ps-left-navbar-menu">
      <li class="ps-left-navbar-item" *ngFor="let menu of menuList">
        <a routerLink='{{menu.f011flink}}'>{{menu.f011fmenuName}}</a>
      </li>
      <!-- <li class="ps-left-navbar-item">
            <a [routerLink]="['/budget/budgetcostcenterapproval']">Budget Allocation By Cost Center Approval</a>
          </li>
      <li class="ps-left-navbar-item">
        <a [routerLink]="['/budget/budgetactivities']">Budget Allocation</a>
      </li>
      <li class="ps-left-navbar-item">
        <a [routerLink]="['/budget/budgetactivityapproval']">Budget Allocation Approval</a>

      </li>
      <li class="ps-left-navbar-item">
        <a [routerLink]="['/budget/budgetvirement']">Budget Virement</a>
      </li>
      <li class="ps-left-navbar-item">
        <a [routerLink]="['/budget/budgetvirementapproval']">Budget Virement Approval</a>
      </li>
      <li class="ps-left-navbar-item">
        <a [routerLink]="['/budget/budgetincrement']">Budget Increment</a>
      </li>
      <li class="ps-left-navbar-item">
        <a [routerLink]="['/budget/budgetincrementapproval']">Budget Increment Approval</a>
      </li> -->
      <!-- <li class="ps-left-navbar-item">
                <a [routerLink]="['/budget/budgetplanning']">Budget Group</a>

            </li> -->
      <!-- <li class="ps-left-navbar-item">
                <a [routerLink]="['/budget/budgetgeneralinformation']">Budget General Information</a>

            </li> -->
      <!-- <li class="ps-left-navbar-item">
                <a [routerLink]="['/budget/budgettransfer']">Budget Transfer</a>
            </li>
            <li class="ps-left-navbar-item">
                <a [routerLink]="['/budget/departmentactivity']">Department Activity</a>
            </li>
            <li class="ps-left-navbar-item">
                    <a [routerLink]="['/budget/departmentbudget']">Department Budget</a>
                </li> -->

    </ul>
  </div>
</section>

<router-outlet></router-outlet>
<app-footer></app-footer>
