<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Revenue Item Type</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/accountsrecivable/addnewrevenueitemtype']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="revenueitemList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th> Name </th>
                  <th> GL Code </th>
                  <th> Status</th>
                  <th> Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indRevenueItem of mf.data ">
                  <td>{{indRevenueItem.f036fname}}</td>
                  <td>{{indRevenueItem.glCode}}</td>
                  <td>{{indRevenueItem.f036fstatus == '1'?'Active':'Inactive'}}</td>
  
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/accountsrecivable/editrevenueitemtype/{{indRevenueItem.f036fid}}">
                        <button class="btn nh-btn-edit">
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  