<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Bill Generation</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="add-btn">
            <a [routerLink]="['/accountspayable/addnewnonpoinvoice']" class="btn nh-btn-primary">Add</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="nonpoinvoiceList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                <th>Received Date</th>
                <th>Amount (RM) </th>
                <th>Approval</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indnonpoinvoiceList of mf.data">
                <td>{{indnonpoinvoiceList.invoice}}</td>
                <td>{{indnonpoinvoiceList.f091finvoiceDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indnonpoinvoiceList.f091freceivedDate | date: 'dd/MM/yyyy'}}</td>
                <td class="amountAlign">{{indnonpoinvoiceList.f091famount | number: '.2'}}</td>
                <td>{{indnonpoinvoiceList.f093fapprovalStatus == 1?'Approved':'Not Approved'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountspayable/editnonpoinvoice/{{indnonpoinvoiceList.f091fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>