<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">EA Form Process</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addEaformprocess()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Company Name<span class="required-class">*</span></label>
                                    <ng-select [items]="companyList  | sort: 'f013fname'" bindLabel="f013fname"
                                        bindValue="f013fid" [(ngModel)]="eaformprocessData.f093fidCompany" name="f093fidCompany"
                                        #company="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="company.errors && (company.dirty || company.touched || f.submitted )"
                                        class="form-errors">*Select
                                        Company</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Year<span class="required-class">*</span></label>
                                    <ng-select [items]="fyearList" bindLabel="f015fname" bindValue="f015fid"
                                        [(ngModel)]="eaformprocessData.f093fyear" name="f093fyear" #year="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="year.errors && (year.dirty || year.touched || f.submitted )" class="form-errors">*Select
                                        Year
                                        .</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Type<span class="required-class">*</span></label>
                                    <ng-select [items]="staffList | sort: 'staff' " bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="eaformprocessData.f093fidStaff" name="f093fidStaff" #staff="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="staff.errors && (staff.dirty || staff.touched || f.submitted )" class="form-errors">*Select
                                        Staff</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="eaformprocessData.f093fstatus"
                                        [checked]="eaformprocessData.f093fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="eaformprocessData.f093fstatus"
                                        [checked]="eaformprocessData.f093fstatus=== '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/payroll/eaformprocess']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>