<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Depreciation Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addDepreciationSetup()" #f="ngForm" name="form" novalidate id="target">
                        <div class="row">
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code<span class="required-class">*</span></label>
                                    <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                        bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="depreciationData.f015faccountCode"
                                        name="f015faccountCode" #acccode="ngModel">
                                    </ng-select>
                                    <span *ngIf="acccode.errors && (acccode.dirty || acccode.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Account Code</span>
                                </div>
                            </div> -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Depreciation Expense Code<span class="required-class">*</span></label>
                                    <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                        bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="depreciationData.f015fdepAccountCode"
                                        name="f015fdepAccountCode" #deprexpen="ngModel">
                                    </ng-select>
                                    <span *ngIf="deprexpen.errors && (deprexpen.dirty || deprexpen.touched || f.submitted )"
                                        class="form-errors">*Enter
                                        the Depreciation Expense Code
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Accumulated Depreciation Code<span class="required-class">*</span></label>
                                    <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                        bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="depreciationData.f015fapAccountCode"
                                        name="f015fapAccountCode" #accdepr="ngModel">
                                    </ng-select>
                                    <span *ngIf="accdepr.errors && (accdepr.dirty || accdepr.touched || f.submitted )"
                                        class="form-errors">*Enter the Accumulated Depreciation Code
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Depreciation Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f015fdepreciationCode"
                                        placeholder="EnterDepreciation Code" [(ngModel)]="depreciationData.f015fdepreciationCode"
                                        value="" required #code="ngModel">
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted )" class="form-errors">*Enter
                                        the Depreciation Code
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Depreciation Description<span class="required-class">*</span></label>
                                    <textarea type="text" maxlength="50" class="form-control" name="f015fdepreciationDescription"
                                        placeholder="Enter Depreciation Description" [(ngModel)]="depreciationData.f015fdepreciationDescription"
                                        value="" required #desc="ngModel"></textarea>
                                    <span *ngIf="desc.errors && (desc.dirty || desc.touched || f.submitted )" class="form-errors">*Enter
                                        the Depreciation Description
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Life Span<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f015flifeSpan"
                                        placeholder="Enter Life Span" (keypress)="onlyNumberKey($event)" [(ngModel)]="depreciationData.f015flifeSpan"
                                        value="" required #lifespan="ngModel">
                                    <span *ngIf="lifespan.errors && (lifespan.dirty || lifespan.touched || f.submitted )"
                                        class="form-errors">*Enter the Life Span
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Depreciation Rate<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f015fdepreciationRate"
                                        placeholder="Enter Depreciation Rate" [(ngModel)]="depreciationData.f015fdepreciationRate"
                                        value="" (keypress)="onlyNumberKey($event)" required #rate="ngModel">
                                    <span *ngIf="rate.errors && (rate.dirty || rate.touched || f.submitted )" class="form-errors">*Enter
                                        the Depreciation Rate
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="depreciationData.f015fstatus"
                                        [checked]="depreciationData.f015fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="depreciationData.f015fstatus"
                                        [checked]="depreciationData.f015fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/depreciationsetup']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>