<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <!-- <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;"> -->
    <div class="row">
      <div class="col-sm-12">
        <h1 class="ad-page-title">Date Maintenance</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form (ngSubmit)="f.form.valid && addDatemaintainance()" #f="ngForm" name="form" novalidate>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Process Type<span class="required-class">*</span></label>
                <ng-select [items]="processtype|sort:'f103fname'" bindLabel="f103fname" bindValue="f103fid" [(ngModel)]="datemaintainanceData.f070fprocessType"
                  name="f070fprocessType" #per="ngModel" required>
                </ng-select>
                <span *ngIf="per.errors && (per.dirty || per.touched || f.submitted )" class="form-errors">*Select
                  Process Type
                  .</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Month<span class="required-class">*</span></label>
                <ng-select [items]="fmonth" bindLabel="name" bindValue="name" [(ngModel)]="datemaintainanceData.f070fmonth"
                  name="f070fmonth" #month="ngModel" required>
                </ng-select>
                <span *ngIf="month.errors && (month.dirty || month.touched || f.submitted)" class="form-errors">*
                  Select Month</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Start Date<span class="required-class">*</span></label>
                <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="datemaintainanceData.f070fstartDate"
                  name="f070fstartDate" required #startdate="ngModel">
                <span *ngIf="startdate.errors && (startdate.dirty || startdate.touched || f.submitted)" class="form-errors">*
                  Select Start Date</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>End Date<span class="required-class">*</span></label>
                <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="datemaintainanceData.f070fendDate"
                  name="f070fendDate" required #enddate="ngModel">
                <span *ngIf="enddate.errors && (enddate.dirty || enddate.touched || f.submitted)" class="form-errors">*
                  Select End Date </span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div [className]="'active'"></div>
                <label>Status</label>
                <br>
                <input type="radio" name="Status" [(ngModel)]="datemaintainanceData.f070fstatus" [checked]="datemaintainanceData.f070fstatus === '1'"
                  [value]="1"> Active
                <br>
                <input type="radio" name="Status" [(ngModel)]="datemaintainanceData.f070fstatus" [checked]="datemaintainanceData.f070fstatus === '0'"
                  [value]="0"> Inactive
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/payroll/datemaintainance']" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" class="btn um-btn-primary mar-l-20">Process</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>