<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Fund</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/generalsetup/addnewfund']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped" [mfData]="fundList | filter : searchText | sort:'f057fcode'" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th><mfDefaultSorter by="f057fcode">Code</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f057fcode">Description</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f057fstatus">Status</mfDefaultSorter></th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indfund of mf.data">
                <td>{{indfund.f057fcode}}</td>
                <td>{{indfund.f057fname}}</td>
                <td>{{indfund.f057fstatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/generalsetup/editfund/{{indfund.f057fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
              <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>