<section>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-container">
                    <mat-card>
                        <p class="h4 text-center">REGISTER</p>
                        <mat-card-content>
                            <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
                                <!-- <div class="form-group">
                                    <mat-form-field>
                                        <input type="text" placeholder="User Name" formControlName="userName" id="userName" matInput>
                                    </mat-form-field>
                                </div> -->
                                <div class="form-group">
                                    <mat-form-field>
                                        <input type="email" placeholder="Email" formControlName="email" id="email" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    
                                    <mat-form-field>
                                        <input type="password" placeholder="Password" formControlName="password" id="password" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field>
                                        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" id="confirm-password" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" color="primary" mat-raised-button>REGISTER</button>
                                </div>
                                <div class="form-group">
                                    Already have an account? <a [routerLink]="['/login']">Sign In</a>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>