<div class="ps-right-section">
    <div class="ps-dashboard-sec">
       <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
          <div class="row">
             <div class="col-sm-12">
                <!-- <h1 class="ad-page-title" >Invoice Approval</h1> -->
                <h1 class="ad-page-title" *ngIf="viewid==2">Invoice Entry Approval</h1>
                <h1 class="ad-page-title" *ngIf="viewid!=2">Invoice Entry</h1>
             </div>
          </div>
          <div class="row custom-row" id="target1">
             <div class="col-sm-4">
                <div class="form-group">
                   <div [className]="'active'"></div>
                   <label>Type</label>
                   <br>
                   <input type="radio" name="Status" [(ngModel)]="invoiceDataheader.f071ftype" [checked]="invoiceDataheader.f071ftype === '1'"
                   [value]="1"> PTJ
                   <br>
                   <input type="radio" name="Status" [(ngModel)]="invoiceDataheader.f071ftype" [checked]="invoiceDataheader.f071ftype === '0'"
                   [value]="0"> Finance
                   <br>
                </div>
             </div>
             <div class="col-sm-4">
                <div class="form-group">
                   <label>Customer Type</label>
                   <ng-select [disabled]="viewDisabled" [items]="invoicetype | sort:'name'" bindLabel="name" bindValue="type"
                   [(ngModel)]="invoiceDataheader.f071finvoiceType" name="f071finvoiceType" (change)="getType()">
                   </ng-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                   <label>Invoice Number</label>
                   <input type="text" class="form-control" [(ngModel)]="invoiceDataheader.f071finvoiceNumber" name="f071finvoiceNumber"
                   placeholder="Invoice Number" readonly="readonly">
                </div>
             </div>
             <div class="col-sm-4" *ngIf="type == 'OR'">
                <div class="form-group">
                   <label>Debtor Name</label>
                   <ng-select [disabled]="viewDisabled" [items]="customerList | sort:'Debtor'" bindLabel="Debtor"
                   bindValue="f021fid" [(ngModel)]="invoiceDataheader.f071fidCustomer" (change)="getInvoiceList()" name="f071fidCustomer"
                   #dept="ngModel" required>
                   </ng-select>
                </div>
             </div>
             <div class="col-sm-4" *ngIf="type == 'SP'">
                <div class="form-group">
                   <label>Sponser </label>
                   <ng-select [disabled]="viewDisabled" [items]="sponserList | sort:'f063fname'" bindLabel="Name"
                   bindValue="f063fid" [(ngModel)]="invoiceDataheader.f071fidCustomer" (change)="getInvoiceList()" name="f071fidCustomer">
                   </ng-select>
                </div>
             </div>
             <div class="col-sm-4" *ngIf="type == 'STD'">
                <div class="form-group">
                   <label>Student </label>
                   <ng-select [disabled]="viewDisabled" [items]="studentList | sort:'f060fname'" bindLabel="f060fname"
                   bindValue="f060fid" [(ngModel)]="invoiceDataheader.f071fidCustomer" (change)="getInvoiceList()" name="f071fidCustomer">
                   </ng-select>
                </div>
             </div>
             <div class="col-sm-4" *ngIf="type == 'STA'">
                <div class="form-group">
                   <label>Staff </label>
                   <ng-select [disabled]="viewDisabled" [items]="smartStaffList | sort:'f034fname'" bindLabel="f034fname"
                   bindValue="f034fstaffId" [(ngModel)]="invoiceDataheader.f071fidCustomer" (change)="getInvoiceList()"
                   name="f071fidCustomer" #dept="ngModel" required>
                   </ng-select>
                </div>
             </div>
             <div class="col-sm-4" *ngIf="invoiceDataheader.f071ftype=='1'">
                <div class="form-group">
                   <label>Request Invoice ID</label>
                   <ng-select [disabled]="viewDisabled" [items]="maininvoiceList | sort:'f071finvoiceNumber'" bindLabel="f071finvoiceNumber"
                   bindValue="f071fid" [(ngModel)]="invoiceDataheader.f071fidRequestInvoice" name="f071fidRequestInvoice"
                   (change)="getPurchaseOrderDetails()">
                   </ng-select>
                </div>
             </div>
             <div class="col-sm-4">
                <div class="form-group">
                   <label>Invoice Date</label>
                   <input [disabled]="viewDisabled" type="date" class="form-control" name="startDate" [(ngModel)]="invoiceDataheader.f071finvoiceDate"
                   value="" required>
                </div>
             </div>
             <div class="col-sm-4">
                <div class="form-group">
                   <label>Amount (RM)</label>
                   <input type="text" class="form-control" style="text-align: right" name="finalAmount" [(ngModel)]="invoiceDataheader.f071finvoiceTotal"
                   placeholder="Amount" readonly="readonly">
                </div>
             </div>
             <div class="col-sm-4">
                <div class="form-group">
                   <label>Revenue Type</label>
                   <ng-select [disabled]="viewDisabled" [items]="revenuetypeList | sort:'f132frevenueName'" bindLabel="f132frevenueName"
                   bindValue="f132fid" [(ngModel)]="invoiceDataheader.f071fbillType" name="f071fbillType">
                   </ng-select>
                </div>
             </div>
             <div class="col-sm-8">
                <div class="form-group">
                   <label>Invoice Description<span class="required-class">*</span></label>
                   <textarea type="text" [disabled]="viewDisabled" class="form-control" maxlength="200" [(ngModel)]="invoiceDataheader.f071fdescription"
                   name="f071fdescription" placeholder="Invoice Description">
                   </textarea>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-sm-12">
                <div class="text-right">
                   <button class="btn nh-btn-primary" (click)="openAddNewModal(content)" type="button">Add New</button>      
                </div>
             </div>
          </div>
          <div id="overlay1"></div>
          <div id="myModal" class=" fade in" role="dialog">
             <!-- <div class="modal-dialog"> -->
             <!-- Modal content-->
             <div class="modal-content">
                <p class="maximize-icon">
                   <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                </p>
                <p class="minimize-icon hidden">
                   <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                </p>
                <div class="modal-body">
                   <div class="table-responsive credit-note-table-wrapper">
                      <table class="table table-bordered table-striped table-food" id="target">
                         <thead>
                            <tr>
                               <th rowspan="2">Revenue Item</th>
                               <th colspan='4' class="textCenter">Debit GL Code</th>
                               <th colspan='4' class="textCenter">Credit GL Code</th>
                               <th rowspan="2">Quantity</th>
                               <th rowspan="2">Price (RM)</th>
                               <th rowspan="2">Total (RM)</th>
                               <th rowspan="2">Tax Code</th>
                               <th rowspan="2">In %</th>
                               <th rowspan="2">Tax Amount (RM)</th>
                               <th rowspan="2">Total Inc Tax (RM)</th>
                               <!-- <th rowspan="2">Balance Amount(RM)</th> -->
                               <th rowspan="2"></th>
                            </tr>
                            <tr>
                               <th>Fund</th>
                               <th>Activity Code</th>
                               <th>Department</th>
                               <th>Account Code</th>
                               <th>Fund</th>
                               <th>Activity Code</th>
                               <th>Department</th>
                               <th>Account Code</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let indinv of invoiceList;let i = index;trackBy:indexTracker;last as isLast">
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'originalname'" style="width: 150px;"
                                  bindLabel="originalname" bindValue="f085fid" [(ngModel)]="invoiceList[i].f072fidItem"
                                  name="f072fidItem" (change)="getglcodeList()">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                  bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="invoiceList[i].f072fdebitFundCode"
                                  name="f072fdebitFundCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                  style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="invoiceList[i].f072fdebitActivityCode"
                                  name="f072fdebitActivityCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                                  bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="invoiceList[i].f072fdebitDepartmentCode"
                                  name="f072fdebitDepartmentCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                  style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="invoiceList[i].f072fdebitAccountCode"
                                  name="f072fdebitAccountCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                  bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="invoiceList[i].f072fcreditFundCode"
                                  name="f072fcreditFundCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                  style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="invoiceList[i].f072fcreditActivityCode"
                                  name="f072fcreditActivityCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                                  bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="invoiceList[i].f072fcreditDepartmentCode"
                                  name="f072fcreditDepartmentCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                  style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="invoiceList[i].f072fcreditAccountCode"
                                  name="f072fcreditAccountCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <input type="text" [disabled]="viewDisabled" class="form-control" (keypress)="onlyNumberKey($event)"
                                  style="width: 120px" [(ngModel)]="invoiceList[i].f072fquantity" placeholder="Enter Quantity"
                                  (blur)="onBlurMethod()">
                               </td>
                               <td>
                                  <input type="text" [disabled]="viewDisabled" class="form-control" (keypress)="onlyNumberKey($event)"
                                  style="width: 95px" [(ngModel)]="invoiceList[i].f072fprice" style="text-align: right; width: 120px"
                                  placeholder="Enter Price" name="listPrice" (blur)="onBlurMethod()">
                               </td>
                               <td><input [disabled]="viewDisabled" type="number" class="form-control" disabled="disabled"
                                  style="text-align: right; width: 120px" name="f072ftotalExc" (blur)="onBlurMethod()"
                                  [(ngModel)]="invoiceList[i].f072ftotalExc">
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'taxInformation'"
                                  bindLabel="taxInformation" bindValue="f081fid" style="width: 150px;" [(ngModel)]="invoiceList[i].f072fgstCode"
                                  name="f072fgstCode" #invoice="ngModel" required>
                                  </ng-select>
                               </td>
                               <td>
                                  <input type="number" readonly="readonly" class="form-control" style="width: 65px"
                                  [(ngModel)]="invoiceList[i].f072fgstValue" name="listGst" (blur)="onBlurMethod()">
                               </td>
                               <td><input type="text" maxlength="15" class="form-control" disabled="disabled" style="text-align: right; width: 120px"
                                  name="f072ftaxAmount" [(ngModel)]="invoiceList[i].f072ftaxAmount" (blur)="onBlurMethod()"
                                  placeholder="Tax Amount" value="">
                               </td>
                               <td>
                                  <input type="text" disabled="disabled" class="form-control" style="text-align: right; width: 130px"
                                  [(ngModel)]="invoiceList[i].f072ftotal" (blur)="onBlurMethod()" name="listTotal"
                                  placeholder="Total">
                               </td>
                               <!-- <td>
                                  <input type="number" readonly="readonly" class="form-control" style="width: 65px"
                                    [(ngModel)]="invoiceList[i].f072fbalanceAmount" name="f072fbalanceAmount">
                                  </td> -->
                               <td *ngIf="!isLast">
                                  <button class="btn nh-btn-primary" type="button" (click)='deleteInvoice(invoiceList[i])'
                                  *ngIf="viewDisabled==false">
                                  <i class="fa fa-minus"></i>
                                  </button>
                               </td>
                               <td *ngIf="isLast">
                                  <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteInvoice(invoiceList[i])'>
                                  <i class="fa fa-minus"></i>
                                  </button>
                                  <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                  <i class="fa fa-plus"></i>
                                  </button>
                               </td>
                            </tr>
                            <tr *ngIf="showLastRow==false">
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'originalname'" style="width: 150px;"
                                  bindLabel="originalname" bindValue="f085fid" [(ngModel)]="invoiceData.f072fidItem" name="f072fidItem"
                                  (change)="getglcode()">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                  bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="invoiceData.f072fdebitFundCode"
                                  name="f072fdebitFundCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                  style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="invoiceData.f072fdebitActivityCode"
                                  name="f072fdebitActivityCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                                  bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="invoiceData.f072fdebitDepartmentCode"
                                  name="f072fdebitDepartmentCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                  style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="invoiceData.f072fdebitAccountCode"
                                  name="f072fdebitAccountCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                  bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="invoiceData.f072fcreditFundCode"
                                  name="f072fcreditFundCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                  style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="invoiceData.f072fcreditActivityCode"
                                  name="f072fcreditActivityCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                                  bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="invoiceData.f072fcreditDepartmentCode"
                                  name="f072fcreditDepartmentCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                  style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="invoiceData.f072fcreditAccountCode"
                                  name="f072fcreditAccountCode">
                                  </ng-select>
                               </td>
                               <td>
                                  <input type="text" [disabled]="viewDisabled" maxlength="10" style="width: 75px" (keypress)="onlyNumberKey($event)"
                                  class="form-control" name="quantity" [(ngModel)]="invoiceData.f072fquantity" placeholder="Enter Quantity"
                                  (blur)="onBlurMethod()">
                               </td>
                               <td>
                                  <input type="text" [disabled]="viewDisabled" maxlength="10" style="text-align: right; width: 95px"
                                  (keypress)="onlyNumberKey($event)" class="form-control" name="price" [(ngModel)]="invoiceData.f072fprice"
                                  placeholder="Enter Price" (blur)="onBlurMethod()">
                               </td>
                               <td><input type="number" disabled="disabled" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                                  name="f072ftotalExc" [(ngModel)]="invoiceData.f072ftotalExc" (blur)="onBlurMethod()"
                                  placeholder="Total">
                               </td>
                               <td>
                                  <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'taxInformation'" style="width: 150px;"
                                  bindLabel="taxInformation" bindValue="f081fid" style="width: 150px;" [(ngModel)]="invoiceData.f072fgstCode"
                                  name="f072fgstCode" (change)="getGstvalue()">
                                  </ng-select>
                               </td>
                               <td>
                                  <input type="number" disabled="disabled" maxlength="15" style="width: 65px" class="form-control"
                                  name="f072fgstValue" [(ngModel)]="invoiceData.f072fgstValue" (blur)="onBlurMethod()"
                                  placeholder="" value="">
                               </td>
                               <td><input type="number" disabled="disabled" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                                  name="f072ftaxAmount" [(ngModel)]="invoiceData.f072ftaxAmount" (blur)="onBlurMethod()"
                                  placeholder="Tax Amount" value="">
                               </td>
                               <td>
                                  <input type="text" disabled="disabled" maxlength="10" class="form-control" name="total"
                                  style="text-align: right;width: 130px" [(ngModel)]="invoiceData.f072ftotal" (blur)="onBlurMethod()"
                                  placeholder="Total">
                               </td>
                               <!-- <td>
                                  <input type="number" readonly="readonly" class="form-control" style="width: 65px"
                                    [(ngModel)]="invoiceData.f072fbalanceAmount" name="f072fbalanceAmount">
                                  </td> -->
                               <td>
                                  <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                  <i class="fa fa-minus"></i>
                                  </button>
                                  <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addinvoicelist(0)'>
                                  <i class="fa fa-plus"></i>
                                  </button>
                               </td>
                            </tr>
                            <tr>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td>Total:{{this.invoiceDataheader.f071finvoiceTotal}}</td>
                               <td> </td>
                               <td></td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div>
          <div class="row" *ngIf="viewid==2">
             <div class="col-sm-12">
                <label>Remarks*</label>
                <textarea class="form-control" [(ngModel)]="invoiceapprovalData.reason" name="reason" placeholder="Enter Remarks"></textarea>
             </div>
          </div>
          <div class="row" *ngIf="viewid==2">
             <div class="col-sm-12">
                <p class="text-right">
                   <button type="submit" (click)='invoiceApprovalListData()' class="btn nh-btn-primary">Approve</button>
                   <button type="submit" (click)='regectJournalApprovalListData()' class="btn nh-btn-primary">Reject</button>
                </p>
             </div>
          </div>
          <div class="row">
             <div class="col-sm-12">
                <p class="text-right">
                   <a [routerLink]="['/accountsrecivable/maininvoice']" class="btn nh-btn-secondary" *ngIf="viewid!=2">Cancel</a>
                   <a routerLink="/accountsrecivable/maininvoiceapproval" class="btn nh-btn-secondary" *ngIf="viewid==2">Cancel</a>
                   <!-- <a [routerLink]="['/accountsrecivable/requestinvoice']" class="btn nh-btn-primary">Cancel</a> -->
                   <button type="submit" (click)='saveInvoice()' class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
                </p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid scroll-wrapper">
          <div class="row custom-row" >
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'originalname'"
                      bindLabel="originalname" bindValue="f085fid" [(ngModel)]="invoiceData.f072fidItem" name="f072fidItem"
                      (change)="getglcode()">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" 
                      bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="invoiceData.f072fdebitFundCode"
                      name="f072fdebitFundCode">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                      bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="invoiceData.f072fdebitActivityCode"
                      name="f072fdebitActivityCode">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" 
                      bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="invoiceData.f072fdebitDepartmentCode"
                      name="f072fdebitDepartmentCode">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                      bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="invoiceData.f072fdebitAccountCode"
                      name="f072fdebitAccountCode">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" 
                      bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="invoiceData.f072fcreditFundCode"
                      name="f072fcreditFundCode">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                      bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="invoiceData.f072fcreditActivityCode"
                      name="f072fcreditActivityCode">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" 
                      bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="invoiceData.f072fcreditDepartmentCode"
                      name="f072fcreditDepartmentCode">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                      bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="invoiceData.f072fcreditAccountCode"
                      name="f072fcreditAccountCode">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <input type="text" [disabled]="viewDisabled" maxlength="10"  (keypress)="onlyNumberKey($event)"
                      class="form-control" name="quantity" [(ngModel)]="invoiceData.f072fquantity" placeholder="Enter Quantity"
                      (blur)="onBlurMethod()">
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <input type="text" [disabled]="viewDisabled" maxlength="10" 
                      (keypress)="onlyNumberKey($event)" class="form-control" name="price" [(ngModel)]="invoiceData.f072fprice"
                      placeholder="Enter Price" (blur)="onBlurMethod()">
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <input type="number" disabled="disabled" maxlength="15" class="form-control" 
                      name="f072ftotalExc" [(ngModel)]="invoiceData.f072ftotalExc" (blur)="onBlurMethod()"
                      placeholder="Total">
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'taxInformation'" 
                      bindLabel="taxInformation" bindValue="f081fid"  [(ngModel)]="invoiceData.f072fgstCode"
                      name="f072fgstCode" (change)="getGstvalue()">
                      </ng-select>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <input type="number" disabled="disabled" maxlength="15" class="form-control"
                      name="f072fgstValue" [(ngModel)]="invoiceData.f072fgstValue" (blur)="onBlurMethod()"
                      placeholder="" value="">
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <input type="number" disabled="disabled" maxlength="15" class="form-control" 
                      name="f072ftaxAmount" [(ngModel)]="invoiceData.f072ftaxAmount" (blur)="onBlurMethod()"
                      placeholder="Tax Amount" value="">
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <label>Label here<span class="required-class">*</span></label>
                      <input type="text" disabled="disabled" maxlength="10" class="form-control" name="total"
                      [(ngModel)]="invoiceData.f072ftotal" (blur)="onBlurMethod()"
                      placeholder="Total">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
        <button type="submit" (click)='saveInvoice()' class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
    </div>    
</ng-template>