<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Processing Fee</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addProcessingFee()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Loan Type<span class="required-class">*</span></label>
                                    <ng-select [items]="loannameList | sort: 'f020floanName'" bindLabel="f020floanName"
                                        bindValue="f020fid" [(ngModel)]="processingfeeData.f021fidLoanName" name="f021fidLoanName"
                                        #name="ngModel" required [disabled]="edit">
                                    </ng-select>
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Select
                                        Loan Name</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Effective Date<span class="required-class">*</span></label>
                                    <input type="date" class="form-control" name="f021feffectiveDate" placeholder="Enter Account Code"
                                        [(ngModel)]="processingfeeData.f021feffectiveDate" value="" required #effdate="ngModel">
                                    <span *ngIf="effdate.errors && (effdate.dirty || effdate.touched || f.submitted )"
                                        class="form-errors">*Select Effective Date </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Amount (RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" (keypress)="onlyNumberKey($event)" class="form-control"
                                        name="f021famount" placeholder="Enter Amount(RM)" style="text-align: right"
                                        [(ngModel)]="processingfeeData.f021famount" value="" required #amount="ngModel">
                                    <span *ngIf="amount.errors && (amount.dirty || amount.touched || f.submitted )"
                                        class="form-errors">*Enter
                                        the Amount
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fund<span class="required-class">*</span></label>
                                    <ng-select [items]="fundList" bindLabel="f057fname" bindValue="f057fcode"
                                        [(ngModel)]="processingfeeData.f021ffund" name="f021ffund" #fund="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                                        Fund </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Activity Code<span class="required-class">*</span></label>
                                    <ng-select [items]="activitycodeList" bindLabel="f058fname" bindValue="f058fcompleteCode"
                                        [(ngModel)]="processingfeeData.f021factivity" name="f021factivity" #Activity="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="Activity.errors && (Activity.dirty || Activity.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Activity Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cost Center<span class="required-class">*</span></label>
                                    <ng-select [items]="DeptList" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                        [(ngModel)]="processingfeeData.f021fdepartment" name="f021fdepartment" #Cost="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="Cost.errors && (Cost.dirty || Cost.touched || f.submitted)" class="form-errors">*Select
                                        Cost Center</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code<span class="required-class">*</span></label>
                                    <ng-select [items]="accountcodeList| sort: 'f059fcompleteCode'" bindLabel="f059fname"
                                        bindValue="f059fcompleteCode" [(ngModel)]="processingfeeData.f021faccount" name="f021faccount"
                                        #Account="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="Account.errors && (Account.dirty || Account.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Account Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="processingfeeData.f021fstatus"
                                        [checked]="processingfeeData.f021fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="processingfeeData.f021fstatus"
                                        [checked]="processingfeeData.f021fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/loan/processingfee']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>