<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Loan Period</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addLoanperiod()" #f="ngForm" name="form" novalidate>
            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Loan Period Description<span class="required-class">*</span></label>
                  <select class="form-control" [(ngModel)]="loanperioddata.f022fidLoanName" name="f022fidLoanName"
                    value="" required #name="ngModel">
                    <option value=''>--Select-- </option>
                    <option *ngFor="let indname of loanperiodlist" [value]="indname.f020fid">{{indname.f020floanName}}
                    </option>
                  </select>
                  <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Select
                    Loan Period Description</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Grade<span class="required-class">*</span></label>
                  <select class="form-control" [(ngModel)]="loanperioddata.f022fgrade" name="f022fgrade" placeholder="Enter Year "
                    required #grade="ngModel">
                    <option value=''>-- Select-- </option>
                    <option value="A">A</option>
                    <option value="B">B </option>
                  </select>
                  <span *ngIf=" grade.errors && (grade.dirty || grade.touched || f.submitted)" class="form-errors">*Select
                    Grade</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Minimum Months<span class="required-class">*</span></label>
                  <input type="text" maxlength="2" class="form-control" name="f022fminimumMonth" placeholder="Enter Minimum Months"
                    [(ngModel)]="loanperioddata.f022fminimumMonth" value="" required #min="ngModel">
                  <span *ngIf="min.errors && (min.dirty || min.touched || f.submitted )" class="form-errors">*Enter the
                    Minimum Months
                    .</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Maximum Months<span class="required-class">*</span></label>
                  <input type="text" maxlength="2" class="form-control" name="f022fmaximumMonth" placeholder="Enter Maximum Months"
                    [(ngModel)]="loanperioddata.f022fmaximumMonth" value="" required #max="ngModel">
                  <span *ngIf="max.errors && (max.dirty || max.touched || f.submitted )" class="form-errors">*Enter the
                    Maximum Months
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div [className]="'active'"></div>
                  <label>Status</label>
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="loanperioddata.f022fstatus" [checked]="loanperioddata.f022fstatus === '1'"
                    [value]="1"> Active
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="loanperioddata.f022fstatus" [checked]="loanperioddata.f022fstatus === '0'"
                    [value]="0"> Inactive
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/loan/loanperiod']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>