<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Opening Balance</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Opening Balance Approval</h1>
        </div>
      </div>
      <div class="row" id="target">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addOpeningbalance()" #f="ngForm" name="form" novalidate>
            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Financial Year <span class="required-class">*</span> </label>
                  <ng-select [disabled]="viewDisabled" [items]="financialyearList" bindLabel="f015fname" bindValue="f015fid"
                    [(ngModel)]="openingbalanceData.f016fidFinancialyear" name="f016fidFinancialyear" #year="ngModel"
                    required></ng-select>
                  <span *ngIf=" year.errors && (year.dirty || year.touched || f.submitted)" class="form-errors">*Select
                    Financial
                    Year</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Fund<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" bindLabel="f057fname"
                    bindValue="f057fcode" [(ngModel)]="openingbalanceData.f016ffund" name="f016ffund" #fund="ngModel"
                    required>
                  </ng-select>
                  <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                    Fund</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Activity Code<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'" bindLabel="f058fname"
                    bindValue="f058fcompleteCode" [(ngModel)]="openingbalanceData.f016factivityCode" name="f016factivityCode"
                    #activity="ngModel" required>
                  </ng-select>
                  <span *ngIf="activity.errors && (activity.dirty || activity.touched || f.submitted)" class="form-errors">*Select
                    Activity Code.
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Department<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                        bindValue="f015fdepartmentCode" [(ngModel)]="openingbalanceData.f016fdepartment" name="f016fdepartment"
                        #dept="ngModel" required>
                      </ng-select>
                      <span *ngIf="dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                        Department .
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Account Code<span class="required-class">*</span></label>
                      <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                        bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="openingbalanceData.f016faccountCode"
                        name="f016faccountCode" #account="ngModel" required>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Debit Amount (RM)<span class="required-class">*</span></label>
                      <input type="text" maxlength="15" class="form-control" style="text-align: right" name="f016fdrAmount"
                        placeholder="Enter Debit Amount(RM)" [(ngModel)]="openingbalanceData.f016fdrAmount" (keypress)="onlyNumberKey($event)"
                        value="" required #debit="ngModel">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Credit Amount (RM)<span class="required-class">*</span></label>
                      <input type="text" maxlength="15" class="form-control" style="text-align: right" name="f016fcrAmount"
                        placeholder="Enter Credit Amount" [(ngModel)]="openingbalanceData.f016fcrAmount" (keypress)="onlyNumberKey($event)"
                        value="" required #credit="ngModel">
                      <span *ngIf="credit.errors && (credit.dirty || credit.touched || f.submitted)" class="form-errors">*
                        Enter the Credit Amount (RM).
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/generalledger/openingbalance']" *ngIf="idview!=2" class="btn nh-btn-secondary">Cancel</a>
                  <a [routerLink]="['/generalledger/openingbalanceapproval']" *ngIf="idview==2" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>