
<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Country</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">

                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/generalsetup/addnewcountry']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="countryList | filter : searchText | sort:'f013fcountryName'" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                    <th><mfDefaultSorter by="f013fcountryName">Country Name</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f013fshortName">Short Name</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f013fiso">ISO</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f013fstatus">Status</mfDefaultSorter></th>
                                <!-- <th>Country Name</th>
                                <th>Short Name</th>
                                <th>ISO</th>
                                <th>Status</th> -->
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indcountry of mf.data ">
                                <td>{{indcountry.f013fcountryName}}</td>
                                <td>{{indcountry.f013fshortName}}</td>
                                <td>{{indcountry.f013fiso}}</td>
                                <td>{{indcountry.f013fstatus === 1?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                            <a routerLink="/generalsetup/editcountry/{{indcountry.f013fid}}">
                                        <button class="btn nh-btn-edit">
                                            
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            </a>
                                        
                                        <!-- <button class="btn nh-btn-remove">
                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                          </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>