<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Voucher Generation</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Voucher Number</label>
                                <input type="text" class="form-control" [(ngModel)]="voucherGenerationDataheader.f071fvoucherNumber" name="f071fvoucherNumber" placeholder="Voucher Number" (change)="getVoucherNumber()" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Payment Voucher Type </label>

                                <select class="form-control" (change)="customerEnable()" [(ngModel)]="voucherGenerationDataheader.f071fvoucherType" name="f071fvoucherType">
                                    <option value=''>--Please Select--</option>
                                    <option *ngFor="let indpaymenttype of paymenttypeList" [value]="indpaymenttype.f011fid">{{
                                        indpaymenttype.f011fdefinitionCode
                                        }}
                                    </option>


                                </select>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" *ngIf="payType == 'General Claim'">
                                <label>Customer </label>
                                <select class="form-control" [(ngModel)]="voucherGenerationDataheader.f071fidCustomer" name="f071fidCustomer">
                                    <option *ngFor="let indcustomer of claimCustomerList" [value]="indcustomer.f022fid">{{
                                        indcustomer.f022ffirstName }} {{ indcustomer.f022flastName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Amount (RM)</label>
                                <input type="text" class="form-control" style="text-align: right" name="f071fvoucherTotal" [(ngModel)]="voucherGenerationDataheader.f071fvoucherTotal" placeholder="Amount" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" name="f071fvoucherDate" [(ngModel)]="voucherGenerationDataheader.f071fvoucherDate" value="" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-food">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Debit GL-Code</th>
                                        <th>Credit GL-Code</th>
                                        <th>Quantity</th>
                                        <th>Price (RM)</th>
                                        <th>Tax Code</th>
                                        <th>In %</th>
                                        <th>Total (RM)</th>
                                        <th>Tax Amount (RM)</th>
                                        <th>Total Inc Tax (RM)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let indinv of voucherGenerationList;let i = index;trackBy:indexTracker">
                                        <td>
                                            <select class="form-control" [(ngModel)]="voucherGenerationList[i].f072fidItem" name="f016fidGlcode" #invoice="ngModel">
                                                <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                                            </select> </td>
                                        <td>
                                            <select class="form-control" [(ngModel)]="voucherGenerationList[i].f072fidDebitGlcode" name="f072fidCreditGlcode">
                                                <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{
                                                    indglcode.f014fglCode
                                                    }}</option>
                                            </select> </td>
                                        <td>
                                            <select class="form-control" [(ngModel)]="voucherGenerationList[i].f072fidCreditGlcode" name="f072fidCreditGlcode">
                                                <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{
                                                    indglcode.f014fglCode
                                                    }}</option>
                                            </select> </td>
                                        <td>
                                            <input type="number" class="form-control" style="width: 75px" [(ngModel)]="voucherGenerationList[i].f072fquantity" value="" (blur)="onBlurMethod()">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" style="width: 95px" [(ngModel)]="voucherGenerationList[i].f072fprice" name="listPrice" (blur)="onBlurMethod()">
                                        </td>
                                        <td>
                                            <select class="form-control" [(ngModel)]="voucherGenerationList[i].f072fgstCode" name="f072fgstCode" #invoice="ngModel">
                                                <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                                                    indtaxcode.f081fcode }}</option>
                                            </select> </td>
                                        <td>
                                            <input type="number" class="form-control" style="width: 70px" [(ngModel)]="voucherGenerationList[i].f072fgstValue" name="listGst" (blur)="onBlurMethod()">
                                        </td>
                                        <td><input type="number" class="form-control" style="text-align: right" name="exTotalAmount" [(ngModel)]="voucherGenerationList[i].exTotalAmount">
                                        </td>


                                        <td><input type="number" maxlength="15" class="form-control" style="text-align: right" name="taxAmount" [(ngModel)]="voucherGenerationList[i].taxAmount" placeholder="Tax Amount" value=""></td>
                                        <td>

                                            <input type="text" disabled="disabled" class="form-control" style="text-align: right;" [(ngModel)]="voucherGenerationList[i].f072ftotal" name="listTotal" placeholder="Total"> </td>

                                        <!-- <td>
                                            <input type="button" name="add" (click)='deleteVoucher(voucherGenerationList[i])' value='Delete' class="btn nh-btn-primary" />
                                        </td> -->
                                    </tr>


                                    <tr>
                                        <td>
                                            <select class="form-control" style="width: 90px" [(ngModel)]="voucherGenerationData.f072fidItem" name="fidItem" required #department="ngModel">
                                                <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" style="width: 200px" [(ngModel)]="voucherGenerationData.f072fidDebitGlcode" name="DebitGlcode">
                                                <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{
                                                    indglcode.f014fglCode
                                                    }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" style="width: 200px" [(ngModel)]="voucherGenerationData.f072fidCreditGlcode" name="CreditGlcode">
                                                <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{
                                                    indglcode.f014fglCode
                                                    }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" maxlength="10" style="width: 75px" class="form-control" name="quantity" [(ngModel)]="voucherGenerationData.f072fquantity">
                                        </td>
                                        <td>
                                            <input type="number" maxlength="10" style="text-align: right; width: 95px" class="form-control" name="price" [(ngModel)]="voucherGenerationData.f072fprice" placeholder="Price">
                                        </td>
                                        <td>
                                            <select class="form-control" style="width: 100px" [(ngModel)]="voucherGenerationData.f072fgstCode" name="f072fgstCode" required #department="ngModel" (change)="getGstvalue(this.value)">
                                                <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                                                    indtaxcode.f081fcode }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" maxlength="15" style="width: 65px" class="form-control" name="f072fgstValue" [(ngModel)]="voucherGenerationData.f072fgstValue" placeholder="" value="">
                                        </td>
                                        <td><input type="number" maxlength="15" class="form-control" style="text-align: right; width: 120px" name="exTotalAmount" [(ngModel)]="voucherGenerationData.exTotalAmount" placeholder="Total" value="{{ voucherGenerationData.f072fquantity * voucherGenerationData.f072fprice }}"></td>

                                        <td><input type="number" maxlength="15" class="form-control" style="text-align: right; width: 120px" name="taxAmount" [(ngModel)]="voucherGenerationData.taxAmount" placeholder="Tax Amount" value=""></td>
                                        <td>
                                            <input type="text" disabled="disabled" maxlength="10" class="form-control" name="total" style="text-align: right;width: 130px" [(ngModel)]="voucherGenerationData.f072ftotal" placeholder="Total" value="{{ voucherGenerationData.f072fgstValue / 100 * (voucherGenerationData.f072fquantity * voucherGenerationData.f072fprice) + (voucherGenerationData.f072fquantity * voucherGenerationData.f072fprice) }}">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th>Total</th>

                                        <td> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <a [routerLink]="['/accountsrecivable/voucherapproval']" class="btn nh-btn-primary">Back</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
