<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Currency Rate Setup</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/studentfinance/addnewcurrencyratesetup']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="currencyratesetupList | filter : searchText | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="currencyCode">Currency Setup Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f064fexchangeRate">Exchange Rate(RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f064feffectiveDate">Effective Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f064fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indcurrencyratesetup of mf.data">
                <td>{{indcurrencyratesetup.currencyCode}}</td>
                <td class="amountAlign">{{indcurrencyratesetup.f064fexchangeRate | number:'.2'}}</td>
                <td>{{indcurrencyratesetup.f064feffectiveDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indcurrencyratesetup.f064fstatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/studentfinance/editcurrencyratesetup/{{indcurrencyratesetup.f064fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="9">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>