<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Tender Shortlist</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Reference Number<span class="required-class">*</span></label>
            <ng-select [items]="tenderQuotationList | sort:'f035fquotationNumber'" bindLabel="f035fquotationNumber"
              bindValue="f035fid" [(ngModel)]="specData.f050fidTendor" name="f050fidTendor" (change)="showTenderItems()">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Title<span class="required-class">*</span></label>
            <input type="text" disabled="disabled" class="form-control" [(ngModel)]="specData.f050ftitle">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Start Date<span class="required-class">*</span></label>
            <input type="datetime-local" disabled="disabled" class="form-control" [(ngModel)]="specData.f050fstartDate"
              name="f050fstartDate">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>End Date<span class="required-class">*</span></label>
            <input type="datetime-local" disabled="disabled" class="form-control" [(ngModel)]="specData.f050fendDate"
              name="f050fendDate">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Tender Opening Date<span class="required-class">*</span></label>
            <input type="datetime-local" disabled="disabled" class="form-control" [(ngModel)]="specData.f050ftenderOpeningDate"
              name="f050ftenderOpeningDate">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive credit-note-table-wrapper">
            <table class="table table-bordered table-striped credit-note-table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Vendor</th>
                  <th> Vendor Code</th>
                  <th> Grade</th>
                  <th> Amount(RM)</th>
                  <th> Completion Duration</th>
                  <th> Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indinv of supplierList;let i = index;trackBy:indexTracker">
                  <td>
                    {{i+1}}
                    <input type="checkbox" [(ngModel)]="supplierList[i].statuscheckbox" name="statuscheckbox">
                  </td>
                  <td>
                    <ng-select disabled="disabled" [items]="vendorList | sort:'f030fcompanyName'" bindLabel="f030fcompanyName"
                      bindValue="f030fid" [(ngModel)]="supplierList[i].f050fidVendor" name="f050fidVendor">
                    </ng-select>
                  </td>
                  <td>
                    <input readonly="readonly" type="text" style="width:80px;" disabled="disabled" [(ngModel)]="supplierList[i].f050fvendorCode"
                      name="f050fvendorCode">
                  </td>
                  <td>
                    <ng-select disabled="disabled" [items]="licenseList | sort:'f091flicense'" bindLabel="f091flicense"
                      bindValue="f091fid" [(ngModel)]="supplierList[i].f050fgrade" name="f050fgrade">
                    </ng-select>
                  </td>
                  <td>
                    <input type="text" readonly="readonly" class="amountAlign" [(ngModel)]="supplierList[i].f050famount"
                      name="f050famount">
                  </td>
                  <td>
                    <input type="text" readonly="readonly" [(ngModel)]="supplierList[i].f050fcompletionDuration" name="f050fcompletionDuration">
                  </td>

                  <td>
                    <input type="text" readonly="readonly" [(ngModel)]="supplierList[i].f050fdescription" name="f050fdescription">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Tender Committee</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" id='target2'>
            <thead>
              <tr align="center">
                <th>Staff Id</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inddescription of committList; let i = index; trackBy:indexTracker">
                <td>
                  <ng-select disabled="disabled" [items]="smartStaffList" style="width:150px" bindLabel="f034fname"
                    bindValue="f034fstaffId" [(ngModel)]="committList[i].f051fidStaff" name="f051fidStaff">
                  </ng-select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Tender General Specs</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" id='target2'>
            <thead>
              <tr align="center">
                <th>Commitee Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indremark of remarkList; let i = index; trackBy:indexTracker">
                <td>
                  <input readonly="readonly" type="text" style="width:350px;" class="form-control" name="f053fremarks"
                    [(ngModel)]="remarkList[i].f053fremarks" placeholder="Remarks" value="">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-right">
            <button type="button" (click)='saveData()' class="btn nh-btn-primary">Save</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>