<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">PreOrder Stock Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addPreorderlevel()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Code Stock<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f098fkodStock"
                                        placeholder="Enter Code Stock" [(ngModel)]="preorderData.f098fkodStock" value=""
                                        required #kod="ngModel">
                                    <span *ngIf="kod.errors && (kod.dirty || kod.touched || f.submitted )" class="form-errors">*Enter
                                        the Code Stock
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Category<span class="required-class">*</span></label>
                                    <ng-select [items]="categoryList|sort:'f087fcategoryDiscription'" bindLabel="f087fcategoryDiscription"
                                        bindValue="f087fid" [(ngModel)]="preorderData.f098fidCategory" name="f098fidCategory"
                                        #category="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="category.errors && (category.dirty || category.touched || f.submitted )"
                                        class="form-errors">*Select Asset Category
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Sub Category<span class="required-class">*</span></label>
                                    <ng-select [items]="subcategoryList | sort:'f089fsubDescription'" bindLabel="f089fsubDescription"
                                        bindValue="f089fid" [(ngModel)]="preorderData.f098fidSubCategory" name="f098fidSubCategory"
                                        #subcategory="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="subcategory.errors && (subcategory.dirty || subcategory.touched || f.submitted )"
                                        class="form-errors">*Select Sub Category
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Item Type<span class="required-class">*</span></label>
                                    <ng-select [items]="typeList|sort:'f090ftypeDescription'" bindLabel="f090ftypeDescription"
                                        bindValue="f090fid" [(ngModel)]="preorderData.f098fidAssetType" name="f098fidAssetType"
                                        #type="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted )" class="form-errors">*Select
                                        Asset Item Type
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Item<span class="required-class">*</span></label>
                                    <ng-select [items]="assetitemList|sort:'f088fitemDescription'" bindLabel="f088fitemDescription"
                                        bindValue="f088fid" [(ngModel)]="preorderData.f098fidItem" name="f098fidItem"
                                        #Item="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="Item.errors && (Item.dirty || Item.touched || f.submitted )" class="form-errors">*Select
                                        Asset Item
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>PreOrder Level<span class="required-class">*</span></label>
                                    <input maxlength="9" class="form-control" name="f098fpreOrderLevel" placeholder="Enter PreOrder Level"
                                        [(ngModel)]="preorderData.f098fpreOrderLevel" (keypress)="onlyNumberKey($event)"
                                        required #name="ngModel">
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Enter
                                        the PreOrder Level
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="preorderData.f098fstatus" [checked]="preorderData.f098fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="preorderData.f098fstatus" [checked]="preorderData.f098fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/preorderlevelsetup']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>