<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Invoice Entry</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewmaininvoice']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="invoiceList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071finvoiceType">Customer Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="staffname">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071finvoiceDate">Invoice Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071finvoiceTotal">Total Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071ftotalPaid">Paid Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071fcrAmount">CN Amount (RM)</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f071fdrAmount">DN Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071fdiscount">Discount Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f072fbalanceAmount">Balance Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indinvoice of mf.data">
                <td>{{indinvoice.f071finvoiceNumber}}</td>
                <td>{{indinvoice.f071finvoiceType}}</td>
                <td>{{indinvoice.staffname}}</td>
                <td>{{indinvoice.f071finvoiceDate | date: 'MM/dd/yyyy'}}</td>
                <td class="amountAlign">{{indinvoice.f071finvoiceTotal | number: '.2'}}</td>
                <td class="amountAlign">{{indinvoice.f071ftotalPaid | number: '.2'}}</td>
                <td class="amountAlign">{{indinvoice.f071fcrAmount | number: '.2'}}</td>
                <td class="amountAlign">{{indinvoice.f071fdrAmount | number: '.2'}}</td>
                <td class="amountAlign">{{indinvoice.f071fdiscount | number: '.2'}}</td>
                <td class="amountAlign">{{indinvoice.f072fbalanceAmount | number: '.2'}}</td>

                <td>{{indinvoice.f071fstatus}}</td>
                <td *ngIf="indinvoice.f071fstatus == '1'"><input type='button' (click)="downloadInvoice(indinvoice.f071fid)"
                    value="Download" name="Download" /></td>
                <td *ngIf="indinvoice.f071fstatus == '0'">-</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editmaininvoice/{{indinvoice.f071fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indinvoice.f071fstatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indinvoice.f071fstatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indinvoice.f071fstatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>