.fill-row {
    flex: 1 1 auto;
}

.navbar-brand > a {
  color: #FFFFFF !important;
}
td {
  text-align: left;
}


.nav-menu .nav-menu-link,
.navbar-default .navbar-nav>li>a {
  display: block;
  text-align: center;
  font-size: 12px;
  color:#fff;
  font-weight: bold;
  line-height: 18px;
  padding: 2px 4px;
  border: 1px solid transparent;
  letter-spacing: 0px;
}
.nav-menu .nav-menu-link:hover,
.nav-menu .nav-menu-link:focus,
.nav-menu a.active,
.nav-menu .nav-menu-link.active ,
.nav-menu .nav-menu-link.show {
  border-color: #fff;
}


.nav-menu .dropdown-toggle {
  padding: 0px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border:none;
  box-shadow: none;
  outline: none;
}
.nav-menu .dropdown-menu {
  padding: 10px 0px;
}
.nav-menu .dropdown-menu.show {
  border-top-color: #fff;
  border-radius: 0;
  top:32px !important;
  left: 0 !important;
}
.nav-menu .dropdown-item {
    display: block;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 17px;
    color:#234892;
}
.nav-menu .dropdown-item:hover,
.nav-menu .dropdown-item:focus {
  background: rgba(0,0,0,0.1);
}



.um-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  padding: 12px 15px;
  border-radius: 0;
  background: #234892;
  border: none;
  height:76px;
}

.um-navbar-brand {
  padding:0px;
}
.um-menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.um-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
}
.um-menu-list li {
  margin:0 10px;
}
.um-menu-list li:first-child {
  margin-left: 0;
}
.um-menu-list li:first-child {
  margin-right: 0;
}
.logout-menu fa-icon {
  font-size: 21px;
  vertical-align: middle;
  margin-right: 5px;
}