<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Loan Type </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/loan/addnewloanname']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="loannameList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f020ftypeOfLoanname">Loan Category</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f020floanName">Loan Type</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f020fpercentage">Profit Rate(%)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f020fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indloanname of mf.data ">
                                <td>{{indloanname.LoanType}}</td>
                                <td>{{indloanname.f020floanName}}</td>
                                <td>{{indloanname.f020fpercentage | number: '.2'}}</td>
                                <td>{{indloanname.f020fstatus === 1?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/editloanname/{{indloanname.f020fid}}">
                                            <button class="btn nh-btn-edit" (click)="prefillData(indloanname.f020fid)">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>