<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Type Setup</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountspayable/addnewcreditorsetup']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="creditorsetupList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>

                <th>
                  <mfDefaultSorter by="setup">Payment Voucher Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f095faccountCode">Account Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f095ftype">Payment Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f095fdescription">Description</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f095fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indcreditorsetupList of mf.data">
                <td>{{indcreditorsetupList.setup}}</td>
                <td>{{indcreditorsetupList.f095faccountCode}}-{{indcreditorsetupList.accountCode}}</td>

                <td>{{indcreditorsetupList.f095ftype}}</td>
                <td>{{indcreditorsetupList.f095fdescription}}</td>

                <td>{{indcreditorsetupList.f095fstatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountspayable/editcreditorsetup/{{indcreditorsetupList.f095fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>