<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Purchase Requisition Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="prapprovalList| filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f088freferenceNumber">Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f088forderType">Order Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f088fdate">Purchase Requisition Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="costCenter">Department</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="supplier">Vendor</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="userName">Entered By</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f088fcreatedDtTm">Entered Date</mfDefaultSorter>
                </th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let purchaserequistion of mf.data">
                <td>{{purchaserequistion.f088freferenceNumber}}</td>
                <td>{{purchaserequistion.f088forderType}}</td>
                <td>{{purchaserequistion.f088fdate | date: 'dd/MM/yyyy'}}</td>
                <td>{{purchaserequistion.f088fidDepartment}}-{{purchaserequistion.costCenter}}</td>
                <td>{{purchaserequistion.Supplier}}</td>
                <td>{{purchaserequistion.userName}}</td>
                <td>{{purchaserequistion.f088fcreatedDtTm | date: 'dd/MM/yyyy'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/procurement/vieweditpr/{{purchaserequistion.f088fid}}/2">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>