<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <!-- <div class="container-fluid" style="height:200%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;"> -->
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Process Type</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Process Type<span class="required-class">*</span></label>
                            <input type="text" maxlength="25" class="form-control" [(ngModel)]="processDataHeader.f103fname" name="f103fname"
                                placeholder="Process Type" />
                        </div>
                    </div>
                    <!-- <div class="col-sm-3">
                        <div class="form-group">
                            <label>Salary Type<span class="required-class">*</span></label>
                            <ng-select [items]="salarytypeList" bindLabel="name" bindValue="id" [(ngModel)]="processDataHeader.f081fsalaryType"
                                name="f081fsalaryType" #salarytype="ngModel" required>
                            </ng-select>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Process Type</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indinv of processtypeList;let i = index;trackBy:indexTracker">

                                <td>
                                    <ng-select [items]="processList" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                                        [(ngModel)]="processtypeList[i].f103fidType" name="f103fidType"
                                        #accd="ngModel" required>
                                    </ng-select>
        

                                </td>
                                <!-- <td>                               
                                    <input type="button" name="add" (click)='deleteEvent(processtypeList[i])' value='Delete'
                                        class="btn nh-btn-primary" />
                                </td> -->
                                <td>
                                    <button class="btn nh-btn-primary" type="button" (click)='deleteEvent(processtypeList[i])'>
                                      <i class="fa fa-minus"></i>
                                    </button>
                                  </td>
                            </tr>


                            <tr>

                              
                                <td>
                                
                                    <ng-select [items]="processList" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                                        [(ngModel)]="processtypeData.f103fidType" name="f103fidType"
                                        #accd="ngModel" required>
                                    </ng-select>
                                </td>
                  
                                <!-- <td>
                                    <input type="button" name="add" (click)='addProcesstype()' value='ADD' class="btn nh-btn-primary" />
                                </td> -->
                                <td>
                                    <button class="btn nh-btn-primary" type="button" (click)='addProcesstype()'>
                                      <i class="fa fa-plus"></i>
                                    </button>
                                  </td>
                                

                            </tr>

                            <tr>
                            

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p class="text-right">
                        <a [routerLink]="['/payroll/processtype']" class="btn nh-btn-secondary">Cancel</a>
                        <button type="submit" (click)='saveProcesstype()' class="btn nh-btn-primary">Save</button>
                    </p>
                </div>

            </div>

        <!-- </div> -->
    </div>
</div>