<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Online Application</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <!-- <div class="add-btn">
                            <a [routerLink]="['/investment/addnewonlineapplicationone']" class="btn nh-btn-primary"> Add</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="onlineapplicationoneList | filter : searchText" #mf="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th><mfDefaultSorter by="f063fdescription">Description</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f063finvestmentAmount">Investment Amount (RM)</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f063fduration">Duration (Months)</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="institutionName">Investment Institution</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f063finterestRate">Profit Rate (Percentage)</mfDefaultSorter></th>
                                <th>Approval Status</th>

                               
                                <!-- <th>Status</th> -->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indonlineapplication of mf.data">
                                <td>{{indonlineapplication.f063fdescription}}</td>
                                <td class="amountAlign">{{indonlineapplication.f063finvestmentAmount | number: '.2'}}</td>
                                <td>{{indonlineapplication.f063fduration}}</td>
                                <td>{{indonlineapplication.institutionName}}</td>
                                <td>{{indonlineapplication.f063finterestRate}}</td>
                                <td>{{indonlineapplication.f063fapprovedStatus == 1?'Approved':'Not Approved'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indonlineapplication.f063fstatus">
                                </td>
                               
                                <!-- <td>{{indinvestmentapplication.f063fstatus === true?'Active':'Inactive'}}</td> -->

                                <!-- <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/investment/editonlineapplicationone/{{indonlineapplication.f063fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="col-sm-12">
                        <p class="text-right">
                            <button type="sellonline" (click)='sellOnlineapplicationoneData()' class="btn nh-btn-primary">Sell Online</button>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>