<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Account Code Report</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-left">
                    <button (click)="downloadReport()" class="btn nh-btn-primary">Download</button>
                  </p>
                </div>
               
  
               
  
               
              </div>
              
          </div>
          </div>
  
          
        </div>
      </div>
    </div>
  