<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Student Discount</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addDiscount()" #f="ngForm" name="form" novalidate>
                        <div class="row">

                           <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name<span class="required-class">*</span></label>
                                    <input type="text" maxlength="25" class="form-control" name="f046fname" placeholder="Enter Name "
                                        [(ngModel)]="discountData.f046fname" value="" required #name="ngModel">
                                    <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                                        the Name.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="5" class="form-control" name="f046fcode" placeholder="Enter Code "
                                        [(ngModel)]="discountData.f046fcode" value="" required #code="ngModel">
                                    <span *ngIf=" code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*Enter
                                        the Code.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Description<span class="required-class">*</span></label>
                                    <textarea maxlength="100" class="form-control" name="f046fdescription" placeholder="Enter Description"
                                        [(ngModel)]="discountData.f046fdescription" value="" required #dec="ngModel"></textarea>
                                    <span *ngIf=" dec.errors && (dec.dirty || dec.touched || f.submitted)" class="form-errors">*Enter
                                        the Description.</span>
                                </div>
                            </div>

                           </div>
                        </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Fee Item<span class="required-class">*</span></label>
                                            <select class="form-control" [(ngModel)]="discountData.f046ffeeItem" name="f046ffeeItem"
                                                required #feeitem="ngModel">
                                                <option *ngFor="let indfeeitem of feeitemList" [value]="indfeeitem.f066fid">{{indfeeitem.f066fname}}
                                                </option>
                                            </select>
                                            <span *ngIf=" feeitem.errors && (feeitem.dirty || feeitem.touched || f.submitted)"
                                                class="form-errors">*Enter Fee Item.</span>
                                        </div>
                                    </div>
        
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Amount<span class="required-class">*</span></label>
                                            <input maxlength="100" class="form-control" name="f046famount" placeholder="Enter Amount"
                                                [(ngModel)]="discountData.f046famount" value="" required #amount="ngModel">
                                            <span *ngIf=" amount.errors && (amount.dirty || amount.touched || f.submitted)"
                                                class="form-errors">*Enter Amount.</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Discount Type<span class="required-class">*</span></label>
                                            <select class="form-control" [(ngModel)]="discountData.f046fdiscountType" name="f046fdiscountType"
                                                required #discounttype="ngModel">
                                                <option [value]="1">Student </option>
                                                <option [value]="1">General </option>
        
                                            </select>
                                            <span *ngIf=" discounttype.errors && (discounttype.dirty || discounttype.touched || f.submitted)"
                                                class="form-errors">*Select Discount Type.</span>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-sm-12">
                                   
        
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Discount Amount Type<span class="required-class">*</span></label>
                                            <select class="form-control" [(ngModel)]="discountData.f046fdiscountAmountType" name="f046fdiscountAmountType"
                                                required #discounttype="ngModel">
                                                <option [value]="1">By Amount </option>
                                                <option [value]="2">By Percentage</option>
        
                                            </select>
                                            <span *ngIf=" discounttype.errors && (discounttype.dirty || discounttype.touched || f.submitted)"
                                                class="form-errors">*Select Discount Amount Type.</span>
                                        </div>
                                    </div>
        
        
        
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div [className]="'active'"></div>
                                            <label>Status</label>
                                            <br>
                                            <input type="radio" name="Status" [(ngModel)]="discountData.f046fstatus" [checked]="discountData.f046fstatus === '1'"
                                                [value]="1"> Active
                                            <br>
                                            <input type="radio" name="Status" [(ngModel)]="discountData.f046fstatus" [checked]="discountData.f046fstatus === '0'"
                                                [value]="0"> Inactive
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/studentfinance/discount']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>