<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title"> Loan Offer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <div class="add-btn">
                            <a [routerLink]="['/loan/addnewloanoffer']" class="btn nh-btn-primary">Offer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="loanofferList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f043freferenceNumber">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="VehicleType">Vehicle Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="VehicleCondition">Vehicle Condition</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fmanufacturer">Manufacturer</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fmodel">Model</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fcc">CC</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fcompanyName">Company Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043finsuranceComp">Insurance EMP</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043floanEntitlement">Loan Entitlment</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fpurchasePrice">Purchase Price</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fstatus">Status</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indloanoffer of mf.data ">
                                <td>{{indloanoffer.f043freferenceNumber}}</td>
                                <td>{{indloanoffer.VehicleType}}</td>
                                <td>{{indloanoffer.VehicleCondition}}</td>
                                <td>{{indloanoffer.f043fmanufacturer}}</td>
                                <td>{{indloanoffer.f043fmodel}}</td>
                                <td>{{indloanoffer.f043fcc}}</td>
                                <td>{{indloanoffer.f043fcompanyName}}</td>
                                <td>{{indloanoffer.f043finsuranceComp}}</td>
                                <td>{{indloanoffer.f043floanEntitlement}}</td>
                                <td>{{indloanoffer.f043fpurchasePrice | number: '.2'}}</td>
                                <td>{{indloanoffer.f043fstatus === '1'?'Active':'Inactive'}}</td>
                            </tr>
                        </tbody>
                        <td colspan="12">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>