<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Intake</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="intakeDataheader.f067fname" name="f067fname"
                placeholder="Enter Name" value="" required #name="ngModel">
              <!-- <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)"  class="form-errors">*.Enter the Name</span> -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" name="f067fdescription" [(ngModel)]="intakeDataheader.f067fdescription"
                placeholder="Enter Description" value="" required #dec="ngModel">
              <!-- <span *ngIf=" dec.errors && (dec.dirty || dec.touched || f.submitted)"  class="form-errors">*.Enter the Description</span> -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Semester Sequence<span class="required-class">*</span></label>
              <ng-select [items]="semsequenceList" bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="intakeDataheader.f067fsemSequence"
                name="f067fsemSequence" #level="ngModel">
              </ng-select>
              <!-- <span *ngIf="sequence.errors && (sequence.dirty || sequence.touched || f.submitted)" class="form-errors">*Select
                the sequence.</span> -->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Type<span class="required-class">*</span></label>
              <ng-select [items]="typeList" bindLabel="name" bindValue="name" [(ngModel)]="intakeDataheader.f067ftype"
                name="f067ftype"  (change)="getViewData()">
              </ng-select>
              <!-- <span *ngIf="sequence.errors && (sequence.dirty || sequence.touched || f.submitted)" class="form-errors">*Select
                the sequence.</span> -->
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Programme</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Category</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indintake of intakeList;let i = index;trackBy:indexTracker;last as isLast">
                    <td>
                      <ng-select [items]="programmeList | sort:'f068fname'" bindLabel="f068fname" bindValue="f068fid" style="width: 250px"
                        [(ngModel)]="intakeList[i].f067fidProgramme" name="f067fidProgramme">
                      </ng-select>
                    </td>
                    <td>

                      <input type="date" class="form-control" name="f067fstartDate" [(ngModel)]="intakeList[i].f067fstartDate"
                        value="">

                    </td>
                    <td>
                      <input type="date" class="form-control" name="f067fendDate" [(ngModel)]="intakeList[i].f067fendDate"
                        value="" (change)="dateComparison1()">
                    </td>
                    <td>
                      <!-- <select class="form-control" [(ngModel)]="intakeList[i].f067fidCategory" name="f067fidCategory">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indcategory of categoryList" [value]="indcategory.f011fid">{{
                          indcategory.f011fdefinitionCode
                          }}
                        </option>
                      </select> -->
                      <ng-select [items]="categoryList | sort:'f011fdefinitionCode'" style="width: 250px;" bindLabel="f011fdefinitionCode"
                        bindValue="f011fid" [(ngModel)]="intakeList[i].f067fidCategory" name="f067fidCategory" #acc="ngModel"
                        required>
                      </ng-select>
                    </td>
                    <td *ngIf="!isLast">
                      <button class="btn nh-btn-primary" type="button" (click)='deleteIntake(intakeList[i])'>
                        <i class="fa fa-minus"></i>
                      </button>
                    </td>
                    <td *ngIf="isLast">
                      <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteIntake(intakeList[i])'>
                        <i class="fa fa-minus"></i>
                      </button>
                      <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="showLastRow==false">
                    <td>
                      <!-- <select class="form-control" [(ngModel)]="intakeData.f067fidProgramme" name="f067fidProgramme"
                        required #department="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indprogramme of programmeList" [value]="indprogramme.f068fid">{{
                          indprogramme.f068fname
                          }}
                        </option>
                      </select> -->
                      <ng-select [items]="programmeList| sort:'f068fname'" bindLabel="f068fname" bindValue="f068fid" style="width: 250px"
                        [(ngModel)]="intakeData.f067fidProgramme" name="f067fidProgramme">
                      </ng-select>
                    </td>
                    <td>
                      <input type="date" class="form-control" name="f067fstartDate" [(ngModel)]="intakeData.f067fstartDate"
                        value="">
                    </td>
                    <td>

                      <input type="date" class="form-control" name="f067fendDate" [(ngModel)]="intakeData.f067fendDate"
                        value="" (change)="dateComparison()">

                    </td>
                    <td>

                      <!-- <select class="form-control" [(ngModel)]="intakeData.f067fidCategory" name="f067fidCategory">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indcategory of categoryList" [value]="indcategory.f011fid">{{
                          indcategory.f011fdefinitionCode
                          }}
                        </option>
                      </select> -->
                      <ng-select [items]="categoryList | sort:'f011fdefinitionCode'" style="width: 250px;" bindLabel="f011fdefinitionCode"
                        bindValue="f011fid" [(ngModel)]="intakeData.f067fidCategory" name="f067fidCategory" #acc="ngModel"
                        required>
                      </ng-select>
                    </td>
                    <td>
                      <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                        <i class="fa fa-minus"></i>
                      </button>
                      <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addIntakelist()'>
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-sm-12" *ngIf="this.type==0">
              <p class="text-right">
                <button type="submit" (click)='saveIntake()' class="btn nh-btn-primary">Save</button>
              </p>
            </div> -->
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/studentfinance/intake']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" (click)='saveIntake()' class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
            <!-- <div class="col-sm-12" *ngIf="this.type==1">
            <p class="text-right">
              <a [routerLink]="['/studentfinance/invoiceapproval/1']" class="btn nh-btn-primary">Back</a>
              
            </p>
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>