

<div class="ps-right-section">
  <div class="ps-dashboard-sec">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                <h1 class="ad-page-title">Loan Cancellation Request</h1>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="table-top-wrapper">
                      <div class="input-group">
                          <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                          <span class="input-group-btn">
                              <button class="btn btn-search" type="button">
                                  <i class="fa fa-search"></i>
                              </button>
                          </span>
                      </div>
                      <div class="add-btn">
                         <a [routerLink]="['/loan/addnewloancancellation']" class="btn nh-btn-primary">Add</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">  
                  <table class="table table-bordered table-striped table-food" [mfData]="loancancleList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                      <thead>
                        <tr>
                          <th><mfDefaultSorter by="f070fname">Loan Request Description</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="f070fcancelReason">Cancel Reason</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="staff">Staff</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="f070fstatus">Status</mfDefaultSorter></th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let indloancancle of mf.data">
                          <td>{{indloancancle.f070fname}}</td>
                          <td>{{indloancancle.f070fcancelReason }}</td>
                          <td>{{indloancancle.f070fidStaff}} - {{indloancancle.staff}}</td>
                          <td>{{indloancancle.f070fstatus == 1?'Active':'Inactive'}}</td>
                          
                          <td class="actions-col">
                            <div class="nh-btn-group">
                              <a routerLink="/loan/editloancancellation/{{indloancancle.f070fid}}">
                                <button class="btn nh-btn-edit">
                                  <i class="fa fa-edit"></i>
                                </button>
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <td colspan="8">
                          <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>