<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Claim Customer</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addClaimcustomer()" #f="ngForm" name="form" novalidate>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>First Name<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f022ffirstName" placeholder="Enter First Name"
                    [(ngModel)]="claimcustomerData.f022ffirstName" value="" required #fname="ngModel">
                  <span *ngIf="fname.errors && (fname.dirty || fname.touched || f.submitted )" class="form-errors">*Enter
                    First Name
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Last Name<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f022flastName" placeholder="Enter Last Name"
                    [(ngModel)]="claimcustomerData.f022flastName" value="" required #lname="ngModel">
                  <span *ngIf="lname.errors && (lname.dirty || lname.touched || f.submitted )" class="form-errors">*Enter
                    Last Name
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email<span class="required-class">*</span></label>
                  <input type="text" maxlength="25" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="f022femailId"
                    placeholder="Enter Email" [(ngModel)]="claimcustomerData.f022femailId" value="" value="" required
                    #email="ngModel">
                  <span *ngIf="email.errors && (email.dirty || email.touched || f.submitted )" class="form-errors">*Enter
                    Valid Email
                    .</span>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Password<span class="required-class">*</span></label>
                  <input type="password" maxlength="20" class="form-control" name="f022fpassword" placeholder="Enter Password"
                    [(ngModel)]="claimcustomerData.f022fpassword" value="" required #pass="ngModel">
                  <span *ngIf="pass.errors && (pass.dirty || pass.touched || f.submitted )" class="form-errors">*Enter
                    Password
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address One </label>
                  <input type="text" maxlength="150" class="form-control" name="f022faddress1" placeholder="Enter Address One"
                    [(ngModel)]="claimcustomerData.f022faddress1" value="" required #Addone="ngModel">
                  <span *ngIf="Addone.errors && (Addone.dirty || Addone.touched || f.submitted )" class="form-errors">*Enter
                    Address One
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address Two</label>
                  <input type="text" maxlength="150" class="form-control" name="f022faddress2" placeholder="Enter Address Two"
                    [(ngModel)]="claimcustomerData.f022faddress2" value="" required #addtwo="ngModel">
                  <span *ngIf="addtwo.errors && (addtwo.dirty || addtwo.touched || f.submitted )" class="form-errors">*Enter
                    Address Two
                    .</span>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Country<span class="required-class">*</span> </label>
                  <ng-select [items]="countryList | sort:'f013fcountryName'" bindLabel="f013fcountryName" bindValue="f013fid"
                    [(ngModel)]="claimcustomerData.f022fcountry" (change)="onCountryChange()" name="f022fcountry"
                    #country="ngModel" required>
                  </ng-select>
                  <span *ngIf="country.errors && (country.dirty || country.touched || f.submitted)" class="form-errors">*
                    Select Country </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>State <span class="required-class">*</span></label>
                  <ng-select [items]="stateList | sort:'f012fstateName'" bindLabel="f012fstateName" bindValue="f012fid"
                    [(ngModel)]="claimcustomerData.f022fstate" (change)="onCountryChange()" name="f022fstate" #state="ngModel"
                    required>
                  </ng-select>
                  <span *ngIf="state.errors && (state.dirty || state.touched || f.submitted)" class="form-errors">*
                    Select State </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>City<span class="required-class">*</span> </label>
                  <input type="text" maxlength="40" class="form-control" name="f022fcity" placeholder="Enter City"
                    [(ngModel)]="claimcustomerData.f022fcity" value="" required #city="ngModel">
                  <span *ngIf="city.errors && (city.dirty || city.touched || f.submitted )" class="form-errors">*Enter
                    City
                    .</span>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Zip Code<span class="required-class">*</span> </label>
                  <input type="text" maxlength="10s" class="form-control" name="f022fzipCode" placeholder="Enter Zip-Code"
                    [(ngModel)]="claimcustomerData.f022fzipCode" value="" (keypress)="onlyNumberKey($event)" required
                    #zip="ngModel">
                  <span *ngIf="zip.errors && (zip.dirty || zip.touched || f.submitted )" class="form-errors">*Enter Zip
                    Code
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Contact Number <span class="required-class">*</span></label>
                  <input type="text" maxlength="13" class="form-control" name="f022fcontact" placeholder="Enter Contact Number"
                    [(ngModel)]="claimcustomerData.f022fcontact" (keypress)="onlyNumberKey($event)" value="" required
                    #cont="ngModel">
                  <span *ngIf="cont.errors && (cont.dirty || cont.touched || f.submitted )" class="form-errors">*Enter
                    Contact Number
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Supplier <span class="required-class">*</span></label>
                  <input type="text" maxlength="30" class="form-control" name="f022fidSupplier" placeholder="Enter Supplier"
                    [(ngModel)]="claimcustomerData.f022fidSupplier" value="" required #supp="ngModel">
                  <span *ngIf="supp.errors && (supp.dirty || supp.touched || f.submitted )" class="form-errors">*Enter
                    Suppliers
                    .</span>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Tax Free <span class="required-class">*</span></label>
                  <input type="text" maxlength="40" class="form-control" name="f022fidTaxFree" placeholder="Enter Tax-Free"
                    [(ngModel)]="claimcustomerData.f022fidTaxFree" value="" required #tfree="ngModel">
                  <span *ngIf="tfree.errors && (tfree.dirty || tfree.touched || f.submitted )" class="form-errors">*Enter
                    Tax Free
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Is Supplier<span class="required-class">*</span></label>
                  <br>
                  <input type="radio" name="issuppliers" [(ngModel)]="claimcustomerData.f022fsupplier" [checked]="claimcustomerData.f022fsupplier === '1'"
                    [value]="1"> Yes
                  <br>
                  <input type="radio" name="issuppliers" [(ngModel)]="claimcustomerData.f022fsupplier" [checked]="claimcustomerData.f022fsupplier === '0'"
                    [value]="0"> No
                  <br>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Is Tax Free<span class="required-class">*</span></label>
                  <br>
                  <input type="radio" name="istaxfree" [(ngModel)]="claimcustomerData.f022ftaxFree" [checked]="claimcustomerData.f022ftaxFree === '1'"
                    [value]="1"> Yes
                  <br>
                  <input type="radio" name="istaxfree" [(ngModel)]="claimcustomerData.f022ftaxFree" [checked]="claimcustomerData.f022ftaxFree === '0'"
                    [value]="0"> No
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/accountspayable/claimcustomer" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>