<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/levelone']">
                                    Group Object</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/leveltwo']">

                                    Specific Object</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/levelthree']">

                                    Detail Object</a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title"> Specific Object</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">

                    <thead>
                        <tr>
                            <th>Group Category Code</th>
                            <th>Account Specific Sub Category Code</th>
                            <th>Account Specific Description</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let indleveltwo of leveltwoList; let i = index">
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="levelone" placeholder="levelone"
                                    [(ngModel)]="levelone" value="" (blur)="onBlurMethod(leveltwoList[i])">
                            </td>
                            <td>
                                <input type="text" maxlength="1" class="form-control" (keypress)="onlyNumberKey($event)"
                                    name="f059fcode" placeholder="Enter the Account Specific Sub Category Code"
                                    [(ngModel)]="leveltwoList[i].f059fcode" value="" (blur)="onBlurMethod(leveltwoList[i])">
                            </td>
                            <td>
                                <input type="text" maxlength="150" class="form-control" name="f059fname" placeholder="Enter the Account Specific Description"
                                    [(ngModel)]="leveltwoList[i].f059fname" value="">
                            </td>
                            <td>
                                <!-- <input type="button" name="add" (click)='deleteleveltwo(leveltwoList[i])' value='Delete' class="btn nh-btn-primary" /> -->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" maxlength="100" class="form-control" readonly="readonly" placeholder="Enter Levelone"
                                    [(ngModel)]="levelone" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="1" class="form-control" name="f059fcode" (keypress)="onlyNumberKey($event)"
                                    placeholder="Enter the Account Specific Sub Category Code" [(ngModel)]="leveltwoData.f059fcode"
                                    value="">
                            </td>
                            <td>
                                <input type="text" maxlength="150" class="form-control" name="f059fname" placeholder="Enter the Account Specific Description"
                                    [(ngModel)]="leveltwoData.f059fname" value="">
                            </td>

                            <td>
                                <!-- <input type="button" name="add" (click)='addLeveltwo()' value='ADD' class="btn nh-btn-primary" /> -->
                                <button class="btn nh-btn-primary" type="button" (click)='addLeveltwo()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/generalsetup/leveltwo" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveLeveltwo()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>