<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Initial Configuration</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <!-- <div class="add-btn">
                            <a [routerLink]="['/generalsetup/addnewconfig']" class="btn nh-btn-primary">Add</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="configList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <!-- <th>Finantial Year Starting</th>
                                <th>Finantial Year Ending</th> -->
                                <th>GST No</th>
                                <th>Central Excise</th>
                                <th>Address1</th>
                                <!-- <th>Address2</th> -->
                                <!-- <th>City</th> -->
                                <th>Contact Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <!-- <th>Status</th> -->
                                <th>Edit</th>

                                <!-- <th>voucherPrefix</th>
                                <th>voucherSuffix</th>
                                <th>voucherDelimiter</th>
                                <th>voucherStartNumber</th>
                                <th>voucherResetEveryfy</th> -->

                                <!-- <th>State</th>
                                <th>Country</th>
                                <th>DefaultState</th>
                                <th>DefaultCountry</th> -->
                                <!-- <th class="actions-col"></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indconfig of mf.data  | filter : searchText">
                                <!--                                 
                                <td>{{indconfig.f011ffyStarting}}</td>
                                <td>{{indconfig.f011ffyEnding}}</td> -->

                                <td>{{indconfig.f011fgstNo}}</td>
                                <td>{{indconfig.f011fcentralExcise}}</td>
                                <td>{{indconfig.f011faddress1}}</td>
                                <!-- <td>{{indconfig.f011faddress2}}</td> -->
                                <!-- <td>{{indconfig.f011fcity}}</td> -->
                                <td>{{indconfig.f011fcontactName}}</td>
                                <td>{{indconfig.f011fphoneNo}}</td>
                                <td>{{indconfig.f011femail}}</td>
                                <!-- <td>{{indconfig.f011fcity}}</td> -->
                                <!-- <td>{{indconfig.f011fstatus === true?'Active':'Inactive'}}</td> -->

                                <!-- <td>{{indconfig.f011fvoucherPrefix}}</td>
                                <td>{{indconfig.f011fvoucherSuffix}}</td>
                                <td>{{indconfig.f011fvoucherDelimiter}}</td>                                
                                <td>{{indconfig.f011fvoucherStartNumber}}</td>
                                <td>{{indconfig.f011fvoucherResetEveryfy}}</td> -->
                                <!-- <td>{{indconfig.f011fstate}}</td>
                                <td>{{indconfig.f011fcountry}}</td>
                                <td>{{indconfig.f011fdefaultState}}</td>
                                <td>{{indconfig.f011fdefaultCountry}}</td> -->

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/generalsetup/editconfig/{{indconfig.f011fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                          </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>