<div class="row">
    <div class="col-sm-12">
        <h1 class="ps-page-header">listoflawyers</h1>
    </div>
</div>

<div class="ps-search-block">
    <label>Search </label>
    <input type="text" ng-model="search.username" class="form-control" />
</div>

<br>
<table class="table  table-bordered" dt-options="dtOptions" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered"
    width="100%">
    <thead>
        <tr>
            <th>frequency</th>
            <th>dateofnotification</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let indGl of ageingList">
            <td>{{indfrequency.frequency}}</td>
            <td>{{inddateofnotification.dateofnotification}}</td>
        </tr>
    </tbody>
</table>
<body>
    <h2>listoflawyers</h2>
    <form>
        <br> frequency:
        <input type="text" name="frequency" [(ngModel)]="fData.frequency" value="">
        <br>
        <br> dateofnotification:
        <input type="text" name="dateofnotification" [(ngModel)]="fData.dateofnotification" value="" required>
        <br>
        <br>
        <button type='submit' class='btn btn-primary' (click)='addlistofnotification()'>Save</button>
    </form>
</body>