<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Receipt Non Invoice</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
              </div> 
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Date</label>
                  <input type="date" class="form-control" name="startDate" [(ngModel)]="receiptnoninvoiceDataheader.f015fstartDate" value="" required>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Customer </label>
                  <!-- <input type="text" class="form-control" name="customer" placeholder="Enter customer " [(ngModel)]="recurringsetupcustomerData.f077fcustomer" value="" required> -->
                  <select class="form-control" [(ngModel)]="receiptnoninvoiceDataheader.f077fcustomer" name="f077fcustomer">
                    <option *ngFor="let indcustomer of customerList" [value]="indcustomer.f021fid">{{ indcustomer.f021ffirstName }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Reference Number</label>
                  <input type="text" class="form-control" [(ngModel)]="receiptnoninvoiceDataheader.f056famount" name="referencenumber" placeholder="Advance Payment">
                </div>
              </div>
            </div>

            <div class="row">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Item</th>
                   
                    <th>GL Code</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <!-- <th>Gst</th> -->
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let indinv of receiptnoninvoiceList;let i = index;trackBy:indexTracker">
                        <td>
                          <select class="form-control" [ngModel]="receiptnoninvoiceList[i].f072fidItem" name="f016fidGlcode" #receiptnoninvoice="ngModel">
                            <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                          </select> </td>
                        <td>
                          <select class="form-control" [ngModel]="receiptnoninvoiceList[i].f072fglcode" name="glcode">
                            <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode }}</option>
                          </select> </td>
                        <td>
                          <input type="text" class="form-control" [ngModel]="receiptnoninvoiceList[i].f072fquantity" value=""> {{i}}
                        </td>
                        <td>
                          <input type="text" class="form-control" [ngModel]="receiptnoninvoiceList[i].f072fprice" name="listPrice">
                        </td>
                        <!-- <td>
                          <input type="text" class="form-control" [ngModel]="receiptnoninvoiceList[i].f072fgst" name="listGst">
                        </td> -->
                        <td>
                          <input type="text" class="form-control" [ngModel]="receiptnoninvoiceList[i].f072ftotal" name="listTotal" placeholder="Total">                    </td>
                        <td>
                          <!-- <input type="button" name="add" (click)='addGlCode()' value='ADD' class="btn nh-btn-primary" /> -->
                        </td>
                      </tr>

                  <tr>
                    <td>
                      <select class="form-control" [(ngModel)]="receiptnoninvoiceData.f072fidItem" name="f072fidItem" required #department="ngModel">
                        <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control" [(ngModel)]="receiptnoninvoiceData.f072fglcode" name="f072fglcode">
                        <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode }}</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="receiptnoninvoiceData.f072fquantity" name="amount" placeholder="Quantity">
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="receiptnoninvoiceData.f072fprice" name="amount" placeholder="Price">
                    </td>
                    <!-- <td>
                        <input type="text" class="form-control" [(ngModel)]="invoiceData.f056famount" name="amount" placeholder="GST">
                      </td> -->
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="receiptnoninvoiceData.f072ftotal" name="amount" value="{{ receiptnoninvoiceData.f072fquantity*receiptnoninvoiceData.f072fprice }}"
                        placeholder="Total">
                    </td>
                    <td>
                      <input type="button" name="add" (click)='addreceiptnoninvoicelist()' value='ADD' class="btn nh-btn-primary" />
                    </td>
                  </tr>

                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Total</th>
                    <td> </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/accountsrecivable/receiptnoninvoice" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" (click)='addBudgetreceptnoninvoice()' class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>