<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Debtor Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addDebtorCategory()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Debtor Category<span class="required-class">*</span></label>
                                    <!-- <ng-select [items]="Debtortype | sort:'name'" bindLabel="name"
                                        bindValue="name" [(ngModel)]="DebtorCatData.f130fdebtorCategoryName" name="f130fdebtorCategoryName"
                                        #debtorCategory="ngModel" required>
                                    </ng-select> -->
                                    <input type="text" maxlength="25" class="form-control" name="f130fdebtorCategoryName"
                                        placeholder="Enter Debtor Category" [(ngModel)]="DebtorCatData.f130fdebtorCategoryName"
                                        value="" required #debtorCategory="ngModel">
                                    <span *ngIf="debtorCategory.errors && (debtorCategory.dirty || debtorCategory.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter Debtor Category</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="DebtorCatData.f130fstatus" [checked]="DebtorCatData.f130fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="DebtorCatData.f130fstatus" [checked]="DebtorCatData.f130fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/accountsrecivable/debtorcategory']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>