<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Salary Entry</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addSalaryentry()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Type<span class="required-class">*</span></label>
                                    <ng-select [items]="staffList" bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="salaryentryData.f081fidStaff" name="f081fidStaff" #staff="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="staff.errors && (staff.dirty || staff.touched || f.submitted )" class="form-errors">*Select
                                        Staff</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Payment Type<span class="required-class">*</span></label>
                                    <ng-select [items]="paymentList | sort: 'name'" bindLabel="name" bindValue="id"
                                        [(ngModel)]="salaryentryData.f081fpaymentType" name="f081fpaymentType" #payment="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="payment.errors && (payment.dirty || payment.touched || f.submitted )"
                                        class="form-errors">*Select
                                        Payment</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Salary Type<span class="required-class">*</span></label>
                                    <ng-select [items]="typeList | sort: 'name'" bindLabel="name" bindValue="id"
                                        [(ngModel)]="salaryentryData.f081ftype" name="f081ftype" #type="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted )" class="form-errors">*Select
                                        Type</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="salaryentryData.f081fstatus"
                                        [checked]="salaryentryData.f081fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="salaryentryData.f081fstatus"
                                        [checked]="salaryentryData.f081fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">

                                    <a [routerLink]="['/payroll/salaryentry']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>