<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">User Role</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <div class="add-btn">
                            <a href="generalsetup/addnewuserrole" class="btn nh-btn-primary">Add User Role </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped table-food">
                    <thead>
                        <tr>
                            <th>User </th>
                            <th>Role </th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let induserrole of userroleList  | filter : searchText">
                            <td>{{induserrole.f021froleName}}</td>
                            <td>{{induserrole.f021fstatus=== true?'Active':'Inactive'}}</td>

                            <td class="actions-col">
                                <div class="nh-btn-group">
                                    <button class="btn nh-btn-edit">
                                        <a href="generalsetup/edituserrole/{{induserrole.f022fid}}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>