<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Control</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetactivitiesList | filter : searchText " #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>Financial Year</th>
                                <th>Cost Center</th>
                                <th>Total Allocation</th>
                                <th>Edit / View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetactivities of mf.data">
                                <td>{{indbudgetactivities.f015fname}}</td>
                                <td>{{indbudgetactivities.f015fdepartmentName}} - {{indbudgetactivities.f015fdepartmentCode}}</td>
                             <td>{{indbudgetactivities.f054ftotalAmount | number: '.2'}}</td>
                               
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/editbudgetcontrol/{{indbudgetactivities.f054fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
