<div class="row">
    <div class="col-sm-12">
        <h1 class="ps-page-header">listoflawyers</h1>
    </div>
</div>

<div class="ps-search-block">
    <label>Search </label>
    <input type="text" ng-model="search.username" class="form-control" />
</div>

<br>
<table class="table  table-bordered" dt-options="dtOptions" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered"
    width="100%">
    <thead>
        <tr>
            <th>receivables</th>
            <th>supppliers</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let indGl of ageingList">
            <td>{{indreceivable.listoflawyers}}</td>
            <td>{{indreceivable.listoflawyers}}</td>
        </tr>
    </tbody>
</table>
<body>
    <h2>listoflawyers</h2>
    <form>
        <br> receivables:
        <input type="text" name="receivables" [(ngModel)]="ageingData.receivables" value="">
        <br>
        <br> supppliers:
        <input type="text" name="listoflawyers_name" [(ngModel)]="ageingData.listoflawyers_name" value="" required>
        <br>
        <br>
        <button type='submit' class='btn btn-primary' (click)='addlistofageingCode()'>Save</button>
    </form>
</body>