<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Sponser Bill</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="row">

            <div class="col-sm-4" *ngIf="id >0">
              <div class="form-group">
                <label>Bill Number</label>
                <input type="text" [disabled]="editDisabled" class="form-control" (change)="generateBillNumber()" name="f063fbillNo" [(ngModel)]="sponserbillDataheader.f063fbillNo"
                  placeholder="Bill Number" readonly="readonly">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Sponser </label>
                <ng-select [items]="sponserList | sort: 'Name'"[disabled]="editDisabled" maxlength="50" bindLabel="Name" bindValue="f063fid"
                  [(ngModel)]="sponserbillDataheader.f063fidSponsor" name="f063fidSponsor" #sponsor="ngModel" required>
                </ng-select>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" [disabled]="editDisabled" name="f063fdate" [(ngModel)]="sponserbillDataheader.f063fdate"
                  value="" required>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount (RM)</label>
                <input type="number" class="form-control" [disabled]="editDisabled" style="text-align: right" name="f063famount" [(ngModel)]="sponserbillDataheader.f063famount"
                  placeholder="Amount" readonly="readonly">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="id == ''">
            <div class="col-sm-12">
              <p class="text-right">
                <a (click)="getList()" class="btn nh-btn-primary">Search</a>
              </p>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-12">

              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Student</th>
                    <th>Invoice</th>
                    <th>Amount (RM)</th>
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indinv of sponserbillList;let i = index;trackBy:indexTracker">

                    <td>
                      <!-- <select class="form-control" [(ngModel)]="sponserbillList[i].f064fidStudent" name="f064fidStudent"
                        required #student="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indStudent of studentList" [value]="indStudent.f060fid">{{
                          indStudent.f060fname }}</option>
                      </select> -->
                      <ng-select [items]="studentList | sort: 'f060fname'" maxlength="50" [disabled]="editDisabled" bindLabel="f060fname"
                        bindValue="f060fid" [(ngModel)]="sponserbillList[i].f064fidStudent" name="f064fidStudent"
                        #student="ngModel" required>
                      </ng-select>
                    </td>
                    <td>
                      <!-- <select class="form-control" [(ngModel)]="sponserbillList[i].f064fidInvoice" name="f064fidInvoice"
                        required #department="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indInvoice of invoiceList" [value]="indInvoice.f071fid">{{
                          indInvoice.f071finvoiceNumber }}</option>
                      </select> -->
                      <ng-select [items]="invoiceList | sort: 'f071finvoiceNumber'" [disabled]="editDisabled" maxlength="50" bindLabel="f071finvoiceNumber"
                        bindValue="f071fid" [(ngModel)]="sponserbillList[i].f064fidInvoice" name="f064fidInvoice"
                        #invoice="ngModel" required>
                      </ng-select>
                    </td>
                    <td>
                      <input type="text" disabled="disabled" class="form-control" style="text-align: right" [(ngModel)]="sponserbillList[i].f064famount"
                        name="f064famount" placeholder="Total"> </td>
                    <!-- <td>
                      <input type="button" name="delete" (click)='deleteSponserBill(sponserbillList[i])' value='Delete'
                        class="btn nh-btn-primary" />
                    </td> -->
                  </tr>


                  <!-- <tr *ngIf = "id == ''">

                    <td >
                      <select class="form-control" [(ngModel)]="sponserbillData.f064fidStudent" name="f064fidStudent"
                        required #student="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indStudent of studentList" [value]="indStudent.f060fid">{{
                          indStudent.f060fname }}</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control" [(ngModel)]="sponserbillData.f064fidInvoice" name="f064fidInvoice"
                        required #department="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indInvoice of invoiceList" [value]="indInvoice.f071fid">{{
                          indInvoice.f071finvoiceNumber }}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" maxlength="10" class="form-control" name="f064famount" style="text-align: right"
                        [(ngModel)]="sponserbillData.f064famount" placeholder="Total" value="">
                    </td>
                    <td>
                      <input type="button" name="add" (click)='addSponserBillList()' value='ADD' class="btn nh-btn-primary" />
                    </td>
                  </tr> -->

                  <tr>
                    <td></td>
                    <td></td>
                    <th>Total:{{sponserbillDataheader.f063famount}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row" *ngIf="id == ''">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/studentfinance/sponserbill']" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveSponserBill()' class="btn nh-btn-primary">Generate</button>
              </p>
            </div>

          </div>

          <div class="row" *ngIf="id >0">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/studentfinance/sponserbill']" class="btn nh-btn-primary">Back</a>
              </p>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>