<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">State</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addState()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Country<span class="required-class">*</span></label>
                                    <!-- <select class="form-control" name="f012fidCountry" [(ngModel)]="stateData.f012fidCountry"  placeholder="Select Country" 
                                    value="" required #country="ngModel">
                                            
                                        <option value=''>--Please Select-- </option>
                                            <option *ngFor="let indcountry of countryList" [value]="indcountry.f013fid">{{ indcountry.f013fcountryName }}</option>                           
                                        </select> -->
                                    <ng-select [items]="countryList" bindLabel="f013fcountryName" bindValue="f013fid"
                                        [(ngModel)]="stateData.f012fidCountry" name="f012fidCountry" #country="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="country.errors && (country.dirty || country.touched || f.submitted)"
                                        class="form-errors">*Select Country </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>State<span class="required-class">*</span></label>
                                    <input type="text" maxlength="40" class="form-control" name="f012fstateName" placeholder="Enter State"
                                        [(ngModel)]="stateData.f012fstateName" value="" required #state="ngModel">
                                    <span *ngIf="state.errors && (state.dirty || state.touched || f.submitted)" class="form-errors">*Enter
                                        the State</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Short Name<span class="required-class">*</span></label>
                                    <input type="text" maxlength="30" class="form-control" name="f012fshortName"
                                        placeholder="Enter Short Name" [(ngModel)]="stateData.f012fshortName" value=""
                                        required #shortname="ngModel">
                                    <span *ngIf="shortname.errors && (shortname.dirty || shortname.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Short Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="f012fstatus" [(ngModel)]="stateData.f012fstatus" [checked]="stateData.f012fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="f012fstatus" [(ngModel)]="stateData.f012fstatus" [checked]="stateData.f012fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/generalsetup/state" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>

                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>