<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Financial Year</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addfinancialyear()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Financial Year<span class="required-class">*</span></label>
                    <input type="text" maxlength="4" class="form-control" name="name" (keypress)="onlyNumberKey($event)"
                      placeholder="Enter Financial Year " [(ngModel)]="financialyearData.f015fname" value="" required
                      #financialName="ngModel" (blur)="checkvalidyear()">
                    <span *ngIf=" financialName.errors && (financialName.dirty || financialName.touched || f.submitted)"
                      class="form-errors">*Enter the Financial Year </span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Financial Year Start Date <span class="required-class">*</span> </label>
                    <input type="date" class="form-control" name="startDate" [(ngModel)]="financialyearData.f015fstartDate"
                      value="" required #financialStartDate="ngModel">
                    <span *ngIf=" financialStartDate.errors && (financialStartDate.dirty || financialStartDate.touched || f.submitted)"
                      class="form-errors">*Select Financial Year Start Date.</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Financial Year End Date <span class="required-class">*</span> </label>
                    <input type="date" class="form-control" name="endDate" [(ngModel)]="financialyearData.f015fendDate"
                      value="" required #financialEndDate="ngModel">
                    <span *ngIf=" financialEndDate.errors && (financialEndDate.dirty || financialEndDate.touched || f.submitted)"
                      class="form-errors">*Select Financial Year End Date.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div [className]="'active'"></div>
                    <label>Status</label>
                    <br>
                    <input type="radio" name="status" [(ngModel)]="financialyearData.f015fstatus" [checked]="financialyearData.f015fstatus === '1'"
                      [value]="1"> Active
                    <br>
                    <input type="radio" name="status" [(ngModel)]="financialyearData.f015fstatus" [checked]="financialyearData.f015fstatus === '0'"
                      [value]="0"> Inactive
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>