<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Debit Note Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="debitnoteApprovalList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f031freferenceNumber">Debit Note Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fullName">Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f031ftype">Voucher Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f031fdate">Debit Note Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f032ftoDnAmount">Debit Note Amount(RM)</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="f031fstatus">Approve/Reject</mfDefaultSorter>
                                </th> -->
                                <th>View </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inddebitnoteapproval of mf.data">
                                <td>{{inddebitnoteapproval.f031freferenceNumber }}</td>
                                <td>{{inddebitnoteapproval.f031ftype}}</td>
                                <td>{{inddebitnoteapproval.fullName}}</td>
                                <td>{{inddebitnoteapproval.f071finvoiceNumber}}</td>
                                <td>{{inddebitnoteapproval.f031fdate | date: 'dd/MM/yyyy'}}</td>
                                <td class="amountAlign">{{inddebitnoteapproval.f032ftoDnAmount | number: '.2'}}</td>
                                <!-- <td>
                                    <input type="checkbox" [(ngModel)]="inddebitnoteapproval.f031fstatus">
                                </td> -->

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountsrecivable/viewdebit/{{inddebitnoteapproval.f031fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="debitnoteApprovalData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='ApprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='regectdebitorApprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>