<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Revenue Type</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewrevenuetype']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="revenuetypeList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f132ftypeCode">Revenue Type Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f132frevenueName">Revenue Name</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="revenueName">Revenue Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f132fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indfeetype of mf.data">
                <td>{{indfeetype.f132ftypeCode}}</td>
                <td>{{indfeetype.f132frevenueName}}</td>
                <td>{{indfeetype.revenueName}}</td>
                <td>{{indfeetype.f132fstatus == 1?'Active':'Inactive'}}</td>

                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editrevenuetype/{{indfeetype.f132fid}}">
                      <button class="btn nh-btn-edit">

                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="9">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>