<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Warrant Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="poapprovalList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f143freferenceNumber">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="vendor">Vendor</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f143ftotal">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>Approve/Reject</th>
                                <th>View</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indwarrantapproval of mf.data">

                                <td>{{indwarrantapproval.f143freferenceNumber}}</td>
                                <td>{{indwarrantapproval.vendor}}</td>
                                <td class="amountAlign">{{indwarrantapproval.f143ftotal | number: '.2'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indwarrantapproval.f143fstatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                      <a routerLink="/procurement/viewwarrant/{{indwarrantapproval.f143fid}}/2">
                                        <button class="btn nh-btn-edit">
                                          <i class="fa fa-eye"></i>
                                        </button>
                                      </a>
                                    </div>
                                  </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description<span class="required-class">*</span></label>
                            <textarea class="form-control" [(ngModel)]="rejectData.reason" name="reason" placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='approveWarrantData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectWarrantData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>