<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="ad-page-title">Tax Deduction For New Staff</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Staff Name<span class="required-class">*</span></label>
             
              <ng-select [items]="staffList|sort:'f034fname'" bindLabel="f034fname" bindValue="f034fstaffId" [(ngModel)]="taxDeductionDataHeader.f082fidStaff"
                name="f082fidStaff" #item="ngModel" required>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Type<span class="required-class">*</span></th>
                  <th>Start Date<span class="required-class">*</span></th>
                  <th>End Date<span class="required-class">*</span></th>
                  <th>Amount (RM)<span class="required-class">*</span></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indinv of taxDeductionList;let i = index;trackBy:indexTracker;last as isLast">
                  <td>
                    <ng-select [items]="typeList | sort: 'name'" style="width:100px;" bindLabel="name" bindValue="id"
                      [(ngModel)]="taxDeductionList[i].f082ftype" name="f082ftype" #type="ngModel" required>
                    </ng-select>

                  </td>
                  <td style="display:none;">
                   
                    <ng-select [items]="deptList | sort: 'name'" bindLabel="name" bindValue="id" [(ngModel)]="taxDeductionList[i].f082fdeductionCode"
                      name="f082fdeductionCode" #type="ngModel" required>
                    </ng-select>

                  </td>
                  <td>
                    <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="taxDeductionList[i].f082fstartDate"
                     name="f082fstartDate">
                  </td>

                  <td>
                    <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="taxDeductionList[i].f082fendDate"
                      name="f082fendDate">
                  </td>

                  <td><input type="text" maxlength="15" class="form-control" style="text-align: right" name="f082famount"
                      [(ngModel)]="taxDeductionList[i].f082famount" (keypress)="onlyNumberKey($event)"placeholder="Amount(RM)" value="">
                  </td>
                
                  <td *ngIf="!isLast">
                    <button class="btn nh-btn-primary" type="button" (click)='deleteData(taxDeductionList[i])'>
                      <i class="fa fa-minus"></i>
                    </button>
                  </td>
                  <td *ngIf="isLast">
                    <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteData(taxDeductionList[i])'>
                      <i class="fa fa-minus"></i>
                    </button>
                    <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>


                <tr *ngIf="showLastRow==false">

                  <td>
                   
                    <ng-select [items]="typeList | sort: 'name'" style="width:100px;" bindLabel="name" bindValue="id"
                      [(ngModel)]="taxDeductionData.f082ftype" name="f082ftype" #type="ngModel" required>
                    </ng-select>


                  </td>
                  <td style="display:none;">
                   
                    <ng-select [items]="deptList | sort: 'name'" bindLabel="name" bindValue="id" [(ngModel)]="taxDeductionData.f082fdeductionCode"
                      name="f082fdeductionCode" #type="ngModel" required>
                    </ng-select>
                  </td>


                  <td>
                    <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="taxDeductionData.f082fstartDate"
                       name="date">
                  </td>

                  <td>
                    <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="taxDeductionData.f082fendDate"
                      name="date">
                  </td>
                  <td><input type="text" maxlength="15" class="form-control" style="text-align: right" (keypress)="onlyNumberKey($event)"
                      name="f082famount" [(ngModel)]="taxDeductionData.f082famount" (keypress)="onlyNumberKey($event)" placeholder="Amount(RM)" value="">
                  </td>
                  <td>
                    <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                      <i class="fa fa-minus"></i>
                    </button>
                    <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addTaxData()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <a [routerLink]="['/payroll/stafftaxdeduction']" class="btn nh-btn-secondary">Cancel</a>
              <button type="submit" (click)='SaveTaxDeduction()' class="btn nh-btn-primary">Save</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>