<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Type Of Investment</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/investment/addnewtypeofinvestment']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="typeofinvestmentList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th><mfDefaultSorter by="f038ftype">Investment Type</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="accountName">Account Code</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f038fpersonName"> Person Name</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f038fcontactNumber">Contact Number</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f038fstatus">Status</mfDefaultSorter></th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indtypeofinvestment of mf.data ">

                                <td>{{indtypeofinvestment.f038ftype}}</td>
                                <td>{{indtypeofinvestment.accountName}}</td>
                                <td>{{indtypeofinvestment.f038fpersonName}}</td>
                                <td>{{indtypeofinvestment.f038fcontactNumber}}</td>
                                <td>{{indtypeofinvestment.f038fstatus == 1?'Active':'Inactive'}}</td>



                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/investment/edittypeofinvestment/{{indtypeofinvestment.f038fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i></button></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="6">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>