<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Premise Category</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <fa-icon [icon]="faSearch"></fa-icon>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/accountsrecivable/addnewpremisetype']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped" [mfData]="premiseList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                    <!-- <th><mfDefaultSorter by="f037fcode">Premise Code</mfDefaultSorter></th> -->
                    <th><mfDefaultSorter by="f037fcode">Premise Code</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f037fpremiseType">Description</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f037fstatus">Status</mfDefaultSorter></th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indPremise of mf.data">  
                  <!-- <td>{{indPremise.f037fcode}}</td> -->
                  <td>{{indPremise.f037fcode}}</td>
                  <td>{{indPremise.f037fpremiseType}}</td>
                  <td>{{indPremise.f037fstatus == 1?'Active':'Inactive'}}</td>
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/accountsrecivable/editpremisetype/{{indPremise.f037fid}}">
                        <button class="btn nh-btn-edit">
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                  <tr>
                <td colspan="6">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>