<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Fund</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    
                    <form (ngSubmit)="f.form.valid && addFund()" #f="ngForm" name="form" novalidate>
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Code<span class="required-class">*</span></label>
                                        <input type="text" minlength="2" maxlength="2" class="form-control" name="code"  placeholder="Enter Code"
                                        [(ngModel)]="fundData.f057fcode" (keypress)="onlyNumberKey($event)" value="" required #fundcode="ngModel">
                                        <span *ngIf="fundcode.errors && (fundcode.dirty || fundcode.touched || f.submitted)"  class="form-errors">*Enter the Code should be 2 digits</span>
    
                                    </div>
                                </div>    
                        <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Description<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="fundname" placeholder="Enter Description" [(ngModel)]="fundData.f057fname" value="" required #fund="ngModel">
                                    <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)"  class="form-errors">*Enter the Description.</span>
                                   
                                </div>
                            </div>
                            
                        <div class="col-sm-4">
                                <div class="form-group">
                                      <div [className]="'active'"></div> 
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="fundData.f057fstatus" [checked]="fundData.f057fstatus === '1'" [value]="1">  Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="fundData.f057fstatus" [checked]="fundData.f057fstatus === '0'" [value]="0">  Inactive
                                    <br>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/generalsetup/fund']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit"  class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
