<section>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Online Payment</h4>
        </div>
        <div class="modal-body">
          <p>Under Development</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal-->
</section>
<section>

  <div class="fa-login-container" style="height:1200px">
    <div class="fa-login-wrapper" style="max-width:846px;max-height: auto;">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title" align="center">Vendor Registration</h1>
          </div>
        </div>
      <form  #f="ngForm" name="form" id="registerForm" enctype="multipart/form-data">

        <div class="row">
          <div class="col-sm-12">

            <div class="row">
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <label>Vendor Code</label>
                  <input type="text" class="form-control" readonly="readonly" name="f030fvendorCode" [(ngModel)]="vendorDataHeader.f030fvendorCode"
                    value="">
                </div>
              </div> -->
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Vendor <span class="required-class">*</span></label>
                  <input type="text" maxlength="65" class="form-control" name="f030fcompanyName" placeholder="Enter Vendor "
                    [(ngModel)]="vendorDataHeader.f030fcompanyName" value="" #company="ngModel" required>
                  <span *ngIf="company.errors && (company.dirty || company.touched || f.submitted)" class="form-errors">*
                    Enter vendor .
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email<span class="required-class">*</span></label>
                  <input type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-control" name="f030femail"
                    placeholder="Enter Email" [(ngModel)]="vendorDataHeader.f030femail" value="" #email='ngModel'
                    required (blur)="checkEmail()">
                  <span *ngIf="emailError" class="form-errors">{{emailError}} </span>
                  <span *ngIf="email.errors && (email.dirty || email.touched || f.submitted)" class="form-errors">*Enter
                    the Valid Email .
                  </span>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address1 <span class="required-class">*</span></label>
                  <input type="text" maxlength="100" class="form-control" name="f030faddress1" placeholder="Enter Address1"
                    [(ngModel)]="vendorDataHeader.f030faddress1" value="" #address1="ngModel" required>
                  <span *ngIf="address1.errors && (address1.dirty || address1.touched )" class="form-errors">*
                    Enter the Address1 .
                  </span>

                </div>
              </div>
            </div>

            <div class="row">


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address2<span class="required-class"></span></label>
                  <input type="text" maxlength="100" class="form-control" name="f030faddress2" placeholder="Enter Address2"
                    [(ngModel)]="vendorDataHeader.f030faddress2" value="" #address2="ngModel">
                  <!-- <span *ngIf="address2.errors && (address2.dirty || address2.touched )"
                              class="form-errors">*
                              Enter the Address2 .
                          </span> -->

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address3<span class="required-class"></span></label>
                  <input type="text" maxlength="100" class="form-control" name="f030faddress3" placeholder="Enter Address3"
                    [(ngModel)]="vendorDataHeader.f030faddress3" value="" #address3="ngModel">
                  <!-- <span *ngIf="address3.errors && (address3.dirty || address3.touched )"
                                class="form-errors">*
                                Enter the Address3 .
                            </span> -->

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address4<span class="required-class"></span></label>
                  <input type="text" maxlength="100" class="form-control" name="f030faddress4" placeholder="Enter Address4"
                    [(ngModel)]="vendorDataHeader.f030faddress4" value="" #address4="ngModel">
                  <!-- <span *ngIf="address4.errors && (address4.dirty || address4.touched )"
                                  class="form-errors">*
                                  Enter the Address4 .
                              </span> -->

                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Country<span class="required-class">*</span></label>
                  <!-- <input type="text" ngui-auto-complete value-formatter="f013fcountryName" list-formatter="f013fcountryName" [match-formatted]="true"
                                        maxlength="50" class="form-control" name="country" placeholder="Select Country" [(ngModel)]="vendorDataHeader.f030fcountry"
                                        value="" required #country="ngModel" [source]='countryList' (blur)="onCountryChange()"> -->
                  <select class="form-control" name="f030fcountry" [(ngModel)]="vendorDataHeader.f030fcountry" value=""
                    required #country="ngModel" (change)="onCountryChange()">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indcountry of countryList" [value]="indcountry.f013fid">{{
                      indcountry.f013fcountryName
                      }}
                    </option>



                  </select>

                  <span *ngIf="country.errors && (country.dirty || country.touched || f.submitted)" class="form-errors">*Select
                    Country</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>State <span class="required-class">*</span></label>
                  <!-- <input type="text" ngui-auto-complete value-formatter="f030fstate" list-formatter="f012fstateName" [match-formatted]="true"
                  maxlength="50" class="form-control" name="state" placeholder="Select state" [(ngModel)]="vendorDataHeader.f030fstate"
                  value="" required #state="ngModel" [source]='stateList'> -->

                  <select class="form-control" name="f030fstate" [(ngModel)]="vendorDataHeader.f030fstate" value=""
                    required #state="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indstate of stateList" [value]="indstate.f012fid">{{
                      indstate.f012fstateName
                      }}
                    </option>
                  </select>
                  <span *ngIf="state.errors && (state.dirty || state.touched || f.submitted)" class="form-errors">*Select
                    State.
                  </span>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>City<span class="required-class">*</span> </label>
                  <input type="text" maxlength="40" class="form-control" name="f030fcity" placeholder="Enter City"
                    [(ngModel)]="vendorDataHeader.f030fcity" value="" #City="ngModel" required>
                  <span *ngIf="City.errors && (City.dirty || City.touched )" class="form-errors">*Enter
                    the City .</span>

                </div>
              </div>


            </div>

            <div class="row">


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Post Code<span class="required-class">*</span></label>
                  <input type="text" maxlength="20" class="form-control" name="f030fpostCode" placeholder="Enter Post-Code"
                    [(ngModel)]="vendorDataHeader.f030fpostCode" value="" #postCode="ngModel" required>
                  <span *ngIf="postCode.errors && (postCode.dirty || postCode.touched )" class="form-errors">*Enter
                    the Post Code .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Phone<span class="required-class">*</span></label>
                  <input type="text" maxlength="65" class="form-control" name="f030fphone" placeholder="Enter Phone"
                    [(ngModel)]="vendorDataHeader.f030fphone" value="" required #Phone="ngModel">
                  <span *ngIf="Phone.errors && (Phone.dirty || Phone.touched || f.submitted)" class="form-errors">*
                    Enter Phone</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Fax<span class="required-class"></span></label>
                  <input type="text" maxlength="65" class="form-control" name="f030ffax" placeholder="Enter Fax"
                    [(ngModel)]="vendorDataHeader.f030ffax" value="" #Fax="ngModel">
                  <!-- <span *ngIf="Fax.errors && (Fax.dirty || Fax.touched || f.submitted)" class="form-errors">*
                    Select Fax</span> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>URL<span class="required-class"></span></label>
                  <input type="url" maxlength="50" pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]"
                    class="form-control" name="f030fwebsite" placeholder="Enter URL" [(ngModel)]="vendorDataHeader.f030fwebsite"
                    value="" #web="ngModel">
                  <span *ngIf="web.errors && (web.dirty || web.touched )" class="form-errors">*Enter
                    the Valid url.
                  </span>
                </div>
              </div>
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <label>Registration Date<span class="required-class">*</span></label>
                  <input type="date" class="form-control" name="f030fstartDate" [(ngModel)]="vendorDataHeader.f030fstartDate"
                    value="" required #start="ngModel">
                  <span *ngIf="start.errors && (start.dirty || start.touched )" class="form-errors">*Enter
                    the Registration Date.
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Expiry Date<span class="required-class">*</span></label>
                  <input type="date" class="form-control" name="f030fendDate" [(ngModel)]="vendorDataHeader.f030fendDate"
                    value="" required #end="ngModel">
                  <span *ngIf="end.errors && (end.dirty || end.touched )" class="form-errors">*Enter
                    the Expiry Date.
                  </span>
                </div>
              </div> -->
            </div>
            <div class="row">
              <hr />Contact Person 1 (Details)<br>

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Contact Person <span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f030fcontact1Name" placeholder="Enter Contact Person "
                    [(ngModel)]="vendorDataHeader.f030fcontact1Name" value="" required #Contact1="ngModel">
                  <span *ngIf="Contact1.errors && (Contact1.dirty || Contact1.touched )" class="form-errors">*Enter
                    the Person .
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email<span class="required-class">*</span></label>
                  <input type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-control" name="f030fcontact1Email"
                    placeholder="Enter Email" [(ngModel)]="vendorDataHeader.f030fcontact1Email" value="" required
                    #email1="ngModel">
                  <span *ngIf="email1.errors && (email1.dirty || email1.touched )" class="form-errors">*Enter
                    the Valid Email .
                  </span>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Phone Number<span class="required-class">*</span></label>
                  <input type="text" maxlength="12" class="form-control" name="f030fcontact1Phone" placeholder="Enter Phone Number"
                    [(ngModel)]="vendorDataHeader.f030fcontact1Phone" value="" required #phnum1="ngModel">
                  <span *ngIf="phnum1.errors && (phnum1.dirty || phnum1.touched )" class="form-errors">*Enter
                    the Valid Phone Number.
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <hr />Contact Person 2 (Details) <br>

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Contact Person <span class="required-class">*</span></label>
                  <input type="text" maxlength="65" class="form-control" name="f030fcontactPerson2" placeholder="Enter Contact Person "
                    [(ngModel)]="vendorDataHeader.f030fcontact2Name" value="" required #Contact2="ngModel">
                  <span *ngIf="Contact2.errors && (Contact2.dirty || Contact2.touched )" class="form-errors">*Enter
                    the Person .
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email<span class="required-class">*</span></label>
                  <input type="text" maxlength="65" class="form-control" name="f030fcontact2Email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                    placeholder="Enter Email" [(ngModel)]="vendorDataHeader.f030fcontact2Email" value="" required
                    #email2="ngModel">
                  <span *ngIf="email2.errors && (email2.dirty || email2.touched )" class="form-errors">*Enter
                    the Valid Email .
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Phone Number<span class="required-class">*</span></label>
                  <input type="text" maxlength="12" class="form-control" name="f030fcontact2Phone" placeholder="Enter Phone Number"
                    [(ngModel)]="vendorDataHeader.f030fcontact2Phone" value="" required #phnum2="ngModel">
                  <span *ngIf="phnum2.errors && (phnum2.dirty || phnum2.touched )" class="form-errors">*Enter
                    the Valid Phone Number.
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <hr />Bank Information <br>

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Bank <span class="required-class">*</span></label>
                  <select class="form-control" [(ngModel)]="vendorDataHeader.f030fidBank" name="f030fidBank" required
                    #bank="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indbank of bankList" [value]="indbank.f042fid">{{indbank.f042fbankName}}</option>
                  </select>
                  <span *ngIf="bank.errors && (bank.dirty || bank.touched )" class="form-errors">*Enter
                    Bank .
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Bank Account Number<span class="required-class">*</span></label>
                  <input type="text" maxlength="30" class="form-control" name="f030faccountNumber" placeholder="Enter Bank Account Number"
                    [(ngModel)]="vendorDataHeader.f030faccountNumber" value="" required #bankac="ngModel">
                  <span *ngIf="bankac.errors && (bankac.dirty || bankac.touched )" class="form-errors">*Enter
                    Bank Account Number .
                  </span>
                </div>
              </div>
            </div>
            
          </div>
        </div>

       
      </form>

        <div class="row">
          <div class="col-sm-12">
              <div class="row">
                  <hr />Grade (Details)
                  <div class="row">
                    <div class="col-sm-12">
    
                      <table class="table table-bordered table-striped table-food">
                        <thead>
                          <tr>
                            <th style='width:266px;'>Grade</th>
                            <th style='width:266px;'>Expiry Date</th>
                            <th style='width:266px;'></th>
                          </tr>
                        </thead>
                        <tbody>
    
                          <tr *ngFor="let indinv of licenseDataList;let i = index;trackBy:indexTracker">
                            <td>
                              <select class="form-control" style="width: 250px" [ngModel]="licenseDataList[i].f031fidLicense"
                                name="f031fidLicense">
                                <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                <option *ngFor="let indLicense of licenseList" [value]="indLicense.f091fid">{{indLicense.f091flicense
                                  }}</option>
                              </select>
                            </td>
    
                            <td>
                              <input type="date" class="form-control" name="f031fexpireDate" [ngModel]="licenseDataList[i].f031fexpireDate"
                                value="">
                            </td>
    
                            <td>
                              <input type="button" name="delete" (click)='deletelicenseDataList(licenseDataList[i])' value='Delete'
                                class="btn nh-btn-primary" />
                            </td>
                          </tr>
    
    
                          <tr>
                            <td>
                              <select class="form-control" style="width: 250px" [(ngModel)]="vendorLicenseData.f031fidLicense"
                                name="f031fidLicense">
                                <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                <option *ngFor="let indLicense of licenseList" [value]="indLicense.f091fid">{{
                                  indLicense.f091flicense }}</option>
                              </select>
                            </td>
    
                            <td>
                              <input type="date" class="form-control" name="f031fexpireDate" [(ngModel)]="vendorLicenseData.f031fexpireDate"
                                value="">
                            </td>
    
                            <td>
                              <input type="button" name="add" (click)='addlicenseDataList()' value='ADD' class="btn nh-btn-primary" />
                            </td>
                          </tr>
    
                        </tbody>
                      </table>
    
                    </div>
                  </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-12">
                      <div class="col-sm-4">
                        <div class="form-group">
          
                          <label>Online Payment</label><br>
          
                          <button type="button" class="btn um-btn-primary" data-toggle="modal" data-target="#myModal">Pay Online</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or<br>
                        </div>
          
                      </div>
          
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label> Proof of Payment<span class="required-class">*</span></label>
                          <input type="file" class="form-control" name="file" [(ngModel)]="vendorDataHeader.file" required #file="ngModel"
                            (change)="fileSelected($event)" accept=".pdf">
                          <span *ngIf="file.errors && (file.dirty || file.touched || f.submitted)" class="form-errors">*
                            Select File</span>
                        </div>
                      </div>
                    </div>
                  </div>
            <!-- <re-captcha (resolved)="resolved($event)" siteKey="6LdxK3gUAAAAAGahlhxqsOBeAq5URHi6xaF0WYeE" required #captcha="ngModel"></re-captcha> -->
            <!-- <div class="g-recaptcha" data-sitekey="6LffTHgUAAAAAKkX4YXSXwcrmUP1EUx6B19Q_olH" [(ngModel)]="recaptcha"
              #captcha="ngModel" name="cap" [ngModelOptions]="{standalone: true}"></div>

            <span *ngIf="captcha.touched && (captcha.dirty || f.submitted)" class="form-errors">*Verify Captcha </span> -->
          </div> 
        </div>
       
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <button   (click)="saveVendorData()" class="btn um-btn-primary mar-l-20">Register</button>
            </p>
          </div>
        </div>


    </div>
  </div>
</section>
