<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Payroll Process</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/payroll/addnewpayrollprocess']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="payrollprocessList | filter : searchText"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                    <th><mfDefaultSorter by="company">Company Name</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f044fmonth">Month</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f044fstaffType">Staff Type</mfDefaultSorter></th>
                    <!-- <th><mfDefaultSorter by="f044fstaffIp">Staff IP</mfDefaultSorter></th> -->
                    <th><mfDefaultSorter by="f044fstatus">Status</mfDefaultSorter></th>                  
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indpayrollprocess of mf.data ">
  
                  <td>{{indpayrollprocess.company}}</td>
                  <td>{{indpayrollprocess.f044fmonth}}</td>
                  <!-- <td>{{indpayrollprocess.f044fstaffType}}</td> -->
                  <td>{{indpayrollprocess.f044fstaffType}}</td>

                  <!-- <td>{{indpayrollprocess.f044fstaffIp}}</td> -->
                  <td>{{indpayrollprocess.f044fstatus ==1?'Active':'Inactive'}}</td>  
  
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/payroll/editpayrollprocess/{{indpayrollprocess.f044fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
  
                      <!-- <button class="btn nh-btn-remove">
                                              <i class="fas fa-trash-alt"></i>
                                          </button> -->
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="6">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  