<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">{{this.title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>

            <div>
              <div class="col-sm-2" *ngIf="this.id==0">
                <div class="add-btn">
                  <a [routerLink]="['/accountsrecivable/creditnote/0']" class="btn nh-btn-primary">Add {{this.title}}</a>
                </div>
              </div>
              <div class="col-sm-2" *ngIf="this.id==1">
                <div class="add-btn">
                  <a [routerLink]="['/accountsrecivable/debitnote/1']" class="btn nh-btn-primary">Add {{this.title}}</a>
                </div>
              </div><div class="col-sm-2" *ngIf="this.id==2">
                <div class="add-btn">
                  <a [routerLink]="['/accountsrecivable/cashvoucher/2']" class="btn nh-btn-primary">Add {{this.title}}</a>
                </div>
              </div>
              <div class="col-sm-2" *ngIf="this.id==3">
                <div class="add-btn">
                  <a [routerLink]="['/accountsrecivable/paymentvoucher/3']" class="btn nh-btn-primary">Add {{this.title}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food">
            <thead>
              <tr>
                <th>Invoice Number</th>
                <th>Voucher Type</th>
                <th>Voucher Date</th>
                <th>Customer</th>
                <th>Invoice Amount (RM)</th>
                <!-- <th>Status</th> -->
                <th>Approval Status</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indvoucherlist of voucherlistList | filter : searchText ">
                <td>{{indvoucherlist.f071finvoiceNumber}}</td>
                <td>{{indvoucherlist.f031fvoucherNumber}}</td>
                <td>{{indvoucherlist.f031fdate | date: 'dd/MM/yyyy'}}</td>
                
                <!-- <td>{{indvoucherlist.f031fdate}}</td> -->
                <td>{{indvoucherlist.firstName}} {{indvoucherlist.lastName}}</td>
                <td class="amountAlign" >{{indvoucherlist.f031ftotalAmount | number: '.2'}}</td>
                
                <!-- <td>{{indvoucherlist.f031ftotalAmount}}</td> -->
                <!-- <td>{{indbudgetactivitiesapproval.f054fstatus === true?'Active':'Inactive'}}</td> -->
                <td>{{indvoucherlist.f031fstatus === '1'?'Approved':'Not Approved'}}</td>
                <td class="actions-col">



                  <div class="nh-btn-group" *ngIf="this.id==0">
                    <a routerLink="/accountsrecivable/creditnote/{{indvoucherlist.f031fid}}">
                      <button class="btn nh-btn-edit">

                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>

                  <div class="nh-btn-group" *ngIf="this.id==1">
                      <a routerLink="/accountsrecivable/debitnote/{{indvoucherlist.f031fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
                    </div>

                    <div class="nh-btn-group" *ngIf="this.id==2">
                        <a routerLink="/accountsrecivable/cashvoucher/{{indvoucherlist.f031fid}}">
                          <button class="btn nh-btn-edit">
    
                            <i class="fa fa-edit"></i>
                          </button>
                        </a>
                      </div>

                      <div class="nh-btn-group" *ngIf="this.id==3">
                          <a routerLink="/accountsrecivable/paymentvoucher/{{indvoucherlist.f031fid}}">
                            <button class="btn nh-btn-edit">
      
                              <i class="fa fa-edit"></i>
                            </button>
                          </a>
                        </div>

                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <!-- <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/accountsrecivable/{{this.tite}}" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='voucherData()' class="btn nh-btn-primary">Approve</button>
              </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
