<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Approval Limit</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form  #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>User<span class="required-class">*</span> </label>
                    <ng-select [disabled]="viewDisabled" [items]="userList" bindLabel="f014fuserName"
                    bindValue="f014fid" [(ngModel)]="approvallimitData.f020fidUser" name="f020fidUser" required #user="ngModel">
                  </ng-select>
                    <span *ngIf="user.errors && (user.dirty || user.touched || f.submitted)" class="form-errors">*
                       Select User</span>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Approval Type </label>
                    <ng-select [disabled]="viewDisabled" [items]="moduleList" bindLabel="f011fdefinitionCode"
                      bindValue="f011fid" [(ngModel)]="approvallimitData.f020fmodule" name="f020fmodule" required #module="ngModel">
                    </ng-select>
                    <span *ngIf="module.errors && (module.dirty || module.touched || f.submitted )" class="form-errors">*Enter
                      Module.
                    </span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>From Amount<span class="required-class">*</span></label>
                    <input type="text" maxlength="10" class="form-control" name="fromamount" placeholder="Enter From Amount "
                      [(ngModel)]="approvallimitData.f020ffromAmount" value="" required #fmamt="ngModel">
                    <span *ngIf="fmamt.errors && (fmamt.dirty || fmamt.touched || f.submitted )" class="form-errors">*Enter
                      Amount .
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>To Amount <span class="required-class">*</span></label>
                    <input type="text" maxlength="10" class="form-control" name="toamount" placeholder="Enter To Amount"
                      [(ngModel)]="approvallimitData.f020ftoAmount" value="" required #toamt="ngModel">
                    <span *ngIf="toamt.errors && (toamt.dirty || toamt.touched || f.submitted )" class="form-errors">*Enter
                      Amount .
                    </span>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="form-group">
                    <div [className]="'active'"></div>
                    <label>Status</label>
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="approvallimitData.f020fstatus" [checked]="approvallimitData.f020fstatus === '1'"
                      [value]="1"> Active
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="approvallimitData.f020fstatus" [checked]="approvallimitData.f020fstatus === '0'"
                      [value]="0"> Inactive
                    <br>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/generalsetup/approvallimit" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" (click)="addApprovallimit()" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
