<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/procurement/levelone']">
                                Product
                            </a>

                        </li>
                        <li style="display: inline;padding:20px;"><a [routerLink]="['/procurement/leveltwo']">
                                Sub Product 
                            </a>

                        </li>
                        <li style="display: inline;padding:20px;"><a [routerLink]="['/procurement/levelthree']">
                                Sub Product Item
                            </a>

                        </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title">Nature Of Business </h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Name</th>
                            <th>Code</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let indlevelthree of levelthreeList; let i = index">
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="levelone" placeholder="Level One"
                                    [ngModel]="levelone" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="leveltwo" placeholder="level Two"
                                    [ngModel]="leveltwo" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="name" placeholder="Enter Name"
                                    [(ngModel)]="levelthreeList[i].f059fname" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="code" placeholder="Enter Code"
                                    [(ngModel)]="levelthreeList[i].f059fcode" value="">
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="levelone" placeholder="Level One"
                                    [ngModel]="levelone" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="leveltwo" placeholder="level Two"
                                    [ngModel]="leveltwo" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="form-control" name="name" placeholder="Enter Name"
                                    [(ngModel)]="levelthreeData.f059fname" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="form-control" name="code" placeholder="Enter Code"
                                    [(ngModel)]="levelthreeData.f059fcode" value="">
                            </td>
                            <td>
                                <input type="button" name="add" (click)='addLevelthree()' value='ADD' class="btn nh-btn-primary" />
                            </td>
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <a routerLink="/procurement/levelthree" class="btn nh-btn-secondary">Cancel</a>
                    <button type="submit" (click)='saveLevelthree()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>