<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Cash Advance Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/cashadvances/addnewcashadvancetype']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="cashadvancesList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f051fdescription">Cash Advance Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fund">Fund</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f051factivity">Activity Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f051faccount">Account Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f051fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indcashadvances of mf.data ">
                                <td>{{indcashadvances.f051fdescription}}</td>
                                <td>{{indcashadvances.fund}}</td>
                                <td>{{indcashadvances.activity}}</td>
                                <td>{{indcashadvances.account}}</td>
                                <td>{{indcashadvances.f051fstatus == '1'?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/cashadvances/editcashadvancetype/{{indcashadvances.f051fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>