<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Revenue</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addRevenueDetails()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fund <span class="required-class">*</span> </label>
                                    <ng-select [items]="fundList | sort:'f057fcode'" bindLabel="f057fname" bindValue="f057fcode"
                                        [(ngModel)]="revenueData.f085ffundId" name="f085ffundId" #Fund="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" Fund.errors && (Fund.dirty || Fund.touched || f.submitted)" class="form-errors">*Select
                                        Fund</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Activity Code<span class="required-class">*</span> </label>
                                    <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" bindLabel="f058fname"
                                        bindValue="f058fcompleteCode" [(ngModel)]="revenueData.f085factivityId" name="f085factivityId"
                                        #Activity="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Activity.errors && (Activity.dirty || Activity.touched || f.submitted)"
                                        class="form-errors">*Select Activity Code</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department<span class="required-class">*</span> </label>
                                    <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="revenueData.f085fdepartmentId"
                                        name="f085fdepartmentId" #Department="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Department.errors && (Department.dirty || Department.touched || f.submitted)"
                                        class="form-errors">*Select Department</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code <span class="required-class">*</span> </label>
                                    <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" bindLabel="f059fname"
                                        bindValue="f059fcompleteCode" [(ngModel)]="revenueData.f085faccountId" name="f085faccountId"
                                        #Account="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Account.errors && (Account.dirty || Account.touched || f.submitted)"
                                        class="form-errors">*Select Account Code</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fee Item <span class="required-class">*</span> </label>
                                    <ng-select [items]="feeItemList" bindLabel="Feename" bindValue="f066fid"
                                        [(ngModel)]="revenueData.f085ffeeItem" name="f085ffeeItem" #feeitem="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" feeitem.errors && (feeitem.dirty || feeitem.touched || f.submitted)"
                                        class="form-errors">*Select Fee Item</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="revenueData.f085fstatus" [checked]="revenueData.f085fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="revenueData.f085fstatus" [checked]="revenueData.f085fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/accountsrecivable/revenue" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>