<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Disposal Verification</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="disposalList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>Asset Code</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inddisposal of mf.data">
                                <td>{{inddisposal.f086fassetCode}}</td>
                                <td>{{inddisposal.f086fdescription}}</td>
                                <td>{{inddisposal.f086ftype}}</td>
                                <td><input type="checkbox" [(ngModel)]="inddisposal.f086fstatus"></td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <form>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Meeting Reference Number<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f087fmeetingNumber"
                                        placeholder="Enter Meeting Reference Number" [(ngModel)]="disposalaccountcodeData.f087fmeetingNumber"
                                        value="" required #Code="ngModel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Type Of Disposal<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f087ftype" placeholder="Enter Code"
                                        [(ngModel)]="disposalaccountcodeData.f087ftype" value="" required #Code="ngModel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Remarks<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f087fremarks"
                                        placeholder="Enter Remarks" [(ngModel)]="disposalaccountcodeData.f087fremarks"
                                        value="" required #Code="ngModel">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-12">
                        <p class="text-right">
                            <button type="reject" (click)='approvalListData()' class="btn nh-btn-primary">Approve</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>