<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Currency Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Currency Code</label>
                                    <input type="text" maxlength="25" class="form-control" name="Code" placeholder="Enter Code" [(ngModel)]="currencysetupData.f062fcurCode" value="" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Currency Name</label>
                                    <input type="text" maxlength="50" class="form-control" name="Currencyname" placeholder="Enter Currency Name"[(ngModel)]="currencysetupData.f062fcurDesc" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Default language Name</label>
                                    <input type="text" class="form-control" name="language" placeholder="Enter language" [(ngModel)]="currencysetupData.f062fcurDescDefaultLanguage" value="" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Symbol Prefix</label>
                                    <input type="text" class="form-control" name="Prefix" placeholder="Enter Prefix" [(ngModel)]="currencysetupData.f062fcurSymbolPrefix" value="" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Symbol Suffix</label>
                                    <input type="text" class="form-control" name="Seffix" placeholder="Enter Suffix" [(ngModel)]="currencysetupData.f062fcurSymbolSuffix" value="" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Currency Default</label>
                                    <input type="text" class="form-control" name="Currency" placeholder="Enter Currency Default" [(ngModel)]="currencysetupData.f062fcurDefault" value="" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Decimal Places</label>
                                    <input type="text" class="form-control" name="Decimal" placeholder="Enter Decimal Places" [(ngModel)]="currencysetupData.f062fcurDecimal" value="" required>
                                </div>
                            </div>
                       
                        <div class="col-sm-6">
                                <div class="form-group">
                                      <div [className]="'active'"></div> 
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="currencysetupData.f062fcurStatus" [checked]="currencysetupData.f062fcurStatus === '1'" [value]="1">  Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="currencysetupData.f062fcurStatus" [checked]="currencysetupData.f062fcurStatus === '0'" [value]="0">  Inactive
                                    <br>
                                </div>
                            </div>
                            
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/generalsetup/currencysetup" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='addCurrencysetup()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>