<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">KWAP</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/payroll/addnewkwap']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="kwapList | filter : searchText"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                    <th><mfDefaultSorter by="f102feffectiveDate">Effective Date</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f102fkwapPercentage">KWAP(%)</mfDefaultSorter></th>
                    <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inddatemaintainance of mf.data ">          
                  <td>{{inddatemaintainance.f102feffectiveDate | date: 'dd/MM/yyyy'}}</td>
                  <td class="amountAlign">{{inddatemaintainance.f102fkwapPercentage}}</td>

                  <!-- <td>{{inddatemaintainance.f102fkwapPercentage}}</td> -->
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/payroll/editkwap/{{inddatemaintainance.f102fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
  
                      <!-- <button class="btn nh-btn-remove">
                                              <i class="fas fa-trash-alt"></i>
                                          </button> -->
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="6">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  