<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Procurement Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addItemcategory()" #f="ngForm" name="form" novalidate>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Procurement Category<span class="required-class">*</span></label>
                                <input type="text" maxlength="50" class="form-control" name="f027fcategoryName"
                                    placeholder="Enter Procurement Category" [(ngModel)]="itemcategoryData.f027fcategoryName"
                                    value="" required #categ="ngModel">
                                <span *ngIf="categ.errors && (categ.dirty || categ.touched || f.submitted )" class="form-errors">*Enter
                                    the Procurement Category </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Procurement Category Code<span class="required-class">*</span></label>
                                <input type="text" maxlength="10" class="form-control" name="f027fcode" placeholder="Enter Procurement Category Code"
                                    [(ngModel)]="itemcategoryData.f027fcode" value="" required #code="ngModel">
                                <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*
                                    Enter the Procurement Category Code</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Maintenance</label>
                                <br>
                                <input type="radio" name="maintenance" [(ngModel)]="itemcategoryData.f027fmaintenance" [checked]="itemcategoryData.f027fmaintenance === '1'"
                                    [value]="1"> Yes
                                <br>
                                <input type="radio" name="maintenance" [(ngModel)]="itemcategoryData.f027fmaintenance" [checked]="itemcategoryData.f027fmaintenance === '0'"
                                    [value]="0"> No
                                <br>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="itemcategoryData.f027fstatus" [checked]="itemcategoryData.f027fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="itemcategoryData.f027fstatus" [checked]="itemcategoryData.f027fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/procurement/itemcategory']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>