<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Approval VC</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="approvalthreeformList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f063fapplicationId">Batch Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063finvestmentAmount">Investment Amount (RM)</mfDefaultSorter>
                                </th>
                                <!-- <th>Approve / Reject </th>
                                <th>Auto Renewal</th> -->
                                <th>View</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indapprovalthreeform of mf.data">
                                <td>{{indapprovalthreeform.f063fapplication_id}}</td>
                                <td>{{indapprovalthreeform.f063fdescription}}</td>
                                <td class="amountAlign">{{indapprovalthreeform.f063finvestment_amount | number:
                                    '.2'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/investment/approvalthree/{{indapprovalthreeform.f063fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                   
                </div>
            </div>
        </div>
    </div>
</div>