<vendor-header></vendor-header>
<section class="ps-main-section">
  <div class="ps-left-navbar">
    <ul class="ps-left-navbar-menu">
      <!-- <li class="ps-left-navbar-item" *ngFor="let menu of menuList">
        <a routerLink='{{menu.f011flink}}'>{{menu.f011fmenuName}}</a>
      </li> -->
      <li class="ps-left-navbar-item">
        <a [routerLink]="['/vendor/invoice']">Invoices</a>
      </li>
      <!-- <li class="ps-left-navbar-item">
          <a [routerLink]="['/vendor/receipt']">Payments</a>
        </li> -->
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/vendor/po']">Purchase Orders</a>
          </li>
      <li class="ps-left-navbar-item" *ngIf="expire">
        <a [routerLink]="['/vendor/tender']">Tender Calls</a>
      </li> 
      <li class="ps-left-navbar-item">
          <a [routerLink]="['/vendor/profile']">View Profile</a>
        </li> 

      <!-- <li class="ps-left-navbar-item">
        <a [routerLink]="['/accountspayable/paymentvoucher']">Payment Voucher</a>
      </li>  -->
      
    </ul>
  </div>
</section>

<router-outlet></router-outlet>
<app-footer></app-footer>
