<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Budget Allocation By Cost Center</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Budget Allocation By Cost Center Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addBudgetcostcenter()" #f="ngForm" name="form" novalidate id="target">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Budget Year<span class="required-class">*</span></label>

                  <ng-select [disabled]="viewDisabled" [items]="finantialyearList | sort:'f110fyear'" bindLabel="f110fyear"
                    bindValue="f110fid" [(ngModel)]="budgetcostcenterData.f051fidFinancialyear" name="f051fidFinancialyear"
                    #financialYear="ngModel" required>
                  </ng-select>
                  <span *ngIf=" financialYear.errors && (financialYear.dirty || financialYear.touched || f.submitted)"
                    class="form-errors">*Select Budget Year</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Fund<span class="required-class">*</span> </label>
                  <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" bindLabel="f057fname"
                    bindValue="f057fcode" [(ngModel)]="budgetcostcenterData.f051ffund" name="f051ffund" #fund="ngModel"
                    required>
                  </ng-select>
                  <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                    Fund</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Cost Center <span class="required-class">*</span> </label>
                  <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                    bindValue="f015fdepartmentCode" [(ngModel)]="budgetcostcenterData.f051fdepartment" name="f051fdepartment"
                    #costcenter="ngModel" required>
                  </ng-select>
                  <span *ngIf=" costcenter.errors && (costcenter.dirty || costcenter.touched || f.submitted)" class="form-errors">*Select
                    Cost Center</span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Amount (RM)<span class="required-class">*</span> </label>
                  <input type="text" maxlength="15" class="form-control amountAlign" (keypress)="onlyNumberKey($event)"
                    name="f051famount" placeholder="Enter Amount(RM)" [(ngModel)]="budgetcostcenterData.f051famount"
                    value="" #amount="ngModel" required>
                  <span *ngIf=" amount.errors && (amount.dirty || amount.touched || f.submitted)" class="form-errors">*Enter
                    the Amount(RM)</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/budget/budgetcostcenter']" class="btn nh-btn-secondary" *ngIf="idview!=2">Cancel</a>
                  <a [routerLink]="['/budget/budgetcostcenterapproval']" class="btn nh-btn-secondary" *ngIf="idview==2">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>