<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Apply Loan</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn" *ngIf="loanexist">
                            <a [routerLink]="['/loan/addnewvehicleloan']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food"
                        [mfData]="vehicleloanList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f043freferenceNumber">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f020floanName">Loan Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="staff">Staff</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fpurchasePrice">Loan Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fbalance">Balance Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fstartDate">Applied Date</mfDefaultSorter>
                                </th>
                               
                                <th>Status</th>
                                <th>Edit/Accept</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indvehicleloan of mf.data ">
                                <td>{{indvehicleloan.f043freferenceNumber}}</td>
                                <td>{{indvehicleloan.f020floanName}}</td>
                                <td>{{indvehicleloan.staff}}-{{indvehicleloan.f034fstaffId}}</td>
                                <td class="amountAlign">{{indvehicleloan.f043ftotalLoan | number: '.2'}}</td>
                                <td class="amountAlign">{{indvehicleloan.f043fbalance}}</td>
                                <td class="amountAlign">{{indvehicleloan.f043fstartDate }}</td>
                                <td *ngIf="indvehicleloan.f043ffinalStatus == 0">Pending </td>
                                <td *ngIf="indvehicleloan.f043ffinalStatus == 1">Approved </td>
                                <td *ngIf="indvehicleloan.f043ffinalStatus == 2">Rejected </td>
                                <td class="actions-col" *ngIf="indvehicleloan.f043fstatus == 0">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/editvehicleloan/{{indvehicleloan.f043fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                                <td class="actions-col" *ngIf="indvehicleloan.f043fapprover8 == 1 && indvehicleloan.f043ffinalStatus == 0">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/viewvehicleloan/{{indvehicleloan.f043fid}}/11">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                                <td class="actions-col" *ngIf="indvehicleloan.f043ffinalStatus == 1 || indvehicleloan.f043fapprover8 == 0 || indvehicleloan.f043ffinalStatus == 2">
                                        <div class="nh-btn-group">
                                            <a routerLink="/loan/viewvehicleloan/{{indvehicleloan.f043fid}}/12">
                                                <button class="btn nh-btn-edit">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                        <td colspan="12">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>