<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Asset Item Type</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/assets/addnewtype']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="typeList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="SubCategoryName">Procurement Sub Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f087fcategoryDiscription">Asset Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f089fsubDescription">Asset Sub Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f090fcode">Asset Type Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f090ftypeDescription">Asset Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f090fstatus">Status</mfDefaultSorter>
                </th>

                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indtype of mf.data ">
                <td>{{indtype.SubCategoryName}}</td>
                <td>{{indtype.f087fcategoryDiscription}}</td>
                <td>{{indtype.f089fsubDescription}}</td>
                <td>{{indtype.f090fcode}}</td>
                <td>{{indtype.f090ftypeDescription}}</td>
                <td>{{indtype.f090fstatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/assets/edittype/{{indtype.f090fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>