<div class="ps-right-section">
        <div class="ps-dashboard-sec">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="ad-page-title">Purchase Method</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-top-wrapper">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                    <span class="input-group-btn">
                        <button class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                  <div class="add-btn">
                    <a [routerLink]="['/procurement/addnewpurchaselimit']" class="btn nh-btn-primary">Add</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-food" [mfData]="purchaseLimitList| filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                  <thead>
                    <tr>
                        <th><mfDefaultSorter by="f109ftype">Order Type</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="f109fminLimit">Minimum Amount(RM)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="f109fmaxLimit">Maximum Amount(RM)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="f109fstatus">Status</mfDefaultSorter></th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indpurchaselimit of mf.data">
                      <td>{{indpurchaselimit.f109ftype}}</td>
                      <td class="amountAlign" >{{indpurchaselimit.f109fminLimit | number: '.2'}}</td>
                      <td class="amountAlign" >{{indpurchaselimit.f109fmaxLimit | number: '.2'}}</td>
                      <td>{{indpurchaselimit.f109fstatus ==1?'Active':'Inactive'}}</td>
                      <td class="actions-col">
                        <div class="nh-btn-group">
                          <a routerLink="/procurement/editpurchaselimit/{{indpurchaselimit.f109fid}}">
                            <button class="btn nh-btn-edit">
                              <i class="fa fa-edit"></i>
                            </button>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                  <td colspan="7">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                 </td>
                </tr>
                </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>