<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Country</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCountry()" #f="ngForm" name="form" novalidate>

                        <div class="row">
                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Country Name<span class="required-class">*</span></label>
                                                <input type="text" maxlength="25" class="form-control" name="country" required placeholder="Enter Country Name" [(ngModel)]="CountryData.f013fcountryName"
                                                    value="" #country="ngModel">
                                                <span *ngIf="country.errors && (country.dirty || country.touched || f.submitted)" class="form-errors">*Enter
                                                    the Country Name </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Short Name<span class="required-class">*</span></label>
                                                <input type="text" maxlength="25" class="form-control" name="short name" placeholder=" Enter Short Name" [(ngModel)]="CountryData.f013fshortName"
                                                    value="" #shortname="ngModel" required>
                                                <span *ngIf="shortname.errors && (shortname.dirty || shortname.touched || f.submitted)" class="form-errors">*Enter
                                                    the Short Name </span>
                                            </div>
                                        </div>
            
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>ISO<span class="required-class">*</span> </label>
                                                <input type="text" maxlength="15" class="form-control" name="ISO" placeholder="Enter ISO" [(ngModel)]="CountryData.f013fiso"
                                                    value="" #ISO="ngModel" required>
                                                <span *ngIf="ISO.errors && (ISO.dirty || ISO.touched || f.submitted)" class="form-errors">*Enter
                                                    the ISO</span>
                                            </div>
                                        </div>
            
                                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                    <div class="col-sm-4">
                                            <div class="form-group">
                                                <div [className]="'active'"></div>
                                                <label>Status</label>
                                                <br>
                                                <input type="radio" name="Status" [(ngModel)]="CountryData.f013fstatus" [checked]="CountryData.f013fstatus === 1" [value]="1">                                    Active
                                                <br>
                                                <input type="radio" name="Status" [(ngModel)]="CountryData.f013fstatus" [checked]="CountryData.f013fstatus === 0" [value]="0">                                    Inactive
                                                <br>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/generalsetup/country" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>