<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Loan Report</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive credit-note-table-wrapper">

                        <table class="table table-bordered table-striped table-food" [mfData]="loanreportList | filter : searchText"
                            #mf="mfDataTable" [mfRowsOnPage]="10">
                            
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="f043freferenceNumber">Reference Number</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="VehicleCondition">Vehicle Condition</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f043fmanufacturer">Manufacturer</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f043fmodel">Model</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f043fcc">CC</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f043fcompanyName">Company Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f043finsuranceComp">Insurance EMP</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f043floanEntitlement">Loan Entitlment</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="f043fpurchasePrice">Purchase Price</mfDefaultSorter>
                                    </th>
                                    <th>Download</th>
                                    <th>Download</th>
                                    <th>Download</th>
                                    <th>Download</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let indloanreport of mf.data ">
                                    <td>{{indloanreport.f043freferenceNumber}}</td>
                                    <td>{{indloanreport.VehicleCondition}}</td>
                                    <td>{{indloanreport.f043fmanufacturer}}</td>
                                    <td>{{indloanreport.f043fmodel}}</td>
                                    <td>{{indloanreport.f043fcc}}</td>
                                    <td>{{indloanreport.f043fcompanyName}}</td>
                                    <td>{{indloanreport.f043finsuranceComp}}</td>
                                    <td>{{indloanreport.f043floanEntitlement}}</td>
                                    <td>{{indloanreport.f043fpurchasePrice | number: '.2'}}</td>
                                    <td><button type="submit" (click)='loanReportListData()' class="btn nh-btn-primary">Download
                                            Report</button></td>
                                    <td><button type="submit" (click)='loanReportListData()' class="btn nh-btn-primary">Download
                                            Report</button></td>
                                    <td><button type="submit" (click)='loanReportListData()' class="btn nh-btn-primary">Download
                                            Report</button></td>
                                    <td><button type="submit" (click)='loanReportListData()' class="btn nh-btn-primary">Download
                                            Report</button></td>
                                    <td><button type="submit" (click)='loanReportListData()' class="btn nh-btn-primary">Download
                                            Report</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>