<div class="ps-right-section">
        <div class="ps-dashboard-sec">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="ad-page-title">GL Code Setup</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-top-wrapper">
                  <div class="input-group um-search-wrapper">
                    <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                    <span class="input-group-btn">
                      <button class="btn btn-search" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                  <a [routerLink]="['/generalsetup/addglcodesetup']" class="btn nh-btn-primary pull-right">Add</a>
      
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-food" [mfData]="glcodeList| filter : searchText" #mf="mfDataTable"
                  [mfRowsOnPage]="10">
                  <thead>
                    <tr>
                      <th>
                        <mfDefaultSorter by="f140fidVoucherType">Payment Voucher</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="f140fstatus">Status</mfDefaultSorter>
                      </th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indrevenue of mf.data ">
                      <td>{{indrevenue.f140fidVoucherType}}</td>
                      <td>{{indrevenue.f140fstatus == 1?'Active':'Inactive'}}</td>
                      <td class="actions-col">
                        <div class="nh-btn-group">
                          <a routerLink="/generalsetup/editglcodesetup/{{indrevenue.f140fid}}">
                            <button class="btn nh-btn-edit">
                              <i class="fa fa-edit"></i>
                            </button>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody class="pagination-wrapper">
                    <tr>
                      <td class="pagination-col" colspan="7">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>