<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Apply Stock Approval </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="applystockapprovalList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>

                            <tr>
                                <th>
                                    <mfDefaultSorter by="applicantName">Applicant Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="departmentName">Apply Stock from Store</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099frequiredDate">Required Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f099fapprovalStatus">Approve/Reject</mfDefaultSorter>
                                </th>
                                <th>
                                    View
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indapplystockapproval of mf.data">
                                <td>{{indapplystockapproval.f099fapplicantName}}-{{indapplystockapproval.applicantName}}</td>
                                <td>{{indapplystockapproval.departmentName}}</td>
                                <td>{{indapplystockapproval.f099frequiredDate | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indapplystockapproval.f099fapprovalStatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/assets/viewapplystock/{{indapplystockapproval.f099fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="applystockapprovalData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='applystockapprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="submit" (click)='updateApplystockRejectedItems()' class="btn nh-btn-primary">Reject</button>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>