<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">GL-Code Generation</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                        <form (ngSubmit)="f.form.valid && addGlcodegeneration()" #f="ngForm" name="form" novalidate>
                        <!-- <div class="col-sm-3">
                            <div class="form-group">
                                <label>Fund <span class="required-class">*</span> </label>
                                <select class="form-control" [(ngModel)]="glcodegenerationData.f014ffundId" name="f014ffundId" required #glcode="ngModel">
                                    <option [ngValue]="undefined" hidden selected> --please select-- </option>
                                    <option *ngFor="let indfund of fundList" [value]="indfund.f057fid">{{indfund.f057fcode}} - {{ indfund.f057fname }}</option>
                                </select>
                                <span *ngIf=" glcode.errors && (glcode.dirty || glcode.touched || f.submitted)"  class="form-errors">*Select the Fund</span>
                            </div>
                        </div> -->
                        <CommonFundComponent></CommonFundComponent>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Activity <span class="required-class">*</span> </label>
                                <select class="form-control" [(ngModel)]="glcodegenerationData.f014factivityId" name="f014factivityId" placeholder="Enter to Activity "
                                required #glcode="ngModel">
                                    <option [ngValue]="undefined" hidden selected> --please select-- </option>
                                    <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fid">{{indactivitycode.f058fcompleteCode}} - {{ indactivitycode.f058fname }}</option>
                                </select>

                                <!-- <input type="text" ngui-auto-complete value-formatter="f058fcompleteCode - " list-formatter="f058fcompleteCode"
                    [match-formatted]="true" maxlength="50" class="form-control" name="country List" placeholder="Select Activity"
                    [(ngModel)]="glcodegenerationData.f014factivityId" value="" required #country="ngModel" [source]='activitycodeList'>  -->

                                <span *ngIf=" glcode.errors && (glcode.dirty || glcode.touched || f.submitted)"  class="form-errors">*Select the Activity Code</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Cost Center <span class="required-class">*</span> </label>
                                <select class="form-control" [(ngModel)]="glcodegenerationData.f014fdepartmentId" name="f014fdepartmentId" placeholder="Enter to Department "
                                required #glcode="ngModel">
                                    <option [ngValue]="undefined" hidden selected> --please select-- </option>
                                    <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fid">{{inddepartment.f015fdepartmentCode}} - {{ inddepartment.f015fdepartmentName }}</option>
                                </select>
                                <span *ngIf=" glcode.errors && (glcode.dirty || glcode.touched || f.submitted)"  class="form-errors">*Select the Department</span>
                            </div>
                        </div>
                       
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Account Code<span class="required-class">*</span> </label>
                                <select class="form-control" [(ngModel)]="glcodegenerationData.f014faccountId" name="f014faccountId" placeholder="Enter to Account "
                                required #glcode="ngModel">
                                    <option [ngValue]="undefined" hidden selected> --please select-- </option>
                                    <option [ngValue]="undefined" hidden selected> --please select-- </option>
                                    <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fid">{{ indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                                </select>
                                <span *ngIf=" glcode.errors && (glcode.dirty || glcode.touched || f.submitted)"  class="form-errors">*Select the Account Code</span>
                            </div>
                        </div>

                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="glcodegenerationData.f014fstatus" [checked]="glcodegenerationData.f014fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="glcodegenerationData.f014fstatus" [checked]="glcodegenerationData.f014fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/generalsetup/glcodegeneration" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>