<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">BlackList</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/procurement/addnewblockvendor']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="blockvendorList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="vendor">Vendor</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f111fblocklistFrom">Blocklist From</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f111freleaseDate">Release Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f111freason">Reason</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indblockvendor of mf.data">
                                <td>{{indblockvendor.vendor}}</td>
                                <td>{{indblockvendor.f111fblocklistFrom | date: 'dd/MM/yyyy'}}</td>
                                <td *ngIf="indblockvendor.f111freleaseDate=='1970-01-01'">-</td>
                                <td *ngIf="indblockvendor.f111freleaseDate!='1970-01-01'">{{indblockvendor.f111freleaseDate
                                    | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indblockvendor.f111freason}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/procurement/editblockvendor/{{indblockvendor.f111fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>