<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Sponsor Debit Note</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewsponsordebitnote']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="sponsordebitList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f063freferenceNumber">Debit Note Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f063fvoucherType">Voucher Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f063fdate">Voucher Date</mfDefaultSorter>
                </th>
                <!-- <th>
                        <mfDefaultSorter by="fullName">Customer</mfDefaultSorter>
                      </th> -->
                <th>
                  <mfDefaultSorter by="f063ftotalAmount">Invoice Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f063fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indcreditnotelist of mf.data">
                <td>{{indcreditnotelist.f063freferenceNumber }}</td>
                <td>{{indcreditnotelist.f063fvoucherType}}</td>
                <td>{{indcreditnotelist.f071finvoiceNumber}}</td>
                <td>{{indcreditnotelist.f063fdate | date: 'MM/dd/yyyy'}}</td>
                <!-- <td>{{indcreditnotelist.fullName}}</td> -->
                <td class="amountAlign">{{indcreditnotelist.f063ftotalAmount | number: '.2'}}</td>
                <td>{{indcreditnotelist.f063fstatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editsponsordebitnote/{{indcreditnotelist.f063fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indcreditnotelist.f063fstatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indcreditnotelist.f063fstatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indcreditnotelist.f063fstatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>