<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Maintenance</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/assets/addnewassetmaintenance']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="maintenanceList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f085fassetCode">Asset Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f089fdateOfMaintenance">Date Of Maintenance</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f089fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f089fapprovalStatus">Approval Status</mfDefaultSorter>
                                </th>
                                <th>Edit/View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indassetmaintenance of mf.data ">
                                <td>{{indassetmaintenance.f085fassetCode}}</td>
                                <td>{{indassetmaintenance.f089fdateOfMaintenance | date:'dd/MM/yyyy'}}</td>
                                <td>{{indassetmaintenance.f089fdescription}}</td>
                                <td>{{indassetmaintenance.f089fapprovalStatus}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/assets/editassetmaintenance/{{indassetmaintenance.f089fid}}">
                                            <button class="btn nh-btn-edit">
                                            <i class="fa fa-eye" *ngIf="indassetmaintenance.f089fapprovalStatus == 'Approved'"></i>
                                            <i class="fa fa-edit" *ngIf="indassetmaintenance.f089fapprovalStatus == 'Pending'"></i>
                                            <i class="fa fa-eye" *ngIf="indassetmaintenance.f089fapprovalStatus == 'Rejected'"></i>   
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>