<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Asset Item</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addItem()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Procurement Sub Category<span class="required-class">*</span></label>
                                    <ng-select [items]="itemgroupList | sort:'f028fsubCategoryName'" bindLabel="f028fsubCategoryName"
                                        bindValue="f028fid" [(ngModel)]="itemData.f088fidItemGroup" name="f088fidItemGroup"
                                        (change)="getAssetCategory()" #item="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="item.errors && (item.dirty || item.touched || f.submitted )" class="form-errors">*Select
                                        Procurement Sub Category
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Category<span class="required-class">*</span></label>
                                    <ng-select [items]="categoryList | sort:'f087fcategoryDiscription'" bindLabel="f087fcategoryDiscription"
                                        bindValue="f087fid" [(ngModel)]="itemData.f088fidCategory" name="f088fidCategory"
                                        (change)="getAssetSubCategory()" #category="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="category.errors && (category.dirty || category.touched || f.submitted )"
                                        class="form-errors">*Select Asset Category
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Sub Category<span class="required-class">*</span></label>
                                    <ng-select [items]="subcategoryList | sort:'f089fsubDescription'" bindLabel="f089fsubDescription"
                                        bindValue="f089fid" [(ngModel)]="itemData.f088fidSubCategory" name="f088fidSubCategory"
                                        (change)="getAssetType()" #subcategory="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="subcategory.errors && (subcategory.dirty || subcategory.touched || f.submitted )"
                                        class="form-errors">*Select Asset Sub Category
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Type<span class="required-class">*</span></label>
                                    <ng-select [items]="typeList  | sort:'f090ftypeDescription'" bindLabel="f090ftypeDescription"
                                        bindValue="f090fid" [(ngModel)]="itemData.f088fidType" name="f088fidType" #type="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted )" class="form-errors">*Select
                                        Asset Type
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Item Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" class="form-control" name="f088fitemCode"
                                        placeholder="Enter Asset Item Code" [(ngModel)]="itemData.f088fitemCode" value=""
                                        required #Code="ngModel">
                                    <span *ngIf="Code.errors && (Code.dirty || Code.touched || f.submitted )" class="form-errors">*Enter
                                        the Asset Item Code
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Item <span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f088fitemDescription"
                                        placeholder="Enter Asset Item" [(ngModel)]="itemData.f088fitemDescription" value=""
                                        required #name="ngModel">
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Enter
                                        the Asset Item

                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Amount(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f088famount"
                                        placeholder="Enter Asset Item" [(ngModel)]="itemData.f088famount"
                                        value="" required #name="ngModel">
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Enter
                                        the Amount.
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="itemData.f088fstatus" [checked]="itemData.f088fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="itemData.f088fstatus" [checked]="itemData.f088fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/assetitem']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>