<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Building</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/assets/addnewbuilding']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="buildingList | filter : searchText" #mf="mfDataTable"
              [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <td><mfDefaultSorter by="f039flocation">Location</mfDefaultSorter></td>
                  <td><mfDefaultSorter by="f039ffloor">Floor</mfDefaultSorter></td>
                  <td><mfDefaultSorter by="f039fstatus">Status</mfDefaultSorter></td>
  
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indbuilding of mf.data ">
                  <td>{{indbuilding.f039flocation}}</td>
                  <td>{{indbuilding.f039ffloor}}</td>
                  <td>{{indbuilding.f039fstatus === '1'?'Active':'Inactive'}}</td>
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/assets/editbuilding/{{indbuilding.f087fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
  
                      <!-- <button class="btn nh-btn-remove">
                                                <i class="fas fa-trash-alt"></i>
                                            </button> -->
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="8">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>