<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Student Insurance</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addStudentinsurance()" #f="ngForm" name="form" novalidate>
            <div class="row">

              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Name<span class="required-class">*</span></label>
                      <input type="text" maxlength="50" class="form-control" name="f099fname" placeholder="Enter Name"
                        [(ngModel)]="studentinsuranceData.f099fname" value="" required #name="ngModel">
                      <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                        the Name</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Insurance Code<span class="required-class">*</span></label>
                      <input type="text" maxlength="10" class="form-control" name="f099finsCode" placeholder="Enter Insurance Code "
                        [(ngModel)]="studentinsuranceData.f099finsCode" value="" required #icode="ngModel">
                      <span *ngIf=" icode.errors && (icode.dirty || icode.touched || f.submitted)" class="form-errors">*Enter
                        the Insurance Code</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Address<span class="required-class">*</span> </label>
                      <input type="text" maxlength="100" class="form-control" name="Address" placeholder="Enter Address"
                        [(ngModel)]="studentinsuranceData.f099faddress" value="" required #Address="ngModel">
                      <span *ngIf=" Address.errors && (Address.dirty || Address.touched || f.submitted)" class="form-errors">*
                        Enter the Address.</span>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Contact Person<span class="required-class">*</span> </label>
                      <input type="text" maxlength="50" class="form-control" name="f099fcontactPerson" placeholder="Enter Contact Person"
                        [(ngModel)]="studentinsuranceData.f099fcontactPerson" value="" required #Person="ngModel">
                      <span *ngIf=" Person.errors && (Person.dirty || Person.touched || f.submitted)" class="form-errors">*Enter
                        the Contact Person.</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Phone Number<span class="required-class">*</span> </label>
                      <input type="text" maxlength="12" pattern="^\d{12}$" class="form-control" name="f099fphone"
                        placeholder="Enter Phone Number" [(ngModel)]="studentinsuranceData.f099fphone" (keypress)="onlyNumberKey($event)" value=""
                        required #Number="ngModel">
                      <span *ngIf=" Number.errors && (Number.dirty || Number.touched || f.submitted)" class="form-errors">*
                        Enter the Phone Number.</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Fax Number<span class="required-class">*</span> </label>
                      <input type="text" maxlength="10" class="form-control" name="f099ffax" placeholder="Enter Fax Number"
                        [(ngModel)]="studentinsuranceData.f099ffax" value="" required #Fax="ngModel">
                      <span *ngIf=" Fax.errors && (Fax.dirty || Fax.touched || f.submitted)" class="form-errors">*Enter
                        the Fax Number.</span>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Email<span class="required-class">*</span> </label>
                      <input type="text" maxlength="50" class="form-control" name="f099femail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                        placeholder="Enter Email" [(ngModel)]="studentinsuranceData.f099femail" value="" required
                        #Email="ngModel">
                      <span *ngIf=" Email.errors && (Email.dirty || Email.touched || f.submitted)" class="form-errors">*Enter
                        the Email.</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>End Date<span class="required-class">*</span> </label>
                      <input type="date" class="form-control" name="f099fendDate" placeholder="Enter End Date"
                        [(ngModel)]="studentinsuranceData.f099fendDate" value="" required #edate="ngModel">
                      <span *ngIf=" edate.errors && (edate.dirty || edate.touched || f.submitted)" class="form-errors">*Select
                        End Date.</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Country<span class="required-class">*</span> </label>
                      <!-- <select class="form-control" [(ngModel)]="studentinsuranceData.f099fcountry" name="f099fcountry"
                        value="" required #Country="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indcountry of countryList" [value]="indcountry.f013fid">{{indcountry.f013fcountryName}}
                        </option>

                      </select> -->
                      <ng-select [items]="countryList | sort: 'f013fcountryName'" maxlength="50" bindLabel="f013fcountryName"
                        bindValue="f013fid" [(ngModel)]="studentinsuranceData.f099fcountry" (change)="onCountryChange()"name="f099fcountry"
                        #Country="ngModel" required>
                      </ng-select>

                      <span *ngIf=" Country.errors && (Country.dirty || Country.touched || f.submitted)" class="form-errors">*Select
                        Country.</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>State<span class="required-class">*</span> </label>
                      <!-- <select class="form-control" [(ngModel)]="studentinsuranceData.f099fstate" name="f099fstate"
                        value="" required #state="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indstate of stateList" [value]="indstate.f012fid">{{
                          indstate.f012fstateName }}
                        </option>
                      </select> -->
                      <ng-select [items]="stateList |sort: 'f012fstateName'" maxlength="50" bindLabel="f012fstateName"
                        bindValue="f012fid" [(ngModel)]="studentinsuranceData.f099fstate" name="f099fstate" #state="ngModel"
                        required>
                      </ng-select>
                      <span *ngIf=" state.errors && (state.dirty || state.touched || f.submitted)" class="form-errors">*Select
                        State.</span>

                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>City<span class="required-class">*</span> </label>
                      <input type="text" maxlength="30" class="form-control" name="f099fcity" placeholder="Enter City"
                        [(ngModel)]="studentinsuranceData.f099fcity" value="" required #City="ngModel">
                      <span *ngIf=" City.errors && (City.dirty || City.touched || f.submitted)" class="form-errors">*Enter
                        the City.</span>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <div [className]="'active'"></div>
                      <label>Status</label>
                      <br>
                      <input type="radio" name="Status" [(ngModel)]="studentinsuranceData.f099fstatus" [checked]="studentinsuranceData.f099fstatus == 1"
                        [value]="1"> Active
                      <br>
                      <input type="radio" name="Status" [(ngModel)]="studentinsuranceData.f099fstatus" [checked]="studentinsuranceData.f099fstatus == 0"
                        [value]="0"> Inactive
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/studentfinance/studentinsurance']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>