<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">GRN Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Order Type</label>
                <ng-select [disabled]="viewDisabled" [items]="orderList " bindLabel="name" bindValue="name" [(ngModel)]="grnDataheader.f034forderType"
                  name="f034forderType">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>GRN Number</label>
                <input disabled="disabled" type="text" class="form-control" name="f034freferenceNumber" [(ngModel)]="grnDataheader.f034freferenceNumber">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Ordered Date</label>
                <input [disabled]="viewDisabled" type="date" class="form-control" name="f034forderDate" [(ngModel)]="grnDataheader.f034forderDate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Purchase Order Id </label>
                <ng-select [disabled]="viewDisabled" [items]="purchaseOrderList " bindLabel="f034freferenceNumber"
                  bindValue="f034fid" [(ngModel)]="grnDataheader.f034fidPurchaseOrder" name="f034fidPurchaseOrder"
                  (change)="getPurchaseOrderDetails()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Department<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="depList " bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                  [(ngModel)]="grnDataheader.f034fidDepartment" name="f034fidDepartment" (change)="getDepartment()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Financial Year </label>
                <ng-select [disabled]="viewDisabled" [items]="financialList " bindLabel="f015fname" bindValue="f015fid"
                  [(ngModel)]="grnDataheader.f034fidFinancialyear" name="f034fidFinancialyear" (change)="getAllpurchaseGlList()">
                </ng-select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Vendor </label>
                <ng-select [disabled]="viewDisabled" [items]="supplierList " bindLabel="f030fcompanyName" bindValue="f030fid"
                  [(ngModel)]="grnDataheader.f034fidSupplier" name="f034fidSupplier">
                </ng-select>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Expired Date</label>
                <input [disabled]="viewDisabled" type="date" class="form-control" name="f034fexpiredDate" [(ngModel)]="grnDataheader.f034fexpiredDate"
                  value="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description </label>
                <textarea [disabled]="viewDisabled" type="text" class="form-control" name="f034fdescription"
                  [(ngModel)]="grnDataheader.f034fdescription" value="" placeholder="Enter Description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount (RM)</label>
                <input type="text" class="form-control" style="text-align: right" name="f034ftotalAmount" [disabled]="viewDisabled"
                  [(ngModel)]="grnDataheader.f034ftotalAmount " placeholder="Amount" (blur)="onBlurMethod()" readonly="readonly">
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div id="overlay1"></div>
            <div id="myModal" class=" fade in" role="dialog">
              <div class="modal-content">
                <p class="maximize-icon">
                  <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                </p>
                <p class="minimize-icon hidden">
                  <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                </p>
                <div class="modal-body">
                  <div class="table-responsive credit-note-table-wrapper">
                    <table class="table table-bordered table-striped table-food">
                      <thead>
                        <tr>
                          <!-- <th>Approve / Reject </th> -->
                          <th>Category</th>
                          <th>Sub Category</th>
                        <th>Item</th>
                        <th>Asset Code</th>
                          <th colspan="4" style="text-align:center">GL Code</th>
                          <th colspan="4" style="text-align:center">Budget Code</th>
                          <th>SO Code</th>
                          <th>Required Date</th>
                          <th>Quantity Pre-registered</th>
                          <th>UOM</th>
                          <th>Quantity Received</th>
                        
                        </tr>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th>Fund</th>
                          <th>Activity Code</th>
                          <th>Cost Center</th>
                          <th>Account Code</th>
                          <th>Fund</th>
                          <th>Activity Code</th>
                          <th>Cost Center</th>
                          <th>Account Code</th>
                          <th></th>
                          <th> </th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let indinv of grnList;let i = index;trackBy:indexTracker">
                            <td>
                                <input type="text" maxlength="10" readonly="readonly"  style="width: 150px" class="form-control"
                                name="categoryName" [(ngModel)]="grnList[i].categoryName" placeholder="UOM">
                              </td>
                              <td>
                                <input type="text" maxlength="10" readonly="readonly" style="width: 150px" class="form-control"
                                name="subCategoryName" [(ngModel)]="grnList[i].subCategoryName" placeholder="UOM">
                              </td>
                             
                              <td>
                                <input type="text" maxlength="10" readonly="readonly" style="width: 150px"  class="form-control"
                                name="itemName" [(ngModel)]="grnList[i].itemName" placeholder="UOM">
                              </td>
                              <td>
                                  <input type="text" maxlength="10" readonly="readonly"  style="width: 150px" class="form-control"
                                  name="f034fassetCode" [(ngModel)]="grnList[i].f034fassetCode" placeholder="Asset Code">
                                </td>

                                
                        
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="costCenterFund | sort:'originalName'" style="width: 150px;"
                              bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="grnList[i].f034fbudgetFundCode"
                              name="f034fbudgetFundCode">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                              style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="grnList[i].f034factivityCode"
                              name="f088factivityCode"> </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="costCenterList | sort:'f015fdepartmentCode'"
                              style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                              [(ngModel)]="grnList[i].f034fdepartmentCode" name="f034fdepartmentCode">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                              style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="grnList[i].f034faccountCode"
                              name="f034faccountCode">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="costCenterFund | sort:'originalName'" style="width: 150px;"
                              bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="grnList[i].f034fbudgetFundCode"
                              name="f034fbudgetFundCode">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'originalName'"
                              style="width: 150px;" bindLabel="originalName" bindValue="f058fcompleteCode" [(ngModel)]="grnList[i].f034fbudgetActivityCode"
                              name="f034fbudgetActivityCode">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'originalName'"
                              style="width: 150px;" bindLabel="originalName" bindValue="f015fdepartmentCode"
                              [(ngModel)]="grnList[i].f034fbudgetDepartmentCode" name="f034fbudgetDepartmentCode">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'originalName'"
                              style="width: 150px;" bindLabel="originalName" bindValue="f059fcompleteCode" [(ngModel)]="grnList[i].f034fbudgetAccountCode"
                              name="f034fbudgetAccountCode">
                            </ng-select>
                          <td>
                            <input type="text" [disabled]="viewDisabled" style="width: 75px" class="form-control" name="f034fsoCode"
                              [(ngModel)]="grnList[i].f034fsoCode">
                          </td>
                          <td>
                            <input type="date" [disabled]="viewDisabled" class="form-control" [(ngModel)]="grnList[i].f034frequiredDate"
                              style="text-align: right" name="f034frequiredDate">
                          </td>
                          <td>
                            <input type="number" [disabled]="viewDisabled" maxlength="10" style="width: 75px" class="form-control"
                              name="f034fquantity" [(ngModel)]="grnList[i].f034fquantity">
                          </td>
                           
                          <td>
                              <input type="text" maxlength="10" style="width: 95px" class="form-control" name="f034funit"
                                [(ngModel)]="grnList[i].f034funit" readonly='readonly' placeholder="UOM">
                            </td>
                          <td>
                            <input type="text" [disabled]="viewDisabled" maxlength="10" style="width: 75px" class="form-control"
                              name="f034fquantityReceived" (keypress)="onlyNumberKey($event)" [(ngModel)]="grnList[i].f034fquantityReceived">
                          </td>
                          
                          <td></td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>Description </label>
              <textarea class="form-control" [(ngModel)]="grnData.reason" name="reason" placeholder="Enter the Description "></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <button type="button" (click)='approvalListData()' class="btn nh-btn-primary">Approve</button>
                <button type="button" (click)='rejectListData()' class="btn nh-btn-primary">Reject</button>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/procurement/grnapproval']" class="btn nh-btn-primary">Back</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>