<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Tagging Sponsor</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewtaggingsponsor']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="taggingList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <!-- <th>
                                    <mfDefaultSorter by="f064fsponsorCode">Sponsor Code</mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter by="sponsor">Sponsor Name</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="student">Student Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f064fdocumentRefNo">Document Reference number</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="semester">Semester</mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter by="f064fstartDate">Start Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f064fendDate">End Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f064fextensionDate">Extention Date</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indtaggingsponsor of mf.data">
                                <!-- <td>{{indtaggingsponsor.f064fsponsorCode}}</td> -->
                                <td>{{indtaggingsponsor.sponsor}}</td>
                                <td>{{indtaggingsponsor.student}}</td>
                                <td>{{indtaggingsponsor.f064fdocumentRefNo}}</td>
                                <!-- <td>{{indtaggingsponsor.semester}}</td> -->
                                <td>{{indtaggingsponsor.f064fstartDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indtaggingsponsor.f064fendDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indtaggingsponsor.f064fextensionDate | date: 'dd/MM/yyyy'}}</td>
                                <!-- <td>{{indtaggingsponsor.f064fstatus == 1?'Active':'Inactive'}}</td> -->
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/edittaggingsponsor/{{indtaggingsponsor.f064fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>