<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">ACCOUNT SETTING</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <!-- <label>Sub Account Under Ledger</label> -->
                  <input type="checkbox"  name="AccUnderLedger" [(ngModel)]="accountData.f016fsubAccUnderLedger" value="" required>Sub Account Under Ledger<br>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <!-- <label>Enable TDS</label> -->
                  <input type="checkbox"  name="EnableTDS" [(ngModel)]="accountData.f016fenableTds" value="" required>Enable TDS<br>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <!-- <label>Allow Cheque Printing</label> -->
                  <input type="checkbox" name="AllowChequePrinting" [(ngModel)]="accountData.f016fallowChequePrinting" value="" required>Allow Cheque Printing<br>
                 
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <!-- <label>Allow Custom Fields</label> -->
                  <input type="checkbox"  name="AllowCustomFields" [(ngModel)]="accountData.f016fallowCustomFields" value="" required>Allow Custom Fields<br>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <!-- <label>Budget YN</label> -->
                  <input type="checkbox" name="BudgetYN" [(ngModel)]="accountData.f016fbudgetYn" value="" required>Budget YN<br>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <!-- <label>MQY Budgeting</label> -->
                  <input type="checkbox"  name="MQYBudgeting" [(ngModel)]="accountData.f016fMQYBudgeting" value="" required>MQY Budgeting<br>
                </div>
              </div>

              <div class="col-sm-12">
                <p class="text-right">
                  <a href="/generalsetup/account" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" (click)='addAccount()' class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>