<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Company</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addcompany()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Name<span class="required-class">*</span> </label>
                  <input type="text" maxlength="50" class="form-control" name="f013fname" placeholder="Enter Name"
                    [(ngModel)]="companyData.f013fname" value="" required #Name="ngModel">
                  <!-- <input type="text" ngui-auto-complete value-formatter="f012fstateName" list-formatter="f012fstateName" [match-formatted]="true"
                        maxlength="50" class="form-control" name="company name" placeholder="Enter Name" [(ngModel)]="companyData.f013fname"
                        value="" required #name="ngModel" [source]='stateList'> -->
                  <span *ngIf="Name.errors && (Name.dirty || Name.touched || f.submitted)" class="form-errors">*Enter
                    the
                    Name.
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address<span class="required-class">*</span></label>
                  <textarea maxlength="150" class="form-control" name="f013faddress" placeholder="Enter Address"
                    [(ngModel)]="companyData.f013faddress" value="" required #address="ngModel"></textarea>
                  <span *ngIf="address.errors && (address.dirty || address.touched || f.submitted)" class="form-errors">*Enter
                    the Address .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email<span class="required-class">*</span> </label>
                  <input type="email" maxlength="50" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="f013femail"
                    placeholder="Enter Email" [(ngModel)]="companyData.f013femail" value="" required #email="ngModel">
                  <span *ngIf="email.errors && (email.dirty || email.touched || f.submitted)" class="form-errors">*Enter
                    the
                    valid Email address</span>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Phone Number<span class="required-class">*</span></label>
                  <input type="text" maxlength="12" minlength="10" class="form-control" name="f013fphoneNumber"
                    placeholder="Enter Phone Number" [(ngModel)]="companyData.f013fphoneNumber" (keypress)="onlyNumberKey($event)"
                    #phone="ngModel" required>
                  <span *ngIf="phone.errors && (phone.dirty || phone.touched || f.submitted)" class="form-errors">*Enter
                    the Phone Number</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Country<span class="required-class">*</span></label>
                  <ng-select [items]="countryList | sort:'f013fcountryName'" bindLabel="f013fcountryName" bindValue="f013fid"
                    [(ngModel)]="companyData.f013fcountryCode" name="f013fcountryCode" (change)="onCountryChange()"
                    #country="ngModel" required>
                  </ng-select>


                  <!-- <input type="text" ngui-auto-complete value-formatter="f013fcountryName" list-formatter="f013fcountryName"
                          [match-formatted]="true" maxlength="50" class="form-control" name="country List" placeholder="Select country"
                          [(ngModel)]="companyData.f013fcountryCode" value="" required #country="ngModel" [source]='countryList'> -->
                  <span *ngIf="country.errors && (country.dirty || country.touched || f.submitted)" class="form-errors">*Select
                    Country</span>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>State<span class="required-class">*</span></label>
                  <ng-select [items]="stateList | sort:'f012fstateName'" bindLabel="f012fstateName" bindValue="f012fid"
                    [(ngModel)]="companyData.f013fstateCode" name="f013fstateCode" #state="ngModel" required>
                  </ng-select>

                  <!-- <input type="text" ngui-auto-complete value-formatter="f012fstateName" list-formatter="f012fstateName"
                            [match-formatted]="true" maxlength="50" class="form-control" name="State List" placeholder="Select State"
                            [(ngModel)]="companyData.f013fstateCode" value="" required #state="ngModel" [source]='stateList'> -->
                  <span *ngIf="state.errors && (state.dirty || state.touched || f.submitted)" class="form-errors">*Select
                    State.
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>City<span class="required-class">*</span> </label>
                  <input type="text" maxlength="50" class="form-control" name="f013fcity" placeholder="Enter City"
                    [(ngModel)]="companyData.f013fcity" required #city="ngModel">
                  <span *ngIf="city.errors && (city.dirty || city.touched || f.submitted)" class="form-errors">*Enter
                    the City.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Code<span class="required-class">*</span> </label>
                  <input type="text" maxlength="10" class="form-control" name="f013fcode" placeholder="Enter Code"
                    [(ngModel)]="companyData.f013fcode" value="" required #code="ngModel">
                  <!-- <input type="text" ngui-auto-complete value-formatter="f012fstateName" list-formatter="f012fstateName" [match-formatted]="true"
                        maxlength="50" class="form-control" name="company name" placeholder="Enter Name" [(ngModel)]="companyData.f013fname"
                        value="" required #name="ngModel" [source]='stateList'> -->
                  <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*Enter
                    the
                    Code.
                  </span>
                </div>
              </div>



              <div class="col-sm-4">
                <div class="form-group">
                  <label>Reference Number<span class="required-class">*</span> </label>
                  <input type="text" maxlength="50" class="form-control" name="f013frefNumber" placeholder="Enter Reference Number"
                    [(ngModel)]="companyData.f013frefNumber" value="" required #number="ngModel">
                  <!-- <input type="text" ngui-auto-complete value-formatter="f012fstateName" list-formatter="f012fstateName" [match-formatted]="true"
                      maxlength="50" class="form-control" name="company name" placeholder="Enter Name" [(ngModel)]="companyData.f013fname"
                      value="" required #name="ngModel" [source]='stateList'> -->
                  <span *ngIf="number.errors && (number.dirty || number.touched || f.submitted)" class="form-errors">*Enter
                    the
                    Reference Number.
                  </span>
                </div>
              </div>






            </div>
            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Fax Number<span class="required-class">*</span> </label>
                  <input type="text" maxlength="10" class="form-control" name="f013ffaxNumber" placeholder="Enter Fax Number"
                    [(ngModel)]="companyData.f013ffaxNumber" (keypress)="onlyNumberKey($event)" required #fnumb="ngModel">
                  <span *ngIf="fnumb.errors && (fnumb.dirty || fnumb.touched || f.submitted)" class="form-errors">*Enter
                    the Fax Number.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Post Code<span class="required-class">*</span> </label>
                  <input type="text" maxlength="10" class="form-control" name="f013fpostCode" placeholder="Enter Post Code"
                    [(ngModel)]="companyData.f013fpostCode" value="" required #pcode="ngModel">
                  <span *ngIf="pcode.errors && (pcode.dirty || pcode.touched || f.submitted)" class="form-errors">*Enter
                    the Post Code.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Tax Exempted<span class="required-class">*</span> </label>
                  <ng-select [items]="taxtype" bindLabel="name" bindValue="id" [(ngModel)]="companyData.f013ftaxExcempted"
                    name="f013ftaxExcempted" #tax="ngModel" required>
                  </ng-select>
                  <!-- <select class="form-control" name="f013ftaxExcempted" [(ngModel)]="companyData.f013ftaxExcempted"
                      required #tax="ngModel">
                      <option [ngValue]="undefined" hidden selected> --select-- </option>
                      <option value="1">No</option>
                      <option value="2">Yes</option>
                    </select> -->
                  <span *ngIf="tax.errors && (tax.dirty || tax.touched || f.submitted)" class="form-errors">*Select
                    Tax Exemption</span>
                </div>
              </div>
            </div>
            <div class="row">



            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Registration Number<span class="required-class">*</span> </label>
                  <input type="text" maxlength="20" class="form-control" name="f013fregistrationNumber" placeholder="Enter Registration Number"
                    [(ngModel)]="companyData.f013fregistrationNumber" value="" required #regnum="ngModel">
                  <span *ngIf="regnum.errors && (regnum.dirty || regnum.touched || f.submitted)" class="form-errors">*Enter
                    the
                    Registration Number</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/generalsetup/company" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>