<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Level {{this.level +1}}</h1>
                </div>
            </div>
            <table class="table table-bordered table-striped table-food"  [mfData]="activityCodeList" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th *ngIf="previousLevel">Previous Level</th>
                        <th *ngIf="previousLevel">Level {{this.level}} Code</th>

                        <th>Code</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th *ngIf="this.level==2">
                            Allow Negative
                        </th>
                        <th>View Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let indVoucher of mf.data">
                        <td *ngIf="previousLevel">
                            <span (click)="loadPreviousDataSet(indVoucher)">Level {{this.level}}</span>
                        </td>
                        <td *ngIf="previousLevel">
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f059frefCode}}>
                        </td>
                        <td>
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f059fcode}}>
                        </td>
                        <td>
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f059fname}}>
                        </td>


                        <td>
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f059fdescription}}>
                        </td>
                        <td *ngIf="this.level==2">
                            <input type="checkbox" placeholder="Enter Glcode" [checked]="indVoucher.f059fallowNegative">
                        </td>
                        <td *ngIf="this.level!=2">
                            <span (click)="loadDataForNextSet(indVoucher.f059fid,indVoucher.f059flevelStatus,indVoucher.f059frefCode,indVoucher.f059fcode)">Next
                                Level </span>
                        </td>
                    </tr>
                    <tr>
                        <td *ngIf="previousLevel">&nbsp;</td>
                        <td *ngIf="previousLevel">
                            <input type="text" maxlength="1" class="form-control" name="glCode" placeholder="Code" [(ngModel)]="activity.f058fcode" readonly="readonly">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="glCode" placeholder="Enter Code" [(ngModel)]="activity.code" value="">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="glCode" placeholder="Enter Glcode" [(ngModel)]="activity.name" value="">
                        </td>

                        <td>

                            <input type="text" class="form-control" name="description" placeholder="Enter Glcode" [(ngModel)]="activity.description"
                                value="">

                        </td>
                        <td *ngIf="this.level==2">
                            <input type="checkbox" placeholder="Enter Glcode" [(ngModel)]="activity.f059fallowNegative">
                        </td>

                        <td>
                            <input type="button" name="add" (click)='addGlCode()' value='Save & Add Level' class="btn nh-btn-primary" />
                        </td>
                    </tr>

                </tbody>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                  </td>
            </table>

        </div>
    </div>
</div>