<div class="col-sm-3">
        <div class="form-group">
            <label>Fund <span class="required-class">*</span> </label>
            <select class="form-control" [(ngModel)]="idFund" name="idFund" required #fund="ngModel">
                <option [ngValue]="undefined" hidden selected> --please select-- </option>
                <option *ngFor="let indfund of fundList" [value]="indfund.f057fid">{{indfund.f057fcode}} - {{ indfund.f057fname }}</option>
            </select>
            <span *ngIf=" fund.errors && (fund.dirty || fund.touched )"  class="form-errors">*Select the Fund</span>
        </div>
    </div>