<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">View Debit Note</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Invoice Number</label>
                  <select class="form-control" [(ngModel)]="debitnoteData.f031fidInvoice" name="f031fidInvoice" (change)="getInvoiceDetails()">
                    <option *ngFor="let indinvoice of maininvoiceList" [value]="indinvoice.f071fid">{{ indinvoice.f071finvoiceNumber }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Customer </label>
                  <select class="form-control" [(ngModel)]="debitnoteData.f031fcustomer" disabled="disabled" name="f031fcustomer">
                    <option *ngFor="let indinvoice of maininvoiceList" [value]="indinvoice.f071fidCustomer">{{ indinvoice.firstName }} {{ indinvoice.lastName }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Total Amount (RM) </label>
                  <input type="text" class="form-control" name="Amount" placeholder="Amount " style="text-align: right" [(ngModel)]="debitnoteData.f031ftotalAmount"
                    value="" readonly="readonly">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Voucher Date</label>
                  <input type="date" disabled="disabled" class="form-control" name="invoiceDate" [(ngModel)]="debitnoteData.f031fdate"
                    value="" required>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Debit Note Number</label>
                  <input type="text" class="form-control" name="customer"  placeholder="Voucher Number" [(ngModel)]="debitnoteData.f031fvoucherNumber"
                    value="" readonly="readonly">
                </div>
              </div>
               <div class="col-sm-4">
                <div class="form-group">
                  <label>Balance (RM)</label>
                  <input type="text" maxlength="10" class="form-control" style="text-align: right" [(ngModel)]="debitnoteData.f031fbalance" disabled="disabled" name="referencenumber" 
                    placeholder="Balance">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Reference Number</label>
                  <input type="text" maxlength="10" class="form-control" [(ngModel)]="debitnoteData.f031freferenceNumber"
                    name="referencenumber" placeholder="Reference Number">
                </div>
              </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Date</label>
                    <input type="date" class="form-control" name="f031fdate" [(ngModel)]="debitnoteData.f031fdate" value=""
                      required>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" maxlength="255" name="narrarion" placeholder="Description" [(ngModel)]="debitnoteData.f031fnarration"></textarea>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-bordered table-striped table-food">
          <thead>
            <tr>
              <th>Item</th>
              <th>Debit GL-Code</th>
                <th>Credit GL-Code</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Tax Code</th>
                <th>Tax Amount (RM)</th>
                <th>Total (RM)</th>
                <th>To Debit Amount (RM)</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let indinv of maininvoiceList;let i = index;trackBy:indexTracker">
                  <td>
                    <select class="form-control"  [(ngModel)]="maininvoiceList[i].f072fidItem" name="f072fidItem" #invoice="ngModel">
                      <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                    </select> </td>
                    <td>
                      <select class="form-control"  [(ngModel)]="maininvoiceList[i].f072fidDebitGlcode" name="f032fidDebitGlcode">
                        <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                          }}</option>
                      </select> </td>
                    <td>
                      <select class="form-control"  [(ngModel)]="maininvoiceList[i].f072fidCreditGlcode" name="f032fidCreditGlcode">
                        <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                          }}</option>
                      </select> </td>
                      
                  <td>
                    <input type="number"  class="form-control" [(ngModel)]="maininvoiceList[i].f072fquantity" name="f032fquantity" value=""
                      (blur)="onBlurMethod()">
                  </td>
                  <td>
                    <input type="number"  class="form-control" style="text-align: right" [(ngModel)]="maininvoiceList[i].f072fprice" name="f032fprice"
                      (blur)="onBlurMethod()">
                  </td>
                  <td>
                    <select class="form-control"  [(ngModel)]="maininvoiceList[i].f032fgstCode" name="f072fgstCode" #invoice="ngModel">
                      <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{ indtaxcode.f081fcode }}</option>
                    </select> </td>
                  <td>
                    <input type="number"  class="form-control" style="text-align: right" [(ngModel)]="maininvoiceList[i].f072fgstValue" name="f032fgstValue"
                      (blur)="onBlurMethod()">
                  </td>
                  <td>

                    <input type="text"  class="form-control" style="text-align: right" [(ngModel)]="maininvoiceList[i].f072ftotal"
                      name="f032ftotal" placeholder="Total"> </td>

                  <td>
                    <input type="number" class="form-control" (change)="addDebitAmount()" style="text-align: right" [(ngModel)]="maininvoiceList[i].f032ftoDnAmount" name="f032ftoCnAmount"
                      >
                  </td>
                </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <a [routerLink]="['/accountsrecivable/debitnoteapproval']" class="btn nh-btn-primary">Back</a>
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
