<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title"> Company Bank Setup </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/generalsetup/addnewbanksetupaccount']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="banksetupaccountList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                  <th><mfDefaultSorter by="Bank">Bank</mfDefaultSorter></th>
                  <!-- <th><mfDefaultSorter by="Glcode">Department</mfDefaultSorter></th> -->
                  <th><mfDefaultSorter by="f041faccountNumber">Account Number</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f041faddress">Address</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f041fcontactPerson">Contact Person </mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f041fphone">Phone Number</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f041femail">Email</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f041fstatus">Status</mfDefaultSorter></th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indbanksetupaccount of mf.data">
                <td>{{indbanksetupaccount.Bank}}</td>
                <!-- <td>{{indbanksetupaccount.Glcode}}</td> -->
                <td>{{indbanksetupaccount.f041faccountNumber}}</td>
                <td>{{indbanksetupaccount.f041faddress}}</td>
                <td>{{indbanksetupaccount.f041fcontactPerson}}</td>
                <td>{{indbanksetupaccount.f041fphone}}</td>
                <td>{{indbanksetupaccount.f041femail}}</td>
                <!-- <td>{{indbanksetupaccount.f041fdescription}}</td> -->
                <td>{{indbanksetupaccount.f041fstatus == '1'?'Active':'Inactive'}}</td>

                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/generalsetup/editbanksetupaccount/{{indbanksetupaccount.f041fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>