<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Returns</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewreturn']" class="btn nh-btn-primary">Add </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <table class="table table-bordered table-striped" [mfData]="returnList | filter : searchText"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="f118famountNumber">Account Number</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="f118freceiptNumber">Receipt Name</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="student">Student Name</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="f118fapprovalStatus">Status</mfDefaultSorter>
                            </th>


                            <th>Edit/View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let indreturn of mf.data ">
                            <td>{{indreturn.f118famountNumber}}</td>
                            <td>{{indreturn.f118freceiptNumber}}</td>
                            <td>{{indreturn.student}}</td>
                            <td>{{indreturn.f118fapprovalStatus}}</td>

                            <td class="actions-col">
                                <div class="nh-btn-group">
                                    <a routerLink="/studentfinance/editreturn/{{indreturn.f118fid}}">
                                        <button class="btn nh-btn-edit">
                                            <i class="fa fa-eye" *ngIf="indreturn.f118fapprovalStatus  == 'Approved'"></i>
                                            <i class="fa fa-edit" *ngIf="indreturn.f118fapprovalStatus  == 'Pending'"></i>
                                            <i class="fa fa-eye" *ngIf="indreturn.f118fapprovalStatus  == 'Rejected'"></i>
                                        </button>
                                    </a>


                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <td colspan="9">
                        <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                    </td>
                </table>
            </div>
        </div>
    </div>
</div>