<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll; padding-bottom: 100px">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Budget Allocation</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Budget Allocation Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Budget Year<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="finantialyearList | sort:'f110fyear'" bindLabel="f110fyear"
                  bindValue="f110fid" [(ngModel)]="budgetactivitiesDataheader.f054fidFinancialyear" name="f054fidFinancialyear"
                  #financialYear="ngModel" required (change)="getListOfPendingCostCenter()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Fund<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" appendTo="body" [items]="fundList | sort:'f057fname'" bindLabel="originalName"
                  bindValue="f057fcode" [(ngModel)]="budgetactivitiesDataheader.f054ffund" name="f054ffund" (change)="getFund()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Cost Center<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterLists | sort:'f015fdepartmentName'"
                  bindLabel="originalName" bindValue="f015fdepartmentCode" [(ngModel)]="budgetactivitiesDataheader.f054fdepartment"
                  name="f054fdepartment" #costCenter="ngModel" (change)="getAmount()">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Budget Allocated Amount<span class="required-class">*</span></label>
                <input type="text" class="form-control amountAlign" readonly="readonly" name="f054famount" placeholder="Enter Amount"
                  [(ngModel)]="allocatedAmount">
              </div>
            </div>
            <div class="col-sm-4"  *ngIf="allocatedAmount != 0">
              <div class="form-group">
                <label>Remaining Amount<span class="required-class">*</span></label>
                <input type="text" class="form-control amountAlign" readonly="readonly" name="f054famount" placeholder="Enter Amount"
                  [(ngModel)]="remainingAllocation">
              </div>
            </div>
          </div>

          <div id="overlay1"></div>
          <div id="myModal" class=" fade in" role="dialog" *ngIf="allocatedAmount != 0">
            <!-- <div class="modal-dialog"> -->
            <!-- Modal content-->
            <div class="modal-content">
              <p class="maximize-icon">
                <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
              </p>
              <p class="minimize-icon hidden">
                <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
              </p>
              <div class="modal-body">

                <div class="row" class="table-responsive credit-note-table-wrapper">
                  <table class="table table-bordered table-striped table-food" fieldset="disabled" id="target1">
                    <thead>
                      <tr>
                        <th>Fund</th>
                        <th>Activity Code</th>
                        <th>Cost Center</th>
                        <th>Account Code</th>
                        <th>So Code</th>
                        <th>Budget Type</th>
                        <th>Amount (RM)</th>
                        <th>Period 1 (RM)</th>
                        <th>Period 2 (RM)</th>
                        <th>Period 3 (RM)</th>
                        <th *ngIf="this.configListOfDepartmentSplit==4">Period 4</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indbudgetactivity of newbudgetactivitiesList; let i = index;last as isLast">
                        <td>
                          <ng-select disabled="disabled" appendTo="body" [items]="fundList | sort:'originalname'" style="width: 150px;"
                            bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="newbudgetactivitiesList[i].f054ffundCode"
                            name="f054ffundCode" #fund="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'originalname'" style="width: 150px;"
                            bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="newbudgetactivitiesList[i].f054factivityCode"
                            name="f054factivityCode" #activity="ngModel" required>
                          </ng-select>
                        </td>
                        <td>

                          <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'originalname'"
                            style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                            [(ngModel)]="newbudgetactivitiesList[i].f054fdepartmentCode" name="f054fdepartmentCode"
                            #dept="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'originalname'" style="width: 150px;"
                            bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="newbudgetactivitiesList[i].f054faccountCode"
                            name="f054faccountCode" #account="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="socodeList | sort:'socode'" style="width: 150px;"
                            bindLabel="socode" bindValue="socode" [(ngModel)]="newbudgetactivitiesList[i].f054fsoCode"
                            name="f054fsoCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="budgettype | sort:'name'" bindLabel="name"
                            style="width: 150px;" bindValue="name" [(ngModel)]="newbudgetactivitiesList[i].f054fbudgetType"
                            name="f054fbudgetType">
                          </ng-select>
                        </td>
                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="15" class="form-control amountAlign"
                            name="f054famount" placeholder="Enter Amount" [(ngModel)]="newbudgetactivitiesList[i].f054famount"
                            value="" (keypress)="onlyNumberKey($event)" (focus)="decreaseCurrentAllocation(newbudgetactivitiesList[i].f054famount)" (blur)="increaseCurrentAllocation(newbudgetactivitiesList[i].f054famount)">
                        </td>
                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="15" class="form-control amountAlign"
                            name="f054fq1" placeholder="Q1" [(ngModel)]="newbudgetactivitiesList[i].f054fq1" value=""
                            (keypress)="onlyNumberKey($event)">
                        </td>
                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="15" class="form-control amountAlign"
                            name="f054fq2" placeholder="Q2" [(ngModel)]="newbudgetactivitiesList[i].f054fq2" value=""
                            (keypress)="onlyNumberKey($event)">
                        </td>
                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="15" class="form-control amountAlign"
                            name="f054fq3" placeholder="Q3" [(ngModel)]="newbudgetactivitiesList[i].f054fq3" value=""
                            (keypress)="onlyNumberKey($event)">
                        </td>
                        <td *ngIf="this.configListOfDepartmentSplit==4">
                          <input type="text" [disabled]="viewDisabled" maxlength="15" class="form-control" name="f054fq4"
                            placeholder="Q4" [(ngModel)]="newbudgetactivitiesList[i].f054fq4" value="" (keypress)="onlyNumberKey($event)">
                        </td>
                        <td *ngIf="!isLast">
                          <button class="btn nh-btn-primary" type="button" (click)='deletebudgetactivites(newbudgetactivitiesList[i])'
                            *ngIf="viewDisabled==false">
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>
                        <td *ngIf="isLast">
                          <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletebudgetactivites(newbudgetactivitiesList[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="showLastRow==false">
                        <td>
                          <ng-select disabled="disabled" appendTo="body" [items]="fundList | sort:'f057fname'" style="width: 150px;"
                            bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="budgetactivitiesData.f054ffundCode"
                            name="f054ffundCode">
                          </ng-select>

                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'originalname'" style="width: 150px;"
                            bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="budgetactivitiesData.f054factivityCode"
                            name="f054factivityCode" #activity="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'originalname'"
                            style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                            [(ngModel)]="budgetactivitiesData.f054fdepartmentCode" name="f054fdepartmentCode" #dept="ngModel"
                            required>
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'originalname'" style="width: 150px;"
                            bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="budgetactivitiesData.f054faccountCode"
                            name="f054faccountCode" #costCenter="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="socodeList | sort:'socode'" style="width: 150px;"
                            bindLabel="socode" bindValue="socode" [(ngModel)]="budgetactivitiesData.f054fsoCode" name="f054fsoCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="budgettype | sort:'name'" bindLabel="name"
                            style="width: 150px;" bindValue="name" [(ngModel)]="budgetactivitiesData.f054fbudgetType"
                            name="f054fbudgetType">
                          </ng-select>
                        </td>

                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control amountAlign"
                            name="f054famount" placeholder="Enter Amount" [(ngModel)]="budgetactivitiesData.f054famount"
                            value="" (keypress)="onlyNumberKey($event)"  (focus)="decreaseCurrentAllocation(budgetactivitiesData.f054famount)" (blur)="increaseCurrentAllocation(budgetactivitiesData.f054famount)">
                        </td>
                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control amountAlign"
                            name="f054fq1" placeholder="Period 1" [(ngModel)]="budgetactivitiesData.f054fq1" value=""
                            (keypress)="onlyNumberKey($event)">
                        </td>
                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control amountAlign"
                            name="f054fq2" placeholder="Period 2" [(ngModel)]="budgetactivitiesData.f054fq2" value=""
                            (keypress)="onlyNumberKey($event)">
                        </td>
                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control amountAlign"
                            name="f054fq3" placeholder="Period 3" [(ngModel)]="budgetactivitiesData.f054fq3" value=""
                            (keypress)="onlyNumberKey($event)">
                        </td>
                        <td *ngIf="this.configListOfDepartmentSplit==4">
                          <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control" name="f054fq4"
                            placeholder="Period 4" [(ngModel)]="budgetactivitiesData.f054fq4" value="" (keypress)="onlyNumberKey($event)">
                        </td>
                        <td>
                          <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addBudgetactivities(0)'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:{{currentAllocation}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <a routerLink="/budget/budgetactivities" class="btn nh-btn-secondary" *ngIf="idview!=2">Cancel</a>

              <a routerLink="/budget/budgetactivityapproval" class="btn nh-btn-secondary" *ngIf="idview==2">Cancel</a>
              <button type="submit" (click)='saveBudgetactivities()' class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
            </p>
          </div>
        </div>
      </div>
    </div>