<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Payment Type Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addOnlinepaymenttype()" #f="ngForm" name="form" novalidate>
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Payment Type Code<span class="required-class">*</span></label>
                                        <input type="text" maxlength="10" class="form-control" name="f018fcode" placeholder="Enter Payment Type Code"
                                            [(ngModel)]="onlinepaymenttypeData.f018fcode" value="" required #code="ngModel" (blur)="checkDuplication()">
                                        <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*
                                            Enter the Payment Type Code</span>
                                    </div>
                                </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Description<span class="required-class">*</span></label>
                                <textarea type="text" maxlength="100" class="form-control" name="f018fname" placeholder="Enter Description"
                                    [(ngModel)]="onlinepaymenttypeData.f018fname" value="" required #name="ngModel"></textarea>
                                <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*
                                    Enter the Description</span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="onlinepaymenttypeData.f018fstatus" [checked]="onlinepaymenttypeData.f018fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="onlinepaymenttypeData.f018fstatus" [checked]="onlinepaymenttypeData.f018fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/accountsrecivable/onlinepaymenttype" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>