<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Movement</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/assets/addnewassetmoment']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="assetmomentList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>

                <th>
                  <mfDefaultSorter by="f087fidType">Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f087fidReceiver">Receiver</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="department">Department</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f087freason">Reason</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f087fapproval1Status">Approval Status 1</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f087fapproval2Status">Approval Status 2</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indassetmoment of mf.data ">


                <td>{{indassetmoment.f087fidType == '1'?'Transfer':'Loan'}}</td>

                <td>{{indassetmoment.f087fidReceiver}}-{{indassetmoment.customerName}}</td>
                <td>{{indassetmoment.department}}</td>
                <td>{{indassetmoment.f087freason}}</td>
                <td>{{indassetmoment.f087fapproval1Status}}</td>
                <td>{{indassetmoment.f087fapproval2Status}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/assets/editassetmoment/{{indassetmoment.f087fid}}">
                      <button class="btn nh-btn-edit" *ngIf="indassetmoment.f087fapproval1Status == 'Approved'&&indassetmoment.f087fapproval2Status == 'Approved'">
                        <i class="fa fa-eye"></i>
                      </button>
                      <button class="btn nh-btn-edit" *ngIf="indassetmoment.f087fapproval1Status == 'Rejected'&&indassetmoment.f087fapproval2Status == ''">
                        <i class="fa fa-eye"></i>
                      </button>
                      <button class="btn nh-btn-edit" *ngIf="indassetmoment.f087fapproval1Status == 'Approved'&&indassetmoment.f087fapproval2Status == 'Pending'">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button class="btn nh-btn-edit" *ngIf="indassetmoment.f087fapproval1Status == 'Pending'&&indassetmoment.f087fapproval2Status == 'Approved'">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button class="btn nh-btn-edit" *ngIf="indassetmoment.f087fapproval1Status == 'Pending'&&indassetmoment.f087fapproval2Status == 'Pending'">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button class="btn nh-btn-edit" *ngIf="indassetmoment.f087fapproval1Status == 'Approved'&&indassetmoment.f087fapproval2Status == 'Rejected'">
                        <i class="fa fa-eye"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>