<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Recurring Setup Customer</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
           
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewrecurringsetupcustomer']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="recurringsetupcustomerList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f077freferenceNumber">Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="firstName">Debtor Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f077fcontractNumber">Contract Reference</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f077fperiod">Period in Months</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f077fpayment">Amount (RM)</mfDefaultSorter>
                </th>
                <!-- <th>
                  <mfDefaultSorter by="premiseName">Premise Setup</mfDefaultSorter>
                </th> -->
                <!-- <th>
                  <mfDefaultSorter by="categoryName">Revenue Description</mfDefaultSorter>
                </th> -->
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indrecurringsetupcustomer of mf.data  ">
                <td>{{indrecurringsetupcustomer.f077freferenceNumber}}</td>
                <td>{{indrecurringsetupcustomer.firstName}}</td>
                <td>{{indrecurringsetupcustomer.f077fcontractNumber}}</td>
                <td>{{indrecurringsetupcustomer.f077fperiod}}</td>
                <td class="amountAlign">{{indrecurringsetupcustomer.f077fpayment | number: '.2'}}</td>
                <!-- <td>{{indrecurringsetupcustomer.premiseName}}</td> -->
                <!-- <td>{{indrecurringsetupcustomer.categoryName}}</td> -->
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editrecurringsetupcustomer/{{indrecurringsetupcustomer.f077fid}}">
                      <button class="btn nh-btn-edit">

                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>