<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Allocation Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetactivityapprovalList"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f110fyear">Budget Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f054ffund">Fund</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fdepartmentName">Cost Center</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f054ftotalAmount">Allocated Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f054fapprovalStatus"> Status</mfDefaultSorter>
                                </th>
                                <th>Approve/Reject</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetactivitiesapproval of mf.data | filter : searchText ">
                                <td>{{indbudgetactivitiesapproval.f110fyear}}</td>
                                <td>{{indbudgetactivitiesapproval.fundName}}</td>
                                <td>{{indbudgetactivitiesapproval.f015fdepartmentCode}} -
                                    {{indbudgetactivitiesapproval.f015fdepartmentName}}</td>
                                <td class="amountAlign">{{indbudgetactivitiesapproval.f054ftotalAmount | number: '.2'}}</td>
                                <td>{{indbudgetactivitiesapproval.f054fapprovalStatus === 1?'Approved':'Pending'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indbudgetactivitiesapproval.approvalstatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/viewbudgetactivities/{{indbudgetactivitiesapproval.f054fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="budgetactivityapprovalData.reason" name="reason"
                                placeholder="Enter the Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='budgetactivityApprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='regectbudgetactivityApprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>