<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Allocation By Cost Center</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a routerLink="/budget/addnewbudgetcostcenter" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetcostcenterList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="financialYear">Budget Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f051ffund">Fund</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="departmentName">Cost Center</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f051famount">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f051fapprovalStatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit/View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetcostcenter of mf.data ">
                                <td>{{indbudgetcostcenter.financialYear}}</td>
                                <td>{{indbudgetcostcenter.f051ffund}} - {{indbudgetcostcenter.fundName}}</td>
                                <td>{{indbudgetcostcenter.f051fdepartment}} - {{indbudgetcostcenter.departmentName}}</td>
                                <td class="amountAlign">{{indbudgetcostcenter.f051famount | number: '.2'}}</td>
                                <td>{{indbudgetcostcenter.f051fapprovalStatus}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/editbudgetcostcenter/{{indbudgetcostcenter.f051fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye" *ngIf="indbudgetcostcenter.f051fapprovalStatus == 'Approved'"></i>
                                                <i class="fa fa-edit" *ngIf="indbudgetcostcenter.f051fapprovalStatus == 'Pending'"></i>
                                                <i class="fa fa-eye" *ngIf="indbudgetcostcenter.f051fapprovalStatus == 'Rejected'"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>