<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">SOCSO Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addSocsocategory()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Category<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" [(ngModel)]="socsocategoryData.f091fcategoryName"
                                        name="f091fcategoryName" required #category="ngModel" placeholder="Enter Category">
                                    <span *ngIf="category.errors && (category.dirty || category.touched || f.submitted )" class="form-errors">*Enter
                                        the Category
                                        .</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Description<span class="required-class">*</span></label>
                                    <textarea type="text" maxlength="100" class="form-control" [(ngModel)]="socsocategoryData.f091fdescription"
                                        name="f091fdescription" required #code="ngModel" placeholder="Enter Description"></textarea>
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted )" class="form-errors">*Enter
                                        the Description
                                        .</span>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="socsocategoryData.f091fstatus" [checked]="socsocategoryData.f091fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="socsocategoryData.f091fstatus" [checked]="socsocategoryData.f091fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/payroll/socsocategory']" class="btn nh-btn-secondary">Cancel</a>

                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>