<section>
    <!-- <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-container">

                <mat-card>
                    <p class="h4 text-center">SIGN IN</p>
                    <mat-card-content>
                        <form [formGroup]="loginForm">
                            <div class="form-group">
                                <mat-form-field>
                                    <input type="text" placeholder="Email" formControlName="email" id="email" matInput>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field>
                                    <input type="password" placeholder="Password" formControlName="password" id="password" matInput>
                                </mat-form-field>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" color="primary" mat-raised-button>SIGN IN</button>
                            </div>
                            <div class="form-group">
                                <a routerLink="/auth/forgot-password">Forgot Password?</a>
                            </div>
                            <div class="form-group">
                                Don't have an account?
                                <a routerLink="/auth/register">Register</a>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div> -->
     <!-- Need to consider only html code.. -->

     <div class="fa-login-container">
        <div class="fa-login-wrapper">
            <form class="fa-login-form fa-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" name="form" novalidate>
                <div class="fa-login-logo-wrapper">
                    <img src="../../../assets/images/logo.png" class="center-block img-responsive">
                </div>
                <h1 class="fa-form-header">Login</h1>
            <div class="form-group">
                <label for="Username">Email / Username
                </label>
                <input type="email" class="form-control sm-form-control" name="email" [(ngModel)]="studentData.email" value="" required #email="ngModel">
                <span *ngIf=" email.errors && (email.dirty || email.touched || f.submitted)"  class="form-errors">*Enter the User Email.</span>
            </div>
            <div class="form-group">
                <label for="Password">Password
                </label>
                <input type="password" class="form-control sm-form-control" name="password"  [(ngModel)]="studentData.password" value="" required #password="ngModel">
                <span *ngIf=" password.errors && (password.dirty || password.touched || f.submitted)"  class="form-errors">*Enter the Password.</span>
            </div>
            <p class="text-center"><button type="submit" class="btn btn-default btn-block fa-primary-btn">sign in</button></p>
            <span *ngIf="error"  class="form-errors">{{error}}</span>
            </form>
        </div>
    </div>
</section>