<div class="ps-right-section">
        <div class="ps-dashboard-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="ad-page-title">Staff Tagging</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-top-wrapper">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <div class="add-btn">
                                <a [routerLink]="['/payroll/addnewstafftagging']" class="btn nh-btn-primary">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">  
                        <table class="table table-bordered table-striped table-food" [mfData]="processingfeeList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                   
                                    <th><mfDefaultSorter by="f043fidStaff">Staff Name</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f043fdepartment">Department Code</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f043faddress1">Address1</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f043fidEpf">EPF Category</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f043fidSocso">SOCSO Category</mfDefaultSorter></th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let indstafftagging of mf.data ">
                                   
                                    <td>{{indstafftagging.staff}}</td>
                                    <td>{{indstafftagging.f043fdepartment}}-{{indstafftagging.f015fdepartmentName}}</td>
                                    <td>{{indstafftagging.f043faddress1}}</td>
                                    <td>{{indstafftagging.socsoName}}</td>
                                    <td>{{indstafftagging.epfName}}</td>

                                    <td class="actions-col">
                                        <div class="nh-btn-group">
                                                <a routerLink="/payroll/editstafftagging/{{indstafftagging.f043fid}}">
                                            <button class="btn nh-btn-edit">
                                                
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                </a>
                                            
                                            <!-- <button class="btn nh-btn-remove">
                                                <i class="fas fa-trash-alt"></i>
                                            </button> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <td colspan="8">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                              </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>