<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Discount Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addDiscount()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Discount Type<span class="required-class">*</span></label>
                                        <input type="text" maxlength="25" class="form-control" name="f046fdiscountType"
                                            placeholder="Enter Discount Type " [(ngModel)]="discountData.f046fdiscountType" (blur)="checkDuplication()"
                                            required #discountype="ngModel">
                                        <span *ngIf=" discountype.errors && (discountype.dirty || discountype.touched || f.submitted)"
                                            class="form-errors">*Enter
                                            the Discount Type.</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Customer Type<span class="required-class">*</span></label>
                                        <ng-select [disabled]="viewDisabled" [items]="invoicetype | sort:'name'"
                                            bindLabel="name" bindValue="type" [(ngModel)]="discountData.f046fcustomerType"
                                            name="f046fcustomerType" #customer="ngModel" required>
                                        </ng-select>
                                        <span *ngIf="customer.errors && (customer.dirty || customer.touched || f.submitted)"
                                            class="form-errors">*Enter
                                            the Customer Type.</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Revenue Category<span class="required-class">*</span></label>
                                            <ng-select [items]="categoriesList | sort:'revenueName'" bindLabel="revenueName"
                                                bindValue="f073fid" [(ngModel)]="discountData.f046fidRevenueCategory" name="f046fidRevenueCategory"
                                                #revenuecategory="ngModel" (change)="getPrefixCode()" required>
                                            </ng-select>
                                            <span *ngIf=" revenuecategory.errors && (revenuecategory.dirty || revenuecategory.touched || f.submitted)"
                                                class="form-errors">*Enter Fee Item.</span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Revenue Code<span class="required-class">*</span></label>
                                    <ng-select [items]="codeList | sort:'f085fcode'" bindLabel="f085fcode" bindValue="f085fid"
                                        [(ngModel)]="discountData.f046fidRevenueCode" name="f046fidRevenueCode"
                                        (change)="getPrefixCode()" #revenuecode="ngModel" (change)="getPrefixCode()"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" revenuecode.errors && (revenuecode.dirty || revenuecode.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Code.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Discount Rate Type<span class="required-class">*</span></label>
                                    <br>
                                    <input type="radio" name="f046fdiscountRateType" [(ngModel)]="discountData.f046fdiscountRateType"
                                        [checked]="discountData.f046fdiscountRateType === '1'" [value]="1">
                                    Percentage(%)
                                    <br>
                                    <input type="radio" name="f046fdiscountRateType" [(ngModel)]="discountData.f046fdiscountRateType"
                                        [checked]="discountData.f046fdiscountRateType === '0'" [value]="0"> Amount(RM)
                                    <br>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Discount Rate<span class="required-class">*</span></label>
                                        <input maxlength="" class="form-control" name="f046fdiscountRate" placeholder="Enter Discount Rate"
                                            [(ngModel)]="discountData.f046fdiscountRate" (keypress)="onlyNumberKey($event)"
                                            value="" required #discountrate="ngModel">
                                        <span *ngIf=" discountrate.errors && (discountrate.dirty || discountrate.touched || f.submitted)"
                                            class="form-errors">*Enter
                                            the Discount Rate.</span>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fund <span class="required-class">*</span> </label>
                                    <ng-select [items]="fundList | sort:'f057fcode'" bindLabel="f057fname" bindValue="f057fcode"
                                        [(ngModel)]="discountData.f046ffund" name="f046ffund" #Fund="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" Fund.errors && (Fund.dirty || Fund.touched || f.submitted)" class="form-errors">*Select
                                        Fund</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Activity Code<span class="required-class">*</span> </label>
                                    <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" bindLabel="f058fname"
                                        bindValue="f058fcompleteCode" [(ngModel)]="discountData.f046factivity" name="f046factivity"
                                        #Activity="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Activity.errors && (Activity.dirty || Activity.touched || f.submitted)"
                                        class="form-errors">*Select Activity Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Department<span class="required-class">*</span> </label>
                                        <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                                            bindValue="f015fdepartmentCode" [(ngModel)]="discountData.f046fdepartment"
                                            name="f046fdepartment" #Department="ngModel" required>
                                        </ng-select>
                                        <span *ngIf=" Department.errors && (Department.dirty || Department.touched || f.submitted)"
                                            class="form-errors">*Select Department</span>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code <span class="required-class">*</span> </label>
                                    <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" bindLabel="f059fname"
                                        bindValue="f059fcompleteCode" [(ngModel)]="discountData.f046faccount" name="f046faccount"
                                        #Account="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Account.errors && (Account.dirty || Account.touched || f.submitted)"
                                        class="form-errors">*Select Account Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Minimum Outstanding<span class="required-class">*</span></label>
                                    <input maxlength="25" class="form-control" name="f046fminimumOutstanding"
                                        placeholder="Enter Minimum Outstanding" [(ngModel)]="discountData.f046fminimumOutstanding"
                                        value="" required #minimum="ngModel">
                                    <span *ngIf=" minimum.errors && (minimum.dirty || minimum.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Minimum Outstanding.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Outstanding as At<span class="required-class">*</span></label>
                                        <!-- <input type="date" class="form-control" name="f046foutstandingAs" [(ngModel)]="discountData.f046foutstandingAs"
                                            value="" #outstanding="ngModel" required> -->
                                        <ng-select [items]="datetype" bindLabel='name' bindValue='id' name="f046foutstandingAs"
                                            [(ngModel)]="discountData.f046foutstandingAs" required #outstanding="ngModel"></ng-select>
                                        <span *ngIf=" outstanding.errors && (outstanding.dirty || outstanding.touched || f.submitted)"
                                            class="form-errors">*Enter
                                            the Outstanding as At.</span>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Discount Generation Type <span class="required-class">*</span></label>
                                    <ng-select [items]="fdiscount|sort:'name'" bindLabel='name' bindValue='name' name="f046fdiscountGenerationType"
                                        [(ngModel)]="discountData.f046fdiscountGenerationType" required #discountgen="ngModel"></ng-select>
                                    <span *ngIf=" discountgen.errors && (discountgen.dirty || discountgen.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Discount Generation Type.</span>
                                </div>
                            </div>
                            <div class="col-sm-4" *ngIf="this.discountData['f046fdiscountGenerationType']=='Auto'">
                                <div class="form-group">
                                    <label>Discount Date Generation<span class="required-class">*</span></label>
                                    <input type="date" class="form-control" name="f046fdiscountGenerationDate"
                                        [(ngModel)]="discountData.f046fdiscountGenerationDate" #date="ngModel" required (change)="validateDate()">
                                    <span *ngIf=" date.errors && (date.dirty || date.touched || f.submitted)" class="form-errors">*Select
                                        Discount Date Generation.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="discountData.f046fstatus" [checked]="discountData.f046fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="discountData.f046fstatus" [checked]="discountData.f046fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/accountsrecivable/studentdiscount']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>