<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Student</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addStudent()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Metric Number<span class="required-class">*</span> </label>
                                    <input type="text" maxlength="25" class="form-control" name="Matric Number"
                                        placeholder="Enter Matric Number " [(ngModel)]="studentData.f060fmatricNumber"
                                        value="" required #metricnumber="ngModel">
                                    <span *ngIf=" metricnumber.errors && (metricnumber.dirty || metricnumber.touched || f.submitted)"
                                        class="form-errors">Enter Metric Number</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>IC Number<span class="required-class">*</span> </label>
                                    <input type="text" maxlength="25" class="form-control" name="IC Number" placeholder="Enter IC  Number "
                                        [(ngModel)]="studentData.f060ficNumber" value="" required #ic="ngModel">
                                    <span *ngIf=" ic.errors && (ic.dirty || ic.touched || f.submitted)" class="form-errors">Enter
                                        IC
                                        Number.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Student Name<span class="required-class">*</span> </label>
                                    <input type="text" maxlength="25" class="form-control" name="Name" placeholder="Enter Name "
                                        [(ngModel)]="studentData.f060fname" value="" required #name="ngModel">
                                    <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                                        Student
                                        Name
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Email </label>
                                    <input type="text" maxlength="25" class="form-control" name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                        placeholder="Enter Email " [(ngModel)]="studentData.f060femail" value="" #email="ngModel"
                                        required>
                                    <span *ngIf=" email.errors && (email.dirty || email.touched || f.submitted)" class="form-errors">Enter
                                        the
                                        Valid Email.</span>
                                </div>
                            </div>
                            <div class="col-sm-4" *ngIf="this.id==0">
                                <div class="form-group">
                                    <label>Password </label>
                                    <input type="password" maxlength="25" class="form-control" name="password"
                                        placeholder="Enter Password" [(ngModel)]="studentData.f060fpassword" #password="ngModel"
                                        required>
                                    <span *ngIf=" password.errors && (password.dirty || password.touched || f.submitted)"
                                        class="form-errors">Enter
                                        the Password.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Phone Number </label>
                                    <input type="text" maxlength="12" pattern="^\d{12}$" class="form-control" name="f060fphoneNumber"
                                        (keypress)="onlyNumberKey($event)" placeholder="Enter Phone Number "
                                        [(ngModel)]="studentData.f060fphoneNumber" #phone="ngModel" required>
                                    <span *ngIf=" phone.errors && (phone.dirty || phone.touched || f.submitted)" class="form-errors">Enter
                                        the Phone
                                        Number.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Address </label>
                                    <input type="text" maxlength="100" class="form-control" name="address" placeholder="Enter Address "
                                        [(ngModel)]="studentData.f060faddress" value="" #address="ngModel" required>
                                    <span *ngIf=" address.errors && (address.dirty || address.touched || f.submitted)"
                                        class="form-errors">Enter
                                        the Address.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Country<span class="required-class">*</span></label>
                                    <ng-select [disabled]="viewDisabled" [items]="countryList" bindLabel="f013fcountryName"
                                        bindValue="f013fid" [(ngModel)]="studentData.f060fcountry" (change)="onCountryChange()"
                                        name="f060fcountry" #country="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" country.errors && (country.dirty || country.touched || f.submitted)"
                                        class="form-errors">Select
                                        Country.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>State<span class="required-class">*</span></label>
                                    <ng-select [disabled]="viewDisabled" [items]="stateList " bindLabel="f012fstateName"
                                        bindValue="f012fid" [(ngModel)]="studentData.f060fstate" name="f060fstate"
                                        #state="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" state.errors && (state.dirty || state.touched || f.submitted)" class="form-errors">Select
                                        State.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>City </label>
                                    <input type="text" maxlength="50" class="form-control" name="city" placeholder="Enter city "
                                        [(ngModel)]="studentData.f060fcity" #city="ngModel" required>
                                    <span *ngIf=" city.errors && (city.dirty || city.touched || f.submitted)" class="form-errors">Enter
                                        the
                                        City.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Gender </label>
                                    <ng-select [disabled]="viewDisabled" [items]="genderList " bindLabel="name"
                                        bindValue="value" [(ngModel)]="studentData.f060fgender" name="f060fgender"
                                        #gender="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" gender.errors && (gender.dirty || gender.touched || f.submitted)"
                                        class="form-errors">Select
                                        Gender.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Citizen<span class="required-class">*</span></label>
                                    <ng-select [items]="citizenList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                                        bindValue="f011fid" [(ngModel)]="studentData.f060fcitizen" name="f060fcitizen"
                                        #citizen="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" citizen.errors && (citizen.dirty || citizen.touched || f.submitted)"
                                        class="form-errors">Select
                                        Citizen.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Graduation Type<span class="required-class">*</span></label>
                                    <ng-select [items]="graduationType | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                                        bindValue="f011fdefinitionCode" [(ngModel)]="studentData.f060ftype" name="f060ftype"
                                        (change)="getViewData()" #gt="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" gt.errors && (gt.dirty || gt.touched || f.submitted)" class="form-errors">Select
                                        Graduation Type.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Programme</label>
                                    <ng-select [items]="programmeList | sort:'originalName'" bindLabel="originalName"
                                        bindValue="f068fcode" [(ngModel)]="studentData.f060fprogramCode" name="f060fprogramCode"
                                        #programme="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" programme.errors && (programme.dirty || programme.touched || f.submitted)"
                                        class="form-errors">Select
                                        Programme.</span>
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Program Code </label>
                                    <input type="text" maxlength="50" class="form-control" name="intake" placeholder="Enter Program Code "[(ngModel)]="studentData.intake" value="" >
                                </div>
                            </div> -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Intake </label>
                                    <ng-select [items]="intakeList | sort:'f067fname'" bindLabel="f067fname" bindValue="f067fname"
                                        [(ngModel)]="studentData.f060fidIntake" name="f060fidIntake" #intake="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" intake.errors && (intake.dirty || intake.touched || f.submitted)"
                                        class="form-errors">Select
                                        Intake.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Region<span class="required-class">*</span></label>
                                    <ng-select [items]="regionList | sort:'f016keterangan'" bindLabel="f016keterangan"
                                        bindValue="f016kdwarga" [(ngModel)]="studentData.f060fregion" name="f060fregion"
                                        #region="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" region.errors && (region.dirty || region.touched || f.submitted)"
                                        class="form-errors">Select
                                        Region.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Semester </label>
                                    <ng-select [items]="semesterList | sort:'originalName'" bindLabel="originalName"
                                        bindValue="f053fcode" [(ngModel)]="studentData.f060fidSemester" name="f060fidSemester"
                                        #sem="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" sem.errors && (sem.dirty || sem.touched || f.submitted)" class="form-errors">Select
                                        Semester.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Student Category<span class="required-class">*</span></label>
                                    <ng-select [items]="studentCategoryList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                                        bindValue="f011fid" [(ngModel)]="studentData.f060fstudentCategory" name="f060fstudentCategory"
                                        #category="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" category.errors && (category.dirty || category.touched || f.submitted)"
                                        class="form-errors">Select
                                        Student Category.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Mode Of Study<span class="required-class">*</span></label>
                                    <ng-select [items]="modeOfStudyList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                                        bindValue="f011fid" [(ngModel)]="studentData.f060fstudyMode" name="f060fstudyMode"
                                        #mode="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" mode.errors && (mode.dirty || mode.touched || f.submitted)" class="form-errors">Select
                                        Mode of Study.</span>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department<span class="required-class">*</span></label>
                                    <ng-select [items]="deptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="studentData.f060fdepartment"
                                        name="f060fdepartment" #dept="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                                        Department</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="studentData.f060fstatus" [checked]="studentData.f060fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="studentData.f060fstatus" [checked]="studentData.f060fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/studentfinance/student']" class="btn nh-btn-secondary">Back</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>