<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">SmartPhone Loan</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <div class="add-btn">
                            <a [routerLink]="['/loan/addnewsmartloan']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="smartloanList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th><mfDefaultSorter by="f043fmodel">Model</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="vendor">Vendor</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="insuranceComp">Customer</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f043floanEntitlement">Loan Entitlement</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f043fpurchasePrice">Purchase Price</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f043floanAmount">Loan Amount</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f043finstallmentPeriod">Installement Period</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="empId">Staff</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f043freference">Reference</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="firstGuarantor">First Guarrantor</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f043fstatus">Status</mfDefaultSorter></th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indsmartloan of mf.data ">

                                <td>{{indsmartloan.f043fmodel}}</td>
                                <td>{{indsmartloan.vendor}}</td>
                                <td>{{indsmartloan.insuranceComp}}</td>
                                <td>{{indsmartloan.f043floanEntitlement}}</td>
                                <td>{{indsmartloan.f043fpurchasePrice | number: '.2'}}</td>
                                <td>{{indsmartloan.f043floanAmount | number: '.2'}}</td>
                                <td>{{indsmartloan.f043finstallmentPeriod}}</td>
                                <td>{{indsmartloan.empId}}</td>
                                <td>{{indsmartloan.f043freference}}</td>
                                <td>{{indsmartloan.firstGuarantor}}</td>
                                <td>{{indsmartloan.f043fstatus === '1'?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/editsmartloan/{{indsmartloan.f043fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="12">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>