<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Cash Book</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="journalmonthlysummaryList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>Reference Number</th>
                <th>Cash In Amount (RM)</th>
                <th>Cash Out Amount (RM)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cashindata of mf.data">
                <td>{{cashindata.f018freferenceNumber}}</td>
                <td class="amountAlign">{{cashindata.f018fcrAmount | number: '.2'}}</td>
                <td class="amountAlign">{{cashindata.f018fdrAmount | number: '.2'}}</td>
              </tr>
            </tbody>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>