<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Cost Center</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addDepartment()" #f="ngForm" name="form" novalidate>

                        <div class="row">


                            <!-- <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Code<span class="required-class">*</span> </label>
                                        <input type="text" minlength="5" maxlength="5" class="form-control" name="code" placeholder="Enter Code" [(ngModel)]="deptData.f015fdepartmentCode"
                                            value="" required #deptcode="ngModel" (keypress)="onlyNumberKey($event)">
                                        <span *ngIf="deptcode.errors && (deptcode.dirty || deptcode.touched || f.submitted)" class="form-errors">*Enter
                                            the Code should be 5 characters long</span>
                                    </div>
                                </div> -->

                           
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cost Center Code<span class="required-class">*</span> </label>
                                    <input type="text" minlength="3" maxlength="3" class="form-control" name="f015fdeptCode" placeholder="Enter Cost Center Code" 
                                    [(ngModel)]="deptData.f015fdeptCode" (keypress)="onlyNumberKey($event)" value="" required #cost="ngModel">
                                    <span *ngIf=" cost.errors && (cost.dirty || cost.touched || f.submitted)" 
                                     class="form-errors">*Enter the Cost Center Code should be 3 digits.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Unit Code<span class="required-class">*</span></label>
                                        <input type="text" minlength="2" maxlength="2" class="form-control" name="f015funit" placeholder="Enter Unit Code"
                                        [(ngModel)]="deptData.f015funit" (keypress)="onlyNumberKey($event)" value="" required #unit="ngModel">
                                    <span *ngIf="unit.errors && (unit.dirty || unit.touched || f.submitted)" class="form-errors">*Enter
                                        the Unit Code should be 2 digits</span>
                                        <!-- <select class="form-control" [(ngModel)]="deptData.f015fdeptCode" name="f015fdeptCode"
                                            value="" required #deptcd="ngModel">
                                            <option value=''>--Select-- </option>
                                            <option *ngFor="let indDept of departmentCodes" [value]="indDept.f015fdepartmentCode">{{indDept.f015fdepartmentCode}}
                                                - {{indDept.f015fdepartmentName}}
                                            </option>
                                        </select> -->
                                        <!-- <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'departmentName'"
                                            bindLabel="originalName" bindValue="f051fdepartment" [(ngModel)]="deptData.f015fdeptCode" name="f015fdeptCode" #deptcd="ngModel" required>
                                        </ng-select>
                                        <span *ngIf="deptcd.errors && (deptcd.dirty || deptcd.touched || f.submitted)"
                                            class="form-errors">*Select Cost Center</span> -->
                                    </div>
                                </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Description<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="Department name"
                                        placeholder="Enter Description" [(ngModel)]="deptData.f015fdepartmentName"
                                        value="" required #department="ngModel">
                                    <span *ngIf="department.errors && (department.dirty || department.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter the Description.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="deptData.f015fstatus" [checked]="deptData.f015fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="deptData.f015fstatus" [checked]="deptData.f015fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/generalsetup/department']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>