<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">GRN</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="table-top-wrapper">
            <div class="input-group um-search-wrapper">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="add-btn">
          <p class="text-right">
            <a [routerLink]="['/procurement/addnewgrn']" class="btn nh-btn-primary">Add</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="grnList | filter : searchText " #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f034forderType">Order Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034freferenceNumber">Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034forderDate">Order Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034fidDepartment">Department</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="vendor">Vendor</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="budgetYear">Financial Year</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034fapprovalStatus">Status</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indgrn of  mf.data">
                <td>{{indgrn.f034forderType}}</td>
                <td>{{indgrn.f034freferenceNumber}}</td>
                <td>{{indgrn.f034forderDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indgrn.f034fidDepartment}}-{{indgrn.f015fdepartmentName }}</td>
                <td>{{indgrn.vendorName}}-{{indgrn.vendorCode}}</td>
                <td>{{indgrn.budgetYear}}</td>
                <td>{{indgrn.f034fapprovalStatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/procurement/editgrn/{{indgrn.f034fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indgrn.f034fapprovalStatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indgrn.f034fapprovalStatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indgrn.f034fapprovalStatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>