<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid"
      style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;padding-bottom: 100px;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Budget Virement</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Budget Virement Approval</h1>
        </div>
      </div>
      <div class="col-sm-12">
        <form (ngSubmit)="f.form.valid " #f="ngForm" name="form" novalidate id="target">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Virement Type<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="varimenttype | sort:'name'" bindLabel="name"
                  bindValue="id" [(ngModel)]="budgetvirementDataheader.f056fverimentType" name="f056fverimentType" (change)="showDetails = 0">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount(RM)<span class="required-class">*</span></label>
                <input type="text" maxlength="10" class="form-control amountAlign"
                  [(ngModel)]="budgetvirementDataheader.f056ftotalAmount" name="f056ftotalAmount"
                  (keypress)="onlyNumberKey($event)" placeholder="Enter Amount(RM)">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description<span class="required-class">*</span></label>
                <input type="text" maxlength="150" class="form-control"
                  [(ngModel)]="budgetvirementDataheader.f056freason" name="f056freason" placeholder="Enter Description">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="showDetails == 0">
            <div class="col-sm-12">
              <h1 class="ad-page-title" *ngIf="budgetvirementDataheader.f056fverimentType==1">From Cost Center</h1>
              <h1 class="ad-page-title" *ngIf="budgetvirementDataheader.f056fverimentType==2">To Cost Center</h1>
            </div>
          </div>
          <div class="row" *ngIf="showDetails == 0">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Budget Year<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="finantialyearList | sort:'f110fyear'"
                  bindLabel="f110fyear" bindValue="f110fid" [(ngModel)]="budgetvirementDataheader.f056fidFinancialYear"
                  name="f056fidFinancialYear" (change)="getGlList()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Fund<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="costCenterFund | sort:'f057fcode'"
                  bindLabel="originalName" bindValue="f057fcode"
                  [(ngModel)]="budgetvirementDataheader.f056ffromFundCode" (change)="getTransferrableFunds()"
                  name="f056ffromFundCode">
                </ng-select>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Activity Code<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'originalName'"
                  bindLabel="originalName" bindValue="f058fcompleteCode"
                  [(ngModel)]="budgetvirementDataheader.f056ffromActivityCode" name="f056ffromActivityCode">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="showDetails == 0">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Cost Center<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'f015fdepartmentCode'"
                  bindLabel="originalName" bindValue="f054fdepartmentCode"
                  [(ngModel)]="budgetvirementDataheader.f056ffromDepartment" name="f056ffromDepartment"
                  (change)="getAmount()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Account Code<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'f059fcompleteCode'"
                  bindLabel="originalName" bindValue="f059fcompleteCode"
                  [(ngModel)]="budgetvirementDataheader.f056ffromAccountCode" name="f056ffromAccountCode"
                  (change)="getAmount()">
                </ng-select>
              </div>
            </div>
          </div>
        </form>
        <div id="overlay1"></div>
        <div id="myModal" class=" fade in" role="dialog"  *ngIf="showDetails == 0">
          <!-- <div class="modal-dialog"> -->
          <!-- Modal content-->
          <div class="modal-content">
            <p class="maximize-icon">
              <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
            </p>
            <p class="minimize-icon hidden">
              <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
            </p>
            <div class="modal-body">
              <div class="row" class="table-responsive credit-note-table-wrapper">
                <div class="col-sm-12">
                  <h1 class="ad-page-title" *ngIf="budgetvirementDataheader.f056fverimentType==2">From Cost Center</h1>
                  <h1 class="ad-page-title" *ngIf="budgetvirementDataheader.f056fverimentType==1">To Cost Center</h1>
                </div>
                <table class="table table-bordered table-striped table-food" id="target1">
                  <thead>
                    <tr>
                      <th>Budget Year</th>
                      <th>Fund</th>
                      <th>Activity Code</th>
                      <th>Cost Center</th>
                      <th>Account Code</th>
                      <th>Amount (RM)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indbudgetvirement of newbudgetvirementList; let i = index;last as isLast">
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="finantialyearList | sort:'f110fyear'"
                          bindLabel="f110fyear" bindValue="f110fid"
                          [(ngModel)]="newbudgetvirementList[i].f056ftoIdFinancialYear" name="f056ftoIdFinancialYear">
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="transferfundList"
                          style="width: 150px;" bindLabel="Fund" bindValue="fundCode"
                          [(ngModel)]="newbudgetvirementList[i].f056ftoFundCode" name="f056ftoFundCode">
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'originalname'"
                          style="width: 150px;" bindLabel="originalName" bindValue="f058fcompleteCode"
                          [(ngModel)]="newbudgetvirementList[i].f056ftoActivityCode" name="f056ftoActivityCode">
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'f015fdepartmentCode'"
                          style="width: 150px;" bindLabel="originalName" bindValue="f054fdepartmentCode"
                          [(ngModel)]="newbudgetvirementList[i].f056ftoDepartmentCode" name="f056ftoDepartmentCode">
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'f059fcompleteCode'"
                          style="width: 150px;" bindLabel="originalName" bindValue="f059fcompleteCode"
                          [(ngModel)]="newbudgetvirementList[i].f056ftoAccountCode" name="f056ftoAccountCode">
                        </ng-select>
                      </td>
                      <td>
                        <input type="text" readonly="readonly" maxlength="10" class="form-control amountAlign"
                          [(ngModel)]="newbudgetvirementList[i].f056famount" name="f056famount"
                          placeholder="Enter Amount" (keypress)="onlyNumberKey($event)">
                      </td>
                      <td *ngIf="!isLast">
                        <button class="btn nh-btn-primary" type="button"
                          (click)='deletebudgetvirement(newbudgetvirementList[i])' *ngIf="viewDisabled==false">
                          <i class="fa fa-minus"></i>
                        </button>
                      </td>
                      <td *ngIf="isLast">
                        <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button"
                          (click)='deletebudgetvirement(newbudgetvirementList[i])'>
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button"
                          (click)='showNewRow()'>
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngIf="showLastRow==false">
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="finantialyearList | sort:'f110fyear'"
                          bindLabel="f110fyear" bindValue="f110fid"
                          [(ngModel)]="budgetvirementData.f056ftoIdFinancialYear" name="f056ftoIdFinancialYear">
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="transferfundList" style="width: 150px;"
                          bindLabel="Fund" bindValue="fundCode" [(ngModel)]="budgetvirementData.f056ftoFundCode"
                          name="f056ftoFundCode">
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'originalname'"
                          style="width: 150px;" bindLabel="originalName" bindValue="f058fcompleteCode"
                          [(ngModel)]="budgetvirementData.f056ftoActivityCode" name="f056ftoActivityCode">
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'f015fdepartmentCode'"
                          style="width: 150px;" bindLabel="originalName" bindValue="f015fdepartmentCode"
                          [(ngModel)]="budgetvirementData.f056ftoDepartmentCode" name="f056ftoDepartmentCode">
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'f059fcompleteCode'"
                          style="width: 150px;" bindLabel="originalName" bindValue="f059fcompleteCode"
                          [(ngModel)]="budgetvirementData.f056ftoAccountCode" name="f056ftoAccountCode">
                        </ng-select>
                      </td>
                      <td>
                        <input type="text" maxlength="10" class="form-control amountAlign"
                          [(ngModel)]="budgetvirementData.f056famount" name="f056famount" placeholder="Enter Amount"
                          (keypress)="onlyNumberKey($event)">
                      </td>
                      <td>
                        <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button"
                          (click)='deletemodule()'>
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button"
                          (click)='addBudgetvirement()'>
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-13">
            <p class="text-right">
              <a [routerLink]="['/budget/budgetvirement']" class="btn nh-btn-secondary" *ngIf="idview!=2">Cancel</a>
              <a [routerLink]="['/budget/budgetvirementapproval']" class="btn nh-btn-secondary"
                *ngIf="idview==2">Cancel</a>
              <button type="submit" (click)='saveBudgetviremnt()' class="btn nh-btn-primary"
                *ngIf="viewDisabled==false">Save</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>