<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Matrix</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetyearList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th></th>
                                 <th *ngFor="let fund of fundList; let j = index;">
                                            {{fund.f057fcode}}
                                 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fund of fundList; let i = index;">
                                    {{fund.f057fcode}}
                                <td *ngFor="let fund1 of fundList; let j = index;">
                                   <input type="checkbox" [(ngModel)]="matrixList[i][j].f141fstatus" name="f141fstatus" [checked]="matrixList[i][j].f141fstatus == 1" value="1">
                                </td>
                                <!-- <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/editbudgetyear/{{indyear.f110fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <button type="submit" (click)='save()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>