<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Role to User</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Role Name<span class="required-class">*</span></label>
                                    <ng-select [items]="roleList|sort:'f021froleName'" bindLabel="f021froleName"
                                        bindValue="f021fid" [(ngModel)]="RoletoUserDataheader.f023fidRole" name="f023fidRole" #rolename="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="rolename.errors && (rolename.dirty || rolename.touched || f.submitted)" class="form-errors">*Select
                                        Role Name </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Name<span class="required-class">*</span></label>
                                    <ng-select [items]="StaffList" bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="RoletoUserDataheader.f023fidUser" name="f023fidUser" [multiple]="true" [closeOnSelect]="false"
                                        [selectableGroup]="true"  #staffname="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="staffname.errors && (staffname.dirty || staffname.touched || f.submitted)" class="form-errors">*Select
                                        Staff Name </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div [className]="'active'"></div>
                                        <label>Status</label>
                                        <br>
                                        <input type="radio" name="f023fstatus" [(ngModel)]="RoletoUserDataheader.f023fstatus"
                                            [checked]="RoletoUserDataheader.f023fstatus === '1'" [value]="1"> Active
                                        <br>
                                        <input type="radio" name="f023fstatus" [(ngModel)]="RoletoUserDataheader.f023fstatus"
                                            [checked]="RoletoUserDataheader.f023fstatus === '0'" [value]="0"> Inactive
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/generalsetup/roletouser" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)="addRolestoUser()" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>