<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Withdraw Application</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/investment/addwithdrawletter']" class="btn nh-btn-primary">Add
                  </a>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="withdrawletterList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th><mfDefaultSorter by="f064freferenceNumber">Application Id</mfDefaultSorter></th>
                <th><mfDefaultSorter by="application">Description</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f064fsum">Investment Amount (RM)</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f064fsum">Investment Bank</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f064fsum">UUM Bank</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f064fsum">Status</mfDefaultSorter></th>

               
                <!-- <th>Withdraw </th> -->

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indwithdrawletter of mf.data">
                <td>{{indwithdrawletter.f064freferenceNumber}}</td>
                <td>{{indwithdrawletter.application}}</td>
                <td class="amountAlign">{{indwithdrawletter.f064fsum | number: '.2'}}</td>
                <td>{{indwithdrawletter.investmentBank}}</td>
                <td>{{indwithdrawletter.uumBank}}</td>
                <td>{{indwithdrawletter.finalStatus}}</td>

              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>

          </table>
         
        </div>
      </div>
    </div>
  </div>
</div>
