<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Credit Card Terminal</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCreditcardterminal()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Terminal Number<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f049fterminalNo"
                                        placeholder="Enter Terminal Number" [(ngModel)]="creditterminalData.f049fterminalNo"
                                        value="" required #name="ngModel">
                                    <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                                        the Terminal Number</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department </label>
                                    <ng-select [items]="deptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="creditterminalData.f049fidDepartment"
                                        name="f049fidDepartment" #dept="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                                        Department</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Bank<span class="required-class">*</span></label>
                                    <ng-select [items]="bankList | sort:'f042fbankName'" bindLabel="f042fbankName"
                                        bindValue="f042fid" [(ngModel)]="creditterminalData.f049fbank" name="f049fbank"
                                        #bank="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="bank.errors && (bank.dirty || bank.touched || f.submitted)" class="form-errors">*Select
                                        Bank </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Bank Card Type<span class="required-class">*</span></label>
                                    <input type="text" maxlength="25" class="form-control" name="f049fbankCardType"
                                        placeholder="Enter Bank Card Type " [(ngModel)]="creditterminalData.f049fbankCardType"
                                        value="" required #Bank="ngModel">
                                    <span *ngIf=" Bank.errors && (Bank.dirty || Bank.touched || f.submitted)" class="form-errors">*Enter
                                        the Bank Card Type</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="creditterminalData.f049fstatus"
                                        [checked]="creditterminalData.f049fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="creditterminalData.f049fstatus"
                                        [checked]="creditterminalData.f049fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/studentfinance/creditcardterminal']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>