<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">{{this.title}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <!-- <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button> -->
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- <table class="table table-bordered table-striped table-food"> -->
                    <table class="table table-bordered table-striped table-food" [mfData]="paymentvoucherapprovalList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>

                               
                                <th>
                                    <mfDefaultSorter by="f093fvoucherNo">Voucher Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="paymentType">Payment Type</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="Name">Customer</mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter by="f093fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="PaymentMode"> Payment Mode</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="totalAmount">Amount(RM)</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="f093fapprovalStatus">Approve/Reject</mfDefaultSorter>
                                </th> -->
                                <th>Approve/Reject</th>

                                <th>View</th>
                                <!-- <th>Voucher Number</th>
                                <th>Payment Type </th>
                                <th>Customer</th>
                                <th>Description</th>
                                <th>Payment Mode</th>
                                <th>Payment Reference Number</th> -->
                                <!-- <th>Status</th> -->
                                <!-- <th>Approve</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indpaymentvoucherapproval of mf.data">
                                <td>{{indpaymentvoucherapproval.f093fvoucherNo}}</td>
                                <td>{{indpaymentvoucherapproval.paymentType}}</td>
                                <!-- <td>{{indpaymentvoucherapproval.Name}}</td> -->
                                <td>{{indpaymentvoucherapproval.f093fdescription}}</td>
                                <td>{{indpaymentvoucherapproval.PaymentMode}}</td>
                                <td class="amountAlign">{{indpaymentvoucherapproval.totalAmount | number: '.2' }}</td>


                                <!-- <td>{{indpaymentvoucherapproval.f093fstatus === 1?'Approved':'Not Approved'}}</td> -->
                                <td>
                                    <input type="checkbox" [(ngModel)]="indpaymentvoucherapproval.f093fapprovalStatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountspayable/viewpaymentvoucher/{{indpaymentvoucherapproval.f093fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="paymentvoucherapprovalData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='paymentvoucherapprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectpaymentApprovalListData()' class="btn nh-btn-primary">Reject</button>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>