<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Bulk Tagging</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Sponser </label>
                                <ng-select [items]="sponsorList | sort:'Name'" bindLabel="Name" bindValue="f063fid"
                                    [(ngModel)]="bulksponsorData.sponsor" name="sponsor" #fund="ngModel" required>
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Intake</label>
                                <ng-select [items]="intakeList | sort:'f067fname'" bindLabel="f067fname" bindValue="f067fid"
                                    [(ngModel)]="bulksponsorData.intake" name="intake" #fund="ngModel" required>
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Programme</label>
                                <ng-select [items]="programmeList | sort:'f068fname'" bindLabel="f068fname" bindValue="f068fid"
                                    [(ngModel)]="bulksponsorData.program" name="program" #fund="ngModel" required>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p class="text-right">
                                    <a (click)="getList()" class="btn nh-btn-primary">Search</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-food" [mfData]="bulksponsorList | filter : searchText"
                                #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <mfDefaultSorter by="sponsor">Student Name</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="program">Programme</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="f060fidIntake">Intake</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="f060fidSemester">Semester</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="f060femail">Email</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="f060fphoneNumber">Phone</mfDefaultSorter>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let indbulksponsor of mf.data ">
                                        <td><input type="checkbox" [(ngModel)]="indbulksponsor.selectedStudents"></td>
                                        <td>{{indbulksponsor.f060fid}}</td>
                                        <td>{{indbulksponsor.program}}</td>
                                        <td>{{indbulksponsor.f060fidIntake}}</td>
                                        <td>{{indbulksponsor.f060fidSemester}}</td>
                                        <td>{{indbulksponsor.f060femail}}</td>
                                        <td>{{indbulksponsor.f060fphoneNumber}}</td>
                                    </tr>
                                </tbody>
                                <td colspan="8">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </table>
                        </div>
                    </div>
                    <div class="row" *ngIf="id == ''">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" class="btn um-btn-primary mar-l-20" (click)="sendtheStudentSponsorDetails()">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>