<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Reinvestment</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addInvestmentinstitution()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Investment Registration Number </label>
                  <ng-select [items]="registrationList | sort:'f064freferenceNumber'" bindLabel="f064freferenceNumber" bindValue="f064fid"
                    [(ngModel)]="investmentregistrationDataObject.investRegId" (change)="getInvestmentRegDetails()"
                    name="investRegId">
                  </ng-select>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Investment Number</label>
                <input type="text" readonly="readonly" class="form-control" name="f064freferenceNumber" [(ngModel)]="investmentregistrationData.f064freferenceNumber"
                  value="">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Rate Of Interest</label>
                <input type="text" readonly="readonly" maxlength="13" class="form-control" name="f064frateOfInterest"
                  [(ngModel)]="investmentregistrationData.f064frateOfInterest" value="">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Interest To Bank</label>
                <input type="text" readonly="readonly" class="form-control" name="f064finterstToBank" [(ngModel)]="investmentregistrationData.f064finterstToBank"
                  value="">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Interest Day</label>
                <input type="text" readonly="readonly" class="form-control" name="f064finterestDay" [(ngModel)]="investmentregistrationData.f064finterestDay"
                  value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Contact Person One </label>
                <input type="text" readonly="readonly" maxlength="50" class="form-control" name="f064fcontactPerson"
                  [(ngModel)]="investmentregistrationData.f064fcontactPerson" value="">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Contact Person Two</label>
                <input type="text" readonly="readonly" maxlength="50" class="form-control" name="f064fcontactPerson2"
                  [(ngModel)]="investmentregistrationData.f064fcontactPerson2" value="">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Contact Email One</label>
                <input type="text" maxlength="50" readonly="readonly" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                  name="f064fcontactEmail" [(ngModel)]="investmentregistrationData.f064fcontactEmail" value="">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Contact Email Two</label>
                <input type="text" maxlength="50" readonly="readonly" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                  name="f064fcontactEmail2" [(ngModel)]="investmentregistrationData.f064fcontactEmail2" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Investment Status</label>
                <ng-select [items]="investmentstatusList" [disabled]="true" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                  [(ngModel)]="investmentregistrationData.f064finvestmentStatus" name="f064finvestmentStatus" #Status="ngModel"
                  required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>UUM Bank</label>
                <ng-select [items]="banksetupaccountList" [disabled]="true" bindLabel="Bank" bindValue="f041fid"
                  [(ngModel)]="investmentregistrationData.f064fuumBank" name="f064fuumBank">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label> Application</label>
                <ng-select [disabled]="true" [items]="investmentapplicationList" bindLabel="f063fapplication_id"
                  bindValue="f063fid" [(ngModel)]="investmentregistrationData.f064fidApplication" name="f064fidApplication">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Investment Bank</label>
                <ng-select [disabled]="true" [items]="bankList" bindLabel="f042fbankName" bindValue="f042fid"
                  [(ngModel)]="investmentregistrationData.f064finvestmentBank" name="f064finvestmentBank">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Fund  </label>
                <ng-select [items]="fundList" [disabled]="true" bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="investmentregistrationData.f064ffundCode"
                  name="f064ffundCode" value="">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Activity Code  </label>
                <ng-select [items]="activitycodeList" [disabled]="true" bindLabel="f058fname" bindValue="f058fcompleteCode"
                  [(ngModel)]="investmentregistrationData.f064factivityCode" name="f064factivityCode" value="">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Cost Center </label>
                <ng-select [items]="DeptList" [disabled]="true" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                  [(ngModel)]="investmentregistrationData.f064fdepartmentCode" name="f064fdepartmentCode" value="">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Account Code </label>
                <ng-select [items]="accountcodeList" [disabled]="true" bindLabel="accountName" bindValue="f095faccountCode"
                  [(ngModel)]="investmentregistrationData.f064faccountCode" name="f064faccountCode" value="">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Previous Status</label>
                <ng-select [items]="investmentstatusList" [disabled]="true" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                  [(ngModel)]="investmentregistrationData.f064fpreviousStatus" name="f064fpreviousStatus" #invsetstatus="ngModel"
                  required>
                </ng-select>
              </div>
            </div>
          </div>
          <div>
            <h3> Provide Details </h3>
            <hr>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Certificate Number<span class="required-class">*</span></label>
                <input type="text" maxlength="50" class="form-control" name="f064fname" [(ngModel)]="investmentregistrationData.f064fname"
                  required>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Amount (RM)</label>
                <input type="text" disabled="disabled" class="form-control" maxlength="15" (keypress)="onlyNumberKey($event)"
                  style="text-align: right" name="f064fsum" placeholder="Amount(RM)" [(ngModel)]="investmentregistrationData.f064fsum"
                  value="">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Effective Date<span class="required-class">*</span></label>
                <input type="date" class="form-control" name="f064feffectiveDate" [(ngModel)]="investmentregistrationData.f064feffectiveDate"
                  required>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Maturity Date<span class="required-class">*</span></label>
                <input type="date" class="form-control" (change)="dateCompare()" name="f064fmaturityDate" [(ngModel)]="investmentregistrationData.f064fmaturityDate"
                  required>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Letter of Approval</label>
                <input type="file" class="form-control" name="file" [(ngModel)]="investmentregistrationData.file"
                  required #file="ngModel" (change)="fileSelected($event)" accept=".pdf">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <a [routerLink]="" (click)="fileView()">View File</a>
            </div>
          </div>
          <div class="col-sm-12">
            <p class="text-right">
              <button type="submit" (click)='ReinvestListData()' class="btn nh-btn-primary">Reinvest</button>
              <a [routerLink]="['/investment/reinvestment']" class="btn nh-btn-secondary">Cancel</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>