<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Shortlist Vendors</h1>
        </div>
      </div>
      <form>

      <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Tender Number<span class="required-class">*</span></label>
                <input type="text" maxlength="50" class="form-control" name="" placeholder="Enter Tender Number"
                  [(ngModel)]="specData.f027fcategoryName" value="" required #number="ngModel">
                <span *ngIf="number.errors && (number.dirty || number.touched || f.submitted )" class="form-errors">*Enter
                  the Tender Number</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Title<span class="required-class">*</span></label>
                <input type="text" maxlength="50" class="form-control" name="" placeholder="Enter Title" [(ngModel)]="specData.f027fcategoryName"
                  value="" required #title="ngModel">
                <span *ngIf="title.errors && (title.dirty || title.touched || f.submitted )" class="form-errors">*Enter
                  the Title</span>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food">
            <thead>
              <tr align="center">
                <th>Vendor Name</th>
                <th>Amount Quoted</th>
                <th>Applied</th>
                <th>Shortlisted</th>
                <th>Finalised</th>

                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indspec of specList; let i = index; trackBy:indexTracker">
                <td>
                  <input type="text" maxlength="10" class="form-control" [(ngModel)]="specList[i].f016fdrAmount" value=""
                    (blur)="onBlurMethod()">
                </td>
                <td>
                  <input type="text" maxlength="10" class="form-control" [(ngModel)]="specList[i].f016fdrAmount" value=""
                    (blur)="onBlurMethod()">
                </td>
                
                <td>
                  <input type="text" maxlength="10" class="form-control" [(ngModel)]="specList[i].f016fdrAmount" value=""
                    (blur)="onBlurMethod()">
                </td>
                <td>
                  <input type="checkbox" maxlength="10" class="form-control" [(ngModel)]="specList[i].f016fdrAmount" >
                </td>
                <td>
                  <input type="checkbox" maxlength="10" class="form-control" [(ngModel)]="specList[i].f016fdrAmount" >
                </td>
                <td>
                  <input type="checkbox" maxlength="10" class="form-control" [(ngModel)]="specList[i].f016fdrAmount" >
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" maxlength="10" class="form-control" name="Debit" placeholder="Enter Spec Code"
                    [(ngModel)]="specData.one" value="Vendor 1" required></td>
                <td>
                  <input type="text" maxlength="10" class="form-control" name="Debit" placeholder="Enter Description"
                    [(ngModel)]="specData.two" value="12345" required>
                </td>
                <td>
                  <input type="checkbox" maxlength="10"  [(ngModel)]="specList[i].f016fdrAmount" >
                </td>
                <td>
                  <input type="checkbox" maxlength="10" [(ngModel)]="specList[i].f016fdrAmount" >
                </td>
                <td>
                  <input type="checkbox" maxlength="10"  [(ngModel)]="specList[i].f016fdrAmount" >
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" maxlength="10" class="form-control" name="Debit" placeholder="Enter Spec Code"
                    [(ngModel)]="specData.three" value="Vendor 2" required></td>
                <td>
                  <input type="text" maxlength="10" class="form-control" name="Debit" placeholder="Enter Description"
                    [(ngModel)]="specData.f016fdrAmount" value="12000" required>
                </td>
                <td>
                  <input type="checkbox" maxlength="10"  [(ngModel)]="specList[i].f016fdrAmount" >
                </td>
                <td>
                  <input type="checkbox" maxlength="10" [(ngModel)]="specList[i].f016fdrAmount" >
                </td>
                <td>
                  <input type="checkbox" maxlength="10"  [(ngModel)]="specList[i].f016fdrAmount" >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </form>
    </div>

    <div>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-right">
            <a routerLink="/procurement/tenderquotation" class="btn nh-btn-secondary">Cancel</a>
            <button type="submit" (click)='saveData()' class="btn nh-btn-primary">Save</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
