/*-->
CUSTOM FONTS
<--*/

/* @import "../ng-select/themes/default.theme.css"; */
/* @import "../../../node_modules/@ng-select/ng-select/themes/default.theme.css"; */
body{font-size: 14px; color: #484646;font-family: 'Arial';
    /* font-family: 'opensansregular'; */
}
a,a:hover,a:focus {text-decoration: none;color:#428bca;}
.btn {display: inline-block; font-weight: 600;font-size: 16px; }
.btn-search {   display: inline-block;
    padding: 2px 14px;
    font-weight: 600;
    src: url('search_icon.svg');
    font-size: 16px;}
.ps-action-btn {display:inline-block;padding:4px;text-align: center;border-width:1px;border-style:solid;width:50px;
height:32px;font-size:18px;line-height: 24px;margin-right:10px;border-radius: 6px;}
hr{margin:10px 0;}
.mar-t-0 {margin-top:0px;}
.mar-t-10 {margin-top:10px;}
.form-control {
    min-width:150px;
}
textarea.form-control {
    max-width:100%;
}
label {
    font-size: 12px;
}
.alert-success {
    text-align: center !important;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 100px;
}
.form-group {
    margin-bottom: 25px;      
    min-width: 250px;
}
.nh-btn-primary {
    color: #fff;
    background:#234892 !important;
    font-size: 13px;
    margin:1px;
    min-width: 50px;
    border:none;
}
.nh-btn-primary:hover,.nh-btn-primary:focus {
    opacity: 0.8;
    color: #fff !important;
}
.input-group-btn .btn {
    border-radius: 0;
    background: #3e4048;
    color:#fff;
    border-color: #3e4048;
}
.nh-btn-group {
    display: flex;
    /* width:1px; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nh-btn-group .btn {
    width:54px;
    padding:7px 15px;
    border-radius: 10px;
    display:flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.btn .btn-search{
    border:1px solid #234892;   
    background: #234892 !important;
 
}
.nh-btn-edit {   
    background: transparent;
   border:1px solid #234892;   
   color: #234892 !important;
}
.nh-btn-edit:hover,.nh-btn-edit:focus {
    background: #234892;
    color:#fff !important;
}
.nh-btn-remove {
   background:transparent;
   border:1px solid #3e4048;
   color: #3e4048;
}
.nh-btn-remove:hover,.nh-btn-remove:focus {
    background: #3e4048;
    color:#fff;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th,
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 7px 12px;   
    vertical-align: middle;    
    text-align: left;
}
.actions-col {
    text-align: center;
}
.food-name-col {
    width:40%;
    text-align: left !important;
}

/* Header css starts here */

header { position: fixed;top: 0;left: 0;right: 0; width: 100%;z-index: 999;}
.navbar {margin-bottom: 0;padding: 12px 0;border-radius: 0;background: #234892;border:none;}
.navbar-brand {height: auto; padding: 0 15px;}
.navbar-brand img {max-width: 150px;}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>li.dropdown>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
}
.dropdown-menu>li>a {font-size:16px;padding:2px 20px;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {background: rgba(215, 215, 215,1);}       

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {right: 15px;}
}


.ps-dashboard-block h1{font-size:16px;margin:0;line-height: 24px;color:#000;}
.ps-dashboard-block p {font-size:21px;color:#000;font-weight: bold;line-height: 28px;margin:0;}
.ps-right-section {width: calc(100% - 220px);margin-left: 220px;padding: 20px 10px 0;}

h1.ad-page-title {
    margin: 0 0 5px;
    font-size: 22px;
}
.ad-subhead-block {
    position: relative;
    text-align: center;
    margin:25px 0;
}
.ad-subhead-block:after {
    content: "";
    position: absolute;
    top:10px;
    left:0;
    right: 0;
    width:100%;
    border-bottom: 1px dotted #d3d3d3;
    z-index: -1;
}
.ad-subhead {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: inline-block;
    margin:0 auto;
    background: #fff;
    padding:0 12px;
}

.dashboard-icons {
    margin-bottom: 20px;
}
.dashboard-icons img {
    max-width: 100px;
}

.table-top-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.table-top-wrapper .input-group {
    max-width:300px;
}
.switch { 
    position: relative;
    display: inline-block;
    width: 60px;
    height: 12px;
    margin: 0 10px 0 0;
    border-radius: 6px;
   /* border: 1px solid rgba(0,0,0,0.2);*/
}  
.switch input {display:none;}  
.slider {position: absolute; cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;border-radius: 5px; background-color: rgba(0,0,0,0.12);
    -webkit-transition: .4s;transition: .4s; }
.slider:before {
    position: absolute;
    content: "";
    font-size: 0px;
    line-height: 28px;
    border-radius: 100%;
    text-align: center;
    color: #2196F3;
    height: 28px;
    width: 28px;
    left: 2px;
    bottom: -7px;
    background-color: rgb(189,189,189);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 4px 12px #fff;
}    
input:checked + .slider {background-color: #ec5e26; }
input:checked + .slider:before {background-color: #ec5e26; }
input:focus + .slider {box-shadow: 0 0 1px #ec5e26; }  
input:checked + .slider:before {content: "";-webkit-transform: translateX(28px);-ms-transform: translateX(28px);
transform: translateX(28px);  }


 .form-errors{ 
    color:red;
    background: transparent;
    text-align: right;
    font-weight: bold;
    position: absolute;
    font-size:12px;
}
/*
.required-class {
    color:red;
    font-size: 20px; 
    display: inline;
    position: absolute;
} */

.modal1{
    position: fixed !important; /* Stay in place */
    z-index: 1 !important; /* Sit on top */
    left: 0 !important;
    padding-top: 120px !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    height: 100% !important; /* Full height */
    overflow: auto !important; /* Enable scroll if needed */
    background-color: rgb(0,0,0) !important; /* Fallback color */
    color: white !important;
    /* background-color: rgba(0,0,0,0.4) !important; Black w/ opacity */
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  #myModal  .ng-dropdown-panel{
    z-index: 2000 !important;
    position: relative !important;
    /* position: none; */
    display: inline-table !important;
    max-height: 400px !important;

}
#myModal  .ng-dropdown-panel-items{ 
    max-height: 400px !important;
}
#myModal  .ng-select{
    display: inline-table !important;
}
#myModal  .ng-option{
    font-size: 12px !important;
    padding: 2px 3px !important;
}
/* .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{

} */
#myModal  .scroll-host{
    position: relative !important;
    height: 500px;
    z-index: 20001;
}
/* .modal{
    top:100px;
    background-color: white;
    overflow-x: auto !important;
    bottom: 200px;
    display: block !important;
    overflow: auto;
    height: fit-content;
    position: fixed !important;
    z-index: 3;

}
.modal-open .modal {
    overflow-y: auto;
} */
.maximize-icon{
    padding-right: 18px;
    padding-top: 10px;
    cursor: pointer;
}
.minimize-icon{
    padding-right: 18px;
    padding-top: 10px;
    cursor: pointer;
}
#overlay1 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  #myModal  .ng-dropdown-panel{
position: relative !important;
display: -webkit-inline-box ;
  }
  #myModal  .ng-select-bottom{
    position: relative !important;
    display: -webkit-inline-box ;
      }
      #myModal  .ng-select-top{
        position: relative !important;
        display: -webkit-inline-box ;
          }
  .modal-content{
      margin: 15px;
  }
  #p{
    display: inline-flex;
  }



.custom-modal.fade.show {
    opacity: 1;
}
.modal-open .custom-modal.modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-open .custom-modal.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.custom-backdrop.modal-backdrop.show {
    opacity: 0.5;
}
.custom-modal.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.custom-modal.modal .modal-lg {
    width:90% !important;
    max-width: 900px;
}
.custom-modal.modal .ng-select {
    width: 100% !important;
    max-width: 250px;
}
.custom-modal .modal-body {
    padding:0 15px;
}
.custom-modal .modal-body .scroll-wrapper {
    padding-top:15px;
    padding-bottom: 15px;
    max-height:420px;
    overflow-y: auto;
}
.custom-modal .modal-header .close {
    padding: 0px 1rem;
    font-size: 36px;
    line-height: 23px;
    display: block;
    height: 24px;
    margin: -2px 0 0 auto;
}
.custom-modal .modal-footer {
    padding:8px 15px;
}
.custom-modal .modal-footer .btn {
    min-width:90px;
}
.custom-modal .modal-footer .btn+.btn {
    margin-left:15px;
}
.custom-modal .form-group {
    margin-bottom: 15px;
    min-width: auto;
}

hr.devider {
    margin: 10px 0;
    border-top-width: 2px;
    border-style: dashed;
    border-color: #cdcdcd;
}
.table-responsive>.table-bordered {
    border:1px solid #ddd !important;
}
.header-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
h1.ad-page-title {
    margin: 0 0 25px;
    font-size: 22px;
    position: relative;
    padding-bottom: 12px;
    /* text-transform: uppercase; */
}
.header-block h1.ad-page-title {
    margin: 0;
}
h1.ad-page-title:after {
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 3px;
    content: "";
    border-radius: 0;
    background: #234892;
}

.btn-block {
    padding:9px 0;
}
.btn-block .nh-btn-primary {
    color: #fff;
    background: #234892 !important;
    font-size: 14px;
    min-width: 90px;
    border: none;
    padding: 6px 15px;
    border-radius: 0;
    height:36px;
    text-transform: uppercase;
}

.btn-block .nh-btn-secondary {
    color: #212529;
    background: transparent;
    font-size: 14px;
    min-width: 90px;
    padding: 6px 15px;
    border-radius: 0;
    text-transform: uppercase;
    border: 2px solid #212529;
    height: 36px;
    margin-right:20px;
}

.btn-block .nh-btn-secondary:hover,
.btn-block sssssssss.nh-btn-secondary:focus {
    background: #212529 !important;
    color:#fff;
}
.btn-addnew.nh-btn-primary {
    border-radius: 16px;
    padding: 6px 30px;
}
.custom-table {

}
.custom-table-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.custom-cell {
    width:200px;
    max-width:200px;
    min-width:200px;
}