/* Custom checkboxes */

.styled-checkbox {
    position: absolute;  
    opacity: 0;  
    width:0 !important;
    height: 0 !important;
}  
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    color: #232f3e;
    line-height: 12px;
}
.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    border:2px solid #e47911;
    background: white;
}

.styled-checkbox:hover + label:before {
    background: rgba(72, 196, 121,1);
    border-color: rgba(72, 196, 121,1);
}

.styled-checkbox:checked + label:before {
    background: rgba(72, 196, 121,1);
    border-color: rgba(72, 196, 121,1);
}

.styled-checkbox:checked + label:after {
    content: "\f00c";
    position: absolute;
    left: 2px;
    top: 2px;
    background: transparent;
    font-family: 'FontAwesome';      
    font-size:11px;
    color:#fff;    
}

/* Custom checkboxes for wishlist */

.styled-wishlist-checkbox {
    position: absolute;  
    opacity: 0;  
    width:0 !important;
    height: 0 !important;
}  
.styled-wishlist-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 0px;
    font-weight: 500;
    color: transparent;
    line-height: 12px;
}
.styled-wishlist-checkbox + label:before {
    content: "\f004";
    font-size: 20px;
    color: #bbb;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    font-family: 'FontAwesome';   
    background: transparent;
}
.styled-wishlist-checkbox:checked + label:before {
	content: "\f004";
    font-size: 20px;
    color: #e47911;;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    font-family: 'FontAwesome';   
    background: transparent;   
}

.styled-wishlist-checkbox:hover + label:before,.styled-wishlist-checkbox:checked + label:before {
    background: transparent;
    border-color:transparent;
}




/* product list page css starts here */

.ct-product-list-wrapper {
    padding:30px 0;
}
.page-title {
    color:#ec5e26;
    font-size: 24px;
    margin: 0 0 25px;
    font-weight: bold;
}
.left-bar {
    border-right: 1px solid #d3d3d3;
    padding-right:15px;
}
.filter-subhead {
    font-size: 17px;
    color: #757575;
    margin: 14px 0 25px;
}
.filter-category {
    font-size: 14px;
    color: #111;
    font-family: 'Montserrat-Bold';
    margin-bottom: 12px;
}
.filter-category-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.filter-category-list li {
	margin-bottom: 4px;
	vertical-align: middle;
	line-height: 14px;
    padding: 4px 0;
}
.filter-category-wrapper {
    margin-bottom: 25px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d3d3d3;
}
.left-bar .filter-category-wrapper:last-child {
	border-bottom: none;
}
.filter-category-list input,
.filter-category-list label {
	margin:0;
	font-family: 'Montserrat-Regular';
}
.category-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 1px solid #d3d3d3;
    border-width: 1px 0;
    font-size: 13px;
    margin-bottom: 20px;    
}
.category-topbar p {
    margin: 0;
}
.category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1 0 auto;
}
.category-list li {
    width:25%;
    flex: 1 0 auto;
    max-width: 25%;
    margin-bottom: 32px;
}
.category-item-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex: 1 0 auto;
}
.category-item-image-wrapper img {
    max-height: 170px;
}
.category-item-content {
    display: flex;
    flex-direction: column;
    /* height: 120px; */
    flex: 1 0 auto;    
}
.addto-cart-btn {
    border: 1px solid #111;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #111;
    text-transform: capitalize;
    flex: 1 0 auto;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
}
.addto-cart-btn:hover,
.addto-cart-btn:focus {
    background: linear-gradient(to bottom,#f5d78e,#eeb933);
}
.category-item-name {
    margin:0 0 5px;
    line-height: 18px;
}
.category-item-name a {
    font-size: 16px;
}
.category-item-name a:hover,
.category-item-name a:focus {
    text-decoration: underline;
    color: #e47911;
}
p.category-item-by-name {
    font-size: 13px;    
}
p.category-item-price {
    font-size: 23px;
    line-height: 23px;
    color: #111;
}
p.category-item-price sup {
    font-size: 50%;
    top: -0.8em;
}
.ct-product-list-wrapper .category-item-wrapper {
    position: relative;
    /*display: block;
    overflow: hidden;
    zoom: 1;
    margin: 0 0 12px 12px;
    border: 1px solid #eee;
    padding: 20px 15px;
    -webkit-box-shadow: 1px 1px 3px 0 #f2f2f2;
    -moz-box-shadow: 1px 1px 3px 0 #f2f2f2;
    -ms-box-shadow: 1px 1px 3px 0 #f2f2f2;
    box-shadow: 1px 1px 3px 0 #f2f2f2;
    background-size: 100% 200px;
    border-radius: 0;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-image: -ms-linear-gradient(bottom,#fafafa 0,#fdfdfd 20%,#fff 60%);
    background-image: -moz-linear-gradient(bottom,#fafafa 0,#fdfdfd 20%,#fff 60%);
    background-image: -o-linear-gradient(bottom,#fafafa 0,#fdfdfd 20%,#fff 60%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#fafafa),color-stop(.2,#fdfdfd),color-stop(.6,#fff));
    background-image: -webkit-linear-gradient(bottom,#fafafa 0,#fdfdfd 20%,#fff 60%);
    background-image: linear-gradient(to top,#fafafa 0,#fdfdfd 20%,#fff 60%);*/
}
.sort-wrapper select {
	margin:0 6px;
	height:30px;
	padding:4px 10px;
}

@media (min-width: 767px) and (max-width: 1024px) { 
    ul.category-list li {
        width: 33%;
        flex: 1 0 auto;
        max-width: 33%;
    }
    .ct-product-list-wrapper .category-item-wrapper {
        padding:15px 10px;
    }
    .category-list-wrapper {
        margin:0 -15px;
    }
}
@media (max-width: 767px) {
    .ct-product-list-wrapper {
        padding:15px 0;
    }
    .left-bar {
        display: none;
    }
    h1.page-title {       
        font-size: 20px;
    }
    .category-topbar {
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        height: 54px;
    }
    .sort-wrapper {
        align-self: flex-end;
    }
    .ct-product-list-wrapper .category-item-wrapper {
        padding: 0;
        margin: 0 0 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    ul.category-list li {
        margin:0;
        width:100%;
        max-width:100%;
    }
    .category-item-image-wrapper {
        max-width: 25%;
    }
    .category-item-content {
        padding:0 15px 0 20px;
    }
}

/* Product Details page css starts here */

.product-details-wrapper {
    padding: 40px 0;
    border-bottom: 1px solid #d3d3d3;
}
.product-detail-section-wrapper {
    display: flex;
    flex-direction: row;
}
.product-detail-image-wrapper {
    min-width: 35%;
    height:400px;
    border:1px solid grey;
}
.product-detail-content-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}
.product-name {
    font-size: 21px;
    color: #111;
    line-height: 28px;
    margin: 0 0 10px;
}
.rating-wrapper {
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 1px solid #d3d3d3;
}
.rating {
    width: 80px;
    display: inline-block;
    height: 18px;
    border: 1px solid green;
}
.rating-wrapper .rating-review {
    margin: 0 5px;
    padding: 0 5px;
}
.rating-wrapper .border.rating-review:after {
    content: "|";
    margin-left: 12px;
}
.product-detail-sec {
    min-width: 60%;
}
.price {    
    padding: 4px 0;
}
.price .value {
    line-height: 24px;
    color: #B12704;
    font-size: 20px;
}
.color-block {
    margin-bottom: 25px;
}
.color-block ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    list-style: none;
}
.color-block ul li {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    margin:0 10px 10px 0;
    border: 1px solid #d3d3d3;
    align-items: center;
    justify-content: center;
}
.product-detail-btn-sec {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    padding: 30px 20px;
}
ul.share-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.share-block {
    margin-bottom: 30px;
}
ul.share-links li {    
    margin-right:10px;    
}
ul.share-links li a {
    font-size: 14px;
}
ul.share-links li a .fa {
    font-size: 20px;    
}
.share-mail {
    color: #ccc;
}
.share-facebook {
    color:#4267b2 ;
}
.share-twitter {
    color:#4AB3F4 ;
}
.share-pinterest {
    color:pink ;
}
.detials-btn-block {
    display: block;
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #d3d3d3;
}
.btn.addto-list-btn {
    margin-top:30px;
    position: relative;    
}
.addto-list-btn:after {
    content: "";
    width: 100%;
    height:2px;
    border-top:1px solid #d3d3d3;
    position: absolute;
    top:-20px;
    left:0;
}
@media (min-width: 767px) and (max-width: 1024px) { 

    .product-detail-section-wrapper {
        flex-direction: column;
    }
    .product-detail-content-wrapper {
        flex-direction: column;
        padding-left: 0;
    }
    .rating-wrapper {
        flex-direction: column;
        display: flex;
    }


}
@media (max-width: 767px)  { 
    
    .product-detail-section-wrapper {
        flex-direction: column;
    }
    .product-detail-content-wrapper {
        flex-direction: column;
        padding-left: 0;
    }
    .rating-wrapper {
        flex-direction: column;
        display: flex;
    }
    .color-block ul {        
        flex-wrap: wrap;
    }
    .rating-wrapper .rating-review.border {
        margin:8px 0 0;
    }
    .rating-wrapper .rating-review.border:after {
        display: none;
    }
    .rating-wrapper span {
        padding: 0;
    }

}


.cart-section {
    padding: 40px 0;
    border-bottom: 1px dashed #bebfc5;
}
.cart-section .page-title {
    margin-bottom: 0px;
}
.cart-table {
    width:100%;
    margin-bottom: 40px;
}
.cart-table th {
    padding:5px 0;
    border-bottom: 1px solid #d3d3d3;
    font-size: 13px;
}
.cart-table tr th:last-child {
    text-align: right;
}
.cart-table td {
    padding:15px 0; 
    vertical-align: top;
    border-bottom: 1px solid #d3d3d3;
}
.cart-table tfoot td {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    border-bottom: none;
}
.cart-item-img img {
    max-width:60px;
}
.cart-item-img {
    width:20%;
}
.cart-item-title {
    width:55%;
}
.cart-item-name a {
    font-size: 17px;
    line-height: 24px;
}
.cart-item-name a:hover,
.cart-item-name a:focus {
    color: #B12704;
    text-decoration: underline;
}
.cart-item-cost {
    color: #B12704;
    font-size: 18px;    
}
.cart-btns a {
    color:#428bca;
    display: inline-block;
    margin-right:10px;
}
.cart-btns a:hover,
.cart-btns a:focus {
    color: #E47911;
    text-decoration: underline;
}
.cart-item-quantity select {
    min-width:70px;
    text-align: center;
}
.chekout-block {
    padding: 25px;
    margin-top: 70px;
    background: #f3f3f3;
    border: 1px solid #d3d3d3;
    max-width:350px;
    float: right;
}
.chekout-block h4 {
    margin-bottom: 25px;
}
.cart-section .value {
    color: #B12704;
    font-size: 17px;
}
.cart-item-quantity {
    text-align: right;
}
@media (min-width: 767px) and (max-width: 1024px) { 
    .cart-item-img img {
        max-width: 40px;
    }
    .cart-table td, .cart-table th {
        padding: 15px 10px;
    }
}

@media (max-width: 767px)  {  
    .cart-section {
        padding:20px 0;
    }
    .cart-section .page-title {
        margin-bottom: 15px;
    }
    .cart-table td {
        padding: 15px 10px;
    }
    .cart-item-img img {
        max-width: 40px;
    }
    .cart-item-title {        
        min-width: 150px;
    }
    .cart-item-name a {
        font-size: 14px;
        line-height: 18px;
    }
    .cart-item-cost {
        font-size: 16px;
        min-width: 100px;
    }
}


/* Shipping address page css here */

.shipping-address-section {
    padding:10px 0 30px;
    
}
.shipping-address-section a {
    color: #2a6496;
    font-weight: bold;
}
.shipping-address-section a:hover,
.shipping-address-section a:focus {
    text-decoration: underline;
}
.shipping-address-section p {
    line-height: 24px;
    font-size: 14px;    
}
.shipping-address-list-wrapper {
    padding:20px 0;
    margin-top:20px;
    /*border-top:1px solid #d3d3d3;*/
}
.checkout-tab {
    padding: 30px 0;
    margin-bottom: 25px;
}
.checkout-tab-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;    
}
.checkout-tab-list li {
    width:150px;
}
.ck-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ck-tab:after {
    display: block;
    content: "";
    position: absolute;
    left:50%;
    width:100%;
    top: 20px;
    z-index: -1;
    border:1px solid #d3d3d3;
}
.checkout-tab-list li:last-child .ck-tab:after {
    width:50%;
}
.ck-tab.active:after {
    border-color:rgba(72, 196, 121,1);
}
.checkout-tab-list .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color:#111;
    background: #d3d3d3;
    margin:0 0 6px;
    border: 1px solid #d3d3d3;
}
.checkout-tab-list .ck-tab-name {
    color: #777;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.ck-tab.active  .icon {
    background: rgba(72, 196, 121,1);
    border-color: rgba(72, 196, 121,1);
    color:#fff;
}
.ck-tab.active .ck-tab-name {
    color: rgba(72, 196, 121,1);
}
.shipping-address-list {
    padding: 0 0 0 20px;
    margin: 0;
    list-style: decimal;
    list-style-position: outside;
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
}
.shipping-address-list li {
    width:50%;
    padding:20px;    
    list-style: decimal;
}
.shipping-address-item h5 {
    font-size:18px;
    margin:0 0 10px;    
}
.shipping-address-item p {
    margin:0;
    line-height: 26px;
    color:#000;
}
.shipping-address-item .addto-cart-btn {
    font-size: 13px;
    margin-top:40px;
    max-width:220px;
}
.shipping-address-list-wrapper {
    /*border-bottom: 1px solid #d3d3d3;*/
    margin-bottom: 20px;
}
.shipping-address-item .nx-addto-cart {
    margin-top:30px;
    margin-bottom: 15px;
    max-width:240px;
}
.shipping-address-item .button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px 0;
    max-width:220px;
}
.shipping-address-item .button-block .btn {
    line-height: 13px;
    padding:4px 10px;
    width:45%;
}
.add-newadd-block {
    max-width: 450px;
}
.add-newadd-block h3 {
    margin:15px 0;
    font-size:18px;    
    font-weight: bold;
}
.add-newadd-block p {
    line-height: 24px;
}
.add-newadd-block label {
    font-size: 14px;
    line-height: 18px;
}
.add-newadd-block .addto-cart-btn {
    float: right;
    font-size: 12px;
    margin:20px 0;
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .shipping-address-section {
        width: 100%;
        margin:0;
    }
    .shipping-address-list li {
        width: 50%;
    }

}

@media (max-width: 767px) {
    .shipping-address-section {
        width: 100%;
    }
    .checkout-tab {
        margin-bottom: 0;
    }
    .shipping-address-section .shipping-address-info {
        margin-bottom: 10px;
    }
    .shipping-address-list li {
        width:100%;
        padding: 20px 0;
    }
    .add-newadd-block {
        padding:0 10px;
    }
    .category-list-wrapper .addto-cart-btn {
        max-height: 36px;
    }
    .shipping-address-list-wrapper {
        margin-top:0;
    }
    .shipping-address-list li {       
        padding: 10px 0;
    }
}


/* login page css here */

.login-body {
    padding:0;
}
.login-container {
    padding: 30px 15px;
}
.login-wrapper {
    max-width:350px;
    margin:0 auto;
}
.login-logo {
    margin-bottom:20px;
    text-align: center;
}
.login-logo img {
    max-width:170px;
    max-height: 70px;
    margin:0 auto;
}
.login-content {
    padding: 20px 25px;
    max-width:350px;
    margin:0 auto;
    color:#111;
    border:1px solid #d3d3d3;
    border-radius:12px;
}
.login-content h3 {
    font-weight: 400;
    color:#111;
    font-size: 28px;
    margin:0 0 12px;
    line-height: 1.2;
}
.help-link {
    margin:15px 0;
}
.help-link a {
    color: #2a6496;
    font-weight: bold;
}
.help-link a:hover,.help-link a:focus {
    text-decoration: underline;
}
.register-block {
    margin:30px 0;
}
.register-label {
    text-align: center;
    font-size: 13px;
    position: relative;
    margin-bottom: 20px;
}
.register-block .btn {
    font-size: 13px;
    padding:8px 20px;
}
.register-label span {
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0 10px;
}
.register-label:after {
    position: absolute;
    top:9px;
    left:0;
    content:"";
    z-index: -1;
    width:100%;
    display: block;
    border-bottom:1px solid #d3d3d3;
}
.login-footer {
    padding: 30px 0;
}
.login-footer .text-center a {
    padding:0 6px;
    margin:0 10px;
    font-size:13px;
}
.login-footer .text-center a:hover,
.login-footer .text-center a:focus {
    text-decoration: underline;
    color:#e47911;
}
.login-footer .copy-rights {
    font-size:11px;
    color:#555;
}