<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Semester</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addSemester()" #f="ngForm" name="form" novalidate>
                        <div class="row">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Name<span class="required-class">*</span></label>
                                            <input type="text" maxlength="25" class="form-control" name="Name"
                                                placeholder="Enter Name " [(ngModel)]="semesterData.f053fsemester"
                                                value="" required #name="ngModel">
                                            <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)"
                                                class="form-errors">*Enter
                                                the Name</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Code<span class="required-class">*</span></label>
                                            <input type="text" maxlength="10" class="form-control" name="code"
                                                placeholder="Enter Code " [(ngModel)]="semesterData.f053fcode" value=""
                                                required #code="ngModel">
                                            <span *ngIf=" code.errors && (code.dirty || code.touched || f.submitted)"
                                                class="form-errors">*Enter
                                                the Code</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Start Date<span class="required-class">*</span></label>
                                            <input type="Date" class="form-control" name="sdate" [(ngModel)]="semesterData.f053fstartDate"
                                                value="" required #sdate="ngModel">
                                            <span *ngIf=" sdate.errors && (sdate.dirty || sdate.touched || f.submitted)"
                                                class="form-errors">*Select Start Date</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>End Date<span class="required-class">*</span></label>
                                            <input type="Date" class="form-control" name="edate" [(ngModel)]="semesterData.f053fendDate"
                                                value="" required #edate="ngModel" (change)="dateComparison()">
                                            <span *ngIf=" edate.errors && (edate.dirty || edate.touched || f.submitted)"
                                                class="form-errors">*Select End Date</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Graduation Type<span class="required-class">*</span></label>
                                            <ng-select [items]="graduationList" bindLabel="f011fdefinitionCode" bindValue="f011fdefinitionCode"
                                                [(ngModel)]="semesterData.f053fgraduationType" name="f053fgraduationType" #graduation="ngModel"
                                                required>
                                            </ng-select>
                                            <span *ngIf=" graduation.errors && (graduation.dirty || graduation.touched || f.submitted)"
                                                class="form-errors">*Select Graduation
                                                Type .</span>

                                        </div>
                                    </div> 
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Type<span class="required-class">*</span></label>
                                            <ng-select [items]="semesterList" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                                                [(ngModel)]="semesterData.f053ftype" name="f053ftype" #type="ngModel"
                                                required>
                                            </ng-select>
                                            <span *ngIf=" type.errors && (type.dirty || type.touched || f.submitted)"
                                                class="form-errors">*Select
                                                Type .</span>

                                        </div>
                                    </div> 
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Semester Sequence<span class="required-class">*</span></label>
                                            <ng-select [items]="semsequenceList" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                                            [(ngModel)]="semesterData.f053fsemSequence" name="f053fsemSequence" #sequence="ngModel"
                                            required>
                                        </ng-select>
                                            <span *ngIf=" sequence.errors && (sequence.dirty || sequence.touched || f.submitted)"
                                                class="form-errors">*Select Semester
                                                Sequence.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div [className]="'active'"></div>
                                            <label>Status</label>
                                            <br>
                                            <input type="radio" name="Status" [(ngModel)]="semesterData.f053fstatus"
                                                [checked]="semesterData.f053fstatus == 1" [value]="1"> Active
                                            <br>
                                            <input type="radio" name="Status" [(ngModel)]="semesterData.f053fstatus"
                                                [checked]="semesterData.f053fstatus == 0" [value]="0"> Inactive
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/studentfinance/semester']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>