<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/activitylevelone']">Group</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/activityleveltwo']">Sub
                                    Group</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/activitylevelthree']">Sub
                                    - Siri</a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title">Sub Siri</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <!-- <div class="col-sm-12"> -->

                    <thead>
                        <tr>
                            <th>Group Code</th>
                            <th>Sub Group Code</th>
                            <th>Sub Siri Code</th>
                            <th>Sub Siri Description</th>


                        </tr>
                    </thead>
                    <!-- </div> -->
                    <tbody>
                        <tr *ngFor="let indlevelthree of activitylevelthreeList; let i = index">
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="levelone" placeholder="Level One"
                                    [(ngModel)]="activitylevelone" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="leveltwo" placeholder="level Two"
                                    [(ngModel)]="activityleveltwo" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="3" name="f058fcode" (keypress)="onlyNumberKey($event)"
                                    placeholder="Enter Sub Siri Code" [(ngModel)]="activitylevelthreeList[i].f058fcode"
                                    value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="150" name="f058fname" placeholder="Enter the Sub Siri Description"
                                    [(ngModel)]="activitylevelthreeList[i].f058fname" value="">
                            </td>


                            <td>
                                <!-- <input type="button" name="add" (click)='deletelevelthree(activitylevelthreeList[i])' value='Delete' class="btn nh-btn-primary" /> -->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" maxlength="10" class="form-control" readonly="readonly" name="levelone"
                                    placeholder="Enter Level One" [(ngModel)]="activitylevelone" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="10" class="form-control" readonly="readonly" name="leveltwo"
                                    placeholder="Enter Level Two" [(ngModel)]="activityleveltwo" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="3" class="form-control" maxlength="3" name="f058fcode"
                                    (keypress)="onlyNumberKey($event)" placeholder="Enter Sub Siri Code" [(ngModel)]="activitylevelthreeData.f058fcode"
                                    value="">
                            </td>
                            <td>
                                <input type="text" maxlength="150" class="form-control" name="f058fname" placeholder="Enter the Sub Siri Description"
                                    [(ngModel)]="activitylevelthreeData.f058fname" value="">
                            </td>

                            <td>
                                <!-- <input type="button" name="add" (click)='addactivitylevelthree()' value='ADD' class="btn nh-btn-primary" />
                                 -->
                                <button class="btn nh-btn-primary" type="button" (click)='addactivitylevelthree()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/generalsetup/activitylevelthree" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveactivitylevelthree()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>