<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title"> Request Invoice Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food"[mfData]="requestinvoiceApprovalList | filter : searchText"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f071finvoiceNumber">Request Invoice Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f071finvoiceType">Customer Type</mfDefaultSorter>
                                  </th>
                  
                                  <th>
                                    <mfDefaultSorter by="customerName">Name</mfDefaultSorter>
                                  </th>
                                <th>
                                    <mfDefaultSorter by="f071finvoiceDate">Request Invoice Date</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="firstName">Debtor Name</mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter by="f071finvoiceTotal">Total Amount (RM)</mfDefaultSorter>
                                </th>
                                <!-- <td>
                                    <mfDefaultSorter by="f071fstatus">Approval Status</mfDefaultSorter>
                                </td> -->
                                <!-- <th>Approve/Reject</th> -->
                                <th>View</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indinvoiceapproval of mf.data">
                                <td>{{indinvoiceapproval.f071finvoiceNumber}}</td>
                                <td>{{indinvoiceapproval.f071finvoiceType}}</td>
                                <td>{{indinvoiceapproval.customerName}}</td>
                                <!-- <td>{{indinvoiceapproval.f071finvoiceType === 'KI'?'Payment Counter':'CI'?'Credit Card
                                    Payment':'Government Agencies'}}</td> -->
                                <td>{{indinvoiceapproval.f071finvoiceDate | date: 'MM/dd/yyyy'}}</td>
                                <!-- <td>{{indinvoiceapproval.firstName}} {{indinvoiceapproval.lastName}}</td> -->
                                <td class="amountAlign">{{indinvoiceapproval.f071finvoiceTotal | number: '.2'}}</td>
                                <!-- <td>{{indinvoiceapproval.f071fstatus}}</td> -->
                                <!-- <td>
                                    <input type="checkbox" [(ngModel)]="indinvoiceapproval.f071fstatus">
                                </td> -->
                                <td>
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountsrecivable/viewrequestinvoice/{{indinvoiceapproval.f071fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="invoiceapprovalData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='invoiceApprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="submit" (click)='regectJournalApprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>