<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelone']">Payroll
                                    Tax Schedule</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/leveltwo']"> Payroll
                                    Tax Exemption</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelthree']">
                                    Payroll
                                    EPF Contribution per Month</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelfour']"> Payroll
                                    IT Deduction</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title"> EPF Contribution per Month</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food;last as isLast">
                    <thead>
                        <tr>
                            <th>EPF Per Month</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let indlevelthree of levelthreeList; let i = index;last as isLast">
                            <td>
                                <input type="text" class="form-control" name="epf" placeholder="Enter EPF Per Month"
                                    [(ngModel)]="levelthreeList[i].f061fmonth" value=""(keypress)="onlyNumberKey($event)">
                            </td>
                            <!-- <td> -->
                                <!-- <input type="button" name="add" (click)='deletelevelthree(levelthreeList[i])' value='Delete' class="btn nh-btn-primary" /> -->
                            <!-- </td> -->
                            <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" type="button" (click)='deletelevelthree(levelthreeList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletelevelthree(levelthreeList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr *ngIf="showLastRow==false">
                            <td>
                                <input type="text" maxlength="10" class="form-control" name="epf" placeholder="Enter EPF Per Month"
                                    [(ngModel)]="levelthreeData.f061fmonth" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addLevelthree()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                           
                            <!-- <td>
                                <button class="btn nh-btn-primary" type="button" (click)='addLevelthree()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td> -->
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/payroll/levelthree" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveLevelthree()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>