<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid"
      style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;padding-bottom: 100px;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Budget Adjustment</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Budget Adjustment Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Budget Year<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="finantialyearList | sort:'f110fyear'"
                  bindLabel="f110fyear" bindValue="f110fid" [(ngModel)]="budgetincrementDataheader.f055fidFinancialyear"
                  name="f055fidFinancialyear" (change)="getListOfPendingCostCenter()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Fund<span class="required-class">*</span> </label>
                <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fname'" bindLabel="originalName"
                  bindValue="f057fcode" [(ngModel)]="budgetincrementDataheader.f055ffund" name="f055ffund"
                  (change)="getDetails()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Cost Center<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterLists | sort:'departmentName'"
                  bindLabel="originalName" bindValue="f015fdepartmentCode"
                  [(ngModel)]="budgetincrementDataheader.f055fdepartment" name="f055fdepartment"
                  (change)="getDetails()">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Budget Allocated Amount(RM)<span class="required-class">*</span> </label>
                <input type="text" disabled="disabled" class="form-control amountAlign" name="allocatedAmount"
                  [(ngModel)]="allocatedAmount">
              </div>
            </div>
            <div class="col-sm-4" style='display: none;'>
              <div class="form-group">
                <label>Adjustment Amount(RM)<span class="required-class">*</span> </label>
                <input type="text" disabled="disabled" class="form-control amountAlign" name="balanceAmount"
                  [(ngModel)]="balanceAmount">
              </div>
            </div>
          </div>
          <div id="overlay1"></div>
          <div id="myModal" class=" fade in" role="dialog" *ngIf="allocatedAmount != 0">
            <!-- <div class="modal-dialog"> -->
            <!-- Modal content-->
            <div class="modal-content">
              <p class="maximize-icon">
                <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
              </p>
              <p class="minimize-icon hidden">
                <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
              </p>

              <div class="modal-body">
                <div class="row" class="table-responsive credit-note-table-wrapper">
                    <table class="table table-bordered table-striped table-food" fieldset="disabled">
                      <thead>
                        <tr>
                          <th>Fund</th>
                          <th>Activity Code</th>
                          <th>CostCenter</th>
                          <th>Account Code</th>
                          <th>Adjustment Type</th>
                          <th>Virement Amount(RM)</th>
                          <th>Amount (RM)</th>
                          <th>Period 1 (RM)</th>
                          <th>Period 2 (RM)</th>
                          <th>Period 3 (RM)</th>
                          <th *ngIf="this.configListOfDepartmentSplit==4">Period 4</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let indbudgetincrement of newbudgetincrementList; let i = index;last as isLast">
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fname'"
                              style="width: 150px;" bindLabel="originalName" bindValue="f057fcode"
                              [(ngModel)]="newbudgetincrementList[i].f054ffundCode" name="f054ffundCode"
                              #fund="ngModel">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'originalname'"
                              style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode"
                              [(ngModel)]="newbudgetincrementList[i].f054factivityCode" name="f054factivityCode"
                              #activity="ngModel">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'originalname'"
                              style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                              [(ngModel)]="newbudgetincrementList[i].f054fdepartmentCode" name="f054fdepartmentCode">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'originalname'"
                              style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode"
                              [(ngModel)]="newbudgetincrementList[i].f054faccountCode" name="f054faccountCode"
                              #account="ngModel">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="viewDisabled" [items]="adjusttype | sort:'name'"
                              style="width: 150px;" bindLabel="name" bindValue="name"
                              [(ngModel)]="newbudgetincrementList[i].f055fadjustmentType" name="f055fadjustmentType">
                            </ng-select>
                          </td>
                          <td>
                            <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control amountAlign"
                              name="f055fverimentAmount" placeholder="Enter Veriment"
                              [(ngModel)]="newbudgetincrementList[i].f055fverimentAmount" value=""
                              (keypress)="onlyNumberKey($event)">
                          </td>
                          <td>
                            <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control amountAlign"
                              name="f054famount" placeholder="Enter Amount"
                              [(ngModel)]="newbudgetincrementList[i].f054famount" value=""
                              (keypress)="onlyNumberKey($event)" (change)="amountValidation()">
                          </td>
                          <td>
                            <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control amountAlign"
                              name="f054fq1" placeholder="Q1" [(ngModel)]="newbudgetincrementList[i].f054fq1" value=""
                              (keypress)="onlyNumberKey($event)">
                          </td>
                          <td>
                            <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control amountAlign"
                              name="f054fq2" placeholder="Q2" [(ngModel)]="newbudgetincrementList[i].f054fq2" value=""
                              (keypress)="onlyNumberKey($event)">
                          </td>
                          <td>
                            <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control amountAlign"
                              name="f054fq3" placeholder="Q3" [(ngModel)]="newbudgetincrementList[i].f054fq3" value=""
                              (keypress)="onlyNumberKey($event)">
                          </td>
                          <td *ngIf="this.configListOfDepartmentSplit==4">
                            <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control"
                              name="f054fq4" placeholder="Q4" [(ngModel)]="newbudgetincrementList[i].f054fq4" value=""
                              (keypress)="onlyNumberKey($event)">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/budget/budgetincrement" class="btn nh-btn-secondary"
                    *ngIf="idview!=2">Cancel</a>
                  <a routerLink="/budget/budgetincrementapproval" class="btn nh-btn-secondary"
                    *ngIf="idview==2">Cancel</a>
                  <button type="submit" (click)='savebudgetincrement()' class="btn nh-btn-primary"
                    *ngIf="viewDisabled==false">Save</button>
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>