<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title" *ngIf="idview!=2">Maintenance</h1>
                    <h1 class="ad-page-title" *ngIf="idview==2">Maintenance Approval</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addAssetmaintenance()" #f="ngForm" name="form" novalidate id="target">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Code<span class="required-class">*</span></label>
                                    <ng-select [disabled]="editDisabled||viewDisabled" [items]="assetinformationList"
                                        bindLabel="f085fassetCode" bindValue="f085fid" [(ngModel)]="maintenanceData.f089fidAssets"
                                        name="f089fidAssets" #asset="ngModel" required> </ng-select>
                                    <span *ngIf="asset.errors && (asset.dirty || asset.touched || f.submitted)" class="form-errors">*Select
                                        Asset Code</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Date Of Maintenance<span class="required-class">*</span></label>
                                    <input type="date" class="form-control" name="f089fdateOfMaintenance" placeholder="Enter Code"
                                        [(ngModel)]="maintenanceData.f089fdateOfMaintenance" value="" required #Date="ngModel">
                                    <span *ngIf="Date.errors && (Date.dirty || Date.touched || f.submitted )" class="form-errors">*Enter
                                        the Date Of Maintenance
                                        .</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Description<span class="required-class">*</span></label>
                                    <textarea class="form-control" maxlength="1000" [disabled]="viewDisabled"
                                        [(ngModel)]="maintenanceData.f089fdescription" name="f089fdescription"
                                        placeholder=" Enter Description " value="" required #discription="ngModel"></textarea>
                                    <span *ngIf="discription.errors && (discription.dirty || discription.touched || f.submitted )"
                                        class="form-errors">*Enter the Description
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/assetmaintenance']" class="btn nh-btn-secondary" *ngIf="idview!=2">Cancel</a>
                                    <a [routerLink]="['/assets/maintenanceapproval']" class="btn nh-btn-secondary"
                                        *ngIf="idview==2">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>