<section>

  <div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title" *ngIf="idview==0">Investment Registration</h1>
            <h1 class="ad-page-title" *ngIf="idview==2"> Approval Bursary Withdraw </h1>
            <h1 class="ad-page-title" *ngIf="idview==3"> Approval Register For Withdraw </h1>
            <h1 class="ad-page-title" *ngIf="idview==4"> Approval VC For Withdraw </h1>
          </div>
        </div>
        <div class="row" id="target">
          <div class="col-sm-12">
            <form (ngSubmit)="f.form.valid && addInvestmentregistration()" #f="ngForm" name="form" novalidate id="target">
              <div class="row">
                <div *ngIf="id>0" class="col-sm-4">
                  <div class="form-group">
                    <label>Reference Number<span class="required-class">*</span></label>
                    <input type="text" maxlength="20" readonly="readonly" class="form-control" name="f064freferenceNumber"
                      [(ngModel)]="investmentregistrationData.f064freferenceNumber" #Reference="ngModel" value="">
                    <!-- <span *ngIf="Reference.errors && (Reference.dirty || Reference.touched || f.submitted)" class="form-errors">*
                        Reference Number</span> -->
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Investment Application Number<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="investmentapplicationList | sort:'f063fapplication_id'"
                      bindLabel="f063fapplication_id" bindValue="f063fid" (change)="getInvestmentbankbymaster()" [(ngModel)]="investmentregistrationData.f064fidApplication"
                      name="f064fidApplication" #Application="ngModel" required>
                    </ng-select>
                    <span *ngIf="Application.errors && (Application.dirty || Application.touched || f.submitted)" class="form-errors">*
                      Select Application</span>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Investment Bank<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="bankList" bindLabel="bankName"
                      bindValue="f063fbankId" [(ngModel)]="investmentregistrationData.f064finvestmentBank" name="f064finvestmentBank"
                      #Investment="ngModel" required (change)="preFillOtherDetails()">
                    </ng-select>
                    <!-- <span *ngIf="Investment.errors && (Investment.dirty || Investment.touched || f.submitted)" class="form-errors">*
                      Select Investment Bank</span> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Certificate Number<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="f064fname" [(ngModel)]="investmentregistrationData.f064fname"
                      value="" #Name="ngModel" required>
                    <span *ngIf="Name.errors && (Name.dirty || Name.touched || f.submitted)" class="form-errors">*
                      Enter the Certificate Number</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Principle Amount (RM)<span class="required-class">*</span></label>
                    <input type="text" disabled="disabled" class="form-control" maxlength="15" (keypress)="onlyNumberKey($event)" style="text-align: right"
                      name="f064fsum" placeholder="Principle Amount" [(ngModel)]="investmentregistrationData.f064fsum"
                      value="" required #Sum="ngModel">
                    <span *ngIf="Sum.errors && (Sum.dirty || Sum.touched || f.submitted)" class="form-errors">*
                      Enter the Principle Amount</span>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Profit Sharing Rate<span class="required-class">*</span> </label>
                    <input type="text" disabled="disabled" maxlength="13" class="form-control" name="f064frateOfInterest" placeholder="Profit Sharing Rate"
                      [(ngModel)]="investmentregistrationData.f064frateOfInterest" value="" (keypress)="onlyNumberKey($event)"
                      required #Rate="ngModel">
                    <span *ngIf="Rate.errors && (Rate.dirty || Rate.touched || f.submitted)" class="form-errors">*
                      Enter the Profit Sharing Rate</span>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Contact Person One<span class="required-class">*</span> </label>
                    <input type="text" maxlength="50" class="form-control" name="f064fcontactPerson" placeholder="Enter Contact Person"
                      [(ngModel)]="investmentregistrationData.f064fcontactPerson" value="" required #Contact="ngModel">
                    <span *ngIf="Contact.errors && (Contact.dirty || Contact.touched || f.submitted)" class="form-errors">*
                      Enter the Contact Person One</span>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Effective Date<span class="required-class">*</span></label>
                    <input type="date" maxlength="50" class="form-control" name="f064feffectiveDate" [(ngModel)]="investmentregistrationData.f064feffectiveDate"
                      value="" required #Date="ngModel">
                    <span *ngIf="Date.errors && (Date.dirty || Date.touched || f.submitted)" class="form-errors">*
                      Select the Effective Date</span>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Maturity Date<span class="required-class">*</span> </label>
                    <input type="date" maxlength="50" class="form-control" (change)="dateCompare()" name="f064fmaturityDate"
                      [(ngModel)]="investmentregistrationData.f064fmaturityDate" value="" required #Maturity="ngModel">
                    <span *ngIf="Maturity.errors && (Maturity.dirty || Maturity.touched || f.submitted)" class="form-errors">*
                      Select the Maturity Date</span>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Period<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="durationtype" bindLabel="name"
                      bindValue="name" [(ngModel)]="investmentregistrationData.f064fdurationType" name="f06fdurationType"required #Intrestto="ngModel">
                    </ng-select>
                    <span *ngIf="Intrestto.errors && (Intrestto.dirty || Intrestto.touched || f.submitted)" class="form-errors">*
                      Enter the Interest To Bank</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Profit Calculation<span class="required-class">*</span></label>
                    <input type="text" disabled="disabled" maxlength="10" class="form-control" placeholder="Profit Calculation" name="f064finterestDay" [(ngModel)]="investmentregistrationData.f064finterestDay"
                      (keypress)="onlyNumberKey($event)" value="" #Intrestday="ngModel" required>
                    <span *ngIf="Intrestday.errors && (Intrestday.dirty || Intrestday.touched || f.submitted)" class="form-errors">*
                      Enter the Profit Calculation</span>

                  </div>
                  <!-- <div class="form-group">
                    <label>Profit Amount(RM)<span class="required-class">*</span></label>
                    <input type="text" maxlength="10" class="form-control" name="f064finterestDay" [(ngModel)]="investmentregistrationData.f064finterestDay"
                      (keypress)="onlyNumberKey($event)" value="" #Intrestday="ngModel" required>
                    <span *ngIf="Intrestday.errors && (Intrestday.dirty || Intrestday.touched || f.submitted)" class="form-errors">*
                      Enter the Amount</span>

                  </div> -->
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Investment Status<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="investmentstatusList | sort:'f011fdefinitionCode'"
                      bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="investmentregistrationData.f064finvestmentStatus"
                      name="f064finvestmentStatus" #Status="ngModel" required>
                    </ng-select>
                    <span *ngIf="Status.errors && (Status.dirty || Status.touched || f.submitted)" class="form-errors">*
                      Select the Investment Status</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>UUM Bank<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="banksetupaccountList  | sort:'Bank'" bindLabel="Bank"
                      bindValue="f041fid" [(ngModel)]="investmentregistrationData.f064fuumBank" name="f064fuumBank"
                      #UUM="ngModel" required>
                    </ng-select>
                    <span *ngIf="UUM.errors && (UUM.dirty || UUM.touched || f.submitted)" class="form-errors">*
                      Select the UUM Bank</span>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Contact Person Two<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="f064fcontactPerson2" [(ngModel)]="investmentregistrationData.f064fcontactPerson2"
                      value="" #Person="ngModel" required>
                    <span *ngIf="Person.errors && (Person.dirty || Person.touched || f.submitted)" class="form-errors">*
                      Enter the Contact Person Two</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Contact Email One<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="f064fcontactEmail"
                      [(ngModel)]="investmentregistrationData.f064fcontactEmail" value="" #Email="ngModel" required>
                    <span *ngIf="Email.errors && (Email.dirty || Email.touched || f.submitted)" class="form-errors">*
                      Enter the Contact Email One</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Contact Email Two</label>
                    <input type="text" maxlength="50" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="f064fcontactEmail2"
                      [(ngModel)]="investmentregistrationData.f064fcontactEmail2" value="" #Emailtwo="ngModel" required>
                    <!-- <span *ngIf="Emailtwo.errors && (Emailtwo.dirty || Emailtwo.touched || f.submitted)" class="form-errors">*
                      Enter the Contact Email Two</span> -->
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Fund <span class="required-class">*</span> </label>
                    <ng-select [disabled]="viewDisabled" [items]="fundList" bindLabel="f057fname" bindValue="f057fcode"
                      [(ngModel)]="investmentregistrationData.f064ffundCode" name="f064ffundCode" #Fund="ngModel"
                      required value="">
                    </ng-select>
                    <span *ngIf="Fund.errors && (Fund.dirty || Fund.touched || f.submitted)" class="form-errors">*
                      Select Fund</span>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Activity Code <span class="required-class">*</span> </label>
                    <ng-select [disabled]="viewDisabled" [items]="activitycodeList" bindLabel="f058fname" bindValue="f058fcompleteCode"
                      [(ngModel)]="investmentregistrationData.f064factivityCode" name="f064factivityCode" value=""
                      #activitycode="ngModel" required>
                    </ng-select>
                    <span *ngIf="activitycode.errors && (activitycode.dirty || activitycode.touched || f.submitted)"
                      class="form-errors">*
                      Select Activityc Code</span>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Cost Center <span class="required-class">*</span> </label>
                    <ng-select [disabled]="viewDisabled" [items]="DeptList" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                      [(ngModel)]="investmentregistrationData.f064fdepartmentCode" name="f064fdepartmentCode" value=""
                      #costcenter="ngModel" required>
                    </ng-select>
                    <span *ngIf="costcenter.errors && (costcenter.dirty || costcenter.touched || f.submitted)" class="form-errors">*
                      Select Cost Center</span>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Account Code<span class="required-class">*</span> </label>
                    <!-- <ng-select [disabled]="viewDisabled" [items]="accountcodeList" bindLabel="accountName" bindValue="f095faccountCode"
                      [(ngModel)]="investmentregistrationData.f064faccountCode" name="f064faccountCode" value=""
                      #accountcode="ngModel" required>
                    </ng-select> -->
                    <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'originalname'"
                            bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="investmentregistrationData.f064faccountCode"
                            name="f064faccountCode" #accountcode="ngModel" required>
                          </ng-select>
                    <span *ngIf="accountcode.errors && (accountcode.dirty || accountcode.touched || f.submitted)" class="form-errors">*
                      Select Account Code</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Previous Status<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="investmentstatusList  | sort:'f011fdefinitionCode'"
                      bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="investmentregistrationData.f064fpreviousStatus"
                      name="f064fpreviousStatus" #invsetstatus="ngModel" required>
                    </ng-select>
                    <span *ngIf="invsetstatus.errors && (invsetstatus.dirty || invsetstatus.touched || f.submitted)"
                      class="form-errors">*
                      Select the Investment Status</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Letter of Approval<span class="required-class">*</span></label>
                    <input type="file" class="form-control" name="file" [(ngModel)]="investmentregistrationData.file"
                      (change)="fileSelected($event)" accept=".pdf">
                    <!-- <span *ngIf="file.errors && (file.dirty || file.touched || f.submitted)" class="form-errors">*
                      Select File</span> -->
                  </div>
                </div>

              </div>
              <div class="row">
                <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label>Letter of Approval<span class="required-class">*</span></label>
                    <input type="file" class="form-control" name="file" [(ngModel)]="investmentregistrationData.file" 
                      (change)="fileSelected($event)" accept=".pdf">
                  </div>
                </div> -->
              </div>
              <div class="row">
                <div class="col-sm-4">
                </div>
                <div *ngIf="id>0" class="col-sm-4">
                  <a [routerLink]="" (click)="fileView()">View File</a>
                </div>
              </div>
              <!-- <div class="col-sm-4">
              <div class="form-group">
                <label>Previous Id<span class="required-class">*</span></label>
                <ng-select [items]="investmentstatusList" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                  [(ngModel)]="investmentregistrationData.f064fpreviousId" name="f064fpreviousId" #Status="ngModel"
                  required>
                </ng-select>
                <span *ngIf="pStatus.errors && (Status.dirty || Status.touched || f.submitted)" class="form-errors">*
                  Select the Investment Status</span>
              </div>
            </div> -->
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
                    <!-- <a routerLink="/investment/investmentregistration" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button> -->
                    <a [routerLink]="['/investment/investmentregistration']" class="btn nh-btn-secondary" *ngIf="idview==0">Cancel</a>
                    <a [routerLink]="['/investment/onlineapprovalone']" class="btn nh-btn-secondary" *ngIf="idview==2">Cancel</a>
                    <a [routerLink]="['/investment/onlineapprovaltwo']" class="btn nh-btn-secondary" *ngIf="idview==3">Cancel</a>
                    <a [routerLink]="['/investment/onlineapprovalthree']" class="btn nh-btn-secondary" *ngIf="idview==4">Cancel</a>
                    <button type="submit" class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>

                    <!-- <button type="submit" (click)='saveInvestmentregistration()' class="btn nh-btn-primary">Save</button> -->
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>