<app-header></app-header>
<section class="ps-main-section">
  <div class="ps-left-navbar">
    <ul class="ps-left-navbar-menu">
      <li class="ps-left-navbar-item">
        <a data-toggle="collapse" data-parent="#accordion" href="#setupscreens">
          <div class="panel-heading">
            Setup
          </div>
        </a>
        <div id="setupscreens" class="panel-collapse collapse">
          <div class="panel-body no-padding" *ngFor="let setup of setupList">
            <a routerLink='{{setup.f011flink}}' class="dash-sub-menu list-group-item">{{setup.f011fmenuName}}</a>
          </div>
        </div>
        <!-- <div id="setupscreens" class="panel-collapse collapse">
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/currencysetup" class="dash-sub-menu list-group-item">Currency Setup
              </a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/currencyratesetup" class="dash-sub-menu list-group-item">Currency Rate Setup
              </a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/creditcardterminal" class="dash-sub-menu list-group-item">Credit Card Terminal</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/feecategory" class="dash-sub-menu list-group-item">Fee Category</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/feeitem" class="dash-sub-menu list-group-item">Fee Item</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/feetype" class="dash-sub-menu list-group-item">Fee Type</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/semester" class="dash-sub-menu list-group-item">Semester</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/programme" class="dash-sub-menu list-group-item">Programme</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/studentinsurance" class="dash-sub-menu list-group-item">Student Insurance</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/tagstudentinsurance" class="dash-sub-menu list-group-item">Setup Insurance Policy</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/sponsor" class="dash-sub-menu list-group-item">Sponsor</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/student" class="dash-sub-menu list-group-item">Student</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/taggingsponsor" class="dash-sub-menu list-group-item">Tagging Sponsor</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/debttagging" class="dash-sub-menu list-group-item">Debt Tagging</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/feestructure" class="dash-sub-menu list-group-item">Fee Structure</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/legalinformation" class="dash-sub-menu list-group-item">Legal Information</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/studentfinance/debitinformation" class="dash-sub-menu list-group-item">Debt Information</a>
          </div>
        </div> -->
      </li>
      <li class="ps-left-navbar-item">
        <a data-toggle="collapse" data-parent="#accordion" href="#transactionscreens">
          <div class="panel-heading">
            Transaction
          </div>
        </a>
        <div id="transactionscreens" class="panel-collapse collapse">
          <div class="panel-body no-padding" *ngFor="let transaction of transactionList">
            <a routerLink='{{transaction.f011flink}}' class="dash-sub-menu list-group-item">{{transaction.f011fmenuName}}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<router-outlet></router-outlet>
<app-footer></app-footer>