<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">GL-Code Generation</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/generalsetup/addnewglcodegeneration']" class="btn nh-btn-primary">Glcode Generation</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table #dataTable class="table table-bordered table-striped table-food" >
            <thead>
              <tr>
                <th>GL Code</th>
                <th>Fund </th>
                <th>Department </th>
                <th>Activity </th>
                <th>Account</th></tr>
            </thead>
            <tbody>
              <tr *ngFor="let indglcodegeneration of glcodegenerationList | filter : searchText">
                <td>{{indglcodegeneration.f014fglCode}}</td>
                <td>{{indglcodegeneration.fundName}}</td>
                <td>{{indglcodegeneration.departmentName}}</td>
                <td>{{indglcodegeneration.activityName}}</td>
                <td>{{indglcodegeneration.accountName}}</td>
              </tr>
            </tbody>
          <tfoot>
            <tr>
              <th>GL Code</th>
              <th>Fund </th>
              <th>Department </th>
              <th>Activity </th>
              <th>Account</th>
            </tr>
          </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>