<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Confirm Payslip</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && confirmpayslipShow()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department<span class="required-class">*</span> </label>
                                    <ng-select [items]="DeptList | sort:'f015fdepartmentName'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="confirmpayslipData.f043fdepartment"
                                        name="f043fdepartment" #dept="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                                        Department</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Name<span class="required-class">*</span></label>
                                    <ng-select [items]="staffList  | sort:'f034fname'" bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="confirmpayslipData.f043fidStaff" name="f043fidStaff" #staff="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" staff.errors && (staff.dirty || staff.touched || f.submitted)" class="form-errors">*Select
                                        Staff Name</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Date<span class="required-class">*</span></label>
                                    <input type="date" class="form-control" [(ngModel)]="confirmpayslipData.f102feffectiveDate"
                                        style="text-align: right" name="f102feffectiveDate" required #effdate="ngModel">
                                    <span *ngIf="effdate.errors && (effdate.dirty || effdate.touched || f.submitted )"
                                        class="form-errors">*Select
                                        Effective Date.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                             <table width="100%" border="1">
                                 <tr>
                                     <td>Name </td>
                                     <td>{{salaryDetails.f034fname}}</td>
                                     <td>Pay Advice For</td>
                                     <td></td>

                                 </tr>
                                 <tr>
                                     <td>Department</td>
                                     <td>{{salaryDetails.MP_DEPT_CODE}}</td>
                                     <td>Pay Date</td>
                                     <td>12/12/2018</td>
                                </tr>
                                <tr>
                                    <td>Position</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                               </tr>
                            
                                <tr>
                                    <td colspan="2">
                                        <table width="100%" border="1" style="vertical-align: top;  ">
                                            <tr>
                                                <th colspan='2'  style="text-align:center">Earning </th>
                                            </tr>
                                            <tr *ngFor="let indearningComponent of earningComponents ">   
                                                <td>{{indearningComponent.f081fname}}</td>                                             
                                                <td style="text-align:right">{{indearningComponent.MPD_PAID_AMT}}</td>
                                            </tr>
                                            
                                        </table>
                                    </td>
                                    <td colspan = "2" style="vertical-align: top;">
                                        <table width="100%" border="1" >
                                            <tr>
                                                <th colspan='2'  style="text-align:center">Deduction </th>
                                            </tr>
                                            <tr *ngFor="let indearningComponent of deductionComponents ">   
                                                    <td>{{indearningComponent.f081fname}}</td>                                             
                                                    <td style="text-align:right">{{indearningComponent.MPD_PAID_AMT}}</td>
                                                </tr>
                                           
                                        </table>
                                    </td>
                               </tr>
                               <tr>
                                   <td style="text-align:center">Total Earning</td>
                                   <td style="text-align:right">120</td>
                                   <td style="text-align:center">Total Deduction</td>
                                   <td style="text-align:right">100</td>
                               </tr>
                               <tr>
                                   <td colspan="4"><br/></td>
                               </tr>
                           
                               <tr *ngFor="let indearningComponent of employerComponents ">   
                                    <td>{{indearningComponent.f081fname}}</td>                                             
                                    <td style="text-align:right">{{indearningComponent.MPD_PAID_AMT}}</td>
                                </tr>
                                
                            </table>
                        </div>
                     
                    </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <!-- <a [routerLink]="['/payroll/printsalarysheet']" class="btn nh-btn-secondary">Close</a> -->

                                    <button type="submit" class="btn um-btn-primary mar-l-20">Print</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>