<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Menu</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                  <button class="btn btn-search" type="button"><i class="fa fa-search"></i></button>
                </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a routerLink="/generalsetup/addnewmenu" class="btn nh-btn-primary" > Menu</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Parent</th>
                                <!-- <th>Order</th> -->
                                <th>Status</th>
                                <th>Link</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indmenu of menuList  | filter : searchText">
                                <td>{{indmenu.f011fmenuName}}</td>
                                <td>{{indmenu.f011fidParent}}</td>
                                <!-- <td>{{indmenu.f011forder}}</td> -->
                                <td>{{indmenu.f011fstatus === true?'Active':'Inactive'}}</td>
                                <td>{{indmenu.f011flink}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                            <a routerLink="/generalsetup/editmenu/{{indmenu.f011fid}}">
                                        <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i></button></a>
                                        <!-- <button class="btn nh-btn-remove"><i class="fas fa-trash-alt"></i></button> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 
  