<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Insurance Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Institution Code </label>
                                    <input type="text" maxlength="6" class="form-control" name="institutioncode" placeholder="Enter Institution Code " [(ngModel)]="insurancesetupData.f069finstitutionCode"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name </label>
                                    <input type="text" maxlength="40" class="form-control" name="name" placeholder="Enter Name " [(ngModel)]="insurancesetupData.f069fname"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Address </label>
                                    <input type="text" maxlength="50" class="form-control" name="address" placeholder="Enter Address " [(ngModel)]="insurancesetupData.f069faddress"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Phone Number </label>
                                    <input type="text" maxlength="12" class="form-control" name="phonenumber" placeholder="Enter Phone Number " [(ngModel)]="insurancesetupData.f069fphone"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Email </label>
                                    <input type="text" maxlength="12" class="form-control" name="email" placeholder="Enter Email " [(ngModel)]="insurancesetupData.f069femail"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Contact Person </label>
                                    <input type="text" maxlength="40" class="form-control" name="contactperson" placeholder="Enter Contact Person " [(ngModel)]="insurancesetupData.f069fcontactPerson"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Start Date </label>
                                    <input type="date" class="form-control" name="startdate" placeholder="Enter Start Date " [(ngModel)]="insurancesetupData.f069feffectiveDate"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>End Date </label>
                                    <input type="date" class="form-control" name="enddate" placeholder="Enter End Date  " [(ngModel)]="insurancesetupData.f069fendDate"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="insurancesetupData.f069fstatus" [checked]="insurancesetupData.f069fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="insurancesetupData.f069fstatus" [checked]="insurancesetupData.f069fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/studentfinance/insurancesetup']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='addInsurancesetup()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>