<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Adjustment</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a routerLink="/budget/addnewbudgetincrement" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetincrementList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f110fyear">Budget Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fundName">Fund</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fdepartmentCode">Cost Center</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f055fapprovalStatus"> Status</mfDefaultSorter>
                                </th>
                                <th>Edit/View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetincrement of mf.data">
                                <td>{{indbudgetincrement.f110fyear}}</td>
                                <td>{{indbudgetincrement.f055ffund}}-{{indbudgetincrement.fundName}}</td>
                                <td>{{indbudgetincrement.f015fdepartmentCode}} -
                                    {{indbudgetincrement.f015fdepartmentName}}</td>
                                <td>{{indbudgetincrement.f055fapprovalStatus}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/editbudgetincrement/{{indbudgetincrement.f055fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye" *ngIf="indbudgetincrement.f055fapprovalStatus == 'Approved'"></i>
                                                <i class="fa fa-edit" *ngIf="indbudgetincrement.f055fapprovalStatus == 'Pending'"></i>
                                                <i class="fa fa-eye" *ngIf="indbudgetincrement.f055fapprovalStatus == 'Rejected'"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>