<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Insurance Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewinsurancesetup']" class="btn nh-btn-primary">Add Insurance
                                Setup</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Institution Code</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Contact Person</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Edit</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indinsurancesetup of insurancesetupList | filter : searchText">
                                <td>{{indinsurancesetup.f069finstitutionCode}}</td>
                                <td>{{indinsurancesetup.f069fname}}</td>
                                <td>{{indinsurancesetup.f069faddress}}</td>
                                <td>{{indinsurancesetup.f069fphone}}</td>
                                <td>{{indinsurancesetup.f069femail}}</td>
                                <td>{{indinsurancesetup.f069fcontactPerson}}</td>
                                <td>{{indinsurancesetup.f069feffectiveDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indinsurancesetup.f069fendDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indinsurancesetup.f069fstatus == 1?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editinsurancesetup/{{indinsurancesetup.f069fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                  </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>