<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-block">
            <h1 class="ad-page-title" *ngIf="id==0">Journal Entry</h1>
            <h1 class="ad-page-title" *ngIf="idview==2">Journal Approval</h1>
            <h1 class="ad-page-title" *ngIf="idview==3">Journal Reversal</h1>
            <h1 class="ad-page-title" *ngIf="idview==4">Journal Approved List</h1>
            <button class="btn nh-btn-primary btn-addnew" (click)="openAddNewModal(content)" type="button">Add Journal Details</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row" id="target">

            <div class="col-sm-4" *ngIf="showReference == true">

              <label>Journal Reference Number<span class="required-class">*</span> </label>
              <input type="text" maxlength="100" class="form-control" name="f017freferenceNumber" readonly="readonly"
                [(ngModel)]="journalDataheader.f017freferenceNumber" value="" required #desc="ngModel">
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Journal Description <span class="required-class">*</span> </label>
                <input type="text" maxlength="100" class="form-control" name="f017fdescription"
                  placeholder="Enter Description" [(ngModel)]="journalDataheader.f017fdescription" value="" required
                  #desc="ngModel">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Approver <span class="required-class">*</span> </label>
                <ng-select [disabled]="viewDisabled" [items]="staffList1" bindLabel="f034fname" bindValue="f014fid"
                  [(ngModel)]="journalDataheader.f017fapprover" name="f017fapprover">
                </ng-select>
              </div>
            </div>



          </div>
          <hr class="devider">
          <div class="row"  *ngIf="viewDisabled==false">
            <div class="col-sm-12">
              <div class="text-left btn-block">
                <button class="btn nh-btn-primary btn-addnew" (click)="openAddNewModal(content)" type="button">Add New
                  Journal Details</button>
              </div>
            </div>
          </div>
          <hr class="devider">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="ad-page-title">Journal Details</h1>
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-food" id="target">
                  <thead>
                    <tr>
                      <th>Transaction Date</th>
                      <th>Fund</th>
                      <th>Activity Code</th>
                      <th>Department</th>
                      <th>Account Code</th>
                      <th>SO Code</th>
                      <th>Reference Number</th>
                      <th style='text-align: center;'>Debit Amount (RM)</th>
                      <th style='text-align: center;'>Credit Amount (RM)</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indVoucher of journalList; let i = index; trackBy:indexTracker;last as isLast">
                      <td>
                        <input [disabled]="viewDisabled" type="date" class="form-control" name="f018fdateOfTransaction"
                          [(ngModel)]="journalList[i].f018fdateOfTransaction" value="">
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                          bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="journalList[i].f018ffundCode"
                          name="f018ffundCode" #fund="ngModel" required>
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                          style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode"
                          [(ngModel)]="journalList[i].f018factivityCode" name="f018factivityCode" #activity="ngModel"
                          required>
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'"
                          style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                          [(ngModel)]="journalList[i].f018fdepartmentCode" name="f018fdepartmentCode" #dept="ngModel"
                          required>
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                          style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode"
                          [(ngModel)]="journalList[i].f018faccountCode" name="f018faccountCode" #account="ngModel"
                          required>
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="socodeList | sort:'socode'" style="width: 150px;"
                          bindLabel="socode" bindValue="socode" [(ngModel)]="journalList[i].f018fsoCode"
                          name="f018fsoCode">
                        </ng-select>
                      </td>
                      <td>
                        <input type="text" [disabled]="viewDisabled" class="form-control" name="f018freferenceNumber"
                          [(ngModel)]="journalList[i].f018freferenceNumber" value="">
                      </td>
                      <td>
                        <input type="text" [disabled]="viewDisabled" maxlength="15" style="text-align: right"
                          class="form-control" (keypress)="onlyNumberKey($event)"
                          [(ngModel)]="journalList[i].f018fdrAmount" value="">
                      </td>
                      <td>
                        <input type="text" [disabled]="viewDisabled" maxlength="15" style="text-align: right"
                          class="form-control" (keypress)="onlyNumberKey($event)"
                          [(ngModel)]="journalList[i].f018fcrAmount" value="">
                      </td>
                      <td *ngIf="!isLast">
                        <button class="btn nh-btn-primary" type="button" (click)='deleteJournal(journalList[i])'
                          *ngIf="viewDisabled==false">
                          <i class="fa fa-minus"></i>
                        </button>
                      </td>
                      <td *ngIf="isLast">
                        <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button"
                          (click)='deleteJournal(journalList[i])'>
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button"
                          (click)='showNewRow()'>
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                    </tr>

                   
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Total:{{this.debittotal}}</td>
                      <td>Total:{{this.credittotal}}</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/generalledger/journal" class="btn nh-btn-secondary" *ngIf="id==0">Cancel</a>
                <a routerLink="/generalledger/journalapprovedata" class="btn nh-btn-secondary"
                  *ngIf="idview==1">Cancel</a>
                <a routerLink="/generalledger/journalapproval" class="btn nh-btn-secondary" *ngIf="idview==2">Cancel</a>
                <a routerLink="/generalledger/journalreversal" class="btn nh-btn-secondary" *ngIf="idview==3">Cancel</a>
                <a routerLink="/generalledger/journalapprovedata" class="btn nh-btn-secondary"
                  *ngIf="idview==4">Cancel</a>
                <button type="submit" (click)='saveJournal()' class="btn nh-btn-primary"
                  *ngIf="viewDisabled==false">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Journal Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid scroll-wrapper">
      <div class="row custom-row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Date of Transaction<span class="required-class">*</span></label>
            <input type="date" [disabled]="viewDisabled" class="form-control" name="f018fdateOfTransaction"
              [(ngModel)]="journalData.f018fdateOfTransaction" value="">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Fund Code<span class="required-class">*</span></label>
            <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
              bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="journalData.f018ffundCode" name="f018ffundCode"
              #fund="ngModel" required>
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Activity code<span class="required-class">*</span></label>
            <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
              style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode"
              [(ngModel)]="journalData.f018factivityCode" name="f018factivityCode" #activity="ngModel" required>
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Department Code<span class="required-class">*</span></label>
            <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
              bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
              [(ngModel)]="journalData.f018fdepartmentCode" name="f018fdepartmentCode" #costCenter="ngModel" required>
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Account Code<span class="required-class">*</span></label>
            <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
              style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode"
              [(ngModel)]="journalData.f018faccountCode" name="f018faccountCode" #costCenter="ngModel" required>
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>SO Code<span class="required-class">*</span></label>
            <ng-select [disabled]="viewDisabled" [items]="socodeList | sort:'socode'" style="width: 150px;"
              bindLabel="socode" bindValue="socode" [(ngModel)]="journalData.f018fsoCode" name="f018fsoCode">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Reference Number<span class="required-class">*</span></label>
            <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control" name="f018freferenceNumber"
              placeholder="Enter Reference Number" [(ngModel)]="journalData.f018freferenceNumber" value=""> </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Debit Amount<span class="required-class">*</span></label>
            <input type="text" maxlength="10" (keypress)="onlyNumberKey($event)" style="text-align: right"
              class="form-control" maxlength="15" name="f018fdrAmount" placeholder="Enter Debit Amount"
              [(ngModel)]="journalData.f018fdrAmount" value="" required (keyup)="disableFieldsOfDRCR()"
              [readonly]="showDrReadonly">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Credit Amount<span class="required-class">*</span></label>
            <input type="text" maxlength="10" (keypress)="onlyNumberKey($event)" style="text-align: right"
              class="form-control" maxlength="15" name="f018fcrAmount" placeholder="Enter Credit Amount"
              [(ngModel)]="journalData.f018fcrAmount" value="" required (keyup)="disableFieldsOfDRCR()"
              [readonly]="showCrReadonly">
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    <button type="button" (click)='addjournallist()' class="btn nh-btn-primary"
      *ngIf="viewDisabled==false">Save</button>
  </div>
</ng-template>
