<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Depreciation</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addAssetdepreciation()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Number<span class="required-class">*</span></label>
                  <select class="form-control" [(ngModel)]="depreciationData.f088fassetNumber" name="f088fassetNumber"
                    value="" required #Number="ngModel">
                    <option value=''>-- Select-- </option>
                    <option *ngFor="let inddept of assetinformationList" [value]="inddept.f085fassetCode">{{inddept.f085fassetCode}}
                    </option>
                  </select>
                  <span *ngIf="Number.errors && (Number.dirty || Number.touched || f.submitted )" class="form-errors">*Enter
                    the Asset Number
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Month <span class="required-class">*</span> </label>
                  <select class="form-control" [(ngModel)]="depreciationData.f088fmonth" name="f088fmonth" placeholder="Enter Month "
                    required #Month="ngModel">
                    <option [ngValue]="undefined" hidden selected> --Select-- </option> -->
                    <option value="1">January</option>
                    <option value="2">Febuary </option>
                    <option value="3"> March </option>
                    <option value="4"> April </option>
                    <option value="5"> May </option>
                    <option value="6"> June </option>
                    <option value="7"> July </option>
                    <option value="8"> August </option>
                    <option value="9"> September </option>
                    <option value="10"> October </option>
                    <option value="11"> November </option>
                    <option value="12"> December </option>
                  </select>
                  <span *ngIf=" Month.errors && (Month.dirty || Month.touched || f.submitted)" class="form-errors">*Select
                    Month</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> Day <span class="required-class">*</span> </label>
                  <select class="form-control" [(ngModel)]="depreciationData.f088fday" name="f088fday" placeholder="Enter From Day "
                    required #From="ngModel">
                    <option [ngValue]="undefined" hidden selected> --Select-- </option> -->
                    <option *ngFor="let indrevenue of numberList" [value]="indrevenue.key">{{indrevenue.value}}</option>
                  </select>
                  <span *ngIf=" From.errors && (From.dirty || From.touched || f.submitted)" class="form-errors">*Select
                    Day</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <div [className]="'active'"></div>
                  <label>Status</label>
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="depreciationData.f088fstatus" [checked]="depreciationData.f088fstatus === '1'"
                    [value]="1"> Active
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="depreciationData.f088fstatus" [checked]="depreciationData.f088fstatus === '0'"
                    [value]="0"> Inactive
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/assets/assetdepreciation']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>