<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Debt Information</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/studentfinance/addnewdebitinformation']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped " [mfData]="debitinfoList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                  <th><mfDefaultSorter by="f098fcompanyName">Company Name</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f098fcontactOfficer">Contact Officer</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f098fphone">Phone Number</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f098femail">Email</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f098ffax">Fax Number</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f098faddress">Address</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f013fcountryName">Country</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f012fstateName">State</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f098fcity">City</mfDefaultSorter></th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inddebitinformation of mf.data ">
                <td>{{inddebitinformation.f098fcompanyName}}</td>
                <td>{{inddebitinformation.f098fcontactOfficer}}</td>
                <td>{{inddebitinformation.f098fphone}}</td>
                <td>{{inddebitinformation.f098femail}}</td>
                <td>{{inddebitinformation.f098ffax}}</td>
                <td>{{inddebitinformation.f098faddress}}</td>
                <td>{{inddebitinformation.f013fcountryName}}</td>
                <td>{{inddebitinformation.f012fstateName}}</td>
                <td>{{inddebitinformation.f098fcity}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/studentfinance/editdebitinformation/{{inddebitinformation.f098fid}}">
                      <button class="btn nh-btn-edit">

                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="11">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>