<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Upload File</h1>
                </div>
            </div>

            <form (ngSubmit)="f.form.valid && addUploadfile()" #f="ngForm" name="form" novalidate>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- <div class="form-group">
                    <label>Citizen<span class="required-class">*</span></label>
                    <ng-select [disabled]="editDisabled" [items]="citizenList | sort:'name'" bindLabel="name"
                      bindValue="value" [(ngModel)]="generatebillData.citizen" name="citizen" #citizen="ngModel"
                      required>
                    </ng-select>
                  </div> -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Upload File<span class="required-class">*</span></label>
                                        <input type="file" class="form-control" name="file" [(ngModel)]="uploadData.f063ffileUpload"
                                            (change)="fileSelected($event)" accept=".pdf">
                                        <!-- <span *ngIf="file.errors && (file.dirty || file.touched || f.submitted)" class="form-errors">*
                        Select File</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <!-- <a routerLink="/investment/uploadfile" class="btn nh-btn-secondary">Cancel</a> -->
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>