<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Creditor Setup</h1>
        </div>
      </div>
      <form (ngSubmit)="f.form.valid && addCreditorsetup()" #f="ngForm" name="form" novalidate>

        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Name<span class="required-class">*</span> </label>
                <!-- <select class="form-control" [(ngModel)]="creditorsetupData.f095fsetupId" name="f095fsetupId" value=""
                  required #user="ngModel">
                  <option value=''>Please Select </option>
                  <option *ngFor="let indlist of paymenttypeList" [value]="indlist.f011fid">{{
                    indlist.f011fdefinitionCode
                    }}</option>
                </select> -->

                <ng-select [items]="paymenttypeList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                [(ngModel)]="creditorsetupData.f095fsetupId" name="f095fsetupId" #user="ngModel"
                required>
            </ng-select>


                <span *ngIf="user.errors && (user.dirty || user.touched || f.submitted)" class="form-errors">*
                  Select Name</span>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Account Code <span class="required-class">*</span> </label>
                <!-- <select class="form-control" [(ngModel)]="creditorsetupData.f095faccountCode" name="f014faccountId"
                  value="" required #account="ngModel">
                  <option value=''>Please Select </option>
                  <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fid">{{
                    indaccountcode.f059fname }}</option>
                </select> -->

                <ng-select [items]="accountcodeList | sort:'originalname'" bindLabel="f059fname" bindValue="f059fid"
                [(ngModel)]="creditorsetupData.f095faccountCode" name="f095faccountCode" #account="ngModel"
                required>
            </ng-select>


                <span *ngIf=" account.errors && (account.dirty || account.touched || f.submitted)" class="form-errors">*Select
                Account Code</span>
              </div>
            </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <div [className]="'active'"></div>
                        <label>Description</label>
                        <textarea maxlength="25" class="form-control" name="module" placeholder="Description" [(ngModel)]="creditorsetupData.f095fdescription"
                          value="" required #desc="ngModel"></textarea>
                          <span *ngIf="desc.errors && (desc.dirty || desc.touched || f.submitted)" class="form-errors">*
                              Select Description</span>
                        
                      </div>
                    </div>
          </div>
            <div class="row">      
            <div class="col-sm-4">
              <div class="form-group">
                <div [className]="'active'"></div>
                <label>Status</label>
                <br>
                <input type="radio" name="Status" [(ngModel)]="creditorsetupData.f095fstatus" [checked]="creditorsetupData.f095fstatus === '1'"
                  [value]="1"> Active
                <br>
                <input type="radio" name="Status" [(ngModel)]="creditorsetupData.f095fstatus" [checked]="creditorsetupData.f095fstatus === '0'"
                  [value]="0"> Inactive
                <br>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div [className]="'active'"></div>
                    <label>Description</label>
                    <textarea maxlength="25" class="form-control" name="module" placeholder="Description" [(ngModel)]="creditorsetupData.f095fdescription"
                      value="" required #module="ngModel"></textarea>
    
                    <br>
                  </div>
                </div>
              </div>
        </div> -->
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <a routerLink="/generalsetup/creditorsetup" class="btn nh-btn-secondary">Cancel</a>
              <button type="submit" class="btn nh-btn-primary">Save</button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
