<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll; padding-bottom: 100px">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">GRN DONATION</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Order Type<span class="required-class">*</span></label>
              <input type="text" maxlength="25" disabled="disabled" class="form-control" name="f121forderType"
                placeholder="Enter Order Type" [(ngModel)]="manualDataheader.f121forderType" value="">
            </div>
          </div>
          <div class="col-sm-4" *ngIf="id>0">
            <div class="form-group">
              <label>Reference Number<span class="required-class">*</span></label>
              <input type="text" readonly="readonly" maxlength="25" class="form-control" name="f121freferenceNumber"
                placeholder="Reference Number" [(ngModel)]="manualDataheader.f121freferenceNumber" value="">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label>Approval Date<span class="required-class">*</span></label>
              <input type="date" maxlength="25" class="form-control" name="f121fapproveDate" placeholder="Enter Order Date "
                [(ngModel)]="manualDataheader.f121fapproveDate" value="">
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label>Donor<span class="required-class">*</span> </label>
              <input maxlength="50" class="form-control" name="f121fdonor" placeholder="Enter Donor"
                [(ngModel)]="manualDataheader.f121fdonor" value="">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Value(RM)<span class="required-class">*</span> </label>
              <input maxlength="15" class="form-control" style="text-align:right" name="f121fvalue" readonly="readonly" placeholder="Value" [(ngModel)]="manualDataheader.f121fvalue"
              (blur)="getAmount1()">
            </div>
          </div>



          <div class="row">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Asset Type</th>
                  <th>Fund</th>
                  <th>Activity Code</th>
                  <th>Department</th>
                  <th>Account Code</th>
                  <th>Quantity</th>
                  <th>Price(RM)</th>
                  <th>Total(RM)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inddebitinfo of disposalreqList;let i = index;trackBy:indexTracker;last as isLast">
                  <td>
                    <ng-select [items]="ftype" bindLabel="name" bindValue="name" style="width: 150px;" [(ngModel)]="disposalreqList[i].f121fassetType"
                      name="f121fassetType" #assettype="ngModel" required>
                    </ng-select>
                  </td>
                  <td *ngIf="manualData.f086fidType=='1'">
                    <ng-select [items]="assetssList" bindLabel="f087fcategoryCode" style="width: 150px;" bindValue="f087fid"
                      [(ngModel)]="disposalreqList[i].f034fidItem" name="f034fidItem">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="fundList|sort:'f057fcode'" bindLabel="f057fname" bindValue="f057fcode" style="width: 150px;"
                      [(ngModel)]="disposalreqList[i].f121ffundCode" name="f121ffundCode">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" style="width: 150px;" bindLabel="f058fname"
                      bindValue="f058fcompleteCode" [(ngModel)]="disposalreqList[i].f121factivityCode" name="f121factivityCode">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;" bindLabel="f015fdepartmentName"
                      bindValue="f015fdepartmentCode" [(ngModel)]="disposalreqList[i].f121fdepartmentCode" name="f121fdepartmentCode">
                    </ng-select>
                  </td>

                  <td>
                    <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" style="width: 150px;" bindLabel="f059fname"
                      bindValue="f059fcompleteCode" [(ngModel)]="disposalreqList[i].f121faccountCode" name="f121faccountCode">
                    </ng-select>
                  </td>
                  <td><input type="text" maxlength="10" class="form-control" style="width: 120px" name="f121fquantity"
                      [(ngModel)]="disposalreqList[i].f121fquantity"  (blur)="getAmount1()" (keypress)="onlyNumberKey($event)" placeholder="Enter Quantity">
                  </td>
                  <td><input type="text" maxlength="15" class="form-control" style="text-align: right; width: 120px"  (blur)="getAmount1()"
                      name="f121fprice" [(ngModel)]="disposalreqList[i].f121fprice" (keypress)="onlyNumberKey($event)" placeholder="Enter Price(RM)">
                  </td>

                  <td><input type="text" readonly="readonly" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                      name="f121ftotal" [(ngModel)]="disposalreqList[i].f121ftotal" placeholder="Total">
                  </td>
                  <td *ngIf="!isLast">
                    <button class="btn nh-btn-primary" type="button" (click)='deleteManualgrn(disposalreqList[i])'>
                      <i class="fa fa-minus"></i>
                    </button>
                  </td>
                  <td *ngIf="isLast">
                    <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteManualgrn(disposalreqList[i])'>
                      <i class="fa fa-minus"></i>
                    </button>
                    <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>
                <tr *ngIf="showLastRow==false">
                  <td>
                    <ng-select [items]="ftype" bindLabel="name" bindValue="name" style="width: 150px;" [(ngModel)]="manualData.f121fassetType"
                      name="f121fassetType" #assettype="ngModel" required>
                    </ng-select>
                  </td>
                  <td *ngIf="manualData.f034ftype=='1'">
                    <ng-select [items]="assetssList" bindLabel="f087fcategoryCode" bindValue="f087fid" style="width: 150px;"
                      [(ngModel)]="manualData.f034fidItem" name="f034fidItem">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="fundList|sort:'f057fcode'" bindLabel="f057fname" bindValue="f057fcode" style="width: 150px;"
                      [(ngModel)]="manualData.f121ffundCode" name="f121ffundCode">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" bindLabel="f058fname" bindValue="f058fcompleteCode"
                      [(ngModel)]="manualData.f121factivityCode" style="width: 150px;" name="f121factivityCode">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                      bindValue="f015fdepartmentCode" [(ngModel)]="manualData.f121fdepartmentCode" style="width: 150px;"
                      name="f121fdepartmentCode">
                    </ng-select>
                  </td>

                  <td>
                    <ng-select [items]="accountcodeList|sort:'f059fcompleteCode'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                      [(ngModel)]="manualData.f121faccountCode" style="width: 150px;" name="f121faccountCode">
                    </ng-select>
                  </td>
                  <td><input type="text" maxlength="10" class="form-control" style="width: 120px" name="f121fquantity"
                      [(ngModel)]="manualData.f121fquantity"  placeholder="Enter Quantity" (keypress)="onlyNumberKey($event)" (blur)="getAmount()">
                  </td>
                  <td><input type="text" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                      name="f121fprice" [(ngModel)]="manualData.f121fprice" (keypress)="onlyNumberKey($event)"  (blur)="getAmount()" placeholder="Enter Price(RM)">
                  </td>

                  <td><input type="text" readonly="readonly" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                      name="f121ftotal" [(ngModel)]="manualData.f121ftotal" placeholder="Total(RM)">
                  </td>
                  <td>
                    <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                      <i class="fa fa-minus"></i>
                    </button>
                    <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addmanualgrnlist()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/assets/manualgrn" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveManualgrn()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>