<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Staff Number<span class="required-class">*</span></label>
                                <input type="text" class="form-control" name="staff" [(ngModel)]="searchappData.staff">
                            </div>
                        </div>
                        <td>
                            <button type="submit" class="btn um-btn-primary mar-l-20">Search</button>
                        </td>
                        <td>
                            <button type="submit" class="btn um-btn-primary mar-l-20">Reset</button>
                        </td>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Application Number<span class="required-class">*</span></label>
                                <input type="text" class="form-control" name="appname" [(ngModel)]="searchappData.appname">
                            </div>
                        </div>
                        <td>
                            <button type="submit" class="btn um-btn-primary mar-l-20">Search</button>
                        </td>
                        <td>
                            <button type="submit" class="btn um-btn-primary mar-l-20">Reset</button>
                        </td>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>