<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget File Import</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && uploadFile()" #f="ngForm" name="form" novalidate>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="file" maxlength="65" class="form-control" name="file" [(ngModel)]="uploadData.file"
                                    value="" required #file="ngModel" (change)="fileSelected($event)" accept=".csv">
                                <span *ngIf="file.errors && (file.dirty || file.touched || f.submitted )" class="form-errors">*Select
                                    file to import data.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="text-right">
                                    <button type="submit" class="btn nh-btn-primary">Upload</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>