<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Virement Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetvirementapprovalList"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="financialYear">Budget Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f056ffromFundCode">From Fund</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fdepartmentName">From Cost Center</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f056fapproval"> Status</mfDefaultSorter>
                                </th>
                                <th>Approve/Reject</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetvirementapproval of mf.data | filter : searchText ">
                                <td>{{indbudgetvirementapproval.financialYear}}</td>
                                <td>{{indbudgetvirementapproval.f056ffromFundCode}} -
                                    {{indbudgetvirementapproval.fundName}}</td>
                                <td>{{indbudgetvirementapproval.f015fdepartmentCode}}-{{indbudgetvirementapproval.departmentCode}}</td>
                                <td>{{indbudgetvirementapproval.f056fapproval == 1 ?'Approved':'Pending'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indbudgetvirementapproval.approvalstatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/viewbudgetvirement/{{indbudgetvirementapproval.f056fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="6">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="approvalData.reason" name="approvalData.reason"
                                placeholder="Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='addBudgetvirementapproval()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectaddBudgetvirementapproval()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>