<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">GL CODE</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a href="generalsetup/addnewglcode" class="btn nh-btn-primary" >Add New GLCode</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" class="table table-striped">
                        <thead>
                            <tr>
                                <th>GL CODE</th>
                                <th>GL DESCRIPTION</th>
                                <th class="actions-col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indGlCode of glList | filter : searchText">
                                <td>{{indGlCode.f014fglCode}}</td>
                                <td>{{indGlCode.f014fglDescription}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <button class="btn nh-btn-edit">
                                                <a href="generalsetup/editglcode/{{indGlCode.f014fid}}"><i class="fa fa-edit"></i></a></button>
                                        <button class="btn nh-btn-remove"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 
  