<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Asset Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addAssets()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Procurement Sub Category<span class="required-class">*</span></label>
                                    <ng-select [items]="itemgroupList | sort: 'category'" bindLabel="f028fsubCategoryName"
                                        bindValue="f028fid" [(ngModel)]="assetsData.f087fidItemGroup" name="f087fidItemGroup"
                                        #item="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="item.errors && (item.dirty || item.touched || f.submitted )" class="form-errors">*Select
                                        Procurement Sub Category
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Category<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f087fcategoryDiscription"
                                        placeholder="Enter Asset Category" [(ngModel)]="assetsData.f087fcategoryDiscription"
                                        value="" required #name="ngModel">
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Enter
                                        the Asset Category
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Category Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f087fcategoryCode"
                                        placeholder="Enter Asset Category Code" [(ngModel)]="assetsData.f087fcategoryCode"
                                        value="" required #Code="ngModel">
                                    <span *ngIf="Code.errors && (Code.dirty || Code.touched || f.submitted )" class="form-errors">*Enter
                                        the Asset Category Code
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Percentage(%)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="3" class="form-control" name="f087fpercentage"
                                        placeholder="Enter Percentage" [(ngModel)]="assetsData.f087fpercentage" value=""
                                        required #Code="ngModel">
                                    <span *ngIf="Code.errors && (Code.dirty || Code.touched || f.submitted )" class="form-errors">*Enter
                                        the Percentage
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="assetsData.f087fstatus" [checked]="assetsData.f087fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="assetsData.f087fstatus" [checked]="assetsData.f087fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/assets']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>