<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/levelone']">
                                    General Object </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/leveltwo']">
                                    Specific Object </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/levelthree']">
                                    Detail Object</a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title">General Object</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <!-- <div class="col-sm-12"> -->
                    <thead>
                        <tr>
                            <th>Group Code</th>
                            <th>Account Code Description</th>
                            <th>Account Code Category</th>
                            <th>Account Code Type</th>
                            <th>Activity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- </div> -->
                    <tbody>
                        <tr *ngFor="let indlevelone of leveloneList; let i = index">


                            <td>
                                <input type="text" class="form-control" maxlength="1" name="f059fcode" placeholder="Enter Group Code"
                                    (keypress)="onlyNumberKey($event)" [(ngModel)]="leveloneList[i].f059fcode" value=""
                                    (blur)="onBlurMethod(leveloneList[i])">
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="150" name="f059fname" placeholder="Enter Account Code Description"
                                    [(ngModel)]="leveloneList[i].f059fname" value="">
                            </td>

                            <td>
                                <ng-select [items]="type" bindLabel="name" bindValue="id" [(ngModel)]="leveloneList[i].f059ftype"
                                    name="f059ftype" #tax="ngModel" required>
                                </ng-select>

                            </td>
                            <td>
                                <ng-select [items]="baltype" bindLabel="name" bindValue="id" [(ngModel)]="leveloneList[i].f059fbalanceType"
                                    name="f059fbalanceType">
                                </ng-select>
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="25" name="f059faccountActivity"
                                    placeholder="Enter Activity" [(ngModel)]="leveloneList[i].f059faccountActivity">
                            </td>
                            <td>
                                <!-- <input type="button" name="add" (click)='deletelevelone(leveloneList[i])' value='Delete' class="btn nh-btn-primary" /> -->
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <input type="text" class="form-control" maxlength="1" name="code" placeholder="Enter Code"
                                    (keypress)="onlyNumberKey($event)" [(ngModel)]="leveloneData.f059fcode" value="">
                            </td>

                            <td>
                                <input type="text" class="form-control" maxlength="150" name="f059fname" placeholder="Enter Account Code Description"
                                    [(ngModel)]="leveloneData.f059fname" value="">
                            </td>
                            <td>
                                <ng-select [items]="type" bindLabel="name" bindValue="id" [(ngModel)]="leveloneData.f059ftype"
                                    name="f059ftype">
                                </ng-select>
                            </td>
                            <td>
                                <ng-select [items]="baltype" bindLabel="name" bindValue="id" [(ngModel)]="leveloneData.f059fbalanceType"
                                    name="f059fbalanceType">
                                </ng-select>
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="25" name="f059faccountActivity"
                                    placeholder="Enter Activity" [(ngModel)]="leveloneData.f059faccountActivity">
                            </td>
                            <td>
                                <!-- <input type="button" name="add" (click)='addLevelone()' value='ADD' class="btn nh-btn-primary" /> -->
                                <button class="btn nh-btn-primary" type="button" (click)='addLevelone()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/generalsetup/levelone" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveLevelone()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>