

<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">VOUCHER</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a href="generalsetup/addnewvocher" class="btn nh-btn-primary" >Add New Voucher</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>VoucherType</th>
                                <th>VoucherName</th>
                                <th>ParentVoucherType</th>
                                <th>EffectiveDate</th>
                                <th>AutoNumbering</th>
                                <th>Prefix</th>
                                <th>suffix</th>
                                <th>AutoPrintAfterSaving</th>
                                <th>AutoNarration</th>
                                <th>AutoNarrationDescription</th>
                                <th>ResetNumberEveryFY</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indVocher  of vocherList | filter : searchText">
                                <td>{{indVocher.VoucherType}}</td>
                                <td>{{indVocher.VoucherName}}</td>
                                <td>{{indVocher.ParentVoucherType}}</td>
                                <td>{{indVocher.EffectiveDate}}</td>
                                <td>{{indVocher.AutoNumbering}}</td>
                                <td>{{indVocher.Prefix}}</td>
                                <td>{{indVocher.suffix}}</td>
                                <td>{{indVocher.AutoPrintAfterSaving}}</td>
                                <td>{{indVocher.AutoNarration}}</td>
                                <td>{{indVocher.AutoNarrationDescription}}</td>
                                <td>{{indVocher.ResetNumberEveryFY}}</td>
                                <td>{{indVocher.ffglDescription}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <button class="btn nh-btn-edit">
                                                <a href="generalsetup/editvocher/{{indVocher.ffid}}"><i class="fa fa-edit"></i></a></button>
                                        <button class="btn nh-btn-remove"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 
  