<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Tagging Sponsor</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid" #f="ngForm" name="form" novalidate>
                        <!-- <div *ngIf="edit == true"> -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Sponsor Name<span class="required-class">*</span> </label>
                                    <!-- <select class="form-control" [(ngModel)]="taggingData.f064fidSponsor" name="f064fidSponsor"
                                        value="" required #sponsor="ngModel">
                                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                        <option *ngFor="let indsponsor of sponsorList" [value]="indsponsor.f063fid">{{
                                            indsponsor.f063fname }}
                                        </option>
                                    </select> -->
                                    <ng-select [items]="sponsorList | sort: 'SponsorName'" bindLabel="SponsorName" bindValue="f063fid"
                                        [(ngModel)]="taggingData.f064fidSponsor" name="f064fidSponsor" #sponsor="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" sponsor.errors && (sponsor.dirty || sponsor.touched || f.submitted)"
                                        class="form-errors">*Select Sponsor.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Student Name</label>
                                    <!-- <select class="form-control" [(ngModel)]="taggingData.f064fidStudent" name="f064fidStudent"
                                        value="" required #student="ngModel">
                                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                        <option *ngFor="let indstudent of studentList" [value]="indstudent.f060fid">{{
                                            indstudent.f060fname }}
                                        </option>
                                    </select> -->
                                    <ng-select [items]="studentList | sort: 'f060fname'" bindLabel="f060fname"
                                        bindValue="f060fid" [(ngModel)]="taggingData.f064fidStudent" name="f064fidStudent"
                                        #student="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" student.errors && (student.dirty || student.touched || f.submitted)"
                                        class="form-errors">*Select Student.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Metric Number<span class="required-class">*</span> </label>
                                    <input type="text" maxlength="10" class="form-control" name="f064fmetricNumber"
                                        placeholder="Enter Metric Number" (keypress)="onlyNumberKey($event)"
                                        [(ngModel)]="taggingData.f064fmetricNumber" value="" required #metric="ngModel">
                                    <span *ngIf=" metric.errors && (metric.dirty || metric.touched || f.submitted)"
                                        class="form-errors">*Enter the Metric Number.
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label> From Semester </label>
                                    <select class="form-control" [(ngModel)]="taggingData.f064fidSemester" name="f064fidSemester"
                                        value="" required #sem="ngModel">
                                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                        <option *ngFor="let indsemester of semesterList" [value]="indsemester.f053fid">{{
                                            indsemester.f053fsemester }}
                                        </option>
                                    </select>
                                    <ng-select [items]="semesterList | sort: 'f053fsemester'" bindLabel="f053fsemester"
                                        bindValue="f053fid" [(ngModel)]="taggingData.f064fidSemester" name="f064fidSemester"
                                        #sem="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" sem.errors && (sem.dirty || sem.touched || f.submitted)" class="form-errors">*Select
                                        From
                                        Semester
                                        .</span>
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label>To Semester </label>
                                    <select class="form-control" class="form-control" name="refnum" placeholder="Enter Reference Number "
                                        [(ngModel)]="taggingData.f064fagreementNo" value="">
                                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                        <option *ngFor="let indsemester of semesterList" [value]="indsemester.f053fid">{{
                                            indsemester.f053fsemester }}
                                        </option>
                                    </select>
                                    <ng-select [items]="semesterList | sort: 'f053fsemester'" bindLabel="f053fsemester"
                                        bindValue="f053fid" [(ngModel)]="taggingData.f064fagreementNo" name="f064fagreementNo"
                                        #semto="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" semto.errors && (semto.dirty || semto.touched || f.submitted)" class="form-errors">*Select
                                        To Semester
                                        .</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Start Date </label>
                                    <input type="date" maxlength="100" class="form-control" name="f064fstartDate"
                                        placeholder="Enter Start Date" (change)="dateComparison()" [(ngModel)]="taggingData.f064fstartDate"
                                        value="" required #stdate="ngModel">
                                    <span *ngIf=" stdate.errors && (stdate.dirty || stdate.touched || f.submitted)"
                                        class="form-errors">*Select Start Date.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>End Date </label>
                                    <input type="date" maxlength="50" class="form-control" name="f064fendDate"
                                        placeholder="Enter End Date " (change)="dateComparison()" [(ngModel)]="taggingData.f064fendDate"
                                        value="" required #endate="ngModel">
                                    <span *ngIf=" endate.errors && (endate.dirty || endate.touched || f.submitted)"
                                        class="form-errors">*Select End Date.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Extension Date </label>
                                    <input type="date" maxlength="50" class="form-control" name="f064fextensionDate"
                                        placeholder="Enter Extension Date" (change)="extensiondateComparison()"
                                        [(ngModel)]="taggingData.f064fextensionDate" value="" required #extdate="ngModel">
                                    <span *ngIf=" extdate.errors && (extdate.dirty || extdate.touched || f.submitted)"
                                        class="form-errors">*Select Extension Date.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Passport Number<span class="required-class">*</span> </label>
                                    <input type="text" maxlength="10" class="form-control" name="f064fpassportNumber"
                                        placeholder="Enter Passport Number" [(ngModel)]="taggingData.f064fpassportNumber"
                                        value="" required #passport="ngModel">
                                    <span *ngIf="passport.errors && (passport.dirty || passport.touched || f.submitted)"
                                        class="form-errors">*Enter the Passport Number.
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Document Reference Number<span class="required-class">*</span> </label>
                                    <input type="text" maxlength="10" class="form-control" name="f064fdocumentRefNo"
                                        placeholder="Enter Document Reference Number" [(ngModel)]="taggingData.f064fdocumentRefNo"
                                        value="" required #docreference="ngModel">
                                    <span *ngIf="docreference.errors && (docreference.dirty || docreference.touched || f.submitted)"
                                        class="form-errors">*Enter the Document Reference Number.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                        <div class="row" *ngIf="id==0">
                            <div class="col-sm-4" *ngIf="edit == false">
                                <div class="form-group">
                                    <label>Upload Document<span class="required-class">*</span> </label>
                                    <input type="file" maxlength="10" class="form-control" name="file" placeholder="Upload Document"
                                        [(ngModel)]="taggingData.file" value="" (change)="fileSelected($event)" accept=".pdf"
                                        #uploaddoc="ngModel">
                                    <!-- <span *ngIf="uploaddoc.errors && (uploaddoc.dirty || uploaddoc.touched || f.submitted)"
                                        class="form-errors">*Upload Document.
                                        </span> -->
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Tagging Sponsor </label>
                                    <select class="form-control" [(ngModel)]="taggingData.f064fidSemester" name="f064fidSemester"
                                        value="" required #tagg="ngModel">
                                        <option *ngFor="let indtaggingsp of sponsorList" [value]="indtaggingsp.f053fid">{{
                                            indtaggingsp.f053fsemester }}
                                        </option>
                                    </select>
                                    <span *ngIf=" tagg.errors && (tagg.dirty || tagg.touched || f.submitted)" class="form-errors">*Select
                                        Tagging Sponsor
                                        .</span>
                                </div>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label> Sponsor Limit</label>
                                        <input type="text" maxlength="50" class="form-control" name="city" placeholder="Enter Sponsor Limit"
                                            [(ngModel)]="taggingData.f064fextensionDate" value="" required #limit="ngModel">
                                        <span *ngIf=" limit.errors && (limit.dirty || limit.touched || f.submitted)"
                                            class="form-errors">*Enter Sponsor Limit
                                            .</span>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="taggingData.f064fstatus" [checked]="taggingData.f064fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="taggingData.f064fstatus" [checked]="taggingData.f064fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div> -->
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/studentfinance/taggingsponsor']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary" (click)="addTaggingsponsor()">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>