<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="approvalList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="name">Loan Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f045fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f045ffile">File</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f045fnoOfMonths">Number Of Months</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="staff">Staff</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f045fguarantee">Guarantee</mfDefaultSorter>
                                </th>
                                <th>Approve ( Select all ) <input type="checkbox" [(ngModel)]="selectAllCheckbox"
                                        (change)="selectAll()"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indaapproval of mf.data">
                                <td>{{indaapproval.name}}</td>
                                <td>{{indaapproval.f045fdescription}}</td>
                                <td>{{indaapproval.f045ffile}}</td>
                                <td>{{indaapproval.f045fnoOfMonths}}</td>
                                <td>{{indaapproval.staff}}-{{indaapproval.f043fempName}}</td>
                                <td>{{indaapproval.f045fguarantee}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indaapproval.f045fapprovalStatus">
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='approvalListData()' class="btn nh-btn-primary">Approve</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>