<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Item</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addItemsetup()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Procurement Category<span class="required-class">*</span></label>
                  <ng-select [items]="itemcategoryList " bindLabel="f027fcategoryName" bindValue="f027fid" [(ngModel)]="itemsetupData.f029fidCategory"
                    name="f029fidCategory" #category="ngModel" required class="formm-control" (change)="getSubCategories()">
                  </ng-select>
                  <span *ngIf="category.errors && (category.dirty || category.touched || f.submitted)" class="form-errors">*
                    Select Procurement Category</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> Procurement Sub Category<span class="required-class">*</span></label>
                  <ng-select [items]="itemsubcategoryList " bindLabel="f028fsubCategoryName" bindValue="f028fid"
                    [(ngModel)]="itemsetupData.f029fidSubCategory" name="f029fidSubCategory" #subcat="ngModel" required
                    class="formm-control">
                  </ng-select>
                  <span *ngIf="subcat.errors && (subcat.dirty || subcat.touched || f.submitted)" class="form-errors">*Select
                    Procurement Sub Category</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Item <span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f029fitemName" placeholder="Enter Item"
                    [(ngModel)]="itemsetupData.f029fitemName" value="" required #Name="ngModel">
                  <span *ngIf="Name.errors && (Name.dirty || Name.touched || f.submitted )" class="form-errors">*Enter
                    the Item
                    .</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4" *ngIf="id>0">
                <div class="form-group">
                  <label>Item Code<span class="required-class">*</span></label>
                  <input type="text" disabled="disabled" class="form-control" name="f029fitemCode" placeholder="Item Code"
                    [(ngModel)]="itemsetupData.f029fitemCode">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>UOM<span class="required-class">*</span></label>
                  <input type="text" maxlength="10" class="form-control" name="f029funit" placeholder="Enter UOM"
                    [(ngModel)]="itemsetupData.f029funit" value="" required #unit="ngModel">
                  <span *ngIf="unit.errors && (unit.dirty || unit.touched || f.submitted )" class="form-errors">*Enter
                    the UOM
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Account Code<span class="required-class">*</span></label>
                  <ng-select [items]="accountcodeList | sort: 'f059fcompleteCode'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                    [(ngModel)]="itemsetupData.f029faccountCode" name="f029faccountCode" value="" #Code="ngModel"
                    required>
                  </ng-select>
                  <span *ngIf="Code.errors && (Code.dirty || Code.touched || f.submitted )" class="form-errors">*Select
                    Account Code
                    .</span>
                </div>
              </div>
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <label>Tax Code<span class="required-class">*</span></label>
                  <ng-select [items]="taxsetupcodeList | sort:'f081fcode'" bindLabel="f081fcode" bindValue="f081fid"
                    [(ngModel)]="itemsetupData.f029fidTax" name="f029fidTax" #tax="ngModel" required class="formm-control">
                  </ng-select>
                  <span *ngIf="tax.errors && (tax.dirty || tax.touched || f.submitted)" class="form-errors">*Select
                    Tax Code</span>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <div [className]="'active'"></div>
                  <label>Status</label>
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="itemsetupData.f029fstatus" [checked]="itemsetupData.f029fstatus === '1'"
                    [value]="1"> Active
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="itemsetupData.f029fstatus" [checked]="itemsetupData.f029fstatus === '0'"
                    [value]="0"> Inactive
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/procurement/itemsetup']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>