<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" id="target">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title" *ngIf="idview!=3 && idview!=2">Petty Cash Entry</h1>
                    <h1 class="ad-page-title" *ngIf="idview==2">Petty Cash Approval</h1>
                    <h1 class="ad-page-title" *ngIf="idview==3">Petty Cash Re-Embarrassment</h1>

                </div>
            </div>
            <form (ngSubmit)="f.form.valid && addPattycashentry()" #f="ngForm" name="form" novalidate>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Petty Cash ID<span class="required-class">*</span></label>
                                <ng-select [items]="pettycashIdList | sort:'f122freferenceNo'" bindLabel="f122freferenceNo"
                                    bindValue="f122fid" [(ngModel)]="pattycashentryData.f123fidAllocation"
                                    name="f123fidAllocation" #cashid="ngModel" required>
                                </ng-select>
                                <span *ngIf="cashid.errors && (cashid.dirty || cashid.touched || f.submitted)" class="form-errors">*Select
                                    Petty Cash ID .
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Cost Center<span class="required-class">*</span> </label>
                                <ng-select [disabled]="viewDisabled" [items]="deptList | sort:'f015fdepartmentCode'"
                                    bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="pattycashentryData.f123fdepartmentCode"
                                    name="f123fdepartmentCode" #dept="ngModel" required>
                                </ng-select>
                                <span *ngIf="dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                                    Cost Center.
                                </span>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Requested Date<span class="required-class">*</span> </label>
                                <input [disabled]="viewDisabled" type="date" maxlength="25" class="form-control" name="f123frequestedDate"
                                    [(ngModel)]="pattycashentryData.f123frequestedDate" value="" required #req="ngModel">
                                <span *ngIf="req.errors && (req.dirty || req.touched || f.submitted)" class="form-errors">*
                                    Select Requested Date</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Description</label>
                                <textarea [disabled]="viewDisabled" maxlength="150" class="form-control" name="f123fdescription"
                                    placeholder="Enter Description" [(ngModel)]="pattycashentryData.f123fdescription"
                                    value="" required #desc="ngModel"></textarea>
                                <span *ngIf="desc.errors && (desc.dirty || desc.touched || f.submitted)" class="form-errors">*
                                    Enter the Description</span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label> Amount(RM)<span class="required-class">*</span></label>
                                <input type="text" maxlength="15" class="form-control" style="text-align: right" name="f123famount"
                                    placeholder="Enter Amount" [(ngModel)]="pattycashentryData.f123famount" (keypress)="onlyNumberKey($event)"
                                    value="" required #Amount="ngModel">
                                <span *ngIf="Amount.errors && (Amount.dirty || Amount.touched || f.submitted)" class="form-errors">*
                                    Enter the Amount(RM).
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Transaction Type<span class="required-class">*</span></label>
                                <ng-select [disabled]="viewDisabled" [items]="transactionList" bindLabel="f011fdefinitionCode"
                                    bindValue="f011fid" [(ngModel)]="pattycashentryData.f123ftransactionType" name="f123ftransactionType"
                                    #mode="ngModel" required>
                                </ng-select>
                                <span *ngIf="mode.errors && (mode.dirty || mode.touched || f.submitted)" class="form-errors">*
                                    Select Transaction Type.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-right">

                            <a [routerLink]="['/accountspayable/pattycashentry']" class="btn nh-btn-secondary" *ngIf="idview!=2">Cancel</a>
                            <a [routerLink]="['/accountspayable/pattycashreembrassment']" class="btn nh-btn-secondary" *ngIf="idview==3 && idview!=2">Cancel</a>
                            <a [routerLink]="['/accountspayable/pattycashentryapproval']" class="btn nh-btn-secondary"
                                *ngIf="idview==2">Cancel</a>
                            <button type="submit" class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>

                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>