<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">GL Code Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addRevenueDetails()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Payment Voucher<span class="required-class">*</span> </label>
                                    <ng-select [items]="paymenttypeList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                                        [(ngModel)]="glcodeData.f140fidVoucherType" name="f140fidVoucherType" #paymentvoucher="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" paymentvoucher.errors && (paymentvoucher.dirty || paymentvoucher.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Payment Voucher</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Debit Fund<span class="required-class">*</span> </label>
                                    <ng-select [items]="fundList | sort:'f057fcode'" bindLabel="f057fname" bindValue="f057fcode"
                                        [(ngModel)]="glcodeData.f140fdebitFund" name="f140fdebitFund" #Fund="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" Fund.errors && (Fund.dirty || Fund.touched || f.submitted)" class="form-errors">*Select
                                        Debit Fund</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Debit Activity Code<span class="required-class">*</span> </label>
                                    <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" bindLabel="f058fname"
                                        bindValue="f058fcompleteCode" [(ngModel)]="glcodeData.f140fdebitActivity" name="f140fdebitActivity"
                                        #Activity="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Activity.errors && (Activity.dirty || Activity.touched || f.submitted)"
                                        class="form-errors">*Select Debit Activity Code</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Debit Department<span class="required-class">*</span> </label>
                                    <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="glcodeData.f140fdebitDepartment" name="f140fdebitDepartment"
                                        #Department="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Department.errors && (Department.dirty || Department.touched || f.submitted)"
                                        class="form-errors">*Select Debit Department</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Debit Account Code <span class="required-class">*</span> </label>
                                    <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" bindLabel="f059fname"
                                        bindValue="f059fcompleteCode" [(ngModel)]="glcodeData.f140fdebitAccount" name="f140fdebitAccount"
                                        #Account="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Account.errors && (Account.dirty || Account.touched || f.submitted)"
                                        class="form-errors">*Select Debit Account Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Credit Fund<span class="required-class">*</span> </label>
                                    <ng-select [items]="fundList | sort:'f057fcode'" bindLabel="f057fname" bindValue="f057fcode"
                                        [(ngModel)]="glcodeData.f140fcreditFund" name="f140fcreditFund" #Fund="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" Fund.errors && (Fund.dirty || Fund.touched || f.submitted)" class="form-errors">*Select
                                        Credit Fund</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Credit Activity Code<span class="required-class">*</span> </label>
                                    <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" bindLabel="f058fname"
                                        bindValue="f058fcompleteCode" [(ngModel)]="glcodeData.f140fcreditActivity" name="f140fcreditActivity"
                                        #Activity="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Activity.errors && (Activity.dirty || Activity.touched || f.submitted)"
                                        class="form-errors">*Select Credit Activity Code</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Credit Department<span class="required-class">*</span> </label>
                                    <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="glcodeData.f140fcreditDepartment" name="f140fcreditDepartment"
                                        #Department="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Department.errors && (Department.dirty || Department.touched || f.submitted)"
                                        class="form-errors">*Select Credit Department</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Credit Account Code <span class="required-class">*</span> </label>
                                    <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" bindLabel="f059fname"
                                        bindValue="f059fcompleteCode" [(ngModel)]="glcodeData.f140fcreditAccount" name="f140fcreditAccount"
                                        #Account="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Account.errors && (Account.dirty || Account.touched || f.submitted)"
                                        class="form-errors">*Select Credit Account Code</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="glcodeData.f140fstatus" [checked]="glcodeData.f140fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="glcodeData.f140fstatus" [checked]="glcodeData.f140fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/generalsetup/glcodesetup" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>