<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Credit Note Entry</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewcreditnote']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="creditnoteList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f031freferenceNumber">Credit Note Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f031ftype">Customer Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="fullName">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f031fvoucherType">Voucher Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f031fdate">Credit Note Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f032ftoCnAmount">CN Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f031fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indcreditnotelist of mf.data">
                <td>{{indcreditnotelist.f031freferenceNumber }}</td>
                <td>{{indcreditnotelist.f031ftype}}</td>
                <td>{{indcreditnotelist.fullName}}</td>
                <td>{{indcreditnotelist.f031fvoucherType}}</td>
                <td>{{indcreditnotelist.f071finvoiceNumber}}</td>
                <td>{{indcreditnotelist.f031fdate | date: 'MM/dd/yyyy'}}</td>
                <td class="amountAlign">{{indcreditnotelist.f032ftoCnAmount | number: '.2'}}</td>
                <td>{{indcreditnotelist.f031fstatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editcreditnote/{{indcreditnotelist.f031fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indcreditnotelist.f031fstatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indcreditnotelist.f031fstatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indcreditnotelist.f031fstatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>