<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Premise Setup</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addPremise()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Premise Category<span class="required-class">*</span></label>
                  <ng-select [items]="premiseTypeList | sort:'PremiseType'" bindLabel="PremiseType" bindValue="f037fid"
                    [(ngModel)]="premiseData.f076fidPremiseType" name="f076fidPremiseType" #name="ngModel" required>
                  </ng-select>
                  <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*
                    Select Premise Category</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Name<span class="required-class">*</span></label>
                  <input type="text" maxlength="25" class="form-control" name="f076fname" placeholder="Enter Name"
                    [(ngModel)]="premiseData.f076fname" #name="ngModel" required (blur)="checkDuplication()">
                  <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*
                    Enter the Name</span>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="id>0">
                <div class="form-group">
                  <label> Premise Code<span class="required-class">*</span></label>
                  <input disabled="disabled" type="text" maxlength="50" class="form-control" name="f076fpremiseCode"
                    placeholder="Enter Address One" [(ngModel)]="premiseData.f076fpremiseCode" value="" required>
                  <!-- <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted)" class="form-errors">*
                    Select Premise Code</span> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> Address One<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="Address1" placeholder="Enter Address One"
                    [(ngModel)]="premiseData.f076faddress1" value="" required #address1="ngModel">
                  <span *ngIf="address1.errors && (address1.dirty || address1.touched || f.submitted)" class="form-errors">*
                    Enter the Address One</span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label> Address Two</label>
                  <input type="text" maxlength="50" class="form-control" name="Address2" placeholder="Enter Address Two"
                    [(ngModel)]="premiseData.f076faddress2" value="" #address2="ngModel">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> Zip Code<span class="required-class">*</span></label>
                  <input type="text" maxlength="10" class="form-control" name="f076fzip" placeholder="Enter Zip Code"
                    [(ngModel)]="premiseData.f076fzip" value="" required #zip="ngModel" (keypress)="onlyNumberKey($event)">
                  <span *ngIf="zip.errors && (zip.dirty || zip.touched || f.submitted)" class="form-errors">*
                    Enter the Zip Code</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> City <span class="required-class">*</span></label>
                  <input type="text" maxlength="40" class="form-control" name="City" placeholder="Enter City"
                    [(ngModel)]="premiseData.f076fcity" value="" required #city="ngModel">
                  <span *ngIf="city.errors && (city.dirty || city.touched || f.submitted)" class="form-errors">*
                    Enter the City</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> Country<span class="required-class">*</span></label>
                  <ng-select [items]="countryList | sort:'f013fcountryName'" bindLabel="f013fcountryName" bindValue="f013fid"
                    [(ngModel)]="premiseData.f076fcountry" name="f076fcountry" (change)="onCountryChange()" #country="ngModel"
                    required></ng-select>
                  <span *ngIf="country.errors && (country.dirty || country.touched || f.submitted)" class="form-errors">*
                    Select Country </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label> State<span class="required-class">*</span></label>
                  <ng-select [items]="stateList | sort:'f012fstateName'" bindLabel="f012fstateName" bindValue="f012fid"
                    [(ngModel)]="premiseData.f076fstate" name="f076fstate" #state="ngModel" required></ng-select>
                  <span *ngIf="state.errors && (state.dirty || state.touched || f.submitted)" class="form-errors">*
                    Select state </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div [className]="'active'"></div>
                  <label>Status</label>
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="premiseData.f076fstatus" [checked]="premiseData.f076fstatus === '1'"
                    [value]="1"> Active
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="premiseData.f076fstatus" [checked]="premiseData.f076fstatus === '0'"
                    [value]="0"> Inactive
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/accountsrecivable/premise" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>