<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">User Deactivation</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="userrejectList | filter : searchText " #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                  <th><mfDefaultSorter by="f034fname">User Name</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f014fuserName">User ID</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="role">Role</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f014femail">Email</mfDefaultSorter></th>
                                <th>Reject </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let induserreject of mf.data">
                                    <td>{{induserreject.f034fname}}</td>
                                    <td>{{induserreject.f014fuserName}}</td>
                                    <td>{{induserreject.role}}</td>
                                    <td>{{induserreject.f014femail}}</td>
                               <td>
                                    <input type="checkbox" [(ngModel)]="induserreject.rejectStatus">
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="approvalData.reason" name="reason"
                                placeholder=" Enter Description"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="reject" (click)='userrejectListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>