<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Generate Invoice</h1>
                    <div clas="col-sm-4">
                            <div class="form-group">
                                    <div class="add-btn">
                                            <button type="button" (click)="generateinvoice()" class="btn nh-btn-primary">Generate</button>
                                        </div>
                            </div>
                        </div>
                </div>
            </div>

           
        </div>
    </div>
</div>