<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Student Invoices</h1>
                </div>
            </div>
            <form (ngSubmit)="f.form.valid && addDebitinformation()" #f="ngForm" name="form" novalidate>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Graduation Type<span class="required-class">*</span> </label>
                            <ng-select [items]="graduationType | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                                bindValue="f011fdefinitionCode" [(ngModel)]="generateinvoiceData.graduationType" name="graduationType"
                                #level="ngModel" (change)="getViewData()" required>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Student </label>
                            <ng-select [items]="studentList |sort: 'f060fmatricNumber'" maxlength="50" bindLabel="Student"
                                bindValue="f060fmatricNumber" [(ngModel)]="generateinvoiceData.student" name="student"
                                #program="ngModel" required>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Program </label>
                            <ng-select [items]="programmeList |sort: 'originalName'" maxlength="50" bindLabel="originalName"
                                bindValue="f068fcode" [(ngModel)]="generateinvoiceData.program" name="program" #program="ngModel"
                                required>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Citizen<span class="required-class">*</span></label>
                            <ng-select [disabled]="editDisabled" [items]="citizenList | sort:'f011fdefinitionCode'"
                                bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="generateinvoiceData.citizen"
                                name="citizen" #citizen="ngModel" required>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Region<span class="required-class">*</span></label>
                            <ng-select [items]="regionList |sort: 'f016keterangan'" maxlength="50" bindLabel="f016keterangan"
                                bindValue="f016kdwarga" [(ngModel)]="generateinvoiceData.region" name="region" #region="ngModel"
                                required>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Intake<span class="required-class">*</span> </label>

                            <ng-select [items]="intakeList |sort: 'f067fname'" maxlength="50" bindLabel="f067fname"
                                bindValue="f067fname" [(ngModel)]="generateinvoiceData.intake" name="intake" #intake="ngModel"
                                required>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div clas="col-sm-4">
                    <div class="form-group">
                        <p class="text-right">
                            <button type="button" (click)="addGenerateinvoice()" class="btn nh-btn-primary">Search</button>
                        </p>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped " [mfData]="generateinvoiceList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>Invoice Number</th>
                                <th>Student Name</th>
                                <th>Intake</th>
                                <th> Program</th>
                                <th> Metric Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indgenerateinvoice of mf.data">
                                <td>{{indgenerateinvoice.f071finvoiceNumber}}</td>
                                <td>{{indgenerateinvoice.Student}}</td>
                                <td>{{indgenerateinvoice.intake}}</td>
                                <td>{{indgenerateinvoice.program}}</td>
                                <td>{{indgenerateinvoice.f060fmatricNumber}}</td>

                                <!-- <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editfeeitem/{{indgenerateinvoice.f066fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>