<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Insurance Company Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addInsurancecompany()" #f="ngForm" name="form" novalidate
                        id="target1">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Vendor<span class="required-class">*</span></label>
                                    <ng-select [items]="supplierList" bindLabel="f030fcompanyName" bindValue="f030fid"
                                        [(ngModel)]="insurancecompanyDataheader.f101fidVendor" name="f101fidVendor" [disabled]='edit'>
                                    </ng-select>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Product Name<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" placeholder="Product Name"
                                        [(ngModel)]="insurancecompanyDataheader.f101fproductName"
                                        name="f101fproductName" value="" (blur)="checkDuplication()">
                                </div>
                            </div>
                        </div>
                    </form> 
                    <div id="overlay1"></div>

                    <div id="myModal" class=" fade in" role="dialog">

                        <div class="modal-content">
                            <p class="maximize-icon">
                                <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                            </p>
                            <p class="minimize-icon hidden">
                                <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                            </p>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" >
                                            <table class="table table-bordered table-striped table-food" id="target">
                                                <thead>
                                                    <tr>
                                                        <th>Age</th>
                                                        <th>Year 1(RM)</th>
                                                        <th>Year 2(RM)</th>
                                                        <th>Year 3(RM)</th>
                                                        <th>Year 4(RM)</th>
                                                        <th>Year 5(RM)</th>
                                                        <th>Year 6(RM)</th>
                                                        <th>Year 7(RM)</th>
                                                        <th>Year 8(RM)</th>
                                                        <th>Year 9(RM)</th>
                                                        <th>Year 10(RM)</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let indinsurancecompany of insurancecompanyList;let i = index;trackBy:indexTracker;last as isLast">

                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign" placeholder="Enter Age"
                                                                [(ngModel)]="insurancecompanyList[i].f101fage"
                                                                name="f101fage" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 1"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear1"
                                                                name="f101fyear1" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 2"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear2"
                                                                name="f101fyear2" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 3"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear3"
                                                                name="f101fyear3" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 4"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear4"
                                                                name="f101fyear4" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 5"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear5"
                                                                name="f101fyear5" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 6"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear6"
                                                                name="f101fyear6" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 7"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear7"
                                                                name="f101fyear7" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 8"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear8"
                                                                name="f101fyear8" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 9"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear9"
                                                                name="f101fyear9" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 10"
                                                                [(ngModel)]="insurancecompanyList[i].f101fyear10"
                                                                name="f101fyear10" value="">
                                                        </td>
                                                        <td *ngIf="!isLast">
                                                            <button class="btn nh-btn-primary" type="button"
                                                                (click)='deleteinsurancecompany(insurancecompanyList[i])'>
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </td>
                                                        <td *ngIf="isLast">
                                                            <button *ngIf="listshowLastRowMinus"
                                                                class="btn nh-btn-primary" type="button"
                                                                (click)='deleteinsurancecompany(insurancecompanyList[i])'>
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                            <button *ngIf="listshowLastRowPlus"
                                                                class="btn nh-btn-primary" type="button"
                                                                (click)='showNewRow()'>
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="showLastRow==false">

                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign" placeholder="Enter Age"
                                                                [(ngModel)]="insurancecompanyData.f101fage"
                                                                name="f101fage" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 1"
                                                                [(ngModel)]="insurancecompanyData.f101fyear1"
                                                                name="f101fyear1" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 2"
                                                                [(ngModel)]="insurancecompanyData.f101fyear2"
                                                                name="f101fyear2" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 3"
                                                                [(ngModel)]="insurancecompanyData.f101fyear3"
                                                                name="f101fyear3" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 4"
                                                                [(ngModel)]="insurancecompanyData.f101fyear4"
                                                                name="f101fyear4" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 5"
                                                                [(ngModel)]="insurancecompanyData.f101fyear5"
                                                                name="f101fyear5" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 6"
                                                                [(ngModel)]="insurancecompanyData.f101fyear6"
                                                                name="f101fyear6" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 7"
                                                                [(ngModel)]="insurancecompanyData.f101fyear7"
                                                                name="f101fyear7" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 8"
                                                                [(ngModel)]="insurancecompanyData.f101fyear8"
                                                                name="f101fyear8" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 9"
                                                                [(ngModel)]="insurancecompanyData.f101fyear9"
                                                                name="f101fyear9" value="">
                                                        </td>
                                                        <td>
                                                            <input type="text" style="width:100px;"
                                                                (keypress)="onlyNumberKey($event)"
                                                                class="form-control amountAlign"
                                                                placeholder="Enter Year 10"
                                                                [(ngModel)]="insurancecompanyData.f101fyear10"
                                                                name="f101fyear10" value="">
                                                        </td>
                                                        <td>
                                                            <button *ngIf="showLastRowMinus" class="btn nh-btn-primary"
                                                                type="button" (click)='deletemodule()'>
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                            <button *ngIf="showLastRowPlus" class="btn nh-btn-primary"
                                                                type="button" (click)='addinsurancecompanylist()'>
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <p class="text-right">
                    <a routerLink="/loan/insurancecompany" class="btn nh-btn-secondary">Cancel</a>
                    <button type="submit" (click)='saveInsurancecompany()'
                        class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>

    </div>
</div>