<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" id="target">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title" *ngIf="viewid!=2 && idview!=2">Apply Stock</h1>
                    <h1 class="ad-page-title" *ngIf="viewid==2">Stock Distribution</h1>
                    <h1 class="ad-page-title" *ngIf="idview==2">Apply Stock Approval</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Applicant Name<span class="required-class">*</span></label>
                                <ng-select disabled="disabled" [items]="smartStaffList" bindLabel="f034fname" bindValue="f034fstaffId"
                                    [(ngModel)]="applystockDataheader.f099fapplicantName" name="f099fapplicantName"
                                    disabled>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Position<span class="required-class">*</span></label>
                                <input type="text" readonly="readonly" class="form-control" name="f099fposition" value="{{designation}}"
                                    disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Apply Stock from Store<span class="required-class">*</span></label>
                                <ng-select [disabled]="viewDisabled" [items]="departmentList|sort:'f015fdepartmentCode'"
                                    bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="applystockDataheader.f099fdepartment"
                                    name="f099fdepartment">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Required Date<span class="required-class">*</span></label>
                                <input type="date" [disabled]="viewDisabled" class="form-control" name="f099frequiredDate"
                                    placeholder="Enter Required Date" [(ngModel)]="applystockDataheader.f099frequiredDate"
                                    value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="overlay1"></div>

            <div id="myModal" class=" fade in" role="dialog">

                <!-- <div class="modal-dialog"> -->

                <!-- Modal content-->
                <div class="modal-content">
                    <p class="maximize-icon">
                        <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                    </p>
                    <p class="minimize-icon hidden">
                        <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                    </p>
                    <div class="modal-body">
                        <div class="row">
                            <table class="table table-bordered table-striped table-food" fieldset="disabled" id="target1">
                                <thead>
                                    <tr>
                                        <th>Code Stock</th>
                                        <th>Asset Category</th>
                                        <th>Asset Sub Category</th>
                                        <th>Asset Item Type</th>
                                        <th>Asset Item</th>
                                        <th>Current Stock</th>
                                        <th>Requested Quantity</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let indapplystock of aplystockList; let i = index;trackBy:indexTracker;last as isLast">
                                        <td>
                                            <input type="text" maxlength="10" class="form-control" name="f099fkodStock"
                                                placeholder="Enter Code Stock" [(ngModel)]="aplystockList[i].f099fkodStock"
                                                value="" required #kod="ngModel">
                                        </td>
                                        <td>
                                            <ng-select [disabled]="viewDisabled" [items]="categoryList" bindLabel="f087fcategoryDiscription"
                                                bindValue="f087fid" [(ngModel)]="aplystockList[i].f099fidCategory"
                                                style="width: 150px;" name="f099fidCategory" #category="ngModel"
                                                required>
                                            </ng-select>
                                        </td>
                                        <td>
                                            <ng-select [disabled]="viewDisabled" [items]="subcategoryList" bindLabel="f089fsubDescription"
                                                bindValue="f089fid" [(ngModel)]="aplystockList[i].f099fidSubCategory"
                                                style="width: 150px;" name="f099fidSubCategory" #subcategory="ngModel"
                                                required>
                                            </ng-select>
                                        </td>

                                        <td>
                                            <ng-select [disabled]="viewDisabled" [items]="typeList|sort:'f090ftypeDescription'"
                                                bindLabel="f090ftypeDescription" style="width: 150px;" bindValue="f090fid"
                                                [(ngModel)]="aplystockList[i].f099fidAssetType" name="f099fidAssetType"
                                                #type="ngModel" required>
                                            </ng-select>
                                        </td>
                                        <td>
                                            <ng-select [disabled]="viewDisabled" [items]="assetitemList" bindLabel="f088fitemDescription"
                                                bindValue="f088fid" [(ngModel)]="aplystockList[i].f099fidItem" name="f099fidItem"
                                                style="width: 150px;" #Item="ngModel" required>
                                            </ng-select>
                                        </td>
                                        <td>
                                            <input type="text" maxlength="10" class="form-control" (keypress)="onlyNumberKey($event)"
                                                name="f099fcurrentStock" placeholder="Current Stock" [(ngModel)]="aplystockList[i].f099fcurrentStock"
                                                value="">
                                        </td>
                                        <td>
                                            <input [disabled]="viewDisabled" maxlength="10" type="text" (keypress)="onlyNumberKey($event)"
                                                class="form-control" name="f099frequestedQty" placeholder="Requested Quantity"
                                                [(ngModel)]="aplystockList[i].f099frequestedQty" value=""> </td>
                                        <td *ngIf="!isLast">
                                            <button class="btn nh-btn-primary" type="button" *ngIf="viewDisabled==false"
                                                (click)='deleteapplystock(aplystockList[i])'>
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </td>
                                        <td *ngIf="isLast">
                                            <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button"
                                                (click)='deleteapplystock(aplystockList[i])'>
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button"
                                                (click)='showNewRow()'>
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="showLastRow==false">
                                        <td>
                                            <input type="text" maxlength="10" class="form-control" name="f099fkodStock"
                                                placeholder="Enter Code Stock" [(ngModel)]="aplystockData.f099fkodStock"
                                                value="" required #kod="ngModel">
                                        </td>
                                        <td>
                                            <ng-select [disabled]="viewDisabled" [items]="categoryList" bindLabel="f087fcategoryDiscription"
                                                bindValue="f087fid" [(ngModel)]="aplystockData.f099fidCategory" style="width: 150px;"
                                                name="f099fidCategory" #category="ngModel" required>
                                            </ng-select>
                                        </td>

                                        <td>
                                            <ng-select [disabled]="viewDisabled" [items]="subcategoryList" bindLabel="f089fsubDescription"
                                                bindValue="f089fid" [(ngModel)]="aplystockData.f099fidSubCategory"
                                                style="width: 150px;" name="f099fidSubCategory" #subcategory="ngModel"
                                                required>
                                            </ng-select>
                                        </td>

                                        <td>
                                            <ng-select [disabled]="viewDisabled" [items]="typeList|sort:'f090ftypeDescription'"
                                                bindLabel="f090ftypeDescription" bindValue="f090fid" [(ngModel)]="aplystockData.f099fidAssetType"
                                                name="f099fidAssetType" style="width: 150px;" #type="ngModel" required>
                                            </ng-select>
                                        </td>
                                        <td>
                                            <ng-select [disabled]="viewDisabled" [items]="assetitemList" bindLabel="f088fitemDescription"
                                                bindValue="f088fid" [(ngModel)]="aplystockData.f099fidItem" name="f099fidItem"
                                                style="width: 150px;" #Item="ngModel" required>
                                            </ng-select>
                                        </td>
                                        <td>
                                            <input type="text" maxlength="10" class="form-control" (keypress)="onlyNumberKey($event)"
                                                name="f099fcurrentStock" placeholder="Current Stock" [(ngModel)]="aplystockData.f099fcurrentStock"
                                                value="">
                                        </td>
                                        <td>
                                            <input type="text" maxlength="10" class="form-control" (keypress)="onlyNumberKey($event)"
                                                name="f099frequestedQty" placeholder="Requested Quantity" [(ngModel)]="aplystockData.f099frequestedQty"
                                                value="">
                                        </td>
                                        <td>
                                            <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button"
                                                (click)='deletemodule()'>
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button"
                                                (click)='addapplystock()'>
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-right">
                        <a routerLink="/assets/applystock" class="btn nh-btn-secondary" *ngIf="viewid!=2 && idview!=2">Cancel</a>
                        <a routerLink="/assets/stockdistrubution" class="btn nh-btn-secondary" *ngIf="viewid==2">Cancel</a>
                        <a routerLink="/assets/applystockapproval" class="btn nh-btn-secondary" *ngIf="idview==2">Cancel</a>
                        <button type="submit" (click)='Ditrubutestock()' *ngIf="viewid==2" class="btn nh-btn-primary">Distrubute</button>
                        <button type="submit" (click)='saveApplystock()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>