<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Company Bank Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addBanksetupaccount()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Bank Id<span class="required-class">*</span></label>
                                        <input type="text" (keypress)="onlyNumberKey($event)"  maxlength="3" class="form-control" name="bankid"
                                            placeholder="Enter Bank Id " [(ngModel)]="banksetupaccountData.f041fbankNo"
                                            value="" required #bankid="ngModel">
                                        <span *ngIf="bankid.errors && (bankid.dirty || bankid.touched || f.submitted)"
                                            class="form-errors">*
                                            Enter the Bank Id.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Description<span class="required-class">*</span></label>
                                        <textarea type="text" maxlength="150" class="form-control" name="f041fdescription"
                                            placeholder="Enter Description " [(ngModel)]="banksetupaccountData.f041fdescription"
                                            value="" required #description="ngModel"></textarea>
                                        <span *ngIf="description.errors && (description.dirty || description.touched || f.submitted)"
                                            class="form-errors">*Enter the
                                            Description </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Fund<span class="required-class">*</span></label>
                                        <ng-select [items]="fundList | sort:'f057fcode'" bindLabel="f057fname" bindValue="f057fcode"
                                            [(ngModel)]="banksetupaccountData.f041ffundCode" name="f041ffundCode" #fund="ngModel"
                                            required>
                                        </ng-select>
                                        <span *ngIf="fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                                            Fund.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Activity Code<span class="required-class">*</span></label>
                                        <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" bindLabel="f058fname" bindValue="f058fcompleteCode"
                                            [(ngModel)]="banksetupaccountData.f041factivityCode" name="f041factivityCode"
                                            #activity="ngModel" required>
                                        </ng-select>
                                        <span *ngIf="activity.errors && (activity.dirty || activity.touched || f.submitted)"
                                            class="form-errors">*Select Activity Code.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Department<span class="required-class">*</span></label>
                                        <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                            [(ngModel)]="banksetupaccountData.f041fdepartmentCode" name="f041fdepartmentCode"
                                            #dept="ngModel" required>
                                        </ng-select>
                                        <span *ngIf="dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                                            Department .
                                        </span>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Account Code<span class="required-class">*</span></label>
                                        <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                                            [(ngModel)]="banksetupaccountData.f041faccountCode" name="f041faccountCode"
                                            #account="ngModel" required>
                                        </ng-select>
                                        <span *ngIf="account.errors && (account.dirty || account.touched || f.submitted)"
                                            class="form-errors">*Select Account Code.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Account Type<span class="required-class">*</span></label>
                                        <ng-select [items]="AccountTypeList" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                                            [(ngModel)]="banksetupaccountData.f041faccountType" name="f041faccountType"
                                            #Account="ngModel" required>
                                        </ng-select>
                                        <!-- <label>Account Type<span class="required-class">*</span></label>
                                                <select class="form-control" [(ngModel)]="banksetupaccountData.f041faccountType"
                                                    name="f041faccountType" value="" required #Account="ngModel">
                                                    <option value=''>--Select-- </option>
                                                    <option *ngFor="let indacctype of AccountTypeList" [value]="indacctype.f011fid">{{indacctype.f011fdefinitionCode}}
                                                    </option>
                                                </select> -->
                                        <span *ngIf="Account.errors && (Account.dirty || Account.touched || f.submitted)"
                                            class="form-errors">*Select
                                            Account Type </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Bank<span class="required-class">*</span></label>
                                        <ng-select [items]="bankList | sort:'f042fbankName'"bindLabel="f042fbankName" bindValue="f042fid"
                                            [(ngModel)]="banksetupaccountData.f041fidBank" name="f041fidBank" #bank="ngModel"
                                            required>
                                        </ng-select>


                                        <!-- <label>Bank<span class="required-class">*</span></label>
                                                <select class="form-control" [(ngModel)]="banksetupaccountData.f041fidBank" name="f041fidBank"
                                                    value="" required #bank="ngModel">
                                                    <option value=''>--Select-- </option>
                                                    <option *ngFor="let indbank of bankList" [value]="indbank.f042fid">{{indbank.f042fbankName}}
                                                    </option>
                                                </select> -->
                                        <span *ngIf="bank.errors && (bank.dirty || bank.touched || f.submitted)" class="form-errors">*Select
                                            Bank </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Branch<span class="required-class">*</span></label>
                                        <input type="text" maxlength="25" class="form-control" name="Branch"
                                            placeholder="Enter Branch" [(ngModel)]="banksetupaccountData.f041fbranch"
                                            value="" required #branch="ngModel">
                                        <span *ngIf="branch.errors && (branch.dirty || branch.touched || f.submitted)"
                                            class="form-errors">*Enter
                                            the Branch .</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Account Number<span class="required-class">*</span></label>
                                        <input type="text" maxlength="25" class="form-control" name="AccountNumber"
                                            placeholder="Enter Account Number" (keypress)="onlyNumberKey($event)" [(ngModel)]="banksetupaccountData.f041faccountNumber"
                                            value="" required #accnum="ngModel">
                                        <span *ngIf="accnum.errors && (accnum.dirty || accnum.touched || f.submitted)"
                                            class="form-errors">*Enter
                                            the Account Number .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Address<span class="required-class">*</span></label>
                                        <input type="text" maxlength="150" class="form-control" name="Address"
                                            placeholder="Enter Address " [(ngModel)]="banksetupaccountData.f041faddress"
                                            value="" required #address="ngModel">
                                        <span *ngIf="address.errors && (address.dirty || address.touched || f.submitted)"
                                            class="form-errors">*
                                            Enter the Address .
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Country<span class="required-class">*</span></label>
                                        <!-- <ng-select [items]="countryList| sort:'f013fcountryName'"bindLabel="f013fcountryName" bindValue="f013fid"
                                            [(ngModel)]="banksetupaccountData.f041fcountry" name="f041fcountry"
                                            #country="ngModel" required>
                                        </ng-select> -->
                                        <ng-select [items]="countryList | sort:'f013fcountryName'" bindLabel="f013fcountryName" bindValue="f013fid" [(ngModel)]="banksetupaccountData.f041fcountry"
                                        name="f041fcountry" (change)="onCountryChange()" #country="ngModel" required>
                                      </ng-select>

                                        <!-- <label>Country<span class="required-class">*</span></label>
                                                <select class="form-control" [(ngModel)]="banksetupaccountData.f041fcountry" name="f041fcountry"
                                                    value="" required #country="ngModel">
                                                    <option value=''>--Select-- </option>
                                                    <option *ngFor="let indCountry of countryList" [value]="indCountry.f013fid">{{indCountry.f013fcountryName}}
                                                    </option>
                                                </select> -->
                                        <!-- <input type="text" ngui-auto-complete value-formatter="f013fcountryName"
                                                    list-formatter="f013fcountryName" [match-formatted]="true" maxlength="50" class="form-control"
                                                    name="country List" placeholder="Select country" [(ngModel)]="banksetupaccountData.f041fcountry"
                                                    value="" required #country="ngModel" [source]='countryList'> -->
                                        <span *ngIf="country.errors && (country.dirty || country.touched || f.submitted)"
                                            class="form-errors">*Select
                                            Country</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>State<span class="required-class">*</span></label>
                                        <ng-select [items]="stateList | sort:'f012fstateName'" bindLabel="f012fstateName" bindValue="f012fid"
                                            [(ngModel)]="banksetupaccountData.f041fstate" name="f041fstate" #state="ngModel"
                                            required>
                                        </ng-select>

                                        <!-- <label>State<span class="required-class">*</span> </label>
                                                    <select class="form-control" [(ngModel)]="banksetupaccountData.f041fstate" name="f041fstate"
                                                        value="" required #state="ngModel">
                                                        <option value=''>--Select-- </option>
                                                        <option *ngFor="let indState of stateList" [value]="indState.f012fid">{{indState.f012fstateName}}
                                                        </option>
                                                    </select> -->
                                        <!-- <input type="text" ngui-auto-complete value-formatter="f012fstateName"
                                                    list-formatter="f012fstateName" [match-formatted]="true" maxlength="50" class="form-control"
                                                    name="f012fstateName" placeholder="Select State" [(ngModel)]="banksetupaccountData.f041fstate"
                                                    value="" required #state="ngModel" [source]='stateList'> -->
                                        <span *ngIf="state.errors && (state.dirty || state.touched || f.submitted)"
                                            class="form-errors">*Select State.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>City<span class="required-class">*</span></label>
                                        <input type="text" maxlength="25" class="form-control" name="f041fcity"
                                            placeholder="Enter City" [(ngModel)]="banksetupaccountData.f041fcity" value=""
                                            required #City="ngModel">
                                        <span *ngIf="City.errors && (City.dirty || City.touched || f.submitted)" class="form-errors">*Enter
                                            the City .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Contact Person<span class="required-class">*</span></label>
                                        <input type="text" maxlength="50" class="form-control" name="ContactPerson"
                                            placeholder="Enter Contact Person" [(ngModel)]="banksetupaccountData.f041fcontactPerson"
                                            value="" required #contact="ngModel">
                                        <span *ngIf="contact.errors && (contact.dirty || contact.touched || f.submitted)"
                                            class="form-errors">*
                                            Enter the Contact Person .</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Phone Number<span class="required-class">*</span></label>
                                        <input type="text" minlength=10 maxlength="12" class="form-control" name="PhoneNumber"
                                            placeholder="Enter Phone Number" (keypress)="onlyNumberKey($event)" [(ngModel)]="banksetupaccountData.f041fphone"
                                            value="" required #phnum="ngModel">
                                        <span *ngIf="phnum.errors && (phnum.dirty || phnum.touched || f.submitted)"
                                            class="form-errors">*Enter
                                            the Valid Phone Number.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label> Email<span class="required-class">*</span></label>
                                        <input type="text" maxlength="50" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                            name="Email" placeholder="Enter Email " [(ngModel)]="banksetupaccountData.f041femail"
                                            value="" required #email="ngModel">
                                        <span *ngIf="email.errors && (email.dirty || email.touched || f.submitted)"
                                            class="form-errors">*Enter
                                            the Valid Email .
                                        </span>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Bank Reconciliation<span class="required-class">*</span></label>
                                        <ng-select [items]="banktype" bindLabel="name" bindValue="id" [(ngModel)]="banksetupaccountData.f041fprocessing"
                                            name="f041fprocessing" #bankrecon="ngModel" required> </ng-select>

                                        <!-- <select class="form-control" name="Processing" [(ngModel)]="banksetupaccountData.f041fprocessing"
                                                    value="" required #bankrecon="ngModel">
                                                    <option value=''>--Select--</option>
                                                    <option value="1">Daily</option>
                                                    <option value="2">Monthly</option>
                                                    <option value="3">Yearly</option>
                                                </select> -->
                                        <span *ngIf="bankrecon.errors && (bankrecon.dirty || bankrecon.touched || f.submitted)"
                                            class="form-errors">*Select
                                            Bank Reconciliation.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div [className]="'active'"></div>
                                        <label>Status</label>
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="banksetupaccountData.f041fstatus"
                                            [checked]="banksetupaccountData.f041fstatus === '1'" [value]="1">Active
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="banksetupaccountData.f041fstatus"
                                            [checked]="banksetupaccountData.f041fstatus === '0'" [value]="0">Inactive
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/generalsetup/banksetupaccount" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                    <!-- <button type="submit" class="btn nh-btn-primary">Save</button> -->
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>