
<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Transfer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a href="budget/addnewbudgettransfer" class="btn nh-btn-primary">Add Department</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>From Department</th>
                                <th>To Department</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgettransfer of BudgettransferList | filter : searchText">
                                <td>{{indbudgettransfer.fromDepartment}}</td>
                                <td>{{indbudgettransfer.toDepartment}}</td>
                                <td>{{indbudgettransfer.f056famount}}</td>
                                <td>{{indbudgettransfer.f056fstatus === true?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                            <a href="budget/editbudgettransfer/{{indbudgettransfer.f056fid}}">
                                        <button class="btn nh-btn-edit">
                                           
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>