<div class="row">
    <div class="col-sm-12">
        <h1 class="ps-page-header">listoflawyers</h1>
    </div>
</div>

<div class="ps-search-block">
    <label>Search </label>
    <input type="text" ng-model="search.username" class="form-control" />
</div>

<br>
<table class="table  table-bordered" dt-options="dtOptions" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered"
    width="100%">
    <thead>
        <tr>
            <th>listoflawyers_id</th>
            <th>listoflawyers_name</th>
            <th>listoflawyers_date</th>
            <th>listoflawyers_claims</th>
            <th>listoflawyers_fees</th>
            <th>listoflawyers_total</th>
            <th>listoflawyers_date of claims</th>
            <th>listoflawyers_description</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let indGl of companyList">
            <td>{{indcompany.listoflawyers_id}}</td>
            <td>{{indcompany.listoflawyers_name}}</td>
            <td>{{indcompany.listoflawyers_date}}</td>
            <td>{{indcompany.listoflawyers_claims}}</td>
            <td>{{indcompany.listoflawyers_fees}}</td>
            <td>{{indcompany.listoflawyers_total}}</td>
            <td>{{indcompany.listoflawyers_description}}</td>
        </tr>
    </tbody>
</table>


<body>
    <h2>listoflawyers</h2>
    <form>
        listoflawyers_id:
        <input type="text" name="listoflawyers_id" [(ngModel)]="lawyersData.listoflawyers_id" value="" required>
        <br>
        <br> listoflawyers_name:
        <input type="text" name="company_address" [(ngModel)]="lawyersData.company_address" value="">
        <br>
        <br> listoflawyers_date:
        <input type="text" name="listoflawyers_name" [(ngModel)]="lawyersData.listoflawyers_name" value="" required>
        <br>
        <br> listoflawyers_claims:
        <input type="text" name="listoflawyers_claims" [(ngModel)]="lawyersData.listoflawyers_claims" value="" required>
        <br>
        <br> listoflawyers_fees:
        <input type="text" name="company_city" [(ngModel)]="lawyersData.company_city" value="" required>
        <br>
        <br> listoflawyers_total:
        <input type="text" name="listoflawyers_total" [(ngModel)]="lawyersData.listoflawyers_total" value="" required>
        <br>
        <br> listoflawyers_description:
        <input type="text" name="company_country" [(ngModel)]="lawyersData.company_country" value="" required>
        <br>
        <br>
        <button type='submit' class='btn btn-primary' (click)='addlistoflawyersCode()'>Save</button>
    </form>
</body>