<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Contract</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && saveLegalinformation()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Payment Award<span class="required-class">*</span> </label>
                                        <ng-select [items]="paymentList | sort:'f050fvendorCode'" bindLabel="f050fvendorCode" bindValue="f050fid" name="f128faward" [(ngModel)]="contractHeaderData.f128faward">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">

                <table class="table table-bordered table-striped table-food">
                    <thead>
                        <tr>
                            <th>Calendar</th>
                            <th>Amount (RM)</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inddebitinfo of contractList;let i = index;trackBy:indexTracker;last as isLast">
                            <td>
                                <input type="date" class="form-control" [(ngModel)]="contractList[i].f129fcalender"
                                    name="f129fcalender" style="width: 400px;" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="form-control" [(ngModel)]="contractList[i].f129famount"
                                    name="f129famount" style="width: 400px;" placeholder="Enter Amount" value="">
                            </td>
                            <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" type="button" (click)='deletelegalinformation(contractList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletelegalinformation(contractList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="showLastRow==false">
                            <td>
                                <input type="date" class="form-control" [(ngModel)]="contractData.f129fcalender" name="f129fcalender"
                                    style="width: 400px;" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="form-control" [(ngModel)]="contractData.f129famount"
                                    name="f129famount" style="width: 400px;" placeholder="Enter Amount">
                            </td>
                            <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addlegalinformationlist()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-right">
                        <a routerLink="/procurement/contract" class="btn nh-btn-secondary">Cancel</a>
                        <button type="submit" (click)='saveLegalinformation()' class="btn nh-btn-primary">Save</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>