<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row" id="target">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="viewid==2">Payment Voucher Approval</h1>
          <h1 class="ad-page-title" *ngIf="viewid!=2">Payment Voucher</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                    <label>Payment Voucher Id <span class="required-class">*</span></label>
                    <input type="text" maxlength="150" [disabled]="true" class="form-control"  placeholder="Payment Voucher Id">
                  </div>
                </div>

              <div class="col-sm-4">
                  <div class="form-group">
                    <label>Payment Voucher Type <span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="paymenttypeList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                      bindValue="f011fid" [(ngModel)]="paymentvoucherDataheader.f093fpaymentType" name="f093fpaymentType"
                      #accd="ngModel" #Voucher="ngModel" (change)="getVendorName()">
                    </ng-select>
                  </div>
                </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Source</label>
                <ng-select [disabled]="viewDisabled" [items]="sourceList | sort:'name'" bindLabel="name" bindValue="name"
                  [(ngModel)]="paymentvoucherDataheader.f093fsource" name="f093fsource" #accd="ngModel"
                  #Voucher="ngModel" required>
                </ng-select>
              </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                  <label>Pay To </label>
                  <ng-select [disabled]="viewDisabled" [items]="masterSupplierList" bindLabel="vname" bindValue="vid"
                    [(ngModel)]="paymentvoucherDataheader.id" name="id" (change)="getOnlyVendorBillRegistration()"></ng-select>
                </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                    <label>Pay to Bank </label>
                    <ng-select [disabled]="viewDisabled" [items]="bankList" bindLabel="f042fbankName" bindValue="f042fid"
                      [(ngModel)]="paymentvoucherDataheader.f093fidBank" name="f093fidBank" #accd="ngModel" required>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label>Payment Reference Number </label>
                      <input type="text" maxlength="10" [disabled]="viewDisabled" class="form-control" name="f093fpaymentRefNo"
                        [(ngModel)]="paymentvoucherDataheader.f093fpaymentRefNo " placeholder="Enter Payment Reference Number" (blur)="prefillReferenceNumber()">
                    </div>
                  </div>
            
            
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                    <label>UUM Bank <span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="companyBankList | sort:'Bank'" bindLabel="Bank" bindValue="f041fid"
                      [(ngModel)]="paymentvoucherDataheader.f093fidCompanyBank" name="f093fidCompanyBank" #accd="ngModel"
                      required>
                    </ng-select>
                  </div>
                </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label>Payment Mode <span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="paymentmodeList" bindLabel="f011fdefinitionCode"
                  bindValue="f011fid" [(ngModel)]="paymentvoucherDataheader.f093fpaymentMode" name="f093fpaymentMode"
                  #accd="ngModel" required>
                </ng-select>
              </div>
            </div>
            
         
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description <span class="required-class">*</span></label>
                <input type="text" maxlength="150" [disabled]="viewDisabled" class="form-control" name="f093fdescription"
                  [(ngModel)]="paymentvoucherDataheader.f093fdescription" value="" required placeholder="Enter Description">
              </div>
            </div>

          </div>
          <div class="row" id="target1">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Bill Registration Number</th>
                    <th>Voucher Date</th>
                    <th>Total Amount(RM)</th>
                    <th>Paid Amount(RM)</th>
                    <th>Pay To</th>
                    <th>Pay To Bank</th>
                    <th>Reference Number</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indpaymentList of paymentvoucherList;let i = index;trackBy:indexTracker">
                    <td>
                      <input type="text" disabled="disabled" class="form-control" [(ngModel)]="paymentvoucherList[i].f091freferenceNumber"
                        name="total amount" placeholder="Total">
                    </td>
                    <td>
                      <input [disabled]="viewDisabled" type="date" disabled="disabled" class="form-control" [(ngModel)]="paymentvoucherList[i].f091fcreatedDate"
                        style="text-align: right" name="invoicedate" (blur)="onBlurMethod()">
                    </td>

                    <td>
                      <input type="text" [disabled]="viewDisabled" class="amountAlign" class="form-control" style="text-align: right"
                        [(ngModel)]="paymentvoucherList[i].f091ftotalAmount" name="total amount" placeholder="Total">
                    </td>
                    <td>
                      <input type="text" class="amountAlign" class="form-control" style="text-align: right" (keypress)="onlyNumberKey($event)"
                        [(ngModel)]="paymentvoucherList[i].f094fpaidAmount" name="paidamount" placeholder="Enter Paid Amount">
                    </td>
                    <td>
                      <ng-select [disabled]="viewDisabled" [items]="masterSupplierList" style="width:150px;"
                        bindLabel="vname" bindValue="vid" (change)="getVoucher()" [(ngModel)]="paymentvoucherList[i].selectedCustomer"
                        name="selectedCustomer">
                      </ng-select>
                    </td>
                    <td>
                        <input type="text" class="amountAlign" class="form-control" 
                          [(ngModel)]="paymentvoucherList[i].f094freferenceNumber" name="f094freferenceNumber" >
                      </td>
                    <td>
                      <button class="btn nh-btn-primary" type="button" (click)='deletepaymentvouche(paymentvoucherList[i])'
                        *ngIf="viewDisabled==false">
                        <i class="fa fa-minus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/accountspayable/paymentvoucher']" *ngIf="viewid!=2" class="btn nh-btn-secondary">Cancel</a>
                <a [routerLink]="['/accountspayable/paymentvoucherapproval']" class="btn nh-btn-secondary" *ngIf="viewid==2">Cancel</a>
                <button type="submit" (click)='savePaymentvoucher()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>