<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Letter Of Instruction</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="LetterOfInstructionList | filter : searchText "
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th><mfDefaultSorter by="f042fbankName">Investment Bank</mfDefaultSorter> </th>
                  <th><mfDefaultSorter by="investmentType">Investment Type</mfDefaultSorter> </th>
                  <th><mfDefaultSorter by="f063fdescription">Description</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f063fbranch">Branch</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f063fdurationType">Duration Type</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f063fduration">Duration</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f063famount">Investment Amount (RM)</mfDefaultSorter></th>
                  <th>Download</th>
  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indInstruction of mf.data">
                  <td>{{indInstruction.f042fbankName}}</td>
                  <td>{{indInstruction.investmentType}}</td>
                  <td>{{indInstruction.f063fdescription}}</td>
                  <td>{{indInstruction.f063fbranch}}</td>
                  <td>{{indInstruction.f063fdurationType}} </td>
                  <td>{{indInstruction.f063fduration}} </td>   
                  <td class="amountAlign">{{indInstruction.f063famount | number: '.2'}}</td>
                  <td> <input type='button' value="Download" (click)="downloadData(indInstruction.f063fidDetails)" /></td>
                  <!-- <td>
                    <input type="checkbox" [(ngModel)]="indInstruction.f063fapprovedStatus">
                  </td> -->
                </tr>
              </tbody>
              <td colspan="10">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
            <!-- <div class="row">
                          <div class="col-sm-12">
                              <label>Description </label>
                              <textarea class="form-control" [(ngModel)]="LetterOfInstructionData.reason" name="reason" placeholder="Description "></textarea>
                          </div>
                      </div> -->
            <!-- <div class="row">
                          <div class="col-sm-6">
                              <p class="text-right">
                                  <button type="submit" (click)='approvalthreeListData()' class="btn nh-btn-primary">Approve</button>
                              </p>
                          </div>
                          <div class="col-sm-6">
                              <p class="text-left">
                                  <button type="reject" (click)='rejectthreeListData()' class="btn nh-btn-primary">Reject</button>
                              </p>
                          </div>
                      </div> -->
            <div class="row">
              <div class="col-sm-12">
                <!-- <p class="text-right">
                  <button type="submit" (click)='downloadData(id)' class="btn nh-btn-primary">Download</button>
                  <button type="reject" (click)='rejectoneListData()' class="btn nh-btn-primary">Print</button>
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  