<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Type Of Investment</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addTypeofinvestment()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Investment Type<span class="required-class">*</span></label>
                                    <input type="text" maxlength="100" class="form-control" name="name" placeholder="Enter Investment Type "
                                        [(ngModel)]="typeofinvestmentData.f038ftype" value="" required #name="ngModel">
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                                        the Investment Type </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Person Name<span class="required-class">*</span></label>
                                    <input type="text" maxlength="100" class="form-control" name="f038fpersonName"
                                        placeholder="Enter Person Name " [(ngModel)]="typeofinvestmentData.f038fpersonName"
                                        value="" required #personname="ngModel">
                                    <span *ngIf="personname.errors && (personname.dirty || personname.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Person Name </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Contact Number<span class="required-class">*</span></label>
                                    <input type="text" (keypress)="keyPress($event)" minlength="9" maxlength="15" class="form-control"
                                        name="f038fcontactNumber" placeholder="Enter Contact Number" [(ngModel)]="typeofinvestmentData.f038fcontactNumber"
                                        value="" required #contactnum="ngModel">
                                    <span *ngIf="contactnum.errors && (contactnum.dirty || contactnum.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Valid Contact Number </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Account Code<span class="required-class">*</span></label>
                                    <ng-select [items]="accountcodeList | sort:'originalname'" bindLabel="f059fname"
                                        bindValue="f059fcompleteCode" [(ngModel)]="typeofinvestmentData.f038faccountCode"
                                        name="f038faccountCode" #account="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="account.errors && (account.dirty || account.touched || f.submitted)"
                                        class="form-errors">*Select Account Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fund<span class="required-class">*</span> </label>
                                    <ng-select [items]="fundList | sort:'f057fcode'" bindLabel="f057fname" bindValue="f057fcode"
                                        [(ngModel)]="typeofinvestmentData.f038ffundCode" name="f038ffundCode" #fund="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                                        Fund</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cost Center <span class="required-class">*</span> </label>
                                    <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="typeofinvestmentData.f038fdepartmentCode"
                                        name="f038fdepartmentCode" #costcenter="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" costcenter.errors && (costcenter.dirty || costcenter.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Cost Center</span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Activity Code <span class="required-class">*</span> </label>
                                    <!-- <ng-select [items]="activitycodeList | sort:'originalname'" bindLabel="f058fname"
                                        bindValue="f058fcompleteCode" [(ngModel)]="typeofinvestmentData.f038factivityCode"
                                        name="f038factivityCode" #activity="ngModel">
                                    </ng-select> -->
                                    <ng-select  [items]="activitycodeList | sort:'f058fcompleteCode'"
                                    bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="typeofinvestmentData.f038factivityCode"
                                    name="f038factivityCode"> </ng-select>

                                    <span *ngIf=" costcenter.errors && (costcenter.dirty || costcenter.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Activity Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="typeofinvestmentData.f038fstatus"
                                        [checked]="typeofinvestmentData.f038fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="typeofinvestmentData.f038fstatus"
                                        [checked]="typeofinvestmentData.f038fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/investment/typeofinvestment" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>