<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Fee Category</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addFeecategory()" #f="ngForm" name="form" novalidate>
            <div class="row">

              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Name<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="Name" placeholder="Enter Name "
                      [(ngModel)]="feecategoryData.f065fname" value="" required #name="ngModel">
                    <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                      the Name.</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Code<span class="required-class">*</span></label>
                    <input type="text" maxlength="15" class="form-control" name="code" placeholder="Enter Code "
                      [(ngModel)]="feecategoryData.f065fcode" value="" required #code="ngModel">
                    <span *ngIf=" code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*Enter
                      the Code.</span>

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Description<span class="required-class">*</span></label>
                    <textarea maxlength="100" class="form-control" name="Description" placeholder="Enter Description"
                      [(ngModel)]="feecategoryData.f065fdescription" value="" required #dec="ngModel"></textarea>
                    <span *ngIf=" dec.errors && (dec.dirty || dec.touched || f.submitted)" class="form-errors">*Enter
                      the Description.</span>

                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div [className]="'active'"></div>
                    <label>Status</label>
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="feecategoryData.f065fstatus" [checked]="feecategoryData.f065fstatus === '1'"
                      [value]="1"> Active
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="feecategoryData.f065fstatus" [checked]="feecategoryData.f065fstatus === '0'"
                      [value]="0"> Inactive
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/studentfinance/feecategory']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
