<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Programme</h1>
        </div>
      </div>
      <div class="row">
        <form (ngSubmit)="f.form.valid && addProgramme()" #f="ngForm" name="form" novalidate>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Programme Name<span class="required-class">*</span></label>
                  <input type="text" maxlength="25" class="form-control" name="Name" placeholder="Enter Name "
                    [(ngModel)]="programmeData.f068fname" value="" required #name="ngModel">
                  <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                    the Programme Name</span>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Code<span class="required-class">*</span></label>
                  <input type="text" maxlength="5" class="form-control" name="code" placeholder="Enter Code "
                    [(ngModel)]="programmeData.f068fcode" value="" required #code="ngModel">
                  <span *ngIf=" code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*Enter
                    the Code</span>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Level Of Study<span class="required-class">*</span></label>
                  <ng-select [items]="typeList" bindLabel="name" bindValue="name" [(ngModel)]="programmeData.f068ftype"
                    name="f068ftype" required #level="ngModel">
                  </ng-select>
                  <span *ngIf="level.errors && (level.dirty || level.touched || f.submitted)" class="form-errors">*Select
                    Level of Study.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Total Credit hours<span class="required-class">*</span></label>
                  <input type="text" maxlength="5" class="form-control" name="Description" placeholder="Enter Total Credit hours  "
                    [(ngModel)]="programmeData.f068ftotalCreditHours" (keypress)="onlyNumberKey($event)" value=""
                    required #credit="ngModel">
                  <span *ngIf=" credit.errors && (credit.dirty || credit.touched || f.submitted)" class="form-errors">*Enter
                    the Total Credit hours</span>
                </div>
              </div>
              <!-- <div class="col-sm-4">
                <label>Activity Code<span class="required-class">*</span></label>
                <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" bindLabel="f058fname" bindValue="f058fcompleteCode"
                  [(ngModel)]="programmeData.f048fdrActivity" name="f048fdrActivity" required #activity="ngModel">
                </ng-select>
                <span *ngIf=" activity.errors && (activity.dirty || activity.touched || f.submitted)" class="form-errors">*Enter
                  Select Activity Code</span>
              </div> -->
              <div class="col-sm-4">
                <div class="form-group">
                  <div [className]="'active'"></div>
                  <label>Status</label>
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="programmeData.f068fstatus" [checked]="programmeData.f068fstatus === '1'"
                    [value]="1"> Active
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="programmeData.f068fstatus" [checked]="programmeData.f068fstatus === '0'"
                    [value]="0"> Inactive
                  <br>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/studentfinance/programme']" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>