<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Cash Declaration</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCashdeclartion()" #f="ngForm" name="form" novalidate id="target1">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Reference Number<span class="required-class">*</span></label>
                                    <input type="text" class="form-control" placeholder="Reference Number" [(ngModel)]="cashdeclarationDataheader.f052fcashAdvance"
                                        name="f052fcashAdvance" value="" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department<span class="required-class">*</span></label>
                                    <ng-select disabled="disabled" [items]="DeptList" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="cashdeclarationDataheader.f052fidDepartment"
                                        name="f052fidDepartment" #item="ngModel" required>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Name<span class="required-class">*</span></label>
                                    <ng-select disabled="disabled" [items]="staffList" bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="cashdeclarationDataheader.f052fidStaff" name="f052fidStaff" #item="ngModel"
                                        required>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Financial Year</label>
                                    <ng-select disabled="disabled" [items]="fyearList" bindLabel="f015fname" bindValue="f015fid"
                                        [(ngModel)]="cashdeclarationDataheader.f052fidFinancialYear" name="f052fidFinancialYear"
                                        #item="ngModel" required>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Return Receipt Number<span class="required-class"></span></label>
                                    <input type="text" maxlength="20" class="form-control" name="f052freceiptNo"
                                        placeholder="Return Receipt Number" [(ngModel)]="cashdeclarationDataheader.f052freceiptNo"
                                        value="" required #rnumber="ngModel">
                                    <span *ngIf="rnumber.errors && (rnumber.dirty || rnumber.touched || f.submitted )"
                                        class="form-errors">*Enter the Receipt Number.</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Return Amount(RM)<span class="required-class"></span></label>
                                    <input type="text" style="text-align: right" maxlength="50" class="form-control"
                                        name="f052freceiptAmount" placeholder="Return Amount" [(ngModel)]="cashdeclarationDataheader.f052freceiptAmount"
                                        value="" required #ramount="ngModel" (keypress)="onlyNumberKey($event)">
                                    <span *ngIf="ramount.errors && (ramount.dirty || ramount.touched || f.submitted )"
                                        class="form-errors">*Enter the Receipt Amount.</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="overlay1"></div>

                        <div id="myModal" class=" fade in" role="dialog">

                            <!-- <div class="modal-dialog"> -->

                            <!-- Modal content-->
                            <div class="modal-content">
                                <p class="maximize-icon">
                                    <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                                </p>
                                <p class="minimize-icon hidden">
                                    <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                                </p>
                                <div class="modal-body">
                                    <div class="table-responsive" style="height:200px;">
                                        <table class="table table-bordered table-striped table-food" id="target">
                                            <thead>
                                                <tr>
                                                    <th>Cash Advance Type</th>
                                                    <th>Item</th>
                                                    <th>Unit</th>
                                                    <th>Fund</th>
                                                    <th>Activity Code</th>
                                                    <th>Cost Center</th>
                                                    <th>Account Code</th>
                                                    <th>So Code</th>
                                                    <th>Amount(RM)</th>
                                                    <th>Quantity</th>
                                                    <th>Total Amount(RM)</th>
                                                    <th>Recepit Number</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let indapplyloaninfo of cashdeclarationList;let i = index;trackBy:indexTracker; last as isLast">
                                                    <td>
                                                        <ng-select disabled="disabled" [items]="cashadvanceList"
                                                            bindLabel="displayname" bindValue="f051fid" [(ngModel)]="cashdeclarationList[i].f052fidCashType"
                                                            name="f052fidCashType" #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" [items]="itemList | sort:'f029fitemName'"
                                                            style="width: 95px;" bindLabel="f029fitemName" bindValue="f029fid"
                                                            [(ngModel)]="cashdeclarationList[i].f052fitem" name="f052fitem">
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <input type="text" readonly="readonly" maxlength="10" style="width: 95px"
                                                            class="form-control" name="f052funit" [(ngModel)]="cashdeclarationList[i].f052funit"
                                                            placeholder="unit">
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" style="width:120px" [items]="fundList"
                                                            bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="cashdeclarationList[i].f052ffund"
                                                            name="f052ffund" #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" [items]="activitycodeList"
                                                            bindLabel="f058fname" bindValue="f058fcompleteCode"
                                                            [(ngModel)]="cashdeclarationList[i].f052factivity" name="f052factivity"
                                                            #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" [items]="DeptList" bindLabel="f015fdepartmentName"
                                                            bindValue="f015fdepartmentCode" [(ngModel)]="cashdeclarationList[i].f052fdepartment"
                                                            name="f052fdepartment" #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" [items]="accountcodeList"
                                                            bindLabel="f059fname" bindValue="f059fcompleteCode"
                                                            [(ngModel)]="cashdeclarationList[i].f052faccount" name="f052faccount"
                                                            #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <input type="text" style="width:100px;" class="form-control"
                                                            placeholder=" So Code" [(ngModel)]="cashdeclarationList[i].f052fsoCode"
                                                            name="f052fsoCode" value="" readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <input type="text" (keypress)="onlyNumberKey($event)" style="width:150px;text-align: right"
                                                            class="form-control" placeholder=" Amount" [(ngModel)]="cashdeclarationList[i].f052famount"
                                                            name="f052famount" value="" readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <input type="text" (keypress)="onlyNumberKey($event)" style="width:150px;text-align: right"
                                                            class="form-control" placeholder=" Quantity" [(ngModel)]="cashdeclarationList[i].f052fquantity"
                                                            name="f052fquantity" value="" readonly="readonly">
                                                    </td>

                                                    <td>
                                                        <input type="text" style="width:150px;text-align: right"
                                                            (keypress)="onlyNumberKey($event)" class="form-control"
                                                            placeholder=" Total Amount" [(ngModel)]="cashdeclarationList[i].f052ftotalAmount"
                                                            name="f052ftotalAmount" readonly="readonly" value="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" maxlength="20" style="width:150px"
                                                            placeholder="Receipt Number" [(ngModel)]="cashdeclarationList[i].f052frcpNo"
                                                            name="f052frcpNo" value="">
                                                    </td>
                                                    <td *ngIf="!isLast">
                                                        <button class="btn nh-btn-primary" type="button" (click)='deletecashadvanceapp(cashdeclarationList[i])'
                                                            *ngIf="viewDisabled==false">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="showLastRow==false">
                                                    <td>
                                                        <ng-select disabled="disabled" style="width:150px;" [items]="cashadvanceList"
                                                            bindLabel="displayname" bindValue="f051fid" [(ngModel)]="cashdeclarationData.f052fidCashType"
                                                            name="f052fidCashType" #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <input type="text" readonly="readonly" maxlength="10" style="width: 95px"
                                                            class="form-control" name="f052funit" [(ngModel)]="cashdeclarationData.f052funit"
                                                            placeholder="unit">
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" [items]="itemList | sort:'f029fitemName'"
                                                            style="width: 95px;" bindLabel="f029fitemName" bindValue="f029fid"
                                                            [(ngModel)]="cashdeclarationList[i].f052fitem" name="f052fitem">
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" style="width:150px;" [items]="fundList"
                                                            bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="cashdeclarationData.f052ffund"
                                                            name="f052ffund" #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" style="width:150px;" [items]="activitycodeList"
                                                            bindLabel="f058fname" bindValue="f058fcompleteCode"
                                                            [(ngModel)]="cashdeclarationData.f052factivity" name="f052factivity"
                                                            #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" style="width:150px;" [items]="DeptList"
                                                            bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                                            [(ngModel)]="cashdeclarationData.f052fdepartment" name="f052fdepartment"
                                                            #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <ng-select disabled="disabled" style="width:150px;" [items]="accountcodeList"
                                                            bindLabel="f059fname" bindValue="f059fcompleteCode"
                                                            [(ngModel)]="cashdeclarationData.f052faccount" name="f052faccount"
                                                            #item="ngModel" required>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <input type="text" style="width:100px;" class="form-control"
                                                            placeholder=" So Code" [(ngModel)]="cashdeclarationData.f052fsoCode"
                                                            name="f052fsoCode" value="" readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <input type="text" style="width:150px;text-align: right" class="form-control"
                                                            placeholder=" Amount" (keypress)="onlyNumberKey($event)"
                                                            [(ngModel)]="cashdeclarationData.f052famount" name="f052famount"
                                                            value="" (blur)="getAmount()" readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <input type="text" style="width:150px;text-align: right" class="form-control"
                                                            placeholder=" Quantity" (keypress)="onlyNumberKey($event)"
                                                            [(ngModel)]="cashdeclarationData.f052fquantity" name="f052fquantity"
                                                            value="" (blur)="getAmount()" readonly="readonly">
                                                    </td>

                                                    <td>
                                                        <input type="text" style="width:150px;text-align: right" class="form-control"
                                                            placeholder=" Total Amount" (keypress)="onlyNumberKey($event)"
                                                            [(ngModel)]="cashdeclarationData.f052ftotalAmount" name="f052ftotalAmount"
                                                            value="" readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <input type="text" maxlength="20" style="width:150px" class="form-control"
                                                            placeholder="Receipt Number" [(ngModel)]="cashdeclarationData.f052frcpNo"
                                                            name="f052frcpNo" value="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" *ngIf="idview==0">
                        <p class="text-right">
                            <a [routerLink]="['/cashadvances/cashdeclaration']" class="btn nh-btn-secondary">Cancel</a>
                            <button type="submit" class="btn um-btn-primary mar-l-20" (click)="saveCashadvanceapp()">Save</button>
                        </p>
                    </div>
                    <div class="col-sm-12" *ngIf="idview==2">
                        <p class="text-right">
                            <a [routerLink]="['/cashadvances/declarationapproval']" class="btn nh-btn-secondary">Cancel</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>