<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Premise Setup</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>

            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewpremise']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="premiseList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f037fpremiseType">Premise Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f076fname">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f076fpremiseCode">Premise Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f076faddress1">Address One</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f076faddress2">Address Two</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f076fzip">Zip Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f076fcity">City</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="stateName">State</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="countryName">Country</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f076fstatus">Status</mfDefaultSorter>
                </th>
                <th> Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indpremise of mf.data ">
                <td>{{indpremise.f037fpremiseType}}</td>
                <td>{{indpremise.f076fname}}</td>
                <td>{{indpremise.f076fpremiseCode}}</td>
                <td>{{indpremise.f076faddress1}}</td>
                <td>{{indpremise.f076faddress2}}</td>
                <td>{{indpremise.f076fzip}}</td>
                <td>{{indpremise.f076fcity}}</td>
                <td>{{indpremise.stateName}}</td>
                <td>{{indpremise.countryName}}</td>
                <td>{{indpremise.f076fstatus == '1'?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editpremise/{{indpremise.f076fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>