<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationnzero']">Campus
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationnone']">
                                    Building
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationntwo']"> Level
                                    Building
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationnthree']">
                                    Room
                                </a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title">Level Building</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <thead>
                        <tr>
                            <th>Campus Code</th>
                            <th>Building Code</th>
                            <th>Building Level Code</th>
                            <th>Building Level Description</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let indlevelthree of locationtwoList; let i = index; last as isLast">
                            <td><input type="text" disabled="disabled" class="form-control" [(ngModel)]="levelone" /></td>
                            <td><input type="text" disabled="disabled" class="form-control" [(ngModel)]="leveltwo" /></td>

                            <td>
                                <input type="text" class="form-control" minlength="2" maxlength="2" (blur)="onBlurMethod(locationtwoList[i])"
                                    name="f059fcode" placeholder="Enter Building Level Code" [(ngModel)]="locationtwoList[i].f059fcode"
                                    required #code="ngModel">
                                <span *ngIf="code.errors?.minlength" class="form-errors">*Building Level Code must be
                                    at least 2
                                    characters long.</span>
                            </td>
                            <td>
                                <textarea type="text" class="form-control" maxlength="100" (blur)="onBlurMethod(locationtwoList[i])"
                                    name="f059fcode" placeholder="Enter Building Level Description" [(ngModel)]="locationtwoList[i].f059fname"
                                    value=""></textarea>
                            </td>
                            <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" type="button" (click)='deleteleveltwo(locationtwoList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteleveltwo(locationtwoList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr *ngIf="showLastRow==false">
                            <td><input type="text" disabled="disabled" class="form-control" [(ngModel)]="levelone" /></td>
                            <td><input type="text" disabled="disabled" class="form-control" [(ngModel)]="leveltwo" /></td>
                            <td>
                                <input type="text" class="form-control" minlength="2" maxlength="2" name="code"
                                    placeholder="Enter Building Level Code" [(ngModel)]="locationtwoData.f059fcode"
                                    required #code="ngModel">
                                    <span *ngIf="code.errors?.minlength" class="form-errors">*Building Level Code must be
                                        at least 2 characters long.</span>
                            </td>
                            <td>
                                <textarea type="text" class="form-control" maxlength="100" name="description"
                                    placeholder="Enter Building Level Description" [(ngModel)]="locationtwoData.f059fname"
                                    value=""></textarea>
                            </td>
                            <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addLocationtwo()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <button type="submit" (click)='saveLocationtwo()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>