<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div>
            <ul>
              <li style="display: inline;padding:20px;"><a [routerLink]="['/accountsrecivable/receipt']">Receipt
                  Invoice</a>
              </li>
              <li style="display: inline;padding:20px;"><a [routerLink]="['/accountsrecivable/receiptnoninvoice']">Receipt
                  Non Invoice</a>
              </li>
            </ul>
          </div>
          <h1 class="ad-page-title">Receipt Non Invoice</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Receipt Number</label>
                <input type="text" class="form-control" name="f082freceiptNumber" [(ngModel)]="invoiceDataheader.f082freceiptNumber"
                  placeholder="Amount">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Payee Type</label>
                <select class="form-control" [(ngModel)]="invoiceDataheader.f071finvoiceType" name="f071finvoiceType">
                  <option value='0'>--Select--</option>
                  <option value='customer'>Customer</option>
                  <option value='Vendor'>Vendor</option>
                  <option value='supplier'>Supplier</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Customer </label>
                <!-- <input type="text" class="form-control" name="customer" placeholder="Enter customer " [(ngModel)]="recurringsetupcustomerData.f077fcustomer" value="" required> -->
                <select class="form-control" [(ngModel)]="invoiceDataheader.f071fidCustomer" name="f071fidCustomer">
                  <option *ngFor="let indcustomer of customerList" [value]="indcustomer.f021fid">{{
                    indcustomer.f021ffirstName
                    }} {{ indcustomer.f021flastName}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" name="startDate" [(ngModel)]="invoiceDataheader.f071finvoiceDate"
                  value="" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Payment Bank </label>
                <!-- <input type="text" class="form-control" name="customer" placeholder="Enter customer " [(ngModel)]="recurringsetupcustomerData.f077fcustomer" value="" required> -->
                <select class="form-control" [(ngModel)]="invoiceDataheader.f071fidCustomer" name="f071fidCustomer">
                  <option *ngFor="let indcustomer of customerList" [value]="indcustomer.f021fid">{{
                    indcustomer.f021ffirstName
                    }} {{ indcustomer.f021flastName}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Total Amount (RM)</label>
                <input type="text" class="form-control" style="text-align: right" name="finalAmount" [(ngModel)]="invoiceDataheader.f071finvoiceTotal"
                  placeholder="Amount" readonly="readonly">
              </div>
            </div>

            <div class="col-sm-4" style="display:none;">
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="invoiceDataheader.f056famount" name="totalamount"
                  placeholder="Advance Payment"></textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-12">

            <h1 class="ad-page-title">Payment Information</h1>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Payment Type</th>
                    <th>Amount(RM)</th>
                    <th>Reference Number</th>
                    <th>Bank</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indinv of invoiceList;let i = index;trackBy:indexTracker">
                    <td>
                      <select class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode"
                        #invoice="ngModel">
                        <option value='1'>Credit Card</option>
                        <option value='1'>Cash</option>
                      </select> </td>
                    <td>
                      <input type="number" class="form-control" style="text-align: right" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode"> </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode"> </td>
                    <td>
                      <select class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode"
                        #invoice="ngModel">
                        <option value='1'>CIMB</option>
                        <option value='1'>OUM</option>
                      </select> </td>
                    <td>
                      <input type="button" name="add" (click)='deleteInvoice(invoiceList[i])' value='Delete' class="btn nh-btn-primary" />
                    </td>
                  </tr>

                  <tr >
                      <td>
                        <select class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode"
                          #invoice="ngModel">
                          <option value='1'>Credit Card</option>
                          <option value='1'>Cash</option>
                        </select> </td>
                      <td>
                        <input type="number" class="form-control" style="text-align: right" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode"> </td>
                      <td>
                        <input type="text" class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode"> </td>
                      <td>
                        <select class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode"
                          #invoice="ngModel">
                          <option value='1'>CIMB</option>
                          <option value='1'>OUM</option>
                        </select> </td>
                      <td>
                        <input type="button" name="add" (click)='deleteInvoice(invoiceList[i])' value='ADD' class="btn nh-btn-primary" />
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="col-sm-12">

              <h1 class="ad-page-title">Item Details</h1>
            </div>

          <div class="row">
              <div class="col-sm-12">

            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Item</th>
                  <th> GL-Code</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Price (RM)</th>
                  <th>Tax Code</th>
                  <th>In %</th>
                  <th>Total (RM)</th>
                  <th>Tax Amount (RM)</th>
                  <th>Total Inc Tax (RM)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>




                <tr *ngFor="let indinv of invoiceList;let i = index;trackBy:indexTracker">
                  <td>
                    <select class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode" #invoice="ngModel">
                      <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                    </select> </td>
                  <td>
                    <select class="form-control" [(ngModel)]="invoiceList[i].f072fidDebitGlcode" name="f072fidCreditGlcode">
                      <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                        }}</option>
                    </select> </td>
                  <td>
                    <select class="form-control" [(ngModel)]="invoiceList[i].f072fidCreditGlcode" name="f072fidCreditGlcode">
                      <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                        }}</option>
                    </select> </td>
                  <td>
                    <input type="text" class="form-control" style="width: 75px" [(ngModel)]="invoiceList[i].f072fquantity"
                      value="" (blur)="onBlurMethod()">
                  </td>
                  <td>
                    <input type="number" class="form-control" style="text-align: right" [(ngModel)]="invoiceList[i].f072fprice"
                      name="listPrice" (blur)="onBlurMethod()">
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="invoiceList[i].f072fgstCode" name="f072fgstCode" #invoice="ngModel">
                      <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                        indtaxcode.f081fcode }}</option>
                    </select> </td>
                  <td>
                    <input type="number" class="form-control" style="width: 70px" [(ngModel)]="invoiceList[i].f072fgstValue"
                      name="listGst" (blur)="onBlurMethod()">
                  </td>
                  <td><input type="number" class="form-control" style="text-align: right" name="exTotalAmount"
                      [(ngModel)]="invoiceList[i].exTotalAmount">
                  </td>


                  <td><input type="number" maxlength="15" class="form-control" style="text-align: right" name="taxAmount"
                      [(ngModel)]="invoiceList[i].taxAmount" placeholder="Tax Amount" value=""></td>
                  <td>

                    <input type="text" disabled="disabled" style="text-align: right" class="form-control" [(ngModel)]="invoiceList[i].f072ftotal"
                      name="listTotal" placeholder="Total"> </td>

                  <td>
                    <input type="button" name="add" (click)='deleteInvoice(invoiceList[i])' value='Delete' class="btn nh-btn-primary" />
                  </td>
                </tr>


                <tr>
                  <td>
                    <select class="form-control" style="width: 90px" [(ngModel)]="invoiceData.f072fidItem" name="fidItem"
                      required #department="ngModel">
                      <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" style="width: 200px" [(ngModel)]="invoiceData.f072fidDebitGlcode" name="DebitGlcode">
                      <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                        }}</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" style="width: 200px" [(ngModel)]="invoiceData.f072fidCreditGlcode"
                      name="CreditGlcode">
                      <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                        }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="number" maxlength="10" style="width: 75px" class="form-control" name="quantity"
                      [(ngModel)]="invoiceData.f072fquantity">
                  </td>
                  <td>
                    <input type="number" maxlength="10" style="text-align: right" class="form-control" name="price"
                      [(ngModel)]="invoiceData.f072fprice" placeholder="Price">
                  </td>
                  <td>
                    <select class="form-control" style="width: 100px" [(ngModel)]="invoiceData.f072fgstCode" name="f072fgstCode"
                      required #department="ngModel" (change)="getGstvalue(this.value)">
                      <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                        indtaxcode.f081fcode }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="number" maxlength="15" style="width: 70px" class="form-control" name="f072fgstValue"
                      [(ngModel)]="invoiceData.f072fgstValue" placeholder="" value="">
                  </td>
                  <td><input type="number" maxlength="15" class="form-control" style="text-align: right" name="exTotalAmount"
                      [(ngModel)]="invoiceData.exTotalAmount" placeholder="Total" value="{{ invoiceData.f072fquantity * invoiceData.f072fprice }}"></td>

                  <td><input type="number" maxlength="15" class="form-control" style="text-align: right" name="taxAmount"
                      [(ngModel)]="invoiceData.taxAmount" placeholder="Tax Amount" value=""></td>
                  <td>
                    <input type="text" disabled="disabled" maxlength="10" class="form-control" name="total" [(ngModel)]="invoiceData.f072ftotal"
                      placeholder="Total" value="{{ invoiceData.f072fgstValue / 100 * (invoiceData.f072fquantity * invoiceData.f072fprice) + (invoiceData.f072fquantity * invoiceData.f072fprice) }}">
                  </td>
                  <td>
                    <input type="button" name="add" (click)='addinvoicelist()' value='ADD' class="btn nh-btn-primary" />
                  </td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <th>Total</th>

                  <td> </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/accountsrecivable/maininvoice']" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveInvoice()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
