<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Investment Summary Form</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="summaryList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f042fbankName">Investment Bank</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fidInvestmentType">Investment Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fbranch">Branch</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fduration">Duration</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fdurationType">Duration Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063famount">Investment Amount (RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063famount">Approval Bursary</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063famount">Approval Register</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063famount">Approval VC</mfDefaultSorter>
                                </th>
                                <!-- <th>Approve / Reject </th>
                                <th>Auto Renewal</th> -->
                                <!-- <th>View</th>  -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indsummaryform of mf.data">
                                <td>{{indsummaryform.f042fbankName}}</td>
                                <td>{{indsummaryform.investmentType}}</td>
                                <td>{{indsummaryform.f063fdescription}}</td>
                                <td>{{indsummaryform.f063fbranch}}</td>
                                <td>{{indsummaryform.f063fduration}}</td>
                                <td>{{indsummaryform.f063fdurationType}}</td>
                                <td class="amountAlign">{{indsummaryform.f063famount | number: '.2'}}</td>
                                <td >
                                    <input type="checkbox" disabled="disabled" [(ngModel)]="indsummaryform.f063fapproved1Status">
                                </td>
                                <td >
                                    <input type="checkbox" disabled="disabled" [(ngModel)]="indsummaryform.f063fapproved2Status">
                                </td>
                                <td >
                                    <input type="checkbox" disabled="disabled" [(ngModel)]="indsummaryform.f063fapproved3Status">
                                </td>
                               
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                   
                </div>
            </div>
        </div>
    </div>
</div>