.nav-tabs>li>a span{
    padding:10px 25px;
    font-weight: bold !important;
}
.nav-item .nav-link,
.nav-tabs>li>a {
    padding:10px 25px;
    font-weight: bold !important;
}

/* LOGIN page css here */

.fa-login-container {
    background: #f8f8f8;
    background: #234892;
    padding:40px 0;
    position: relative;
    height: 100%;
    min-height: 100vh;
}
.fa-login-wrapper {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    max-width:360px;
    margin:0px auto;
    padding:20px 30px;
    border:1px solid #ccc;
    border-radius:4px;
    box-shadow: 1px 0 8px rgba(0,0,0,0.2);
    background: #fff;
}
.fa-login-logo-wrapper {
    text-align: center;
    margin-bottom:25px;
}
.fa-login-logo-wrapper img {
    max-width:60px;
    margin: 0 auto;
}
.fa-form-header {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.fa-form {
    margin-bottom:0;
}
.fa-form label {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 2px;
    cursor: pointer;
}

.forgot-password-link {
    font-size: 15px;
    display: block;
    margin-bottom: 25px;
}
.fa-primary-btn {
    border: none;
    background: #234892;
    color: #fff;
    padding: 10px 25px;
    max-width: 230px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.fa-primary-btn:hover,.fa-primary-btn:focus {
    background: rgba(35,72,146,0.7);
    color: #fff !important;
    box-shadow: none;
    outline: none;
}
.fa-info-message  {
    font-size: 13px;
    margin:30px 0 0px;
}
.register-here,.register-here:hover,.register-here:focus {
    font-size:18px;
    margin: 0 20px;
    font-weight: bold;
    color:rgba(35,72,146,1);
}
.form-required {
    font-size: 14px;
    color: #ff0000;
    top: -2px;
}
.fa-form .form-control {
    height:34px;
    color:#000;
    font-weight:bold;
}
.fa-login-wrapper .form-group {
    margin-bottom: 10px;
}

.form-error,
.form-errors {
    font-size:13px;
    margin:3px 0;
    display: block;
    color:#ff0000;
}
.fa-registered-succes {
    font-size:16px;
    text-align: center;
    color:rgba(3,102,53,1);
    margin:20px 0 35px;
}
.register-link {
    margin-bottom: 10px;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.5); */
    /* z-index: 2; */
    cursor: pointer;
}

/* Left navbar css starts here */

.ps-left-navbar {
    width: 220px; 
    padding: 0;
    background: #3e4048;    
    height: calc(100vh - 78px);
    position: fixed;
    top: 74px;
    left: 0;
    overflow-y: auto;
}
.ps-left-navbar-menu {
    padding: 0;
    margin-bottom: 5px;
}
.ps-left-navbar-item {
    list-style: none; 
    display: block;
}
.ps-left-navbar-item a {
    position: relative;
    font-size: 14px;
    color: #fff;
    padding: 12px 15px;
    font-weight: bold;
    display: block;
    line-height: 18px;
    border-bottom: 1px solid #848692;
    text-decoration: none;
    background: #525356;
}
.ps-left-navbar-item a:hover,
.ps-left-navbar-item a:focus,
.ps-left-navbar-item a.active,
.ps-left-navbar-item a.active:hover,
.ps-left-navbar-item a.active:focus {
    text-decoration: none;
    background: rgba(72, 196, 121,1);
    background: #323546;
    border-left:4px solid #fff;
    transition:all 0.25s;
}
ul.dropdown-list {
    height: calc(100vh - 372px);
    overflow-y: auto;
    padding:0;
    margin: 0;
    list-style: none;
}
.dropdown-list li {display: block;}
.dropdown-list li a {display: block;font-size: 14px;color: #fff;padding:8px 18px 8px 30px;
    line-height: 16px;}
#dropdown-list-wrapper {display: none;}
.dropdown-list-menu {cursor: pointer;}    
span.menuvalue {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    margin: 0 8px;
    vertical-align: middle;
    font-size: 17px;
    font-weight: bold;
    color: rgba(65,141,179,1);
    background: #fff;
    position: absolute;
    top: 6px;
    right: 35px;
}

.dropdown-list-menu .fa {line-height: 20px;transform: rotate(90deg);transition: transform 0.5s;}
.dropdown-list-menu.opened .fa {line-height: 20px;transform: rotate(-90deg);transition: transform 0.5s;}


/* *  Custome scrollbar css  */

::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 6px;
     background-color: #F2f2f2;
} 
::-webkit-scrollbar  {
     width: 12px;
     height: 12px;
     background-color: #F5F5F5;
} 
::-webkit-scrollbar-thumb  {
     border-radius: 10px;
     box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #c7c7c7dd;
}
 

/* Dashboard page css starts here */

.ps-main-section {margin-top:76px;}
.ps-dashboard-sec {padding:0px;}
.ps-dashboard-block {
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    margin: 30px auto;
    display: flex;
    padding: 10px;
    box-shadow: 1px 0px 8px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 225px;
}

/* Accounts recievable css here  */

.mar-l-20 {
    margin-left:20px !important; 
}
.um-btn-primary {
    height: 40px;
    line-height: 24px;
    font-size: 14px;
    color: #fff !important;
    background: #234892;
    min-width: 140px;
    border: none;
    letter-spacing: 1px;
}
.um-btn-secondary {
    height: 40px;
    line-height: 24px;
    color: #282c3f;
    font-size: 14px;   
    min-width: 140px;
    background: transparent;
    border-color: #282c3f;
    letter-spacing: 1px;
    border-width:2px;
}
.um-btn-secondary:hover,.um-btn-secondary:focus {
     background: #282c3f;
     color:#fff;  
     border-color:#282c3f;   
}
.um-btn-edit {   
    background: transparent;
   border:1px solid #234892;   
   color: #234892 !important;
   border-radius: 3px;
}
.um-btn-edit:hover,.um-btn-edit:focus {
    background: #234892;
    color:#fff !important;
}

.pagination-wrapper {
    border-top-width:0px !important;
}
.pagination-col {
    background-color: #fff !important;
}

.um-dashboard-sec {
    margin-top:76px;
    padding: 0;
}

.um-right-section {
    width: calc(100% - 220px);
    margin-left: 220px;
    padding: 20px 10px 0;
    position: relative;
    min-height: calc(100vh - 76px);
}

.page-wrapper {
    min-height: calc(100vh - 220px);
    padding-bottom: 20px;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-left: 25px;
}
.checkbox-inline, .radio-inline {
    font-size: 14px;
}
.um-label {
    font-size: 14px;
    font-weight: bold;
}
.checkbox-inline input[type=checkbox],
.radio-inline input[type=radio] {
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}

.um-search-wrapper {
    width:100%;
}

.credit-note-page label {
    font-size: 14px;
    font-weight: bold;
}


/* Custome checkboxes css */

.checkmark-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin:6px 0;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}