<ng4-loading-spinner></ng4-loading-spinner>
<!-- <div id="overlay">
    <alert> </alert>
</div> -->
<router-outlet></router-outlet>
<ngx-spinner
bdColor = "rgba(223,220,220,0.52)"
size = "default"
color = "#2010ea"
type = "ball-clip-rotate"
></ngx-spinner>

        
        
