<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Bank</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper um-search-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/generalsetup/addnewbank']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped " [mfData]="bankList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th><mfDefaultSorter by="f042fbankName">Bank Description</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f042fswiftCode">Bank Code</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f042fstatus">Status</mfDefaultSorter></th>
                <th class="text-center">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indbank of mf.data ">
                <td>{{indbank.f042fbankName}}</td>
                <!-- <td>{{indbank.f042fbranchName}}</td>
                <td>{{indbank.f042faccountNumber}}</td>
                <td>{{indbank.f042faccountType}}</td> -->
                <td>{{indbank.f042fswiftCode}}</td>
                <!-- <td>{{indbank.f042fbrsCode}}</td> -->
                <td>{{indbank.f042fstatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/generalsetup/editbank/{{indbank.f042fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>