<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Cash Declaration</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="cashdeclarationList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f052fcashAdvance">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="staffName">Staff Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="financialYear">Financial Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f052ftotal">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>Declare</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indcashadvanceapproval of mf.data">
                                <td>{{indcashadvanceapproval.f052fcashAdvance}}</td>
                                <td>{{indcashadvanceapproval.f052fidStaff}} - {{indcashadvanceapproval.staffName}}</td>
                                <td>{{indcashadvanceapproval.financialYear}}</td>
                                <td class="amountAlign">{{indcashadvanceapproval.f052ftotal | number: '.2'}}</td>
                                <div class="nh-btn-group">
                                    <a routerLink="/cashadvances/editcashdeclaration/{{indcashadvanceapproval.f052fid}}">
                                        <a> Declare</a>
                                    </a>
                                </div>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>