<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Investment Registration</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/investment/addnewinvestmentregistration']" class="btn nh-btn-primary">Add
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="investmentregistrationList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th><mfDefaultSorter by="f064freferenceNumber">Reference Number</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f064fname">Certificate Number</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f064feffectiveDate">Effective Date</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f064fmaturityDate"> Maturity Date</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="Duration"> Duration</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f064fsum">Amount (RM)</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f064frateOfInterest">Interest Rate</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="investmentStatus"> Investment Status</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f064fisWithdraw">Status</mfDefaultSorter></th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indinvestmentregistration of mf.data">
                                    <td>{{indinvestmentregistration.f064freferenceNumber}}</td>
                                <td>{{indinvestmentregistration.f064fname}}</td>
                                <td>{{indinvestmentregistration.f064feffectiveDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indinvestmentregistration.f064fmaturityDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indinvestmentregistration.Duration}}</td>
                                <td class="amountAlign">{{indinvestmentregistration.f064fsum  | number: '.2'}}</td>
                                <td>{{indinvestmentregistration.f064frateOfInterest}}</td>
                                <td>{{indinvestmentregistration.investmentStatus}}</td>
                                <td>{{indinvestmentregistration.f064fisWithdraw === 1?'Withdrawn':'Active'}}</td>
                                <td class="actions-col">
                                    <div *ngIf="indinvestmentregistration.f064fisWithdraw==0" class="nh-btn-group">
                                        <a routerLink="/investment/editinvestmentregistration/{{indinvestmentregistration.f064fid}}/0">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                    <div *ngIf="indinvestmentregistration.f064fisWithdraw==1" class="nh-btn-group">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-window-close"></i>
                                            </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>