<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Payroll Posting</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addPayrollposting()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Staff<span class="required-class">*</span></label>
                  <!-- <select class="form-control" [(ngModel)]="payrollpostingData.f091fstaffType" name="f091fstaffType" value=""
                    required #staff="ngModel">
                    <option [ngValue]="undefined" hidden > -- select-- </option>
                    <option *ngFor="let inddatestaff of staffList" [value]="inddatestaff.f034fid">{{inddatestaff.f034fname}}
                    </option>
                  </select> -->
                  <ng-select [items]="staffList | sort: 'staffName'" bindLabel="f034fname" bindValue="f034fid" [(ngModel)]="payrollpostingData.f091fstaffType"
                    name="f091fstaffType" #staff="ngModel" required>
                  </ng-select>
                  <span *ngIf="staff.errors && (staff.dirty || staff.touched || f.submitted )" class="form-errors">*Select
                    Staff</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Month</label>
                  <!-- <select class="form-control" [(ngModel)]="payrollpostingData.f091fmonth" name="f091fmonth" value="" required #month="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                  </select> -->
                  <ng-select [items]="fmonth"  bindLabel="name" bindValue="name" [(ngModel)]="payrollpostingData.f091fmonth"
                    name="f091fmonth" #month="ngModel" required>
                  </ng-select>
                  <span *ngIf="month.errors && (month.dirty || month.touched || f.submitted )" class="form-errors">*Select
                      Month</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>UUM Bank<span class="required-class">*</span></label>
                  <!-- <select class="form-control" [(ngModel)]="payrollpostingData.f091fbank" name="f091fbank" value="" required #bank="ngModel">
                    <option [ngValue]="undefined" hidden > -- select-- </option>
                    <option *ngFor="let indbank of banklist" [value]="indbank.f041fid">{{indbank.Bank}}
                    </option>
                  </select> -->
                  <ng-select [items]="banklist" bindLabel="Bank" bindValue="f041fid" [(ngModel)]="payrollpostingData.f091fbank"
                    name="f091fbank" #bank="ngModel" required>
                  </ng-select>
                  <span *ngIf="bank.errors && (bank.dirty || bank.touched || f.submitted )" class="form-errors">*Select
                    Bank</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <div [className]="'active'"></div>
                  <label>Status</label>
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="payrollpostingData.f091fstatus" [checked]="payrollpostingData.f091fstatus === '1'"
                    [value]="1"> Active
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="payrollpostingData.f091fstatus" [checked]="payrollpostingData.f091fstatus=== '0'"
                    [value]="0"> Inactive
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <button type="submit" class="btn nh-btn-primary">Voucher</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <button type="submit" class="btn nh-btn-primary">GL Posting</button>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-sm-12">
                <p class="text-right">
                 
                  <a [routerLink]="['/payroll/payrollposting']" class="btn nh-btn-secondary">Cancel</a>

                  <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                </p>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>