<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">User Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="userapprovalList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                  <th><mfDefaultSorter by="f034fname">User Name</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f014fuserName">User ID</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="role">Role</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f014femail">Email</mfDefaultSorter></th>
                                <th>Approve </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let induserapproval of mf.data">
                                <td>{{induserapproval.f034fname}}</td>
                                <td>{{induserapproval.f014fuserName}}</td>
                                <td>{{induserapproval.role}}</td>
                                <td>{{induserapproval.f014femail}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="induserapproval.userstatus">
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='userapprovalListData()' class="btn nh-btn-primary">Approve</button>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>