<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Debt Tagging</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewdebttagging']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped " [mfData]="debttaggingList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th><mfDefaultSorter by="Debtor">Debt</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="studentName">Student Name</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f047ftotalDebt">Debt Amount(RM)</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f047fdebtDetails">Details Of Debt</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f047fstatus">Status</mfDefaultSorter></th>
                                <!-- <th>Status</th> -->
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inddebttagging of mf.data">
                                <td>{{inddebttagging.Debtor}}</td>
                                <td>{{inddebttagging.studentName}}</td>
                                <td class="amountAlign">{{inddebttagging.f047ftotalDebt | number: '.2'}}</td>
                                <td>{{inddebttagging.f047fdebtDetails}}</td>
                                <td>{{inddebttagging.f047fstatus == 1?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editdebttagging/{{inddebttagging.f047fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>