<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Request Invoice</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewrequestinvoice']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="requestinvoiceList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f071finvoiceNumber">Request Invoice Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071finvoiceType">Customer Type</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="customerName">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071finvoiceDate">Request Invoice Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071finvoiceTotal">Total Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indreqinvoice of mf.data">
                <td>{{indreqinvoice.f071finvoiceNumber}}</td>
                <td>{{indreqinvoice.f071finvoiceType}}</td>
                <td>{{indreqinvoice.customerName}}</td>
                <td>{{indreqinvoice.f071finvoiceDate | date: 'dd/MM/yyyy'}}</td>
                <!-- <td>{{indreqinvoice.firstName}} {{ indreqinvoice.lastName}}</td> -->
                <td class="amountAlign">{{indreqinvoice.f071finvoiceTotal | number: '.2'}}</td>
                <td>{{indreqinvoice.f071fstatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editrequestinvoice/{{indreqinvoice.f071fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indreqinvoice.f071fstatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indreqinvoice.f071fstatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indreqinvoice.f071fstatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>