<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Tax Deduction For New Staff</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/payroll/addnewstafftaxdeduction']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="taxDeductionList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f082fidStaff">Staff Name</mfDefaultSorter>
                </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indtaxdeduction of mf.data ">

                <td>{{indtaxdeduction.f082fidStaff}}-{{indtaxdeduction.staffName}}</td>
                <!-- <td>{{indtaxdeduction.f082fdeductionCode}}</td>
                  <td>{{indtaxdeduction.f082famount}}</td>
                  <td>{{indtaxdeduction.f082fstartDate}}</td>
                  <td>{{indtaxdeduction.f082fendDate}}</td>   -->

                <!-- <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/payroll/editstafftaxdeduction/{{indtaxdeduction.f082fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
  
                      
                    </div>
                  </td> -->
              </tr>
            </tbody>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>