<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Staff Contribution</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/payroll/addnewstaffcontribution']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="staffcontributionList | filter : searchText"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                    <th><mfDefaultSorter by="staff">Staff</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f083ffundCode">Fund</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f083fdepartmentCode">Department</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f083femployee">Employee</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f083fstatus">Status</mfDefaultSorter></th>
                    <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indstaffcontribution of mf.data ">
  
                  <td>{{indstaffcontribution.staff}}</td>
                  <td>{{indstaffcontribution.f083ffundCode}}</td>
                  <td>{{indstaffcontribution.f083fdepartmentCode}}</td>
                  <td>{{indstaffcontribution.f083femployee}}</td>
                  <td>{{indstaffcontribution.f083fstatus == 1?'Active':'Inactive'}}</td>

  
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/payroll/editstaffcontribution/{{indstaffcontribution.f083fidStaff}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
  
                      <!-- <button class="btn nh-btn-remove">
                                              <i class="fas fa-trash-alt"></i>
                                          </button> -->
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="6">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  