<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Currency Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCurrencysetup()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Currency Code<span class="required-class">*</span></label>
                                        <input type="text" maxlength="10" class="form-control" name="Code" placeholder="Enter Currency Code"
                                            [(ngModel)]="currencysetupData.f062fcurCode" value="" required
                                            #currencysetup="ngModel">
                                        <span *ngIf=" currencysetup.errors && (currencysetup.dirty || currencysetup.touched || f.submitted)"
                                            class="form-errors">*Enter the Currency Code</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Currency Name<span class="required-class">*</span> </label>
                                        <input type="text" maxlength="50" class="form-control" name="Currencyname"
                                            placeholder="Enter Currency Name" [(ngModel)]="currencysetupData.f062fcurDesc"
                                            value="" required #curDesc="ngModel">
                                        <span *ngIf=" curDesc.errors && (curDesc.dirty || curDesc.touched || f.submitted)"
                                            class="form-errors">*Enter the Currency Name.</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Default Language<span class="required-class">*</span> </label>
                                        <input type="text" maxlength="50" class="form-control" name="language"
                                            placeholder="Enter Default language" [(ngModel)]="currencysetupData.f062fcurDescDefaultLang"
                                            value="" required #curLang="ngModel">
                                        <span *ngIf=" curLang.errors && (curLang.dirty || curLang.touched || f.submitted)"
                                            class="form-errors">* Enter the Default Language.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Symbol Prefix<span class="required-class">*</span> </label>
                                        <input type="text" maxlength="3" class="form-control" name="Prefix" placeholder="Enter Symbol Prefix"
                                            [(ngModel)]="currencysetupData.f062fcurSymbolPrefix" value="" required
                                            #curPrefix="ngModel">
                                        <span *ngIf=" curPrefix.errors && (curPrefix.dirty || curPrefix.touched || f.submitted)"
                                            class="form-errors">* Enter the Symbol Prefix.</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Symbol Suffix<span class="required-class">*</span> </label>
                                        <input type="text" maxlength="3" class="form-control" name="Seffix" placeholder="Enter Symbol Suffix"
                                            [(ngModel)]="currencysetupData.f062fcurSymbolSuffix" value="" required
                                            #curSuffix="ngModel">
                                        <span *ngIf=" curSuffix.errors && (curSuffix.dirty || curSuffix.touched || f.submitted)"
                                            class="form-errors">* Enter the Symbol Suffix.</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Currency Default<span class="required-class">*</span> </label>
                                        <input type="text" maxlength="25" class="form-control" name="Currency"
                                            placeholder="Enter Currency Default" [(ngModel)]="currencysetupData.f062fcurDefault"
                                            value="" required #curDefault="ngModel">
                                        <span *ngIf=" curDefault.errors && (curDefault.dirty || curDefault.touched || f.submitted)"
                                            class="form-errors">*Enter the Currency Default.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Decimal Places<span class="required-class">*</span> </label>
                                        <input type="text" maxlength="11" class="form-control" name="Decimal"
                                            placeholder="Enter Decimal Places" (keypress)="onlyNumberKey($event)"
                                            [(ngModel)]="currencysetupData.f062fcurDecimal" value="" required
                                            #curDecimal="ngModel">
                                        <span *ngIf=" curDecimal.errors && (curDecimal.dirty || curDecimal.touched || f.submitted)"
                                            class="form-errors">*Enter the Decimal Places.</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div [className]="'active'"></div>
                                        <label>Status</label>
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="currencysetupData.f062fcurStatus"
                                            [checked]="currencysetupData.f062fcurStatus === '1'" [value]="1"> Active
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="currencysetupData.f062fcurStatus"
                                            [checked]="currencysetupData.f062fcurStatus === '0'" [value]="0"> Inactive
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/studentfinance/currencysetup" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>