<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Salary Components</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/payroll/addnewsalary']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="salaryList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>

                <!-- <th>Reference Number</th> -->
                <!-- <th>Staff Id</th> -->
                <!-- <th>Staff Name</th>
                <th>Department</th>
                <th>Budget Year</th> -->
                <th><mfDefaultSorter by="f081fcode">Payroll Code </mfDefaultSorter></th>
                <th><mfDefaultSorter by="f081fname">Description</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f081ftypeOfComponent">Type</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f081fpfDeductable">EPF Deductable</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f081fsocsoDeductable">SOCSO Deductable</mfDefaultSorter></th>
                <th><mfDefaultSorter by="f081ftaxDeductable">Tax Deductable</mfDefaultSorter></th>
                <!-- <th>Status</th> -->
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indsalary of mf.data ">

                <td>{{indsalary.f081fcode}}</td>
                <td>{{indsalary.f081fname}}</td>
                <td>{{indsalary.f081ftypeOfComponent == '1'?'Deduction':'Earning'}}</td>
                <td>{{indsalary.f081fpfDeductable == '1'?'Yes':'No'}}</td>
                <td>{{indsalary.f081fsocsoDeductable == '1'?'Yes':'No'}}</td>
                <td>{{indsalary.f081ftaxDeductable == '1'?'Yes':'No'}}</td>
                <!-- <td>{{indsalary.f052fstatus == '1'?'Active':'Inactive'}}</td>  -->
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/payroll/editsalary/{{indsalary.f081fid}}">
                      <button class="btn nh-btn-edit">

                        <i class="fa fa-edit"></i>
                      </button>
                    </a>

                    <!-- <button class="btn nh-btn-remove">
                                                <i class="fas fa-trash-alt"></i>
                                            </button> -->
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>