<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title"> Receipt Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group um-search-wrapper">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="creditnoteApprovalList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f082freceiptNumber">Receipt Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f082fdate">Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f082ftotalAmount">Payment Bank</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="approvalStatus">Approve</mfDefaultSorter>
                                </th> -->
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indreceipt of mf.data ">
                                <td>{{indreceipt.f082freceiptNumber}}</td>
                                <td>{{indreceipt.f082fdate | date: 'MM/dd/yyyy'}}</td>
                                <td class="amountAlign">{{indreceipt.f082ftotalAmount | number: '.2'}}</td>
                                <!-- <td>
                                    <input type="checkbox" [(ngModel)]="indreceipt.approvalStatus">
                                </td> -->
                                <td>
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountsrecivable/viewreceipt/{{indreceipt.f082fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                   
                    <!-- <div class="text-right">
                        <button type="submit" (click)='ApprovalListData()' class="btn nh-btn-primary">Approve</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>