<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Sponsor</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addSponsor()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4" *ngIf="this.id>0">
                <div class="form-group">
                  <label>Sponsor Code</label>
                  <input type="text" readonly="readonly" maxlength="100" class="form-control" name="f063fcode"
                    placeholder="Sponsor Code" [(ngModel)]="sponsorDataheader.f063fcode">

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>First Name </label>
                  <input type="text" maxlength="100" class="form-control" name="f063ffirstName" placeholder="Enter First Name "
                    [(ngModel)]="sponsorDataheader.f063ffirstName" value="" required #name="ngModel">

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Last Name<span class="required-class">*</span> </label>
                  <input type="text" maxlength="100" class="form-control" name="f063flastName" placeholder="Enter Last Name"
                    [(ngModel)]="sponsorDataheader.f063flastName" value="" required #metric="ngModel">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email<span class="required-class">*</span> </label>
                  <input type="text" maxlength="50" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-control" name="f063femail"
                    placeholder="Enter Email" [(ngModel)]="sponsorDataheader.f063femail" value="" required #Email="ngModel">
                  <span *ngIf=" Email.errors && (Email.dirty || Email.touched || f.submitted)" class="form-errors">*Enter
                    the Valid Email.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>FAX Number<span class="required-class">*</span> </label>
                  <input type="text" maxlength="10" class="form-control" name="f063ffaxNumber" placeholder="Enter FAX Number"
                    [(ngModel)]="sponsorDataheader.f063ffaxNumber" value="" required #metric="ngModel">

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Contact Number </label>
                  <input type="text" maxlength="12" class="form-control" pattern="^\d{12}$" (keypress)="onlyNumberKey($event)"
                    name="f063fcontactNo" placeholder="Enter Contact Number " [(ngModel)]="sponsorDataheader.f063fcontactNo"
                    value="" required #number="ngModel">
                  <span *ngIf=" number.errors && (number.dirty || number.touched || f.submitted)" class="form-errors">*Enter
                    the Valid Contact Number.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address 1 </label>
                  <input type="text" maxlength="100" class="form-control" name="f063faddress1" placeholder="Enter Address 1 "
                    [(ngModel)]="sponsorDataheader.f063faddress1" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address 2 </label>
                  <input type="text" maxlength="100" class="form-control" name="f063faddress2" placeholder="Enter Address 2"
                    [(ngModel)]="sponsorDataheader.f063faddress2" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Post Code </label>
                  <input type="text" maxlength="10" class="form-control" name="f063fpostCode" placeholder="Enter Post Code"
                    [(ngModel)]="sponsorDataheader.f063fpostCode" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Country</label>
                  <ng-select [items]="countryList | sort: 'f013fcountryName'" maxlength="50" bindLabel="f013fcountryName"
                    bindValue="f013fid" [(ngModel)]="sponsorDataheader.f063fcountry" name="f063fcountry" (change)="onCountryChange()"
                    #Country="ngModel" required>
                  </ng-select>
                  <!-- <input type="text" maxlength="100" class="form-control" name="f063fcountry" placeholder="Enter Country"
                    [(ngModel)]="sponsorDataheader.f063fcountry" value=""> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>State</label>
                  <!-- <input type="text" maxlength="100" class="form-control" name="f063fstate" placeholder="Enter State"
                    [(ngModel)]="sponsorDataheader.f063fstate" value=""> -->
                  <ng-select [items]="stateList |sort: 'f012fstateName'" maxlength="50" bindLabel="f012fstateName"
                    bindValue="f012fid" [(ngModel)]="sponsorDataheader.f063fstate" name="f063fstate" #state="ngModel"
                    required>
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Fund<span class="required-class">*</span> </label>
                  <!-- <select class="form-control" [(ngModel)]="sponsorDataheader.f063ffund" name="f063ffund" placeholder="Enter to Account "
                    required #fund="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indfundList of fundList" [value]="indfundList.f057fid">{{
                      indfundList.f057fcode }} - {{ indfundList.f057fname }}</option>
                  </select> -->
                  <ng-select [items]="fundList | sort:'f057fname'" bindLabel="f057fname" bindValue="f057fcode"
                    [(ngModel)]="sponsorDataheader.f063ffund" name="f063ffund" #fund="ngModel" required>
                  </ng-select>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Activity Code<span class="required-class">*</span> </label>
                  <!-- <select class="form-control" [(ngModel)]="sponsorDataheader.f063factivity" name="f063factivity"
                    placeholder="Enter to Activity " required #activity="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fid">{{indactivitycode.f058fcompleteCode}}
                      - {{ indactivitycode.f058fname }}</option>
                  </select> -->

                  <ng-select [items]="activitycodeList | sort:'f058fname'" bindLabel="f058fname" bindValue="f058fcompleteCode"
                    [(ngModel)]="sponsorDataheader.f063factivity" name="f063factivity" #activity="ngModel" required>
                  </ng-select>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Department<span class="required-class">*</span> </label>
                  <!-- <select class="form-control" [(ngModel)]="sponsorDataheader.f063fdepartment" name="f063fdepartment"
                    placeholder="Enter to Department " required #dept="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fid">{{inddepartment.f015fdepartmentCode}}
                      - {{ inddepartment.f015fdepartmentName }}</option>
                  </select> -->
                  <ng-select [items]="DeptList | sort:'f015fdepartmentName'" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                    [(ngModel)]="sponsorDataheader.f063fdepartment" name="f063fdepartment" #dept="ngModel" required>
                  </ng-select>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Account Code<span class="required-class">*</span> </label>
                  <!-- <select class="form-control" [(ngModel)]="sponsorDataheader.f063faccount" name="f063faccount"
                    placeholder="Enter to Account " required #account="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fid">{{
                      indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                  </select> -->
                  <ng-select [items]="accountcodeList | sort:'f059fname'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                    [(ngModel)]="sponsorDataheader.f063faccount" name="f063faccount" #account="ngModel" required>
                  </ng-select>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Sponsorship Type </label>
                  <!-- <select class="form-control" [(ngModel)]="sponsorDataheader.f063fsponsorshipType" name="f063fsponsorshipType"
                    required #scheme="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indSptype of ssponsorList" [value]="indSptype.f011fid">{{
                      indSptype.f011fdefinitionCode
                      }}
                    </option>
                  </select> -->
                  <ng-select [items]="sponsortypeList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                    bindValue="f011fid" [(ngModel)]="sponsorDataheader.f063fsponsorshipType" name="f063fsponsorshipType">
                  </ng-select>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Status Of Invoice </label>
                  <!-- <select class="form-control" [(ngModel)]="sponsorDataheader.f063freceivableStatus" name="f063freceivableStatus"
                    required #scheme="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indrecivable of recivablestatusList" [value]="indrecivable.f011fid">{{
                      indrecivable.f011fdefinitionCode
                      }}
                    </option>
                  </select> -->
                  <ng-select [items]="recivablestatusList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                    bindValue="f011fid" [(ngModel)]="sponsorDataheader.f063freceivableStatus" name="f063freceivableStatus">
                  </ng-select>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Payment Status</label>
                  <!-- <select class="form-control" [(ngModel)]="sponsorDataheader.f063fpaymentStatus" name="f063fpaymentStatus"
                    required #ptype="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indptype of paymentList" [value]="indptype.f011fid">{{
                      indptype.f011fdefinitionCode
                      }}
                    </option>
                  </select> -->
                  <ng-select [items]="paymentList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                    bindValue="f011fid" [(ngModel)]="sponsorDataheader.f063fpaymentStatus" name="f063fpaymentStatus">
                  </ng-select>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Job Type </label>
                  <!-- <select class="form-control" [(ngModel)]="sponsorDataheader.f063fjobType" name="f063fjobType"
                    required #jtype="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indjtype of jobtypeList" [value]="indjtype.f011fid">{{
                      indjtype.f011fdefinitionCode
                      }}
                    </option>
                  </select> -->
                  <ng-select [items]="jobtypeList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                    bindValue="f011fid" [(ngModel)]="sponsorDataheader.f063fjobType" name="f063fjobType">
                  </ng-select>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Sponsor Type </label>
                  <!-- <select class="form-control" [(ngModel)]="sponsorDataheader.f063fsponsorType" name="f063fsponsorType"
                    required #stype="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indStype of sponsortypeList" [value]="indStype.f011fid">{{
                      indStype.f011fdefinitionCode
                      }}
                    </option>
                  </select> -->
                  <ng-select [items]="fsponsortype | sort:'name'" bindLabel="name" bindValue="name" [(ngModel)]="sponsorDataheader.f063fsponsorType"
                    name="f063fsponsorType">
                  </ng-select>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Incharge Officer</label>
                  <input type="text" maxlength="100" class="form-control" name="f063finchargeOfficer" placeholder="Enter Incharge Officer"
                    [(ngModel)]="sponsorDataheader.f063finchargeOfficer" value="">

                </div>
              </div>

              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <label>Status of Invoice<span class="required-class">*</span></label>
                  <ng-select [items]="fstatus" bindLabel="name" bindValue="name" [(ngModel)]="sponsorDataheader.f070fmonth"
                    name="f070fmonth" #invoice="ngModel" required>
                  </ng-select>
                  <span *ngIf=" invoice.errors && (invoice.dirty || invoice.touched || f.submitted)" class="form-errors">*Select
                    Status of Invoice</span>
                </div>
              </div> -->
            </div>
          </form>

          <div class="row" *ngIf="this.sponsorDataheader['f063fsponsorType']=='Partial'">
            <div class="col-sm-12">
              <div id="overlay1"></div>

              <div id="myModal" class=" fade in" role="dialog">
                <div class="modal-content">
                  <p class="maximize-icon">
                    <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                  </p>
                  <p class="minimize-icon hidden">
                    <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                  </p>
                  <div class="modal-body">
                    <table class="table table-bordered table-striped table-food">
                      <thead>
                        <tr>
                          <th>Fee Type</th>
                          <th>Fee Category</th>
                          <th>Sponsor Code</th>
                          <th>Allow Second Sponsor</th>
                          <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let indsponsor of sponsorList;let i = index;trackBy:indexTracker;last as isLast">
                          <td>
                            <!-- <select class="form-control" style="width:600px" [(ngModel)]="sponsorList[i].f063fidFeeType"
                          name="f063fidFeeType">
                          <option [ngValue]="undefined" hidden selected> -- select-- </option>
                          <option *ngFor="let indfeeitem of feeItemList" [value]="indfeeitem.f066fid">{{
                            indfeeitem.f066fname }}</option>
                        </select> -->
                            <ng-select [items]="feeItemList | sort:'f120fname'" style="width:200px" bindLabel="f120fname"
                              bindValue="f120fid" [(ngModel)]="sponsorList[i].f063fidFeeType" name="f063fidFeeType">
                            </ng-select>

                          </td>
                          <td>
                            <ng-select [items]="feecategoryList" style="width:200px" bindLabel="f065fname" bindValue="f065fid"
                              [(ngModel)]="sponsorList[i].f063ffeeCategory" name="f063ffeeCategory">
                            </ng-select>

                          </td>
                          <td>
                            <input type="text" maxlength="4" style="width:200px" class="form-control" name="f063fsponsorCode"
                              placeholder="Enter Sponsor Code" [(ngModel)]="sponsorList[i].f063fsponsorCode" value="">

                          </td>
                          <td>

                            <input type="radio" name="f063fallowSecond{{i}}" [(ngModel)]="sponsorList[i].f063fallowSecond"
                              [checked]="sponsorList[i].f063fallowSecond === '1'" [value]="1"> Yes
                            <input type="radio" name="f063fallowSecond{{i}}" [(ngModel)]="sponsorList[i].f063fallowSecond"
                              [checked]="sponsorList[i].f063fallowSecond === '0'" [value]="0"> No

                          </td>
                          <!-- <td>
                        <input type="button" name="delete" (click)='deleteSponsorlist(sponsorList[i])' value='Delete'
                          class="btn nh-btn-primary" />
                      </td> -->
                          <td *ngIf="!isLast">
                            <button class="btn nh-btn-primary" type="button" (click)='deleteSponsorlist(sponsorList[i])'>
                              <i class="fa fa-minus"></i>
                            </button>
                          </td>
                          <td *ngIf="isLast">
                            <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteSponsorlist(sponsorList[i])'>
                              <i class="fa fa-minus"></i>
                            </button>
                            <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                              <i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>

                        <tr *ngIf="showLastRow==false">
                          <td>
                            <!-- <select class="form-control" style="width:600px" [(ngModel)]="sponsorData.f063fidFeeType" name="f063fidFeeType">
                          <option [ngValue]="undefined" hidden selected> -- select-- </option>
                          <option *ngFor="let indfeeitem of feeItemList" [value]="indfeeitem.f066fid">{{
                            indfeeitem.f066fname }}</option>
                        </select> -->
                            <ng-select [items]="feeItemList | sort:'f120fname'" style="width:200px" bindLabel="f120fname"
                              bindValue="f120fid" [(ngModel)]="sponsorData.f063fidFeeType" name="f063fidFeeType" #fee="ngModel"
                              required>
                            </ng-select>

                          </td>
                          <td>
                            <!-- <ng-select [items]="feecategoryList" bindLabel="name" bindValue="name" [(ngModel)]="sponsorData.f063ffeeCategory"
                          name="f063ffeeCategory" #feecategory="ngModel" required>
                        </ng-select> -->
                            <ng-select [items]="feecategoryList" style="width:200px" bindLabel="f065fname" bindValue="f065fid"
                              [(ngModel)]="sponsorData.f063ffeeCategory" name="f063ffeeCategory">
                            </ng-select>

                          </td>
                          <td>
                            <input type="text" maxlength="4" style="width:200px" class="form-control" name="f063fsponsorCode"
                              placeholder="Enter Sponsor Code" [(ngModel)]="sponsorData.f063fsponsorCode" value=""
                              #sponsorcode="ngModel" required>

                          </td>
                          <td>

                            <input type="radio" name="f063fallowSecond" [(ngModel)]="sponsorData.f063fallowSecond"
                              [checked]="sponsorData.f063fallowSecond === '1'" [value]="1"> Yes
                            <input type="radio" name="f063fallowSecond" [(ngModel)]="sponsorData.f063fallowSecond"
                              [checked]="sponsorData.f063fallowSecond === '0'" [value]="0"> No

                          </td>
                          <!-- <td>
                        <input type="button" name="add" (click)='addSponsorlist()' value='ADD' class="btn nh-btn-primary" />
                      </td> -->
                          <td>
                            <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                              <i class="fa fa-minus"></i>
                            </button>
                            <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addSponsorlist()'>
                              <i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/studentfinance/sponsor" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveSponsor()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>