<div class="ps-right-section">
        <div class="ps-dashboard-sec">
          <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="ad-page-title">Purchase Requisition Approval (Details)</h1>
              </div>
            </div>
            <div class="row" id="target">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Order Type</label>
                      <select class="form-control" [(ngModel)]="purchaserequistionentryDataheader.f088forderType" name="f088forderType">
                          <option [ngValue]="undefined" hidden selected> -- select-- </option>
                          <option value='PO'>PO</option>
                          <option value='NONPO'>NON PO</option>
                          <option value='WARRANT'>WARRANT</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Reference Number</label>
                      <input type="text" class="form-control" [(ngModel)]="purchaserequistionentryDataheader.f088freferenceNumber"
                        name="f088freferenceNumber" placeholder="Reference Number" readonly="readonly" />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Date</label>
                      <input type="date" class="form-control" name="f088fdate" [(ngModel)]="purchaserequistionentryDataheader.f088fdate"
                        value="" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Cost Center </label>
                      <select class="form-control" [(ngModel)]="purchaserequistionentryDataheader.f088fidDepartment" name="f088fidDepartment">
                        <option [ngValue]="undefined" hidden selected>--select--</option>
                        <option *ngFor="let inddepartment of departmentList" [value]="inddepartment.f015fid">{{
                          inddepartment.f015fdepartmentName
                          }} </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Budget Year </label>
                      <select class="form-control" [(ngModel)]="purchaserequistionentryDataheader.f088fidFinancialyear" name="f088fidFinancialyear">
                        <option [ngValue]="undefined" hidden selected>--select--</option>
                        <option *ngFor="let indfinance of financialList" [value]="indfinance.f015fid">{{
                          indfinance.f015fname
                          }} </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Vendor </label>
                      <select class="form-control" [(ngModel)]="purchaserequistionentryDataheader.f088fidSupplier" name="f088fidSupplier">
                        <option [ngValue]="undefined" hidden selected>--select--</option>
                        <option *ngFor="let indsupplier of supplierList" [value]="indsupplier.f030fid">{{
                          indsupplier.f030fcompanyName }} </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Description </label>
                      <textarea type="text" class="form-control" name="f088fdescription" [(ngModel)]="purchaserequistionentryDataheader.f088fdescription"
                        value="" required placeholder="Description"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Amount (RM)</label>
                      <input type="text" class="form-control" style="text-align: right" name="f088ftotalAmount" [(ngModel)]="purchaserequistionentryDataheader.f088ftotalAmount "
                        placeholder="Amount" readonly="readonly">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive credit-note-table-wrapper">
                      <table class="table table-bordered table-striped credit-note-table">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Unit</th>
                            <th colspan="4"  style="text-align:center">GL Code</th>
                            <th colspan="4"  style="text-align:center">Budget Code</th>
                            <th>SO Code</th>
                            <th>Required Date</th>
                            <th>Quantity</th>
                            <th>Price (RM)</th>
                            <th>Total (RM)</th>
                            <th>Tax Code</th>
                            <th>In %</th>
                            <th>Tax Amount (RM)</th>
                            <th>Total Inc Tax (RM)</th>
                            <!-- <th></th> -->
                          </tr>
                          <tr >
                            <th></th>
                            <th></th>
                            <th>Fund Code</th>
                            <th>Activity Code</th>
                            <th>Costcenter Code</th>
                            <th>Account Code</th>
                            <th>Fund Code</th>
                            <th>Activity Code</th>
                            <th>Costcenter Code</th>
                            <th>Account Code</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
    
                          <tr *ngFor="let indinv of purchaserequistionentryList;let i = index;trackBy:indexTracker">
      
                            <td>
                              <select class="form-control" style="width: 90px" [(ngModel)]="purchaserequistionentryList[i].f088fidItem"
                                name="f088fidItem" value="" required #department="ngModel">
                                <option [ngValue]="undefined" hidden selected>--select--</option>
                                <option *ngFor="let indfeeitem of itemList" [value]="indfeeitem.f029fid">{{
                                  indfeeitem.f029fitemName }}</option>
                              </select>
                            </td>
      
                            <td>
                                <input type="text" maxlength="10" style="width: 65px" class="form-control"
                                  name="f088funit" [(ngModel)]="purchaserequistionentryList[i].f088funit" placeholder="Unit">
                              </td>
      
                            <td>
                              <input type="text" class="form-control fundAlign" readonly="readonly" [(ngModel)]="purchaserequistionentryList[i].f088ffundCode"
                                name="f088ffundCode">
                            </td>
                            <td><input type="text" class="form-control activityCodeAlign" style="width:60px;" readonly="readonly"
                                [(ngModel)]="purchaserequistionentryList[i].f088factivityCode" name="f088factivityCode"
                                placeholder="Enter to Activity ">
                            </td>
                            <td> <input type="text" class="form-control costCenterAlign" readonly="readonly" [(ngModel)]="purchaserequistionentryList[i].f088fdepartmentCode"
                                name="f088fdepartmentCode" placeholder="Enter to Department ">
                            </td>
      
                            <td> <input type="text" class="form-control accountCodeAlign" readonly="readonly" [(ngModel)]="purchaserequistionentryList[i].f088faccountCode"
                                name="f088faccountCode" placeholder="Enter to Account ">
                            </td>
      
                            <td>
                              <input type="text" class="form-control fundAlign" readonly="readonly" [(ngModel)]="purchaserequistionentryList[i].f088fbudgetFundCode"
                                name="f088fbudgetFundCode">
                            </td>
                            <td><input type="text" class="form-control activityCodeAlign" style="width:60px;" readonly="readonly"
                                [(ngModel)]="purchaserequistionentryList[i].f088fbudgetActivityCode" name="f088fbudgetActivityCode"
                                placeholder="Enter to Activity ">
                            </td>
                            <td> <input type="text" class="form-control costCenterAlign" readonly="readonly" [(ngModel)]="purchaserequistionentryList[i].f088fbudgetDepartmentCode"
                                name="f088fbudgetDepartmentCode" placeholder="Enter to Department ">
                            </td>
      
                            <td> <input type="text" class="form-control accountCodeAlign" readonly="readonly" [(ngModel)]="purchaserequistionentryList[i].f088fbudgetAccountCode"
                                name="f088fbudgetAccountCode" placeholder="Enter to Account ">
                            </td>
      
      
      
                            <td>
                              <input type="text" style="width: 75px" class="form-control" name="f088fsoCode" placeholder="So Code"
                                [(ngModel)]="purchaserequistionentryList[i].f088fsoCode">
                            </td>
      
                            <td>
                              <input type="date" class="form-control" [(ngModel)]="purchaserequistionentryList[i].f088frequiredDate"
                                style="text-align: right" name="f088frequiredDate ">
                            </td>
      
                            <td>
                              <input type="number" maxlength="10" style="width: 75px" class="form-control" name="f088fquantity"
                                [(ngModel)]="purchaserequistionentryList[i].f088fquantity" placeholder="Quantity">
                            </td>
      
                           
      
                            <td>
                              <input type="number" maxlength="10" style="text-align: right; width: 95px" class="form-control"
                                name="f088fprice" [(ngModel)]="purchaserequistionentryList[i].f088fprice" placeholder="Price" value="">
                            </td>
      
                            <td><input type="number" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                                name="f088total" [(ngModel)]="purchaserequistionentryList[i].f088total" placeholder="Total"
                                value="{{ purchaserequistionentryList[i].f088fquantity * purchaserequistionentryList[i].f088fprice }}">
                            </td>
      
                            <td>
                              <select class="form-control" style="width: 100px" [(ngModel)]="purchaserequistionentryList[i].f088ftaxCode"
                                name="f088ftaxCode" required #department="ngModel" (change)="getGstvalue(this.value)">
                                <option [ngValue]="undefined" hidden selected>--select--</option>
                                <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                                  indtaxcode.f081fcode }}</option>
                              </select>
                            </td>
      
                            <td>
                              <input type="number" maxlength="15" style="width: 65px" class="form-control" name="f088fpercentage"
                                [(ngModel)]="purchaserequistionentryList[i].f088fpercentage" placeholder="In %" value="">
                            </td>
      
      
                            <td><input type="number" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                                name="f088ftaxAmount" [(ngModel)]="purchaserequistionentryList[i].f088ftaxAmount" placeholder="Tax Amount"
                                value="">
                            </td>
      
                            <td>
                              <input type="text" disabled="disabled" maxlength="10" class="form-control" name="f088ftotalIncTax"
                                style="text-align: right;width: 130px" [(ngModel)]="purchaserequistionentryList[i].f088ftotalIncTax"
                                placeholder="Total" value="">
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Total</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p class="text-right">
                      <a [routerLink]="['/procurement/prapproval']" class="btn nh-btn-primary">Back</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      