<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Loan Process</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="loanprocessList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>

                            <tr>
                                <th>Select</th>
                                <!-- <th>
                                    <mfDefaultSorter by="f043freferenceNumber">Reference Number</mfDefaultSorter>
                                </th> -->

                                <th>
                                    <mfDefaultSorter by="staff">Staff</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="currentMonth">Month</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f043fmonthlyInstallment">Amount (RM)</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indloanprocess of mf.data">
                                <td>
                                    <input type="checkbox" [(ngModel)]="indloanprocess.processStatus">
                                </td>
                                <td>{{indloanprocess.staff}}-{{indloanprocess.f043fempName}}</td>
                                <!-- <td>{{indloanprocess.f043freferenceNumber}}</td> -->
                                <td>{{indloanprocess.currentMonth | date: 'dd/MM/yyyy'}}</td>
                                <td class="amountAlign">{{indloanprocess.f043fmonthlyInstallment}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='LoanprocessListData()' class="btn nh-btn-primary">Post
                                    to Salary Deduction</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>