<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/activitylevelone']">Group</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/activityleveltwo']">Sub
                                    Group</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/activitylevelthree']">Sub
                                    - Siri</a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title"> Group</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <!-- <div class="col-sm-12"> -->

                    <thead>
                        <tr>
                            <th>Group Code</th>
                            <th>Group Description</th>

                        </tr>
                    </thead>
                    <!-- </div> -->
                    <tbody>
                        <tr *ngFor="let indlevelone of activityleveloneList; let i = index">

                            <td>
                                <input type="text" class="form-control" maxlength="2" name="f058fcode" (keypress)="onlyNumberKey($event)"
                                    placeholder="Enter the Group Code" [(ngModel)]="activityleveloneList[i].f058fcode"
                                    value="" (blur)="onBlurMethod(activityleveloneList[i])">
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="150" name="f058fname" placeholder="Enter the Group Description"
                                    [(ngModel)]="activityleveloneList[i].f058fname" value="">
                            </td>
                            <!-- <td>
                                <input type="text" class="form-control" name="f054fq2" placeholder="Enter Description" [(ngModel)]="activityleveloneList[i].f058fdescription"
                                    value="">
                            </td> -->

                            <td>
                                <!-- <input type="button" name="add" (click)='deletelevelone(activityleveloneList[i])' value='Delete' class="btn nh-btn-primary" /> -->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" maxlength="2" class="form-control" maxlength="2" name="f058fcode"
                                    (keypress)="onlyNumberKey($event)" placeholder="Enter the Group Code" [(ngModel)]="activityleveloneData.f058fcode"
                                    value="">
                            </td>
                            <td>
                                <input type="text" maxlength="25" class="form-control" maxlength="150" name="f058fname"
                                    placeholder=" Enter the Group Description" [(ngModel)]="activityleveloneData.f058fname"
                                    value="">
                            </td>
                            <!-- <td>
                                <input type="text" maxlength="10" class="form-control" name="Description" placeholder="Enter Description" [(ngModel)]="activityleveloneData.f058fdescription"
                                    value="">
                            </td> -->
                            <td>
                                <button  class="btn nh-btn-primary" type="button" (click)='addactivityLevelone()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                                <!-- <input type="button" name="add" (click)='addactivityLevelone()' value='ADD' class="btn nh-btn-primary" /> -->
                            </td>
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/generalsetup/activitylevelone" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveactivityLevelone()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>