<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Currency Setup</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/studentfinance/addnewcurrencysetup']" class="btn nh-btn-primary">Add </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped" [mfData]="currencysetupList | filter : searchText | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f062fcurCode">Currency Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f062fcurDesc">Currency Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f062fcurDescDefaultLang">Default Language</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f062fcurSymbolPrefix">Symbol Prefix</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f062fcurSymbolSuffix">Symbol Suffix</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f062fcurDefault">Currency Default</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f062fcurDecimal">Decimal Places</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f062fcurStatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indcurrencysetup of mf.data ">
                <td>{{indcurrencysetup.f062fcurCode}}</td>
                <td>{{indcurrencysetup.f062fcurDesc}}</td>
                <td>{{indcurrencysetup.f062fcurDescDefaultLang}}</td>
                <td>{{indcurrencysetup.f062fcurSymbolPrefix}}</td>
                <td>{{indcurrencysetup.f062fcurSymbolSuffix}}</td>
                <td>{{indcurrencysetup.f062fcurDefault}}</td>
                <td>{{indcurrencysetup.f062fcurDecimal}}</td>
                <td>{{indcurrencysetup.f062fcurStatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/studentfinance/editcurrencysetup/{{indcurrencysetup.f062fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="9">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>