<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget General Information </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a href="budget/addnewbudgetgeneralinformation" class="btn nh-btn-primary">Add Budget General Information </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th><mfDefaultSorter by="f053fidSemester">Semester</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f053fnewStudents">New Students</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f053fgraduateStudents">Graduate Students</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f053fnoOfViceAccessories">Number of vice Accessories</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f053fattirationRate">Attiration Rate</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f053fexpensesByGovt">Expenses by Govt</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f053fstatus">Status</mfDefaultSorter></th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetgeneralinformation of budgetgeneralinfoList | filter : searchText">
                                <td>{{indbudgetgeneralinformation.f053fidSemester}}</td>
                                <td>{{indbudgetgeneralinformation.f053fnewStudents}}</td>
                                <td>{{indbudgetgeneralinformation.f053fgraduateStudents}}</td>
                                <td>{{indbudgetgeneralinformation.f053fnoOfViceAccessories}}</td>
                                <td>{{indbudgetgeneralinformation.f053fattirationRate}}</td>
                                <td>{{indbudgetgeneralinformation.f053fexpensesByGovt}}</td>
                                <td>{{indbudgetgeneralinformation.f053fstatus === true?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a href="budget/editbudgetgeneralinformation/{{indbudgetgeneralinformation.f053fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>