<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="header-block">
            <h1 class="ad-page-title" *ngIf="idview==0">Investment Application</h1>
            <h1 class="ad-page-title" *ngIf="idview==2">Approval Bursary</h1>
            <h1 class="ad-page-title" *ngIf="idview==3">Approval Register</h1>
            <h1 class="ad-page-title" *ngIf="idview==4">Approval Vice Chancellor</h1>
            <button class="btn nh-btn-primary btn-addnew" (click)="openAddNewModal(content)" type="button">Add New Application Details</button> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row" id="target">

            <div class="col-sm-4" *ngIf="BatchNumberShow == true">
              <div class="form-group">
                <label>Batch Number<span class="required-class">*</span></label>
                <input type="text" maxlength="15" class="form-control" name="f063fapplicationId" readonly="readonly"
                  placeholder="Enter Batch Number" [(ngModel)]="investmentappDataheader.f063fapplicationId">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description<span class="required-class">*</span></label>
                <input type="text" maxlength="50" class="form-control" name="f063fdescription" placeholder="Enter Description"
                  [(ngModel)]="investmentappDataheader.f063fdescription">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Investment Amount (RM)<span class="required-class">*</span></label>
                <input type="text" maxlength="10" class="form-control" readonly="readonly" style="text-align: right"
                  name="f063finvestmentAmount" placeholder="Investment Amount" [(ngModel)]="investmentappDataheader.f063finvestmentAmount"
                >
              </div>
            </div>
        
            <div class="col-sm-4">
              <div class="form-group">
                <label>Upload File<span class="required-class">*</span></label>
                <input type="file" class="form-control" name="f063ffile" [(ngModel)]="investmentappDataheader.f063ffile"
                  (change)="fileSelected($event)" accept=".pdf">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>UUM Bank<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="banksetupaccountList  | sort:'Bank'" bindLabel="Bank"
                  bindValue="f041fid" [(ngModel)]="investmentappDataheader.f063fuumBank" name="f063fuumBank">
                </ng-select>
              </div>
            </div>

          </div>
          <hr class="devider">
          <div class="row">
              <div class="col-sm-12">
                 <div class="text-left btn-block">
                    <button class="btn nh-btn-primary btn-addnew" (click)="openAddNewModal(content)" type="button">Add New Application Details</button>      
                 </div>
              </div>
           </div>
           <hr class="devider">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="ad-page-title" >Investement Application Details</h1>
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-food" id="target1">
                  <thead>
                    <tr>
                      <th>Investment Institution</th>
                      <th>Investment Bank</th>
                      <th>Branch</th>
                      <th>Type Of Investment</th>
                      <th>Duration Type</th>
                      <th>Duration</th>
                      <th>Profit (%)</th>
                      <th>Amount (RM)</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indinv of investmentapplicationList;let i = index;last as isLast">
                      <td>

                        <ng-select [disabled]="viewDisabled" [items]="investmentinstitutionList" style="width: 150px;"
                          bindLabel="f061finstitutionCode" bindValue="f061fid" [(ngModel)]="investmentapplicationList[i].f063finstitutionId"
                          (change)="onInstitutionChange()" name="f063finstitutionId">
                        </ng-select>
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="bankList" bindLabel="f042fbankName" bindValue="f042fid"
                          style="width: 150px;" [(ngModel)]="investmentapplicationList[i].f063fbankId" (change)="getType()"
                          name="f063fbankId">
                        </ng-select>
                      </td>
                      <td>
                        <input [disabled]="viewDisabled" readonly="readonly" type="text" maxlength="25" class="form-control"
                          name="f063fbranch" [(ngModel)]="investmentapplicationList[i].f063fbranch" placeholder="Enter Branch">
                      </td>
                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="typeofinstitutionList | sort:'f038ftype'"
                          style="width: 150px;" bindLabel="f038ftype" bindValue="f038fid" [(ngModel)]="investmentapplicationList[i].f063fidInvestmentType"
                          name="f063fidInvestmentType">
                        </ng-select>
                        <!-- <ng-select [items]="invtype" bindLabel="name" bindValue="name" style="width: 150px;"
                          [(ngModel)]="investmentapplicationList[i].f063fidInvestmentType" name="f063fidInvestmentType"
                          required #name="ngModel">
                        </ng-select> -->
                      </td>

                      <td>
                        <ng-select [disabled]="viewDisabled" [items]="durationtype" bindLabel="name" style="width: 150px;"
                          bindValue="name" [(ngModel)]="investmentapplicationList[i].f063fdurationType" name="f063fdurationType">
                        </ng-select>
                      </td>
                      <td>
                        <input [disabled]="viewDisabled" type="text" maxlength="5" class="form-control" (keypress)="onlyNumberKey($event)"
                          maxlength="10" name="f063fduration" placeholder="Enter Duration" [(ngModel)]="investmentapplicationList[i].f063fduration">
                      </td>
                      <td>
                        <input [disabled]="viewDisabled" type="text" class="form-control" name="f063fprofitRate"
                          [(ngModel)]="investmentapplicationList[i].f063fprofitRate" placeholder="Enter Profit">
                      </td>
                      <td>
                        <input type="text" maxlength="15" class="form-control" (keypress)="onlyNumberKey($event)"
                          style="text-align: right;width:85px;"  [disabled]="viewDisabled" name="f063famount" [(ngModel)]="investmentapplicationList[i].f063famount"
                          (blur)="onBlurMethod()" placeholder=" Amount">
                      </td>

                      <td *ngIf="!isLast">
                        <button class="btn nh-btn-primary" type="button" (click)='deleteInvestmentList(investmentapplicationList[i])'
                          *ngIf="viewDisabled==false">
                          <i class="fa fa-minus"></i>
                        </button>
                      </td>
                      <td *ngIf="isLast">
                        <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteInvestmentList(investmentapplicationList[i])'>
                          <i class="fa fa-minus"></i>
                        </button>
                        <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                      
                    </tr>


                   
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>       
          </div>
         
          <div class="row">
            <div class="col-sm-12">
              <div class="text-right btn-block">
                <a [routerLink]="['/investment/investmentapplication']" class="btn nh-btn-secondary" *ngIf="idview==0">Cancel</a>
                <a [routerLink]="['/investment/approvalone']" class="btn nh-btn-secondary" *ngIf="idview==2">Cancel</a>
                <a [routerLink]="['/investment/approvaltwo']" class="btn nh-btn-secondary" *ngIf="idview==3">Cancel</a>
                <a [routerLink]="['/investment/approvalthree']" class="btn nh-btn-secondary" *ngIf="idview==4">Cancel</a>

                <button type="submit" (click)='saveInvestmentapplication()' class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Investement Application Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid scroll-wrapper">
        <div class="row custom-row" >
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Investement Institution<span class="required-class">*</span></label>
                    <ng-select [items]="investmentinstitutionList" [disabled]="viewDisabled"
                              style="width: 150px;" bindLabel="f061finstitutionCode" bindValue="f061fid" [(ngModel)]="investmentapplicationData.f063finstitutionId"
                              (change)="onInstitutionChanges()" name="f063finstitutionId">
                    </ng-select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Investement Bank<span class="required-class">*</span></label>
                    <ng-select [items]="investmentTypeList" bindLabel="f042fbankName" bindValue="f061fidBank" style="width: 150px;"
                    [(ngModel)]="investmentapplicationData.f063fbankId" (change)="getType()" name="f063fbankId">
                  </ng-select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Branch<span class="required-class">*</span></label>
                    <input type="text" maxlength="25" readonly="readonly" class="form-control" name="f063fbranch"
                    placeholder="Enter Branch" [(ngModel)]="investmentapplicationData.f063fbranch">

                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Investement Type<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="typeofinstitutionList"
                              style="width: 150px;" bindLabel="f038ftype" bindValue="f038fid" [(ngModel)]="investmentapplicationData.f063fidInvestmentType"
                              name="f063fidInvestmentType">
                            </ng-select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Duration Type<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="durationtype" style="width: 150px;" bindLabel="name"
                    bindValue="name" [(ngModel)]="investmentapplicationData.f063fdurationType" name="f063fdurationType">
                  </ng-select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Duration<span class="required-class">*</span></label>
                    <input type="text" class="form-control" name="f063fduration" (keypress)="onlyNumberKey($event)"
                              placeholder="Enter Duration" [(ngModel)]="investmentapplicationData.f063fduration"
                              maxlength="10">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Profit Rate<span class="required-class">*</span></label>
                    <input type="text" class="form-control" (blur)="checkprofit()" (keypress)="onlyNumberKey($event)"
                    name="f063fprofitRate" [(ngModel)]="investmentapplicationData.f063fprofitRate"
                    placeholder="Enter Profit">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Amount<span class="required-class">*</span></label>
                    <input type="text" maxlength="15" class="form-control" (keypress)="onlyNumberKey($event)"
                              style="text-align: right" name="f063famount" [(ngModel)]="investmentapplicationData.f063famount"
                              (blur)="onBlurMethod()" placeholder="Enter Amount">
                </div>
            </div>
            
        </div>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
      <button type="button" (click)='addinvestmentapplication()' class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
  </div>    
</ng-template>