<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Currency Setup</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
              <div class="add-btn">
                <a href="generalsetup/addnewcurrencysetup" class="btn nh-btn-primary">Add </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Currency Code</th>
                  <th>Currency Name</th> 
                  <th>Default language Name</th>
                  <th>Symbol Prefix</th>
                  <th>Symbol Suffix</th>
                  <th>Currency Default</th>
                  <th>Decimal Places</th>
                  <th>Status</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indcurrencysetup of currencysetupList | filter : searchText">
                  <td>{{indcurrencysetup.f062fcurCode}}</td>
                  <td>{{indcurrencysetup.f062fcurDesc}}</td>
                  <td>{{indcurrencysetup.f062fcurDescDefaultLanguage}}</td>
                  <td>{{indcurrencysetup.f062fcurSymbolPrefix}}</td>
                  <td>{{indcurrencysetup.f062fcurSymbolSuffix}}</td>
                  <td>{{indcurrencysetup.f062fcurDefault}}</td>
                  <td>{{indcurrencysetup.f062fcurDecimal}}</td>
                  <td>{{indcurrencysetup.f062fcurStatus === true?'Active':'Inactive'}}</td>
  
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a href="generalsetup/editcurrencysetup/{{indcurrencysetup.f062fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
  
  
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  