<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Stock Registration</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addItem()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Category<span class="required-class">*</span></label>
                                    <ng-select [items]="categoryList | sort:'f087fcategoryDiscription'" bindLabel="f087fcategoryDiscription"
                                        bindValue="f087fid" [(ngModel)]="stockRegData.f124fassetCategory" name="f124fassetCategory"
                                        #assetcategory="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="assetcategory.errors && (assetcategory.dirty || assetcategory.touched || f.submitted )"
                                        class="form-errors">*Select Asset Category
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Sub Category<span class="required-class">*</span></label>
                                    <ng-select [items]="subcategoryList | sort:'f089fsubDescription'" bindLabel="f089fsubDescription"
                                        bindValue="f089fid" [(ngModel)]="stockRegData.f124fassetSubCategory" name="f124fassetSubCategory"
                                        #subcategory="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="subcategory.errors && (subcategory.dirty || subcategory.touched || f.submitted )"
                                        class="form-errors">*Select Asset Sub Category
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asset Item<span class="required-class">*</span></label>
                                    <ng-select [items]="assetItemList| sort:'f088fitemDescription'" bindLabel="f088fitemDescription"
                                        bindValue="f088fid" [(ngModel)]="stockRegData.f124fassetItem" name="f124fassetItem"
                                        #assetItem="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="assetItem.errors && (assetItem.dirty || assetItem.touched || f.submitted )"
                                        class="form-errors">*Select
                                        Asset Item
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Store Name<span class="required-class">*</span></label>
                                    <ng-select [items]="setupList" bindLabel="f097fstoreName" bindValue="f097fid"
                                        [(ngModel)]="stockRegData.f124fstore" name="f124fstore" #store="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="store.errors && (store.dirty || store.touched || f.submitted )" class="form-errors">*Select
                                        Store Name
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Quantity <span class="required-class">*</span></label>
                                    <input type="text" maxlength="9" (keypress)="onlyNumberKey($event)" class="form-control"
                                        name="f124fquantity" placeholder="Enter Quantity" [(ngModel)]="stockRegData.f124fquantity"
                                        value="" required #quantity="ngModel">
                                    <span *ngIf="quantity.errors && (quantity.dirty || quantity.touched || f.submitted )"
                                        class="form-errors">*Enter
                                        the Quantity
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Date<span class="required-class">*</span></label>
                                    <input type="date" maxlength="25" class="form-control" name="f124fdate" [(ngModel)]="stockRegData.f124fdate"
                                        #date="ngModel" required>
                                </div>
                                <span *ngIf="date.errors && (date.dirty || date.touched || f.submitted )" class="form-errors">*Select
                                    Date
                                    .</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="stockRegData.f124fstatus" [checked]="stockRegData.f124fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="stockRegData.f124fstatus" [checked]="stockRegData.f124fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/stockregistration']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>