<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Revenue Setup</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewrevenuesetup']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="revenuesetupList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f085fcode">Revenue Item</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fname">Description</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="accountName">Account Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f087fstatus">Status</mfDefaultSorter>
                </th>

                <th> Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indrevenuesetup of mf.data ">
                <td>{{indrevenuesetup.f085fcode}}</td>
                <td>{{indrevenuesetup.f085fname}}</td>
                <td>{{indrevenuesetup.accountName}}</td>
                <td>{{indrevenuesetup.f085fstatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editrevenuesetup/{{indrevenuesetup.f085fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>