<div class="ps-right-section">

  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Loan Type</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addLoanname()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Loan Category<span class="required-class">*</span></label>
                  <ng-select [items]="loanCategoryList | sort: 'f011fdefinitionCode'" bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="loannameData.f020ftypeOfLoan"
                    name="f020ftypeOfLoan" #typeOfLoan="ngModel" required>
                  </ng-select>

                  <span *ngIf="typeOfLoan.errors && (typeOfLoan.dirty || typeOfLoan.touched || f.submitted )" class="form-errors">*Select
                    Loan Category.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Loan Type<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f020floanName" placeholder="Enter Loan Type"
                    [(ngModel)]="loannameData.f020floanName" value="" required #name="ngModel" (blur)="checkDuplication()">
                  <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Enter
                    the Loan Type</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Profit Rate(%)<span class="required-class">*</span></label>
                  <input type="text" maxlength="5" class="form-control"  name="f020fpercentage"
                    placeholder="Enter Profit Rate" (keypress)="onlyNumberKey($event)" [(ngModel)]="loannameData.f020fpercentage" value="" required
                    #per="ngModel">
                  <span *ngIf="per.errors && (per.dirty || per.touched || f.submitted )" class="form-errors">*Enter
                    the Profit Rate</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Fund<span class="required-class">*</span></label>
                  <ng-select [items]="fundList" bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="loannameData.f020ffund"
                    name="f020ffund" #fund="ngModel" required>
                  </ng-select>
                  <span *ngIf="fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                    Fund </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Activity Code<span class="required-class">*</span></label>
                  <ng-select [items]="activitycodeList" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="loannameData.f020factivity"
                    name="f020factivity" #Activity="ngModel" required>
                  </ng-select>
                  <span *ngIf="Activity.errors && (Activity.dirty || Activity.touched || f.submitted)" class="form-errors">*Select
                    Activity Code</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Cost Center<span class="required-class">*</span></label>
                  <ng-select [items]="DeptList" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                    [(ngModel)]="loannameData.f020fdepartment" name="f020fdepartment" #Cost="ngModel" required>
                  </ng-select>
                  <span *ngIf="Cost.errors && (Cost.dirty || Cost.touched || f.submitted)" class="form-errors">*Select
                    Cost Center</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Account Code<span class="required-class">*</span></label>
                  <ng-select [items]="accountcodeList | sort: 'f059fcompleteCode'" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="loannameData.f020faccount"
                    name="f020faccount" #Account="ngModel" required>
                  </ng-select>
                  <span *ngIf="Account.errors && (Account.dirty || Account.touched || f.submitted)" class="form-errors">*Select
                    Account Code</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Pay to Type<span class="required-class">*</span></label>
                  <ng-select [items]="fpaytype | sort: 'name'" bindLabel="name" bindValue="name" [(ngModel)]="loannameData.f020fpaytype"
                    name="f020fpaytype" #type="ngModel" required>
                  </ng-select>
                  <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted )" class="form-errors">*Select
                    Pay to Type</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div [className]="'active'"></div>
                  <label>Status</label>
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="loannameData.f020fstatus" [checked]="loannameData.f020fstatus === '1'"
                    [value]="1"> Active
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="loannameData.f020fstatus" [checked]="loannameData.f020fstatus === '0'"
                    [value]="0"> Inactive
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/loan/loanname']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>