<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Vendor Registration</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Vendor Approval</h1>
        </div>
      </div>
      <div class="row" id="target">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div *ngIf="edit == true">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Vendor Code</label>
                    <input type="text" class="form-control" readonly="readonly" name="f030fvendorCode" [(ngModel)]="vendorDataHeader.f030fvendorCode"
                      value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Receipt Number</label>
                    <input type="text" class="form-control" maxlength="25" name="f030fnumberReceipt" placeholder="Enter Receipt Number"
                      [(ngModel)]="vendorDataHeader.f030fnumberReceipt">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Company Registartion Number<span class="required-class">*</span></label>
                    <input type="text" class="form-control" maxlength="25" name="f030fcompanyRegNo" placeholder="Enter Company Registartion Number"
                      [(ngModel)]="vendorDataHeader.f030fcompanyRegNo" required>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Vendor Name<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="f030fcompanyName" placeholder="Enter Vendor Name"
                      [(ngModel)]="vendorDataHeader.f030fcompanyName">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Email<span class="required-class">*</span></label>
                    <input type="text" maxlength="50" class="form-control" name="f030femail" placeholder="Enter Email"
                      [(ngModel)]="vendorDataHeader.f030femail" #email="ngModel" required>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Address1<span class="required-class">*</span></label>
                    <input type="text" maxlength="100" class="form-control" name="f030faddress1" placeholder="Enter Address1"
                      [(ngModel)]="vendorDataHeader.f030faddress1">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Address2</label>
                    <input type="text" maxlength="100" class="form-control" name="f030faddress2" placeholder="Enter Address2"
                      [(ngModel)]="vendorDataHeader.f030faddress2" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Address3</label>
                    <input type="text" maxlength="100" class="form-control" name="f030faddress3" placeholder="Enter Address3"
                      [(ngModel)]="vendorDataHeader.f030faddress3" value="">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Post Code<span class="required-class">*</span></label>
                    <input type="text" maxlength="20" class="form-control" name="f030fpostCode" placeholder="Enter Post-Code"
                      [(ngModel)]="vendorDataHeader.f030fpostCode" (keypress)="onlyNumberKey1($event)">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Country<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="countryList" bindLabel="f013fcountryName" bindValue="f013fid"
                      [(ngModel)]="vendorDataHeader.f030fcountry" (change)="onCountryChange()">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>State<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="stateList " bindLabel="f012fstateName" bindValue="f012fid"
                      [(ngModel)]="vendorDataHeader.f030fstate" name="f030fstate">
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>City<span class="required-class">*</span> </label>
                    <input type="text" maxlength="50" class="form-control" name="f030fcity" placeholder="Enter City"
                      [(ngModel)]="vendorDataHeader.f030fcity">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Phone Number<span class="required-class">*</span></label>
                    <input type="text" minlength="9" maxlength="15" class="form-control" name="f030fphone" (keypress)="onlyNumberKey($event)"
                      placeholder="Enter Phone Number" [(ngModel)]="vendorDataHeader.f030fphone" #phone="ngModel"
                      required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Fax Number</label>
                    <input type="text" maxlength="10" class="form-control" name="f030ffax" placeholder="Enter Fax Number"
                      [(ngModel)]="vendorDataHeader.f030ffax" (keypress)="onlyNumberKey($event)">

                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Web Site</label>
                    <input type="url" maxlength="50" pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]"
                      class="form-control" name="f030fwebsite" placeholder="Enter URL" [(ngModel)]="vendorDataHeader.f030fwebsite">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Start Date<span class="required-class">*</span></label>
                    <input type="date" class="form-control" name="f030fstartDate" [(ngModel)]="vendorDataHeader.f030fstartDate"
                      value="" (change)="dateComparison()">
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <div *ngIf="edit == true">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>End Date<span class="required-class">*</span></label>
                      <input type="date" disabled="disabled" class="form-control" name="f030fendDate" [(ngModel)]="vendorDataHeader.f030fendDate"
                        value="" (change)="dateComparison()">
                    </div>
                  </div>
                </div> -->
                <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label>Pay to Profile</label>
                    <input type="text" maxlength="50" class="form-control" name="f030fpayToProfile" placeholder="Enter Pay to Profile"
                      [(ngModel)]="vendorDataHeader.f030fpayToProfile">
                  </div>
                </div> -->
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Debtor Code</label>
                    <ng-select [disabled]="viewDisabled" [items]="debtorcodelist | sort:'f021fdebtorCode'" bindLabel="f021fdebtorCode"
                      bindValue="f021fid" [(ngModel)]="vendorDataHeader.f030fdebtorCode" name="f030fdebtorCode">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label>Account Code<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fname'" bindLabel="f059fname"
                      bindValue="f059fcompleteCode" [(ngModel)]="vendorDataHeader.f030faccountCode" name="f030faccountCode">
                    </ng-select>
                  </div>
                </div> -->
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Bank Account Number<span class="required-class">*</span></label>
                    <input [disabled]="viewDisabled" type="text" maxlength="50" class="form-control" name="f030faccountNo"
                      placeholder="Enter Account Number" [(ngModel)]="vendorDataHeader.f030faccountNo">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Bank<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="bankList|sort:'f042fbankName'" bindLabel="f042fbankName"
                      bindValue="f042fid" [(ngModel)]="vendorDataHeader.f030fidBank" name="f030fidBank">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngIf="edit == false">
                  <div class="form-group">
                    <label>Upload Payment Proof<span class="required-class">*</span></label>
                    <input type="file" class="form-control" name="f030faccountNumber" [(ngModel)]="vendorDataHeader.f030faccountNumber"
                      (change)="fileSelected($event)" required>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Bumiputra Status<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="raceList" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                      [(ngModel)]="vendorDataHeader.f030frace" name="f030frace">
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Status<span class="required-class">*</span></label>
                    <ng-select [disabled]="viewDisabled" [items]="statusList" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                      [(ngModel)]="vendorDataHeader.f030fuserStatus" name="f030fuserStatus">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="ledger-tab">
                <tabset>
                  <tab heading="Pay to Profile" id="tab1">
                    <div class="row">
                      <div class="col-sm-12">
                        <table class="table table-bordered table-striped table-food" id="target3">
                          <thead>
                            <tr>
                              <th style='width:266px;'>Pay to Profile Name</th>
                              <th style='width:266px;'>Bank</th>
                              <th style='width:266px;'>Account Number</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let indinv of paytoProfileList;let i = index;trackBy:indexTracker;last as isLast4">
                              <td>
                                <input type="text" [disabled]="viewDisabled" maxlength="50" class="form-control" name="f127fname"
                                  placeholder="Enter Natural of Business" [(ngModel)]="paytoProfileList[i].f127fname">
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="bankList|sort:'f042fbankName'" bindLabel="f042fbankName"
                                  bindValue="f042fid" [(ngModel)]="paytoProfileList[i].f127fbank" name="f127fbank">
                                </ng-select>
                              </td>
                              <td>
                                <input [disabled]="viewDisabled" type="text" maxlength="50" class="form-control" name="f127faccountNo"
                                  placeholder="Enter Account Number" [(ngModel)]="paytoProfileList[i].f127faccountNo">
                              </td>
                              <td *ngIf="!isLast4">
                                <button class="btn nh-btn-primary" type="button" (click)='deletePaytoProfileList(paytoProfileList[i])'
                                  *ngIf="viewDisabled==false">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>
                              <td *ngIf="isLast4">
                                <button *ngIf="listshowLastRowMinus4" class="btn nh-btn-primary" type="button" (click)='deletePaytoProfileList(paytoProfileList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus4" class="btn nh-btn-primary" type="button" (click)='showNewRow4()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                            <tr *ngIf="showLastRow4==false">
                              <td>
                                <input type="text" maxlength="50" class="form-control" name="f127fname" placeholder="Enter Pay to Profile Name"
                                  [(ngModel)]="paytoProfileData.f127fname">
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="bankList|sort:'f042fbankName'" bindLabel="f042fbankName"
                                  bindValue="f042fid" [(ngModel)]="paytoProfileData.f127fbank" name="f127fbank">
                                </ng-select>
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" maxlength="50" class="form-control" name="f127faccountNo"
                                  placeholder="Enter Account Number" [(ngModel)]="paytoProfileData.f127faccountNo">
                              </td>
                              <td>
                                <button *ngIf="showLastRowMinus4" class="btn nh-btn-primary" type="button" (click)='deletemodule4()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus4" class="btn nh-btn-primary" type="button" (click)='addPaytoProfileList()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Contact (Details)">
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- <div class="row">
                          <div class="form-group">
                            <hr />Contact (Details)
                          </div>
                        </div> -->
                        <table class="table table-bordered table-striped table-food" id="target1">
                          <thead>
                            <tr>
                              <th style='width:266px;'>Contact Person</th>
                              <th style='width:266px;'>ID Type</th>
                              <th style='width:266px;'>IC Number/Passport</th>
                              <th style='width:266px;'>Email</th>
                              <th style='width:266px;'>Contact Number</th>
                              <th style='width:266px;'></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let indinv of contactDataList;let i = index;trackBy:indexTracker;last as isLast">
                              <td>
                                <input type="text" [disabled]="viewDisabled" class="form-control" name="f112fcontactPerson"
                                  [(ngModel)]="contactDataList[i].f112fcontactPerson" required>

                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="idtypeList|sort:'name'" bindLabel="name"
                                  bindValue="name" [(ngModel)]="contactDataList[i].f112fidType" name="f112fidType">
                                </ng-select>
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" class="form-control" name="f112ficNumber"
                                  [(ngModel)]="contactDataList[i].f112ficNumber">
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" class="form-control" name="f112femail"
                                  [(ngModel)]="contactDataList[i].f112femail">
                              </td>
                              <td>
                                <input type="text" maxlength="12" [disabled]="viewDisabled" class="form-control"
                                  (keypress)="onlyNumberKey($event)" name="f112fcontactNumber" [(ngModel)]="contactDataList[i].f112fcontactNumber">
                              </td>

                              <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" type="button" (click)='deletecontactDataList(contactDataList[i])'
                                  *ngIf="viewDisabled==false">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>

                              <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletecontactDataList(contactDataList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                            <tr *ngIf="showLastRow==false">
                              <td>
                                <input type="text" [disabled]="viewDisabled" class="form-control" name="f112fcontactPerson"
                                  [(ngModel)]="ContactData.f112fcontactPerson" placeholder="Enter Contact Person"
                                  required>
                              </td>
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="idtypeList|sort:'name'" bindLabel="name"
                                  bindValue="name" [(ngModel)]="ContactData.f112fidType" name="f112fidType">
                                </ng-select>
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" class="form-control" name="f112ficNumber"
                                  [(ngModel)]="ContactData.f112ficNumber" placeholder="Enter IC Number/Passport">
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" class="form-control" name="f112femail"
                                  [(ngModel)]="ContactData.f112femail" placeholder="Enter Email">
                              </td>
                              <td>
                                <input type="text" maxlength="12" [disabled]="viewDisabled" class="form-control"
                                  (keypress)="onlyNumberKey($event)" placeholder="Enter Contact Number" name="f112fcontactNumber"
                                  [(ngModel)]="ContactData.f112fcontactNumber">
                              </td>
                              <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addcontactDataList()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Grade (Details)">
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- <div class="row">
                        <div class="form-group">
                          <hr />Grade (Details)
                        </div>
                      </div> -->
                        <table class="table table-bordered table-striped table-food" id="target2">
                          <thead>
                            <tr>
                              <th style='width:266px;'>Grade</th>
                              <th style='width:266px;'>Expiry Date</th>
                              <th style='width:266px;'></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let indinv of gradeDataList;let i = index;trackBy:indexTracker;last as isLast1">
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="licenseList | sort:'f091flicense'"
                                  bindLabel="f091flicense" bindValue="f091fid" [(ngModel)]="gradeDataList[i].f031fidLicense"
                                  name="f031fidLicense">
                                </ng-select>
                              </td>
                              <td>
                                <input type="date" [disabled]="viewDisabled" class="form-control" name="f031fexpireDate"
                                  [ngModel]="gradeDataList[i].f031fexpireDate" value="">
                              </td>

                              <td *ngIf="!isLast1">
                                <button class="btn nh-btn-primary" type="button" (click)='deletegradeDataList(gradeDataList[i])'
                                  *ngIf="viewDisabled==false">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>
                              <td *ngIf="isLast1">
                                <button *ngIf="listshowLastRowMinus1" class="btn nh-btn-primary" type="button" (click)='deletegradeDataList(gradeDataList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus1" class="btn nh-btn-primary" type="button" (click)='showNewRow1()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                            <tr *ngIf="showLastRow1==false">
                              <td>
                                <ng-select [disabled]="viewDisabled" [items]="licenseList| sort:'f091flicense'"
                                  bindLabel="f091flicense" bindValue="f091fid" [(ngModel)]="vendorgradeData.f031fidLicense"
                                  name="f031fidLicense">
                                </ng-select>
                              </td>
                              <td>
                                <input type="date" [disabled]="viewDisabled" class="form-control" name="f031fexpireDate"
                                  [(ngModel)]="vendorgradeData.f031fexpireDate" value="">
                              </td>
                              <td>
                                <button *ngIf="showLastRowMinus1" class="btn nh-btn-primary" type="button" (click)='deletemodule1()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus1" class="btn nh-btn-primary" type="button" (click)='addgradeDataList()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Natural of Business">
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- <div class="row">
                        <div class="form-group">
                          <hr />Natural of Business
                        </div>
                      </div> -->
                        <table class="table table-bordered table-striped table-food" id="target3">
                          <thead>
                            <tr>
                              <th style='width:150px;'>Procurement Category</th>
                              <th style='width:150px;'>Procurement Sub Category</th>
                              <th style='width:150px;'>Natural of Business</th>
                              <th style='width:266px;'></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let indinv of NatureDataList;let i = index;trackBy:indexTracker;last as isLast2">
                              <td>
                                <ng-select [items]="itemcategoryList" bindLabel="f027fcategoryName" bindValue="f027fid"
                                  [(ngModel)]="NatureDataList[i].f113fcategory" name="f113fcategory" (change)="getSubCategories()">
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [items]="itemsubcategoryList" bindLabel="f028fsubCategoryName" bindValue="f028fid"
                                  [(ngModel)]="NatureDataList[i].f113fsubCategory" name="f113fsubCategory">
                                </ng-select>
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" maxlength="50" class="form-control" name="f113fnatureOfBusiness"
                                  placeholder="Enter Natural of Business" [(ngModel)]="NatureDataList[i].f113fnatureOfBusiness">
                              </td>
                              <td *ngIf="!isLast2">
                                <button class="btn nh-btn-primary" type="button" (click)='deleteNatureDataList(NatureDataList[i])'
                                  *ngIf="viewDisabled==false">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>
                              <td *ngIf="isLast2">
                                <button *ngIf="listshowLastRowMinus2" class="btn nh-btn-primary" type="button" (click)='deleteNatureDataList(NatureDataList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus2" class="btn nh-btn-primary" type="button" (click)='showNewRow2()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                            <tr *ngIf="showLastRow2==false">
                              <td>
                                <ng-select [items]="itemcategoryList" bindLabel="f027fcategoryName" bindValue="f027fid"
                                  [(ngModel)]="vendorNatureData.f113fcategory" name="f113fcategory" (change)="getSubCategories()">
                                </ng-select>
                              </td>
                              <td>
                                <ng-select [items]="itemsubcategoryList" bindLabel="f028fsubCategoryName" bindValue="f028fid"
                                  [(ngModel)]="vendorNatureData.f113fsubCategory" name="f113fsubCategory">
                                </ng-select>
                              </td>
                              <td>
                                <input type="text" maxlength="50" class="form-control" name="f113fnatureOfBusiness"
                                  placeholder="Enter Natural of Business" [(ngModel)]="vendorNatureData.f113fnatureOfBusiness">
                              </td>
                              <td>
                                <button *ngIf="showLastRowMinus2" class="btn nh-btn-primary" type="button" (click)='deletemodule2()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus2" class="btn nh-btn-primary" type="button" (click)='addnaturalDataList()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </tab>
                  <tab heading="MOF Category">
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- <div class="row">
                        <div class="form-group">
                          <hr />MOF Category
                        </div>
                      </div> -->
                        <table class="table table-bordered table-striped table-food" id="target4">
                          <thead>
                            <tr>
                              <th style='width:150px;'>MOF Category</th>
                              <th style='width:266px;'></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let indinv of mofDataList;let i = index;trackBy:indexTracker;last as isLast3">
                              <td>
                                <!-- <input type="text" [disabled]="viewDisabled" maxlength="50" class="form-control" name="f115fmodeOfCategory"
                                  placeholder="Enter MOF Category" [(ngModel)]="mofDataList[i].f115fmodeOfCategory"> -->
                                <ng-select [disabled]="viewDisabled" [items]="mofcategoryList" bindLabel="f114fname"
                                  bindValue="f114fid" [(ngModel)]="mofDataList[i].f115fmodeOfCategory" name="f115fmodeOfCategory">
                                </ng-select>
                              </td>
                              <td *ngIf="!isLast3">
                                <button class="btn nh-btn-primary" type="button" (click)='deletemofDataList(mofDataList[i])'
                                  *ngIf="viewDisabled==false">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>
                              <td *ngIf="isLast3">
                                <button *ngIf="listshowLastRowMinus3" class="btn nh-btn-primary" type="button" (click)='deletemofDataList(mofDataList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus3" class="btn nh-btn-primary" type="button" (click)='showNewRow3()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                            <tr *ngIf="showLastRow3==false">
                              <td>
                                <!-- <input type="text" maxlength="50" class="form-control" name="f115fmodeOfCategory"
                                  placeholder="Enter MOF Category" [(ngModel)]="vendormofData.f115fmodeOfCategory"> -->
                                <ng-select [disabled]="viewDisabled" [items]="mofcategoryList" bindLabel="f114fname"
                                  bindValue="f114fid" [(ngModel)]="vendormofData.f115fmodeOfCategory" name="f115fmodeOfCategory">
                                </ng-select>
                              </td>
                              <td>
                                <button *ngIf="showLastRowMinus3" class="btn nh-btn-primary" type="button" (click)='deletemodule3()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus3" class="btn nh-btn-primary" type="button" (click)='addmofDataList()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </tab>
                  <tab heading="Vendor Owner">
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- <div class="row">
                        <div class="form-group">
                          <hr />MOF Category
                        </div>
                      </div> -->
                        <table class="table table-bordered table-striped table-food" id="target5">
                          <thead>
                            <tr>
                              <th style='width:150px;'>Name</th>
                              <th style='width:150px;'>IC Number</th>
                              <th style='width:150px;'>Designation</th>
                              <th style='width:266px;'></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let indinv of vendorOwnerList;let i = index;trackBy:indexTracker;last as isLast5">
                              <td>
                                <input type="text" [disabled]="viewDisabled" maxlength="50" class="form-control" name="f031fownerName"
                                  placeholder="Enter Name" [(ngModel)]="vendorOwnerList[i].f031fownerName">
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" maxlength="50" class="form-control" name="f031fownerIc"
                                  placeholder="Enter IC Number" [(ngModel)]="vendorOwnerList[i].f031fownerIc">
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" maxlength="50" class="form-control" name="f031fownerDesignation"
                                  placeholder="Enter Designation" [(ngModel)]="vendorOwnerList[i].f031fownerDesignation">
                              </td>
                              <td *ngIf="!isLast5">
                                <button class="btn nh-btn-primary" type="button" (click)='deletevendorOwnerDataList(vendorOwnerList[i])'
                                  *ngIf="viewDisabled==false">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>
                              <td *ngIf="isLast5">
                                <button *ngIf="listshowLastRowMinus5" class="btn nh-btn-primary" type="button" (click)='deletevendorOwnerDataList(vendorOwnerList[i])'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus5" class="btn nh-btn-primary" type="button" (click)='showNewRow5()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                            <tr *ngIf="showLastRow5==false">
                              <td>
                                <input type="text" maxlength="50" class="form-control" name="f031fownerName"
                                  placeholder="Enter Name" [(ngModel)]="vendorOwnerData.f031fownerName">
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" maxlength="50" class="form-control" name="f031fownerIc"
                                  placeholder="Enter IC Number" [(ngModel)]="vendorOwnerData.f031fownerIc">
                              </td>
                              <td>
                                <input type="text" [disabled]="viewDisabled" maxlength="50" class="form-control" name="f031fownerDesignation"
                                  placeholder="Enter Designation" [(ngModel)]="vendorOwnerData.f031fownerDesignation">
                              </td>
                              <td>
                                <button *ngIf="showLastRowMinus5" class="btn nh-btn-primary" type="button" (click)='deletemodule5()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus5" class="btn nh-btn-primary" type="button" (click)='addVendorOwnerDataList()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/procurement/supplierregistration']" *ngIf="idview!=2" class="btn nh-btn-secondary">Cancel</a>
                <a [routerLink]="['/procurement/supplierapproval']" *ngIf="idview==2" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveVendorData()' *ngIf="viewDisabled==false" class="btn um-btn-primary mar-l-20">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>