<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Tender Agreement</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group um-search-wrapper">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                    <button class="btn btn-search" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="tenderQuotationList| filter : searchText" #mf="mfDataTable"
              [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th><mfDefaultSorter by="f126fregisterNo">Reference Number</mfDefaultSorter> </th>
                  <th><mfDefaultSorter by="f035fquotationNumber">Quotation Number</mfDefaultSorter> </th>
                  <th><mfDefaultSorter by="f035fstartDate">Start Date</mfDefaultSorter> </th>
                  <th><mfDefaultSorter by="f035fendDate">End Date</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f035ftitle">Title</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="DepartmentName">Department</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f030fcompanyName">Vendor</mfDefaultSorter></th>
                  <th>Download</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indtenderQuotation of tenderQuotationList">
                    <td>{{indtenderQuotation.f126fregisterNo}}</td>
                    <td>{{indtenderQuotation.f035fquotationNumber}}</td>
                    <td>{{indtenderQuotation.f035fstartDate  | date: 'dd/MM/yyyy'}}</td>
                    <td>{{indtenderQuotation.f035fendDate  | date: 'dd/MM/yyyy'}}</td>
                    <td>{{indtenderQuotation.f035ftitle}}</td>
                    <td>{{indtenderQuotation.DepartmentName}}</td>
                    <td>{{indtenderQuotation.f030fcompanyName}}</td>
                  <td class="actions-col">
                    <div class="nh-btn-group text-center">
                        <input type="button" name="Download" value="Download" (click)="generatePdf(indtenderQuotation.f126fidTender)">
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody class="pagination-wrapper">
                <tr>
                  <td class="pagination-col" colspan="12">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  