<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Withdraw Application</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addInvestmentinstitution()" #f="ngForm" name="form" novalidate>
            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Investment Registration Number <span class="required-class">*</span></label>
                  <ng-select [items]="investmentregistrationList" bindLabel="f064freferenceNumber" bindValue="f064fid"
                    [(ngModel)]="withdrawletterData.investRegId" (change)="getInvestmentRegDetails()" name="investRegId">
                  </ng-select>
                </div>
              </div>
            </div>
          </form>


          <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-striped table-food" [mfData]="withdrawletterList | filter : searchText" #mf="mfDataTable"
                    [mfRowsOnPage]="5">
                    <thead>
                  <tr>
                    <th>Institution Number</th>
                    <th>Institution Name</th>
                    <th>Effective Date</th>
                    <th>Maturity Date</th>
                    <th>Duration</th>
                    <th>Amount (RM)</th>
                    <th>Intrest Rate</th>
                    <th>Investment Status</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indwithdraw of mf.data">
                    <td>{{indwithdraw.f064freferenceNumber}}</td>
                    <td>{{indwithdraw.application}}</td>
                    <td>{{indwithdraw.f064feffectiveDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{indwithdraw.f064fmaturityDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{indwithdraw.Duration}}</td>
                    <td class="amountAlign">{{indwithdraw.f064fsum  | number: '.2'}}</td>
                    <td> {{indwithdraw.f064frateOfInterest}}</td>
                    <td> {{indwithdraw.investmentStatus}}</td>
                    <td>
                      <input type="checkbox" [(ngModel)]="indwithdraw.f064fstatuss">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label>Description </label>
              <textarea class="form-control" [(ngModel)]="withdrawletterData.reason" name="reason" placeholder="Enter the Description "></textarea>
            </div>
          </div>

          <div class="col-sm-12">
            <p class="text-right">
              <button type="submit" (click)='WithdrawListData()' class="btn nh-btn-primary">Withdraw</button>
              <a [routerLink]="['/investment/withdrawletter']" class="btn nh-btn-secondary">Cancel</a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
