<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <!-- <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">  -->
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Fee Item</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="row">
            <form (ngSubmit)="f.form.valid && addFeeitem()" #f="ngForm" name="form" novalidate>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Name<span class="required-class">*</span></label>
                      <input type="text" maxlength="50" class="form-control" name="f066fname" placeholder="Enter Name "
                        [(ngModel)]="feeItemDataHeader.f066fname" value="" required #name="ngModel">
                      <!-- <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                        the Name</span> -->
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Code<span class="required-class">*</span></label>
                      <input type="text" maxlength="10" class="form-control" name="f066fcode" placeholder="Enter Code "
                        [(ngModel)]="feeItemDataHeader.f066fcode" value="" required #Code="ngModel">
                      <!-- <span *ngIf=" Code.errors && (Code.dirty || Code.touched || f.submitted)" class="form-errors">*Enter
                        the Code</span> -->
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Description<span class="required-class">*</span></label>
                      <textarea maxlength="100" class="form-control" name="f066fdescription" placeholder="Enter Description"
                        [(ngModel)]="feeItemDataHeader.f066fdescription" value="" required #dec="ngModel"></textarea>
                      <!-- <span *ngIf=" dec.errors && (dec.dirty || dec.touched || f.submitted)" class="form-errors">*Enter
                        the Description.</span> -->
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Fee Category<span class="required-class">*</span></label>
                      <ng-select [items]="feecategoryList|sort:'f065fname'" bindLabel="f065fname" bindValue="f065fid"
                        [(ngModel)]="feeItemDataHeader.f066fidFeeCategory" name="f066fidFeeCategory" #fee="ngModel"
                        required>
                      </ng-select>

                      <!-- <select class="form-control" name="f066fidFeeCategory" [(ngModel)]="feeitemData.f066fidFeeCategory"
                        value="" required #fee="ngModel">
                        <option [ngValue]="undefined" hidden selected> --select-- </option>
                        <option *ngFor="let indfeecatgory of feecategoryList" [value]="indfeecatgory.f065fid">{{
                          indfeecatgory.f065fname }}</option>
                      </select> -->
                      <!-- <span *ngIf=" fee.errors && (fee.dirty || fee.touched || f.submitted)" class="form-errors">*Select
                        Fee Category.</span> -->

                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Tax Code<span class="required-class">*</span></label>
                      <ng-select [items]="taxsetupcodeList | sort:'f081fcode'" bindLabel="f081fcode" bindValue="f081fid"
                        [(ngModel)]="feeItemDataHeader.f066fidTaxCode" name="f066fidTaxCode" #tax="ngModel" required>
                      </ng-select>
                      <!-- <select class="form-control" name="f066fidTaxCode" [(ngModel)]="feeitemData.f066fidTaxCode" value=""
                        required #tax="ngModel">
                        <option [ngValue]="undefined" hidden selected> --select-- </option>
                        <option *ngFor="let indtaxsetupcode of taxsetupcodeList" [value]="indtaxsetupcode.f081fid">{{
                          indtaxsetupcode.f081fcode }}</option> 
                      </select>-->
                      <!-- <span *ngIf=" tax.errors && (tax.dirty || tax.touched || f.submitted)" class="form-errors">*Select
                        Tax.</span> -->
                    </div>
                  </div>
                  <!-- <div class="col-sm-4">
                    <div class="form-group">
                      <label>Calculation Type<span class="required-class">*</span></label>
                      <select class="form-control" [(ngModel)]="feeitemData.f066fcalType" name="f066fcalType" ivalue=""
                        required #cal="ngModel">
                        <option [ngValue]="undefined" hidden selected> --select-- </option>
                        <option *ngFor="let indcal of calculationTypeList" [value]="indcal.f011fid">{{
                          indcal.f011fdefinitionCode }}</option>
                      </select>
                      <span *ngIf=" cal.errors && (cal.dirty || cal.touched || f.submitted)" class="form-errors">*Select
                        Calculation Type.</span>
                    </div>
                  </div> -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Insured Item<span class="required-class">*</span></label>
                      <input type="text" maxlength="50" class="form-control" name="f066finsuredItem" placeholder="Enter Insured Item "
                        [(ngModel)]="feeItemDataHeader.f066finsuredItem" value="" required #insurance="ngModel">
                      <!-- <span *ngIf=" insurance.errors && (insurance.dirty || insurance.touched || f.submitted)" class="form-errors">*Enter
                        the Insured Item</span> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">

                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>SO Code<span class="required-class">*</span></label>
                      <input type="text" maxlength="10" class="form-control" name="f066fsoCode" placeholder="Enter SO Code "
                        [(ngModel)]="feeItemDataHeader.f066fsoCode" value="" required #socode="ngModel">
                      <!-- <span *ngIf=" socode.errors && (socode.dirty || socode.touched || f.submitted)" class="form-errors">*Enter
                        the SO Code</span> -->
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Refundable</label><br>
                      <input type="radio" name="refundable" [(ngModel)]="feeItemDataHeader.f066frefundable" [checked]="feeItemDataHeader.f066frefundable === '1'"
                        [value]="1"> Yes
                      <br>
                      <input type="radio" name="refundable" [(ngModel)]="feeItemDataHeader.f066frefundable" [checked]="feeItemDataHeader.f066frefundable === '0'"
                        [value]="0"> No

                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Invoice Item<span class="required-class">*</span></label>
                      <br>
                      <input type="radio" name="Invoice" [(ngModel)]="feeItemDataHeader.f066finvoiceItem" [checked]="feeItemDataHeader.f066finvoiceItem === '1'"
                        [value]="1"> Yes
                      <br>
                      <input type="radio" name="Invoice" [(ngModel)]="feeItemDataHeader.f066finvoiceItem" [checked]="feeItemDataHeader.f066finvoiceItem === '0'"
                        [value]="0"> No
                      <br>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Student SOA<span class="required-class">*</span></label>
                      <br>
                      <input type="radio" name="Account" [(ngModel)]="feeItemDataHeader.f066fsoa" [checked]="feeItemDataHeader.f066fsoa === '1'"
                        [value]="1"> Yes
                      <br>
                      <input type="radio" name="Account" [(ngModel)]="feeItemDataHeader.f066fsoa" [checked]="feeItemDataHeader.f066fsoa === '0'"
                        [value]="0"> No
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div [className]="'active'"></div>
                      <label>Status</label>
                      <br>
                      <input type="radio" name="Status" [(ngModel)]="feeItemDataHeader.f066fstatus" [checked]="feeItemDataHeader.f066fstatus === '1'"
                        [value]="1"> Active
                      <br>
                      <input type="radio" name="Status" [(ngModel)]="feeItemDataHeader.f066fstatus" [checked]="feeItemDataHeader.f066fstatus === '0'"
                        [value]="0"> Inactive
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div id="overlay1"></div>

            <div id="myModal" class=" fade in" role="dialog">

              <!-- <div class="modal-dialog"> -->

              <!-- Modal content-->
              <div class="modal-content">
                <p class="maximize-icon">
                  <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                </p>
                <p class="minimize-icon hidden">
                  <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                </p>
                <div class="modal-body">

                  <div class="table-responsive credit-note-table-wrapper">
                    <table class="table table-bordered table-striped credit-note-table" id="target1">
                      <thead>
                        <tr>
                          <th colspan="4" style="text-align: center;">Debit GL-Code</th>
                          <th colspan="4" style="text-align: center;">Credit GL-Code</th>
                          <th></th>
                        </tr>
                        <tr>
                          <th style="width:47px;">Debit Fund</th>
                          <th style="width:78px;">Debit Activity Code</th>
                          <th style="width:78px;">Debit Department</th>
                          <th style="width:78px;">Debit Account Code</th>
                          <th style="width:47px;">Credit Fund</th>
                          <th style="width:78px;">Credit Activity Code</th>
                          <th style="width:200px;">Credit Department</th>
                          <th style="width:78px;">Credit Account Code</th>

                          <!-- <th>Debit Fund Code</th>
                        <th>Debit Activity Code</th>
                        <th>Debit Department Code</th>
                        <th>Debit Account Code</th>
                        <th>Credit Fund Code</th>
                        <th>Credit Activity Code</th>
                        <th>Credit Department Code</th>
                        <th>Credit Account Code</th> -->
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let indinv of feeItemList;let i = index;trackBy:indexTracker;last as isLast">
                          <td>
                            <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                              bindValue="f057fcode" [(ngModel)]="feeItemList[i].f066fdrFund" name="f066fdrFund" #fund="ngModel"
                              required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066ffund" name="f066ffund" required
                                  #fund="ngModel">
                                  <option [ngValue]="undefined" hidden selected> --select-- </option>
                                  <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} - {{
                                    indfund.f057fname }}</option>
                                </select> -->
                            <!-- <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                            Fund</span> -->

                          </td>
                          <td>

                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066factivity" name="f066factivity"
                                  placeholder="Enter to Activity " required #activity="ngModel">
                                  <option [ngValue]="undefined" hidden selected> --select-- </option>
                                  <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                                    - {{ indactivitycode.f058fname }}</option>
                                </select> -->
                            <ng-select [items]="activitycodeList | sort:'f058fname'" style="width: 150px;" bindLabel="f058fname"
                              bindValue="f058fcompleteCode" [(ngModel)]="feeItemList[i].f066fdrActivity" name="f066fdrActivity"
                              #activity="ngModel" required>
                            </ng-select>
                            <!-- <input type="text" ngui-auto-complete value-formatter="f058fcompleteCode" list-formatter="f058fcompleteCode - f058fname" [match-formatted]="true"
                                                  maxlength="50" class="form-control" name="f058fcompleteCode" placeholder="Select ActivityCode" [(ngModel)]="feeitemData.f066factivity"
                                                  value="" required #activity="ngModel" [source]='activitycodeList'>
           -->

                            <!-- <span *ngIf=" activity.errors && (activity.dirty || activity.touched || f.submitted)" class="form-errors">*Select
                            Activity Code</span> -->
                          </td>
                          <td>
                            <ng-select [items]="DeptList | sort:'f015fdepartmentName'" style="width: 150px;" bindLabel="f015fdepartmentName"
                              bindValue="f015fdepartmentCode" [(ngModel)]="feeItemList[i].f066fdrDepartment" name="f066fdrDepartment"
                              #dept="ngModel" required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066fdepartment" name="f066fdepartment"
                                  placeholder="Enter to Department " required #dept="ngModel">
                                  <option [ngValue]="undefined" hidden selected> --select-- </option>
                                  <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                                    - {{ inddepartment.f015fdepartmentName }}</option>
                                </select> -->
                            <!-- <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                            Department Code</span> -->
                          </td>
                          <td>
                            <ng-select [items]="accountcodeList | sort:'originalname'" style="width: 150px;" bindLabel="f059fname"
                              bindValue="f059fcompleteCode" [(ngModel)]="feeItemList[i].f066fdrAccount" name="f066fdrAccount"
                              #acc="ngModel" required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066faccount" name="f066faccount"
                                  placeholder="Enter to Account " required #acc="ngModel">
                                  <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                  <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                                    indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                                </select> -->
                            <!-- <span *ngIf=" acc.errors && (acc.dirty || acc.touched || f.submitted)" class="form-errors">*Select
                            Account Code</span> -->
                          </td>
                          <td>
                            <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                              bindValue="f057fcode" [(ngModel)]="feeItemList[i].f066fcrFund" name="f066fcrFund" #fund="ngModel"
                              required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066ffund" name="f066ffund" required
                                    #fund="ngModel">
                                    <option [ngValue]="undefined" hidden selected> --select-- </option>
                                    <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} - {{
                                      indfund.f057fname }}</option>
                                  </select> -->
                            <!-- <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                            Fund</span> -->

                          </td>
                          <td>

                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066factivity" name="f066factivity"
                                    placeholder="Enter to Activity " required #activity="ngModel">
                                    <option [ngValue]="undefined" hidden selected> --select-- </option>
                                    <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                                      - {{ indactivitycode.f058fname }}</option>
                                  </select> -->
                            <ng-select [items]="activitycodeList | sort:'f058fname'" style="width: 150px;" bindLabel="f058fname"
                              bindValue="f058fcompleteCode" [(ngModel)]="feeItemList[i].f066fcrActivity" name="f066fcrActivity"
                              #activity="ngModel" required>
                            </ng-select>
                            <!-- <input type="text" ngui-auto-complete value-formatter="f058fcompleteCode" list-formatter="f058fcompleteCode - f058fname" [match-formatted]="true"
                                                    maxlength="50" class="form-control" name="f058fcompleteCode" placeholder="Select ActivityCode" [(ngModel)]="feeitemData.f066factivity"
                                                    value="" required #activity="ngModel" [source]='activitycodeList'>
             -->

                            <!-- <span *ngIf=" activity.errors && (activity.dirty || activity.touched || f.submitted)" class="form-errors">*Select
                            Activity Code</span> -->
                          </td>
                          <td>
                            <ng-select [items]="DeptList | sort:'f015fdepartmentName'" style="width: 150px;" bindLabel="f015fdepartmentName"
                              bindValue="f015fdepartmentCode" [(ngModel)]="feeItemList[i].f066fcrDepartment" name="f066fcrDepartment"
                              #dept="ngModel" required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066fdepartment" name="f066fdepartment"
                                    placeholder="Enter to Department " required #dept="ngModel">
                                    <option [ngValue]="undefined" hidden selected> --select-- </option>
                                    <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                                      - {{ inddepartment.f015fdepartmentName }}</option>
                                  </select> -->
                            <!-- <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                            Department Code</span> -->
                          </td>
                          <td>
                            <ng-select [items]="accountcodeList | sort:'originalname'" style="width: 150px;" bindLabel="f059fname"
                              bindValue="f059fcompleteCode" [(ngModel)]="feeItemList[i].f066fcrAccount" name="f066fcrAccount"
                              #acc="ngModel" required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066faccount" name="f066faccount"
                                    placeholder="Enter to Account " required #acc="ngModel">
                                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                    <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                                      indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                                  </select> -->
                            <!-- <span *ngIf=" acc.errors && (acc.dirty || acc.touched || f.submitted)" class="form-errors">*Select
                            Account Code</span> -->
                          </td>
                          <!-- <td>
                          <input type="button" name="add" (click)='deleteitemList(feeItemList[i])' value='Delete' class="btn nh-btn-primary" />
                        </td> -->
                          <td *ngIf="!isLast">
                            <button class="btn nh-btn-primary" type="button" (click)='deleteitemList(feeItemList[i])'>
                              <i class="fa fa-minus"></i>
                            </button>
                          </td>
                          <td *ngIf="isLast">
                            <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteitemList(feeItemList[i])'>
                              <i class="fa fa-minus"></i>
                            </button>
                            <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                              <i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>
                        <tr *ngIf="showLastRow==false">
                          <td>
                            <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                              bindValue="f057fcode" [(ngModel)]="feeitemData.f066fdrFund" name="f066fdrFund" #fund="ngModel"
                              required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066ffund" name="f066ffund" required
                                      #fund="ngModel">
                                      <option [ngValue]="undefined" hidden selected> --select-- </option>
                                      <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} - {{
                                        indfund.f057fname }}</option>
                                    </select> -->
                            <!-- <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                            Fund</span> -->

                          </td>
                          <td>

                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066factivity" name="f066factivity"
                                      placeholder="Enter to Activity " required #activity="ngModel">
                                      <option [ngValue]="undefined" hidden selected> --select-- </option>
                                      <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                                        - {{ indactivitycode.f058fname }}</option>
                                    </select> -->
                            <ng-select [items]="activitycodeList | sort:'f058fname'" style="width: 150px;" bindLabel="f058fname"
                              bindValue="f058fcompleteCode" [(ngModel)]="feeitemData.f066fdrActivity" name="f066fdrActivity"
                              #activity="ngModel" required>
                            </ng-select>
                            <!-- <span *ngIf=" activity.errors && (activity.dirty || activity.touched || f.submitted)" class="form-errors">*Select
                            Activity Code</span> -->
                          </td>
                          <td>
                            <ng-select [items]="DeptList | sort:'f015fdepartmentName'" style="width: 150px;" bindLabel="f015fdepartmentName"
                              bindValue="f015fdepartmentCode" [(ngModel)]="feeitemData.f066fdrDepartment" name="f066fdrDepartment"
                              #dept="ngModel" required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066fdepartment" name="f066fdepartment"
                                      placeholder="Enter to Department " required #dept="ngModel">
                                      <option [ngValue]="undefined" hidden selected> --select-- </option>
                                      <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                                        - {{ inddepartment.f015fdepartmentName }}</option>
                                    </select> -->
                            <!-- <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                            Department Code</span> -->
                          </td>
                          <td>
                            <ng-select [items]="accountcodeList | sort:'originalname'" style="width: 150px;" bindLabel="f059fname"
                              bindValue="f059fcompleteCode" [(ngModel)]="feeitemData.f066fdrAccount" name="f066fdrAccount"
                              #acc="ngModel" required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066faccount" name="f066faccount"
                                      placeholder="Enter to Account " required #acc="ngModel">
                                      <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                      <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                                        indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                                    </select> -->
                            <!-- <span *ngIf=" acc.errors && (acc.dirty || acc.touched || f.submitted)" class="form-errors">*Select
                            Account Code</span> -->
                          </td>





                          <td>
                            <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                              bindValue="f057fcode" [(ngModel)]="feeitemData.f066fcrFund" name="f066fcrFund" #fund="ngModel"
                              required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066ffund" name="f066ffund" required
                                        #fund="ngModel">
                                        <option [ngValue]="undefined" hidden selected> --select-- </option>
                                        <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} - {{
                                          indfund.f057fname }}</option>
                                      </select> -->
                            <!-- <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                            Fund</span> -->

                          </td>
                          <td>

                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066factivity" name="f066factivity"
                                        placeholder="Enter to Activity " required #activity="ngModel">
                                        <option [ngValue]="undefined" hidden selected> --select-- </option>
                                        <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                                          - {{ indactivitycode.f058fname }}</option>
                                      </select> -->
                            <ng-select [items]="activitycodeList | sort:'f058fname'" style="width: 150px;" bindLabel="f058fname"
                              bindValue="f058fcompleteCode" [(ngModel)]="feeitemData.f066fcrActivity" name="f066fcrActivity"
                              #activity="ngModel" required>
                            </ng-select>
                            <!-- <span *ngIf=" activity.errors && (activity.dirty || activity.touched || f.submitted)" class="form-errors">*Select
                            Activity Code</span> -->
                          </td>
                          <td>
                            <ng-select [items]="DeptList | sort:'f015fdepartmentName'" style="width: 150px;" bindLabel="f015fdepartmentName"
                              bindValue="f015fdepartmentCode" [(ngModel)]="feeitemData.f066fcrDepartment" name="f066fcrDepartment"
                              #dept="ngModel" required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066fdepartment" name="f066fdepartment"
                                        placeholder="Enter to Department " required #dept="ngModel">
                                        <option [ngValue]="undefined" hidden selected> --select-- </option>
                                        <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                                          - {{ inddepartment.f015fdepartmentName }}</option>
                                      </select> -->
                            <!-- <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                            Department Code</span> -->
                          </td>
                          <td>
                            <ng-select [items]="accountcodeList | sort:'originalname'" style="width: 150px;" bindLabel="f059fname"
                              bindValue="f059fcompleteCode" [(ngModel)]="feeitemData.f066fcrAccount" name="f066fcrAccount"
                              #acc="ngModel" required>
                            </ng-select>
                            <!-- <select class="form-control" [(ngModel)]="feeitemData.f066faccount" name="f066faccount"
                                        placeholder="Enter to Account " required #acc="ngModel">
                                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                        <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                                          indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                                      </select> -->
                            <!-- <span *ngIf=" acc.errors && (acc.dirty || acc.touched || f.submitted)" class="form-errors">*Select
                            Account Code</span> -->
                          </td>
                          <!-- <td>
                          <input type="button" name="add" (click)='addfeeItemList()' value='ADD' class="btn nh-btn-primary" />
                        </td> -->
                          <td>
                            <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                              <i class="fa fa-minus"></i>
                            </button>
                            <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addfeeItemList()'>
                              <i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>

                        <!-- <div class="row">
                      <div class="col-sm-12">
                        <p class="text-right">
                          <a [routerLink]="['/studentfinance/feeitem']" class="btn nh-btn-secondary">Cancel</a>
                          <button type="submit" (click)='savefeeItem()' class="btn nh-btn-primary">Save</button>
                        </p>
                      </div>
                    </div> -->

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/studentfinance/feeitem" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" (click)='savefeeItem()' class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>