<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;padding-bottom: 80px">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Salary Components</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Payroll Code<span class="required-class">*</span></label>
              <input type="text" maxlength="10" class="form-control" [(ngModel)]="salaryDataHeader.f081fcode" name="f081fcode"
                placeholder="Enter Payroll Code" />
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Payroll Description<span class="required-class">*</span></label>
              <input type="text" class="form-control" maxlength="50" [(ngModel)]="salaryDataHeader.f081fname" name="f081fname"
                placeholder="Enter Payroll Description" />
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Payroll Short Description<span class="required-class">*</span></label>
              <input type="text" class="form-control" maxlength="50" [(ngModel)]="salaryDataHeader.f081fshortName" name="f081fshortName"
                placeholder="Enter Payroll Short Description" />
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Type Of Component<span class="required-class">*</span></label>
              <ng-select [items]="ftypecomponent" bindLabel="name" bindValue="id" [(ngModel)]="salaryDataHeader.f081ftypeOfComponent"
                name="f081ftypeOfComponent" #type="ngModel" required>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Mode<span class="required-class">*</span></label>
              <ng-select [items]="modeList" bindLabel="name" bindValue="id" [(ngModel)]="salaryDataHeader.f081fmode"
                name="f081fmode" #mode="ngModel" required>
              </ng-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Frequency<span class="required-class">*</span></label>
              <ng-select [items]="frequancyList" bindLabel="name" bindValue="id" [(ngModel)]="salaryDataHeader.f081ffrequency"
                name="f081ffrequency" #frequancy="ngModel" required>
              </ng-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Salary Type<span class="required-class">*</span></label>
              <ng-select [items]="salarytypeList|sort:'name'" bindLabel="name" bindValue="id" [(ngModel)]="salaryDataHeader.f081fsalaryType"
                name="f081fsalaryType" #salarytype="ngModel" required>
              </ng-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Account Code Debit<span class="required-class">*</span></label>
              <ng-select [items]="accountcodeList | sort:'f059fname'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                [(ngModel)]="salaryDataHeader.f081faccountsCodeDeduction" name="f081faccountsCodeDeduction" #Account="ngModel"
                required>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <div class="form-group">
              <label>Account Code Credit<span class="required-class">*</span></label>
              <ng-select [items]="accountcodeList | sort:'f059fname'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                [(ngModel)]="salaryDataHeader.f081faccountsCodeCr" name="f081faccountsCodeCr" #accr="ngModel" required>
              </ng-select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Vendor </label>
              <ng-select [items]="supplierList | sort:'f030fcompanyName'" bindLabel="f030fcompanyName" bindValue="f030fid"
                [(ngModel)]="salaryDataHeader.f081fvendorCode" name="f081fvendorCode" #accd="ngModel" required>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-3">
            <div class="form-group">
              <input type="checkbox" name="f081fepfDeductable" checked="checked" [(ngModel)]="salaryDataHeader.f081fepfDeductable">
              EPF Deductable
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="checkbox" name="f081fsocsoDeductable" checked="checked" [(ngModel)]="salaryDataHeader.f081fsocsoDeductable">
              SOCSO Deductable
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="checkbox" name="f081ftaxDeductable" checked="checked" [(ngModel)]="salaryDataHeader.f081ftaxDeductable">
              Tax Deductable
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Staff Type</th>
                  <th>Account Code Debit</th>
                  <th>Account Code Credit</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indinv of salaryList;let i = index;last as isLast">
                  <td>
                    <ng-select [items]="stafftypeList | sort: 'f011fdefinitionCode'" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                      [(ngModel)]="salaryList[i].f081fstaffType" name="f081fstaffType">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="accountcodeList | sort:'f059fname'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                      [(ngModel)]="salaryList[i].f081faccountCodeDebit" name="f081faccountCodeDebit">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="accountcodeList | sort:'f059fname'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                      [(ngModel)]="salaryList[i].f081faccountCodeCredit" name="f081faccountCodeCredit">
                    </ng-select>
                  </td>

                  <td *ngIf="!isLast">
                    <button class="btn nh-btn-primary" type="button" (click)='deleteEvent(salaryList[i])'  >
                      <i class="fa fa-minus"></i>
                    </button>
                  </td>
                  <td *ngIf="isLast">
                    <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteEvent(salaryList[i])'>
                      <i class="fa fa-minus"></i>
                    </button>
                    <button  *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>

                  <!-- <td>
                    <button class="btn nh-btn-primary" type="button" (click)='deleteEvent(salaryList[i])'>
                      <i class="fa fa-minus"></i>
                    </button>
                  </td> -->
                </tr>
                <tr *ngIf="showLastRow==false">
                  <td>
                    <ng-select [items]="stafftypeList | sort: 'f011fdefinitionCode'" bindLabel="f011fdefinitionCode" bindValue="f011fid"
                      [(ngModel)]="salaryData.f081fstaffType" name="f081fstaffType">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="accountcodeList | sort:'f059fname'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                      [(ngModel)]="salaryData.f081faccountCodeDebit" name="f081faccountCodeDebit">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select [items]="accountcodeList | sort:'f059fname'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                      [(ngModel)]="salaryData.f081faccountCodeCredit" name="f081faccountCodeCredit">
                    </ng-select>
                  </td>

                  <td>
                    <button  *ngIf="showLastRowMinus"  class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                      <i class="fa fa-minus"></i>
                    </button>
                    <button  *ngIf="showLastRowPlus"  class="btn nh-btn-primary" type="button" (click)='addSalary()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>

                  <!-- <td>
                    <button class="btn nh-btn-primary" type="button" (click)='addSalary()'>
                      <i class="fa fa-plus"></i>
                    </button>
                  </td> -->
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-right">
            <a [routerLink]="['/payroll/salary']" class="btn nh-btn-secondary">Cancel</a>
            <button type="submit" (click)='saveSalary()' class="btn nh-btn-primary">Save</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
