<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row" id="target">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Batch Withdraw</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4" *ngIf="this.id>0">
                            <div class="form-group">
                                <label>Batch ID <span class="required-class">*</span></label>
                                <input type="text" maxlength="150" [disabled]="true" class="form-control" [(ngModel)]="batchWithdrawDataheader.f145fbatchNo"
                                    name="f145fbatchNo" placeholder="Batch ID">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Invoice Bank<span class="required-class">*</span></label>
                                <ng-select [disabled]="viewDisabled" [items]="bankList|sort:'f042fbankName'" bindLabel="f042fbankName"
                                    bindValue="f042fid" [(ngModel)]="batchWithdrawDataheader.f145finvoiceBank" name="f145finvoiceBank"
                                    #accd="ngModel" required (change)="getDetails()">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>UUM Bank <span class="required-class">*</span></label>
                                <ng-select [disabled]="viewDisabled" [items]="companyBankList | sort:'Bank'" bindLabel="Bank"
                                    bindValue="f041fid" [(ngModel)]="batchWithdrawDataheader.f145fuumBank" name="f145fuumBank"
                                    #accd="ngModel" required (change)="getDetails()">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Maturity Date<span class="required-class">*</span></label>
                                <input type="date" [disabled]="viewDisabled" class="form-control" name="f145fmaturityDate"
                                    [(ngModel)]="batchWithdrawDataheader.f145fmaturityDate" value="" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Certificate Date<span class="required-class">*</span></label>
                                <input type="date" [disabled]="viewDisabled" class="form-control" name="f145fcertificateDate"
                                    [(ngModel)]="batchWithdrawDataheader.f145fcertificateDate" value="" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row" id="target1">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-food">
                                <thead>
                                    <tr>
                                        <th>Application ID</th>
                                        <th>Application Description</th>
                                        <th>Amount(RM)</th>
                                        <th>Investement Bank</th>
                                        <th>UUM Bank</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let indpaymentvoucherapproval of withdrawBatchList;let i = index;trackBy:indexTracker">
                                        <td><input type="checkbox" [(ngModel)]="withdrawBatchList[i].selectedvalue">
                                            <input type="text" style="width: 150px" class="form-control" name="f146fapplication"
                                                [(ngModel)]="withdrawBatchList[i].f146fapplication" placeholder="Application"
                                                readonly="readonly">
                                        </td>
                                        <td>
                                            <input type="text" style="width: 150px" class="form-control" name="application"
                                                [(ngModel)]="withdrawBatchList[i].application" placeholder="Amount"
                                                readonly="readonly">
                                        </td>
                                        <td>
                                            <input type="text" style="width: 150px" class="form-control" name="f064fsum"
                                                [(ngModel)]="withdrawBatchList[i].f064fsum" placeholder="Amount"
                                                readonly="readonly">
                                        </td>
                                        <td>
                                            <input type="text" style="width: 150px" class="form-control" name="investmentBank"
                                                [(ngModel)]="withdrawBatchList[i].investmentBank" readonly="readonly">
                                        </td>
                                        <td>
                                            <input type="text" style="width: 150px" class="form-control" name="uumBank"
                                                [(ngModel)]="withdrawBatchList[i].uumBank" readonly="readonly">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <a [routerLink]="['/investment/batchwithdraw']" class="btn nh-btn-secondary">Cancel</a>
                                <button type="button" (click)='savePaymentvoucher()' class="btn nh-btn-primary">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>