<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title"></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-12">
              <h1 class="ad-page-title">View Journal Reversal</h1> 
            </div>
            <div class="row">
              <form (ngSubmit)="f.form.valid && saveJournal()" #f="ngForm" name="form" novalidate>
              
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Date <span class="required-class">*</span> </label>
                  <input type="date" class="form-control" name="date" [(ngModel)]="journalDataheader.f017fdateOfTransaction" value="" required #date="ngModel">
                  <!-- <span *ngIf=" date.errors && (date.dirty || date.touched || f.submitted)"  class="form-errors">*Enter the Date</span> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Description <span class="required-class">*</span> </label>
                  <input type="text" class="form-control" name="Description" placeholder="Enter Description" [(ngModel)]="journalDataheader.f017fdescription"
                    value="" required #desc="ngModel">
                    <!-- <span *ngIf=" desc.errors && (desc.dirty || desc.touched || f.submitted)"  class="form-errors">*Enter the Description</span> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Approver <span class="required-class">*</span> </label>
                  <select class="form-control" [(ngModel)]="journalDataheader.f017fapprover" name="user" id="user"
                     required #approver="ngModel">
                    <option [ngValue]="undefined" hidden selected> --please select-- </option>
                    <option *ngFor="let induser of userList" [value]="induser.f014fid">{{ induser.f014fuserName }}</option>
                  </select>
                  <!-- <span *ngIf=" approver.errors && (approver.dirty || approver.touched || f.submitted)"  class="form-errors">*Enter the Approver</span> -->
                </div>
              </div>
              </form>
              <!-- <div class="col-sm-3">
                      <div class="form-group">
                         <label>Ref Number</label>
                         <input type="text" class="form-control" name="RefNumber" placeholder="Ref Number" [(ngModel)]="journalList.f017freferenceNumber" value="" required>
                      </div>
                   </div> -->
            </div>
  
  
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-12">
                  <hr />
                  <h1 class="ad-page-title" >Journal Details</h1>
                </div>
                <table class="table table-bordered table-striped table-food">
                  <thead>
                    <tr align="center">
                      <th>GL Code</th>
                      <th>SO Code</th>
                      <th>Ref Number</th>
                      <th>Debit</th>
                      <th>Credit</th>
                      <!-- <th></th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indVoucher of journalList; let i = index; trackBy:indexTracker">
                      <td>
                        <select class="form-control" [(ngModel)]="journalList[i].f018fidGlcode" name="glNewCode" id="glNewCode"
                        placeholder="Select Id Parent">
                        <option [ngValue]="undefined" hidden selected> --please select-- </option>
                        <option *ngFor="let indgl of glList" [value]="indgl.f014fid">{{ indgl.f014fglCode }}</option>
                      </select>
                     </td>
                      <td>
                        <input type="text" maxlength="5" class="form-control"  [(ngModel)]="journalList[i].f018fsoCode" value=""(blur)="onBlurMethod()">
                      </td>
                      <td>
                          <input type="text" maxlength="15" class="form-control"  [(ngModel)]="journalList[i].f018freferenceNumber" value=""(blur)="onBlurMethod()">
                        </td>
                      <td>
                          <input type="text" maxlength="10" class="form-control"  [(ngModel)]="journalList[i].f018fdrAmount" value=""(blur)="onBlurMethod()">
                        </td>
                      <td>
                          <input type="text" maxlength="10" class="form-control"  [(ngModel)]="journalList[i].f018fcrAmount" value=""(blur)="onBlurMethod()">
                        </td>
                        <!-- <td>
                            <input type="button" name="add" (click)='deleteJournal(journalList[i])' value='Delete' class="btn nh-btn-primary" />
                          </td> -->
  
                    </tr>
                    <tr>
                      <td>
                        <select class="form-control" [(ngModel)]="journalData.f018fidGlcode" name="glNewCode" id="glNewCode"
                          placeholder="Select Id Parent">
                          <option [ngValue]="undefined" hidden selected> --please select-- </option>
                          <option *ngFor="let indgl of glList" [value]="indgl.f014fid">{{ indgl.f014fglCode }}</option>
                        </select>
                      </td>
                      <td>
                        <input type="text" maxlength="6" class="form-control" name="glCode" placeholder="Enter SO Code" [(ngModel)]="journalData.f018fsoCode"
                          value="">
                      </td>
                      <td>
                        <input type="text" maxlength="15" class="form-control" name="RefNumber" placeholder="Enter Ref Number" [(ngModel)]="journalData.f018freferenceNumber"
                          value="">
                      </td>
                      <td>
                          <input type="text" maxlength="10" class="form-control" name="Debit" placeholder="Enter Debit Amount" [(ngModel)]="journalData.f018fdrAmount"
                          value="" required (keyup)="disableFieldsOfDRCR()" [readonly]="showDrReadonly">
                      </td>
                      <td>
                          <input type="text" maxlength="10" class="form-control" name="Credit" placeholder="Enter Credit Amount" [(ngModel)]="journalData.f018fcrAmount"
                          value="" required (keyup)="disableFieldsOfDRCR()" [readonly]="showCrReadonly">
                      </td>
                      <!-- <td>
                        <input type="button" name="add" (click)='addjournallist()' value='ADD' class="btn nh-btn-primary" />
                      </td> -->
                    </tr>
                    <!-- <tr>
                                 <td>{{totalDebitAmount}}</td>
                                 <td>{{totalCreditAmount}}</td>
                              </tr> -->
                  </tbody>
                </table>
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                          <p class="text-right">
                            <a routerLink="/generalledger/journalreversal" class="btn nh-btn-secondary">Back</a>
                            <!-- <button type="submit" (click)='saveJournal()' class="btn nh-btn-primary">Save</button> -->
                          </p>
                        </div>
                      </div>
                </div>
             
                <!-- <tr>
                  <td>
                    <input type="button" name="add" (click)='saveJournal()' class="btn nh-btn-primary" value='SAVE' />
                  </td>
                </tr> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  