.um-footer {
    background-color: #f2f2f2;
    padding:20px;
    text-align: center;
    margin: 20px -10px 0;
    border-top:1px solid #ddd;
}
.um-footer p {
    color:#000;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin: 6px 0 0;
}