<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Warrant Print</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="poapprovalList| filter : searchText"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="f034forderType">Order Type</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="f034freferenceNumber">Reference Number</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="f034forderDate">Date</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="department">Cost Center</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="supplier">Vendor</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="financialyear">Budget Year</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="f034ftotalAmount">Amount (RM)</mfDefaultSorter>
                  </th>
                  <th>View</th>
                  <th>Print </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let purchaserequistion of mf.data ">
                  <td>{{purchaserequistion.f034forderType}}</td>
                  <td>{{purchaserequistion.f034freferenceNumber}}</td>
                  <td>{{purchaserequistion.f034forderDate | date: 'dd/MM/yyyy'}}</td>
                  <td>{{purchaserequistion.department}}</td>
                  <td>{{purchaserequistion.supplier}}</td>
                  <td>{{purchaserequistion.financialyear}}</td>
                  <td class="amountAlign">{{purchaserequistion.f034ftotalAmount | number: '.2'}}</td>
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/procurement/vieweditpo/{{purchaserequistion.f034fid}}/2">
                        <button class="btn nh-btn-edit">
                          <i class="fa fa-eye"></i>
                        </button>
                      </a>
                    </div>
                  </td>
                  <td> <input type='button' value="Print" (click)="Print(purchaserequistion.f034fid)" /></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="9">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>