<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Cost Center</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/generalsetup/addnewdepartment']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="deptList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <!-- <th><mfDefaultSorter by="f015fdepartmentName">Description</mfDefaultSorter></th> -->
                                <th><mfDefaultSorter by="f015fdeptCode">Cost Center Code</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f015funit">Unit Code</mfDefaultSorter></th>
                                
                                <th><mfDefaultSorter by="f015fdepartmentCode">Description</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f015fstatus">Status</mfDefaultSorter></th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inddept of  mf.data">
                                <!-- <td>{{inddept.f015fdeptCode}}</td> -->
                                <!-- <td>{{inddept.f015fdepartmentName}}</td> -->
                                <td>{{inddept.f015fdeptCode}}</td>
                                <td>{{inddept.f015funit}}</td>
                                
                                <td>{{inddept.f015fdepartmentName}}</td>
                                <td>{{inddept.f015fstatus == 1 ?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/generalsetup/editdepartment/{{inddept.f015fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="6">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>