<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Bank</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addBank()" #f="ngForm" name="form" novalidate>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Bank Description<span class="required-class">*</span></label>
                                <textarea type="text" maxlength="100" class="form-control" name="BankName" placeholder="Enter Bank Description"
                                    [(ngModel)]="bankData.f042fbankName" value="" required #bank="ngModel"></textarea>
                                <span *ngIf="bank.errors && (bank.dirty || bank.touched || f.submitted )" class="form-errors">*Enter
                                    the Bank Description
                                    .</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Branch Name</label>
                                <input type="text" maxlength="50" class="form-control" name="f042fbranchName" placeholder="Enter Banch Name"
                                    [(ngModel)]="bankData.f042fbranchName" value="">
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Account Number</label>
                                    <input type="text" maxlength="25" class="form-control" name="accountNumber" placeholder="Enter Account Number" [(ngModel)]="bankData.f042faccountNumber" value="" required>
                                </div>
                            </div> -->
                        <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Account Type</label>
                                     <select class="form-control" name="accountType" [(ngModel)]="bankData.f042faccountType">
                                        <option value="Savings Account">Savings Account</option>
                                        <option value="Current Account">Current Account</option>
                                      </select>  -->
                        <!-- <input type="text" class="form-control" name="accountType" placeholder="Enter AccountType" [(ngModel)]="bankData.f042faccountType" value="" required> -->
                        <!-- </div>
                            </div> -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Bank Code<span class="required-class">*</span></label>
                                <input type="text" maxlength="25" class="form-control" name="bankcode" placeholder="Enter Bank Code"
                                    [(ngModel)]="bankData.f042fswiftCode" value="" required #bankcode="ngModel">
                                <span *ngIf="bankcode.errors && (bankcode.dirty || bankcode.touched || f.submitted )"
                                    class="form-errors">*Enter the Bank Code
                                    .</span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Brs Code</label>
                                    <input type="text" maxlength="25" class="form-control" name="brsCode" placeholder="EnteBrsCode" [(ngModel)]="bankData.f042fbrsCode" value="" required>
                                </div>
                            </div> -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="bankData.f042fstatus" [checked]="bankData.f042fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="bankData.f042fstatus" [checked]="bankData.f042fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/generalsetup/bank" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>