<app-header></app-header>
<section class="ps-main-section">
  <div class="ps-left-navbar">
    <ul class="ps-left-navbar-menu">
      <li class="ps-left-navbar-item">
        <a data-toggle="collapse" data-parent="#accordion" href="#setupscreens">
          <div class="panel-heading">
            Setup 
          </div>
        </a>
        <div id="setupscreens" class="panel-collapse collapse">
          <div class="panel-body no-padding"  *ngFor="let setup of setupList">
            <a routerLink='{{setup.f011flink}}' class="dash-sub-menu list-group-item">{{setup.f011fmenuName}}</a>
          </div>
          </div>
      </li>
      <li class="ps-left-navbar-item">
        <a data-toggle="collapse" data-parent="#accordion" href="#transactionscreens">
          <div class="panel-heading">
            Transaction 
          </div>
        </a>
        <div id="transactionscreens" class="panel-collapse collapse">
          <div class="panel-body no-padding"  *ngFor="let transaction of transactionList">
            <a routerLink='{{transaction.f011flink}}' class="dash-sub-menu list-group-item">{{transaction.f011fmenuName}}</a>
          </div>
          </div>
      </li>
      <li class="ps-left-navbar-item">
        <a data-toggle="collapse" data-parent="#accordion" href="#reportscreens">
          <div class="panel-heading">
            Report 
          </div>
        </a>
        <div id="reportscreens" class="panel-collapse collapse">
          <div class="panel-body no-padding"  *ngFor="let report of reportList">
            <a routerLink='{{report.f011flink}}' class="dash-sub-menu list-group-item">{{report.f011fmenuName}}</a>
          </div>
          </div>
      </li>
      
    </ul>
  </div>
</section>

<router-outlet></router-outlet>
<app-footer></app-footer>