<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Pre Asset Registration</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <form (ngSubmit)="f.form.valid && addAssetinformation()" #f="ngForm" name="form" novalidate>
                <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Category Name</th>
                    <!-- <th>Quantity</th> -->
                    <th>Sub Category</th>
                    <th>Item</th>
                   
                    <th>Quantity</th>
                    <th>Store</th>

                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let indreg of preregistrationList;let i = index;trackBy:indexTracker">
                    <td>
                      <input type="text" class="form-control" style="width:150px;" placeholder="Reference Sequence Number"
                        [(ngModel)]="preregistrationList[i].categoryName" name="categoryName" value="">
                    </td>
                   
                    <td>
                        <input type="text" class="form-control" style="width:150px;" disabled="disabled" placeholder="Reference Sequence Number"
                        [(ngModel)]="preregistrationList[i].subCategoryName" name="subCategoryName" value="">
                  </td>
                 
                  <td>
                      <input type="text" class="form-control" style="width:150px;" disabled="disabled" placeholder="Reference Sequence Number"
                        [(ngModel)]="preregistrationList[i].itemName" name="itemName" value="">
                  </td>
                  <td>
                        <input type="text" class="form-control" style="width:150px;" disabled="disabled" placeholder="Reference Sequence Number"
                          [(ngModel)]="preregistrationList[i].f134fquantity" name="quantity" value="">
                    </td>
                 

                        <td>
                                <ng-select [items]="setupList" bindLabel="f097fstoreName" bindValue="f097fid"
                                [(ngModel)]="preregistrationList[i].f134fstore" name="f134fstore" #store="ngModel"
                                required>
                            </ng-select>
                        </td>
                                        
  
                  </tr>
  
                </tbody>
              </table>
            
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
                    <a routerLink="/assets/assetinformation" class="btn nh-btn-secondary">Cancel</a>
                    <!-- <button type="submit" (click)='saveAssetinformation()' class="btn nh-btn-primary">Save</button> -->
                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
