<!-- <site-header></site-header>
<section class="ps-main-section">
    <div class="ps-left-navbar">
        <ul class="ps-left-navbar-menu">
            <li>asfasdfadfa</li>
              <ng-template #recursiveList let-list>
                <li *ngFor="let Menuitem of Menuitems" class="parent-menu"
                [ngClass]="{'active': id === Menuitem }" id="Menuitem" 
                (click)="addClass(id=Menuitem)" >
                    <span class="menu-label" >{{Menuitem.label}}</span>
                    <ul *ngIf="Menuitem.items.length > 0" class="first-level-wrapper">
                        <li *ngFor="let item of Menuitem.items" class="first-level">
                            <a href={{item.url}} title={{item.label}} >{{item.label}}</a>
                        </li>
                    </ul>
                </li>
              </ng-template>
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
        </ul>
      </div>
</section>

<router-outlet></router-outlet>
<site-footer></site-footer> -->
<app-header></app-header>
<section class="ps-main-section">
    <div class="ps-left-navbar">
        <ul class="ps-left-navbar-menu">
            <li class="ps-left-navbar-item">
                <a data-toggle="collapse" data-parent="#accordion" href="#setupscreens">
                  <div class="panel-heading">
                    Setup 
                  </div>
                </a>
                <div id="setupscreens" class="panel-collapse collapse">
                  <div class="panel-body no-padding"  *ngFor="let setup of setupList">
                    <a routerLink='{{setup.f011flink}}' class="dash-sub-menu list-group-item">{{setup.f011fmenuName}}</a>
                  </div>
                  </div>
              </li>
              <li class="ps-left-navbar-item">
                <a data-toggle="collapse" data-parent="#accordion" href="#transactionscreens">
                  <div class="panel-heading">
                    Transaction 
                  </div>
                </a>
                <div id="transactionscreens" class="panel-collapse collapse">
                  <div class="panel-body no-padding"  *ngFor="let transaction of transactionList">
                    <a routerLink='{{transaction.f011flink}}' class="dash-sub-menu list-group-item">{{transaction.f011fmenuName}}</a>
                  </div>
                  </div>
              </li>
              <li class="ps-left-navbar-item">
                <a data-toggle="collapse" data-parent="#accordion" href="#reportscreens">
                  <div class="panel-heading">
                    Report 
                  </div>
                </a>
                <div id="reportscreens" class="panel-collapse collapse">
                  <div class="panel-body no-padding"  *ngFor="let report of reportList">
                    <a routerLink='{{report.f011flink}}' class="dash-sub-menu list-group-item">{{report.f011fmenuName}}</a>
                  </div>
                  </div>
              </li>
            <!-- <li class="ps-left-navbar-item" >
                <a data-toggle="collapse" data-parent="#accordion" href="#reports">
                    <div class="panel-heading"  >
                        Reports
                    </div>
                </a>
              <div id="reports" class="panel-collapse collapse" >
                <div class="panel-body no-padding">
                        <a routerLink="/report/trialbalancereport" class="dash-sub-menu list-group-item">Trail Balance Report</a>
                </div>
                <div class="panel-body no-padding">
                  <a routerLink="/report/pnlreport" class="dash-sub-menu list-group-item">P & L Report</a>
              </div>
          <div class="panel-body no-padding">
            <a routerLink="/report/balancesheetreport" class="dash-sub-menu list-group-item">Balance Sheet Report</a>
              </div>
            </div>
        </li>  -->

            <!-- <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalledger/financialyear']">Financial Year</a>
            </li>
            <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalledger/glcodegeneration']">Gl Code</a>
            </li>

            <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalledger/openingbalance']">Opening Balance </a>
            </li>
            <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalledger/openingbalanceapproval']">Opening Balance Approval</a>
            </li>
            <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalledger/journal']">Journal Entry </a>
            </li>
            <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalledger/journalapproval']">Journal Approval </a>
            </li>
            <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalledger/journalmonthlysummary']">Journal Monthly Summary </a>
            </li>
            <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalledger/monthlyprocess']">Monthly Process</a>
            </li>
            <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalledger/taxsetupcode']">Tax Setup Code</a>
            </li> -->
          
        </ul>
    </div>
</section>

<router-outlet></router-outlet>
<app-footer></app-footer>