.navbar{
    margin-bottom: 0px !important;
}
.navbar-default{
    border-radius: 0px;
    border:none;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 10px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar{
    margin-bottom: 0px !important;
  }
  .sidebar{
      padding: 0px;
      background:#CBCBCB;
      position: fixed;
      height: 90%;
      overflow-y: scroll;
      top:91px;
  }
  .panel-group .panel+.panel {
       margin-top: 0px;
  }
  .content-area{
    padding-top:51px;
  }
  .main-sidemnu{
    border-radius: 0px;
    color: #212121;
    text-decoration: none !important;
  }
  .tcaret{
    margin-top:9px;
  }
  .navbar-brand > img{
    width:150px;
    margin-top:0px;
  }
  .no-padding{
    padding:0px;
  }
  .dash-sub-menu{
    border-radius: 0px;
    padding-left: 37px;
  }
  .menu-panel{
    background: #FFF;
    border-color: transparent;
  }
  .main-sidemnu .panel-heading{
    color:#000 !important;
  }
  .dash-sub-menu{
    background:#fff;
    border-color:#fff;
    color:#000 !important;
    border-radius: 0px !important;
  }
  .dash-sub-menu:hover{
    background: #fff !important;
    color:#000;
  }
  .dash-sub-menu:before {
    position: absolute;
    border: 5px solid #274A91;
    content: "";
    left: 16px;
    top: 15px;
    border-radius: 50px;
}

.horizontalmrnu {
  background:#F7D600;
  margin-top: 60px;
}

.horizontalmrnu ul {
  margin: 0px;
  padding-top:0px;
  padding-bottom: 0px; 
  padding-left: 20%;
  padding-right: 0px;
  list-style: none;
}


.horizontalmrnu ul a li{
  list-style: none;
  float: left;
  padding: 5px 20px;
  cursor: pointer;
}
a.mmmenu:hover {
    background: #274A91;
    color: #fff;
}
.mmmenu{
  font-weight: bold;
}
.horizontalmrnu ul a li:hover {
    background: #274A91;
    transition: 0.6s;
    text-decoration: none;
    padding: 5px 20px;
    
} 
.horizontalmrnu ul a li:hover{
  color: #fff;
  text-decoration: none;
}
.iactive{
  background: #274A91;
}
.iactive{
  color:#fff !important;
  text-decoration: none;
}

.flagcss{
  width:25px;
  margin-right: 5px;
}
.last-login{
  font-weight: bold;
  padding: 5px 0px;
  margin: 0px;
  color: #424242;
}
