<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Currency Rate Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCurrencyratesetup()" #f="ngForm" name="form" novalidate>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Currency Setup Code<span class="required-class">*</span></label>
                                        <ng-select [items]="currencysetupList | sort:'f062fcurCode'" maxlength="10"
                                            bindLabel="f062fcurCode" bindValue="f062fid" [(ngModel)]="currencyratesetupData.f064fidCurrency"
                                            name="f064fidCurrency" #curr="ngModel" required>
                                        </ng-select>
                                        <span *ngIf=" curr.errors && (curr.dirty || curr.touched || f.submitted)" class="form-errors">*Select
                                            Currency
                                            Setup Code</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Exchange Rate(RM) <span class="required-class">*</span></label>
                                        <input type="text" maxlength="10" style="text-align: right" class="form-control"
                                            (keypress)="onlyNumberKey($event)" name="ExchangeRate" placeholder="Enter Exchange Rate"
                                            [(ngModel)]="currencyratesetupData.f064fexchangeRate" value="" required
                                            #exrate="ngModel">
                                        <span *ngIf=" exrate.errors && (exrate.dirty || exrate.touched || f.submitted)"
                                            class="form-errors">*Enter
                                            the Exchange Rate(RM)</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Effective Date<span class="required-class">*</span></label>
                                        <input type="date" class="form-control" name="f064feffectiveDate" placeholder="Enter Effective Date"
                                            [(ngModel)]="currencyratesetupData.f064feffectiveDate" value="" required
                                            #efdate="ngModel">
                                        <span *ngIf=" efdate.errors && (efdate.dirty || efdate.touched || f.submitted)"
                                            class="form-errors">*Select Effective Date</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div [className]="'active'"></div>
                                        <label>Status</label>
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="currencyratesetupData.f064fstatus"
                                            [checked]="currencyratesetupData.f064fstatus === '1'" [value]="1"> Active
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="currencyratesetupData.f064fstatus"
                                            [checked]="currencyratesetupData.f064fstatus === '0'" [value]="0"> Inactive
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/studentfinance/currencyratesetup" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>