<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Grade </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addLicense()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Grade Name<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f091flicense"
                                        placeholder="Enter Grade Name" [(ngModel)]="licenseData.f091flicense" value=""
                                        required #license="ngModel">
                                    <span *ngIf="license.errors && (license.dirty || license.touched || f.submitted )" class="form-errors">*Enter the Grade Name
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="licenseData.f091fstatus" [checked]="licenseData.f091fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="licenseData.f091fstatus" [checked]="licenseData.f091fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>                           
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/procurement/license']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>