<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/procurement/levelone']">
                                    Product
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/procurement/leveltwo']">
                                    Sub Product 
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/procurement/levelthree']">
                                    Sub Product Item
                                </a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title">Nature of Business</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Code</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let indleveltwo of leveltwoList; let i = index">
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="levelone" placeholder="levelone"
                                    [(ngModel)]="levelone" value="" (blur)="onBlurMethod(leveltwoList[i])">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="code" placeholder="Enter Code"
                                    [(ngModel)]="leveltwoList[i].f059fcode" value="" (blur)="onBlurMethod(leveltwoList[i])">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="name" placeholder="name" [(ngModel)]="leveltwoList[i].f059fname"
                                    value="">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" maxlength="100" class="form-control" readonly="readonly" placeholder="Enter Levelone"
                                    [(ngModel)]="levelone" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="form-control" name="code" placeholder="Enter Code"
                                    [(ngModel)]="leveltwoData.f059fcode" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="form-control" name="name" placeholder="Enetr Name"
                                    [(ngModel)]="leveltwoData.f059fname" value="">
                            </td>
                            <td>
                                <input type="button" name="add" (click)='addLeveltwo()' value='ADD' class="btn nh-btn-primary" />
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <a routerLink="/procurement/leveltwo" class="btn nh-btn-secondary">Cancel</a>
                    <button type="submit" (click)='saveLeveltwo()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>