<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Approval Bursary</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="approvaloneList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f042fbankName">Investment Bank</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="investmentType">Investment Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fbranch">Branch</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fdurationType">Duration Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fduration">Duration</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f063famount">Investment Amount (RM)</mfDefaultSorter>
                                </th>
                                <th>Approve / Reject </th>
                                <!-- <th>Auto Renewal</th> -->
                                <!-- <th>View</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indapprovalone of mf.data">
                                <td>{{indapprovalone.f042fbankName}}</td>
                                <td>{{indapprovalone.investmentType}}</td>
                                <td>{{indapprovalone.f063fdescription}}</td>
                                <td>{{indapprovalone.f063fbranch}}</td>
                                <td>{{indapprovalone.f063fdurationType}}</td>
                                <td>{{indapprovalone.f063fduration}}</td>
                                <td class="amountAlign">{{indapprovalone.f063famount | number: '.2'}}</td>
                                <!-- <td>{{indapprovalone.f063fduration}}</td>
                                <td>{{indapprovalone.f061fname}}</td>
                                <td>{{indapprovalone.f063fprofitRate}}</td> -->
                                <!-- <td>{{indapprovalone.f063fstatus === true?'Active':'Inactive'}}</td> -->

                                <td *ngIf="indapprovalone.f063fapproved1Status === 1">
                                    Approved
                                </td>
                                <td *ngIf="indapprovalone.f063fapproved1Status === 2">
                                    Rejected
                                </td>
                                <td *ngIf="indapprovalone.f063fapproved1Status === 0">
                                    <input type="checkbox" [(ngModel)]="indapprovalone.f063fapprovedStatus">
                                </td>
                                <!-- <td *ngIf="indapprovalone.f063fapproved1Status === 0" >
                                    <input type="checkbox"
                                        [(ngModel)]="indapprovalone.autoRenewal">
                                </td> -->
                                <!-- <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/investment/viewapprovalone/{{indapprovalone.f063fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="approvaloneData.reason" name="f063fapprove1Reson"
                                placeholder="Enter the Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <input type="checkbox" [(ngModel)]="approvaloneData.check" name="check">
                        <p> Apabila pelaburan ini telah matang, dan sekiranya Ahli Jawatankuasa Penyimpan Wang Lebihan
                            tidak meluluskan sebarang pengeluaran pelaburan ini,
                            amaun pokok pelaburan boleh diperbaharui mengikut pelaburan asal (Islamic) dengan tempoh
                            yang sama dan kadar yang tidak kurang dari pelaburan asal.
                            Sekiranya kadar yang ditawarkan adalah lebih rendah dari kadar pelaburan asal,pihak bank
                            perlu memaklumkan/mendapatkan persetujuan pihak Bendahari UUM terlebih dahulu.</p>


                        <!-- <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="approvaloneData.reason" name="f063fapprove1Reson"
                                placeholder="Enter the Description "></textarea>
                        </div> -->
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='approvaloneListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectoneListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>