<app-header></app-header>
<section class="ps-main-section">
    <div class="ps-left-navbar">
        <ul class="ps-left-navbar-menu">

            <!-- <li class="ps-left-navbar-item" *ngFor="let menu of menuList">
            <a routerLink='{{menu.f011flink}}'>{{menu.f011fmenuName}}</a>
          </li> -->
            <li class="ps-left-navbar-item">
                <a data-toggle="collapse" data-parent="#accordion" href="#setupscreens">
                    <div class="panel-heading">
                        Setup
                    </div>
                </a>
                <div id="setupscreens" class="panel-collapse collapse">
                    <div class="panel-body no-padding" *ngFor="let setup of setupList">
                        <a routerLink='{{setup.f011flink}}' class="dash-sub-menu list-group-item">{{setup.f011fmenuName}}</a>
                    </div>
                    <div class="panel-body no-padding">
                        <a routerLink="/generalsetup/roletouser" class="dash-sub-menu list-group-item">Role to User
                        </a>
                    </div>
                </div>

            </li>
            <li class="ps-left-navbar-item">
                <a data-toggle="collapse" data-parent="#accordion" href="#reportscreens">
                    <div class="panel-heading">
                        Report
                    </div>
                </a>
                <div id="reportscreens" class="panel-collapse collapse">
                    <div class="panel-body no-padding" *ngFor="let report of reportList">
                        <a routerLink='{{report.f011flink}}' class="dash-sub-menu list-group-item">{{report.f011fmenuName}}</a>
                    </div>
                </div>
            </li>
            <!-- <li class="ps-left-navbar-item">
            <a data-toggle="collapse" data-parent="#accordion" href="#transactionscreens">
              <div class="panel-heading">
                Transaction 
              </div>
            </a>
            <div id="transactionscreens" class="panel-collapse collapse">
              <div class="panel-body no-padding"  *ngFor="let transaction of transactionList">
                <a routerLink='{{transaction.f011flink}}' class="dash-sub-menu list-group-item">{{transaction.f011fmenuName}}</a>
              </div>
              </div>
          </li> -->
            <!-- <li class="ps-left-navbar-item">
            <a data-toggle="collapse" data-parent="#accordion" href="#reports">
                <div class="panel-heading"  >
                    Reports
                </div>
            </a>
            
            <div id="reports" class="panel-collapse collapse" >
          <div class="panel-body no-padding">
            <a routerLink="/generalsetup/accountcodereport" class="dash-sub-menu list-group-item">Account Code Report</a>
              </div>
            </div>        
        </li> -->
            <!-- <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/fund']">Fund</a>
        </li>
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/department']">Department</a>
        </li>
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/activitycode/0/0/0']">Activity Code</a>
        </li> -->
            <!-- <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/accountcode/0/0/0']">Account Code</a>
        </li>   -->
            <!-- <li class="ps-left-navbar-item">
                <a [routerLink]="['/generalsetup/levelone']">New Account Code</a>
            </li>
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/bank']">Bank </a>
        </li>
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/banksetupaccount']">Company Bank Setup </a>
        </li>
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/company']">Company</a>
        </li>
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/country']">Country</a>
        </li>
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/state']">State</a>
        </li>
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/role']">Role</a>
        </li>
        <li class="ps-left-navbar-item">
            <a [routerLink]="['/generalsetup/config']">Initial Configuration</a> 
        </li>-->


        </ul>
    </div>
</section>
<ng4-loading-spinner></ng4-loading-spinner>

<router-outlet></router-outlet>

<app-footer></app-footer>