<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">{{this.title}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Total Amount</th>
                                <th>Advance Payment</th>
                                <th>Status</th>
                                <th>Approve</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inddebtorapproval of debtorapprovalList | filter : searchText ">
                                <td>{{inddebtorapproval.firstName}} {{inddebtorapproval.lastName}}</td>
                                <td>{{inddebtorapproval.f079fdate}}</td>
                                <td>{{inddebtorapproval.f079ftotalAmount}}</td>
                                <td>{{inddebtorapproval.f079fadvancePayment}}</td>
                                <td>{{inddebtorapproval.f079fstatus === 1?'Approved':'Not Approved'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="inddebtorapproval.f079fstatus">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='debtorApprovalListData()' class="btn nh-btn-primary">Approve</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>