<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Generate Receipt</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Invoice Number</label>
                <select class="form-control" [(ngModel)]="voucherData.f031fidInvoice" name="f031fidInvoice" (change)="getInvoiceDetails()">
                  <option *ngFor="let indinvoice of invoiceList" [value]="indinvoice.f071fid">{{
                    indinvoice.f071finvoiceNumber
                    }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Customer Name</label>
                <input type="text" class="form-control" name="customer" placeholder="Enter customer " [(ngModel)]="recurringsetupcustomerData.f077fcustomer"
                  value="" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control" name="finalAmount" [(ngModel)]="invoiceDataheader.f071finvoiceTotal"
                  placeholder="Amount">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>RCP Number</label>
                <input type="text" class="form-control" name="finalAmount" [(ngModel)]="invoiceDataheader.f071finvoiceTotal"
                  placeholder="Amount">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>RCP Date</label>
                <input type="date" class="form-control" name="startDate" [(ngModel)]="invoiceDataheader.f071finvoiceDate"
                  value="" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control" name="finalAmount" [(ngModel)]="invoiceDataheader.f071finvoiceTotal"
                  placeholder="Amount">
              </div>
            </div>
          </div>
          <div class="row">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Payment Type</th>
                  <th>Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indinv of invoiceList;let i = index;trackBy:indexTracker">
                  <td>
                    <select class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" name="f016fidGlcode" #invoice="ngModel">
                      <option value='1'>Credit Card</option>
                      <option value='1'>Cash</option>
                    </select> </td>
                  <td>
                    <input type="number"> </td>
                  

                  <td>
                    <input type="button" name="add" (click)='deleteInvoice(invoiceList[i])' value='Delete' class="btn nh-btn-primary" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="form-control" [(ngModel)]="invoiceData.f072fidItem" name="f072fidItem" required
                      #department="ngModel">
                      <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="invoiceData.f072fglcode" name="f072fglcode">
                      <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                        }}</option>
                    </select>
                  </td>
                  

                  <td>
                    <input type="button" name="add" (click)='addinvoicelist()' value='ADD' class="btn nh-btn-primary" />
                  </td>
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-sm-12" *ngIf="this.type==0">
              <p class="text-right">
                <a [routerLink]="['/accountsrecivable/requestinvoicelist/0']" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveInvoice()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>
            <div class="col-sm-12" *ngIf="this.type==1">
              <p class="text-right">
                <a [routerLink]="['/accountsrecivable/invoiceapproval/1']" class="btn nh-btn-secondary">Back</a>

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
