<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Sponsor Debit Note</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Sponsor Debit Note Approval</h1>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-4">
          <div class="form-group">
            <label>Invoice Type</label>
            <!-- <select class="form-control" [(ngModel)]="creditnoteData.f031ftype" name="f031ftype" (change)="getType()">
                <option value='0'>--Select--</option>
                <option value='CSTD'>Student</option>
                <option value='CSTA'>Staff</option>
                <option value='CSP'>Sponser</option>
                <option value='CDOC'>Document</option>
                <option value='COR'>Other Recivables</option>
              </select> -->
            <ng-select disabled="disabled" [items]="invoicetypeList" bindLabel="name" bindValue="name" [(ngModel)]="debitnoteData.f063ftype"
              name="f063ftype" value="Sponsor">
            </ng-select>
          </div>
        </div>

        <!-- <div class="col-sm-4" *ngIf="type == 'COR'">
            <div class="form-group">
              <label>Customer </label> -->
        <!-- <ng-select [disabled]="viewDisabled" [items]="customerList | sort:'f021ffirstName'" bindLabel="f021ffirstName" bindValue="f021fid" (change)="getInvoiceList()"
                [(ngModel)]="creditnoteData.f031fidCustomer" name="f031fidCustomer">
              </ng-select>
            </div>
          </div> -->
        <div class="col-sm-4">
          <div class="form-group">
            <label>Sponsor </label>
            <ng-select [disabled]="viewDisabled" [items]="sponserList | sort:'Name'" bindLabel="Name" bindValue="f063fid"
              (change)="getInvoiceList()" [(ngModel)]="debitnoteData.f063fidCustomer" name="f063fidCustomer" (change)="getInvoiceList()">
            </ng-select>
          </div>
        </div>
        <!-- <div class="col-sm-4" *ngIf="type == 'CSTD'">
            <div class="form-group">
              <label>Student </label> -->
        <!-- <ng-select [disabled]="viewDisabled" [items]="studentList | sort:'f060fname'" bindLabel="f060fname" bindValue="f060fid" (change)="getInvoiceList()"
                [(ngModel)]="creditnoteData.f031fidCustomer" name="f031fidCustomer">
              </ng-select>
            </div>
          </div> -->
        <!-- <div class="col-sm-4" *ngIf="type == 'CSTA'">
            <div class="form-group">
              <label>Staff </label> -->
        <!-- <ng-select [disabled]="viewDisabled" [items]="customerList | sort:'f021ffirstName'" bindLabel="f021ffirstName" bindValue="f021fid" (change)="getInvoiceList()"
                [(ngModel)]="creditnoteData.f031fidCustomer" name="f031fidCustomer" (change)="getInvoiceList()">
              </ng-select>
            </div>
          </div> -->

        <div class="col-sm-4">
          <div class="form-group">
            <label>Invoice Number</label>
            <!-- <select class="form-control" [(ngModel)]="creditnoteData.f031fidInvoice" name="f031fidInvoice" (change)="getInvoiceDetails()">
                <option *ngFor="let indinvoice of maininvoiceList" [value]="indinvoice.f071fid">{{
                  indinvoice.f071finvoiceNumber }}</option>
              </select> -->
            <ng-select [disabled]="viewDisabled" [items]="maininvoiceList | sort:'f071fid'" bindLabel="f071finvoiceNumber"
              bindValue="f071fid" (change)="getInvoiceDetails()" [(ngModel)]="debitnoteData.f063fidInvoice" name="f063fidInvoice">
            </ng-select>
          </div>
        </div>
        <!-- <div class="col-sm-4">
            <div class="form-group">
              <label>Customer </label>
              <select class="form-control" [(ngModel)]="creditnoteData.f031fcustomer" disabled="disabled" name="f031fcustomer">
                <option *ngFor="let indinvoice of customerList" [value]="indinvoice.f071fidCustomer">{{ indinvoice.firstName }} {{ indinvoice.lastName }}</option>
              </select>
            </div>
          </div> -->
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Total Amount (RM) </label>
            <input type="text" class="form-control" name="f063ftotalAmount" placeholder="Amount " style="text-align: right"
              [(ngModel)]="debitnoteData.f063ftotalAmount" value="" readonly="readonly">
          </div>
        </div>
        <!-- <div class="col-sm-4">
            <div class="form-group">
              <label>Invoice Date</label>
              <input type="date" disabled="disabled" class="form-control" name="invoiceDate" [(ngModel)]="creditnoteData.f031fdate"
                value="" required>
            </div>
          </div> -->
        <div class="col-sm-4" *ngIf="id!=0">
          <div class="form-group">
            <label>Credit Note Number</label>
            <input type="text" class="form-control" name="customer" placeholder="Credit Note Number" [(ngModel)]="debitnoteData.f063freferenceNumber"
              value="" readonly="readonly">
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-sm-4">
            <div class="form-group">
              <label>Balance (RM)</label>
              <input type="text" maxlength="10" class="form-control" style="text-align: right" [(ngModel)]="creditnoteData.f031fbalance"
                disabled="disabled" name="referencenumber" placeholder="Balance">
            </div>
          </div> -->
        <!-- <div class="col-sm-4">
            <div class="form-group">
              <label>Reference Number</label>
              <input type="text" maxlength="10" class="form-control" [(ngModel)]="creditnoteData.f031freferenceNumber"
                name="referencenumber" placeholder="Reference Number">
            </div>
          </div> -->
        <div class="col-sm-4">
          <div class="form-group">
            <label>Voucher Date</label>
            <input [disabled]="viewDisabled" type="date" class="form-control" name="f063fdate" [(ngModel)]="debitnoteData.f063fdate"
              value="" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Description</label>
            <textarea [disabled]="viewDisabled" class="form-control" maxlength="100" name="f063fdescription"
              placeholder="Description" [(ngModel)]="debitnoteData.f063fdescription"></textarea>
            <!-- <input type="textarea" class="form-control" [(ngModel)]="voucherData.f031fvoucherDays" name="referencenumber" placeholder=""> -->
          </div>
        </div>
      </div>
    </div>
    <div id="overlay1"></div>
    <div id="myModal" class=" fade in" role="dialog">
      <div class="modal-content">
        <p class="maximize-icon">
          <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
        </p>
        <p class="minimize-icon hidden">
          <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
        </p>
        <div class="modal-body">
          <div class="table-responsive credit-note-table-wrapper">
            <table class="table table-bordered table-striped credit-note-table" id="target1">
              <thead>
                <tr>
                  <th rowspan='2' style="text-align:center;">Fee Item</th>
                  <th colspan="4" style="text-align:center;">Debit GL Code</th>
                  <th colspan="4" style="text-align:center;">Credit GL Code</th>

                  <th rowspan='2' style="text-align:center;">Quantity</th>
                  <th rowspan='2' class="price-col" style="text-align:center;">Price (RM)</th>
                  <th rowspan='2' class="taxcode-col" style="text-align:center;">Tax Code</th>
                  <th rowspan='2' class="tax-amount-col" style="text-align:center;">Tax Amount (RM)</th>
                  <th rowspan='2' class="total-col" style="text-align:center;">Total (RM)</th>
                  <th rowspan='2' class="to-credit-col" style="text-align:center;">Amount (RM)</th>
                </tr>
                <tr>
                  <th>Fund</th>
                  <th>Activity Code</th>

                  <th>Department</th>
                  <th>Account Code</th>
                  <th>Fund</th>
                  <th>Activity Code</th>

                  <th>Department</th>
                  <th>Account Code</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indinv of maininvoiceListBasedOnInvoiceId;let i = index;trackBy:indexTracker">
                  <td>
                    <ng-select disabled="disabled" [items]="feeItemList" style="width: 150px;" bindLabel="Feename"
                      bindValue="f066fid" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fidItem" name="f072fidItem">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select disabled="disabled" [items]="fundList" style="width: 150px;" bindLabel="f057fname"
                      bindValue="f057fcode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitFundCode" name="f072fdebitFundCode">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select disabled="disabled" [items]="activitycodeList" style="width: 150px;" bindLabel="f058fname"
                      bindValue="f058fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitActivityCode"
                      name="f072fdebitActivityCode">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select disabled="disabled" [items]="DeptList" style="width: 150px;" bindLabel="f015fdepartmentName"
                      bindValue="f015fdepartmentCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitDepartmentCode"
                      name="f072fdebitDepartmentCode">
                    </ng-select>
                  </td>

                  <td>
                    <ng-select disabled="disabled" [items]="accountcodeList" style="width: 150px;" bindLabel="f059fname"
                      bindValue="f059fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitAccountCode"
                      name="f072fdebitAccountCode">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select disabled="disabled" [items]="fundList" style="width: 150px;" bindLabel="f057fname"
                      bindValue="f057fcode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditFundCode" name="f072fcreditAccountCode">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select disabled="disabled" [items]="activitycodeList" style="width: 150px;" bindLabel="f058fname"
                      bindValue="f058fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditActivityCode"
                      name="f072fcreditActivityCode">
                    </ng-select>
                  </td>
                  <td>
                    <ng-select disabled="disabled" [items]="DeptList" style="width: 150px;" bindLabel="f015fdepartmentName"
                      bindValue="f015fdepartmentCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditDepartmentCode"
                      name="f072fcreditDepartmentCode">
                    </ng-select>
                  </td>

                  <td>
                    <ng-select disabled="disabled" [items]="accountcodeList" style="width: 150px;" bindLabel="f059fname"
                      bindValue="f059fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditAccountCode"
                      name="f072fcreditAccountCode">
                    </ng-select>
                  </td>
                  <td>
                    <input type="number" class="form-control" readonly="readonly" style="width: 95px" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fquantity"
                      name="f072fquantity" value="">
                  </td>
                  <td>
                    <input type="number" class="form-control" readonly="readonly" style="text-align: right; width: 95px"
                      [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fprice" name="f072fprice">
                  </td>

                  <td>
                    <!-- <select class="form-control"   readonly="readonly" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fgstCode" name="f072fgstCode" #invoice="ngModel">
                            <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{ indtaxcode.f081fcode }}</option>
                          </select>  -->
                    <ng-select disabled="disabled" [items]="taxcodeList | sort:'taxInformation'" style="width: 150px;"
                      bindLabel="taxInformation" bindValue="f081fid" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fgstCode"
                      name="f072fgstCode">
                    </ng-select>
                  </td>
                  <td>
                    <input type="text" readonly="readonly" class="form-control" style="text-align: right; width: 95px"
                      [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072ftaxAmount" name="f072ftaxAmount" (keypress)="onlyNumberKey($event)">
                  </td>
                  <td>

                    <input type="text" readonly="readonly" class="form-control" readonly="readonly" style="text-align: right; width: 95px"
                      [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072ftotalExc" name="f072ftotalExc" placeholder="Enter Total(RM)">
                  </td>
                  <!-- <td>
                    <input type="number" class="form-control" style="text-align: right" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f032ftoCnAmount"
                      name="f032ftoCnAmount" (blur)="onBlurMethod()">
                  </td> -->


                  <td>
                    <!-- <input type="button" name="add" (click)='deleteInvoice(maininvoiceList[i])' value='Delete' class="btn nh-btn-primary" /> -->
                    <input type="text" [disabled]="viewDisabled" class="form-control" maxlength="10" (change)="subDebitAmount()"
                      style="text-align: right" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f064ftoDnAmount"
                      (keypress)="onlyNumberKey($event)" placeholder="Enter Amount(RM)" name="f064ftoDnAmount">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-right">
          <a routerLink="/accountsrecivable/sponsordebitnote" *ngIf="idview!=2" class="btn nh-btn-secondary">Cancel</a>
          <a [routerLink]="['/accountsrecivable/sponsordebitnoteapproval']" *ngIf="idview==2" class="btn nh-btn-secondary">Cancel</a>
          <button type="submit" (click)='saveData()' class="btn um-btn-primary mar-l-20" *ngIf="viewDisabled==false">Save</button>
        </p>
      </div>
    </div>
  </div>
</div>