<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Maintenance Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="maintenanceapprovalList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f085fassetCode">Asset Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f089fdateOfMaintenance">Date Of Maintenance</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f089fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f089fapprovalStatus">Approve/Reject</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indmaintenanceapproval of mf.data">
                                <td>{{indmaintenanceapproval.f085fassetCode}}</td>
                                <td>{{indmaintenanceapproval.f089fdateOfMaintenance | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indmaintenanceapproval.f089fdescription}}</td>


                                <td>
                                    <input type="checkbox" [(ngModel)]="indmaintenanceapproval.f089fapprovalStatus">
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="maintenanceRejectData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='MaintenanceapprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectmomentapprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>