<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Loan Parameters</h1>
                </div>
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/loan/addnewloantypesetup']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="loantypesetupList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>

                                <th>
                                    <mfDefaultSorter by="loanName">Loan Type</mfDefaultSorter>
                                </th>


                                <th>
                                    <mfDefaultSorter by="f044fempStatus">Employee Status</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f044fempType">Confirmation Status</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f044fguarantee1">Number Of Guarantors</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indloantypesetup of mf.data ">

                                <td>{{indloantypesetup.loanName}}</td>
                                <td>{{indloantypesetup.f044fempStatus =='1'?'Permanent':'Contract'}}</td>
                                <td>{{indloantypesetup.f044fempType =='1'?'Confirmed':'Not Confirmed'}}</td>
                                <td style="text-align:center;">{{indloantypesetup.f044fguarantee1}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/editloantypesetup/{{indloantypesetup.f044fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>