<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">User</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addUser()" #f="ngForm" name="form" novalidate>

            <div class="row">

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Staff<span class="required-class">*</span></label>
                  <ng-select [items]="staffList |sort:'f034fstaffId'" bindValue="f034fstaffId" bindLabel="f034fname" [disabled]="useredit"
                    [(ngModel)]="userData.f014fidStaff" (change)="getStaffDetails()" name="f014fidStaff" #staff="ngModel"
                    required>
                  </ng-select>
                  <span *ngIf="email.errors && (email.dirty || email.touched || f.submitted)" class="form-errors">*Select Staff
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email<span class="required-class">*</span> </label>
                  <input type="email" maxlength="25" class="form-control" readonly="readonly" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="email"
                    placeholder=" Email" [(ngModel)]="userData.f014femail" value="" required #email="ngModel">
                  <!-- <span *ngIf="email.errors && (email.dirty || email.touched || f.submitted)" class="form-errors">*Enter
                    the
                    Valid Email Address</span> -->
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label>User ID<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" readonly="readonly" name="f014fuserName" placeholder="User Name"
                    [(ngModel)]="userData.f014fuserName" value="" required #username="ngModel">
                  <!-- <span *ngIf="username.errors && (username.dirty || username.touched || f.submitted)" class="form-errors">*Enter
                    the User Name</span> -->
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Role<span class="required-class">*</span></label>

                  <ng-select [disabled]="roleedit" [items]="roleList" [multiple]="true" bindLabel="f021froleName" bindValue="f021fid"
                    [(ngModel)]="userData.f014fidRole" name="f014fidRole" #role="ngModel" [selectableGroup]="true"
                    [closeOnSelect]="false"
                    required>
                   
                  <!-- <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.f021froleName}}
                  </ng-template> -->
                  </ng-select>

                  <span *ngIf="role.errors && (role.dirty || role.touched || f.submitted)" class="form-errors">*Select
                    Role </span>
                </div>
              </div>

              <div  class="col-sm-4" *ngIf="passwordedit==false">
                <div class="form-group">
                  <label>Password<span class="required-class">*</span></label>
                  <input type="password" maxlength="30" class="form-control" name="Password" placeholder="Enter Password"
                    [(ngModel)]="userData.f014fpassword" value="" required #pass="ngModel">
                  <span *ngIf="pass.errors && (pass.dirty || pass.touched || f.submitted)" class="form-errors">*Enter
                    the Password </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/generalsetup/user" class="btn nh-btn-secondary">Cancel</a>
                  <!-- <button type="submit" class="btn nh-btn-primary">Save</button> -->
                  <button type="submit" class="btn nh-btn-primary" *ngIf="edit==false">Save</button>
                  
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
