<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Asset Information</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="assetinformationList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f085fassetCode">Asset Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fassetDescription">Asset Description</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f087fcategoryDiscription">Asset Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fAcquisitionDate">Acquisition Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085forderNumber">Order Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fstoreCode">Store Code</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="Account">Account Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fyearDeprCost">Depreciated Cost per year (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="depreciatedValue">Depreciated Value (RM)</mfDefaultSorter>
                </th>
                <th>QR Code</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indassetinformation of mf.data ">
                <td> <a routerLink="/assets/editassetinformation/{{indassetinformation.f085fid}}">
                  {{indassetinformation.f085fassetCode}}</a></td>
                <td>{{indassetinformation.f085fassetDescription}}</td>
                <td>{{indassetinformation.f087fcategoryDiscription}}</td>
                <td>{{indassetinformation.f085fAcquisitionDate|date:'dd/MM/yyyy'}}</td>
                <td>{{indassetinformation.f085forderNumber}}</td>
                <td>{{indassetinformation.f085fstoreCode}}</td>
                <td>{{indassetinformation.Account}}</td>
                <td class="amountAlign">{{indassetinformation.f085fyearDeprCost | number: '.2'}}</td>
                <td class="amountAlign">{{indassetinformation.depreciatedValue | number: '.2'}}</td>
                <td id='p' style="padding: 44px">
                  <table>                         <tr >
                            <div style="display:none"><td style="transform: rotate(90deg);font-size: 10px;padding: 14px;padding-top: 50px;"><img src="../../../assets/images/uum1.png" height="40" width="140px"/><br>{{indassetinformation.f085fassetCode}}<br>{{indassetinformation.f087fcategoryDiscription}}<br><br><font size="2">HAK MILIK UUM</font>
                            </td></div>
                           </tr>
                           <tr>
                          <td style="transform: rotate(90deg);padding-top: 70px;">
                          <ngx-qrcode [qrc-element-type]="elementType" 
                          [qrc-value]="indassetinformation.f085fassetCode" (click)='printqr()'
                          ></ngx-qrcode></td>
                          </tr>          
              </table>

            </td>
              </tr>

            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>