<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Reinvestment</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/investment/reinvestmentadd']" class="btn nh-btn-primary">Add
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="reinvestmentList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f064freferenceNumber">Institution Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f064fname">Certificate Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f064feffectiveDate">Effective Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f064fmaturityDate"> Maturity Date</mfDefaultSorter>
                                </th>
                                <th><mfDefaultSorter by="f063fduration"> Duration</mfDefaultSorter></th>
                                <th>
                                    <mfDefaultSorter by="f064fsum">Amount (RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f064frateOfInterest">Interest Rate</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="investmentStatus"> Investment Status</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indreinvestment of mf.data">
                                <td>{{indreinvestment.f064freferenceNumber}}</td>
                                <td>{{indreinvestment.f064fname}}</td>
                                <td>{{indreinvestment.f064feffectiveDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indreinvestment.f064fmaturityDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indreinvestment.f063fduration}}</td>
                                <td class="amountAlign">{{indreinvestment.f064fsum | number: '.2'}}</td>
                                <td>{{indreinvestment.f064frateOfInterest}}</td>
                                <td>{{indreinvestment.investmentStatus}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>