<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Update Asset</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Update Asset Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addAssetinformation()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Description<span class="required-class">*</span> </label>
                  <textarea maxlength="100" [disabled]="viewDisabled" class="form-control" name="f085fassetDescription"
                    placeholder="Enter Asset Description" [(ngModel)]="updateassetsData.f085fassetDescription" value=""
                    required #Description="ngModel"></textarea>
                  <span *ngIf="Description.errors && (Description.dirty || Description.touched || f.submitted )" class="form-errors">*Enter
                    the Asset Description.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Cost Center<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                    bindValue="f015fdepartmentCode" [(ngModel)]="updateassetsData.f085fidDepartment" name="f085fidDepartment"
                    #cost="ngModel" required>
                  </ng-select>
                  <span *ngIf="cost.errors && (cost.dirty || cost.touched || f.submitted )" class="form-errors">*Select
                    Cost Center.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Category<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="categoryList | sort:'f087fcategoryDiscription'"
                    bindLabel="f087fcategoryDiscription" bindValue="f087fid" [(ngModel)]="updateassetsData.f085fidAssetCategory"
                    name="f085fidAssetCategory" #category="ngModel" required>
                  </ng-select>
                  <span *ngIf="category.errors && (category.dirty || category.touched || f.submitted )" class="form-errors">*Select
                    Asset Category.</span>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Sub Category<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="subcategoryList | sort:'subCategory'" bindLabel="subCategory"
                    bindValue="f089fid" [(ngModel)]="updateassetsData.f085fsubCategory" name="f085fsubCategory"
                    #subcategory="ngModel" required>
                  </ng-select>
                  <span *ngIf="subcategory.errors && (subcategory.dirty || subcategory.touched || f.submitted )" class="form-errors">*Select
                    Asset Sub Category.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Type<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="typeList|sort:'f090ftypeDescription'" bindLabel="f090ftypeDescription"
                    bindValue="f090fid" [(ngModel)]="updateassetsData.f085fidAssetType" name="f085fidAssetType"
                    #assettype="ngModel" required>
                  </ng-select>
                  <span *ngIf="assettype.errors && (assettype.dirty || assettype.touched || f.submitted )" class="form-errors">*Select
                    Asset Type</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Item<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="itemList" bindLabel="f088fitemCode" bindValue="f088fid"
                    [(ngModel)]="updateassetsData.f085fidItem" name="f085fidItem" #assetitem="ngModel" required>
                  </ng-select>
                  <span *ngIf="assetitem.errors && (assetitem.dirty || assetitem.touched || f.submitted )" class="form-errors">*Select
                    Asset Item</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Acquisition Date<span class="required-class">*</span></label>
                  <input [disabled]="viewDisabled" type="date" class="form-control" name="f085fAcquisitionDate"
                    [(ngModel)]="updateassetsData.f085fAcquisitionDate" required #Acquisition="ngModel">
                  <span *ngIf="Acquisition.errors && (Acquisition.dirty || Acquisition.touched || f.submitted )" class="form-errors">*Select
                    Acquisition Date.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Order Number<span class="required-class">*</span></label>
                  <input type="text" class="form-control" maxlength="10" name="f085forderNumber" placeholder="Enter Order Number"
                    [(ngModel)]="updateassetsData.f085forderNumber" (keypress)="onlyNumberKey($event)" required #order="ngModel">
                  <span *ngIf="order.errors && (order.dirty || order.touched || f.submitted )" class="form-errors">*Enter
                    the Order Number.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Store Code<span class="required-class">*</span></label>
                  <input type="text" maxlength="10" class="form-control" name="f085fstoreCode" placeholder="Enter Store Code"
                    [(ngModel)]="updateassetsData.f085fstoreCode" required #store="ngModel">
                  <span *ngIf="store.errors && (store.dirty || store.touched || f.submitted )" class="form-errors">*Enter
                    the Store Code.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Account Code<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="accountcodeList|sort:'f059fcompleteCode'" bindLabel="f059fname"
                    bindValue="f059fcompleteCode" [(ngModel)]="updateassetsData.f085faccountCode" name="f085faccountCode"
                    #acode="ngModel" required>
                  </ng-select>
                  <span *ngIf="acode.errors && (acode.dirty || acode.touched || f.submitted )" class="form-errors">*Select
                    Account Code</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Approve Date<span class="required-class">*</span></label>
                  <input [disabled]="viewDisabled" type="date" class="form-control" name="f085fapproveDate" placeholder="Enter Approve Date"
                    [(ngModel)]="updateassetsData.f085fapproveDate" (change)="dateComparison()" #approved="ngModel"
                    required>
                  <span *ngIf="approved.errors && (approved.dirty || approved.touched || f.submitted )" class="form-errors">*Select
                    Approve Date</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Expire Date<span class="required-class">*</span></label>
                  <input [disabled]="viewDisabled" type="date" class="form-control" name="f085fexpireDate" placeholder="Enter Expire Date"
                    [(ngModel)]="updateassetsData.f085fexpireDate" (change)="dateComparison()" #expiredata="ngModel"
                    required>
                  <span *ngIf="expiredata.errors && (expiredata.dirty || expiredata.touched || f.submitted )" class="form-errors">*Select
                    Expire Date</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Install Cost(RM)<span class="required-class">*</span></label>
                  <input type="text" maxlength="25" class="form-control amountAlign" name="f085finstallCost"
                    placeholder="Enter Install Cost" [(ngModel)]="updateassetsData.f085finstallCost" (keypress)="onlyNumberKey($event)"
                    value="" required #cost="ngModel">
                  <span *ngIf="cost.errors && (cost.dirty || cost.touched || f.submitted )" class="form-errors">*Enter
                    the
                    Install Cost(RM)</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Account Depr Cost(RM)<span class="required-class">*</span></label>
                  <input type="text" maxlength="25" class="form-control amountAlign" name="f085faccumDeprCost"
                    placeholder="Enter Accoum Depr Cost(RM)" [(ngModel)]="updateassetsData.f085faccumDeprCost"
                    (keypress)="onlyNumberKey($event)" value="" required #accdepr="ngModel">
                  <span *ngIf="accdepr.errors && (accdepr.dirty || accdepr.touched || f.submitted )" class="form-errors">*Enter
                    the Account Depr Cost(RM)</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Net Value(RM)<span class="required-class">*</span></label>
                  <input type="text" maxlength="10" class="form-control amountAlign" name="f085fnetValue" placeholder="Enter Net Value"
                    [(ngModel)]="updateassetsData.f085fnetValue" (keypress)="onlyNumberKey($event)" value="" required
                    #netvalue="ngModel">
                  <span *ngIf="netvalue.errors && (netvalue.dirty || netvalue.touched || f.submitted )" class="form-errors">*Enter
                    the Net Value(RM)</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Yearly Depr Cost(RM)<span class="required-class">*</span></label>
                  <input type="text" maxlength="25" class="form-control amountAlign" name="f085fyearDeprCost"
                    placeholder="Enter Yearly Depr Cost" [(ngModel)]="updateassetsData.f085fyearDeprCost" (keypress)="onlyNumberKey($event)"
                    value="" required #year="ngModel">
                  <span *ngIf="year.errors && (year.dirty || year.touched || f.submitted )" class="form-errors">*Enter
                    the Yearly Depr Cost(RM)</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Residual Value<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f085fresidualValue" placeholder="Enter Residual Value "
                    [(ngModel)]="updateassetsData.f085fresidualValue" value="" required #value="ngModel">
                  <span *ngIf="value.errors && (value.dirty || value.touched || f.submitted )" class="form-errors">*Enter
                    the Residual Value</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Owner<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f085fassetOwner" placeholder="Enter Asset Owner "
                    [(ngModel)]="updateassetsData.f085fassetOwner" value="" required #owner="ngModel">
                  <span *ngIf="owner.errors && (owner.dirty || owner.touched || f.submitted )" class="form-errors">*Enter
                    the Asset Owner</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Serial Number<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f085fserialNumber" placeholder="Enter Serial Number "
                    [(ngModel)]="updateassetsData.f085fserialNumber" value="" required #serial="ngModel">
                  <span *ngIf="serial.errors && (serial.dirty || serial.touched || f.submitted )" class="form-errors">*Enter
                    the Serial Number</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Brand Name<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f085fbrandName" placeholder="Enter Brand Name"
                    [(ngModel)]="updateassetsData.f085fbrandName" value="" required #brandd="ngModel">
                  <span *ngIf="brandd.errors && (brandd.dirty || brandd.touched || f.submitted )" class="form-errors">*Enter
                    the Brand Name</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Current Campus<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="campusList|sort:'f059fname'" bindLabel="f059fname"
                    bindValue="f059fid" [(ngModel)]="updateassetsData.f085fcurrentCampus" name="f085fcurrentCampus"
                    #campus="ngModel" required>
                  </ng-select>
                  <span *ngIf="campus.errors && (campus.dirty || campus.touched || f.submitted )" class="form-errors">*Select
                    Current Campus</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Current Block<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="blockList|sort:'f059fname'" bindLabel="f059fname"
                    bindValue="f059fid" [(ngModel)]="updateassetsData.f085fcurrentBlock" name="f085fcurrentBlock"
                    #block="ngModel" required>
                  </ng-select>
                  <span *ngIf="block.errors && (block.dirty || block.touched || f.submitted )" class="form-errors">*Select
                    Current Block</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Current Building<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="buildingList|sort:'f059fname'" bindLabel="f059fname"
                    bindValue="f059fid" [(ngModel)]="updateassetsData.f085fcurrentBuilding" name="f085fcurrentBuilding"
                    #building="ngModel" required>
                  </ng-select>
                  <span *ngIf="building.errors && (building.dirty || building.touched || f.submitted )" class="form-errors">*Select
                    Current Building</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Current Room<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="roomList|sort:'f059fname'" bindLabel="f059fname"
                    bindValue="f059fid" [(ngModel)]="updateassetsData.f085fcurrentRoom" name="f085fcurrentRoom" #room="ngModel"
                    required>
                  </ng-select>
                  <span *ngIf="room.errors && (room.dirty || room.touched || f.submitted )" class="form-errors">*Select
                    Current Room
                    .</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/assets/updateasset" class="btn nh-btn-secondary" *ngIf="idview!=2">Cancel</a>
                  <a routerLink="/assets/updateassetapproval" class="btn nh-btn-secondary" *ngIf="idview==2">Cancel</a>
                  <button type="submit" class="btn um-btn-primary mar-l-20" *ngIf="viewDisabled==false">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>