<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Revenue </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group um-search-wrapper">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <a [routerLink]="['/accountsrecivable/addnewrevenue']" class="btn nh-btn-primary pull-right">Add</a>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="revenueList| filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="Fund">Fund</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Activity">Activity Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Department">Department</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Account">Account Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Feename">Fee Item</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indrevenue of mf.data ">
                <td>{{indrevenue.Fund}}</td>
                <td>{{indrevenue.Activity}}</td>
                <td>{{indrevenue.Department}}</td>
                <td>{{indrevenue.Account}}</td>
                <td>{{indrevenue.Feename}}</td>
                <td>{{indrevenue.f085fstatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editrevenue/{{indrevenue.f085fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody class="pagination-wrapper">
              <tr>
                <td class="pagination-col" colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>