<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Vehicle Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addVehicletype()" #f="ngForm" name="form" novalidate>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Vehicle Name<span class="required-class">*</span></label>
                                        <input type="text" maxlength="50" class="form-control" name="f042fname"
                                            required placeholder="Enter Vehicle Name" [(ngModel)]="vehicletypeData.f042fname"
                                            value="" #name="ngModel">
                                        <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                                            the Vehicle Name </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>No of Months</label>
                                        <input type="text" maxlength="50" class="form-control" name="f042fmonths"
                                            required placeholder="Enter Vehicle Name" [(ngModel)]="vehicletypeData.f042fmonths"
                                            value="" #name="ngModel">
                                        <span *ngIf="month.errors && (month.dirty || month.touched || f.submitted)"
                                            class="form-errors">*
                                            Select Month</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div [className]="'active'"></div>
                                        <label>Status</label>
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="vehicletypeData.f042fstatus"
                                            [checked]="vehicletypeData.f042fstatus === '1'" [value]="1"> Active
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="vehicletypeData.f042fstatus"
                                            [checked]="vehicletypeData.f042fstatus === '0'" [value]="0"> Inactive
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/loan/vehicletype" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>