<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Bill Registration</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Reference Number <span class="required-class">*</span></label>
                                <input type="text" class="form-control" name="f091freferenceNumber" [(ngModel)]="billregistrationDataheader.f091freferenceNumber"
                                    placeholder="Reference Number" readonly="readonly" value="" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                              <label>Payment Voucher For <span class="required-class">*</span></label>
                              <ng-select [disabled]="viewDisabled" [items]="paymenttypeList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                                bindValue="f011fid" [(ngModel)]="billregistrationDataheader.f091fvoucherType" name="f091fvoucherType"
                                #accd="ngModel" #Voucher="ngModel" (change)="getVendorName()">
                              </ng-select>
                            </div>
                          </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Vendor </label>
                                <ng-select [disabled]="viewDisabled" [items]="supplierList| sort:'Vendor'" bindLabel="Vendor"
                                    bindValue="f030fid" [(ngModel)]="billregistrationDataheader.f091fidVendor" name="f091fidVendor"
                                    (change)="getAllGrn()"></ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Date <span class="required-class">*</span></label>
                                <input type="date" class="form-control" name="f091finvoiceDate" [(ngModel)]="billregistrationDataheader.f091finvoiceDate"
                                    placeholder="Reference Number"  value="" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Email <span class="required-class">*</span></label>
                                <input type="text" class="form-control" name="f091femail" [(ngModel)]="billregistrationDataheader.f091femail"
                                    placeholder="Reference Number"  value="" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Description <span class="required-class">*</span></label>
                                <input type="text" class="form-control" name="f091fdescription" [(ngModel)]="billregistrationDataheader.f091fdescription"
                                    placeholder="Reference Number"  value="" required>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                              <label>UUM Bank <span class="required-class">*</span></label>
                              <ng-select [disabled]="viewDisabled" [items]="companyBankList | sort:'Bank'" bindLabel="Bank" bindValue="f041fid"
                                [(ngModel)]="billregistrationDataheader.f091fuumBank" name="f091fuumBank" #accd="ngModel"
                                required>
                              </ng-select>
                            </div>
                          </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Amount(RM)<span class="required-class">*</span></label>
                                <input type="text" readonly="readonly" (keypress)="onlyNumberKey($event)" style="text-align: right"
                                    maxlength="15" class="form-control" [(ngModel)]="billregistrationDataheader.f091ftotalAmount" 
                                    value="" required>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive credit-note-table-wrapper">
                                <table class="table table-bordered table-striped table-food">
                                    <thead>
                                        <tr>
                                            <th>GRN Number</th>
                                            <th>PRE</th>
                                            <th>Amount</th>
                                        </tr>
                                        <tr *ngFor="let indinv of grnlist;let i = index;trackBy:indexTracker">
                                            <td><input type="checkbox" [(ngModel)]="indinv.selectedGrn">{{grnlist[i]['f034freferenceNumber']}}</td>
                                            <td>{{grnlist[i]['f034forderType']}}</td>
                                            <td>{{grnlist[i]['f034ftotalAmount']}}</td>
                                        </tr>

                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="button" class="btn nh-btn-primary" (click)="showItem()">Show Items</button>

                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive credit-note-table-wrapper">
                                <table class="table table-bordered table-striped table-food">
                                    <thead>
                                        <tr>
                                            <th>GRN Number</th>
                                            <th>Category Name</th>
                                            <th>Sub Category Name</th>
                                            <th>Item Name</th>
                                            <th>Ordered Quantity</th>
                                            <th>Quantity</th>
                                            <th>Total (RM)</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let indinv of grnitems;let i = index;trackBy:indexTracker">

                                            <td><input type="text" style="width: 150px" class="form-control" name="f034fidDetails"
                                                    [(ngModel)]="grnitems[i].f034fidDetails" placeholder="unit"
                                                    readonly="readonly">
                                                <input type="text" style="width: 150px" class="form-control" name="f034freferenceNumber"
                                                    [(ngModel)]="grnitems[i].f034freferenceNumber" placeholder="unit"
                                                    readonly="readonly">
                                            </td>
                                            <td>
                                                <input type="text" style="width: 150px" class="form-control" name="categoryName"
                                                    [(ngModel)]="grnitems[i].categoryName" placeholder="unit" readonly="readonly">
                                            </td>
                                            <td>
                                                <input type="text" style="width: 150px" class="form-control" name="subCategoryName"
                                                    [(ngModel)]="grnitems[i].subCategoryName" placeholder="unit"
                                                    readonly="readonly">
                                            </td>
                                            <td>
                                                <input type="text" style="width: 150px" class="form-control" name="itemName"
                                                    [(ngModel)]="grnitems[i].itemName" placeholder="unit" readonly="readonly">
                                            </td>
                                            <td>
                                                <input type="text" style="width: 56px" class="form-control" name="f034fquantity"
                                                    [(ngModel)]="grnitems[i].f034fquantity" placeholder="unit" readonly="readonly">
                                            </td>
                                            <td>
                                                <input type="text" style="width: 56px" class="form-control" name="f034fquantityReceived"
                                                    [(ngModel)]="grnitems[i].f034fquantityReceived" placeholder="unit" readonly="readonly">
                                            </td>
                                            <td>
                                                <input type="text" style="width: 150px" class="form-control" name="f034fprice"
                                                    [(ngModel)]="grnitems[i].f034fprice" placeholder="unit" readonly="readonly">
                                            </td>

                                        </tr>
                                        <tr aria-rowspan="2">
                                            <td colspan="18">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p class="text-right">
                                                            <a routerLink="/accountspayable/billregistration" class="btn nh-btn-secondary">Cancel</a>
                                                            <button type="button" class="btn nh-btn-primary" (click)="saveBillGeneration()">Save</button>

                                                        </p>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>