<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Balancesheet Report</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addbalancesheetreport()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Year <span class="required-class">*</span> </label>
                                    <ng-select [items]="fyear" bindLabel="name" bindValue="name" [(ngModel)]="balancesheetData.year"
                                        name="year" #Year="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Year.errors && (Year.dirty || Year.touched || f.submitted)" class="form-errors">*Select
                                        Year</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Month <span class="required-class">*</span> </label>
                                    <ng-select [items]="fmonth" bindLabel="name" bindValue="value" [(ngModel)]="balancesheetData.month"
                                        name="month" #Month="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" Month.errors && (Month.dirty || Month.touched || f.submitted)" class="form-errors">*Select
                                        Month</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>From Day <span class="required-class">*</span> </label>
                                    <ng-select [items]="numberList" bindLabel="value" bindValue="key" [(ngModel)]="balancesheetData.fromDay"
                                        name="fromDay" #From="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" From.errors && (From.dirty || From.touched || f.submitted)" class="form-errors">*Select
                                        From Day</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>To Day <span class="required-class">*</span> </label>
                                    <ng-select [items]="numberList" bindLabel="value" bindValue="key" [(ngModel)]="balancesheetData.toDay"
                                        name="toDay" #To="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" To.errors && (To.dirty || To.touched || f.submitted)" class="form-errors">*Select
                                        To Day</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-right">
                        <button type="button" (click)="downloadReport()" class="btn nh-btn-primary">Search</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>