<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Manual Matching Process</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addDebitinformation()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Bank<span class="required-class">*</span> </label>
                                    <ng-select [items]="bankList1 | sort:'Bank'" bindLabel="Bank"
                                        bindValue="f041fid" [(ngModel)]="mmpcashbookData.bank" name="bank" #bank="ngModel"
                                        required>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> From Date </label>
                                    <input type="date" class="form-control" name="fromDate" placeholder="Enter From Date"
                                        (change)="dateComparison()" [(ngModel)]="mmpcashbookData.fromDate" value="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> To Date </label>
                                    <input type="date" class="form-control" name="endDate" placeholder="Enter Start Date"
                                        (change)="dateComparison()" [(ngModel)]="mmpcashbookData.endDate" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <button type="button" (click)="addMmpcashbook()" class="btn nh-btn-primary">Search</button>
                                </p>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-food" [mfData]="mmpcashbookList | filter : searchText"
                                #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th colspan='6' style='text-align: center'>Cash Book Table</th>
                                    </tr>
                                    <tr>
                                        <!-- <th>
                                            <mfDefaultSorter by="docno">Doc Number</mfDefaultSorter>
                                        </th> -->
                                        <th>
                                            <mfDefaultSorter by="f096ftype">Source</mfDefaultSorter>
                                        </th>

                                        <th>
                                            <mfDefaultSorter by="f096ftransaction_date">Transaction Date</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="f097fdebit_amount">Debit Amount(RM)</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="f097fcredit_amount">Credit Amount(RM)</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="approvalstatus">Approve</mfDefaultSorter>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let indmmpcashbook of mf.data">
                                        <!-- <td>{{indmmpcashbook.docno}}</td> -->
                                        <td>{{indmmpcashbook.f096ftype}}</td>
                                        <td>{{indmmpcashbook.f096ftransaction_date|date:'dd/MM/yyyy'}}</td>
                                        <td class="amountAlign">{{indmmpcashbook.f097fdebit_amount | number: '.2'}}</td>
                                        <td class="amountAlign">{{indmmpcashbook.f097fcredit_amount | number: '.2'}}</td>
                                        <td>
                                            <input type="checkbox" [(ngModel)]="indmmpcashbook.approvalstatus">
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="text-right">
                                <button type="submit" (click)='CashApprovalData()' class="btn nh-btn-primary">Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>