<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Allocation By Cost Center Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetcostcenterapprovalList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="financialYear">Budget Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fundName">Fund</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f051fdepartment">Cost Center</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f051famount">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f051fapprovalStatus">Status</mfDefaultSorter>
                                </th>
                                <th>Approve/Reject</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetcostcenterapproval of mf.data">
                                <td>{{indbudgetcostcenterapproval.financialYear}}</td>
                                <td>{{indbudgetcostcenterapproval.f051ffund}} -
                                    {{indbudgetcostcenterapproval.fundName}}</td>
                                <td>{{indbudgetcostcenterapproval.f051fdepartment}} -
                                    {{indbudgetcostcenterapproval.departmentName}}</td>
                                <td class="amountAlign">{{indbudgetcostcenterapproval.f051famount | number: '.2'}}</td>
                                <td>{{indbudgetcostcenterapproval.f051fapprovalStatus == 1?'Approved':'Pending'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indbudgetcostcenterapproval.approvalstatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/viewbudgetcostcenter/{{indbudgetcostcenterapproval.f051fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="6">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="approvalData.reason" name="approvalData.reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='addBudgetcostcenterapproval()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='regectBudgetcostcenterapproval()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>