<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title"> Online Bank Payment Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="tempbankapproveList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                    <th><mfDefaultSorter by="f042fbankName"> Bank Name</mfDefaultSorter></th>
                                    <!-- <th><mfDefaultSorter by="f078fbillType"> Bill Type </mfDefaultSorter></th> -->
                                    <!-- <th><mfDefaultSorter by="f078ficNumber"> IC Number</mfDefaultSorter></th> -->
                                    <!-- <th><mfDefaultSorter by="f078fmatricNumber"> Matric Number</mfDefaultSorter></th> -->
                                    <th><mfDefaultSorter by="f078famount"> Amount(RM)</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f078fdate"> Date</mfDefaultSorter></th>
                                    <!-- <th><mfDefaultSorter by="f076fstatus"> Status</mfDefaultSorter></th> -->



                                <th>Approve ( Select all ) <input type="checkbox" [(ngModel)]="selectAllCheckbox"
                                        (change)="selectAll()"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indtempbankapproval of mf.data">
                                <td>{{indtempbankapproval.f042fbankName}}</td>
                                <td class="amountAlign">{{indtempbankapproval.f078famount | number: '.2'}}</td>

                                <td>{{indtempbankapproval.f078fdate | date: 'dd/MM/yyyy'}}</td>
                                <!-- <td>{{indtempbankapproval.f078fbillType}}</td> -->

                                <!-- <td>{{indtempbankapproval.f078fmatricNumber}}</td> -->
                                <!-- <td>{{indtempbankapproval.f078freferenceNumber}}</td> -->
                                <!-- <td>{{indtempbankapproval.f078ficNumber}}</td> -->


                                <td>
                                    <input type="checkbox" [(ngModel)]="indtempbankapproval.f078fapprovedStatus">
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="tempbankapproveData.f087freason" name="f087freason"
                                placeholder="Description "></textarea>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='tempbankapproveListData()' class="btn nh-btn-primary">Approve</button>
                            </p>

                        </div>
                        <!-- <div class="col-sm-12">
                            <p class="text-right">
                                <button type="reject" (click)='rejectmomentapprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>