<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Investment Institution</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addInvestmentinstitution()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Institution Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f061finstitutionCode"
                                        placeholder="Enter Institution Code" [(ngModel)]="investmentinstitutionDataHeader.f061finstitutionCode">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Investment Bank<span class="required-class">*</span></label>
                                    <ng-select [items]="bankList" bindLabel="f042fbankName" bindValue="f042fid"
                                        [(ngModel)]="investmentinstitutionDataHeader.f061fidBank" (change)="getType()"
                                        name="f061fidBank">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Branch<span class="required-class">*</span> </label>
                                    <input type="text" readonly="readonly" maxlength="50" class="form-control" name="f061fbranch"
                                        placeholder="Enter Branch" [(ngModel)]="investmentinstitutionDataHeader.f061fbranch">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Address<span class="required-class">*</span></label>
                                    <input type="text" class="form-control" maxlength="100" name="f061faddress"
                                        placeholder="Enter Address" [(ngModel)]="investmentinstitutionDataHeader.f061faddress">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Contact Number<span class="required-class">*</span></label>
                                    <input type="text" pattern="^\d{12}$" maxlength="12" class="form-control" name="f061fcontactNo"
                                        placeholder="Enter Contact Number" [(ngModel)]="investmentinstitutionDataHeader.f061fcontactNo"
                                        required #name="ngModel">
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*
                                        Enter Valid Contact Number</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Contact Person<span class="required-class">*</span> </label>
                                    <input type="text" maxlength="50" class="form-control" name="f061fcontactPerson"
                                        placeholder="Enter Contact Person" [(ngModel)]="investmentinstitutionDataHeader.f061fcontactPerson">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Post Code<span class="required-class">*</span></label>
                                <input type="text" maxlength="20" class="form-control" name="f061fpostCode" placeholder="Enter Post-Code"
                                    [(ngModel)]="investmentinstitutionDataHeader.f061fpostCode" (keypress)="onlyNumberKey1($event)">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Country<span class="required-class">*</span></label>
                                <ng-select [items]="countryList" bindLabel="f013fcountryName" bindValue="f013fid"
                                    [(ngModel)]="investmentinstitutionDataHeader.f061fcountry" (change)="onCountryChange()">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>State<span class="required-class">*</span></label>
                                <ng-select [items]="stateList " bindLabel="f012fstateName" bindValue="f012fid"
                                    [(ngModel)]="investmentinstitutionDataHeader.f061fstate" name="f061fstate">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>City<span class="required-class">*</span> </label>
                                <input type="text" maxlength="50" class="form-control" name="f061fcity" placeholder="Enter City"
                                    [(ngModel)]="investmentinstitutionDataHeader.f061fcity">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="investmentinstitutionDataHeader.f061fstatus"
                                    [checked]="investmentinstitutionDataHeader.f061fstatus === '1'" [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="investmentinstitutionDataHeader.f061fstatus"
                                    [checked]="investmentinstitutionDataHeader.f061fstatus === '0'" [value]="0">
                                Inactive
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="overlay1"></div>
                            <div id="myModal" class=" fade in" role="dialog">
                                <!-- <div class="modal-dialog"> -->
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <p class="maximize-icon">
                                        <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                                    </p>
                                    <p class="minimize-icon hidden">
                                        <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                                    </p>
                                    <div class="modal-body">
                                        <table class="table table-bordered table-striped table-food">
                                            <thead>
                                                <tr>
                                                    <th>Investment Type</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let indinvreg of investmentinstitutionList;let i = index;last as isLast">
                                                    <td>
                                                        <ng-select [items]="typeofinvestmentList" bindLabel="f038ftype"
                                                            bindValue="f038fid" [(ngModel)]="investmentinstitutionList[i].f061fidInvestmentType"
                                                            style="width: 150px;" name="f061fidInvestmentType">
                                                        </ng-select>
                                                    </td>
                                                    <td *ngIf="!isLast">
                                                        <button class="btn nh-btn-primary" type="button" (click)='deleteInvestmentList(investmentinstitutionList[i])'>
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </td>
                                                    <td *ngIf="isLast">
                                                        <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary"
                                                            type="button" (click)='deleteInvestmentList(investmentinstitutionList[i])'>
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                        <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary"
                                                            type="button" (click)='showNewRow()'>
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="showLastRow==false">
                                                    <td>
                                                        <ng-select [items]="typeofinvestmentList" bindLabel="f038ftype"
                                                            bindValue="f038fid" [(ngModel)]="investmentinstitutionData.f061fidInvestmentType"
                                                            name="f061fidInvestmentType">
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <button *ngIf="showLastRowMinus" class="btn nh-btn-primary"
                                                            type="button" (click)='deletemodule()'>
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                        <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button"
                                                            (click)='addInvestmentregistration()'>
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <a routerLink="/investment/investmentinstitution" class="btn nh-btn-secondary">Cancel</a>
                                <button type="button" (click)='addInvestmentinstitution()' class="btn nh-btn-primary">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>