<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">

                    <h1 class="ad-page-title">Defination Typems</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a href="generalsetup/addnewdeftypems" class="btn nh-btn-primary">Add New deftypems</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>DefType Description</th>
                                <th>Description</th>
                                <th>Bahasa Indonesia</th>
                                <th>Order</th>
                                <th>Edit</th>
                                <th class="actions-col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indDefms of deftypemsList">
                                <td>{{indDefms.df_code}}</td>
                                <td>{{indDefms.df_disc}}</td>
                                <td>{{indDefms.df_description}}</td>
                                <td>{{indDefms.df_bahasa_indonesia}}</td>
                                <td>{{indDefms.df_order}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <button class="btn nh-btn-edit">
                                            <a href="generalsetup/editdefmstype/{{indDefms.ffid}}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </button>
                                        <button class="btn nh-btn-remove">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





