.credit-note-table-wrapper {
    border:1px solid #cdcdcd;
}
.credit-note-table {
    min-width:800px;
}
.item-col {
    min-width:200px;
}
.debit-col {
    min-width:200px;
}
.credit-col{
    min-width:200px;
}
.quantity-col{
    width:100px;
    min-width:100px;
    max-width:100px;
}
.price-col{
    min-width:150px;
    width:150px;
    max-width:150px;
}
.taxcode-col{
    min-width:150px;
    width:150px;
    max-width:150px;
}
.tax-amount-col{
    min-width:150px;
    width:150px;
    max-width:150px;
}
.total-col{
    min-width:150px;
    width:150px;
    max-width:150px;
}
.to-credit-col{
    min-width:150px;
    width:150px;
    max-width:150px;
}