<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Credit Note Entry</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Credit Note Approval</h1>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-4">
          <div class="form-group">
            <label>Customer Type</label>
            <ng-select [disabled]="editDisabled" [items]="invoicetype | sort:'name'" bindLabel="name" bindValue="type"
              [(ngModel)]="creditnoteData.f031ftype" name="f031ftype" (change)="getType()">
            </ng-select>
          </div>
        </div>

        <div class="col-sm-4" *ngIf="type == 'COR'">
          <div class="form-group">
            <label>Debtor Name</label>
            <ng-select [disabled]="editDisabled" [items]="customerList | sort:'Debtor'" bindLabel="Debtor" bindValue="f021fid"
              (change)="getInvoiceList()" [(ngModel)]="creditnoteData.f031fidCustomer" name="f031fidCustomer">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="type == 'CSTD'">
          <div class="form-group">
            <label>Student Name</label>
            <ng-select [disabled]="viewDisabled" [items]="studentList | sort:'f060fname'" bindLabel="f060fname"
              bindValue="f060fid" (change)="getInvoiceList()" [(ngModel)]="creditnoteData.f031fidCustomer" name="f031fidCustomer">
            </ng-select>
          </div>
        </div>
        <div class="col-sm-4" *ngIf="type == 'CSTA'">
          <div class="form-group">
            <label>Staff </label>
            <ng-select [disabled]="viewDisabled" [items]="smartStaffList | sort:'f034fname'" bindLabel="f034fname"
              bindValue="f034fstaffId" (change)="getInvoiceList()" [(ngModel)]="creditnoteData.f031fidCustomer" name="f031fidCustomer"
              (change)="getInvoiceList()">
            </ng-select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Invoice Number</label>
            <ng-select [disabled]="viewDisabled && viewDisabled" [items]="maininvoiceList | sort:'f071fid'" bindLabel="f071finvoiceNumber"
              bindValue="f071fid" (change)="getInvoiceDetails()" [(ngModel)]="creditnoteData.f031fidInvoice" name="f031fidInvoice">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Total Amount (RM) </label>
            <input disabled="disabled" type="text" class="form-control" name="f031ftotalAmount" placeholder="Amount "
              style="text-align: right" [(ngModel)]="creditnoteData.f031ftotalAmount" value="" readonly="readonly">
          </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
              <label>Credit Note Date</label>
              <input disabled="disabled" type="date" class="form-control" name="f031fdate" [(ngModel)]="creditnoteData.f031fdate"
                value="" required>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="form-group">
                <label>Revenue Type</label>
                <ng-select disabled="disabled" [items]="revenuetypeList | sort:'f132frevenueName'" bindLabel="f132frevenueName"
                  bindValue="f132fid" [(ngModel)]="creditnoteData.f031frevenueType" name="f031frevenueType">
                </ng-select>
              </div>
            </div>

       
      
       
        
        <div class="row">
            <div class="col-sm-4" *ngIf="id!=0">
                <div class="form-group">
                  <label>Credit Note Number</label>
                  <input type="text" class="form-control" name="customer" placeholder="Credit Note Number" [(ngModel)]="creditnoteData.f031freferenceNumber"
                    value="" readonly="readonly">
                </div>
              </div>
            </div>
          <div class="col-sm-8">
            <div class="form-group">
              <label>Description</label>
              <textarea [disabled]="viewDisabled" class="form-control" maxlength="100" name="f031fdescription"
                placeholder="Description" [(ngModel)]="creditnoteData.f031fdescription"></textarea>
            </div>
          </div>
        </div>
      <div id="overlay1"></div>

      <div id="myModal" class=" fade in" role="dialog">
        <div class="modal-content">
          <p class="maximize-icon">
            <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
          </p>
          <p class="minimize-icon hidden">
            <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
          </p>
          <div class="modal-body">

            <div class="table-responsive credit-note-table-wrapper">
              <table class="table table-bordered table-striped credit-note-table" id="target1">
                <thead>
                  <tr>
                    <th rowspan='2' style="text-align:center;">Revenue Item</th>
                    <th colspan="4" style="text-align:center;">Debit GL Code</th>
                    <th colspan="4" style="text-align:center;">Credit GL Code</th>

                    <th rowspan='2' style="text-align:center;">Quantity</th>
                    <th rowspan='2' class="price-col" style="text-align:center;">Price (RM)</th>
                    <th rowspan='2' class="taxcode-col" style="text-align:center;">Tax Code</th>
                    <th rowspan='2' class="tax-amount-col" style="text-align:center;">Tax Amount (RM)</th>
                    <th rowspan='2' class="total-col" style="text-align:center;">Total (RM)</th>
                    <th rowspan='2' class="total-col" style="text-align:center;">Balance Amount (RM)</th>
                    <th rowspan='2' class="to-credit-col" style="text-align:center;">Credit Note Amount (RM)</th>
                  </tr>
                  <tr>
                    <th>Fund</th>
                    <th>Activity Code</th>
                    <th>Department</th>
                    <th>Account Code</th>
                    <th>Fund</th>
                    <th>Activity Code</th>
                    <th>Department</th>
                    <th>Account Code</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indinv of maininvoiceListBasedOnInvoiceId;let i = index;trackBy:indexTracker">
                    <td>
                      <ng-select disabled="disabled" [items]="itemList" style="width: 150px;" bindLabel="originalname"
                        bindValue="f085fid" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fidItem" name="f072fidItem"
                        (change)="getglcodeList()">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="fundList" style="width: 150px;" bindLabel="f057fname"
                        bindValue="f057fcode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitFundCode" name="f072fdebitFundCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="activitycodeList" style="width: 150px;" bindLabel="f058fname"
                        bindValue="f058fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitActivityCode"
                        name="f072fdebitActivityCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="DeptList" style="width: 150px;" bindLabel="f015fdepartmentName"
                        bindValue="f015fdepartmentCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitDepartmentCode"
                        name="f072fdebitDepartmentCode">
                      </ng-select>
                    </td>

                    <td>
                      <ng-select disabled="disabled" [items]="accountcodeList" style="width: 150px;" bindLabel="f059fname"
                        bindValue="f059fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fdebitAccountCode"
                        name="f072fdebitAccountCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="fundList" style="width: 150px;" bindLabel="f057fname"
                        bindValue="f057fcode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditFundCode" name="f072fcreditAccountCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="activitycodeList" style="width: 150px;" bindLabel="f058fname"
                        bindValue="f058fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditActivityCode"
                        name="f072fcreditActivityCode">
                      </ng-select>
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="DeptList" style="width: 150px;" bindLabel="f015fdepartmentName"
                        bindValue="f015fdepartmentCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditDepartmentCode"
                        name="f072fcreditDepartmentCode">
                      </ng-select>
                    </td>

                    <td>
                      <ng-select disabled="disabled" [items]="accountcodeList" style="width: 150px;" bindLabel="f059fname"
                        bindValue="f059fcompleteCode" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fcreditAccountCode"
                        name="f072fcreditAccountCode">
                      </ng-select>
                    </td>
                    <td>
                      <input type="number" class="form-control" readonly="readonly" style="width: 95px" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fquantity"
                        name="f072fquantity" value="">
                    </td>
                    <td>
                      <input type="number" class="form-control" readonly="readonly" style="text-align: right; width: 95px"
                        [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fprice" name="f072fprice">
                    </td>
                    <td>
                      <ng-select disabled="disabled" [items]="taxcodeList | sort:'taxInformation'" style="width: 150px;"
                        bindLabel="taxInformation" bindValue="f081fid" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fgstCode"
                        name="f072fgstCode">
                      </ng-select>
                    </td>
                    <td>
                      <input type="text" readonly="readonly" class="form-control" style="text-align: right; width: 95px"
                        [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072fgstValue" name="f072fgstValue" (keypress)="onlyNumberKey($event)">
                    </td>
                    <td>
                      <input type="text" readonly="readonly" class="form-control" style="width: 50px;" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f072ftotal"
                        name="f072ftotal" style="text-align: right; width: 95px" placeholder="Total"> </td>
                    <td>
                      <input type="text" readonly="readonly" class="form-control" style="width: 50px;" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f032fbalanceAmount"
                        name="f032fbalanceAmount" style="text-align: right; width: 95px" placeholder="Balance Amount"> </td>
                    <td>
                      <input type="text" [disabled]="viewDisabled" class="form-control" maxlength="10" (change)="addCreditAmount()"
                        style="text-align: right; width: 95px" [(ngModel)]="maininvoiceListBasedOnInvoiceId[i].f032ftoCnAmount"
                        (keypress)="onlyNumberKey($event)" placeholder=" To Credit Amount(RM)" name="f032ftoCnAmount">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="idview==2">
        <div class="col-sm-12">
          <label>Remarks </label>
          <textarea class="form-control" [(ngModel)]="invoiceapprovalData.reason" name="reason" placeholder="Enter Remarks"></textarea>
        </div>
      </div>
      <div class="text-right" *ngIf="idview==2">
        <button type="submit" (click)='ApprovalListData()' class="btn nh-btn-primary">Approve</button>
        <button type="reject" (click)='regectJournalApprovalListData()' class="btn nh-btn-primary">Reject</button>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-right">
            <a routerLink="/accountsrecivable/creditnote" *ngIf="idview!=2" class="btn nh-btn-secondary">Cancel</a>

            <a [routerLink]="['/accountsrecivable/creditnoteapproval']" *ngIf="idview==2" class="btn nh-btn-secondary">Cancel</a>
            <button type="submit" (click)='saveData()' class="btn um-btn-primary mar-l-20" *ngIf="viewDisabled==false">Save</button>
          </p>
        </div>
      </div>
    </div>
  </div>