<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Voucher Generation</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="add-btn">
            <a [routerLink]="['/accountsrecivable/addvouchergeneration']" class="btn nh-btn-primary">Add</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food">
            <thead>
              <tr>
                <th>Voucher Number</th>
                <th>Voucher Type</th>
                <th>Voucher Date</th>
                <th>Total Amount (RM)</th>
                <th>Approval Status</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indvoucher of voucherGenerationList | filter : searchText ">
                <td>{{indvoucher.f071fvoucherNumber}}</td>
                <td>{{indvoucher.voucherName}}</td>
                <td>{{indvoucher.f071fvoucherDate | date: 'dd/MM/yyyy'}}</td>
                <td class="amountAlign" >{{indvoucher.f071fvoucherTotal | number: '.2'}}</td>
                <td>{{indvoucher.f071fstatus == '1'?'Approved':'Not Approved'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editvouchergeneration/{{indvoucher.f071fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
