<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Petty Cash Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="pattycashapprovalList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>

                            <tr>
                                <th>
                                    <mfDefaultSorter by="DepartmentName">Cost Center</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f123frequestedDate">Requested Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f123fdescription">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f123famount">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f011fdefinitionCode">Transaction Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f052fapprovalStatus">Approve/Reject</mfDefaultSorter>
                                </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indpattycashapproval of mf.data">
                                <td>{{indpattycashapproval.DepartmentName}}</td>
                                <td>{{indpattycashapproval.f123frequestedDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indpattycashapproval.f123fdescription}}</td>
                                <td class="amountAlign">{{indpattycashapproval.f123famount | number: '.2' }}</td>
                                <td>{{indpattycashapproval.f011fdefinitionCode}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indpattycashapproval.f052fapprovalStatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountspayable/viewpattycashapproval/{{indpattycashapproval.f123fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="pattycashapprovalData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='pattycashapprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="submit" (click)='updatepattycashRejectedItems()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>