<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Debt Tagging</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addDebttagging()" #f="ngForm" name="form" novalidate>

            <div class="row">
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Debt<span class="required-class">*</span> </label>
                      <ng-select [items]="debitinfoList | sort: 'f021ffirstName'" maxlength="50" bindLabel="f021ffirstName"
                        bindValue="f021fid" [(ngModel)]="debttaggingData.f047fidDebt" name="f047fidDebt" #debt="ngModel"
                        required>
                      </ng-select>
                      <span *ngIf=" debt.errors && (debt.dirty || debt.touched || f.submitted)" class="form-errors">*Select
                        Debt
                        .</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Student Name</label>
                      <ng-select [items]="studentList | sort: 'f060fname'" maxlength="50" bindLabel="f060fname"
                        bindValue="f060fid" [(ngModel)]="debttaggingData.f047fidStudent" name="f047fidStudent" #student="ngModel"
                        required>
                      </ng-select>
                      <span *ngIf=" student.errors && (student.dirty || student.touched || f.submitted)" class="form-errors">*Select
                        Student Name
                        .</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Debt amount(RM)<span class="required-class">*</span></label>
                      <input type="text" maxlength="25" class="form-control" style="text-align: right" (keypress)="onlyNumberKey($event)"
                        name="f047ftotalDebt" placeholder="Enter Debt amount" [(ngModel)]="debttaggingData.f047ftotalDebt"
                        value="" required #tdebit="ngModel">
                      <span *ngIf=" tdebit.errors && (tdebit.dirty || tdebit.touched || f.submitted)" class="form-errors">*Enter
                        the Debt amount</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Details Of Debt<span class="required-class">*</span></label>
                      <input type="text" maxlength="25" class="form-control" name="f047fdebtDetails" placeholder="Enter Details Of Debt "
                        [(ngModel)]="debttaggingData.f047fdebtDetails" value="" required #name="ngModel">
                      <span *ngIf=" name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                        the Details Of Debt</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div [className]="'active'"></div>
                      <label>Status</label>
                      <br>
                      <input type="radio" name="Status" [(ngModel)]="debttaggingData.f047fstatus" [checked]="debttaggingData.f047fstatus === '1'"
                        [value]="1"> Active
                      <br>
                      <input type="radio" name="Status" [(ngModel)]="debttaggingData.f047fstatus" [checked]="debttaggingData.f047fstatus === '0'"
                        [value]="0"> Inactive
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/studentfinance/debttagging']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>