<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Premise Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addPremiseType()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Premise Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f037fcode"
                                        placeholder="Enter Premise Code" [(ngModel)]="PremiseData.f037fcode" value=""
                                        #premise="ngModel" required (blur)="checkDuplication()">
                                    <span *ngIf="premise.errors && (premise.dirty || premise.touched || f.submitted)"
                                        class="form-errors">*
                                        Enter the Premise Code</span>
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Prefix Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="3" minlength="3" class="form-control" name="f037fprefixCode" placeholder="Enter Prefix Code"
                                        [(ngModel)]="PremiseData.f037fprefixCode" value="" (keypress)="onlyNumberKey($event)"
                                         #code="ngModel"required>
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*
                                        Enter the Prefix Code length is 3 digit</span>
                                </div>
                            </div> -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Description<span class="required-class">*</span></label>
                                    <textarea type="text" maxlength="100" class="form-control" name="fundname"
                                        placeholder="Enter Description" [(ngModel)]="PremiseData.f037fpremiseType"
                                        value="" #fund="ngModel" required></textarea>
                                    <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)"
                                        class="form-errors">*Enter
                                        the Description.</span>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="PremiseData.f037fstatus"
                                        [checked]="PremiseData.f037fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="PremiseData.f037fstatus"
                                        [checked]="PremiseData.f037fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/accountsrecivable/premisetype']"
                                        class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>