<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">SmartPhone Loan</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addSmartloan()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Model<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f043fmodel"
                                        placeholder="Enter Model" [(ngModel)]="smartloanData.f043fmodel" value=""
                                        required #model="ngModel">
                                    <span *ngIf="model.errors && (model.dirty || model.touched || f.submitted )" class="form-errors">*Enter
                                        the Model
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Vendor<span class="required-class">*</span></label>
                                    <select class="form-control" [(ngModel)]="smartloanData.f043fidVendor" name="f043fidVendor"
                                        value="" required #vendor="ngModel">
                                        <option value=''>--Select-- </option>
                                        <option value='1'>Vendor 1 </option>
                                        <option value='2'>Vendor 2 </option>
                                    </select>
                                    <span *ngIf="vendor.errors && (vendor.dirty || vendor.touched || f.submitted)"
                                        class="form-errors">*Select Vendor</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Customer<span class="required-class">*</span></label>
                                    <select class="form-control" [(ngModel)]="smartloanData.f043finsurance" name="f043finsurance"
                                        value="" required #customer="ngModel">
                                        <option value=''>-- Select-- </option>
                                        <option *ngFor="let indcust of customerList" [value]="indcust.f021fid">{{indcust.f021ffirstName}}
                                        </option>
                                    </select>
                                    <span *ngIf="customer.errors && (customer.dirty || customer.touched || f.submitted)"
                                        class="form-errors">*Select Customer</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Loan Entitilement<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f043floanEntitlement"
                                        placeholder="Enter Loan Entitilement" [(ngModel)]="smartloanData.f043floanEntitlement"
                                        value="" required #entitilement="ngModel">
                                    <span *ngIf="entitilement.errors && (entitilement.dirty || entitilement.touched || f.submitted )"
                                        class="form-errors">*Enter the Loan Entitilement
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Purchase Price(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f043fpurchasePrice"
                                        style="text-align: right" placeholder="Enter Purchase Price" [(ngModel)]="smartloanData.f043fpurchasePrice"
                                        value="" required #purchaseprice="ngModel">
                                    <span *ngIf="purchaseprice.errors && (purchaseprice.dirty || purchaseprice.touched || f.submitted )"
                                        class="form-errors">*Enter the Purchase Price
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Loan Amount(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f043floanAmount" style="text-align: right"
                                        placeholder="Enter Loan Amount" [(ngModel)]="smartloanData.f043floanAmount"
                                        value="" required #loanamount="ngModel">
                                    <span *ngIf="loanamount.errors && (loanamount.dirty || loanamount.touched || f.submitted )"
                                        class="form-errors">*Enter the Loan Amount</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Instalment Period<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f043finstallmentPeriod"
                                        placeholder="Enter Instalement Period" [(ngModel)]="smartloanData.f043finstallmentPeriod"
                                        value="" required #installementperiod="ngModel">
                                    <span *ngIf="installementperiod.errors && (installementperiod.dirty || installementperiod.touched || f.submitted )"
                                        class="form-errors">*Enter the Instalement Period</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff<span class="required-class">*</span></label>
                                    <select class="form-control" [(ngModel)]="smartloanData.f043fempId" name="f043fempId"
                                        value="" required #smartstaff="ngModel">
                                        <option value=''>-- Select-- </option>

                                        <option *ngFor="let indsmartstaff of smartStaffList" [value]="indsmartstaff.f034fid">{{indsmartstaff.f034fname}}
                                        </option>
                                    </select>
                                    <span *ngIf="smartstaff.errors && (smartstaff.dirty || smartstaff.touched || f.submitted)"
                                        class="form-errors">*Select Staff</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Reference<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f043freference"
                                        placeholder="Enter Reference" [(ngModel)]="smartloanData.f043freference" value=""
                                        required #reference="ngModel">
                                    <span *ngIf="reference.errors && (reference.dirty || reference.touched || f.submitted )"
                                        class="form-errors">*Enter
                                        the Reference
                                        .</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>First Guarrantor<span class="required-class">*</span></label>
                                    <select class="form-control" [(ngModel)]="smartloanData.f043ffirstGuarantor" name="f043ffirstGuarantor"
                                        value="" required #firststaff="ngModel">
                                        <option value=''>-- Select-- </option>
                                        <option *ngFor="let indfirststaff of firstStaffList" [value]="indfirststaff.f034fid">{{indfirststaff.f034fname}}
                                        </option>
                                    </select>
                                    <span *ngIf="firststaff.errors && (firststaff.dirty || firststaff.touched || f.submitted)"
                                        class="form-errors">*Select First Guarrantor</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="smartloanData.f043fstatus" [checked]="smartloanData.f043fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="smartloanData.f043fstatus" [checked]="smartloanData.f043fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/loan/smartloan']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>