<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Maintenance Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/generalsetup/addnewdefms']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="defmsList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">

                        <thead>
                            <tr>
                                <th>Defination Type Ms</th>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Edit</th>
                                <!-- <th class="actions-col"></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indDf of mf.data">
                                <td>{{indDf.definationcode}}</td>
                                <td>{{indDf.f011fdefinitionCode}}</td>
                                <td>{{indDf.f011fdefinitionDesc}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <button class="btn nh-btn-edit">
                                            <a routerLink="/generalsetup/editdefms/{{indDf.f011fid}}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </button>
                                        <!-- <button class="btn nh-btn-remove">
                                                <i class="fas fa-trash-alt"></i>
                                            </button> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
