<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">MOF Category</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addMofcategory()" #f="ngForm" name="form" novalidate>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Name<span class="required-class">*</span></label>
                                <input type="text" maxlength="50" class="form-control" name="f114fname"
                                    placeholder="Enter Name " [(ngModel)]="mofcategoryData.f114fname"
                                    value="" required #name="ngModel">
                                <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                                    the Name</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Description<span class="required-class">*</span></label>
                                <input type="text" maxlength="50" class="form-control" name="f114fdescription"
                                    placeholder="Enter Description " [(ngModel)]="mofcategoryData.f114fdescription"
                                    value="" required #desc="ngModel">
                                <span *ngIf="desc.errors && (desc.dirty || desc.touched || f.submitted )" class="form-errors">*Enter
                                    the Description
                                    .</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="mofcategoryData.f114fstatus"
                                    [checked]="mofcategoryData.f114fstatus === '1'" [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="mofcategoryData.f114fstatus"
                                    [checked]="mofcategoryData.f114fstatus === '0'" [value]="0"> Inactive
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/procurement/mofcategory']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>