<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row" id="target">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2&& idview!=3 && idview!=4">Purchase Order</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Purchase Order Approval</h1>
          <h1 class="ad-page-title" *ngIf="idview==3">Purchase Order Print</h1>
          <h1 class="ad-page-title" *ngIf="idview==4">Purchase Order Re-Print</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4" *ngIf="id > 0 || idview==2">
              <div class="form-group">
                <label>Reference Number</label>
                <input type="text" readonly="readonly" class="form-control" [(ngModel)]="purchaseorderDataheader.f034freferenceNumber"
                  name="f034freferenceNumber">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Order Type</label>
                <ng-select [disabled]="viewDisabled" [items]="fordertypeobj " bindLabel="name" bindValue="name"
                  [(ngModel)]="purchaseorderDataheader.f034forderType" name="f034forderType">
                </ng-select>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Ordered Date</label>
                <input type="date" [disabled]="viewDisabled" class="form-control" name="f034forderDate" [(ngModel)]="purchaseorderDataheader.f034forderDate"
                  value="" required (change)="sixMonthsDiff()">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Requisition Reference Number </label>
                <ng-select [disabled]="viewDisabled||editDisabled" [items]="purchaseRequisitionList" bindLabel="f088freferenceNumber"
                  bindValue="f088fid" [(ngModel)]="purchaseorderDataheader.f034fidPurchaseRequisition" name="f034fidPurchaseRequisition"
                  (change)="getPurchaseOrderDetails()">
                </ng-select>
                <!-- <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034fidPurchaseRequisition" (change)="getPurchaseOrderDetails()" name="f034fidPurchaseRequisition">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indpurchase of purchaseRequisitionList" [value]="indpurchase.f088fid">{{
                            indpurchase.f088freferenceNumber }} </option>
                       
                    </select> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Financial Year </label>
                <ng-select [disabled]="viewDisabled" [items]="financialList" bindLabel="f015fname" bindValue="f015fid"
                  [(ngModel)]="purchaseorderDataheader.f034fidFinancialyear" name="f034fidFinancialyear" (change)="getGlList()">
                </ng-select>
                <!-- <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034fidFinancialyear" name="f034fidFinancialyear">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                  <option *ngFor="let indfinance of financialList" [value]="indfinance.f015fid">{{
                    indfinance.f015fname
                    }} </option>
                </select> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Vendor </label>
                <ng-select [disabled]="viewDisabled" [items]="supplierList" bindLabel="Vendor" bindValue="f030fid"
                  [(ngModel)]="purchaseorderDataheader.f034fidSupplier" name="f034fidSupplier">
                </ng-select>
                <!-- <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034fidSupplier" name="f034fidSupplier">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indsupplier of supplierList" [value]="indsupplier.f030fid">{{
                        indsupplier.f030fcompanyName }} </option>
                   
                </select> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">

                <label>Department<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="departmentList| sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                  bindValue="f015fdepartmentCode" [(ngModel)]="purchaseorderDataheader.f034fidDepartment" name="f034fidDepartment"
                  (change)="getDepartment()">
                </ng-select>


                <!-- <label>Cost Center </label>
                    <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034fidDepartment" name="f034fidDepartment">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                      <option *ngFor="let inddepartment of departmentList" [value]="inddepartment.f015fid">{{
                        inddepartment.f015fdepartmentName
                        }} </option>
                    </select> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Expired Date</label>
                <input [disabled]="viewDisabled" type="date" class="form-control" name="f034fexpiredDate" [(ngModel)]="purchaseorderDataheader.f034fexpiredDate"
                  value="" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description </label>
                <textarea [disabled]="viewDisabled" type="text" class="form-control" name="f034fdescription"
                  [(ngModel)]="purchaseorderDataheader.f034fdescription" value="" required placeholder="Enter Description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount (RM)</label>
                <input [disabled]="viewDisabled" type="text" class="form-control" style="text-align: right" name="f034ftotalAmount"
                  [(ngModel)]="purchaseorderDataheader.f034ftotalAmount " (blur)="onBlurMethod()" placeholder="Amount"
                  readonly="readonly">
              </div>
            </div>
          </div>
          <div id="overlay1"></div>

          <div id="myModal" class=" fade in" role="dialog">

            <!-- <div class="modal-dialog"> -->

            <!-- Modal content-->
            <div class="modal-content">
              <p class="maximize-icon">
                <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
              </p>
              <p class="minimize-icon hidden">
                <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
              </p>
              <div class="modal-body">
                <div class="col-sm-12" class="table-responsive credit-note-table-wrapper">
                  <table class="table table-bordered table-striped table-food" id="target1">
                    <thead>
                      <tr>
                          <th>Category</th>
                          <th>Sub Category</th>
                        <th>Item</th>
                        <th>Asset Code</th>
                        <th colspan="4" style="text-align:center">GL Code</th>
                        <th colspan="4" style="text-align:center">Budget Code</th>
                        <th>SO Code</th>
                        <th>Required Date</th>
                        <th>Quantity</th>
                        <th>UOM</th>
                        <th>Price (RM)</th>
                        <th>Total (RM)</th>
                        <th>Tax Code</th>
                        <th>In %</th>
                        <th>Tax Amount (RM)</th>
                        <th>Total Inc Tax (RM)</th>
                        <th></th>
                      </tr>

                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Fund</th>
                        <th>Activity Code</th>
                        <th>Cost Center</th>
                        <th>Account Code</th>
                        <th>Fund</th>
                        <th>Activity Code</th>
                        <th>Cost Center</th>
                        <th>Account Code</th>
                        <th></th>
                        <th> </th>
                        <th></th>
                        <th> </th>
                        <th> </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indinv of purchaseorderList;let i = index;trackBy:indexTracker;last as isLast">

                        <td>
                          <input type="text" maxlength="10" readonly="readonly"  style="width: 150px" class="form-control"
                          name="categoryName" [(ngModel)]="purchaseorderList[i].categoryName" placeholder="UOM">
                        </td>
                        <td>
                          <input type="text" maxlength="10" readonly="readonly" style="width: 150px" class="form-control"
                          name="subCategoryName" [(ngModel)]="purchaseorderList[i].subCategoryName" placeholder="UOM">
                        </td>
                       
                        <td>
                          <input type="text" maxlength="10" readonly="readonly" style="width: 150px"  class="form-control"
                          name="itemName" [(ngModel)]="purchaseorderList[i].itemName" placeholder="UOM">
                        </td>
                        <td>
                            <input type="text" maxlength="10" readonly="readonly"  style="width: 150px" class="form-control"
                            name="f034fassetCode" [(ngModel)]="purchaseorderList[i].f034fassetCode" placeholder="Asset Code">
                          </td>

                       

                        <td>
                          <ng-select [disabled]="true" [items]="fundList | sort:'f057fname'" style="width: 150px;"
                            bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="purchaseorderList[i].f034ffundCode"
                            name="f034ffundCode">
                          </ng-select>
                          <!-- <input type="text" class="form-control fundAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034ffundCode"
                        name="f034ffundCode"> -->
                        </td>
                        <td>
                          <ng-select [disabled]="true" [items]="activitycodeList | sort:'f058fname'" style="width: 150px;"
                            bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="purchaseorderList[i].f034factivityCode"
                            name="f034factivityCode">
                          </ng-select>
                          <!-- <input type="text" class="form-control activityCodeAlign" style="width:60px;" readonly="readonly"
                        [(ngModel)]="purchaseorderList[i].f034factivityCode" name="f034factivityCode"
                        placeholder="Enter to Activity "> -->
                        </td>
                        <td>
                          <ng-select [disabled]="true" [items]="costCenterList | sort:'f015fdepartmentName'"
                            style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                            [(ngModel)]="purchaseorderList[i].f034fdepartmentCode" name="f034fdepartmentCode">
                          </ng-select>
                          <!-- <input type="text" class="form-control costCenterAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034fdepartmentCode"
                        name="f034fdepartmentCode" placeholder="Enter to Department "> -->
                        </td>

                        <td>
                          <ng-select [disabled]="true" [items]="accountcodeList | sort:'f059fname'" style="width: 150px;"
                            bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="purchaseorderList[i].f034faccountCode"
                            name="f034faccountCode">
                          </ng-select>
                          <!-- <input type="text" class="form-control accountCodeAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034faccountCode"
                        name="f034faccountCode" placeholder="Enter to Account "> -->
                        </td>

                        <td>
                          <ng-select [disabled]="true" [items]="costCenterFund | sort:'originalName'" style="width: 150px;"
                            bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="purchaseorderList[i].f034fbudgetFundCode"
                            name="f034fbudgetFundCode">
                          </ng-select>
                          <!-- <input type="text" class="form-control fundAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034fbudgetFundCode"
                        name="f034fbudgetFundCode"> -->
                        </td>
                        <td>
                          <ng-select [disabled]="true" [items]="costCenterActivity | sort:'originalName'" style="width: 150px;"
                            bindLabel="originalName" bindValue="f058fcompleteCode" [(ngModel)]="purchaseorderList[i].f034fbudgetActivityCode"
                            name="f034fbudgetActivityCode">
                          </ng-select>
                          <!-- <input type="text" class="form-control activityCodeAlign" style="width:60px;" readonly="readonly"
                        [(ngModel)]="purchaseorderList[i].f034fbudgetActivityCode" name="f034fbudgetActivityCode"
                        placeholder="Enter to Activity "> -->
                        </td>
                        <td>
                          <ng-select [disabled]="true" [items]="budgetcostcenterList | sort:'originalName'"
                            style="width: 150px;" bindLabel="originalName" bindValue="f015fdepartmentCode" [(ngModel)]="purchaseorderList[i].f034fbudgetDepartmentCode"
                            name="f034fbudgetDepartmentCode">
                          </ng-select>
                          <!-- <input type="text" class="form-control costCenterAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034fbudgetDepartmentCode"
                        name="f034fbudgetDepartmentCode" placeholder="Enter to Department "> -->
                        </td>

                        <td>
                          <ng-select [disabled]="true" [items]="costCenterAccount | sort:'originalName'" style="width: 150px;"
                            bindLabel="originalName" bindValue="f059fcompleteCode" [(ngModel)]="purchaseorderList[i].f034fbudgetAccountCode"
                            name="f034fbudgetAccountCode">
                          </ng-select>
                          <!-- <input type="text" class="form-control accountCodeAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034fbudgetAccountCode"
                        name="f034fbudgetAccountCode" placeholder="Enter to Account "> -->
                        </td>



                        <td>
                          <input type="text"[disabled]="true" style="width: 75px" class="form-control" name="f034fsoCode"
                            [(ngModel)]="purchaseorderList[i].f034fsoCode">
                        </td>


                        <td>
                          <input type="date" [disabled]="true" class="form-control" [(ngModel)]="purchaseorderList[i].f034frequiredDate"
                            style="text-align: right" name="f034frequiredDate">
                        </td>

                        <td>
                          <input [disabled]="true" type="text" maxlength="10" style="width: 75px" class="form-control"
                            (keypress)="onlyNumberKey($event)" name="f034fquantity" (change)="listamountprefill()"
                            [(ngModel)]="purchaseorderList[i].f034fquantity">
                        </td>
                        <td>
                            <input type="text" disabled="disabled" maxlength="10" style="width: 150px" class="form-control"
                              name="f034funit" [(ngModel)]="purchaseorderList[i].f034funit" placeholder="unit">
                          </td>
                        <td>
                          <input [disabled]="true" type="text" maxlength="10" style="text-align: right; width: 95px"
                            class="form-control" name="f034fprice" [(ngModel)]="purchaseorderList[i].f034fprice"
                            (change)="listamountprefill()" (keypress)="onlyNumberKey($event)" placeholder="Price">
                        </td>



                        <td><input type="text" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                            name="f034total" [(ngModel)]="purchaseorderList[i].f034total" (blur)="onBlurMethod()"
                            readonly="readonly" placeholder="Total">
                        </td>

                        <td>
                          <ng-select [disabled]="true" [items]="taxcodeList | sort:'originalname'" style="width: 150px;"
                            bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="purchaseorderList[i].f034ftaxCode"
                            name="f034ftaxCode">
                          </ng-select>
                          <!-- <select class="form-control" style="width: 100px" [(ngModel)]="purchaseorderList[i].f034ftaxCode"
                        name="f034ftaxCode" required #department="ngModel" (change)="getGstvalue(this.value)">
                        <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                          indtaxcode.f081fcode }}</option>
                      </select> -->
                        </td>

                        <td>
                          <input [disabled]="true" type="text" maxlength="15" style="width: 65px" class="form-control"
                            (keypress)="onlyNumberKey($event)" (blur)="onBlurMethod()" name="f034fpercentage" readonly="readonly"
                            [(ngModel)]="purchaseorderList[i].f034fpercentage" placeholder="" value="">
                        </td>


                        <td><input [disabled]="true" type="text" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                            name="f034ftaxAmount" [(ngModel)]="purchaseorderList[i].f034ftaxAmount" (blur)="onBlurMethod()"
                            readonly="readonly" (keypress)="onlyNumberKey($event)" placeholder="Tax Amount" value="">
                        </td>

                        <td>
                          <input [disabled]="true" type="text" disabled="disabled" maxlength="10" class="form-control"
                            name="f034ftotalIncTax" style="text-align: right;width: 130px" (blur)="onBlurMethod()"
                            [(ngModel)]="purchaseorderList[i].f034ftotalIncTax" placeholder="Total" value="">
                        </td>

                        <!-- <td>
                      <input type="button" name="add" (click)='deleteEntry(purchaseorderList[i])' value='Delete'
                        class="btn nh-btn-primary" />
                    </td> -->
                        <td *ngIf="!isLast">
                          <button class="btn nh-btn-primary" type="button" (click)='deleteEntry(purchaseorderList[i])'
                            *ngIf="viewDisabled==false">
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>
                        <!-- <td *ngIf="isLast">
                          <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteEntry(purchaseorderList[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td> -->
                      </tr>
                      <tr *ngIf="showLastRow==false">
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'f029fitemName'" style="width: 150px;"
                            bindLabel="f029fitemName" bindValue="f029fid" (change)="getUOM()" [(ngModel)]="purchaseorderData.f034fidItem"
                            name="f034fidItem">
                          </ng-select>
                          <!-- <select class="form-control" style="width: 90px"  [(ngModel)]="purchaseorderData.f034fidItem"
                        name="f034fidItem" (change)="getUOM()" required #department="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indfeeitem of itemList" [value]="indfeeitem.f029fid">{{
                          indfeeitem.f029fitemName }}</option>
                      </select> -->
                        </td>

                        <td>
                          <input disabled="disabled" type="text" maxlength="10" readonly="readonly" style=" width: 150px"
                            class="form-control" name="f034funit" [(ngModel)]="purchaseorderData.f034funit" placeholder="Unit">
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fname'" style="width: 150px;"
                            bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="purchaseorderData.f034ffundCode"
                            name="f034ffundCode">
                          </ng-select>
                          <!-- <select class="form-control fundAlign" [(ngModel)]="purchaseorderData.f034ffundCode"
                        name="f034ffundCode" required #glcode="ngModel" >
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} -
                          {{
                          indfund.f057fname }}</option>
                      </select> -->
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fname'" style="width: 150px;"
                            bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="purchaseorderData.f034factivityCode"
                            name="f034factivityCode">
                          </ng-select>
                          <!-- <select class="form-control activityCodeAlign"  [(ngModel)]="purchaseorderData.f034factivityCode"
                        name="f034factivityCode" placeholder="Enter to Activity " required #glcode="ngModel" >
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                          - {{ indactivitycode.f058fname }}</option>
                      </select> -->
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="costCenterList | sort:'f015fdepartmentName'"
                            style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                            [(ngModel)]="purchaseorderData.f034fdepartmentCode" name="f034fdepartmentCode">
                          </ng-select>
                          <!-- <select class="form-control costCenterAlign" [(ngModel)]="purchaseorderData.f034fdepartmentCode"
                        name="f034fdepartmentCode" placeholder="Enter to Department " required #glcode="ngModel"
                        >
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                          - {{ inddepartment.f015fdepartmentName }}</option>
                      </select> -->
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fname'" style="width: 150px;"
                            bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="purchaseorderData.f034faccountCode"
                            name="f034faccountCode">
                          </ng-select>
                          <!-- <select class="form-control accountCodeAlign" [(ngModel)]="purchaseorderData.f034faccountCode"
                        name="f034faccountCode" placeholder="Enter to Account " required #glcode="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                          indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                      </select> -->
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="costCenterFund | sort:'originalName'" style="width: 150px;"
                            bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="purchaseorderData.f034fbudgetFundCode"
                            name="f034fbudgetFundCode">
                          </ng-select>
                          <!-- <select class="form-control fundAlign"  [(ngModel)]="purchaseorderData.f034fbudgetFundCode"
                        name="f034fbudgetFundCode" required #glcode="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} -
                          {{
                          indfund.f057fname }}</option>
                      </select> -->
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'originalName'" style="width: 150px;"
                            bindLabel="originalName" bindValue="f058fcompleteCode" [(ngModel)]="purchaseorderData.f034fbudgetActivityCode"
                            name="f034fbudgetActivityCode">
                          </ng-select>
                          <!-- <select class="form-control activityCodeAlign"  [(ngModel)]="purchaseorderData.f034fbudgetActivityCode"
                        name="f034fbudgetActivityCode" placeholder="Enter to Activity " required #glcode="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                          - {{ indactivitycode.f058fname }}</option>
                      </select> -->
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'originalName'"
                            style="width: 150px;" bindLabel="originalName" bindValue="f015fdepartmentCode" [(ngModel)]="purchaseorderData.f034fbudgetDepartmentCode"
                            name="f034fbudgetDepartmentCode">
                          </ng-select>
                          <!-- <select class="form-control costCenterAlign" [(ngModel)]="purchaseorderData.f034fbudgetDepartmentCode"
                        name="f034fbudgetDepartmentCode" placeholder="Enter to Department " required #glcode="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                          - {{ inddepartment.f015fdepartmentName }}</option>
                      </select> -->
                        </td>

                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'originalName'" style="width: 150px;"
                            bindLabel="originalName" bindValue="f059fcompleteCode" [(ngModel)]="purchaseorderData.f034fbudgetAccountCode"
                            name="f034fbudgetAccountCode">
                          </ng-select>
                          <!-- <select class="form-control accountCodeAlign"  [(ngModel)]="purchaseorderData.f034fbudgetAccountCode"
                        name="f034fbudgetAccountCode" placeholder="Enter to Account " required #glcode="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                          indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                      </select> -->
                        </td>

                        <td>
                          <input [disabled]="viewDisabled" type="text" style="width: 75px" class="form-control" name="f034fsoCode"
                            [(ngModel)]="purchaseorderData.f034fsoCode">
                        </td>

                        <td>
                          <input [disabled]="viewDisabled" type="date" class="form-control" [(ngModel)]="purchaseorderData.f034frequiredDate"
                            style="text-align: right" name="f034frequiredDate">
                        </td>

                        <td>
                          <input [disabled]="viewDisabled" type="text" maxlength="10" style="width: 75px" class="form-control"
                            (blur)="amountprefill()" (keypress)="onlyNumberKey($event)" name="f034fquantity"
                            [(ngModel)]="purchaseorderData.f034fquantity">
                        </td>


                        <td>
                          <input [disabled]="viewDisabled" type="text" maxlength="15" style="text-align: right; width: 95px"
                            (blur)="amountprefill()" (keypress)="onlyNumberKey($event)" class="form-control" name="f034fprice"
                            [(ngModel)]="purchaseorderData.f034fprice" placeholder="Price">
                        </td>

                        <td><input [disabled]="viewDisabled" type="text" maxlength="15" class="form-control" (keypress)="onlyNumberKey($event)"
                            style="text-align: right; width: 120px" name="f034total" readonly="readonly" [(ngModel)]="purchaseorderData.f034total"
                            placeholder="Total">
                        </td>

                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'originalname'" style="width: 150px;"
                            bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="purchaseorderData.f034ftaxCode"
                            (change)="getGstvalue()" name="f034ftaxCode">
                          </ng-select>
                          <!-- <select class="form-control" style="width: 100px" [(ngModel)]="purchaseorderData.f034ftaxCode"
                        name="f034ftaxCode" required #department="ngModel" (change)="getGstvalue(this.value)">
                        <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                          indtaxcode.f081fcode }}</option>
                      </select> -->
                        </td>

                        <td>
                          <input type="text" maxlength="15" style="width: 65px" (keypress)="onlyNumberKey($event)"
                            class="form-control" name="f034fpercentage" readonly="readonly" [(ngModel)]="purchaseorderData.f034fpercentage"
                            placeholder="" value="">
                        </td>


                        <td><input [disabled]="viewDisabled" type="text" maxlength="15" (keypress)="onlyNumberKey($event)"
                            class="form-control" style="text-align: right; width: 120px" readonly="readonly" (blur)="onBlurMethod()"
                            name="f034ftaxAmount" [(ngModel)]="purchaseorderData.f034ftaxAmount" placeholder="Tax Amount"
                            value="">
                        </td>

                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="15" class="form-control" name="f034ftotalIncTax"
                            style="text-align: right;width: 130px" [(ngModel)]="purchaseorderData.f034ftotalIncTax"
                            placeholder="Total">
                        </td>

                        <!-- <td>
                      <input type="button" name="add" (click)='addEntrylist()' value='ADD' class="btn nh-btn-primary" />
                    </td> -->
                        <td>
                          <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addEntrylist()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Total:{{this.purchaseorderDataheader.f034ftotalAmount}}</td>

                       
                      </tr>
                      <!-- <tr>
                  </tr> -->
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="idview==2">
          <div class="col-sm-12">
            <label>Description </label>
            <textarea class="form-control" [(ngModel)]="approvalData.reason" name="reason" placeholder="Enter the Description "></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <a routerLink="/procurement/po" class="btn nh-btn-secondary" *ngIf="idview!=2 && idview!=3 && idview!=4">Back</a>

              <a routerLink="/procurement/poapproval" class="btn nh-btn-secondary" *ngIf="idview==2">Back</a>
              <a routerLink="/procurement/poprint" class="btn nh-btn-secondary" *ngIf="idview==3">Back</a>
              <a routerLink="/procurement/poreprint" class="btn nh-btn-secondary" *ngIf="idview==4">Back</a>
              <button type="submit" (click)='savePurchaseOrder()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
              <!-- <button type="submit" (click)='saveBudgetactivities()' class="btn nh-btn-primary"  *ngIf="idview!=2">Save</button> -->
            </p>
          </div>
        </div>
        <div class="row" *ngIf="idview==2">
          <div class="col-sm-12">
            <p class="text-right">
              <button type="submit" (click)='PrapprovalListData()' class="btn nh-btn-primary">Approve</button>
              <button type="reject" (click)='regectApprovalListData()' class="btn nh-btn-primary">Reject</button>
            </p>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/procurement/po']" class="btn nh-btn-primary">Cancel</a>
                <button type="submit" (click)='savePurchaseOrder()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>

          </div> -->
      </div>
    </div>
  </div>
</div>