<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Asset Updation</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid " #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Description<span class="-class">*</span> </label>
                  <textarea maxlength="100" class="form-control" name="f133fassetDescription" placeholder="Enter Asset Description"
                    [(ngModel)]="assetinformationData.f133fassetDescription" value="" #Description="ngModel"></textarea>
                  <span *ngIf="Description.errors && (Description.dirty || Description.touched || f.submitted )" class="form-errors">*Enter
                    the Asset Description.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Cost Center<span class="-class">*</span></label>
                  <!-- <input type="text"  class="form-control" name="f133fidDepartment" placeholder="f133fidDepartment"
                    [(ngModel)]="assetinformationData.f133fidDepartment" value=""  #store="ngModel"> -->
                  <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                    bindValue="f015fdepartmentCode" [(ngModel)]="assetinformationData.f133fidDepartment" name="f133fidDepartment"
                    #cost="ngModel" required>
                  </ng-select>
                  <span *ngIf="cost.errors && (cost.dirty || cost.touched || f.submitted )" class="form-errors">*Select
                    Cost Center.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Category<span class="-class">*</span></label>
                  <input type="text" class="form-control" name="categoryName" placeholder="categoryName" [(ngModel)]="assetinformationData.categoryName"
                    value="" #assetcat="ngModel">
                  <span *ngIf="assetcat.errors && (assetcat.dirty || assetcat.touched || f.submitted )" class="form-errors">*Select
                    Asset Category.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Sub Category<span class="-class">*</span></label>
                  <input type="text" class="form-control" name="subCategoryName" placeholder="category" [(ngModel)]="assetinformationData.subCategoryName"
                    value="" #assetsub="ngModel">
                  <span *ngIf="assetsub.errors && (assetsub.dirty || assetsub.touched || f.submitted )" class="form-errors">*Select
                    Asset Sub Category.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Item<span class="-class">*</span></label>
                  <input type="text" class="form-control" name="itemName" placeholder="category" [(ngModel)]="assetinformationData.itemName"
                    value="" #assetitem="ngModel">
                  <span *ngIf="assetitem.errors && (assetitem.dirty || assetitem.touched || f.submitted )" class="form-errors">*Select
                    Asset Item.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Acquisition Date<span class="-class">*</span></label>
                  <input type="date" class="form-control" name="f133fAcquisitionDate" placeholder="Enter Acquisition Date"
                    [(ngModel)]="assetinformationData.f133fAcquisitionDate" value="" #Acquisition="ngModel">
                  <span *ngIf="Acquisition.errors && (Acquisition.dirty || Acquisition.touched || f.submitted )" class="form-errors">*Select
                    Acquisition Date.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Order Number<span class="-class">*</span></label>
                  <input type="text" class="form-control" name="f133forderNumber" placeholder="Enter Order Number"
                    [(ngModel)]="assetinformationData.f133forderNumber" value="" #order="ngModel">
                  <span *ngIf="order.errors && (order.dirty || order.touched || f.submitted )" class="form-errors">*Enter
                    the Order Number.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Store Code</label>
                  <input type="text" maxlength="10" class="form-control" name="f133fstoreCode" placeholder="Enter Store Code"
                    [(ngModel)]="assetinformationData.f133fstoreCode" value="" #store="ngModel">
                  <span *ngIf="store.errors && (store.dirty || store.touched || f.submitted )" class="form-errors">*Enter
                    the Store Code.</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Account Code<span class="-class">*</span></label>
                  <input type="text" maxlength="10" class="form-control" name="f133faccountCode" placeholder="Enter Store Code"
                    [(ngModel)]="assetinformationData.f133faccountCode" value="" #store="ngModel">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Expire Date<span class="-class">*</span></label>
                  <input type="date" class="form-control" name="f133fexpireDate" placeholder="Enter Expire Date"
                    [(ngModel)]="assetinformationData.f133fexpireDate" value="" #expiredata="ngModel">
                  <span *ngIf="expiredata.errors && (expiredata.dirty || expiredata.touched || f.submitted )" class="form-errors">*Select
                    Expire Date</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Install Cost(RM)<span class="-class">*</span></label>
                  <input type="text" maxlength="25" class="form-control" name="f133finstallCost" placeholder="Enter Install Cost"
                    [(ngModel)]="assetinformationData.f133finstallCost" value="" style="text-align: right" #cost="ngModel">
                  <span *ngIf="cost.errors && (cost.dirty || cost.touched || f.submitted )" class="form-errors">*Select
                    Install Cost</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Account Depr Cost(RM)<span class="-class">*</span></label>
                  <input type="text" maxlength="25" class="form-control" name="f133faccumDeprCost" placeholder="Enter Accoum Depr Cost"
                    [(ngModel)]="assetinformationData.f133faccumDeprCost" style="text-align: right" value="" #accdepr="ngModel">
                  <span *ngIf="accdepr.errors && (accdepr.dirty || accdepr.touched || f.submitted )" class="form-errors">*Enter
                    the Accoum Depr Cost(RM)</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Net Value(RM)<span class="-class">*</span></label>
                  <input type="text" maxlength="10" class="form-control" name="f133fnetValue" placeholder="Enter Net Value"
                    [(ngModel)]="assetinformationData.f133fnetValue" style="text-align: right" value="" #netvalue="ngModel">
                  <span *ngIf="netvalue.errors && (netvalue.dirty || netvalue.touched || f.submitted )" class="form-errors">*Enter
                    the Net Value(RM)</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Yearly Depr Cost(RM)<span class="-class">*</span></label>
                  <input type="text" maxlength="25" class="form-control" name="f133fyearDeprCost" placeholder="Enter Yearly Depr Cost"
                    [(ngModel)]="assetinformationData.f133fyearDeprCost" style="text-align: right" value="" #year="ngModel">
                  <span *ngIf="year.errors && (year.dirty || year.touched || f.submitted )" class="form-errors">*Enter
                    the Yearly Depr Cost(RM)</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Residual Value<span class="-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f133fresidualValue" placeholder="Enter Residual Value "
                    [(ngModel)]="assetinformationData.f133fresidualValue" style="text-align: right" value="" #value="ngModel">
                  <span *ngIf="value.errors && (value.dirty || value.touched || f.submitted )" class="form-errors">*Enter
                    the Residual Value</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Owner<span class="-class">*</span></label>

                  <ng-select [items]="smartStaffList | sort:'f034fname'" style="width:150px;" bindLabel="f034fname"
                    bindValue="f034fstaffId" [(ngModel)]="assetinformationData.f133fassetOwner" name="f133fassetOwner"
                    #subcategory="ngModel">
                  </ng-select>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Serial Number<span class="-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f133fserialNumber" placeholder="Enter Serial Number "
                    [(ngModel)]="assetinformationData.f133fserialNumber" value="" #serial="ngModel">
                  <span *ngIf="serial.errors && (serial.dirty || serial.touched || f.submitted )" class="form-errors">*Enter
                    the Serial Number</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Brand Name<span class="-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="f133fbrandName" placeholder="Enter Brand Name"
                    [(ngModel)]="assetinformationData.f133fbrandName" value="" #brandd="ngModel">
                  <span *ngIf="brandd.errors && (brandd.dirty || brandd.touched || f.submitted )" class="form-errors">*Enter
                    the Brand Name</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Current Campus<span class="-class">*</span></label>
                  <select class="form-control" [(ngModel)]="assetinformationData.f133fcurrentCampus" name="f133fcurrentCampus"
                    #campus="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indassettype of campusList" [value]="indassettype.f059fid" [selected]="assetinformationData.f133fcurrentCampus == indassettype.f059fid">{{
                      indassettype.f059fname }}</option>
                  </select>
                  <!-- <input type="text" maxlength="50" class="form-control" name="f133fcurrentRoom"
                                                  placeholder="Enter Current Room " [(ngModel)]="assetinformationData.f133fcurrentRoom"
                                                  value=""  #room="ngModel"> -->
                  <span *ngIf="campus.errors && (campus.dirty || campus.touched || f.submitted )" class="form-errors">*Enter
                    the Current Campus</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Current Block<span class="-class">*</span></label>
                  <select class="form-control" [(ngModel)]="assetinformationData.f133fcurrentBlock" name="f133fcurrentBlock"
                    #block="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indassettype of blockList" [value]="indassettype.f059fid" [selected]="assetinformationData.f133fcurrentBlock == indassettype.f059fid">{{
                      indassettype.f059fname }}</option>
                  </select>
                  <!-- <input type="text" maxlength="50" class="form-control" name="f133fcurrentRoom"
                                                      placeholder="Enter Current Room " [(ngModel)]="assetinformationData.f133fcurrentRoom"
                                                      value=""  #room="ngModel"> -->
                  <span *ngIf="block.errors && (block.dirty || block.touched || f.submitted )" class="form-errors">*Enter
                    the Current Block</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Current Building<span class="-class">*</span></label>
                  <select class="form-control" [(ngModel)]="assetinformationData.f133fcurrentBuilding" name="f133fcurrentBuilding"
                    #building="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indassettype of buildingList" [value]="indassettype.f059fid" [selected]="assetinformationData.f133fcurrentBuilding == indassettype.f059fid">{{
                      indassettype.f059fname }}</option>
                  </select>

                  <span *ngIf="building.errors && (building.dirty || building.touched || f.submitted )" class="form-errors">*Enter
                    the Current Building</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Current Room<span class="-class">*</span></label>
                  <select class="form-control" [(ngModel)]="assetinformationData.f133fcurrentRoom" name="f133fcurrentRoom"
                    #room="ngModel">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indassettype of roomList" [value]="indassettype.f059fid" [selected]="assetinformationData.f133fcurrentRoom == indassettype.f059fid">{{
                      indassettype.f059fname }}</option>
                  </select>
                  <!-- <input type="text" maxlength="50" class="form-control" name="f133fcurrentRoom"
                                                              placeholder="Enter Current Room " [(ngModel)]="assetinformationData.f133fcurrentRoom"
                                                              value=""  #room="ngModel"> -->
                  <span *ngIf="room.errors && (room.dirty || room.touched || f.submitted )" class="form-errors">*Enter
                    the Current Room</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Incharge Person<span class="-class">*</span></label>

                  <ng-select [items]="smartStaffList | sort:'f034fname'" style="width:150px;" bindLabel="f034fname"
                    bindValue="f034fstaffId" [(ngModel)]="assetinformationData.f133fstaffIncharge" name="f133fstaffIncharge"
                    #subcategory="ngModel">
                  </ng-select>

                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/assets/assetinformation" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" (click)='saveAssetinformation()' class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>