<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Budget Year</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addfinancialyear()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Budget Year<span class="required-class">*</span></label>
                    <input type="text" maxlength="4" class="form-control" name="f110fyear"
                      (keypress)="onlyNumberKey($event)" placeholder="Enter Budget Year "
                      [(ngModel)]="budgetyearData.f110fyear" required #budgetyear="ngModel" (blur)="checkvalidyear()">
                    <span *ngIf=" budgetyear.errors && (budgetyear.dirty || budgetyear.touched || f.submitted)"
                      class="form-errors">*Enter
                      the Budget Year </span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Description <span class="required-class">*</span> </label>
                    <textarea class="form-control" name="f110fdescription" placeholder="Enter Description"
                      [(ngModel)]="budgetyearData.f110fdescription" required #desc="ngModel"></textarea>
                    <span *ngIf=" desc.errors && (desc.dirty || desc.touched || f.submitted)" class="form-errors">*Enter
                      the Description</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div [className]="'active'"></div>
                    <label>Status</label>
                    <br>
                    <input type="radio" name="status" [(ngModel)]="budgetyearData.f110fstatus"
                      [checked]="budgetyearData.f110fstatus === '1'" [value]="1"> Active
                    <br>
                    <input type="radio" name="status" [(ngModel)]="budgetyearData.f110fstatus"
                      [checked]="budgetyearData.f110fstatus === '0'" [value]="0"> Inactive
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a routerLink="/budget/budgetyear" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>