<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title"> Monthly Deduction</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Staff Name<span class="required-class">*</span></label>
                <ng-select [items]="staffList|sort:'f034fname'" bindLabel="f034fname" bindValue="f034fstaffId" [(ngModel)]="monthlyDeductionDataHeader.f082fidStaff"
                  name="f082fidStaff" #item="ngModel" required>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Deduction Code<span class="required-class">*</span></th>
                    <th>Amount (RM)<span class="required-class">*</span></th>
                    <th>Start Date<span class="required-class">*</span></th>
                    <th>End Date<span class="required-class">*</span></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indinv of monthlyDeductionList;let i = index;trackBy:indexTracker;last as isLast">
                    <ng-select [items]="salarycodeList" bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="monthlyDeductionList[i].f082fdeductionCode"
                      name="f082fdeductionCode" #item="ngModel" required>
                    </ng-select>


                    <td><input type="text" maxlength="15" class="form-control" (keypress)="onlyNumberKey($event)"
                         name="f082famount" style="text-align: right;  width: 120px" [(ngModel)]="monthlyDeductionList[i].f082famount"
                        placeholder="Amount(RM)" value="">
                    </td>

                    <td>
                      <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="monthlyDeductionList[i].f082fstartDate"
                       name="f082fstartDate">
                    </td>

                    <td>
                      <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="monthlyDeductionList[i].f082fendDate"
                       name="f082fendDate">
                    </td>

                    <td *ngIf="!isLast">
                      <button class="btn nh-btn-primary" type="button" (click)='deleteData(monthlyDeductionList[i])'  >
                        <i class="fa fa-minus"></i>
                      </button>
                    </td>
                    <td *ngIf="isLast">
                      <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteData(monthlyDeductionList[i])'>
                        <i class="fa fa-minus"></i>
                      </button>
                      <button  *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>


                  <tr *ngIf="showLastRow==false">

                    <td>
                      <ng-select [items]="salarycodeList" bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="monthlyDeductionData.f082fdeductionCode"
                        name="f082fdeductionCode" #item="ngModel" required>
                      </ng-select>
                    </td>

                    <td><input type="text" maxlength="15" class="form-control" style="text-align: right" name="f082famount"
                        [(ngModel)]="monthlyDeductionData.f082famount" placeholder="Amount(RM)" value="" (keypress)="onlyNumberKey($event)">
                    </td>

                    <td>
                      <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="monthlyDeductionData.f082fstartDate"
                       name="f082fstartDate">
                    </td>

                    <td>
                      <input type="date" class="form-control" (change)="dateComparison()" [(ngModel)]="monthlyDeductionData.f082fendDate"
                       name="f082fendDate">
                    </td>
                    <td>
                      <button  *ngIf="showLastRowMinus"  class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                        <i class="fa fa-minus"></i>
                      </button>
                      <button  *ngIf="showLastRowPlus"  class="btn nh-btn-primary" type="button" (click)='addData()'>
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>

                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/payroll/monthlydeduction']" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='SaveMonthlyDeduction()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>