<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Company</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <!-- <div class="add-btn">
                            <a [routerLink]="['/generalsetup/addnewcompany']" class="btn nh-btn-primary">Add</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">  
                    <table class="table table-bordered table-striped table-food" [mfData]="companyList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th><mfDefaultSorter by="f013fname">Name</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f013faddress">Address</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f013femail">Email</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f013fphoneNumber">Phone Number</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f013countryName">Country</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f013fstateName">State</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f013fcity">City</mfDefaultSorter></th>
                                <th>Edit</th>


                                <!-- <th>Name</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>City</th>
                                <th>Edit</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indcompany of mf.data ">
                                <td>{{indcompany.f013fname}}</td>
                                <td>{{indcompany.f013faddress}}</td>
                                <td>{{indcompany.f013femail}}</td>
                                <td>{{indcompany.f013fphoneNumber}}</td>
                                <td>{{indcompany.f013countryName}}</td>
                                <td>{{indcompany.f013fstateName}}</td>
                                <td>{{indcompany.f013fcity}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                            <a routerLink="/generalsetup/editcompany/{{indcompany.f013fid}}">
                                        <button class="btn nh-btn-edit">
                                            
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            </a>
                                        
                                        <!-- <button class="btn nh-btn-remove">
                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                          </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>