<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Asset</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addAssetname()" #f="ngForm" name="form" novalidate>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Asset Description<span class="required-class">*</span></label>
                                <input type="text" maxlength="50" class="form-control" name="f087fname" placeholder="Enter Asset Description"
                                    [(ngModel)]="assetnameData.f087fname" value="" required #name="ngModel">
                                <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Enter
                                    the Asset Description
                                    .</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="assetnameData.f087fstatus" [checked]="assetnameData.f087fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="assetnameData.f087fstatus" [checked]="assetnameData.f087fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                        <a [routerLink]="['/assets/assetname']" class="btn nh-btn-secondary">Cancel</a>

                                    <!-- <a routerLink="/assets/assetname" class="btn um-btn-secondary">Cancel</a> -->
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>