<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Debtor Profile</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/accountsrecivable/addnewcustomer']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="customerList" #mf="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f021fdebtorCode">Debtor Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f021ffirstName">Full Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f021flastName">IC Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f021femailId">Email</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f021faddress1">Address One</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f021faddress2">Address Two</mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="f021fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indcustomer of mf.data | filter : searchText">
                                <td>{{indcustomer.f021fdebtorCode}}</td>
                                <td>{{indcustomer.f021ffirstName}}</td>
                                <td>{{indcustomer.f021flastName}}</td>
                                <td>{{indcustomer.f021femailId}}</td>
                                <td>{{indcustomer.f021faddress1}}</td>
                                <td>{{indcustomer.f021faddress2}}</td>
                                <td>{{indcustomer.f021fstatus == 1?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountsrecivable/editcustomer/{{indcustomer.f021fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>