<div class="ps-right-section">
        <div class="ps-dashboard-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="ad-page-title">Notification</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-top-wrapper">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <!-- /input-group -->
                            <div class="add-btn">
                                <a [routerLink]="['/investment/addnewnotification']" class="btn nh-btn-primary">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped table-food" [mfData]="notificationList | filter : searchText "
                            #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th><mfDefaultSorter by="days">Days</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="Maturity">Maturity Date</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f038fstatus">Status</mfDefaultSorter></th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let indnotification of mf.data ">
    
                                    <td>{{indnotification.days}}</td>
                                    <td>{{indnotification.Maturity}}</td>
                                    <td>{{indnotification.f038fstatus == 1?'Active':'Inactive'}}</td>
    
    
    
                                    <td class="actions-col">
                                        <div class="nh-btn-group">
                                            <a routerLink="/investment/editnotification/{{indnotification.f038fid}}">
                                                <button class="btn nh-btn-edit">
                                                    <i class="fa fa-edit"></i></button></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <td colspan="6">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                            </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>