<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Type Setup</h1>
        </div>
      </div>
      <form (ngSubmit)="f.form.valid && addCreditorsetup()" #f="ngForm" name="form" novalidate>

        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Payment Voucher Type<span class="required-class">*</span> </label>
                <ng-select [items]="paymenttypeList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                  bindValue="f011fid" [(ngModel)]="creditorsetupData.f095fsetupId" name="f095fsetupId" #user="ngModel"
                  required>
                </ng-select>
                <span *ngIf="user.errors && (user.dirty || user.touched || f.submitted)" class="form-errors">*
                  Select Payment Type</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Payment Type<span class="required-class">*</span> </label>
                <ng-select [items]="typeList | sort:'typeName'" bindLabel="typeName" bindValue="typeName" [(ngModel)]="creditorsetupData.f095ftype"
                  name="f095ftype" #type="ngModel" required>
                </ng-select>
                <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted)" class="form-errors">*
                  Select Type</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Account Code <span class="required-class">*</span> </label>
                <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" bindLabel="f059fname" bindValue="f059fcompleteCode"
                  [(ngModel)]="creditorsetupData.f095faccountCode" name="f095faccountCode" #account="ngModel" required>
                </ng-select>
                <span *ngIf=" account.errors && (account.dirty || account.touched || f.submitted)" class="form-errors">*Select
                  Account Code</span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <div [className]="'active'"></div>
                    <label>Description</label>
                    <textarea maxlength="25" class="form-control" name="module" placeholder="Enter Description"
                      [(ngModel)]="creditorsetupData.f095fdescription" value="" required #desc="ngModel"></textarea>
                    <span *ngIf="desc.errors && (desc.dirty || desc.touched || f.submitted)" class="form-errors">*
                      Enter the Description</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <div [className]="'active'"></div>
                    <label>Status</label>
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="creditorsetupData.f095fstatus" [checked]="creditorsetupData.f095fstatus === '1'"
                      [value]="1"> Active
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="creditorsetupData.f095fstatus" [checked]="creditorsetupData.f095fstatus === '0'"
                      [value]="0"> Inactive
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <a routerLink="/accountspayable/creditorsetup" class="btn nh-btn-secondary">Cancel</a>
              <button type="submit" class="btn nh-btn-primary">Save</button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>