<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Discount Note Entry</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div>
              <div class="col-sm-2">
                <div class="add-btn">
                  <a [routerLink]="['/accountsrecivable/addnewdiscount']" class="btn nh-btn-primary">Add</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="discountList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f024freferenceNumber">Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f024fdate">Discount Note Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f025fdiscountAmount">Discount Amount(RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f024fapprovalStatus">Status</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indcreditnotelist of mf.data">
                <td>{{indcreditnotelist.f024freferenceNumber}}</td>
                <td>{{indcreditnotelist.f071finvoiceNumber}}</td>
                <td>{{indcreditnotelist.f024fdate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indcreditnotelist.f025fdiscountAmount}}</td>
                <td>{{indcreditnotelist.f024fapprovalStatus}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>