<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Apply Loan</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addApplyloan()" #f="ngForm" name="form" novalidate>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Loan Description<span class="required-class">*</span></label>
                <!-- <select class="form-control" [(ngModel)]="applyloanDataheader.f045fidName" name="f045fidName" value="">
                  <option value=''>-- Select-- </option>
                  <option *ngFor="let indrec of loannameList" [value]="indrec.f020fid">{{indrec.f020floanName}}
                  </option>
                </select> -->
                
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description<span class="required-class">*</span> </label>
                <textarea maxlength="100" class="form-control" name="f045fdescription" placeholder="Enter Description"
                  [(ngModel)]="applyloanDataheader.f045fdescription" value=""></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>File<span class="required-class">*</span></label>
                <input type="text" maxlength="25" class="form-control" name="f045ffile" placeholder="Select File"
                  [(ngModel)]="applyloanDataheader.f045ffile" value="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Number Of Month<span class="required-class">*</span></label>
                <input type="text" maxlength="2" class="form-control" name="f045fnoOfMonths" placeholder="Enter Number Of Months "
                  [(ngModel)]="applyloanDataheader.f045fnoOfMonths" value="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Staff</label>
                <select class="form-control" [(ngModel)]="applyloanDataheader.f045fidStaff" name="f045fidStaff" value="">
                  <option value=''>-- Select-- </option>
                  <option *ngFor="let indstaff of staffList" [value]="indstaff.f034fid">{{indstaff.f034fname}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Guarantee<span class="required-class">*</span></label>
                <input type="text" maxlength="2" class="form-control" name="f045fguarantee" placeholder="Enter Guarantee "
                  [(ngModel)]="applyloanDataheader.f045fguarantee" value="">
              </div>
            </div>
          </form>
          <div class="row">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Loan Description</th>
                  <th>Account Code</th>
                  <th>Deduction</th>
                  <th>Percentage (%)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indapplyloaninfo of applyloanList;let i = index;trackBy:indexTracker">

                  <td>
                    <input type="text" maxlength="50" class="form-control" [(ngModel)]="applyloanList[i].f045fname"
                     placeholder="Enter Loan Description" name="f045fname" value="">
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="applyloanList[i].f045faccountCode" name="f045faccountCode"
                      placeholder="Enter to Account ">
                      <option value=''>-- Select-- </option>
                      <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fid">{{
                        indaccountcode.f059fname }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" maxlength="10" class="form-control" [(ngModel)]="applyloanList[i].f045fdeduction"
                     placeholder="Enter Deduction" name="f045fdeduction" value="">
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="applyloanList[i].f045fpercentage" name="f045fpercentage"
                     placeholder="Enter Percentage (%)" value="">
                  </td>
                  <td>
                    <input type="button" name="delete" (click)='deleteapplyloan(applyloanList[i])' value='Delete' class="btn nh-btn-primary" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="text" class="form-control" placeholder="Enter Loan Description" [(ngModel)]="applyloanData.f045fname" name="f045fname"
                      value="">
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="applyloanData.f045faccountCode" name="f045faccountCode"
                      placeholder="Enter to Account ">
                      <option value=''>-- Select-- </option>
                      <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fid">{{
                        indaccountcode.f059fname }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="applyloanData.f045fdeduction" name="f045fdeduction"
                     placeholder="Enter Deduction" value="">
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="applyloanData.f045fpercentage" name="f045fpercentage"
                     placeholder="Enter Percentage (%)" value="">
                  </td>
                  <td>
                    <input type="button" name="add" (click)='addapplyloanlist()' value='ADD' class="btn nh-btn-primary" />
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/loan/applyloan" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveApplyloan()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>