<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Approval Limit</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/generalsetup/addnewapprovallimit']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food"[mfData]="approvallimitList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>User</th>
                <th>Module</th>
                <th>From Amount (RM)</th>
                <th>To Amount (RM)</th>
                <th>Status</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indapprovallimit of mf.data">
                <td>{{indapprovallimit.f014fuserName}}</td>
                <td>{{indapprovallimit.module}}</td>
                <!-- <td>{{indapprovallimit.f020ffromAmount}}</td> -->
                <td class="amountAlign" >{{indapprovallimit.f020ffromAmount | number: '.2'}}</td>
                <td class="amountAlign" >{{indapprovallimit.f020ftoAmount | number: '.2'}}</td>
                <!-- <td>{{indapprovallimit.f020ftoAmount}}</td> -->
                <td>{{indapprovallimit.f020fstatus === true?'Active':'Inactive'}}</td>

                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/generalsetup/editapprovallimit/{{indapprovallimit.f020fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>