<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">SOCSO Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addSocso()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>SOCSO Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" [(ngModel)]="SocsoData.f091fcode"
                                        name="f091fcode" required #code="ngModel" placeholder="Enter SOCSO Code">
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted )" class="form-errors">*Enter
                                        the SOCSO Code
                                        .</span>
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label>SOCSO Type<span class="required-class">*</span></label>
                                    <ng-select [items]="fstafftype | sort: 'name'" bindLabel="name" bindValue="name"
                                        [(ngModel)]="SocsoData.f091ftype" name="f091ftype" #type="ngModel" required>
                                    </ng-select> -->

                                    <!-- <label>Type<span class="required-class">*</span></label>
                                    <select class="form-control" name="f091ftype" [(ngModel)]="SocsoData.f091ftype"
                                        value="" required #type="ngModel" placeholder="Select Type">
                                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                        <option value="Resident">Resident</option>
                                        <option value="Non-Resident">Non-Resident</option>
                                    </select> -->
                                    <!-- <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted )" class="form-errors">*Select
                                        Type</span>
                                </div>
                            </div> -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>SOCSO Category<span class="required-class">*</span></label>
                                    <ng-select [items]="socsocategoryList | sort: 'f091fcategoryName'" bindLabel="f091fcategoryName" bindValue="f091fid"
                                        [(ngModel)]="SocsoData.f091fcategory" name="f091fcategory" #socso="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="socso.errors && (socso.dirty || socso.touched || f.submitted)" class="form-errors">*Select
                                        SOCSO Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Start Amount (RM)</label>
                                    <input type="text" class="form-control" style="text-align: right" [(ngModel)]="SocsoData.f091fstartAmount"
                                        name="f091fstartAmount" required #startamount="ngModel"(keypress)="onlyNumberKey($event)" placeholder="Enter Start Amount" />
                                    <span *ngIf="startamount.errors && (startamount.dirty || startamount.touched || f.submitted )"
                                        class="form-errors">*Enter the Start Amount
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>End Amount (RM)<span class="required-class">*</span></label>
                                    <input type="text" class="form-control" style="text-align: right" [(ngModel)]="SocsoData.f091fendAmount"
                                        name="f091fendAmount" maxlength="10" required #eamount="ngModel" (keypress)="onlyNumberKey($event)" placeholder="Enter End Amount" />
                                    <span *ngIf="eamount.errors && (eamount.dirty || eamount.touched || f.submitted )"
                                        class="form-errors">*Enter the End Amount
                                        .</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Employee Contribution (RM)<span class="required-class">*</span></label>
                                    <input type="text" class="form-control" style="text-align: right" [(ngModel)]="SocsoData.f091femployerContribution"
                                        name="f091femployerContribution" (keypress)="onlyNumberKey($event)" maxlength="10" required #EmployerContribution="ngModel"
                                        placeholder="Enter Employer Contribution" />
                                    <span *ngIf="EmployerContribution.errors && (EmployerContribution.dirty || EmployerContribution.touched || f.submitted )"
                                        class="form-errors">*Enter the Employee Contribution
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Employer Deduction (RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" style="text-align: right"
                                        [(ngModel)]="SocsoData.f091femployerDeduction" name="f091femployerDeduction"
                                        required #EmployerDeduction="ngModel" (keypress)="onlyNumberKey($event)" placeholder="Enter Employer Deduction" />
                                    <span *ngIf="EmployerDeduction.errors && (EmployerDeduction.dirty || EmployerDeduction.touched || f.submitted )"
                                        class="form-errors">*Enter the Employer Contribution
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="SocsoData.f091fstatus" [checked]="SocsoData.f091fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="SocsoData.f091fstatus" [checked]="SocsoData.f091fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/payroll/socsosetup" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>