<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Semester</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewsemester']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped " [mfData]="semesterList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f053fsemester">Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f053fcode">Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f053fstartDate">Start Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f053fendDate">End Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="semesterSequence">Semester Sequence</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f053fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indsemester of mf.data">
                                <td>{{indsemester.f053fsemester}}</td>
                                <td>{{indsemester.f053fcode}}</td>
                                <td>{{indsemester.f053fstartDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{indsemester.f053fendDate | date:'dd/MM/yyyy'}}</td>
                                <!-- <td>{{indsemester.semesterType}}</td> -->
                                <td>{{indsemester.semesterSequence}}</td>

                                <td>{{indsemester.f053fstatus == '1'?'Active':'Inactive'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editsemester/{{indsemester.f053fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>


                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>