<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Tender / Quotation</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4" *ngIf="id!=0">
              <div class="form-group">
                <label>Reference Number<span class="required-class">*</span> </label>
                <input type="text" class="form-control" name="f035fquotationNumber" [(ngModel)]="tenderData.f035fquotationNumber "
                  disabled="disabled" placeholder="Reference Number" value="" required #quot="ngModel">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Category <span class="required-class">*</span> </label>
                <ng-select [disabled]="viewDisabled" [items]="fcategory | sort:'name'" bindLabel="name" bindValue="name"
                  [(ngModel)]="tenderData.f035fidCategory" name="f035fidCategory" (change)="getPRData()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Requisition Reference Number </label>
                <ng-select [disabled]="viewDisabled||editDisabled" [items]="purchaseRequisitionList" bindLabel="f088freferenceNumber"
                  bindValue="f088fid" [(ngModel)]="tenderData.f034fidPurchaseRequisition" name="f034fidPurchaseRequisition"
                  (change)="getPurchaseOrderDetails()">
                </ng-select>
                <!-- <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034fidPurchaseRequisition" (change)="getPurchaseOrderDetails()" name="f034fidPurchaseRequisition">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indpurchase of purchaseRequisitionList" [value]="indpurchase.f088fid">{{
                            indpurchase.f088freferenceNumber }} </option>
                       
                    </select> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Start Date</label>
                <input type="datetime-local" class="form-control" name="f035fstartDate" [(ngModel)]="tenderData.f035fstartDate"
                  placeholder="Start Date" value="" required #start="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>End Date</label>
                <input type="datetime-local" class="form-control" name="f035fendDate" [(ngModel)]="tenderData.f035fendDate"
                  placeholder="End Date" (change)="dateComparison1()" value="" required #end="ngModel">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Title <span class="required-class">*</span> </label>
                <input type="text" maxlength="500" class="form-control" name="f035ftitle" [(ngModel)]="tenderData.f035ftitle "
                  placeholder="Enter Title" value="" #Title="ngModel">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Department<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="DeptList " bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                  [(ngModel)]="tenderData.f035fidDepartment" name="f035fidDepartment" #category="ngModel" required
                  class="formm-control">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Financial Year </label>
                <ng-select [disabled]="viewDisabled" [items]="financialList " bindLabel="f015fname" bindValue="f015fid"
                  [(ngModel)]="tenderData.f035fidFinancialYear" name="f035fidFinancialYear" (change)="getAllpurchaseGlList()">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="ad-page-title">Tender Specification</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div id="overlay1"></div>
              <div id="myModal" class=" fade in" role="dialog">
                <div class="modal-content">
                  <p class="maximize-icon">
                    <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                  </p>
                  <p class="minimize-icon hidden">
                    <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                  </p>
                  <div class="modal-body">
                    <div class="table-responsive credit-note-table-wrapper">
                      <table class="table table-bordered table-striped credit-note-table" id="target1">
                        <thead>
                          <tr>
                            <th>Category</th>
                            <th>Sub Category</th>
                          <th>Item</th>
                          <th>Asset Code</th>
                            <th colspan="4" style="text-align:center">GL Code</th>
                            <th colspan="4" style="text-align:center">Budget Code</th>
                            <th>SO Code</th>
                            <th>Delivery Date</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Fund</th>
                            <th>Activity Code</th>
                            <th>Costcenter</th>
                            <th>Account Code</th>
                            <th>Fund</th>
                            <th>Activity Code</th>
                            <th>Costcenter</th>
                            <th>Account Code</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let indinv of specList;let i = index;trackBy:indexTracker;last as isLast">

                             
                        <td>
                          <input type="text" maxlength="10" readonly="readonly"  style="width: 150px" class="form-control"
                          name="categoryName" [(ngModel)]="specList[i].categoryName" placeholder="UOM">
                        </td>
                        <td>
                          <input type="text" maxlength="10" readonly="readonly" style="width: 150px" class="form-control"
                          name="subCategoryName" [(ngModel)]="specList[i].subCategoryName" placeholder="UOM">
                        </td>
                       
                        <td>
                          <input type="text" maxlength="10" readonly="readonly" style="width: 150px"  class="form-control"
                          name="itemName" [(ngModel)]="specList[i].itemName" placeholder="UOM">
                        </td>
                        <td>
                            <input type="text" maxlength="10" readonly="readonly"  style="width: 150px" class="form-control"
                            name="f034fassetCode" [(ngModel)]="specList[i].f034fassetCode" placeholder="Asset Code">
                          </td>

                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="specList[i].f038ffundCode"
                                name="f038ffundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="specList[i].f038factivityCode"
                                name="f038factivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="specList[i].f038fdepartmentCode" name="f038fdepartmentCode">
                              </ng-select>
                            </td>

                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="specList[i].f038faccountCode"
                                name="f038faccountCode">
                              </ng-select>
                            </td>

                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="specList[i].f038fbudgetFundCode"
                                name="f038fbudgetFundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode"
                                [(ngModel)]="specList[i].f038fbudgetActivityCode" name="f038fbudgetActivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="specList[i].f038fbudgetDepartmentCode" name="f038fbudgetDepartmentCode">
                              </ng-select>
                            </td>

                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode"
                                [(ngModel)]="specList[i].f038fbudgetAccountCode" name="f038fbudgetAccountCode">
                              </ng-select>
                            </td>



                            <td>
                              <input [disabled]="viewDisabled" type="text" style="width: 75px" class="form-control"
                                name="f038fsoCode" placeholder="So Code" [(ngModel)]="specList[i].f038fsoCode">
                            </td>

                            <td>
                              <input [disabled]="viewDisabled" type="date" class="form-control" [(ngModel)]="specList[i].f038frequiredDate"
                                style="text-align: right" name="f038frequiredDate" (change)="dateComparisonList1()">
                            </td>
                            <td *ngIf="!isLast">
                              <button class="btn nh-btn-primary" type="button" (click)='deleteEntry(specList[i])' *ngIf="viewDisabled==false">
                                <i class="fa fa-minus"></i>
                              </button>
                            </td>
                            <td *ngIf="isLast">
                              <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteEntry(specList[i])'>
                                <i class="fa fa-minus"></i>
                              </button>
                              <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="showLastRow==false">
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'f029fitemName'" style="width: 150px;"
                                bindLabel="f029fitemName" bindValue="f029fid" (change)="getUOM()" [(ngModel)]="specData.f038fidItem"
                                name="f038fidItem">
                              </ng-select>
                            </td>
                            <td>
                              <input [disabled]="viewDisabled" type="text" maxlength="10" disabled="disabled" style="width: 65px"
                                class="form-control" name="unit" [(ngModel)]="specData.f038funit" placeholder="UOM">
                            </td>


                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="specData.f038ffundCode" name="f038ffundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="specData.f038factivityCode"
                                name="f038factivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="specData.f038fdepartmentCode" name="f038fdepartmentCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="specData.f038faccountCode"
                                name="f038faccountCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="budgetfundList | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="specData.f038fbudgetFundCode"
                                name="f038fbudgetFundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="budgetactivitycodeList | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f058fcompleteCode"
                                [(ngModel)]="specData.f038fbudgetActivityCode" name="f038fbudgetActivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="budgetdepartmentList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="specData.f038fbudgetDepartmentCode" name="f038fbudgetDepartmentCode">
                              </ng-select>
                            </td>

                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="budgetaccountcodeList | sort:'f059fcompleteCode'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f059fcompleteCode"
                                [(ngModel)]="specData.f038fbudgetAccountCode" name="f038fbudgetAccountCode">
                              </ng-select>
                            </td>
                            <td>
                              <input [disabled]="viewDisabled" type="text" style="width: 75px" class="form-control"
                                name="f038fsoCode" [(ngModel)]="specData.f038fsoCode" placeholder="So Code">
                            </td>

                            <td>
                              <input [disabled]="viewDisabled" type="date" class="form-control" [(ngModel)]="specData.f038frequiredDate"
                                style="text-align: right" name="f038frequiredDate" (change)="dateComparison()">
                            </td>

                            <td>
                              <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                <i class="fa fa-minus"></i>
                              </button>
                              <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addEntrylist()'>
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td> </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="ad-page-title" style="display: none;">Tender Committee</h1>
            </div>
          </div>
          <div class="row" style="display: none;">
            <div class="col-sm-12">
              <div id="overlay1"></div>
              <div id="myModal" class=" fade in" role="dialog">
                <div class="modal-content">
                  <p class="maximize-icon">
                    <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                  </p>
                  <p class="minimize-icon hidden">
                    <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                  </p>
                  <div class="modal-body">
                    <table class="table table-bordered table-striped table-food" id='target2'>
                      <thead>
                        <tr align="center">
                          <th>Staff Id</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let inddescription of committList; let i = index; trackBy:indexTracker">
                          <td>
                            <select class="form-control" [(ngModel)]="committList[i].f038fidStaff" name="f038fidStaff"
                              value="" required #secondgurrantor="ngModel">
                              <option value=''>-- Select-- </option>
                              <option *ngFor="let indsgurrantor of smartStaffList" [value]="indsgurrantor.f034fstaffId">{{indsgurrantor.f034fname}}
                              </option>
                            </select>
                          </td>

                          <td>
                            <input type="button" name="add" (click)='deleteList(descriptionList[i])' value='Delete'
                              class="btn nh-btn-primary" />
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <select class="form-control" [(ngModel)]="committListData.f038fidStaff" name="f038fidStaff"
                              value="" required #secondgurrantor="ngModel">
                              <option value=''>-- Select-- </option>

                              <option *ngFor="let indsgurrantor of smartStaffasList" [value]="indsgurrantor.f034fstaffId">{{indsgurrantor.f034fname}}
                              </option>
                            </select></td>
                          <td>
                            <button type="
                        submit" (click)='addListCommittee()' class="btn nh-btn-primary">Add</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="ad-page-title" style="display: none;">Tender General Specs</h1>
            </div>
          </div>
          <div class="row" style="display: none;">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food" id='target3'>
                <thead>
                  <tr align="center">
                    <th>Specifications</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inddescription of generalspecList; let i = index; trackBy:indexTracker">
                    <td>
                      <input type="text" style="width:550px" class="form-control" name="genspecs" [(ngModel)]="generalspecList[i].genspecs"
                        placeholder="genspecs" value="">
                    </td>

                    <td>
                      <input type="button" name="add" (click)='deleteList(generalspecList[i])' value='Delete' class="btn nh-btn-primary" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" style="width:550px" class="form-control" name="genspecs" [(ngModel)]="generalspecData.genspecs"
                        placeholder="genspecs" value="">
                    </td>
                    <td>
                      <button type="
                          submit" (click)='addListGeneralSpecs()' class="btn nh-btn-primary">Add</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/procurement/tenderagreement" class="btn nh-btn-secondary" *ngIf="idview==2">Back</a>
                <a routerLink="/procurement/tenderquotation" class="btn nh-btn-secondary" *ngIf="idview!=2">Back</a>
                <button type="button" (click)='addtender()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>