<div class="ps-right-section">
        <div class="ps-dashboard-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="ad-page-title">Sold Application</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-top-wrapper">
                            <div class="input-group">
                                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                                <span class="input-group-btn">
                                    <button class="btn btn-search" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped" [mfData]="soldapplicationList | filter : searchText" #mf="mfDataTable"
                            [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Investment Amount (RM)</th>
                                    <th>Duration (Months)</th>
                                    <th>Investment Institution</th>
                                    <th>Profit Rate (Percentage)</th>
                                    <th>Approval Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let indsoldapplication of mf.data">
                                    <td>{{indsoldapplication.f063fdescription}}</td>
                                    <td class="amountAlign">{{indsoldapplication.f063finvestmentAmount | number: '.2'}}</td>
                                    <td>{{indsoldapplication.f063fduration}}</td>
                                    <td>{{indsoldapplication.institutionName}}</td>
                                    <td>{{indsoldapplication.f063finterestRate}}</td>
                                    <td>{{indsoldapplication.f063fapprovedStatus == 1?'Approved':'Not Approved'}}</td>
                                </tr>
                            </tbody>
                            <td colspan="7">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                            </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>