<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Initial Configuration</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addConfig()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label>Finantial Year Starting</label>
                  <input type="date" class="form-control" name="FYstarting" [(ngModel)]="configData.f011ffyStarting" value="" required>
                </div>
              </div> -->
              <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label>Finantial Year Ending</label>
                  <input type="date" class="form-control" name="FYending" [(ngModel)]="configData.f011ffyEnding" value="" required>
                </div>
              </div> -->
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Financial Year<span class="required-class">*</span></label>
                  <input type="text" ngui-auto-complete value-formatter="f015fname" list-formatter="f015fname" [match-formatted]="true"
                    maxlength="50" class="form-control" name="FinancialYear" placeholder="Select Financial Year" [(ngModel)]="configData.f011fidFinancialYear"
                    value="" required #fyear="ngModel" [source]='financialyearList'>

                  <!-- <select class="form-control" [(ngModel)]="configData.f011fidFinancialYear" name="f011fidFinancialYear" value="" required
                    #fyear="ngModel">
                    <option value=''>--Please Select--</option>
                    <option *ngFor="let indfinancialyear of financialyearList" [value]="indfinancialyear.f015fid">{{ indfinancialyear.f015fname}}</option>
                  </select> -->
                  <span *ngIf="fyear.errors && (fyear.dirty || fyear.touched || f.submitted)" class="form-errors">* Select
                    the Financial Year
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>GST Number</label>
                  <input type="text" maxlength="20" class="form-control" name="GST No" placeholder="GST number" [(ngModel)]="configData.f011fgstNo"
                    value="" required #gstnum="ngModel">
                  <span *ngIf="gstnum.errors && (gstnum.dirty || gstnum.touched || f.submitted)" class="form-errors">*Enter
                    the GST Number
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Central Excise</label>
                  <input type="text" maxlength="15" class="form-control" name="Central_Excise" placeholder="Enter Central Excise" [(ngModel)]="configData.f011fcentralExcise"
                    value="" required #centralexcise="ngModel">
                  <span *ngIf="centralexcise.errors && (centralexcise.dirty || centralexcise.touched || f.submitted)" class="form-errors">*
                    Enter the Central Excise </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address One</label>
                  <input type="text" maxlength="100" class="form-control" name="Address1" placeholder="Enter Address 1" [(ngModel)]="configData.f011faddress1"
                    value="" required #addressone="ngModel">
                  <span *ngIf="addressone.errors && (addressone.dirty || addressone.touched || f.submitted)" class="form-errors">*Enter
                    the Address One
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address Two</label>
                  <input type="text" maxlength="100" class="form-control" name="Address2" placeholder="Enter Address 2" [(ngModel)]="configData.f011faddress2"
                    value="" required #addresstwo="ngModel">
                  <span *ngIf="addresstwo.errors && (addresstwo.dirty || addresstwo.touched || f.submitted)" class="form-errors">*Enter
                    the Address Two
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Contact Name</label>
                  <input type="text" maxlength="50" class="form-control" name="contact_Name" placeholder="Enter contact Name" [(ngModel)]="configData.f011fcontactName"
                    value="" required #contactname="ngModel">
                  <span *ngIf="contactname.errors && (contactname.dirty || contactname.touched || f.submitted)" class="form-errors">*Enter
                    the Contact Name
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Phone Number</label>
                  <input type="text" maxlength="12" class="form-control" pattern="[0-9]{12}" name="Phone_number" placeholder="Enter Phone Number"
                    [(ngModel)]="configData.f011fphoneNo" value="" required #phnum="ngModel">
                  <span *ngIf="phnum.errors && (phnum.dirty || phnum.touched || f.submitted)" class="form-errors">*Enter
                    the Phone Number </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" maxlength="40" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="Email" placeholder=" Enter Email"
                    [(ngModel)]="configData.f011femail" value="" required #email="ngModel">
                  <span *ngIf="email.errors && (email.dirty || email.touched || f.submitted)" class="form-errors">*Enter
                    the Valid Email </span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Monthly Process Wise <span class="required-class">*</span></label>
                  <select class="form-control" name="Monthlyprocess" [(ngModel)]="configData.f011fbudgetSplit" value="" required
                    #process="ngModel">
                    <option value=''>--Please Select-- </option>
                    <option value="3">3 Months</option>
                    <option value="4">4 Months</option>
                  </select>
                  <span *ngIf="process.errors && (process.dirty || process.touched || f.submitted)" class="form-errors">*
                    the Monthly Process Wise</span>
                </div>
              </div>
              <div class="col-sm-4" style='display:none;'>
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" maxlength="25" class="form-control" name="Country" placeholder=" Enter Country" [(ngModel)]="configData.f011fcountry"
                    value="">
                </div>
              </div>
              <div class="col-sm-4" style='display:none;'>
                <div class="form-group">
                  <label>State</label>
                  <input type="text" maxlength="25" class="form-control" name="State" placeholder="Enter State" [(ngModel)]="configData.f011fstate"
                    value="">
                </div>
              </div>
              <div class="col-sm-4" style='display:none;'>
                <div class="form-group">
                  <label>City</label>
                  <input type="text" maxlength="25" class="form-control" name="cityname" placeholder="Enter City" [(ngModel)]="configData.f011fcity"
                    value="" required>
                </div>
              </div>
              <div class="col-sm-4" style='display:none;'>
                <div class="form-group">
                  <label>Default Country</label>
                  <input type="text" maxlength="30" class="form-control" name="DefaultCountry" placeholder=" Enter Default Country" [(ngModel)]="configData.f011fdefaultCountry"
                    value="">
                </div>
              </div>
              <div class="col-sm-4" style='display:none;'>
                <div class="form-group">
                  <label>Default State</label>
                  <input type="text" maxlength="30" class="form-control" name="DefaultState" placeholder="Enter Default State" [(ngModel)]="configData.f011fdefaultState"
                    value="">
                </div>
              </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
              <div class="row">
              </div>
              <div class="row">
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
                    <a routerLink="/generalsetup/config" class="btn nh-btn-secondary">Cancel</a>
                    <button type="submit" class="btn nh-btn-primary">Save</button>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>