<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Group Details</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Group Name</label>
                                    <input type="text" class="form-control" name="group" placeholder="Enter Group Name" [(ngModel)]="groupsData.f012fgroupName" value=""
                                        required>
                                </div>
                            </div>

                            <label>Parent Group</label>
                            <select class="form-control" [(ngModel)]="groupsData.f012fidParent" name="f012fidParent" placeholder="Select Id Parent">
                                <option *ngFor="let indgroup of groupidparentList" [value]="indgroup.f012fid">{{ indgroup.f012fgroupName }}</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Order</label>
                                    <input type="number" min="0" class="form-control" name="id_parent" placeholder="Enter Order" [(ngModel)]="groupsData.f012forder"
                                        value="">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <label>Status</label>
                              </div>
                              <div class="col-sm-1">
                                <input type="radio" name="Status" [(ngModel)]="groupsData.f012fstatus" [checked]="groupsData.f012fstatus === '1'" [value]="1">  Active
                              </div>
                              <div class="col-sm-1">
                                <input type="radio" name="Status" [(ngModel)]="groupsData.f012fstatus" [checked]="groupsData.f012fstatus === '0'" [value]="0">  Inactive
                              </div>

                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="groupsData.f012fstatus" [checked]="groupsData.f012fstatus === '1'" [value]="1">  Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="groupsData.f012fstatus" [checked]="groupsData.f012fstatus === '0'" [value]="0">  Inactive
                                    <br>
                                </div>
                            </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-2">
                                <label>Status</label>
                              </div>
                              <div class="col-sm-2">
                                <input type="radio" name="Status" [(ngModel)]="groupsData.f012fstatus" [checked]="groupsData.f012fstatus === '1'" [value]="1">  Active
                              </div>
                              <div class="col-sm-2">
                                <input type="radio" name="Status" [(ngModel)]="groupsData.f012fstatus" [checked]="groupsData.f012fstatus === '0'" [value]="0">  Inactive
                              </div>
                        </div> -->

                        <!-- <div class="row"> -->
                            <div class="col-sm-2">
                                <input type="checkbox" name="bankdetails" [(ngModel)]="groupsData" value="" required>Show Bank Details
                              </div>
                              <div class="col-sm-2">
                                <input type="checkbox" name="registrationdetails" [(ngModel)]="groupsData" value="" required>Show Registration
                              </div>
                              <div class="col-sm-2">
                                <input type="checkbox" name="addressdetails" [(ngModel)]="groupsData" value="" required>Show Address
                              </div>
                        <!-- </div> -->
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/generalsetup/groups" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='addGroups()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>