<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Journal Monthly Process</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
              <div class="add-btn">
                <a [routerLink]="['/generalledger/addnewmonthlyprocess']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="monthlyprocessList | filter : searchText" #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                    <th><mfDefaultSorter by="f019fmonthlyName">Month Name</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f019fyear">Year</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f019fdate">Date</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f019fstatus">Status</mfDefaultSorter></th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indmonthlyprocess of mf.data">
                  <td>{{indmonthlyprocess.f019fmonthlyName}}</td>
                  <td>{{indmonthlyprocess.f019fyear}}</td>
                  <td>{{indmonthlyprocess.f019fdate | date: 'dd/MM/yyyy'}}</td>
                  <td>{{indmonthlyprocess.f019fstatus == '1'?'Close':'Inactive'}}</td>
                  <td *ngIf="indmonthlyprocess.f019fstatus == '1'"><input type='button' name='' class='btn nh-btn-primary' value='Re-Run' /></td>
                </tr>
              </tbody>
              <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
             </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  