<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Maintenance Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addDefms()" #f="ngForm" name="form" novalidate>
                        <div class="row">


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Defination TypeMs<span class="required-class">*</span></label>
                                    <input type="text" ngui-auto-complete value-formatter="f012fdefTypeDesc" list-formatter="f012fdefTypeDesc" [match-formatted]="true"
                                    maxlength="50" class="form-control" name="defms" placeholder="Select Defination TypeMs " [(ngModel)]="defmsData.f011fidDefinitiontypems"
                                    value="" required #descrip="ngModel" [source]='deftypeList'>

                                    <!-- <select class="form-control" [(ngModel)]="defmsData.f011fidDefinitiontypems" name="f011fidDefinitiontypems" value="" required
                                        #descrip="ngModel">
                                        <option value=''>--Please Select--</option>
                                        <option *ngFor="let inddeftype of deftypeList" [value]="inddeftype.f012fid">{{ inddeftype.f012fdefTypeDesc}}
                                        </option>
                                    </select> -->
                                    <span *ngIf="descrip.errors && (descrip.dirty || descrip.touched || f.submitted)" class="form-errors">*
                                        Select Defination Type Ms. </span>


                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="code" placeholder="Enter code" [(ngModel)]="defmsData.f011fdefinitionCode"
                                        value="" required #code="ngModel">
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*
                                        Enter the Code. </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Description<span class="required-class">*</span></label>
                                    <textarea class="form-control" maxlength="255" name="Description" placeholder="Enter Description" [(ngModel)]="defmsData.f011fdefinitionDesc"
                                        value="" required #desp="ngModel"></textarea>
                                    <span *ngIf="desp.errors && (desp.dirty || desp.touched || f.submitted)" class="form-errors">*
                                        Enter the Description.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/generalsetup/defms" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>