<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Investment Institution</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <div class="add-btn">
                            <a [routerLink]="['/investment/addnewinvestmentinstitution']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="investmentinstitutionList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f061finstitutionCode">Institution Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f042fbankName">Bank</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f061faddress">Address</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f061fcontactNo">Contact Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f061fcontactPerson">Contact Person</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f061fstatus">Status</mfDefaultSorter>
                                </th>

                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indinvestmentinstitution of mf.data ">
                                <td>{{indinvestmentinstitution.f061finstitutionCode}}</td>
                                <td>{{indinvestmentinstitution.f042fbankName}}</td>
                                <td>{{indinvestmentinstitution.f061faddress}}</td>
                                <td>{{indinvestmentinstitution.f061fcontactNo}}</td>
                                <td>{{indinvestmentinstitution.f061fcontactPerson}}</td>
                                <td>{{indinvestmentinstitution.f061fstatus == 1?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/investment/editinvestmentinstitution/{{indinvestmentinstitution.f061fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>