<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Setup Store</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addSetupstore()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Store Code<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f097fstoreCode"
                                        placeholder="Enter Store Code" [(ngModel)]="setupstoreData.f097fstoreCode"
                                        value="" required #code="ngModel">
                                    <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted )" class="form-errors">*Enter
                                        the Store Code.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Store Name<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f097fstoreName"
                                        placeholder="Enter Store Name" [(ngModel)]="setupstoreData.f097fstoreName"
                                        value="" required #name="ngModel">
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Enter
                                        the Store Name.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department<span class="required-class">*</span></label>
                                    <!-- <select class="form-control" [(ngModel)]="setupstoreData.f097fdepartment" name="f097fdepartment"
                                        value="" required #depart="ngModel">
                                        <option [ngValue]="undefined" hidden selected> --Select-- </option>
                                        <option *ngFor="let inddepart of departmentList" [value]="inddepart.f015fid">{{inddepart.f015fdepartmentName}}
                                        </option>
                                    </select> -->
                                    <ng-select [items]="departmentList" bindLabel="f015fdepartmentName" bindValue="f015fid"
                                        [(ngModel)]="setupstoreData.f097fdepartment" name="f097fdepartment" #depart="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="depart.errors && (depart.dirty || depart.touched || f.submitted )"
                                        class="form-errors">*Select Department
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Person In Charge <span class="required-class">*</span></label>
                                    <!-- <select class="form-control" [(ngModel)]="setupstoreData.f097fpersonInCharge" name="f097fpersonInCharge"
                                        value="" required #person="ngModel">
                                        <option [ngValue]="undefined" hidden selected> --Select-- </option>
                                        <option *ngFor="let indstaff of staffList" [value]="indstaff.f034fstaffId">{{indstaff.f034fname}}
                                        </option>
                                    </select> -->
                                    <ng-select [items]="staffList |sort:'f034fname'" bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="setupstoreData.f097fpersonInCharge" name="f097fpersonInCharge"
                                        #person="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="person.errors && (person.dirty || person.touched || f.submitted )"
                                        class="form-errors">*Select Person In Charge.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="f097fstatus" [(ngModel)]="setupstoreData.f097fstatus"
                                        [checked]="setupstoreData.f097fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="f097fstatus" [(ngModel)]="setupstoreData.f097fstatus"
                                        [checked]="setupstoreData.f097fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/setupstore']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>