<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Bill Generation</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Non PO Invoice Number</label>
                                <ng-select [items]="maininvoiceList | sort:'f071finvoiceNumber'" bindLabel="f071finvoiceNumber"
                                    bindValue="f071fid" [(ngModel)]="nonpoinvoiceDataheader.f091fidInvoice" name="f091fidInvoice">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Invoice Date</label>
                                <input type="date" class="form-control" name="invoicedate" [(ngModel)]="nonpoinvoiceDataheader.f091finvoiceDate"
                                    value="" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Received Date</label>
                                <input type="date" class="form-control" name="receiveddate" [(ngModel)]="nonpoinvoiceDataheader.f091freceivedDate"
                                    value="" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Amount (RM)</label>
                                <input type="text" class="form-control" style="text-align: right" name="finalAmount"
                                    [(ngModel)]="nonpoinvoiceDataheader.f091famount " placeholder="Amount" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Invoice<span class="required-class">*</span></label>
                                <ng-select [(ngModel)]="nonpoinvoiceDataheader.f091finvoiceType" name="f091finvoiceType">
                                    <ng-option [value]="'1'">PO Invoice</ng-option>
                                    <ng-option [value]="'2'">Non PO Invoice</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-bordered table-striped table-food">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>GL-Code</th>
                                    <th>Price </th>
                                    <th>Quantity</th>
                                    <th>Tax </th>
                                    <th>Tax Code</th>
                                    <th>Discount</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let indnoninv of nonpoinvoiceList;let i = index;trackBy:indexTracker">
                                    <td>
                                        <ng-select [items]="itemList | sort:'item_name'" style="width: 150px" bindLabel="item_name"
                                            bindValue="item_id" [(ngModel)]="nonpoinvoiceList[i].f092fidItem" name="f092fidItem">
                                        </ng-select>

                                    </td>
                                    <td>
                                        <ng-select [items]="glcodeList | sort:'f014fglCode'" style="width: 150px"
                                            bindLabel="f014fglCode" bindValue="f014fid" [(ngModel)]="nonpoinvoiceList[i].f092fidGlcode"
                                            name="f092fidGlcode">
                                        </ng-select>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" [(ngModel)]="nonpoinvoiceList[i].f092fprice"
                                            style="text-align: right" name="price" (blur)="onBlurMethod()">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" [(ngModel)]="nonpoinvoiceList[i].f092fquantity"
                                            value="" (blur)="onBlurMethod()">
                                    </td>
                                    <td>

                                        <ng-select [items]="taxcodeList | sort:'f081fcode'" style="width: 150px"
                                            bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="nonpoinvoiceList[i].f092fidTax"
                                            name="f092fidTax">
                                        </ng-select>
                                    </td>

                                    <td>
                                        <input type="number" maxlength="15" class="form-control" style="text-align: right"
                                            name="gstValue" [(ngModel)]="nonpoinvoiceList[i].f092fgstValue" placeholder="Tax Amount"
                                            value="">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="text-align: right" name="f092fdiscount"
                                            [(ngModel)]="nonpoinvoiceList[i].f092fdiscount" placeholder="Discount"
                                            value="">
                                    </td>

                                    <td>
                                        <input type="text" class="amountAlign" class="form-control" style="text-align: right"
                                            [(ngModel)]="nonpoinvoiceList[i].f092ftotal" name="listTotal" placeholder="Total">
                                    </td>

                                    <td>
                                        <input type="button" name="add" (click)='deleteNonpoinvoice(nonpoinvoiceList[i])'
                                            value='Delete' class="btn nh-btn-primary" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ng-select [items]="itemList | sort:'item_name'" style="width: 150px" bindLabel="item_name"
                                            bindValue="item_id" [(ngModel)]="nonpoinvoiceData.f092fidItem" name="f092fidItem">
                                        </ng-select>
                                    </td>
                                    <td>
                                        <ng-select [items]="glcodeList | sort:'f014fglCode'" style="width: 150px"
                                            bindLabel="f014fglCode" bindValue="f014fid" [(ngModel)]="nonpoinvoiceData.f092fidGlcode"
                                            name="f092fidGlcode">
                                        </ng-select>
                                    </td>
                                    <td>
                                        <input type="number" maxlength="10" class="form-control" name="price" style="text-align: right"
                                            [(ngModel)]="nonpoinvoiceData.f092fprice" placeholder="Price">
                                    </td>
                                    <td>
                                        <input type="number" maxlength="10" class="form-control" name="quantity"
                                            [(ngModel)]="nonpoinvoiceData.f092fquantity" placeholder="Quantity">
                                    </td>
                                    <td>
                                        <ng-select [items]="taxcodeList | sort:'f081fcode'" style="width: 150px"
                                            bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="nonpoinvoiceData.f092fidTax"
                                            name="f092fidTax">
                                        </ng-select>
                                    </td>
                                    <td><input type="number" maxlength="15" class="form-control" style="text-align: right"
                                            name="gstValue" [(ngModel)]="nonpoinvoiceData.f092fgstValue" placeholder="Tax Amount"
                                            value="">
                                    </td>

                                    <td>
                                        <input type="text" class="form-control" style="text-align: right" name="f092fdiscount"
                                            [(ngModel)]="nonpoinvoiceData.f092fdiscount" placeholder="Discount" value="">
                                    </td>


                                    <td>
                                        <input type="text" maxlength="10" class="form-control" style="text-align: right"
                                            name="f092ftotal" [(ngModel)]="nonpoinvoiceData.f092ftotal" placeholder="Total"
                                            value="{{ nonpoinvoiceData.f092fgstValue / 100 * (nonpoinvoiceData.f092fquantity * nonpoinvoiceData.f092fprice) + (nonpoinvoiceData.f092fquantity * nonpoinvoiceData.f092fprice) }}">
                                    </td>

                                    <td>
                                        <input type="button" name="add" (click)='addnonpoinvoicelist()' value='ADD'
                                            class="btn nh-btn-primary" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th>Total</th>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <a [routerLink]="['/accountspayable/nonpoinvoice']" class="btn nh-btn-primary">Cancel</a>
                                <button type="submit" (click)='saveNonpoinvoice()' class="btn nh-btn-primary">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>