<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Tax Setup Code</h1>
        </div>
      </div>
      <form (ngSubmit)="f.form.valid && addTaxsetupcode()" #f="ngForm" name="form" novalidate>

      <div class="row">
        <div class="col-sm-12">

            <div class="col-sm-4">
              <div class="form-group">
                <label>Tax Type <span class="required-class">*</span> </label>
                <ng-select [items]="ftaxtype" bindLabel="name" bindValue="id" [(ngModel)]="taxsetupcodeData.f081ftype"
                  name="f081ftype" #taxType="ngModel" required>
                </ng-select>

                <!-- <select class="form-control" name="type" [(ngModel)]="taxsetupcodeData.f081ftype" required #taxType="ngModel">
                  <option [ngValue]="undefined" hidden selected> --select-- </option>
                  <option value="1">GST</option>
                  <option value="2">SST</option>
                </select> -->
                <span *ngIf=" taxType.errors && (taxType.dirty || taxType.touched || f.submitted)" class="form-errors">*Select
                  Tax Type</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Code <span class="required-class">*</span> </label>
                <input type="text" maxlength="5" class="form-control" name="f081fcode" placeholder="Enter Code " [(ngModel)]="taxsetupcodeData.f081fcode"
                  value="" required #code="ngModel">
                <span *ngIf="code.errors && (code.dirty || code.touched || f.submitted)" class="form-errors">*Enter the Code</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Percentage (%) <span class="required-class">*</span> </label>
                <input type="text" maxlength="15" class="form-control"  style="text-align: right" (keypress)="onlyNumberKey($event)" name="f081fpercentage" placeholder="Enter Percentage"
                  [(ngModel)]="taxsetupcodeData.f081fpercentage" value="" required #percentage="ngModel">
                <span *ngIf=" percentage.errors && (percentage.dirty || percentage.touched || f.submitted)" class="form-errors">*Enter
                  the Percentage</span>
              </div>
            </div>
        </div>
      </div>
     <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Account Code <span class="required-class">*</span></label>
                    <ng-select [items]="accountcodeList| sort:'f059fcompleteCode'" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="taxsetupcodeData.f081fidAccountCode"
                      name="f081fidAccountCode" #accountCode="ngModel" required>
                    </ng-select>

                  <!-- <input type="text" ngui-auto-complete value-formatter="f059fname" list-formatter="f059fname"
                    [match-formatted]="true" maxlength="50" class="form-control" name="accountcode" placeholder="Select Account Code"
                    [(ngModel)]="taxsetupcodeData.f081fidAccountCode" value="" required #accountCode="ngModel" [source]='accountcodeList'> -->
                  <span *ngIf=" accountCode.errors && (accountCode.dirty || accountCode.touched || f.submitted)" class="form-errors">*Select
                    Account Code</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-group">
                    <div [className]="'active'"></div>
                    <label>Status</label>
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="taxsetupcodeData.f081fstatus" [checked]="taxsetupcodeData.f081fstatus === 1"
                      [value]="1"> Active
                    <br>
                    <input type="radio" name="Status" [(ngModel)]="taxsetupcodeData.f081fstatus" [checked]="taxsetupcodeData.f081fstatus === 0"
                      [value]="0"> Inactive
                    <br>
                  </div>
                </div>
              </div>
        </div>
     </div>
      
      <div class="row">
        <div class="col-sm-12">
          <p class="text-right">
            <a [routerLink]="['/generalsetup/taxsetupcode']" class="btn nh-btn-secondary">Cancel</a>
            <button type="submit" class="btn nh-btn-primary">Save</button>
          </p>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
