<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Utility Rate Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->

                        <div class="add-btn">
                            <a [routerLink]="['/accountsrecivable/addnewutilityratesetup']" class="btn nh-btn-primary">Add</a>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="utilityrateList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f078feffectiveDate">Effective Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f078fminUnit">Minimum Unit</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f078fmaxUnit">Maximum Unit</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f078famount">Rate Per Unit (RM) </mfDefaultSorter>
                                </th>
                                <th> Edit </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indutilityratesetup of mf.data ">
                                <td>{{indutilityratesetup.f078feffectiveDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{indutilityratesetup.f078fminUnit}}</td>
                                <td>{{indutilityratesetup.f078fmaxUnit}}</td>
                                <td class="amountAlign">{{indutilityratesetup.f078famount | number: '.2'}}</td>
                                <!-- <td>{{indutilityratesetup.f078fstatus == '1'?'Active':'Inactive'}}</td> -->
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountsrecivable/editutilityratesetup/{{indutilityratesetup.f078fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>