<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Voucher Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="add-btn">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food">
            <thead>
              <tr>
                <th>Voucher Number </th>
                <th>Voucher Type</th>
                <th>Voucher Date</th>
                <th>Customer</th>
                <th>Total Amount (RM)</th>
                <th>Approval Status</th>
                <th>Approve ( Select all )  <input type="checkbox" [(ngModel)]="selectAllCheckbox" (change)="selectAll()"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indvoucher of voucherapprovalList | filter : searchText ">
                <td>{{indvoucher.f071fvoucherNumber}}<a routerLink="/accountsrecivable/editvoucherapproval/{{indvoucher.f071fid}}"> (view)</a></td>
                <td>{{indvoucher.voucherTypeName}}</td>
                <td>{{indvoucher.f071fvoucherDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indvoucher.firstName}} {{ indvoucher.lastName}}</td>
                <td class="amountAlign" >{{indvoucher.f071fvoucherTotal | number: '.2'}}</td>
                <td>{{indvoucher.f071fstatus == '1'?'Approved':'Not Approved'}}</td>
                <td>
                  <input type="checkbox" [(ngModel)]="indvoucher.f071fstatus" >
              </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <button type="submit" (click)='voucherApprovalListData()' class="btn nh-btn-primary">Approve</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
