<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">View {{this.title}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="this.id==0">
                    <div class="add-btn">
                        <a [routerLink]="['/accountsrecivable/debtor/1']" class="btn nh-btn-primary">Add {{this.title}}</a>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="this.id==1">
                    <div class="add-btn">
                        <a [routerLink]="['/accountsrecivable/creditor/0']" class="btn nh-btn-primary">Add
                            {{this.title}}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Advance Payment</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indcomponent of debtorList | filter : searchText ">
                                <td>{{indcomponent.firstName}} {{indcomponent.lastName}}</td>
                                <td>{{indcomponent.f079fdate | date: 'dd/MM/yyyy'}}</td>
                                <td class="amountAlign">{{indcomponent.f079ftotalAmount | number: '.2'}}</td>
                                <td>{{indcomponent.f079fadvancePayment}}</td>
                                <td>{{indcomponent.f055fapprovalStatus === 1?'Approved':'Not Approved'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>