<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Planning</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" placeholder="Enter Code" [(ngModel)]="budgetplanningdata.f052fname" value="" required>
                                </div>
                            </div>
                      
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Description</label>
                                    <input type="text" class="form-control" name="description" placeholder="Enter Description"[(ngModel)]="budgetplanningdata.f052fdescription" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group">
                                      <div [className]="'active'"></div> 
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="budgetplanningdata.f052fstatus" [checked]="budgetplanningdata.f052fstatus === '1'" [value]="1">  Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="budgetplanningdata.f052fstatus" [checked]="budgetplanningdata.f052fstatus === '0'" [value]="0">  Inactive
                                    <br>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/budget/budgetplanning" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='addBudgetplanning()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>