<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">description Code</h1>
          </div>
        </div>
        <form>
  
        <div class="row">
          <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Tender Number<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="" placeholder="Enter Tender Number"
                    [(ngModel)]="descriptionData.f027fcategoryName" value="" required #number="ngModel">
                  <span *ngIf="number.errors && (number.dirty || number.touched || f.submitted )" class="form-errors">*Enter
                    the Tender Number</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Staff<span class="required-class">*</span></label>
                  <input type="text" maxlength="50" class="form-control" name="" placeholder="Enter Title" [(ngModel)]="descriptionData.f027fcategoryName"
                    value="" required #title="ngModel">
                  <span *ngIf="title.errors && (title.dirty || title.touched || f.submitted )" class="form-errors">*Enter
                    the Title</span>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr align="center">
                  <th>Staff</th>
                  <th>Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inddescription of descriptionList; let i = index; trackBy:indexTracker">
                  <td>
                      <select class="form-control" [(ngModel)]="descriptionData.f043fsecondGuarantor" name="f043fsecondGuarantor"
                      value="" required #secondgurrantor="ngModel">
                      <option value=''>-- Select-- </option>
    
                      <option *ngFor="let indsgurrantor of staffList" [value]="indsgurrantor.f034fstaffId">{{indsgurrantor.f034fname}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input type="text" maxlength="10" class="form-control" [(ngModel)]="descriptionList[i].f016fdrAmount" value=""
                      (blur)="onBlurMethod()">
                  </td>
                  <td>
                    <input type="button" name="add" (click)='deleteList(descriptionList[i])' value='Delete' class="btn nh-btn-primary" />
                  </td>
                </tr>
                <tr>
                  <td>
                      <select class="form-control" [(ngModel)]="descriptionData.f043fsecondGuarantor" name="f043fsecondGuarantor"
                      value="" required #secondgurrantor="ngModel">
                      <option value=''>-- Select-- </option>
    
                      <option *ngFor="let indsgurrantor of staffList" [value]="indsgurrantor.f034fstaffId">{{indsgurrantor.f034fname}}
                      </option>
                    </select></td>
                  <td>
                    <input type="text" maxlength="10" class="form-control" name="Debit" placeholder="Enter Description"
                      [(ngModel)]="descriptionData.f016fdrAmount" value="" required>
                  </td>
                  <td>
                    <button type="
                      submit" (click)='addList()' class="btn nh-btn-primary">Add</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </form>
      </div>
  
      <div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <a routerLink="/procurement/tenderquotation" class="btn nh-btn-secondary">Cancel</a>
              <button type="submit" (click)='saveData()' class="btn nh-btn-primary">Save</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  