<div class="ps-right-section">
    <div class="ps-dashboard-sec">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12">
                <h1 class="ad-page-title"></h1>
             </div>
          </div>
          <div class="row">
             <div class="col-sm-12">
                <div class="col-sm-12">
                   <h1 class="ad-page-title" style="text-align: center;">Credit Note</h1>
                </div>
                <div class="row">
                   <div class="col-sm-3">
                      <div class="form-group">
                         <label>Account Number</label>
                         <input type="text" maxlength="20" class="form-control" name="Account Number" [(ngModel)]="creditData.f031faccount_number" value="" required>
                      </div>
                   </div>
                   <div class="col-sm-1">&nbsp;</div>
                   <div class="col-sm-3">
                      <div class="form-group">
                         <label>Date</label>
                         <input type="date" class="form-control" name="FYending" [(ngModel)]="creditData.FYending" value="" required>
                      </div>
                   </div>
                   <div class="col-sm-1">&nbsp;</div>
                   <div class="col-sm-3">
                      <div class="form-group">
                         <label>Voucher Number</label>
                         <input type="text" maxlength="20" class="form-control" name="GST No" placeholder="GST number" [(ngModel)]="creditData.f031fvoucher_number" value="" required>
                      </div>
                   </div>
                </div>
                <div class="row">
                        <div class="col-sm-3">
                           <div class="form-group">
                              <label>Ref Number</label>
                              <input type="text" maxlength="20" class="form-control" name="GST No" placeholder="GST number" [(ngModel)]="creditData.f031fref_number" value="" required>
                           </div>
                        </div>
                        <div class="col-sm-1">&nbsp;</div>

                   <div class="col-sm-3">
                      <div class="form-group">
                         <label>Ref Date</label>
                         <input type="date" class="form-control" name="Ref Date" placeholder="Enter Central Excise">
                      </div>
                   </div>
                   <div class="col-sm-1">&nbsp;</div>
                   <div class="col-sm-3">
                        <div class="form-group">
                           <label>Cash Type</label>
                           <select class="form-control" [(ngModel)]="creditData.f031fpayment_type" name="f031fpayment_type" placeholder="Select Id Parent">
                                <option value='Cash'>Cash</option>
                                <option value='Cheque'>Cheque</option>
                                <option value='Other'>Other</option>

                              </select>                        </div>
                     </div>
                     <div class="col-sm-1">&nbsp;</div>
                   
                </div>
                <div class="row">
                   <div class="col-sm-12">
                        <div class="col-sm-12">
                            <hr/>
                                <h1 class="ad-page-title" style="text-align: center;">Voucher Credit Entry Details</h1>
                             </div>
                      <table class="table table-bordered table-striped table-food">
                         <thead>
                            <tr>
                               <th>Dr/Cr</th>
                               <th>Ledger</th>
                               <th>Debit</th>
                               <th>Credit</th>
                               <th>Balance</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let indVoucher of creditList">
                               <td>
                                  <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f032ftype}}>
                               </td>
                               <td>
                                  <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.debtorList}}>
                               </td>
                               <td>
                                  <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f032fdebit}}>
                               </td>
                               <td>
                                  <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f032fcredit}}>
                               </td>
                               <td>
                                  <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.currentBalance}}>
                               </td>
                            </tr>
                            <tr>
                               <td>
                                  <select class="form-control" [(ngModel)]="selectedOption" name="first">
                                  <option *ngFor="let o of options">
                                     {{o.name}}
                                  </option>
                                  </select>
                               </td>
                               <td>
                                  <select class="form-control" [(ngModel)]="debtorlist" name='debtorId'>
                                  <option *ngFor="let ol of ledgerList" [ngValue]="ol">
                                  {{ol.f041fname}}
                                  </option>
                                  </select>
                               </td>
                               <td>
                                  <input type="text" class="form-control" name="glCode" placeholder="Enter Glcode" [(ngModel)]="debit" value="">
                               </td>
                               <td>
                                  <input type="text" class="form-control" name="glCode" placeholder="Enter Glcode" [(ngModel)]="credit" value="">
                               </td>
                               <td>
                                  <input type="button" name="add" (click)='addGlCode()' value='ADD' class="btn nh-btn-primary" />
                               </td>
                            </tr>
                            <tr>
                               <td>{{totalDebitAmount}}</td>
                               <td>{{totalCreditAmount}}</td>
                            </tr>
                         </tbody>
                      </table>
                      <form>
                         
                                  <div class="row" *ngIf="showBankDetails">
                                     <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <hr/>
                                           <h1 class="ad-page-title" style="text-align: center;">Bank Details</h1>
                                        </div>
                                        <div class="col-sm-3">
                                           <div class="form-group">
                                              <label>Bank Name</label>
                                              <input type="text" class="form-control" name="BankName" placeholder="Bank Name" [(ngModel)]="creditData.f031fbank_name" value=""
                                              required>
                                           </div>
                                        </div>
                                        <div class="col-sm-3">
                                           <div class="form-group">
                                              <label>Branch Name</label>
                                              <input type="text" class="form-control" name="BranchName" placeholder="Branch Name" [(ngModel)]="creditData.f031fcheque_number" value=""
                                              required>
                                           </div>
                                        </div>
                                        <div class="col-sm-3">
                                           <div class="form-group">
                                              <label>Cheque No</label>
                                              <input type="text" class="form-control" name="ChequeNo" placeholder="Cheque Number" [(ngModel)]="creditData.f031fcheque_number" value=""
                                              required>
                                           </div>
                                        </div>
                                      
                                     </div>
                                  </div>
                              
                            <tr>
                               <td>
                                  <input type="button" name="add" (click)='validateSave()' class="btn nh-btn-primary" value='SAVE' />
                               </td>
                            </tr>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>