<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Date Maintenance</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <div class="add-btn">
                <a [routerLink]="['/payroll/addnewdatemaintainance']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="datemaintainanceList | filter : searchText"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                    <th><mfDefaultSorter by="f103fname">Process Type</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f070fmonth">Month</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f070fstartDate">Start Date</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f070fendDate">End Date</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="f070fstatus">Status</mfDefaultSorter></th>
                    <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inddatemaintainance of mf.data ">
                  <td>{{inddatemaintainance.f103fname}}</td>
                  <td>{{inddatemaintainance.f070fmonth}}</td>
                  <td>{{inddatemaintainance.f070fstartDate | date: 'dd/MM/yyyy'}}</td>
                  <td>{{inddatemaintainance.f070fendDate | date: 'dd/MM/yyyy'}}</td>
                  <td>{{inddatemaintainance.f070fstatus == 1?'Active':'Inactive'}}</td>
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/payroll/editdatemaintainance/{{inddatemaintainance.f070fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="6">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  