<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Debtor</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Customer </label>
                <select class="form-control" [(ngModel)]="invoiceDataheader.f079fcustomer" name="f079fcustomer">
                  <option *ngFor="let indcustomer of customerList" [value]="indcustomer.f021fid">{{ indcustomer.f021ffirstName
                    }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" name="f079fdate" [(ngModel)]="invoiceDataheader.f079fdate" value="" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Referance Number</label>
                <input type="text" maxlength="20" class="form-control" [(ngModel)]="invoiceDataheader.f071finvoiceNumber" name="f071finvoiceNumber"
                  placeholder="Invoice Number">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Total Amount</label>
                <input type="text" maxlength="10" class="form-control" [(ngModel)]="invoiceDataheader.f079ftotalAmount" name="amount" placeholder="Amount">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Advance Payment</label>
                <input type="text" maxlength="10" class="form-control" [(ngModel)]="invoiceDataheader.f079fadvancePayment" name="amount"
                  placeholder="Advance Payment">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Approver </label>
                <select class="form-control" [(ngModel)]="invoiceDataheader.f079fapprovedBy" name="f079fapprovedBy">
                  <option *ngFor="let indcustomer of customerList" [value]="indcustomer.f021fid">{{ indcustomer.f021ffirstName
                    }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>GL Code</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>GST</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indinv of invoiceList;let i = index;trackBy:indexTracker">
                  <td>
                    <select class="form-control" [ngModel]="invoiceList[i].f080fidItem" name="f016fidGlcode" #department="ngModel">
                      <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                    </select> </td>
                  <td>
                    <select class="form-control" [ngModel]="invoiceList[i].f080fidGlcode" name="glcode">
                      <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode }}</option>
                    </select> </td>
                  <td>
                    <input type="text" class="form-control" [ngModel]="invoiceList[i].f080fquantity" value=""> {{i}}
                  </td>
                  <td>
                    <input type="text" class="form-control" [ngModel]="invoiceList[i].f080fprice" name="listPrice">
                  </td>
                  <td>
                    <input type="text" class="form-control" [ngModel]="invoiceList[i].f080fgst" name="listGst">
                  </td>
                  <td>
                    <input type="text" class="form-control" [ngModel]="invoiceList[i].f080ftotal" name="listTotal" placeholder="Total">                    </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="form-control" [(ngModel)]="invoiceData.f080fidItem" name="f072fidItem" required #department="ngModel">
                      <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="invoiceData.f080fidGlcode" name="f072fglcode">
                      <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" maxlength="3" class="form-control" name="quantity" [(ngModel)]="invoiceData.f080fquantity" placeholder="Quantity">
                  </td>
                  <td>
                    <input type="text" maxlength="10" class="form-control" name="price" [(ngModel)]="invoiceData.f080fprice" placeholder="Price">
                  </td>
                  <td>
                    <input type="text" maxlength="3" class="form-control" name="gst" [(ngModel)]="invoiceData.f080fgst" placeholder="GST">
                  </td>
                  <td>
                    <input type="text" maxlength="10" class="form-control" name="total" [(ngModel)]="invoiceData.f080ftotal" placeholder="Total">
                  </td>
                  <td>
                    <input type="button" name="add" (click)='addinvoicelist()' value='ADD' class="btn nh-btn-primary" />
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <th>Total</th>
                  <td> </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/accountsrecivable/invoice" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveInvoice()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>