<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">UserRole</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>User </label>
                                <select class="form-control" [(ngModel)]="menuData.f021fidParent" name="f021fidParent" placeholder="Select Id Parent">
                                    <option *ngFor="let indmenu of menuidparentList" [value]="indmenu.f021fid">{{ indmenu.f021fmenuName }}</option>
                                </select>
                            </div>


                            <div class="col-sm-6">
                                    <label>Role </label>
                                    <select class="form-control" [(ngModel)]="roleMenuData.f022fidRole" name="f022fidRole" placeholder="Select Id Parent">
                                            <option *ngFor="let indrole of roleList" [value]="indrole.f021fid">{{ indrole.f021froleName }}</option>
                                          </select>
                                </div>
                            
                            <!-- <div class="form-group">
                                <input type="checkbox" name="About us" [(ngModel)]="mData.f016fsubAccUnderLedger" value="" required>About us </div>
                            <li *ngFor="let item of data"> -->

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/generalsetup/rolemenu" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='adduserrole()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>