<!-- <app-header></app-header>
<section class="um-dashboard-sec">
  <div class="ps-left-navbar">
    <ul class="ps-left-navbar-menu">
      <li class="ps-left-navbar-item" *ngFor="let menu of menuList">
        <a routerLink='{{menu.f011flink}}'>{{menu.f011fmenuName}}</a>
      </li>
    </ul>
  </div>
  <div class="um-right-section">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div> 
</section> -->

<app-header></app-header>
<section class="ps-main-section">
  <div class="ps-left-navbar">
    <ul class="ps-left-navbar-menu">
      <!-- <li class="ps-left-navbar-item" *ngFor="let menu of menuList">
        <a routerLink='{{menu.f011flink}}'>{{menu.f011fmenuName}}</a>
      </li> -->
      <li class="ps-left-navbar-item">
        <a data-toggle="collapse" data-parent="#accordion" href="#setupscreens">
          <div class="panel-heading">
            Setup
          </div>
        </a>
        <div id="setupscreens" class="panel-collapse collapse">
          <div class="panel-body no-padding" *ngFor="let setup of setupList">
            <a routerLink='{{setup.f011flink}}' class="dash-sub-menu list-group-item">{{setup.f011fmenuName}}</a>
          </div>
          <div class="panel-body no-padding">
            <a routerLink="/accountsrecivable/debtorcategory" class="dash-sub-menu list-group-item">Debtor Category
            </a>
          </div>
        </div>
      </li>
      <li class="ps-left-navbar-item">
        <a data-toggle="collapse" data-parent="#accordion" href="#transactionscreens">
          <div class="panel-heading">
            Transaction
          </div>
        </a>
        <div id="transactionscreens" class="panel-collapse collapse">
          <div class="panel-body no-padding" *ngFor="let transaction of transactionList">
            <a routerLink='{{transaction.f011flink}}' class="dash-sub-menu list-group-item">{{transaction.f011fmenuName}}</a>
          </div>
        </div>
      </li>
      <!-- <li class="ps-left-navbar-item">
        <a data-toggle="collapse" data-parent="#accordion" href="#reportscreens">
          <div class="panel-heading">
            Report
          </div>
        </a>
        <div id="reportscreens" class="panel-collapse collapse">
          <div class="panel-body no-padding" *ngFor="let report of reportList">
            <a routerLink='{{report.f011flink}}' class="dash-sub-menu list-group-item">{{report.f011fmenuName}}</a>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</section>

<script>
  $('#myBtn').click(function () {
    $('#table').addClass('modal1');
    console.log('Button clicked');
  });
</script>
<router-outlet></router-outlet>
<app-footer></app-footer>