<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Apply Loan</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/loan/addnewapplyloan']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="applyloanList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>Loan Description </th>
                <th>Description</th>
                <th>File</th>
                <th>Number Of Months</th>
                <th>Staff</th>
                <th>Guarantee</th>
                <th>Status</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indapplyloan of mf.data ">
                <td>{{indapplyloan.f045fidName}}</td>
                <td>{{indapplyloan.f045fdescription}}</td>
                <td>{{indapplyloan.f045ffile}}</td>
                <td>{{indapplyloan.f045fnoOfMonths}}</td>
                <td>{{indapplyloan.staff}}</td>
                <td>{{indapplyloan.f045fguarantee}}</td>
                <td>{{indapplyloan.f045fapprovalStatus == '1'?'Approved':'Not Approved'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/loan/editapplyloan/{{indapplyloan.f045fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>