<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Adjustment Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetincrementapprovalList"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f110fyear">Budget Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fundName">Fund</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fdepartmentName">Cost Center</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f055fapprovalStatus">Status</mfDefaultSorter>
                                </th>
                                <th>Approve/Reject</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetincrementapproval of mf.data | filter : searchText ">
                                <td>{{indbudgetincrementapproval.f110fyear}}</td>
                                <td>{{indbudgetincrementapproval.f055ffund}}-{{indbudgetincrementapproval.fundName}}</td>
                                <td>{{indbudgetincrementapproval.f015fdepartmentCode}}-{{indbudgetincrementapproval.f015fdepartmentName}}</td>
                                <td>{{indbudgetincrementapproval.f055fapprovalStatus == 1?'Approved':'Pending'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indbudgetincrementapproval.approvalstatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/viewbudgetincrement/{{indbudgetincrementapproval.f055fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="approvaloneData.reason" name="approvaloneData.reason"
                                placeholder="Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='budgetincrementApprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectbudgetincrementApprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>