<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Withdraw Letter Of Institution</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="letterList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="5">
            <thead>
              <tr>

                  <th><mfDefaultSorter by="f064freferenceNumber">Application Id</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f064fname">Description</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="f064fsum">Investment Amount (RM)</mfDefaultSorter></th>
                  <th>Download</th>

              
                <!-- <th>Edit</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indletter of mf.data">
                <td>{{indletter.f064freferenceNumber}}</td>
                <td>{{indletter.f064fname}}</td>
                <td class="amountAlign">{{indletter.f064fsum | number:
                  '.2'}}</td>
                  <td> <input type='button' value="Download" (click)="downloadData(indletter.f064fidApplication)" /></td>

                <!-- <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/investment/editletterofinstitution/{{indletter.f063fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td> -->
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>