<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Fee Structure</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewfeestructure']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="feeStructureList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f048fname">Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="citizen">Citizen</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f048feffectiveDate">Effective Date</mfDefaultSorter>
                                </th>
                                <!-- <th><mfDefaultSorter by="f048fidIntake">Intake</mfDefaultSorter></th> -->
                                <th>
                                    <mfDefaultSorter by="f048fregion">Region</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="studentCategory">Student Category</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="studyMode">Study Mode</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f048ftotal">Amount (RM)</mfDefaultSorter>
                                </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indFeeStructure of mf.data ">
                                <td>{{indFeeStructure.f048fname}}</td>
                                <td>{{indFeeStructure.citizen == 'M' ? "Local":"International"}}</td>
                                <td>{{indFeeStructure.f048feffectiveDate | date: 'dd/MM/yyyy'}}</td>
                                <!-- <td>{{indFeeStructure.f048fidIntake}}</td> -->
                                <td>{{indFeeStructure.f048fregion}}</td>
                                <td>{{indFeeStructure.studentCategory}}</td>
                                <td>{{indFeeStructure.studyMode}}</td>
                                <td class="amountAlign">{{indFeeStructure.f048ftotal | number: '.2'}}</td>

                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editfeestructure/{{indFeeStructure.f048fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>


                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>