<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">EPF Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addEpfsetup()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label>EPF Type<span class="required-class">*</span></label> -->
                            <!-- <select class="form-control" name="f030ftype" [(ngModel)]="EpfsetupData.f030ftype"
                                        value="" required #type="ngModel">
                                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                                        <option value="1">Resident</option>
                                        <option value="2">Non-Resident</option>
                                    </select> -->
                            <!-- <ng-select [items]="ftypeList | sort: 'name'" bindLabel="name" bindValue="id"
                                        [(ngModel)]="EpfsetupData.f030ftype" name="f030ftype" #type="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="type.errors && (type.dirty || type.touched || f.submitted )" class="form-errors">*Select
                                        Type
                                    </span>
                                </div>
                            </div> -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>EPF Category<span class="required-class">*</span></label>
                                    <ng-select [items]="epfList | sort: 'f030fcategoryName'" bindLabel="f030fcategoryName"
                                        bindValue="f030fid" [(ngModel)]="EpfsetupData.f030fcategory" name="f030fcategory"
                                        #socso="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="socso.errors && (socso.dirty || socso.touched || f.submitted)" class="form-errors">*Select
                                        EPF Category.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Start Amount (RM)</label>
                                    <input type="text" maxlength="10" class="form-control" style="text-align: right"
                                        [(ngModel)]="EpfsetupData.f030fstartAmount" name="f030fstartAmount" required
                                        #startamount="ngModel" (keypress)="onlyNumberKey($event)" placeholder="Enter Start Amount(RM)" />
                                    <span *ngIf="startamount.errors && (startamount.dirty || startamount.touched || f.submitted )"
                                        class="form-errors">*Enter the Start Amount(RM).
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>End Amount (RM)</label>
                                    <input type="text" maxlength="10" class="form-control" style="text-align: right"
                                        [(ngModel)]="EpfsetupData.f030fendAmount" name="f030fendAmount" required
                                        #endamount="ngModel"  (keypress)="onlyNumberKey($event)" placeholder="Enter End Amount(RM)">
                                    <span *ngIf="endamount.errors && (endamount.dirty || endamount.touched || f.submitted )"
                                        class="form-errors">*Enter the End Amount(RM).
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Employee Contribution(RM)</label>
                                    <input type="text" maxlength="10" class="form-control" style="text-align: right"
                                        [(ngModel)]="EpfsetupData.f030femployerContribution" name="f030femployerContribution"
                                         required #empcontribution="ngModel"
                                        placeholder="Enter Employee Contribution(RM)" (keypress)="onlyNumberKey($event)">
                                    <span *ngIf="empcontribution.errors && (empcontribution.dirty || empcontribution.touched || f.submitted )"
                                        class="form-errors">*Enter the Employee Contribution(RM).
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Employer Deduction(RM)</label>
                                    <input type="text" maxlength="10" class="form-control" style="text-align: right"
                                        [(ngModel)]="EpfsetupData.f030femployerDeduction" name="f030femployerDeduction"
                                         required #empdeducation="ngModel" placeholder="Enter Employer Deduction(RM)" (keypress)="onlyNumberKey($event)">
                                    <span *ngIf="empdeducation.errors && (empdeducation.dirty || empdeducation.touched || f.submitted )"
                                        class="form-errors">*Enter the Employer Deduction(RM).
                                    </span>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="EpfsetupData.f030fstatus" [checked]="EpfsetupData.f030fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="EpfsetupData.f030fstatus" [checked]="EpfsetupData.f030fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/payroll/epfsetup" class="btn nh-btn-secondary">Cancel</a>

                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>