<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Journal Yearly Process</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/generalledger/addnewyearlyprocess']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="yearlyprocessList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f019fyear">Year</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f019fdate">Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f019fstatus">Status</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indyearlyprocess of mf.data">
                <td>{{indyearlyprocess.f019fyear}}</td>
                <td>{{indyearlyprocess.f019fdate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indyearlyprocess.f019fstatus == 1?'Open':'Closed'}}</td>
              </tr>
            </tbody>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>