<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Bill Generation Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="nonpoinvoiceapprovalList | filter : searchText"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="invoice">Invoice Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f091finvoiceDate">Invoice Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f091freceivedDate">Received Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f091famount">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f091fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Approve</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indnonpoinvoiceapproval of mf.data | filter : searchText ">
                                <td>{{indnonpoinvoiceapproval.invoice}}</td>
                                <td>{{indnonpoinvoiceapproval.f091finvoiceDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indnonpoinvoiceapproval.f091freceivedDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="amountAlign">{{indnonpoinvoiceapproval.f091famount | number: '.2'}}</td>
                                <td>{{indnonpoinvoiceapproval.f091fstatus === 1?'Approved':'Not Approved'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indnonpoinvoiceapproval.f079fstatus">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='nonpoinvoiceapprovalListData()' class="btn nh-btn-primary">Approve</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>