<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Movement</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Movement Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addAssetmoment()" #f="ngForm" name="form" novalidate id="target">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Type<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="ftype|sort:'name'" bindLabel="name" bindValue="id"
                    [(ngModel)]="assetmomentData.f087fidType" name="f087fidType" #Type="ngModel" required>
                  </ng-select>
                  <span *ngIf="Type.errors && (Type.dirty || Type.touched || f.submitted )" class="form-errors">*Select
                    Type
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Receiver<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="recevierList |sort:'f034fname'" bindLabel="f034fname"
                    bindValue="f034fstaffId" [(ngModel)]="assetmomentData.f087fidReceiver" name="f087fidReceiver" #Receiver="ngModel"
                    required>
                  </ng-select>
                  <span *ngIf="Receiver.errors && (Receiver.dirty || Receiver.touched || f.submitted )" class="form-errors">*Select
                    Receiver
                    .</span>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Asset Code<span class="required-class">*</span></label>
                  <ng-select [disabled]="editDisabled||viewDisabled" [items]="assetinformationList" bindLabel="f085fassetCode"
                    bindValue="f085fid" [(ngModel)]="assetmomentData.f087fassetCode" name="f087fassetCode" #asset="ngModel"
                    required>
                  </ng-select>
                  <span *ngIf="asset.errors && (asset.dirty || asset.touched || f.submitted )" class="form-errors">*Select
                    Asset Code
                    .</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Department<span class="required-class">*</span></label>
                  <ng-select [disabled]="viewDisabled" [items]="DeptList|sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                    bindValue="f015fdepartmentCode" [(ngModel)]="assetmomentData.f087idDepartment" name="f087idDepartment"
                    #Department="ngModel" required>
                  </ng-select>
                  <span *ngIf="Department.errors && (Department.dirty || Department.touched || f.submitted )" class="form-errors">*Select
                    Department
                    .</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Reason<span class="required-class">*</span></label>
                  <textarea type="text" [disabled]="viewDisabled" maxlength="100" class="form-control" name="f087freason"
                    placeholder="Enter Reason" [(ngModel)]="assetmomentData.f087freason" value="" required #Reason="ngModel"></textarea>
                  <span *ngIf="Reason.errors && (Reason.dirty || Reason.touched || f.submitted )" class="form-errors">*Enter
                    the Reason
                    .</span>
                </div>
              </div>

              <div class="col-sm-4" *ngIf="assetmomentData.f087fidType==2">
                <div class="form-group">
                  <label>Start Date<span class="required-class">*</span></label>
                  <input type="date" class="form-control" name="f087fstartDate" placeholder="Enter Start Date"
                    [(ngModel)]="assetmomentData.f087fstartDate" value="" required #Start="ngModel">
                  <span *ngIf="Start.errors && (Start.dirty || Start.touched || f.submitted )" class="form-errors">*Select
                    Start Date
                    .</span>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="assetmomentData.f087fidType==2">
                <div class="form-group">
                  <label>End Date<span class="required-class">*</span></label>
                  <input type="date" class="form-control" name="f087ffromDate" placeholder="Enter From Date"
                    [(ngModel)]="assetmomentData.f087ffromDate" (change)="dateComparison()" value="" required #From="ngModel">
                  <span *ngIf="From.errors && (From.dirty || From.touched || f.submitted )" class="form-errors">*Select
                    End Date
                    .</span>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="assetmomentData.f087fidType==1">
                <div class="form-group">
                  <label>Transfer Date<span class="required-class">*</span></label>
                  <input type="date" class="form-control" name="f087ftoDate" placeholder="Enter To Date" [(ngModel)]="assetmomentData.f087ftoDate"
                    value="" required #To="ngModel">
                  <span *ngIf="To.errors && (To.dirty || To.touched || f.submitted )" class="form-errors">*Select
                    Transfer Date
                    .</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/assets/assetmoment']" class="btn nh-btn-secondary" *ngIf="idview!=2">Cancel</a>
                  <a [routerLink]="['/assets/momentapproval']" class="btn nh-btn-secondary" *ngIf="idview==2">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>