<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Batch Number Generate</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewbatchgenerate']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="batchgenerateList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f050freferenceNumber">Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f073frevenueCode">Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f042fbankName">UUM Bank</mfDefaultSorter>
                </th>
                <!-- <th>
                  <mfDefaultSorter by="f073frevenueCode">Batch Number</mfDefaultSorter>
                </th> -->
                <th>View</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indbatch of mf.data ">
                <td>{{indbatch.f050freferenceNumber}}</td>
                <td>{{indbatch.f050fdate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indbatch.f042fbankName}}</td>
                <!-- <td>{{indbatch.f050fbatchNumber}}</td> -->
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editbatchgenerate/{{indbatch.f050fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>