<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Insurance Setup</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addInsurancesetup()" #f="ngForm" name="form" novalidate>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Name<span class="required-class">*</span></label>
                                <input type="text" maxlength="50" class="form-control" name="f114fname" placeholder="Enter Name "
                                    [(ngModel)]="insurancesetupData.f114fname" value="" required #name="ngModel">
                                <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Enter
                                    the Name</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Vendor<span class="required-class">*</span></label>
                                <ng-select [items]="supplierList | sort:'VendorDetails'" bindLabel="f030fcompanyName"
                                    bindValue="f030fid" [(ngModel)]="insurancesetupData.f114fvendor" name="f114fvendor"
                                    #vendor="ngModel" required>
                                </ng-select>
                                <span *ngIf="vendor.errors && (vendor.dirty || vendor.touched || f.submitted )" class="form-errors">*Select
                                    Vendor
                                    .</span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="insurancesetupData.f114fstatus"
                                    [checked]="insurancesetupData.f114fstatus === '1'" [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="insurancesetupData.f114fstatus"
                                    [checked]="insurancesetupData.f114fstatus === '0'" [value]="0"> Inactive
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/loan/insurancesetup']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>