<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">{{this.title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Invoice Number</label>
                  <select class="form-control" [(ngModel)]="voucherData.f031fidInvoice" name="f031fidInvoice" (change)="getInvoiceDetails()">
                    <option *ngFor="let indinvoice of invoiceList" [value]="indinvoice.f071fid">{{
                      indinvoice.f071finvoiceNumber
                      }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Customer </label>
                  <!-- <input type="text" class="form-control" name="customer" placeholder="Enter customer " [(ngModel)]="recurringsetupcustomerData.f077fcustomer" value="" required> -->
                  <select class="form-control" [(ngModel)]="voucherData.f031fcustomer" disabled="disabled" name="f031fcustomer">
                    <option *ngFor="let indinvoice of invoiceList" [value]="indinvoice.f071fidCustomer">{{
                      indinvoice.firstName
                      }} {{ indinvoice.lastName }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Total Amount </label>
                  <input type="text" class="form-control" name="Amount" placeholder="Amount " [(ngModel)]="voucherData.f031ftotalAmount"
                    value="" readonly="readonly">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Invoice Date</label>
                  <input type="date" disabled="disabled" class="form-control" name="invoiceDate" [(ngModel)]="voucherData.invoiceDate"
                    value="" required>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>{{this.title}} Number</label>
                  <input type="text" class="form-control" name="customer" placeholder="Voucher Number" [(ngModel)]="voucherData.f031fvoucherNumberss"
                    value="" readonly="readonly">

                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Balance</label>
                  <input type="text" maxlength="10" class="form-control" [(ngModel)]="voucherData.f031fbalance" name="referencenumber"
                    placeholder="Balance">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Approver</label>
                  <!-- <input type="text" class="form-control" name="startDate" [(ngModel)]="voucherData.f031fapproverId" value="" placeholder="Approver"> -->

                  <!-- <select class="form-control" [(ngModel)]="voucherData.f014fuserName" readonly="readonly" name="f014fuserName">
                    <option *ngFor="let induser of userList" [value]="induser.f031fapproverId">{{ induser.f031ffirstName }}</option>
                  </select> -->

                  <select class="form-control" [(ngModel)]="voucherData.f031fapproverId" name="f031fapproverId"
                    placeholder="Select Id Parent">
                    <option *ngFor="let induser of userList" [value]="induser.f014fid">{{ induser.f014fuserName }}</option>
                  </select>

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Reference Number</label>
                  <input type="text" maxlength="10" class="form-control" [(ngModel)]="voucherData.f031freferenceNumber"
                    name="referencenumber" placeholder="Reference Number">
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Voucher Days</label>
                  <input type="text" class="form-control" [(ngModel)]="voucherData.f031fvoucherDays" name="referencenumber"
                    placeholder="Voucher Days">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Narration</label>
                  <textarea class="form-control" maxlength="255" name="narrarion" placeholder="Narration" [(ngModel)]="voucherData.f031fnarration"></textarea>
                  <!-- <input type="textarea" class="form-control" [(ngModel)]="voucherData.f031fvoucherDays" name="referencenumber" placeholder=""> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Date</label>
                  <input type="date" class="form-control" name="startDate" [(ngModel)]="voucherData.f031fdate" value=""
                    required>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>
      <div class="row">
        <table class="table table-bordered table-striped table-food">
          <thead>
            <tr>
              <th>Item</th>
              <th>GL Code</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>GST</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let indinv of invoiceList;let i = index;trackBy:indexTracker">
              <td>
                <select class="form-control" [(ngModel)]="invoiceList[i].f072fidItem" disabled="disabled" name="f016fidGlcode"
                  #invoice="ngModel">
                  <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                </select> </td>
              <td>
                <select class="form-control" [(ngModel)]="invoiceList[i].f072fglcode" disabled="disabled" name="glcode">
                  <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode }}</option>
                </select> </td>
              <td>
                <input type="text" maxlength="5" class="form-control" [(ngModel)]="invoiceList[i].f072fquantity"
                  readonly="readonly" value="" (blur)="onBlurMethod()">
              </td>
              <td>
                <input type="text" maxlength="10" class="form-control" [(ngModel)]="invoiceList[i].f072fprice "
                  readonly="readonly" name="listPrice" (blur)="onBlurMethod()">
              </td>
              <td>
                <input type="text" maxlength="10" class="form-control" [(ngModel)]="invoiceList[i].f072fgst" readonly="readonly"
                  name="listGst" (blur)="onBlurMethod()">
              </td>
              <td>
                <input type="text" maxlength="10" class="form-control" [(ngModel)]="invoiceList[i].f072ftotal" readonly="readonly"
                  name="listTotal" placeholder="Total"> </td>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <table class="table table-bordered table-striped table-food" width="100%">
          <tr *ngIf="this.credit!=0 || this.debit!=0">
            <td>GL Code</td>
            <td>Debit Amount </td>
            <td>Credit Amount</td>
            <td></td>
          </tr>
          <tr *ngFor="let indopeningbalance of newOpeningBalanceList;let i = index;">
            <td>
              <select class="form-control" [ngModel]="newOpeningBalanceList[i].f032fidGlcode" name="f032fidGlcode"
                placeholder="Select Id Parent">
                <option *ngFor="let indgl of glcodeList" [value]="indgl.f014fid">{{ indgl.f014fglCode }}</option>
              </select>
            </td>
            <td>
              <input class="form-control" maxlength="10" [ngModel]="newOpeningBalanceList[i].f032fdrAmount" value=""
                required>
            </td>
            <td>
              <input type="text" maxlength="10" class="form-control" [ngModel]="newOpeningBalanceList[i].f032fcrAmount"
                value="" required>
            </td>
            <!-- <td>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [ngModel]="newOpeningBalanceList[i].f016fstatus" [checked]="newOpeningBalanceList[i].f016fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [ngModel]="newOpeningBalanceList[i].f016fstatus" [checked]="newOpeningBalanceList[i].f016fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </td>
                             -->
          </tr>

          <!-- <tr>
                            <td></td>
                            <td>{{this.debit}}</td>
                            <td>{{this.credit}}</td>
    
                        </tr> -->

          <tr>
            <td>
              <label *ngIf="this.credit==0 && this.debit==0">Gl Code</label>
              <select class="form-control" [(ngModel)]="openingbalanceData.f032fidGlcode" name="f032fidGlcode"
                placeholder="Select Id Parent">
                <option *ngFor="let indgl of glcodeList" [value]="indgl.f014fid">{{ indgl.f014fglCode }}</option>
              </select>
            </td>
            <td>
              <label *ngIf="this.credit==0 && this.debit==0">Debit Amount</label>
              <input type="text" maxlength="10" class="form-control" name="Debit" placeholder="Enter Debit Amount"
                [(ngModel)]="openingbalanceData.f032fdrAmount" value="" required (keyup)="disableFieldsOfDRCR()"
                [readonly]="showDrReadonly">
            </td>
            <td>
              <label *ngIf="this.credit==0 && this.debit==0">Credit Amount</label>
              <input type="text" maxlength="10" class="form-control" name="Credit" placeholder="Enter Credit Amount"
                [(ngModel)]="openingbalanceData.f032fcrAmount" value="" required (keyup)="disableFieldsOfDRCR()"
                [readonly]="showCrReadonly">
            </td>
            <!-- <td>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="openingbalanceData.f016fstatus" [checked]="openingbalanceData.f016fstatus === '1'"
                                    [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="openingbalanceData.f016fstatus" [checked]="openingbalanceData.f016fstatus === '0'"
                                    [value]="0"> Inactive
                                <br>
                            </td> -->
            <td>
              <button type="submit" (click)='addOpeningbalance()' class="btn nh-btn-primary">Add</button>

            </td>
          </tr>
          <!-- <tr>
                            <td colspan="3">
                                <button type="submit" (click)='saveData()' class="btn nh-btn-primary">Save</button>
    
                            </td>
                        </tr> -->
        </table>
        <div class="row">
          <div class="col-sm-12" *ngIf="this.id==0">
            <p class="text-right">
              <a [routerLink]="['/accountsrecivable/creditnotelist/0']" class="btn nh-btn-primary">Cancel</a>
              <button type="submit" (click)='saveData()' class="btn nh-btn-primary">Save</button>
            </p>
          </div>
          <div class="col-sm-12" *ngIf="this.id==1">
            <p class="text-right">
              <a [routerLink]="['/accountsrecivable/debitnotelist/1']" class="btn nh-btn-primary">Cancel</a>
              <button type="submit" (click)='saveData()' class="btn nh-btn-primary">Save</button>
            </p>
          </div>
          <div class="col-sm-12" *ngIf="this.id==2">
            <p class="text-right">
              <a [routerLink]="['/accountsrecivable/cashvoucherlist/2']" class="btn nh-btn-primary">Cancel</a>
              <button type="submit" (click)='saveData()' class="btn nh-btn-primary">Save</button>
            </p>
          </div>
          <div class="col-sm-12" *ngIf="this.id==3">
            <p class="text-right">
              <a [routerLink]="['/accountsrecivable/paymentvoucherlist/3']" class="btn nh-btn-primary">Cancel</a>
              <button type="submit" (click)='saveData()' class="btn nh-btn-primary">Save</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
