<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Setup Insurance Policy</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addTagstudentinsurance()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Student Name</label>
                      <!-- <select class="form-control" [(ngModel)]="tagstudentData.f050fidStudent" name="f050fidStudent"
                        value="" required #student="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indstudent of studentList" [value]="indstudent.f060fid">{{
                          indstudent.f060fname }}
                        </option>
                      </select> -->
                      <ng-select [items]="studentList | sort:'f060fname'" bindLabel="f060fname"
                        bindValue="f060fid" [(ngModel)]="tagstudentData.f050fidStudent" name="f050fidStudent"
                        #student="ngModel" required>
                      </ng-select>
                      <span *ngIf=" student.errors && (student.dirty || student.touched || f.submitted)" class="form-errors">*Select
                        Student Name.</span>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Due Date <span class="required-class">*</span></label>
                      <input type="Date" class="form-control" name="sdate" [(ngModel)]="tagstudentData.f050fdueDate"
                        value="" required #sdate="ngModel">
                      <span *ngIf=" sdate.errors && (sdate.dirty || sdate.touched || f.submitted)" class="form-errors">*Select
                        Due Date</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Policy Number<span class="required-class">*</span></label>
                      <input maxlength="10" class="form-control" name="Description" placeholder="Enter Policy Number"
                        [(ngModel)]="tagstudentData.f050fpolicyNo" value="" required #dec="ngModel">
                      <span *ngIf=" dec.errors && (dec.dirty || dec.touched || f.submitted)" class="form-errors">*Enter
                        the Policy Number.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Insurance<span class="required-class">*</span></label>
                      <!-- <select class="form-control" [(ngModel)]="tagstudentData.f050fidInsurance" name="f050fidInsurance"
                        value="" required #insurance="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indinsurance of studentinsuranceList" [value]="indinsurance.f099fid">{{
                          indinsurance.f099fname }}
                        </option>
                      </select> -->
                      <ng-select [items]="studentinsuranceList | sort: 'f099fname'" bindLabel="f099fname"
                        bindValue="f099fid" [(ngModel)]="tagstudentData.f050fidInsurance" name="f050fidInsurance"
                        #insurance="ngModel" required>
                      </ng-select>
                      <span *ngIf=" insurance.errors && (insurance.dirty || insurance.touched || f.submitted)" class="form-errors">*Select
                        Insurance.</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Student Status<span class="required-class">*</span></label>
                      <!-- <select class="form-control" [(ngModel)]="tagstudentData.f050ftaggingStatus" name="f050ftaggingStatus"
                        value="" #status="ngModel">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indstatus of statusList" [value]="indstatus.f011fid">{{
                          indstatus.f011fdefinitionCode }}
                        </option>
                      </select> -->
                      <ng-select [items]="statusList | sort: 'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                        bindValue="f011fid" [(ngModel)]="tagstudentData.f050ftaggingStatus" name="f050ftaggingStatus"
                        #status="ngModel" required>
                      </ng-select>
                      <span *ngIf=" status.errors && (status.dirty || status.touched || f.submitted)" class="form-errors">*Select
                          Student Status.</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div [className]="'active'"></div>
                      <label>Status</label>
                      <br>
                      <input type="radio" name="Status" [(ngModel)]="tagstudentData.f050fstatus" [checked]="tagstudentData.f050fstatus === '1'"
                        [value]="1"> Active
                      <br>
                      <input type="radio" name="Status" [(ngModel)]="tagstudentData.f050fstatus" [checked]="tagstudentData.f050fstatus === '0'"
                        [value]="0"> Inactive
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a [routerLink]="['/studentfinance/tagstudentinsurance']" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>