<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Receipt Non Invoice List</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Invoice Number</th>
                                <th>Invoice Type</th>
                                <th>Invoice Date</th>
                                <th>Customer</th>
                                <th>Amount</th>
                                <th>Approval Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indreceptnoninvoicelist of receiptnoninvoicelistList | filter : searchText ">
                                <td>{{indreceptnoninvoicelist.f071finvoiceNumber}}</td>
                                <td>{{indreceptnoninvoicelist.f071finvoiceType}}</td>
                                <td>{{indreceptnoninvoicelist.f071finvoiceDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indreceptnoninvoicelist.firstName}}</td>
                                <td class="amountAlign" >{{indreceptnoninvoicelist.f071finvoiceTotal | number: '.2'}}</td>
                                <td>{{indreceptnoninvoicelist.f055fapprovalStatus === 1?'Approved':'Not Approved'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountsrecivable/edit/{{indreceptnoninvoicelist.f076fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='receiptnoninvoicelistData()' class="btn nh-btn-primary">Approve</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>