<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Cash Advance Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCashadvances()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cash Advance Type<span class="required-class">*</span></label>
                                    <textarea type="text" maxlength="100" class="form-control" name="f051fdescription"
                                        placeholder="Enter Cash Advance Type" [(ngModel)]="cashadvancesData.f051fdescription"
                                        value="" required #From="ngModel"></textarea>
                                    <span *ngIf="From.errors && (From.dirty || From.touched || f.submitted )" class="form-errors">*Enter
                                        the Cash Advance Type.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fund <span class="required-class">*</span> </label>
                                    <ng-select [items]="fundList | sort: 'f057fcode'" bindLabel="f057fname" bindValue="f057fcode"
                                        [(ngModel)]="cashadvancesData.f051ffund" name="f051ffund" #fund="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                                        Fund</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Activity Code<span class="required-class">*</span> </label>
                                    <ng-select [items]="activitycodeList | sort: 'f058fcompleteCode'" bindLabel="f058fname"
                                        bindValue="f058fcompleteCode" [(ngModel)]="cashadvancesData.f051factivity" name="f051factivity"
                                        #activity="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" activity.errors && (activity.dirty || activity.touched || f.submitted)"
                                        class="form-errors">*Select
                                        Activity Code</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Code<span class="required-class">*</span> </label>
                                    <ng-select [items]="accountcodeList| sort: 'f059fcompleteCode'" bindLabel="f059fname"
                                        bindValue="f059fcompleteCode" [(ngModel)]="cashadvancesData.f051faccount" name="f051faccount"
                                        #acc="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" acc.errors && (acc.dirty || acc.touched || f.submitted)" class="form-errors">*Select
                                        Account Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="cashadvancesData.f051fstatus"
                                        [checked]="cashadvancesData.f051fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="cashadvancesData.f051fstatus"
                                        [checked]="cashadvancesData.f051fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/cashadvances/cashadvancetype']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>