<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Vendor Registration (Details)</h1>
        </div>
      </div>
      <div class="row" id="target">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Vendor Code</label>
                  <input type="text" class="form-control" readonly="readonly" name="f030fvendorCode" [(ngModel)]="vendorDataHeader.f030fvendorCode"
                    value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Company Name</label>
                  <input type="text" maxlength="65" class="form-control" name="f030fcompanyName" placeholder="Enter Company Name"
                    [(ngModel)]="vendorDataHeader.f030fcompanyName" value="">

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" maxlength="65" class="form-control" name="f030femail" placeholder="Enter Email"
                    [(ngModel)]="vendorDataHeader.f030femail" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address1</label>
                  <input type="text" maxlength="100" class="form-control" name="f030faddress1" placeholder="Enter Address"
                    [(ngModel)]="vendorDataHeader.f030faddress1" value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address2</label>
                  <input type="text" maxlength="100" class="form-control" name="f030faddress2" placeholder="Enter Address"
                    [(ngModel)]="vendorDataHeader.f030faddress2" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" maxlength="100" class="form-control" name="f030faddress3" placeholder="Enter Address"
                    [(ngModel)]="vendorDataHeader.f030faddress3" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" maxlength="100" class="form-control" name="f030faddress4" placeholder="Enter Address"
                    [(ngModel)]="vendorDataHeader.f030faddress4" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Country</label>
                  <select class="form-control" name="f030fcountry" [(ngModel)]="vendorDataHeader.f030fcountry" value="">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indcountry of countryList" [value]="indcountry.f013fid">{{
                      indcountry.f013fcountryName
                      }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>State </label>
                  <select class="form-control" name="f030fstate" [(ngModel)]="vendorDataHeader.f030fstate" value="">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indstate of stateList" [value]="indstate.f012fid">{{
                      indstate.f012fstateName
                      }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>City </label>
                  <input type="text" maxlength="40" class="form-control" name="f030fcity" placeholder="Enter City"
                    [(ngModel)]="vendorDataHeader.f030fcity" value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Post Code</label>
                  <input type="text" maxlength="20" class="form-control" name="f030fpostCode" placeholder="Enter Zip-Code"
                    [(ngModel)]="vendorDataHeader.f030fpostCode" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" maxlength="12" class="form-control" name="f030fphone" placeholder="Enter Phone"
                    [(ngModel)]="vendorDataHeader.f030fphone" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Fax</label>
                  <input type="text" maxlength="65" class="form-control" name="f030ffax" placeholder="Enter Fax"
                    [(ngModel)]="vendorDataHeader.f030ffax" value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Website</label>
                  <input type="text" maxlength="65" class="form-control" name="f030fwebsite" placeholder="Enter Email"
                    [(ngModel)]="vendorDataHeader.f030fwebsite" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Start Date</label>
                  <input type="date" class="form-control" name="f030fstartDate" [(ngModel)]="vendorDataHeader.f030fstartDate"
                    value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>End Date</label>
                  <input type="date" class="form-control" name="f030fendDate" [(ngModel)]="vendorDataHeader.f030fendDate"
                    value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="form-group">
                  <hr />Contact Person 1 (Details)
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Contact Person Name</label>
                  <input type="text" maxlength="65" class="form-control" name="f030fcontact1Name" placeholder="Enter Contact Officer"
                    [(ngModel)]="vendorDataHeader.f030fcontact1Name" value="" required #Contact="ngModel">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" maxlength="65" class="form-control" name="f030fcontact1Email" placeholder="Enter Email"
                    [(ngModel)]="vendorDataHeader.f030fcontact1Email" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" maxlength="12" class="form-control" name="f030fcontact1Phone" placeholder="Enter Phone"
                    [(ngModel)]="vendorDataHeader.f030fcontact1Phone" value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="form-group">
                  <hr />Contact Person 2 (Details)
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Contact Person Name</label>
                  <input type="text" maxlength="65" class="form-control" name="f030fcontactPerson2" placeholder="Enter Contact Officer"
                    [(ngModel)]="vendorDataHeader.f030fcontact2Name" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" maxlength="65" class="form-control" name="f030fcontact2Email" placeholder="Enter Email"
                    [(ngModel)]="vendorDataHeader.f030fcontact2Email" value="">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" maxlength="12" class="form-control" name="f030fcontact2Phone" placeholder="Enter Phone"
                    [(ngModel)]="vendorDataHeader.f030fcontact2Phone" value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="form-group">
                  <hr />Bank Information
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Bank Name</label>
                  <select class="form-control" [(ngModel)]="vendorDataHeader.f030fidBank" name="f030fidBank">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indbank of bankList" [value]="indbank.f042fid">{{
                      indbank.f042fbankName }}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Bank Account Number</label>
                  <input type="text" maxlength="65" class="form-control" name="f030faccountNumber" placeholder="Enter Email"
                    [(ngModel)]="vendorDataHeader.f030faccountNumber" value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="form-group">
                  <hr />License (Details)
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-striped table-food">
                    <thead>
                      <tr>
                        <th style='width:266px;'>License</th>
                        <th style='width:266px;'>Expired Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indinv of licenseDataList;let i = index;trackBy:indexTracker">
                        <td>
                          <select class="form-control" style="width: 250px" [ngModel]="licenseDataList[i].f031fidLicense"
                            name="f031fidLicense">
                            <option [ngValue]="undefined" hidden selected> -- select-- </option>
                            <option *ngFor="let indLicense of licenseList" [value]="indLicense.f091fid">{{
                              indLicense.f091flicense }}</option>
                          </select>
                        </td>
                        <td>
                          <input type="date" class="form-control" name="f031fexpireDate" [ngModel]="licenseDataList[i].f031fexpireDate"
                            value="">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <select class="form-control" style="width: 250px" [(ngModel)]="vendorLicenseData.f031fidLicense"
                            name="f031fidLicense">
                            <option [ngValue]="undefined" hidden selected> -- select-- </option>
                            <option *ngFor="let indLicense of licenseList" [value]="indLicense.f091fid">{{
                              indLicense.f091flicense }}</option>
                          </select>
                        </td>
                        <td>
                          <input type="date" class="form-control" name="f031fexpireDate" [(ngModel)]="vendorLicenseData.f031fexpireDate"
                            value="">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a target="_blank" (click)="download(vendorDataHeader.f030ffile)" class="btn btn-success" style="float:left;">View
                  Payment</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/procurement/supplierapproval']" class="btn um-btn-primary">Back</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>