<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Bill Registration Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="billregistrationapprovalList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f091freferenceNumber">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f091ftotalAmount">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f091fcreatedDate">Created Date</mfDefaultSorter>
                                </th>
                                <th>
                                    Approve/Reject
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbillapproval of  mf.data">
                                <td>{{indbillapproval.f091freferenceNumber}}</td>
                                <td class="amountAlign">{{indbillapproval.f091ftotalAmount | number: '.2' }}</td>
                                <td>{{indbillapproval.f091fcreatedDate | date: 'dd/MM/yyyy'}}</td>
                                <td> <input type="checkbox" [(ngModel)]="indbillapproval.f091fapprovedStatus">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="billregistrationapprovalData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='billregistrationapprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='billregApprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>