<div class="ps-right-section">

    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">KWAP</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <form (ngSubmit)="f.form.valid && addKwap()" #f="ngForm" name="form" novalidate>
              <div class="row">
                
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Effective Date<span class="required-class">*</span></label>
                    <input type="date" class="form-control" [(ngModel)]="kwapData.f102feffectiveDate" style="text-align: right"
                    name="f102feffectiveDate" required #effdate="ngModel">
                    <span *ngIf="effdate.errors && (effdate.dirty || effdate.touched || f.submitted )" class="form-errors">*Select
                      Effective Date.</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>KWAP(%)<span class="required-class">*</span></label>
                    <input type="text" maxlength="5" class="form-control" style="text-align: right" name="f102fkwapPercentage"
                      placeholder="Enter KWAP(%)" [(ngModel)]="kwapData.f102fkwapPercentage" value="" required
                      #per="ngModel">
                    <span *ngIf="per.errors && (per.dirty || per.touched || f.submitted )" class="form-errors">*Enter
                      the KWAP(%).</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
  
                    <a [routerLink]="['/payroll/kwap']" class="btn nh-btn-secondary">Cancel</a>
  
                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>