<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">PreOrder Stock Setup</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/assets/addnewpreorderlevelsetup']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="preorderList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f098fkodStock">Code Stock</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="categoryCode">Asset Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="subcode">Sub Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="itemCode">Asset Item</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f098fpreOrderLevel">PreOrder Level</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f098fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indpreorder of mf.data ">
                <td>{{indpreorder.f098fkodStock}}</td>
                <td>{{indpreorder.categoryCode}}</td>
                <td>{{indpreorder.subcode}}</td>
                <td>{{indpreorder.itemCode}}</td>
                <td>{{indpreorder.f098fpreOrderLevel}}</td>
                <td>{{indpreorder.f098fstatus == '1'?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/assets/editpreorderlevelsetup/{{indpreorder.f098fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>