<app-header></app-header>
<section class="ps-main-section">
    <div class="ps-left-navbar">
        <ul class="ps-left-navbar-menu">
            <li class="ps-left-navbar-item">
                <a href="/voucher/credit/contra">Contra</a>
            </li>
            <li class="ps-left-navbar-item">
                <a href="/voucher/credit/creditnote">Credit Note</a>
            </li>
            <li class="ps-left-navbar-item">
                <a href="/voucher/credit/debitnote">Debit Note</a>
            </li>
            <li class="ps-left-navbar-item">
                <a href="/voucher/credit/journal">Journal</a>
            </li>
            <li class="ps-left-navbar-item">
                <a href="/voucher/credit/optional">Optional</a>
            </li>
            <li class="ps-left-navbar-item">
                <a href="/voucher/credit/payment">Payment</a>
            </li>
            <li class="ps-left-navbar-item">
                <a href="/voucher/credit/purchase">Purchase</a>
            </li>
            <li class="ps-left-navbar-item">
                <a href="/voucher/credit/purchasereturn">Purchase Return</a>
            </li>
            <li class="ps-left-navbar-item">
                <a href="/voucher/credit/sales">Sales</a>
            </li>
            <li class="ps-left-navbar-item">
                    <a href="/voucher/credit/salesreturn">Sales Return</a>
                </li>
                <li class="ps-left-navbar-item">
                    <a href="/voucher/voucherlist">Voucher List</a>
                </li>
        </ul>
    </div>
</section>

<router-outlet></router-outlet>
<app-footer></app-footer>