<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Revenue Item Type</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                            <form (ngSubmit)="f.form.valid && addRevenueitem()" #f="ngForm" name="form" novalidate>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Name<span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f036fname" placeholder="Enter Name" [(ngModel)]="revenueitemData.f036fname" 
                                    value=""  required #name="ngModel">
                                    
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> GlCode<span class="required-class">*</span></label>
                                    <select class="form-control" [(ngModel)]="revenueitemData.f036fidGlcode" name="f036fidGlcode">
                                            <option *ngFor="let indglcode of glCodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode }}</option>
                                          </select>  
                                </div>
                            </div>
                         <div class="col-sm-6">
                                <div class="form-group">
                                      <div [className]="'active'"></div> 
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="revenueitemData.f036fstatus" [checked]="revenueitemData.f036fstatus === '1'" [value]="1">  Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="revenueitemData.f036fstatus" [checked]="revenueitemData.f036fstatus === '0'" [value]="0">  Inactive
                                    <br>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/accountsrecivable/revenueitemtype" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>