<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title"> Sponsor Credit Note Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group um-search-wrapper">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="creditnoteApprovalList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f061freferenceNumber">Credit Note Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f061fvoucherType">Voucher Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f061fdate">Voucher Date</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="firstName">Customer</mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter by="f061ftotalAmount">Invoice Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ApprovalStatus">Approve/Reject</mfDefaultSorter>
                                </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indcreditnoteapproval of mf.data">
                                <td>{{indcreditnoteapproval.f061freferenceNumber }}</td>
                                <td>{{indcreditnoteapproval.f061fvoucherType}}</td>
                                <td>{{indcreditnoteapproval.f071finvoiceNumber}}</td>
                                <td>{{indcreditnoteapproval.f061fdate | date: 'MM/dd/yyyy'}}</td>
                                <!-- <td>{{indcreditnoteapproval.fullName}}</td> -->
                                <td class="amountAlign">{{indcreditnoteapproval.f061ftotalAmount | number: '.2'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indcreditnoteapproval.ApprovalStatus">
                                </td>
                                <td>
                                    <div class="nh-btn-group">
                                        <a routerLink="/accountsrecivable/viewsponsorcreditnote/{{indcreditnoteapproval.f061fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="invoiceapprovalData.reason" name="reason"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" (click)='ApprovalListData()' class="btn nh-btn-primary">Approve</button>
                        <button type="reject" (click)='regectJournalApprovalListData()' class="btn nh-btn-primary">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>