<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">{{typeText}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="applyloanapprovalList| filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f043freferenceNumber">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fmanufacturer">Applicant Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fapplyDate">Receipt Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f043fapplyDate">Receipt Amount</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f044fstatus">Status</mfDefaultSorter>
                                </th>
                                <td *ngIf="level==9">
                                    Edit
                                </td>
                                <th>Approve</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indapplyloan of mf.data">
                                <td>{{indapplyloan.f052fcashAdvance}}</td>
                                <td>{{indapplyloan.staffName}}</td>
                                <td>{{indapplyloan.f052freceiptNo}}</td>
                                <td class="amountAlign">{{indapplyloan.f052freceiptAmount | number: '.2'}}</td>
                                <td>{{indapplyloan.f052fstatus == '1'?'Approved':'Pending '}}</td>
                                <td>
                                    <a routerLink="/cashadvances/addcashdeclaration/{{indapplyloan.f052fidDeclare}}/2">View</a>
                                    &nbsp;
                                    &nbsp;
                                    <input type="checkbox" [(ngModel)]="indapplyloan.fapprovalStatus">
                                </td>
                                <td class="actions-col" *ngIf="level==9">
                                    <div class="nh-btn-group">
                                        <a routerLink="/loan/editvehicleloan/{{indapplyloan.f043fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="col-sm-12">
                        <label>Reason </label>
                        <textarea class="form-control" name="reason" [(ngModel)]="applyloanapprovalData.reason"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='applyloanapprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="submit" (click)='applyloanRejectListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>