<!-- <div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Voucher List</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Account Number</label>
                                    <input type="text" class="form-control" name="Account Number" placeholder="Enter Account Number" [(ngModel)]="voucherlistData.f031faccount_number" value="" required>
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Voucher Number</label>
                                    <input type="text" class="form-control" name="Voucher Number" placeholder="Enter Voucher Number"[(ngModel)]="voucherlistData.f031fvoucher_number" value="">
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Reference Number</label>
                                    <input type="text" class="form-control" name="ReferenceNumber" placeholder="Enter Reference Number" [(ngModel)]="voucherlistData.f031fref_number" value="" required>
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Voucher Type</label>
                                    <input type="text" class="form-control" name="VoucherType" placeholder="Enter Voucher Type" [(ngModel)]="voucherlistData.f031fvoucher_type" value="" required>
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Voucher Date</label>
                                    <input type="date" class="form-control" name="VoucherDate" placeholder="Enter Voucher Date" [(ngModel)]="voucherlistData.f031fvoucher_date" value="" required>
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Amount Type</label>
                                    <input type="text" class="form-control" name="AmountType" placeholder=" Enter Amount Type" [(ngModel)]="voucherlistData.f031famount_type" value="" required>
                                </div>
                            </div>
                        
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Voucher Days</label>
                                    <input type="text" class="form-control" name="Voucher Days" placeholder=" Enter Voucher Days" [(ngModel)]="voucherlistData.f031fvoucher_days" value="" required>
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Voucher Amount</label>
                                    <input type="text" class="form-control" name="VoucherAmount" placeholder=" Enter Voucher Amount" [(ngModel)]="voucherlistData.f031fvoucher_amount" value="" required>
                                </div>
                            </div>
                      
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Bank Name</label>
                                        <input type="text" class="form-control" name="BankName" placeholder=" Enter Bank Name" [(ngModel)]="voucherlistData.f031fbank_name" value="" required>
                                    </div>
                                </div>
                        
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Cheque Number</label>
                                        <input type="text" class="form-control" name="Cheque Number" placeholder=" Enter Cheque Number" [(ngModel)]="voucherlistData.f031fcheque_number" value="" required>
                                    </div>
                                </div>
                           
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Payment Type</label>
                                        <input type="text" class="form-control" name="PaymentType" placeholder=" Enter Payment Type" [(ngModel)]="voucherlistData.f031fpayment_type" value="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                      <div [className]="'active'"></div> 
                                    <label>Approved Status</label>
                                    <br>
                                    <input type="radio" name="ApprovedStatus" [(ngModel)]="voucherlistData.f031fapproved_status" [checked]="voucherlistData.f031fapproved_status === '1'" [value]="1">  Active
                                    <br>
                                    <input type="radio" name="ApprovedStatus" [(ngModel)]="voucherlistData.f031fapproved_status" [checked]="voucherlistData.f031fapproved_status === '0'" [value]="0">  Inactive
                                    <br>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                      <div [className]="'active'"></div> 
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="voucherlistData.f031fstatus" [checked]="voucherlistData.f031fstatus === '1'" [value]="1">  Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="voucherlistData.f031fstatus" [checked]="voucherlistData.f031fstatus === '0'" [value]="0">  Inactive
                                    <br>
                                </div>
                          
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/voucher/voucherlist" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='addVoucherlist()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->