<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Loan Deduction Ratio</h1>
                </div>
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addInsurancecompany()" #f="ngForm" name="form" novalidate
                    id="target1">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Deduction Ratio<span class="required-class">*</span></label>
                                <input type="text" maxlength="50" class="form-control" placeholder="Product Name"
                                        [(ngModel)]="loanDeductionRatioArray.f131fdeductionPercentage"
                                        name="f131fdeductionPercentage" value="" (keypress)="onlyNumberKey($event)">

                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <p class="text-right">
                                <a routerLink="/loan/loandegradation" class="btn nh-btn-secondary">Cancel</a>
                                <button type="submit" (click)='saveLoanDeductionRatio()'
                                    class="btn nh-btn-primary">Save</button>
                            </p>
                        </div>
                    
                </form>
                </div>
            </div>
            
        </div>
    </div>
</div> 