<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;padding-bottom: 80px">
      <div class="row" id="target">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview==2">GRN Approval</h1>
          <h1 class="ad-page-title" *ngIf="idview!=2">GRN</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4" *ngIf="id > 0 || idview==2">
              <div class="form-group">
                <label>Reference Number</label>
                <input type="text" readonly="readonly" class="form-control" [(ngModel)]="grnDataheader.f034freferenceNumber"
                  name="f034freferenceNumber">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Order Type</label>
                <ng-select [disabled]="viewDisabled" [items]="orderList " bindLabel="name" bindValue="name" [(ngModel)]="grnDataheader.f034forderType"
                  name="f034forderType" (change)="getPurchaseId()">
                </ng-select>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Ordered Date</label>
                <input disabled="disabled" type="date" class="form-control" name="f034forderDate" readonly="readonly"
                  [(ngModel)]="grnDataheader.f034forderDate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Purchase Order Id </label>
                <ng-select [disabled]="viewDisabled" [items]="PoIdList" bindLabel="f034freferenceNumber"
                  bindValue="f034fid" [(ngModel)]="grnDataheader.f034fidPurchaseOrder" readonly="readonly" name="f034fidPurchaseOrder"
                  (change)="getPurchaseOrderDetails()">
                </ng-select>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Department<span class="required-class">*</span></label>
                <ng-select  [disabled]="viewDisabled"  [items]="departmentList" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                  [(ngModel)]="grnDataheader.f034fidDepartment" name="f034fidDepartment" (change)="getDepartment()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Financial Year </label>
                <ng-select disabled="disabled" [items]="financialList" bindLabel="f015fname" bindValue="f015fid"
                  readonly="readonly" [(ngModel)]="grnDataheader.f034fidFinancialyear" name="f034fidFinancialyear"
                  (change)="getAllpurchaseGlList()">
                </ng-select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Vendor </label>
                <ng-select disabled="disabled" [items]="supplierList " bindLabel="f030fcompanyName" bindValue="f030fid"
                  readonly="readonly" [(ngModel)]="grnDataheader.f034fidSupplier" name="f034fidSupplier">
                </ng-select>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Expired Date</label>
                <input disabled="disabled" type="date" class="form-control" name="f034fexpiredDate" readonly="readonly"
                  [(ngModel)]="grnDataheader.f034fexpiredDate" value="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description </label>
                <textarea disabled="viewDisabled" type="text" class="form-control" name="f034fdescription" [(ngModel)]="grnDataheader.f034fdescription"
                  value="" placeholder="Enter Description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount (RM)</label>
                <input type="text" class="form-control" style="text-align: right" name="f034ftotalAmount" readonly="readonly"
                  [(ngModel)]="grnDataheader.f034ftotalAmount " placeholder="Amount" (blur)="onBlurMethod()" readonly="readonly">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Rating *</label>
                <ng-select [disabled]="viewDisabled" [items]="ratingList " bindLabel="name1" bindValue="name1"
                  [(ngModel)]="grnDataheader.f034frating" name="f034frating">
                </ng-select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div id="overlay1"></div>
              <div id="myModal" class=" fade in" role="dialog">
                <div class="modal-content">
                  <p class="maximize-icon">
                    <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                  </p>
                  <p class="minimize-icon hidden">
                    <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                  </p>
                  <div class="modal-body">
                    <div class="table-responsive credit-note-table-wrapper">
                      <table class="table table-bordered table-striped table-food" id="target1">
                        <thead>
                          <tr>
                              <th>Category</th>
                              <th>Sub Category</th>
                            <th>Item</th>
                            <th>Asset Code</th>
                            <th colspan="4" style="text-align:center">GL Code</th>
                            <th colspan="4" style="text-align:center">Budget Code</th>
                            <th>SO Code</th>
                            <th>Required Date</th>
                            <th>Quantity pre-registered</th>
                            <th>UOM</th>

                            <!-- <th>Price (RM)</th>
                            <th>Total (RM)</th>
                            <th>Tax Code</th>
                            <th>In %</th>
                            <th>Tax Amount (RM)</th>
                            <th>Total Inc Tax (RM)</th> -->
                            <th>Quantity Recieved</th>
                            <th>Balance Quantity</th>
                          </tr>

                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Fund</th>
                            <th>Activity Code</th>
                            <th>Cost Center</th>
                            <th>Account Code</th>
                            <th>Fund</th>
                            <th>Activity Code</th>
                            <th>Cost Center</th>
                            <th>Account Code</th>
                            <th></th>
                            <th> </th>
                            <th> </th>
                            <!-- <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th> -->
                            <!-- <th></th> -->
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let indinv of grnList;let i = index;trackBy:indexTracker;last as isLast">
                           
                              <td>
                                  <input type="text" maxlength="10" readonly="readonly"  style="width: 150px" class="form-control"
                                  name="categoryName" [(ngModel)]="grnList[i].categoryName" placeholder="UOM">
                                </td>
                                <td>
                                  <input type="text" maxlength="10" readonly="readonly" style="width: 150px" class="form-control"
                                  name="subCategoryName" [(ngModel)]="grnList[i].subCategoryName" placeholder="UOM">
                                </td>
                               
                                <td>
                                  <input type="text" maxlength="10" readonly="readonly" style="width: 150px"  class="form-control"
                                  name="itemName" [(ngModel)]="grnList[i].itemName" placeholder="UOM">
                                </td>
                                <td>
                                    <input type="text" maxlength="10" readonly="readonly"  style="width: 150px" class="form-control"
                                    name="f034fassetCode" [(ngModel)]="grnList[i].f034fassetCode" placeholder="Asset Code">
                                  </td>

                                  
                          
                          
                            <td>
                              <ng-select disabled="disabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="grnList[i].f034ffundCode" name="f034ffundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select disabled="disabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="grnList[i].f034factivityCode"
                                name="f034factivityCode"> </ng-select>
                            </td>
                            <td>
                              <ng-select disabled="disabled" [items]="costCenterList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="grnList[i].f034fdepartmentCode" name="f034fdepartmentCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select disabled="disabled" [items]="accountcodeList | sort:'f059fcompleteCode'" style="width: 150px;"
                                bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="grnList[i].f034faccountCode"
                                name="f034faccountCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select disabled="disabled" [items]="costCenterFund | sort:'originalName'" style="width: 150px;"
                                bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="grnList[i].f034fbudgetFundCode"
                                name="f034fbudgetFundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select disabled="disabled" [items]="costCenterActivity | sort:'originalName'" style="width: 150px;"
                                bindLabel="originalName" bindValue="f058fcompleteCode" [(ngModel)]="grnList[i].f034fbudgetActivityCode"
                                name="f034fbudgetActivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select disabled="disabled" [items]="budgetcostcenterList | sort:'originalName'" style="width: 150px;"
                                bindLabel="originalName" bindValue="f015fdepartmentCode" [(ngModel)]="grnList[i].f034fbudgetDepartmentCode"
                                name="f034fbudgetDepartmentCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select disabled="disabled" [items]="costCenterAccount | sort:'originalName'" style="width: 150px;"
                                bindLabel="originalName" bindValue="f059fcompleteCode" [(ngModel)]="grnList[i].f034fbudgetAccountCode"
                                name="f034fbudgetAccountCode">
                              </ng-select>
                            </td>
                            <td>
                              <input disabled="disabled" type="text" style="width: 75px" maxlength="10" class="form-control"
                                name="f034fsoCode" [(ngModel)]="grnList[i].f034fsoCode">
                            </td>
                            <td>
                              <input disabled="disabled" type="date" class="form-control" [(ngModel)]="grnList[i].f034frequiredDate"
                                style="text-align: right" name="f034frequiredDate">
                            </td>
                            <td>
                              <input disabled="disabled" type="text" maxlength="10" style="width: 75px" class="form-control"
                                name="f034fquantity" (keypress)="onlyNumberKey($event)" (change)="listamountprefill()"
                                [(ngModel)]="grnList[i].f034fquantity">
                            </td>
                            <td>
                                <input disabled="disabled" type="text" maxlength="10" style="width: 95px" class="form-control"
                                  name="f034funit" [(ngModel)]="grnList[i].f034funit" placeholder="UOM">
                              </td>
                            <td style="display:none;">
                              <input [disabled]="viewDisabled" type="text" maxlength="10" style="text-align: right; width: 95px"
                                class="form-control" name="f034fprice" (keypress)="onlyNumberKey($event)" (change)="listamountprefill()"
                                [(ngModel)]="grnList[i].f034fprice" placeholder="Price">
                            </td>

                            <td style="display:none;"><input type="text" maxlength="15" class="form-control" readonly="readonly" style="text-align: right; width: 120px"
                                name="f034total" (keypress)="onlyNumberKey($event)" (blur)="onBlurMethod()" [(ngModel)]="grnList[i].f034total"
                                placeholder="Total">
                            </td>
                            <td style="display:none;">
                              <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'originalname'" style="width: 150px;"
                                bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="grnList[i].f034ftaxCode" name="f034ftaxCode">
                              </ng-select>
                            </td>
                            <td style="display:none;">
                              <input type="text" readonly="readonly" maxlength="15" style="width: 65px" class="form-control"
                                name="f034fpercentage" [(ngModel)]="grnList[i].f034fpercentage" (keypress)="onlyNumberKey($event)"
                                (blur)="onBlurMethod()" placeholder="" value="">
                            </td>
                            <td style="display:none;"><input type="text" maxlength="15" class="form-control" readonly="readonly" style="text-align: right; width: 120px"
                                name="f034ftaxAmount" (keypress)="onlyNumberKey($event)" (blur)="onBlurMethod()"
                                [(ngModel)]="grnList[i].f034ftaxAmount" placeholder="Tax Amount" value="">
                            </td>
                            <td style="display:none;">
                              <input type="text" disabled="disabled" maxlength="10" readonly="readonly" class="form-control"
                                name="f034ftotalIncTax" style="text-align: right;width: 130px" [(ngModel)]="grnList[i].f034ftotalIncTax"
                                (blur)="onBlurMethod()" placeholder="Total" value="">
                            </td>
                            <td>
                              <input type="text" [disabled]="viewDisabled" maxlength="10" style="width: 75px" class="form-control"
                                name="f034fquantityReceived" (keypress)="onlyNumberKey($event)" [(ngModel)]="grnList[i].f034fquantityReceived"  (blur)="checkBalance(i)">
                            </td>
                            <td>
                              <input type="text" [disabled]="true" maxlength="10" style="width: 75px" class="form-control"
                                name="f034fbalanceQuantity" (keypress)="onlyNumberKey($event)" [(ngModel)]="grnList[i].f034fbalanceQuantity">
                            </td>
                            <!-- <td *ngIf="!isLast">
                              <button class="btn nh-btn-primary" type="button" (click)='deleteEntry(grnList[i])' *ngIf="viewDisabled==false">
                                <i class="fa fa-minus"></i>
                              </button>
                            </td> -->
                            <!-- <td *ngIf="isLast">
                              <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteEntry(grnList[i])'>
                                <i class="fa fa-minus"></i>
                              </button>
                              <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                <i class="fa fa-plus"></i>
                              </button>
                            </td> -->
                          </tr>
                          <tr *ngIf="showLastRow==false">
                            <td>
                              <ng-select [items]="typeItemList | sort:'name'" style="width: 150px;" bindLabel="name"
                                bindValue="name" [(ngModel)]="grnData.f034ftypeOfItem" name="f034ftypeOfItem">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'item_name'" readonly="readonly"
                                style="width: 150px;" bindLabel="item_name" bindValue="item_id" [(ngModel)]="grnData.f034fidItem"
                                name="f034fidItem" (change)="getUOM()">
                              </ng-select>
                            </td>
                            <td>
                              <input type="text" maxlength="10" readonly="readonly" style=" width: 95px" class="form-control"
                                name="f034funit" [(ngModel)]="grnData.f034funit" placeholder="UOM">
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="grnData.f034ffundCode" name="f034ffundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="grnData.f034factivityCode"
                                name="f034factivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="grnData.f034fdepartmentCode" name="f034fdepartmentCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="grnData.f034faccountCode"
                                name="f034faccountCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterFund | sort:'originalName'" style="width: 150px;"
                                bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="grnData.f034fbudgetFundCode"
                                name="f034fbudgetFundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'originalName'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f058fcompleteCode"
                                [(ngModel)]="grnData.f034fbudgetActivityCode" name="f034fbudgetActivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'originalName'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="grnData.f034fbudgetDepartmentCode" name="f034fbudgetDepartmentCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'originalName'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f059fcompleteCode"
                                [(ngModel)]="grnData.f034fbudgetAccountCode" name="f034fbudgetAccountCode">
                              </ng-select>
                            </td>
                            <td>
                              <input type="text" style="width: 75px" class="form-control" maxlength="10" name="f034fsoCode"
                                [(ngModel)]="grnData.f034fsoCode">
                            </td>
                            <td>
                              <input [disabled]="viewDisabled" type="date" class="form-control" [(ngModel)]="grnData.f034frequiredDate"
                                style="text-align: right" name="f034frequiredDate">
                            </td>
                            <td>
                              <input type="text" maxlength="10" style="width: 75px" class="form-control" name="f034fquantity"
                                (keypress)="onlyNumberKey($event)" [(ngModel)]="grnData.f034fquantity" (blur)="amountprefill()">
                            </td>
                            <td>
                              <input type="text" maxlength="10" style="text-align: right; width: 95px" class="form-control"
                                name="f034fprice" (keypress)="onlyNumberKey($event)" (blur)="amountprefill()"
                                [(ngModel)]="grnData.f034fprice" placeholder="Price">
                            </td>
                            <td><input type="text" maxlength="15" readonly="readonly" class="form-control" style="text-align: right; width: 120px"
                                name="f034total" [(ngModel)]="grnData.f034total" (keypress)="onlyNumberKey($event)"
                                placeholder="Total">
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'originalname'" style="width: 150px;"
                                bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="grnData.f034ftaxCode" (change)="getGstvalue()"
                                name="f034ftaxCode">
                              </ng-select>
                            </td>
                            <td>
                              <input readonly="readonly" type="text" maxlength="15" style="width: 65px" class="form-control"
                                name="f034fpercentage" [(ngModel)]="grnData.f034fpercentage" (keypress)="onlyNumberKey($event)"
                                placeholder="" value="">
                            </td>
                            <td><input [disabled]="viewDisabled" type="text" maxlength="15" style="text-align: right; width: 120px"
                                name="f034ftaxAmount" (keypress)="onlyNumberKey($event)" (blur)="onBlurMethod()"
                                readonly="readonly" [(ngModel)]="grnData.f034ftaxAmount" placeholder="Tax Amount" value="">
                            </td>
                            <td>
                              <input type="text" disabled="disabled" maxlength="10" class="form-control" name="f034ftotalIncTax"
                                style="text-align: right;width: 130px" [(ngModel)]="grnData.f034ftotalIncTax" readonly="readonly"
                                placeholder="Total">
                            </td>
                            <td>
                              <input type="text" [disabled]="viewDisabled" maxlength="10" style="width: 75px" class="form-control"
                                name="f034fquantityReceived" (keypress)="onlyNumberKey($event)" [(ngModel)]="grnData.f034fquantityReceived">
                            </td>


                            <td>
                              <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                <i class="fa fa-minus"></i>
                              </button>
                              <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addEntrylist()'>
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>

                          </tr>
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/procurement/grn" class="btn nh-btn-secondary" *ngIf="idview!=2">Cancel</a>
                <a routerLink="/procurement/grnapproval" class="btn nh-btn-secondary" *ngIf="idview==2">Cancel</a>
                <button type="submit" (click)='saveGrn()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
            </div>
          </div>
          <div class="row" *ngIf="idview==2">
            <div class="col-sm-12">
              <label>Description </label>
              <textarea class="form-control" [(ngModel)]="approvalData.reason" name="reason" placeholder="Enter the Description "></textarea>
            </div>
          </div>
          <div class="row" *ngIf="idview==2">
            <div class="col-sm-12">
              <p class="text-right">
                <button type="button" (click)='GrnapprovalListData()' class="btn nh-btn-primary">Approve</button>
                <button type="reject" (click)='regectApprovalListData()' class="btn nh-btn-primary">Reject</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>