<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Virement</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a routerLink="/budget/addnewbudgetvirement" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetvirementList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="financialYear">Budget Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f056ffromFundCode">From Fund</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="department">From Cost Center</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f056fapproval"> Status</mfDefaultSorter>
                                </th>
                                <th>Edit/View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetvirement of mf.data ">
                                <td>{{indbudgetvirement.financialYear}}</td>
                                <td> {{indbudgetvirement.fundName}}</td>
                                <td>{{indbudgetvirement.department}}</td>
                                <td>{{indbudgetvirement.f056fapproval}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/editbudgetvirement/{{indbudgetvirement.f056fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye" *ngIf="indbudgetvirement.f056fapproval  == 'Approved'"></i>
                                                <i class="fa fa-edit" *ngIf="indbudgetvirement.f056fapproval  == 'Pending'"></i>
                                                <i class="fa fa-eye" *ngIf="indbudgetvirement.f056fapproval  == 'Rejected'"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>