<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Revenue Category</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewcategories']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="categoriesList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <!-- <th>
                  <mfDefaultSorter by="f073frevenueCode">Revenue Code</mfDefaultSorter>
                </th> -->
                <th>
                  <mfDefaultSorter by="f073fcode">Prefix Code</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f073fcategoryName">Description</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Tax">Account Code</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f073fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indcategories of mf.data">
                <!-- <td>{{indcategories.f073frevenueCode}}</td> -->
                <td>{{indcategories.f073fcode}}</td>
                <td>{{indcategories.f073fcategoryName}}</td>
                <td>{{indcategories.Tax}}</td>
                <td>{{indcategories.f073fstatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/editcategories/{{indcategories.f073fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>