<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/levelone']">
                                    Group Object </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/leveltwo']">
                                    Specific Object </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/generalsetup/levelthree']">
                                    Detail Object </a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title"> Detail Object</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <!-- <div class="col-sm-12"> -->

                    <thead>
                        <tr>
                            <th>Group Category</th>
                            <th>Account Detail Sub Category</th>
                            <th>Account Detail Category Code</th>
                            <th>Account Detail Description</th>
                            <th>Display</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- </div> -->
                    <tbody>
                        <tr *ngFor="let indlevelthree of levelthreeList; let i = index">
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="levelone" placeholder="Level One"
                                    [ngModel]="levelone" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" readonly="readonly" name="leveltwo" placeholder="level Two"
                                    [ngModel]="leveltwo" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" maxlength="3" name="f059fcode" placeholder="Enter the Account Detail Category Code"
                                    (keypress)="onlyNumberKey($event)" [(ngModel)]="levelthreeList[i].f059fcode" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="f059fname" placeholder="Enter the Account Detail Description"
                                    [(ngModel)]="levelthreeList[i].f059fname" value="">
                            </td>

                            <td>
                               
                                <input [disabled]="editDisabled" type="radio" name="f059fstatus{{i}}" [(ngModel)]="levelthreeList[i].f059fstatus"
                                    [checked]="levelthreeList[i].f059fstatus === '1'" [value]="1"> Yes

                                <input [disabled]="editDisabled" type="radio" name="f059fstatus{{i}}" [(ngModel)]="levelthreeList[i].f059fstatus"
                                    [checked]="levelthreeList[i].f059fstatus === '0'" [value]="0"> No
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" maxlength="100" class="form-control" readonly="readonly" name="levelone"
                                    placeholder="Enter Level One" [(ngModel)]="levelone" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="form-control" readonly="readonly" name="leveltwo"
                                    placeholder="Enter Level Two" [(ngModel)]="leveltwo" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="form-control" maxlength="3" name="f059fcode"
                                    placeholder="Enter the Account Detail Category Code" (keypress)="onlyNumberKey($event)"
                                    [(ngModel)]="levelthreeData.f059fcode" value="">
                            </td>
                            <td>
                                <input type="text" maxlength="100" class="form-control" name="f059fname" placeholder="Enter the Account Detail Category Code"
                                    [(ngModel)]="levelthreeData.f059fname" value="">
                            </td>
                            <td>
                               
                                <input [disabled]="editDisabled" type="radio" name="f059fstatus{{i}}" [(ngModel)]="levelthreeData.f059fstatus"
                                    [checked]="levelthreeData.f059fstatus === '1'" [value]="1"> Yes
                                
                                <input [disabled]="editDisabled" type="radio" name="f059fstatus{{i}}" [(ngModel)]="levelthreeData.f059fstatus"
                                    [checked]="levelthreeData.f059fstatus === '0'" [value]="0"> No
                            </td>
                            <td>
                                <!-- <input type="button" name="add" (click)='addLevelthree()' value='ADD' class="btn nh-btn-primary" /> -->
                                <button class="btn nh-btn-primary" type="button" (click)='addLevelthree()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/generalsetup/levelthree" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveLevelthree()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>