<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Refund Information</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewbondinformation']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="bondinformationList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f060fname">Student Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="indbondinfo">Refund Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f071finvoiceDate">Invoice Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f066fname">Fee Item</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f065freturnDate">Refund Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f065fstatus">Status</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbondinfo of mf.data ">
                                <td>{{indbondinfo.f060fname}}</td>
                                <td>{{indbondinfo.f071finvoiceNumber}}</td>
                                <td class="amountAlign">{{indbondinfo.f065famount | number: '.2'}}</td>
                                <td>{{indbondinfo.f071finvoiceDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indbondinfo.f066fname}}</td>
                                <td>{{indbondinfo.f065freturnDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indbondinfo.f065fstatus == 1?'Approved':'Pending'}}</td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>