<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Allocation</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a routerLink="/budget/addnewbudgetactivities" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetactivitiesList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f110fyear">Budget Year</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fundName">Fund</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f015fdepartmentName">Cost Center</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f054ftotalAmount">Budget Allocated Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f054fapprovalStatus"> Status</mfDefaultSorter>
                                </th>
                                <th>Edit / View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetactivities of mf.data">
                                <td>{{indbudgetactivities.f110fyear}}</td>
                                <td>{{indbudgetactivities.fundName}}</td>
                                <td>{{indbudgetactivities.f015fdepartmentCode}} -
                                    {{indbudgetactivities.f015fdepartmentName}}</td>
                                <td class="amountAlign">{{indbudgetactivities.f054ftotalAmount | number: '.2'}}</td>
                                <td>{{indbudgetactivities.f054fapprovalStatus}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/budget/editbudgetactivities/{{indbudgetactivities.f054fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye" *ngIf="indbudgetactivities.f054fapprovalStatus  == 'Approved'"></i>
                                                <i class="fa fa-edit" *ngIf="indbudgetactivities.f054fapprovalStatus  == 'Pending'"></i>
                                                <i class="fa fa-eye" *ngIf="indbudgetactivities.f054fapprovalStatus  == 'Rejected'"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>