<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Monthly Deduction</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/payroll/addnewmonthlydeduction']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="monthlyDeductionList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>

                <th>
                  <mfDefaultSorter by="f082fidStaff">Staff Name</mfDefaultSorter>
                </th>
                <!-- <th>
                  <mfDefaultSorter by="f082fstartDate">Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f082famount">Amount</mfDefaultSorter>
                </th>
                
                <th>
                  <mfDefaultSorter by="f082fname">monthly Deduction</mfDefaultSorter>
                </th> -->

                <!-- <th>
                  <mfDefaultSorter by="f082fname">Monthly Deduction Name</mfDefaultSorter>
                </th> -->
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indmonthDeduction of mf.data ">

                <td>{{indmonthDeduction.f082fidStaff}}-{{indmonthDeduction.staffName}}</td>
                <!-- <td>{{indmonthDeduction.f082fstartDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indmonthDeduction.f082famount}}</td>
                <td>{{indmonthDeduction.f082fname}}</td> -->
                <!-- <td>{{indmonthDeduction.f082fname}}</td> -->

                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/payroll/editmonthlydeduction/{{indmonthDeduction.f082fid}}">
                      <button class="btn nh-btn-edit">

                        <i class="fa fa-edit"></i>
                      </button>
                    </a>


                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>