<div class="ps-right-section">
    <div class="ps-dashboard-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="ad-page-title">Fee Type</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-top-wrapper">
              <div class="input-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
              <div class="add-btn">
                <a [routerLink]="['/studentfinance/addfeetype']" class="btn nh-btn-primary">Add</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped table-food" [mfData]="currencyratesetupList | filter : searchText"
              #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="f120fname">Fee Type Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="f120fcode">Fee Type Code</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="f065fname">Fee Category Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="f120fstatus">Status</mfDefaultSorter>
                  </th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let indfeetype of mf.data">
                  <td>{{indfeetype.f120fname}}</td>
                  <td>{{indfeetype.f120fcode}}</td>
                  <td>{{indfeetype.f065fname}}</td>
                  <td>{{indfeetype.f120fstatus == 1?'Active':'Inactive'}}</td>
  
                  <td class="actions-col">
                    <div class="nh-btn-group">
                      <a routerLink="/studentfinance/editfeetype/{{indfeetype.f120fid}}">
                        <button class="btn nh-btn-edit">
  
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <td colspan="9">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>