.ad-section {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #ccc;
}

.ps-right-section {
    padding:40px 10px;
}
.ad-page-title {
    text-transform: uppercase;
    margin-bottom: 30px !important;
    font-size: 22px !important;
}


label {
    font-size: 12px;
    text-transform: uppercase;
}

.ledger-tab .tab-pane {
    padding:25px 0;
}
.nav-tabs .nav-item .nav-link {
    border-radius: 0;
    font-weight: bold;
    padding: 10px 25px;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-left: 25px;
}

.checkbox-inline{
    padding-left: 25px;
    font-weight: bold;
}

.checkbox-inline input[type=checkbox] {
    margin-top: 1px;
    margin-left: -25px;
}

