

<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <section class="ad-section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Ledger</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="fname" [(ngModel)]="ledgerData.f041fname" placeholder="Enter Ledger Name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                    <label>Alternate Name</label>
                    <input type="text" class="form-control" name="faltname" [(ngModel)]="ledgerData.f041falt_name" placeholder="Enter Alternate Name">
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                    <label>GST no</label>
                    <input type="text" class="form-control" name="gst" [(ngModel)]="ledgerData.f041fgst_number" placeholder="Enter GST">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                    <label>GL Code</label>
                    <input type="text" class="form-control" name="gst" [(ngModel)]="ledgerData.f041fglcode" placeholder="Enter GST">
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                      <label>Group Name</label>
                      <select class="form-control" [(ngModel)]="ledgerData.f041fgroup_name" name="f041fgroup_name" placeholder="Select Group">
                          <option *ngFor="let indgroup of groupsList" [value]="indgroup.f012fid">{{ indgroup.f012fgroupName }}</option>
                      </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                      <label>Opening Balance</label>
                      <input type="text" class="form-control" name="openbalance" [(ngModel)]="ledgerData.f041fopening_balance" placeholder="Enter opening balance"
                      />
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <label class="checkbox-inline">
                        <input type="checkbox" [(ngModel)]="ledgerData.f041factive" />  Active
                      </label>                
                      <label class="checkbox-inline">
                        <input type="checkbox" [(ngModel)]="ledgerData.f041fis_sub_ledger" /> Is sub ledger account
                      </label>                
                      <label class="checkbox-inline">
                          <input type="checkbox" [(ngModel)]="ledgerData.f041fallow_sub_account" />  Allow sub accounts under this ledger
                      </label>               
                      <label class="checkbox-inline">
                          <input type="checkbox" [(ngModel)]="ledgerData.f041fapply_billwise"/> Apply Billwise
                      </label>
                  </div>
                </div>
              </div>   
            </div>   
        </section>
        <section class="ad-section">
            <div class="container-fluid">
            <!-- Tab section starts here -->
              <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Section Header goes here..</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="ledger-tab">
                      <tabset>
                          <tab heading="Bank Details" id="tab1">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                      <label>Bank Name</label>                  
                                          <select class="form-control" name="f042fbank_name" [(ngModel)]="ledgerBankDetails.f042fbank_name"  placeholder="Select Bank">
                                          <option *ngFor="let indbank of bankList" [value]="indbank.f042fid">{{ indbank.f042fbankName }}</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                      <label>Branch Name</label>
                                      <input type="text" class="form-control" name="BranchName" placeholder="Branch Name" [(ngModel)]="ledgerBankDetails.f042fbranch_name" value=""
                                          required>
                                      </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                      <label>Account Number</label>
                                      <input type="text" class="form-control" name="AccountNumber" placeholder="Account Number" [(ngModel)]="ledgerBankDetails.f042facc_no"
                                          value="" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                      <label>Account Type</label>
                                      <input type="text" class="form-control" name="AccountType" placeholder="Account Type" [(ngModel)]="ledgerBankDetails.f042facc_type" value=""
                                          required>
                                      </div>
                                  </div> 
                                </div>             
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>SWIFT Code</label>
                                            <input type="text" class="form-control" name="Swiftcode" placeholder="SWIFT Code" [(ngModel)]="ledgerBankDetails.f042fswift_code" value=""
                                            required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>BRS Code</label>
                                            <input type="text" class="form-control" name="brscode" placeholder="BRS Code" [(ngModel)]="ledgerBankDetails.f042fbrs_code" value=""
                                            required>
                                        </div>
                                    </div>                  
                                </div>
                          </tab>
                          <tab heading="Registration">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Cust/Supplier Type</label>
                                          <input type="text" class="form-control" name="BankName" placeholder="Cust/Supplier Type" [(ngModel)]="ledgerRegistrationDetails.f044fsupplier_type"
                                          value="" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                      <label>Tax Deduction No.</label>
                                      <input type="text" class="form-control" name="taxdeductionno" placeholder="Tax Deduction No" [(ngModel)]="ledgerRegistrationDetails.f044ftax_deduction_number"
                                          value="" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>GST no</label>
                                          <input type="text" class="form-control" name="GSTno" placeholder="GSTIN" [(ngModel)]="ledgerRegistrationDetails.BankName" value="" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>NRIC no</label>
                                          <input type="text" class="form-control" name="NRICno" placeholder="Enter NRIC No" [(ngModel)]="ledgerRegistrationDetails.f044fnic_number" value=""
                                          required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>CIN</label>
                                          <input type="text" class="form-control" name="CINno" placeholder="Enter CIN" [(ngModel)]="ledgerRegistrationDetails.f044fcin" value=""
                                              required>
                                      </div>
                                  </div>
                              </div>
                          </tab>
                          <tab heading="Address">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Print Name</label>
                                          <input type="text" class="form-control" name="PrintName" placeholder="Name" [(ngModel)]="ledgerAddressData.f043print_name" value="" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Date Of Birth / Date of Incorporation</label>
                                          <input type="date" class="form-control" name="Dateofbirth" [(ngModel)]="ledgerAddressData.f043fdob" value="" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Mobile</label>
                                          <input type="number" class="form-control" name="mobile" placeholder="Mobile" [(ngModel)]="ledgerAddressData.f043fmobile" value="" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Website</label>
                                          <input type="text" class="form-control" name="email" placeholder="Website" [(ngModel)]="ledgerAddressData.f043femail" value="" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Address 1</label>
                                        <input type="text" class="form-control" name="Address1" placeholder="Address 1" [(ngModel)]="ledgerAddressData.f043faddress1" value=""
                                            required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Address 2</label>
                                        <input type="text" class="form-control" name="Address2" placeholder="Address 2" [(ngModel)]="ledgerAddressData.f043faddress2" value=""
                                        required>
                                    </div>
                                </div>
                            </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Country</label>
                                          <select class="form-control" name="f043fcountry" [(ngModel)]="ledgerAddressData.f043fcountry"  placeholder="Select Country">
                                              <option *ngFor="let indcountry of countryList" [value]="indcountry.f013fid">{{ indcountry.f013fcountryName }}</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>State</label>
                                          <select class="form-control" name="f043fstate" [(ngModel)]="ledgerAddressData.f043fstate"  placeholder="Select State">
                                              <option *ngFor="let indstate of stateList" [value]="indstate.f012fid">{{ indstate.f012fstateName }}</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>City</label>
                                          <input type="text" class="form-control" name="city" placeholder="City" [(ngModel)]="ledgerAddressData.f043fcity" value="" required>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Postcode / Zipcode</label>
                                          <input type="text" class="form-control" name="pincode" placeholder="Zipcode" [(ngModel)]="ledgerAddressData.f043fpost_code" value="" required>
                                      </div>
                                  </div>
                              </div> 
                          </tab>
                          <div class="btn-block">                            
                              <div class="text-right">
                                  <a href="/generalledger/ledger" class="btn nh-btn-secondary">Cancel</a>
                                  <button type="submit" (click)='addledger()' class="btn nh-btn-primary">Save</button>
                              </div>                                  
                          </div>
                      </tabset>
                  </div>
                </div>
              </div>
            </div>
        </section>
       
    </div>        
</div>


