<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Journal Report </h1>
                </div>
            </div>
            <query-builder [(ngModel)]='query' [config]='config' [classNames]='classNames'></query-builder>
            <div class="row">
                <div class="col-sm-12">
                       <table>
                        <tr >
                                <td *ngFor="let field of displayfields | filter : searchText" style="padding-left: 10px;"><input type="checkbox" name="type" value="{{field}}" >{{field}}</td>
                            </tr>
                        </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper"> 
                                                <!-- /input-group -->
                        <div class="add-btn">
                            <a (click)="getSql()" class="btn nh-btn-primary">Journal List Report</a>
                            <a (click)="Download(PDF)" class="btn nh-btn-primary">PDF</a>
                            <a (click)="Download(XLS)" class="btn nh-btn-primary">XLS</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                        <h1 class="ad-page-title">Journal Report Data List</h1>
                    </div>
             </div>
           
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th  *ngFor="let reportData of displayObject.columns">{{reportData}}</th>                              
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let finalData of outputData | filter : searchText">
                                       <td  *ngFor="let headerData of displayObject.columns">{{finalData[headerData]}}</td>
                                       
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
    </div>
</div>