<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Cash Entitlement</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCashadvancelimit()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Name<span class="required-class">*</span></label>
                                    <ng-select [items]="staffList | sort:'f034fname'" bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="cashlimitData.f119fstaffId" name="f119fstaffId" #stafftype="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="stafftype.errors && (stafftype.dirty || stafftype.touched || f.submitted)"
                                        class="form-errors">*Select Staff Name</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cash Advance Type<span class="required-class">*</span></label>
                                    <ng-select [items]="cashadvanceList | sort:'f051fid'" bindLabel="displayname"
                                        bindValue="f051fid" [(ngModel)]="cashlimitData.f119fcashAdvance" name="f119fcashAdvance"
                                        required #from="ngModel">
                                    </ng-select>
                                    <span *ngIf="from.errors && (from.dirty || from.touched || f.submitted)" class="form-errors">*Select
                                        Cash Advance Type</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Amount(RM)<span class="required-class">*</span></label>
                                    <input type="text" maxlength="15" (keypress)="onlyNumberKey($event)" class="form-control"
                                        class="form-control" name="f119famount" placeholder="Enter Amount" [(ngModel)]="cashlimitData.f119famount"
                                        value="" required #to="ngModel" style="text-align: right">
                                    <span *ngIf="to.errors && (to.dirty || to.touched || f.submitted)" class="form-errors">*Enter
                                        the Amount</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/cashadvances/cashadvancelimit']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>