<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Debtor Profile</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addCustomer()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4" *ngIf="id>0">
                                    <div class="form-group">
                                        <label>Debtor Code</label>
                                        <input disabled="disabled" type="text" maxlength="10" class="form-control"
                                            name="f021fdebtorCode" placeholder="Enter Debtor Code"
                                            [(ngModel)]="customerData.f021fdebtorCode" value="" #debtorcode="ngModel"
                                            required>
                                        <span
                                            *ngIf="debtorcode.errors && (debtorcode.dirty || debtorcode.touched || f.submitted )"
                                            class="form-errors">*Enter
                                            the Debtor Code
                                            .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Full Name<span class="required-class">*</span></label>
                                        <input type="text" maxlength="50" class="form-control" name="firstname"
                                            placeholder="Enter Full Name" [(ngModel)]="customerData.f021ffirstName"
                                            value="" #fname="ngModel" required>
                                        <span *ngIf="fname.errors && (fname.dirty || fname.touched || f.submitted )"
                                            class="form-errors">*Enter
                                            the Full Name
                                            .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>IC Number<span class="required-class">*</span></label>
                                        <input type="text" maxlength="50" class="form-control" name="lastname"
                                            placeholder="Enter IC Number" [(ngModel)]="customerData.f021flastName"
                                            #lname="ngModel" required (blur)="checkDuplication()">
                                        <span *ngIf="lname.errors && (lname.dirty || lname.touched || f.submitted )"
                                            class="form-errors">Enter
                                            the IC Number
                                            .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Email<span class="required-class">*</span></label>
                                        <input type="text" maxlength="50" class="form-control"
                                            pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="f021femailId"
                                            placeholder="Enter Email" [(ngModel)]="customerData.f021femailId"
                                            (blur)="checkDuplication1()" value="" #email="ngModel" required>
                                        <span *ngIf="email.errors && (email.dirty || email.touched || f.submitted )"
                                            class="form-errors">Enter
                                            the Email
                                            .</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Password<span class="required-class">*</span></label>
                                        <input type="password" maxlength="20" class="form-control" name="f021fpassword"
                                            placeholder="Enter Password" [(ngModel)]="customerData.f021fpassword" value=""
                                            #pass="ngModel" required>
                                        <span *ngIf="pass.errors && (pass.dirty || pass.touched || f.submitted )" class="form-errors">*Enter
                                            the Password
                                            .</span>
                                    </div>
                                </div> -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Categories of Debtor<span class="required-class">*</span></label>
                                        <ng-select [items]="debtorcategoryList | sort:'f130fdebtorCategoryName'"
                                            bindLabel="f130fdebtorCategoryName" bindValue="f130fid"
                                            [(ngModel)]="customerData.f021fdebtorCategory" name="f021fdebtorCategory"
                                            #Dcategories="ngModel" required>
                                        </ng-select>
                                        <span
                                            *ngIf="Dcategories.errors && (Dcategories.dirty || Dcategories.touched || f.submitted )"
                                            class="form-errors">*Select Categories of Debtor
                                            .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Address One<span class="required-class">*</span></label>
                                        <input type="text" maxlength="100" class="form-control" name="address1"
                                            placeholder="Enter Address One" [(ngModel)]="customerData.f021faddress1"
                                            value="" #Addone="ngModel" required>
                                        <span *ngIf="Addone.errors && (Addone.dirty || Addone.touched || f.submitted )"
                                            class="form-errors">*Enter the Address One
                                            .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Address Two</label>
                                        <input type="text" maxlength="100" class="form-control" name="address2"
                                            placeholder="Enter Address Two" [(ngModel)]="customerData.f021faddress2"
                                            value="">
                                        <!-- <span *ngIf="addtwo.errors && (addtwo.dirty || addtwo.touched || f.submitted )"
                                            class="form-errors">*Enter the Address Two
                                            .</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>City<span class="required-class">*</span> </label>
                                        <input type="text" maxlength="40" class="form-control" name="city"
                                            placeholder="Enter City" [(ngModel)]="customerData.f021fcity" value=""
                                            #city="ngModel" required>
                                        <span *ngIf="city.errors && (city.dirty || city.touched || f.submitted )"
                                            class="form-errors">*Enter
                                            the
                                            City
                                            .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Zip Code<span class="required-class">*</span> </label>
                                        <input type="text" maxlength="20" class="form-control" name="zipcode"
                                            placeholder="Enter Zip-Code" [(ngModel)]="customerData.f021fzipCode"
                                            value="" #zip="ngModel" required>
                                        <span *ngIf="zip.errors && (zip.dirty || zip.touched || f.submitted )"
                                            class="form-errors">*Enter
                                            the
                                            Zip Code
                                            .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Country<span class="required-class">*</span> </label>
                                        <ng-select [items]="countryList | sort:'f013fcountryName'"
                                            bindLabel="f013fcountryName" bindValue="f013fid"
                                            [(ngModel)]="customerData.f021fcountry" name="f021fcountry"
                                            (change)="onCountryChange()" #country="ngModel" required>
                                        </ng-select>
                                        <span
                                            *ngIf="country.errors && (country.dirty || country.touched || f.submitted)"
                                            class="form-errors">*Select
                                            Country </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>State <span class="required-class">*</span></label>
                                        <ng-select [items]="stateList" bindLabel="f012fstateName" bindValue="f012fid"
                                            [(ngModel)]="customerData.f021fstate" name="f021fstate" #state="ngModel"
                                            required>
                                        </ng-select>
                                        <span *ngIf="state.errors && (state.dirty || state.touched || f.submitted)"
                                            class="form-errors">*Select
                                            State </span>

                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Contact Number <span class="required-class">*</span></label>
                                        <input type="text" minlength="9" maxlength="15" class="form-control"
                                            name="Contact" placeholder="Enter Contact Number"
                                            (keypress)="onlyNumberKey($event)" [(ngModel)]="customerData.f021fcontact"
                                            value="" #cont="ngModel" required>
                                        <span *ngIf="cont.errors && (cont.dirty || cont.touched || f.submitted )"
                                            class="form-errors">*Enter
                                            the
                                            Contact Number
                                            .</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Contact Person<span class="required-class">*</span></label>
                                        <input type="text" maxlength="50" class="form-control" name="f021fcontactPerson"
                                            placeholder="Enter Contact Person"
                                            [(ngModel)]="customerData.f021fcontactPerson" value="" required
                                            #contactper="ngModel">
                                        <span
                                            *ngIf="contactper.errors && (contactper.dirty || contactper.touched || f.submitted )"
                                            class="form-errors">*Enter
                                            the Contact Person
                                            .</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Bank</label>
                                        <ng-select [items]="bankList | sort:'f042fbankName'" bindLabel="f042fbankName"
                                            bindValue="f042fid" [(ngModel)]="customerData.f021fbank" name="f021fbank"
                                            #bank="ngModel">
                                        </ng-select>
                                        <!-- <span *ngIf="bank.errors && (bank.dirty || bank.touched || f.submitted)" class="form-errors">*Select
                                            Bank </span> -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Branch</label>
                                        <input type="text" maxlength="10" class="form-control" name="f021fbranch"
                                            placeholder="Enter Branch" [(ngModel)]="customerData.f021fbranch" value=""
                                            #branch="ngModel">
                                        <!-- <span *ngIf="branch.errors && (branch.dirty || branch.touched || f.submitted )"
                                            class="form-errors">*Enter
                                            the Branch
                                            .</span> -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Account Number</label>
                                        <input type="text" maxlength="20" minlength="9" class="form-control"
                                            name="f021faccountNumber" placeholder="Enter Account Number"
                                            (keypress)="onlyNumberKey($event)"
                                            [(ngModel)]="customerData.f021faccountNumber" #accnumber="ngModel">
                                        <span
                                            *ngIf="accnumber.errors && (accnumber.dirty || accnumber.touched || f.submitted )"
                                            class="form-errors">*Enter
                                            the valid Account Number
                                            .</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Is Supplier<span class="required-class">*</span></label>
                                        <br>
                                        <input type="radio" name="issuppliers" [(ngModel)]="customerData.f021fsupplier"
                                            [checked]="customerData.f021fsupplier === '1'" [value]="1"> Yes
                                        <br>
                                        <input type="radio" name="issuppliers" [(ngModel)]="customerData.f021fsupplier"
                                            [checked]="customerData.f021fsupplier === '0'" [value]="0"> No
                                        <br>
                                    </div>
                                </div>
                                <div class="col-sm-4" *ngIf="customerData.f021fsupplier=='1'">
                                    <div class="form-group">
                                        <label>Supplier </label>
                                        <ng-select [items]="supplierList | sort:'f030fcompanyName'"
                                            bindLabel="f030fcompanyName" bindValue="f030fid"
                                            [(ngModel)]="customerData.f021fidSupplier" name="f021fidSupplier"
                                            #supplier="ngModel" required>
                                        </ng-select>
                                        <span
                                            *ngIf="supplier.errors && (supplier.dirty || supplier.touched || f.submitted )"
                                            class="form-errors">*Select Supplier
                                            .</span>
                                    </div>
                                </div>

                                <div class="col-sm-2">

                                    <div class="form-group">
                                        <label>Is Tax Free<span class="required-class">*</span></label>
                                        <br>
                                        <input type="radio" name="istaxfree" [(ngModel)]="customerData.f021fidTaxFree"
                                            [checked]="customerData.f021fidTaxFree === '1'" [value]="1"> Yes
                                        <br>
                                        <input type="radio" name="istaxfree" [(ngModel)]="customerData.f021fidTaxFree"
                                            [checked]="customerData.f021fidTaxFree === '0'" [value]="0"> No
                                        <br>
                                    </div>
                                </div>
                                <div class="col-sm-3" *ngIf="customerData.f021fidTaxFree=='1'">
                                    <div class="form-group">
                                        <label>Tax Free <span class="required-class">*</span></label>
                                        <input type="text" maxlength="40" class="form-control" name="f021ftaxFree"
                                            placeholder="Enter Tax-Free" (keypress)="onlyNumberKey($event)"
                                            [(ngModel)]="customerData.f021ftaxFree" value="" #tfree="ngModel" required>
                                        <span *ngIf="tfree.errors && (tfree.dirty || tfree.touched || f.submitted )"
                                            class="form-errors">*Enter
                                            Tax Free
                                            .</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div [className]="'active'"></div>
                                        <label>Status</label>
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="customerData.f021fstatus"
                                            [checked]="customerData.f021fstatus === '1'" [value]="1"> Active
                                        <br>
                                        <input type="radio" name="Status" [(ngModel)]="customerData.f021fstatus"
                                            [checked]="customerData.f021fstatus === '0'" [value]="0"> Inactive
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/accountsrecivable/customer" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>