<div class="ps-right-section">

    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Process Salary</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addProcesssalary()" #f="ngForm" name="form" novalidate>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Month<span class="required-class">*</span></label>
                                    <ng-select [items]="fmonth" bindLabel="name" bindValue="name" [(ngModel)]="processsalaryData.f044fmonth"
                                        name="f044fmonth" #month="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="month.errors && (month.dirty || month.touched || f.submitted )" class="form-errors">*Select
                                        month</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Process Type<span class="required-class">*</span></label>
                                    <ng-select [items]="processtype" bindLabel="f103fname" bindValue="f103fid" [(ngModel)]="processsalaryData.processtype"
                                        name="processtype" #per="ngModel" required>
                                    </ng-select>
                                    <span *ngIf="per.errors && (per.dirty || per.touched || f.submitted )" class="form-errors">*Select
                                        Process Type
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">

                                    <a [routerLink]="['/payroll/processsalary']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>