<div class="ps-right-section">

    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Print Pay Slip</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addPrintpayslip()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                   <label>Department<span class="required-class">*</span> </label>
                                    <ng-select [items]="DeptList"  bindLabel="f015fdepartmentName"
                                    bindValue="f015fdepartmentCode" (change)="getStaffBasedOnDepartment()" [(ngModel)]="printpayslipData.f043fdepartment"
                                        name="f043fdepartment" #dept="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                                        Department</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff<span class="required-class">*</span></label>
                                    <ng-multiselect-dropdown [data]="staffList | sort:'f034fname'" textField="f034fname"
                                    idField="f034fstaffId" [settings]="dropdownSettings" [(ngModel)]="printpayslipData.f043fidStaff" name="f043fidStaff" #staff="ngModel"
                                        required>
                                    </ng-multiselect-dropdown>
                                    <span *ngIf=" staff.errors && (staff.dirty || staff.touched || f.submitted)" class="form-errors">*Select
                                        Staff</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label> Date<span class="required-class">*</span></label>
                                    <input type="date" class="form-control" [(ngModel)]="printpayslipData.f102feffectiveDate"
                                        style="text-align: right" name="f102feffectiveDate" required #effdate="ngModel">
                                    <span *ngIf="effdate.errors && (effdate.dirty || effdate.touched || f.submitted )"
                                        class="form-errors">*Select
                                        Effective Date.</span>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">

                                    <a [routerLink]="['/payroll/kwap']" class="btn nh-btn-secondary">Close</a>

                                    <button type="submit" class="btn um-btn-primary mar-l-20">Print</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>