<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Ledger</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="ledgername" [(ngModel)]="ledgerData.f014fglCode"
                                        value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Alternative Name</label>
                                    <input type="text" class="form-control" name="ledgeraltername" [(ngModel)]="ledgerData.f014fglDescription"
                                        value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a routerLink="/generalledger/ledger" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='addledger()' class="btn nh-btn-primary">Save</button>

                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>