<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Journal Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="journalapprovalList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="originalName">Approver</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f017fdescription">Journal Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f017ftotalAmount">Total Amount (RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f017fapprovedStatus">Approve/Reject</mfDefaultSorter>
                                </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indjournalapproval of mf.data">
                                <td>{{indjournalapproval.originalName}}</td>
                                <td>{{indjournalapproval.f017fdescription }} </td>
                                <td class="amountAlign">{{indjournalapproval.f017ftotalAmount | number: '.2'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indjournalapproval.f017fapprovedStatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/generalledger/editjournal/{{indjournalapproval.f017fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="journalapprovalData.reason" name="reason"
                                placeholder="Enter the Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='journalApprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='regectJournalApprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>