<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Debt Information</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addDebitinformation()" #f="ngForm" name="form" novalidate>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Company Name<span class="required-class">*</span></label>
                <input type="text" maxlength="50" class="form-control" name="company" placeholder="Enter Company Name"
                  [(ngModel)]="debtinfoDataheader.f098fcompanyName" value="" required #Company="ngModel">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Contact Officer<span class="required-class">*</span> </label>
                <input type="text" maxlength="20" class="form-control" name="Contact Officer" placeholder="Enter Contact Officer"
                  [(ngModel)]="debtinfoDataheader.f098fcontactOfficer" value="" required #Officer="ngModel">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Phone Number<span class="required-class">*</span> </label>
                <input type="text" maxlength="12" pattern="^\d{12}$" class="form-control" name="Number" placeholder="Enter Phone Number"
                  [(ngModel)]="debtinfoDataheader.f098fphone" value="" required #Number="ngModel">
                <span *ngIf=" Number.errors && (Number.dirty || Number.touched || f.submitted)" class="form-errors">*
                  Enter Valid Phone Number.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Email<span class="required-class">*</span> </label>
                    <input type="text" maxlength="50" class="form-control" name="f098femail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                      placeholder="Enter Email" [(ngModel)]="debtinfoDataheader.f098femail" value="" required #Email="ngModel">
                    <span *ngIf=" Email.errors && (Email.dirty || Email.touched || f.submitted)" class="form-errors">*Enter
                      Valid Email.</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Fax Number<span class="required-class">*</span> </label>
                    <input type="text" maxlength="10" class="form-control" name="Fax" placeholder="Enter Fax Number"
                      [(ngModel)]="debtinfoDataheader.f098ffax" value="" required #Fax="ngModel">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Address<span class="required-class">*</span> </label>
                    <input type="text" maxlength="50" class="form-control" name="Address" placeholder="Enter Address"
                      [(ngModel)]="debtinfoDataheader.f098faddress" value="" required #Address="ngModel">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Country<span class="required-class">*</span> </label>
                    <ng-select [items]="countryList | sort: 'f013fcountryName'" maxlength="50" bindLabel="f013fcountryName"
                      bindValue="f013fid" [(ngModel)]="debtinfoDataheader.f098fcountry" (change)="onCountryChange()"
                      name="f098fcountry" #Country="ngModel" required>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>State<span class="required-class">*</span> </label>
                    <ng-select [items]="stateList |sort: 'f012fstateName'" maxlength="50" bindLabel="f012fstateName"
                      bindValue="f012fid" [(ngModel)]="debtinfoDataheader.f098fstate" name="f098fstate" #state="ngModel"
                      required>
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>City<span class="required-class">*</span> </label>
                    <input type="text" maxlength="11" class="form-control" maxlength="50" name="City" placeholder="Enter City"
                      [(ngModel)]="debtinfoDataheader.f098fcity" value="" required #City="ngModel">
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div id="overlay1"></div>

            <div id="myModal" class=" fade in" role="dialog">

              <!-- <div class="modal-dialog"> -->

              <!-- Modal content-->
              <div class="modal-content">
                <p class="maximize-icon">
                  <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                </p>
                <p class="minimize-icon hidden">
                  <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                </p>
                <div class="modal-body">
                  <table class="table table-bordered table-striped table-food">
                    <thead>
                      <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let inddebitinfo of debitinfoList;let i = index;trackBy:indexTracker;last as isLast">
                        <td>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <input type="date" class="form-control" name="f098fstartDate" [(ngModel)]="debitinfoList[i].f098fstartDate"
                                value="" required>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <input type="date" class="form-control" name="f098fendDate" [(ngModel)]="debitinfoList[i].f098fendDate"
                                (change)="dateComparisonList()" value="" required>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter Description" name="f098fdescription"
                                [(ngModel)]="debitinfoList[i].f098fdescription" value="" required>
                            </div>
                          </div>
                        </td>
                        <td *ngIf="!isLast">
                          <button class="btn nh-btn-primary" type="button" (click)='deleteDebitinfo(debitinfoList[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>
                        <td *ngIf="isLast">
                          <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteDebitinfo(debitinfoList[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="showLastRow==false">
                        <td>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <input type="date" class="form-control" (change)="dateComparison()" name="f098fstartDate"
                                [(ngModel)]="debitinfoData.f098fstartDate" value="" required>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <input type="date" class="form-control" (change)="dateComparison()" name="f098fendDate"
                                [(ngModel)]="debitinfoData.f098fendDate" value="" required>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="f098fdescription" placeholder="Enter Description"
                                [(ngModel)]="debitinfoData.f098fdescription" value="" required>
                            </div>
                          </div>
                        </td>
                        <td>
                          <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addDebitinfolist()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a routerLink="/studentfinance/debitinformation" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='saveDebtinfo()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>