<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Online Bank Payment</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountsrecivable/addnewbankpayment']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="paymentList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f042fbankName"> Bank Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078ffileName"> File Name </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078famount"> Amount(RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f078fdate"> Date</mfDefaultSorter>
                </th>
                <th> View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indpayment of mf.data ">
                <td>{{indpayment.f042fbankName}}</td>
                <td>{{indpayment.f078ffileName}}</td>
                <td class="amountAlign">{{indpayment.f078famount | number: '.2'}}</td>
                <td>{{indpayment.f078fdate | date: 'dd/MM/yyyy'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/accountsrecivable/viewbankpayment/{{indpayment.f078fidBank}}/{{indpayment.f078fdate}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>