<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Opening Balance Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="openingbalanceapprovalList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="financialyear">Financial Year</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f016fdrAmount">Debit Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f016fcrAmount">Credit Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f016fapprovedStatus">Approve/Reject</mfDefaultSorter>
                </th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indopeningbalanceapproval of mf.data">
                <td>{{indopeningbalanceapproval.financialyear}}</td>
                <td class="amountAlign">{{indopeningbalanceapproval.f016fdrAmount | number: '.2'}}</td>
                <td class="amountAlign">{{indopeningbalanceapproval.f016fcrAmount | number: '.2'}}</td>
                <td>
                  <input type="checkbox" [(ngModel)]="indopeningbalanceapproval.approvalstatus">
                </td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/generalledger/editopeningbalance/{{indopeningbalanceapproval.f016fid}}/2">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
          <div class="row">
            <div class="col-sm-12">
              <label>Description </label>
              <textarea class="form-control" [(ngModel)]="openingbalanceapprovalData.reason" name="reason" placeholder="Enter the Description "></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <button type="submit" (click)='openingbalanceApprovalListData()' class="btn nh-btn-primary">Approve</button>
                <button type="reject" (click)='regectJournalApprovalListData()' class="btn nh-btn-primary">Reject</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>