<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Journal Monthly Summary</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a (click)="callMonthlySummary()" class="btn nh-btn-primary">Trigger</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="journalmonthlysummaryList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="month">Month</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f018ffundCode">Fund</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f018fdepartmentCode">Department</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f018factivityCode">Activity Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f018faccountCode">Account Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f018fcrAmount">Credit Amount(RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f018fdrAmount">Debit Amount(RM)</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indjournalmonthlysummary of mf.data">
                <td>{{indjournalmonthlysummary.month}}</td>
                <td>{{indjournalmonthlysummary.Fund}}</td>
                <td>{{indjournalmonthlysummary.Department}}</td>
                <td>{{indjournalmonthlysummary.Activity}}</td>
                <td>{{indjournalmonthlysummary.Account}}</td>
                <td class="amountAlign">{{indjournalmonthlysummary.f018fcrAmount | number: '.2'}}</td>
                <td class="amountAlign">{{indjournalmonthlysummary.f018fdrAmount | number: '.2'}}</td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>