<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Release Staff</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addEmpreleaselist()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Staff</label>
                  <ng-select [items]="staffList | sort: 'f034fname'" bindLabel="f034fname" bindValue="f034fid"
                    [(ngModel)]="empreleaseData.f018fidStaff" name="f018fidStaff" #staff="ngModel" required>
                  </ng-select>
                  <span *ngIf="staff.errors && (staff.dirty || staff.touched || f.submitted)" class="form-errors">*Select
                    Staff</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Effective Date</label>
                  <input type="date" class="form-control" [(ngModel)]="empreleaseData.f018feffectiveDate" name="f018feffectiveDate"
                    placeholder="Enter Effective Date" #effective="ngModel" required>
                  <span *ngIf="effective.errors && (effective.dirty || effective.touched || f.submitted)" class="form-errors">*Select
                    Effective Date</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>End Date</label>
                  <input type="date" class="form-control" name="f018fendDate" [(ngModel)]="empreleaseData.f018fendDate"
                    value="" placeholder="Enter End Date" #endDate="ngModel" required>
                  <span *ngIf="endDate.errors && (endDate.dirty || endDate.touched || f.submitted)" class="form-errors">*Select
                    End Date</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Reason</label>
                  <input type="text" maxlength="50" class="form-control" name="f018freason" [(ngModel)]=" empreleaseData.f018freason "
                    placeholder="Enter Reason" #reason="ngModel" required>
                  <span *ngIf="reason.errors && (reason.dirty || reason.touched || f.submitted)" class="form-errors">*Enter
                    the Reason</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div [className]="'active'"></div>
                  <label>Status</label>
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="empreleaseData.f018fstatus" [checked]="empreleaseData.f018fstatus === '1'"
                    [value]="1"> Active
                  <br>
                  <input type="radio" name="Status" [(ngModel)]="empreleaseData.f018fstatus" [checked]="empreleaseData.f018fstatus === '0'"
                    [value]="0"> Inactive
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
                    <a [routerLink]="['/loan/empreleaselist']" class="btn nh-btn-secondary">Cancel</a>
                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>