<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Recurring Setup Customer</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4" *ngIf="id>0">
              <div class="form-group">
                <label>Reference Number<span class="required-class">*</span></label>
                <input type="text" disabled="disabled" class="form-control" name="f077freferenceNumber"
                  [(ngModel)]="recurringsetupcustomerData.f077freferenceNumber" placeholder="Reference Number">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Type of Debtor<span class="required-class">*</span></label>
                <ng-select [items]="Debtortype| sort:'name'" bindLabel="name" bindValue="type"
                  [(ngModel)]="recurringsetupcustomerData.f077fdebitorType" name="f077fdebitorType"
                  (change)="getType()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="type == 'OR'">
              <div class="form-group">
                <label>Customer</label>
                <ng-select [disabled]="viewDisabled" [items]="customerList | sort:'Debtor'" bindLabel="Debtor"
                  bindValue="f021fid" [(ngModel)]="recurringsetupcustomerData.f077fidCustomer" name="f077fidCustomer"
                  #dept="ngModel" required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="type == 'STD'">
              <div class="form-group">
                <label>Student </label>
                <ng-select [disabled]="viewDisabled" [items]="studentList | sort:'f060fname'" bindLabel="f060fname"
                  bindValue="f060fid" [(ngModel)]="recurringsetupcustomerData.f077fidCustomer" name="f077fidCustomer">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="type == 'STA'">
              <div class="form-group">
                <label>Staff </label>
                <ng-select [disabled]="viewDisabled" [items]="smartStaffList | sort:'f034fname'" bindLabel="f034fname"
                  bindValue="f034fstaffId" [(ngModel)]="recurringsetupcustomerData.f077fidCustomer"
                  name="f077fidCustomer" #dept="ngModel" required>
                </ng-select>
              </div>
            </div>
            <!-- <div class="col-sm-4">
              <div class="form-group">
                <label>Debtor Code<span class="required-class">*</span></label>
                <ng-select [items]="customerList | sort:'f021fdebtorCode'" bindLabel="f021fdebtorCode" bindValue="f021fid"
                  [(ngModel)]="recurringsetupcustomerData.f077fcustomer" name="f077fcustomer">
                </ng-select>
              </div>
            </div> -->
            <!-- <div class="col-sm-4">
              <div class="form-group">
                <label>Debtor Name <span class="required-class">*</span></label>
                <ng-select disabled="disabled" [items]="customerList | sort:'Debtor'" bindLabel="Debtor" bindValue="f021fid"
                  [(ngModel)]="recurringsetupcustomerData.f077fcustomer" name="f077fcustomer">
                </ng-select>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Premise Category<span class="required-class">*</span></label>
                <ng-select [items]="premiseCategoryList" bindLabel="PremiseType" bindValue="f037fid"
                  [(ngModel)]="recurringsetupcustomerData.f077fidPremiseCategory" name="f077fidPremiseCategory"
                  (change)="getPremiseBasedonCategory()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Premise</label>
                <ng-select [items]="premiseBasedonCatList | sort:'PremiseName'" bindLabel="PremiseName"
                  bindValue="f076fid" [(ngModel)]="recurringsetupcustomerData.f077fpremise" name="f077fpremise">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Contract Reference<span class="required-class">*</span></label>
                <input type="text" class="form-control" name="f077fcontractNumber"
                  placeholder="Enter Contract Reference" [(ngModel)]="recurringsetupcustomerData.f077fcontractNumber">
                <!-- <span *ngIf="number.errors && (number.dirty || number.touched || f.submitted)"
                                        class="form-errors">*
                                        Select </span> -->
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-4">
              <div class="form-group">
                <label>Period in Months<span class="required-class">*</span></label>
                <input type="text" class="form-control" maxlength="2" name="period" (keypress)="onlyNumberKey($event)"
                  placeholder="Enter Period" [(ngModel)]="recurringsetupcustomerData.f077fperiod">
                <!-- <span *ngIf="period.errors && (period.dirty || period.touched || f.submitted)"
                                        class="form-errors">*
                                        Required Period Number </span> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Invoice Generation Day<span class="required-class">*</span></label>
                <ng-select [items]="numberList" bindLabel="value" bindValue="key"
                  [(ngModel)]="recurringsetupcustomerData.f077fdateInvoice" name="f077fdateInvoice">
                </ng-select>
                <!-- <select class="form-control" [(ngModel)]="recurringsetupcustomerData.f077fdateInvoice" name="f077ftypeofdebtor"
                  placeholder="Select recurring setupcustomer" value='' required #customer="ngModel">
                  <option value=''> --Select-- </option>
                  <option *ngFor="let indrevenue of numberList" [value]="indrevenue.key">{{indrevenue.value}}</option>
                </select> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount (RM)<span class="required-class">*</span></label>
                <input type="text" class="form-control amountAlign" name="Payment" placeholder="Amount(RM)"
                  [(ngModel)]="recurringsetupcustomerData.f077fpayment" readonly="readonly">
                <!-- <span *ngIf="payment.errors && (payment.dirty || payment.touched || f.submitted)"
                                        class="form-errors">*
                                        Required Payment </span> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Payment Method<span class="required-class">*</span></label>
                <ng-select [items]="paymentList | sort:'f018fcode'" bindLabel="f018fcode" bindValue="f018fid"
                  [(ngModel)]="recurringsetupcustomerData.f077fpaymentMethod" name="f077fpaymentMethod" required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Effective Date<span class="required-class">*</span></label>
                <input type="date" class="form-control" name="f077feffectiveDate" placeholder="Enter Period"
                  [(ngModel)]="recurringsetupcustomerData.f077feffectiveDate" (change)="prefillLastDate()">
                <!-- <span *ngIf="f077effectivedate.errors && (f077effectivedate.dirty || f077effectivedate.touched || f.submitted)"
                                            class="form-errors">*
                                            Required Effective Date </span> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Last Date<span class="required-class">*</span></label>
                <input type="date" class="form-control" name="f077enddate" placeholder="Enter Date Of Invoice"
                  [(ngModel)]="recurringsetupcustomerData.f077fendDate">
                <!-- <span *ngIf="f077enddate.errors && (f077enddate.dirty || f077enddate.touched || f.submitted)"
                                            class="form-errors">*
                                            Required End Date </span> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Discount Entitlement<span class="required-class">*</span></label>


                <input type="radio" name="Status" [(ngModel)]="recurringsetupcustomerData.f077fdiscountEntitlement"
                  [checked]="recurringsetupcustomerData.f077fdiscountEntitlement === 1" [value]="1"> Yes

                <input type="radio" name="Status" [(ngModel)]="recurringsetupcustomerData.f077fdiscountEntitlement"
                  [checked]="recurringsetupcustomerData.f077fdiscountEntitlement === 0" [value]="0">
                No

                <!-- <span *ngIf="f077discountentitlement.errors && (f077discountentitlement.dirty || f077discountentitlement.touched || f.submitted)"
                                                class="form-errors">*
                                                Required Discount Entitlement </span> -->
              </div>
            </div>
          </div>

          <div id="overlay1"></div>

          <div id="myModal" class=" fade in" role="dialog">

            <!-- <div class="modal-dialog"> -->

            <!-- Modal content-->
            <div class="modal-content">
              <p class="maximize-icon">
                <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
              </p>
              <p class="minimize-icon hidden">
                <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
              </p>
              <div class="modal-body">
                <div class="table-responsive credit-note-table-wrapper">
                  <table class="table table-bordered table-striped credit-note-table">
                    <thead>
                      <tr>
                        <th style="width:40px;text-align: center">Revenue Setup</th>
                        <th colspan='4' style="width:200px;text-align: center">Debit GL Code</th>
                        <th colspan='4' style="width:200px;text-align: center">Credit GL Code</th>
                        <!-- <th style="width:200px;text-align: center">Total Amount</th> -->
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr>
                        <th></th>
                        <th style="width:47px;">Fund</th>
                        <th style="width:78px;">Activity Code</th>
                        <th style="width:78px;">Cost Center</th>
                        <th style="width:78px;">Account Code</th>
                        <th style="width:47px;">Fund</th>
                        <th style="width:78px;">Activity Code</th>
                        <th style="width:200px;">Cost Center</th>
                        <th style="width:78px;">Account Code</th>
                        <th>Tax Code</th>
                        <!-- <th>Tax</th> -->
                        <th>Tax (%)</th>
                        <th style="width:200px;">Amount (RM)</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let indinv of revenuesetupDataAdded;let i = index;trackBy:indexTracker;last as isLast">
                        <td>
                          <!-- <select class="form-control" style="width: 150px" [(ngModel)]="revenuesetupDataAdded[i].f077ffeeSetup"
                      placeholder="Enter to Activity " required #activity="ngModel">
                      <option value=''>--Select--</option>
                      <option *ngFor="let indrevenue of revenuesetupList" [value]="indrevenue.f085fid">
                        {{indrevenue.f085fcode}} {{ indrevenue.f085fname }} - </option>
                    </select> -->
                          <ng-select [items]="revenuesetupList | sort:'originalname'" style="width: 150px;"
                            bindLabel="originalname" bindValue="f085fid"
                            [(ngModel)]="revenuesetupDataAdded[i].f077ffeeSetup" name="f077ffeeSetup"
                            (change)="getglcodeList()">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                            bindValue="f057fcode" [(ngModel)]="revenuesetupDataAdded[i].f077fdrFund" name="f077fdrFund">
                          </ng-select>
                        </td>

                        <td>
                          <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" style="width: 150px;"
                            bindLabel="f058fname" bindValue="f058fcompleteCode"
                            [(ngModel)]="revenuesetupDataAdded[i].f077fdrActivity" name="f077fdrActivity">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                            bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                            [(ngModel)]="revenuesetupDataAdded[i].f077fdrDepartment" name="f077fdrDepartment">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" style="width: 150px;"
                            bindLabel="f059fname" bindValue="f059fcompleteCode"
                            [(ngModel)]="revenuesetupDataAdded[i].f077fdrAccount" name="f077fdrAccount">
                          </ng-select>
                        </td>
                        <td>
                          <!-- <select class="form-control" [(ngModel)]="revenuesetupDataAdded[i].f077fcrFund" placeholder="Enter to Account "
                      required #Account="ngModel">
                      <option value=''>--Select--</option>
                      <option *ngFor="let indaccountcode of fundList" [value]="indaccountcode.f057fcode">
                        {{indaccountcode.f057fcode}} {{
                        indaccountcode.f057fname }}</option>
                    </select> -->
                          <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                            bindValue="f057fcode" [(ngModel)]="revenuesetupDataAdded[i].f077fcrFund" name="f077fcrFund">
                          </ng-select>
                        </td>
                        <td>

                          <!-- <select class="form-control" [(ngModel)]="revenuesetupDataAdded[i].f077fcrActivity" placeholder="Enter to Activity "
                      required #activity="ngModel">
                      <option value=''>--Select--</option>
                      <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                        - {{ indactivitycode.f058fname }}</option>
                    </select> -->
                          <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" style="width: 150px;"
                            bindLabel="f058fname" bindValue="f058fcompleteCode"
                            [(ngModel)]="revenuesetupDataAdded[i].f077fcrActivity" name="f077fcrActivity">
                          </ng-select>
                        </td>
                        <td>
                          <!-- <select class="form-control" [(ngModel)]="revenuesetupDataAdded[i].f077fcrDepartment" placeholder="Enter to Department "
                      required #Department="ngModel">
                      <option value=''>--Select--</option>
                      <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                        - {{ inddepartment.f015fdepartmentName }}</option>
                    </select> -->
                          <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                            bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                            [(ngModel)]="revenuesetupDataAdded[i].f077fcrDepartment" name="f077fcrDepartment">
                          </ng-select>
                        </td>

                        <td>
                          <!-- <select class="form-control" [(ngModel)]="revenuesetupDataAdded[i].f077fcrAccount" placeholder="Enter to Account "
                      required #Account="ngModel">
                      <option value=''>--Select--</option>
                      <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                        indaccountcode.f059fcompleteCode }} {{ indaccountcode.f059fname }}</option>
                    </select> -->
                          <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" style="width: 150px;"
                            bindLabel="f059fname" bindValue="f059fcompleteCode"
                            [(ngModel)]="revenuesetupDataAdded[i].f077fcrAccount" name="f077fcrAccount">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="taxcodeList | sort:'taxInformation'" style="width: 150px;"
                            bindLabel="taxInformation" bindValue="f081fid"
                            [(ngModel)]="revenuesetupDataAdded[i].f077ftaxCode" (change)="getpercentage()"
                            name="f077ftaxCode">
                          </ng-select>
                        </td>
                        <!-- <td> -->
                        <!-- <select class="form-control" style="width: 100px" [(ngModel)]="revenuesetupDataAdded[i].f077fgstCode"
                      (change)="getpercentage()">
                      <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                        indtaxcode.f081fcode }}</option>
                    </select> -->
                        <!-- <ng-select [items]="taxcodeList | sort:'f081fcode'" style="width: 150px;" bindLabel="f081fcode"
                      bindValue="f081fid" [(ngModel)]="revenuesetupDataAdded[i].f077fgstCode" name="f077fgstCode">
                    </ng-select> -->
                        <!-- </td> -->

                        <td>
                          <input type="text" maxlength="10" class="form-control" style="width: 130px"
                            [(ngModel)]="revenuesetupDataAdded[i].f077fgstPercentage" (keypress)="onlyNumberKey($event)"
                            placeholder="Tax (%)" readonly="readonly" value="">
                        </td>
                        <td>
                          <input type="text" maxlength="10" class="form-control" placeholder="Amount(RM)"
                            style="text-align: right;width: 130px" [(ngModel)]="revenuesetupDataAdded[i].f077famount"
                            (change)="getAmount()" (keyup)="onlyNumberKey($event)" placeholder="Total" value="">
                        </td>
                        <td *ngIf="!isLast">
                          <button class="btn nh-btn-primary" type="button"
                            (click)='deleteRecurring(revenuesetupDataAdded[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>
                        <td *ngIf="isLast">
                          <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button"
                            (click)='deleteRecurring(revenuesetupDataAdded[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button"
                            (click)='showNewRow()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="showLastRow==false">
                        <td>
                          <ng-select [items]="revenuesetupList | sort:'originalname'" style="width: 150px;"
                            bindLabel="originalname" bindValue="f085fid" [(ngModel)]="revenuesetupData.f077ffeeSetup"
                            name="f077ffeeSetup" (change)="getglcode()">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                            bindValue="f057fcode" [(ngModel)]="revenuesetupData.f077fdrFund" name="f077fdrFund">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" style="width: 150px;"
                            bindLabel="f058fname" bindValue="f058fcompleteCode"
                            [(ngModel)]="revenuesetupData.f077fdrActivity" name="f077fdrActivity">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                            bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                            [(ngModel)]="revenuesetupData.f077fdrDepartment" name="f077fdrDepartment">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" style="width: 150px;"
                            bindLabel="f059fname" bindValue="f059fcompleteCode"
                            [(ngModel)]="revenuesetupData.f077fdrAccount" name="f077fdrAccount">
                          </ng-select>
                        </td>
                        <td>
                          <!-- <select class="form-control" [(ngModel)]="revenuesetupDataAdded[i].f077fcrFund" placeholder="Enter to Account "
                    required #Account="ngModel">
                    <option value=''>--Select--</option>
                    <option *ngFor="let indaccountcode of fundList" [value]="indaccountcode.f057fcode">
                      {{indaccountcode.f057fcode}} {{
                      indaccountcode.f057fname }}</option>
                  </select> -->
                          <ng-select [items]="fundList | sort:'f057fcode'" style="width: 150px;" bindLabel="f057fname"
                            bindValue="f057fcode" [(ngModel)]="revenuesetupData.f077fcrFund" name="f077fcrFund">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="activitycodeList | sort:'f058fcompleteCode'" style="width: 150px;"
                            bindLabel="f058fname" bindValue="f058fcompleteCode"
                            [(ngModel)]="revenuesetupData.f077fcrActivity" name="f077fcrActivity">
                          </ng-select>
                        </td>
                        <td>
                          <!-- <select class="form-control" [(ngModel)]="revenuesetupDataAdded[i].f077fcrDepartment" placeholder="Enter to Department "
                    required #Department="ngModel">
                    <option value=''>--Select--</option>
                    <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                      - {{ inddepartment.f015fdepartmentName }}</option>
                  </select> -->
                          <ng-select [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                            bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                            [(ngModel)]="revenuesetupData.f077fcrDepartment" name="f077fcrDepartment">
                          </ng-select>
                        </td>
                        <td>
                          <!-- <select class="form-control" [(ngModel)]="revenuesetupDataAdded[i].f077fcrAccount" placeholder="Enter to Account "
                    required #Account="ngModel">
                    <option value=''>--Select--</option>
                    <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                      indaccountcode.f059fcompleteCode }} {{ indaccountcode.f059fname }}</option>
                  </select> -->
                          <ng-select [items]="accountcodeList | sort:'f059fcompleteCode'" style="width: 150px;"
                            bindLabel="f059fname" bindValue="f059fcompleteCode"
                            [(ngModel)]="revenuesetupData.f077fcrAccount" name="f077fcrAccount">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [items]="taxcodeList | sort:'taxInformation'" style="width: 150px;"
                            bindLabel="taxInformation" bindValue="f081fid" [(ngModel)]="revenuesetupData.f077ftaxCode"
                            (change)="getpercentage()" name="f077ftaxCode">
                          </ng-select>
                        </td>
                        <!-- <td>
                    <select class="form-control" style="width: 100px" [(ngModel)]="revenuesetupData.f077fgstCode" name="f077fgstCode"
                      (change)="getpercentage()">
                      <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                        indtaxcode.f081fcode }}</option>
                    </select>
                    <ng-select [items]="taxcodeList | sort:'f081fcode'" style="width: 150px;" bindLabel="f081fcode"
                      bindValue="f081fid" [(ngModel)]="revenuesetupData.f077fgstCode" name="f077fgstCode">
                    </ng-select>
                  </td> -->
                        <td>
                          <input type="text" maxlength="10" class="form-control" name="total" style="width: 130px"
                            [(ngModel)]="revenuesetupData.f077fgstPercentage" readonly="readonly" placeholder="Tax (%)"
                            value="" (keypress)="onlyNumberKey($event)">
                        </td>
                        <td>
                          <input type="text" maxlength="10" class="form-control" style="text-align: right;width: 130px"
                            [(ngModel)]="revenuesetupData.f077famount" placeholder="Amount(RM)" (keyup)="getAmount()"
                            (keypress)="onlyNumberKey($event)" value="">
                        </td>
                        <!-- <td>
                    <input type="text" maxlength="10" class="form-control" name="total" style="text-align: right;width: 130px"
                      [(ngModel)]="revenuesetupData.f077famount" placeholder="Total" value="" (change)="formatNumber(this.value)">
                  </td> -->
                        <!-- <td>
                    <input type="button" name="add" (click)='addinvoicelist()' value='ADD' class="btn nh-btn-primary" />
                  </td> -->
                        <td>
                          <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button"
                            (click)='deletemodule()'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button"
                            (click)='addrecurring()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <!-- <td></td> -->
                        <td>Total:{{recurringsetupcustomerData.f077fpayment}}</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-6">
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p class="text-right">
                    <a routerLink="/accountsrecivable/recurringsetupcustomer" class="btn nh-btn-secondary">Cancel</a>
                    <button type="submit" class="btn nh-btn-primary" (click)="addRecurringsetupcustomer()">Save</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>