<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Disposal Requisition</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Disposal Endorsement</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Disposal Description<span class="required-class">*</span></label>
              <textarea [disabled]="viewDisabled" type="text" maxlength="100" class="form-control" name="f086fdescription"
                placeholder="Enter Description" [(ngModel)]="disposalreqDataheader.f086fdescription" value=""></textarea>
            </div>
          </div>
          <div class="col-sm-4" *ngIf="idview==2">
            <div class="form-group">
              <label>Meeting Number<span class="required-class">*</span></label>
              <input type="text" maxlength="15" class="form-control" name="f087fmeetingNumber" placeholder="Enter Meeting Number"
                [(ngModel)]="disposalreqDataheader.f087fmeetingNumber" required>
            </div>
          </div>
          <div class="col-sm-4" *ngIf="idview==2">
            <div class="form-group">
              <label>Reason<span class="required-class">*</span></label>
              <textarea type="text" maxlength="100" class="form-control" name="f087fremarks" placeholder="Enter Reason"
                [(ngModel)]="disposalreqDataheader.f087fremarks" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="col-sm-4">
            <div class="form-group">
              <label>Verification Status<span class="required-class">*</span></label>
              <input type="text" disabled="disabled" maxlength="25" class="form-control" name="f086fverificationStatus"
                placeholder="Verification Status" [(ngModel)]="disposalreqDataheader.f086fverificationStatus" value="">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Requested By<span class="required-class">*</span> </label>
              <input type="text" disabled="disabled" maxlength="100" class="form-control" name="f086frequestBy"
                placeholder="Requested By" [(ngModel)]="disposalreqDataheader.f086frequestBy" value="">
            </div>
          </div>
        </div>
      </div>
      <div id="overlay1"></div>

      <div id="myModal" class=" fade in" role="dialog">

        <!-- <div class="modal-dialog"> -->

        <!-- Modal content-->
        <div class="modal-content">
          <p class="maximize-icon">
            <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
          </p>
          <p class="minimize-icon hidden">
            <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
          </p>
          <div class="modal-body">
            <div class="table-responsive credit-note-table-wrapper" id="table">
              <table class="table table-bordered table-striped credit-note-table" id="target1">
                <thead>
                  <tr>
                    <th>Asset Code </th>
                    <th>Asset Description</th>
                    <th>Net Value</th>
                    <th>Disposal Type Reason</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inddebitinfo of disposalreqList;let i = index;trackBy:indexTracker;last as isLast">
                    <td>
                      <ng-select [disabled]="editDisabled||viewDisabled" [items]="assetinformationList" bindLabel="f085fassetCode"
                        bindValue="f085fid" style="width: 230px;" [(ngModel)]="disposalreqList[i].f086fidAsset" name="f086fidAsset">
                      </ng-select>

                    </td>
                    <td>
                      <input [disabled]="viewDisabled" type="text" class="form-control" style="width: 230px;"
                        [(ngModel)]="disposalreqList[i].f086fdescription" name="f086fdescription" maxlength="100"
                        placeholder="Enter Description" value="">
                    </td>
                    <td>
                      <input [disabled]="viewDisabled" type="text" class="form-control" maxlength="10" style="width: 230px;"
                        (keypress)="onlyNumberKey($event)" [(ngModel)]="disposalreqList[i].f086fnetValue" name="f086fnetValue "
                        placeholder="Enter Net Value" value="">
                      <input type="hidden" class="form-control" style="width: 230px;" [(ngModel)]="disposalreqList[i].f086fassetCode"
                        name="f086fassetCode" value="">
                    </td>
                    <td>
                      <ng-select [disabled]="viewDisabled" [items]="disposalList|sort:'f086fdisposalType'" bindLabel="f086fdisposalType"
                        bindValue="f086fid" [(ngModel)]="disposalreqList[i].f086ftype" name="f086ftype" style="width: 230px;"
                        #disposaltype="ngModel" required>
                      </ng-select>

                    </td>
                    <td *ngIf="!isLast">
                      <button class="btn nh-btn-primary" type="button" (click)='deleteDisposalrequisition(disposalreqList[i])'
                        *ngIf="viewDisabled==false">
                        <i class="fa fa-minus"></i>
                      </button>
                    </td>
                    <td *ngIf="isLast">
                      <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteDisposalrequisition(disposalreqList[i])'>
                        <i class="fa fa-minus"></i>
                      </button>
                      <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="showLastRow==false">
                    <td>
                      <ng-select [disabled]="viewDisabled" [items]="assetinformationList" bindLabel="f085fassetCode"
                        bindValue="f085fid" style="width: 230px;" [(ngModel)]="disposalreqData.f086fidAsset" name="f086fidAsset"
                        #AssetCode="ngModel" required>
                      </ng-select>

                    </td>
                    <td>
                      <input [disabled]="viewDisabled" type="text" class="form-control" maxlength="100" style="width: 230px;"
                        [(ngModel)]="disposalreqData.f086fdescription" name="f086fdescription" placeholder="Enter Description"
                        value="">
                    </td>
                    <td>
                      <input [disabled]="viewDisabled" type="text" class="form-control" maxlength="10" style="width: 230px;"
                        (keypress)="onlyNumberKey($event)" [(ngModel)]="disposalreqData.f086fnetValue" name="f086fnetValue "
                        placeholder="Enter Net Value" value="">
                      <input type="hidden" class="form-control" style="width: 230px;" [(ngModel)]="disposalreqData.f086ftype"
                        name="f086ftype" value="">
                    </td>
                    <td>
                      <ng-select [disabled]="viewDisabled" [items]="disposalList|sort:'f086fdisposalType'" bindLabel="f086fdisposalType"
                        bindValue="f086fid" [(ngModel)]="disposalreqData.f086ftype" name="f086ftype" style="width: 230px;"
                        #disposaltype="ngModel" required>
                      </ng-select>

                    </td>
                    <td>
                      <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                        <i class="fa fa-minus"></i>
                      </button>
                      <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='adddisposalrequisitionlist()'>
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-right" *ngIf="idview!=2">
            <a routerLink="/assets/disposalrequisition" class="btn nh-btn-secondary">Cancel</a>
            <button type="submit" (click)='saveDisposalrequisition()' *ngIf="viewDisabled==false" class="btn nh-btn-primary">Save</button>
          </p>
          <p class="text-right" *ngIf="idview==2">
            <button type="submit" (click)='saveVerification()' class="btn nh-btn-primary">Endorse</button>
            <a routerLink="/assets/disposalendorsement" class="btn nh-btn-secondary">Cancel</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>