<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Budget Control</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Financial Year<span class="required-class">*</span></label>
                <select class="form-control" disabled="disabled" [(ngModel)]="budgetactivitiesDataheader.f054fidFinancialyear"
                  name="f054fidFinancialyear" placeholder="Enter Year " #financialYear="ngModel" (change)="getCostCenter()">
                  <option [ngValue]="undefined" hidden selected> --please select-- </option>
                  <option *ngFor="let indfinyear of finantialyearList" [value]="indfinyear.f015fid">{{
                    indfinyear.f015fname }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Cost Center<span class="required-class">*</span></label>
                <select class="form-control" disabled="disabled" [(ngModel)]="budgetactivitiesDataheader.f054fidDepartment"
                  name="f054fidDepartment" required #costCenter="ngModel" (change)="getAmount()">
                  <option [ngValue]="undefined" hidden selected> --please select-- </option>
                  <option *ngFor="let inddepartment of deptList" [value]="inddepartment.f051fidDepartment">{{
                    inddepartment.f015fdepartmentName }} - {{inddepartment.f015fdepartmentCode}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Allocation Amount</label>
                <input type="text" disabled="disabled" maxlength="10" value="{{allocatedAmount}}"></div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Balance Amount</label>
                <input type="text" disabled="disabled" maxlength="10" value="{{balanceAmount}}"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-bordered table-striped table-food" fieldset="disabled">
          <thead>
            <tr>
              <th>GL Code</th>
              <th>Amount (RM)</th>
              <th>Period 1 (RM)</th>
              <th>Period 2 (RM)</th>
              <th>Period 3 (RM)</th>
              <th>Negative Capping Rate</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let indbudgetactivity of newbudgetactivitiesList; let i = index; trackBy:indexTracker">
              <td>
                <select class="form-control" disabled="disabled" style="width:300px;" [(ngModel)]="newbudgetactivitiesList[i].f054fidGlcode"
                  name="f054fidGlcode" placeholder="Enter Department " required #department="ngModel">
                  <option [ngValue]="undefined" hidden selected> --please select-- </option>
                  <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode }}
                    - {{indglcode.accountName}}</option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control amountAlign" disabled="disabled" name="f054famount" placeholder="Enter Amount"
                  [(ngModel)]="newbudgetactivitiesList[i].f054famount" value=""> </td>
              <td>
                <input type="text" class="form-control amountAlign" disabled="disabled" name="f054fq1" placeholder="Q1"
                  [(ngModel)]="newbudgetactivitiesList[i].f054fq1" value=""> </td>
              <td>
                <input type="text" class="form-control amountAlign" disabled="disabled" name="f054fq2" placeholder="Q2"
                  [(ngModel)]="newbudgetactivitiesList[i].f054fq2" value=""> </td>
              <td>
                <input type="text" class="form-control amountAlign" disabled="disabled" name="f054fq3" placeholder="Q3"
                  [(ngModel)]="newbudgetactivitiesList[i].f054fq3" value=""> </td>
              <td>
                <input type="text" class="form-control amountAlign" name="f054fq4" placeholder="Q4" [(ngModel)]="newbudgetactivitiesList[i].f054fq4"
                  value="">
              </td>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <input type="button" name="add" (click)='saveBudgetactivities()' value='ADD' class="btn nh-btn-primary" />
      </div>
    </div>
  </div>
</div>