<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Monthly Process</h1>
        </div>
      </div>
      <form (ngSubmit)="f.form.valid && addMonthlyprocess()" #f="ngForm" name="form" novalidate>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Month Name <span class="required-class">*</span> </label>
                <ng-select [items]="fmonth" bindLabel="name" bindValue="name" [(ngModel)]="monthlyprocessData.f019fmonthlyName"
                name="f019fmonthlyName" #month="ngModel" required>
              </ng-select>
                <span *ngIf=" month.errors && (month.dirty || month.touched || f.submitted)" class="form-errors">*Select
                  Month</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Year <span class="required-class">*</span> </label>
                <ng-select [items]="finantialyearList | sort:'f015fname'" bindLabel="f015fname" bindValue="f015fid"
                  [(ngModel)]="monthlyprocessData.f019fyear" name="f019fyear" #year="ngModel"
                  required></ng-select>
                <span *ngIf=" year.errors && (year.dirty || year.touched || f.submitted)" class="form-errors">*Select
                  Year</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Date <span class="required-class">*</span> </label>
                <input type="date" class="form-control" name="Date" placeholder="Enter Date " [(ngModel)]="monthlyprocessData.f019fdate"
                  value="" required #date="ngModel">
                <span *ngIf=" date.errors && (date.dirty || date.touched || f.submitted)" class="form-errors">*Select
                  Date</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-12">
            <div class="form-group">
              <div [className]="'active'"></div>
              <label>Status</label>
              <br>
              <input type="radio" name="Status" [(ngModel)]="monthlyprocessData.f019fstatus" [checked]="monthlyprocessData.f019fstatus === 1"
                [value]="1"> Open
              <br>
              <input type="radio" name="Status" [(ngModel)]="monthlyprocessData.f019fstatus" [checked]="monthlyprocessData.f019fstatus === 0"
                [value]="0"> Closed
              <br>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-right">
              <a [routerLink]="['/generalledger/monthlyprocess']" class="btn nh-btn-secondary">Cancel</a>
              <button type="submit" class="btn nh-btn-primary">Save</button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
