<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">ACCOUNT SETTING</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a href="generalsetup/addnewaccount" class="btn nh-btn-primary">Add New Account</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food">
            <thead>
              <tr>
                <th>Sub Account Under Ledger</th>
                <th>Enable TDS</th>
                <th>Allow Cheque Printing</th>
                <th>Allow Custom Fields</th>
                <th>Budget YN</th>
                <th>MQY Budgeting</th>
                <th>Edit</th>
                <th class="actions-col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indAccount of accountList  | filter : searchText">
                <td>{{indAccount.f016fsubAccUnderLedger}}</td>
                <td>{{indAccount.f016fenableTds}}</td>
                <td>{{indAccount.f016fallowChequePrinting}}</td>
                <td>{{indAccount.f016fallowCustomFields}}</td>
                <td>{{indAccount.f016fbudgetYn}}</td>
                <td>{{indAccount.f016fmqyBudgeting}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a href="generalsetup/editaccount/{{indAccount.f016fid}}">
                      <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                      </button>
                    </a>

                    <!-- <button class="btn nh-btn-remove">
                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
