<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title"> Declare Income Tax</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Staff Name<span class="required-class">*</span></label>
                <ng-select [items]="staffList" bindLabel="f034fname" bindValue="f034fstaffId" [(ngModel)]="declareincometaxDataHeader.f082fidStaff"
                  name="f082fidStaff">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Month<span class="required-class">*</span></label>
                <ng-select [items]="fmonth" bindLabel="name" bindValue="name" [(ngModel)]="declareincometaxDataHeader.f070fmonth"
                  name="f070fmonth">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Financial Year<span class="required-class">*</span></label>
                <ng-select [items]="fyearList" bindLabel="f015fname" bindValue="f015fid" [(ngModel)]="declareincometaxDataHeader.f092fyear"
                  name="f092fyear">
                </ng-select>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th>Deduction Code<span class="required-class">*</span></th>
                    <th>Amount (RM)<span class="required-class">*</span></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indinv of declareincometaxList;let i = index;trackBy:indexTracker">
                    <ng-select [items]="salarycodeList" bindLabel="f081fcode" bindValue="fullname" [(ngModel)]="declareincometaxList[i].f082fdeductionCode"
                      name="f082fdeductionCode" #item="ngModel" required>
                    </ng-select>
                    <td><input type="number" maxlength="15" class="form-control" (keypress)="onlyNumberKey($event)"
                        style="text-align: right" name="f082famount" [(ngModel)]="declareincometaxList[i].f082famount"
                        placeholder="Amount(RM)" value="">
                    </td>
                    <td>
                      <input type="button" name="add" (click)='deleteData(declareincometaxList[i])' value='Delete'
                        class="btn nh-btn-primary" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <ng-select [items]="salarycodeList" bindLabel="fullname" bindValue="f081fcode" [(ngModel)]="declareincometaxData.f082fdeductionCode"
                        name="f082fdeductionCode" #item="ngModel" required>
                      </ng-select>
                    </td>

                    <td><input type="number" maxlength="15" class="form-control" style="text-align: right" name="f082famount"
                        [(ngModel)]="declareincometaxData.f082famount" placeholder="Amount(RM)" value="">
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/payroll/declareincometax']" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)='SaveDeclareincometax()' class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>