/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway, sans-serif !important;
}

a {
    text-decoration: none !important;
}

.form-container {
    padding:10px;
}
.mat-form-field {
    width: 100% !important;
}
td {
    text-align:left;
}*/
.amountAlign{
    text-align: right!important;
} 
.textCenter{
    text-align: center;
} 
.fundAlign {
    width:47px;
}
.accountCodeAlign {
    width:71px;
}
.activityCodeAlign {
    width:85px;
}
.costCenterAlign {
    width:71px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
{
    padding: 2px 8px;
}

.custom-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}