<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Purchase Order</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="table-top-wrapper">
            <div class="input-group um-search-wrapper">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <a [routerLink]="['/procurement/addnewpo']" class="btn nh-btn-primary">Add</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="poList | filter : searchText " #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f034freferenceNumber">Reference Number</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f034forderType">Order Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034forderDate">Ordered Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="department">Department</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="supplier">Vendor</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="financialyear">Financial Year</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034ftotalAmount">Amount(RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034fapprovalStatus">Status</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="userName">Entered By</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by=".f034fcreatedDtTm">Entered Date</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indpo  of mf.data  ">
                <td>{{indpo.f034freferenceNumber}}</td>
                <td>{{indpo.f034forderType}}</td>
                <td>{{indpo.f034forderDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indpo.f034fidDepartment}}-{{indpo.department}}</td>
                <td>{{indpo.supplier}}</td>
                <td>{{indpo.financialyear}}</td>
                <td class="amountAlign">{{indpo.f034ftotalAmount | number: '.2'}}</td>
                <td>{{indpo.f034fapprovalStatus}}</td>
                <td>{{indpo.userName}}</td>
                <td>{{indpo.f034fcreatedDtTm | date: 'dd/MM/yyyy'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/procurement/editpo/{{indpo.f034fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indpo.f034fapprovalStatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indpo.f034fapprovalStatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indpo.f034fapprovalStatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>