<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Activity code - Level {{this.level +1}}</h1>
                </div>
            </div>
            <table class="table table-bordered table-striped table-food" [mfData]="activityCodeList" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th *ngIf="previousLevel">Previous Level</th>
                        <td *ngIf="this.level==2">
                            Level 1 Code
                        </td>
                        <th *ngIf="previousLevel">Level {{this.level}} Code</th>

                        <th>Code</th>
                        <th>Name</th>
                        <th *ngIf="this.level==0">Description</th>
                        <th *ngIf="this.level!=2">View Level</th>
                        <th *ngIf="this.level==2">Complete</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let indVoucher of mf.data">
                        <td *ngIf="previousLevel">
                            <span (click)="loadPreviousDataSet(indVoucher)">Level {{this.level}}</span>
                        </td>
                        <td *ngIf="this.level==2">{{activity.mainParentLevel}}</td>
                        <td *ngIf="previousLevel">{{activity.f058fcode}}</td>
                        <td>
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f058fcode}}>
                        </td>
                        <td>
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f058fname}}>
                        </td>


                        <td *ngIf="this.level==0">
                            <input type="text" class="form-control" readonly="readonly" placeholder="Enter Glcode" value={{indVoucher.f058fdescription}}>
                        </td>
                        <td *ngIf="this.level==2">

                            {{indVoucher.f058fcompleteCode}}
                        </td>

                        <td *ngIf="this.level!=2">
                            <span (click)="loadDataForNextSet(indVoucher.f058fid,indVoucher.f058flevelStatus,indVoucher.f058frefCode,indVoucher.f058fcode,indVoucher)">Next
                                Level </span>
                        </td>
                    </tr>
                    <tr>
                        <td *ngIf="previousLevel">&nbsp;</td>
                        <td *ngIf="this.level==2">
                            <input type="text" class="form-control" name="glCode" placeholder="Enter Code" [(ngModel)]="activity.mainParentLevel" readonly="readonly">

                        </td>
                        <td *ngIf="previousLevel">
                            <input type="text" maxlength="1" class="form-control" name="glCode" placeholder="Enter Code" [(ngModel)]="activity.f058fcode" readonly="readonly">
                        </td>
                        <td>
                            <input type="text" maxlength="1" class="form-control" name="glCode" placeholder="Enter Code" [(ngModel)]="activity.code" value="">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="glCode" placeholder="Enter Name" [(ngModel)]="activity.name" value="">
                        </td>

                        <td *ngIf="this.level==0">

                            <input type="text" class="form-control" name="description" placeholder="Enter Description" [(ngModel)]="activity.description"
                                value="">

                        </td>

                        <td>
                            <input type="button" name="add" (click)='addGlCode()' value='Save & Add Level' class="btn nh-btn-primary" />
                        </td>
                    </tr>

                </tbody>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                  </td>
            </table>

        </div>
    </div>
</div>