<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="viewid!=2">Request Invoice</h1>
          <h1 class="ad-page-title" *ngIf="viewid==2">Request Invoice Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="target">
            <div class="row">
              <div class="col-sm-4" *ngIf='id!=0'>
                <div class="form-group">
                  <label>Request Invoice Number</label>
                  <input type="text" class="form-control" [(ngModel)]="requestinvoiceDataheader.f071finvoiceNumber"
                    name="f071finvoiceNumber" placeholder="Invoice Number" readonly="readonly" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Customer Type</label>
                  <ng-select [disabled]="editDisabled" [items]="customertype | sort:'name'" bindLabel="name" bindValue="type"
                    [(ngModel)]="requestinvoiceDataheader.f071finvoiceType" name="f071finvoiceType" (change)="getType()">
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="type == 'OR'">
                <div class="form-group">
                  <label>Debtor Name</label>
                  <ng-select [disabled]="viewDisabled" [items]="customerList | sort:'Debtor'" bindLabel="Debtor"
                    bindValue="f021fid" [(ngModel)]="requestinvoiceDataheader.f071fidCustomer" name="f071fidCustomer"
                    #dept="ngModel" required>
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="type == 'SP'">
                <div class="form-group">
                  <label>Sponsor </label>
                  <ng-select [disabled]="viewDisabled" [items]="sponserList | sort:'f063fname'" bindLabel="Name"
                    bindValue="f063fid" [(ngModel)]="requestinvoiceDataheader.f071fidCustomer" name="f071fidCustomer">
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="type == 'STD'">
                <div class="form-group">
                  <label>Student </label>
                  <ng-select [disabled]="viewDisabled" [items]="studentList | sort:'f060fname'" bindLabel="f060fname"
                    bindValue="f060fid" [(ngModel)]="requestinvoiceDataheader.f071fidCustomer" name="f071fidCustomer">
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4" *ngIf="type == 'STA'">
                <div class="form-group">
                  <label>Staff </label>
                  <ng-select [disabled]="viewDisabled" [items]="smartStaffList | sort:'f034fname'" bindLabel="f034fname"
                    bindValue="f034fstaffId" [(ngModel)]="requestinvoiceDataheader.f071fidCustomer" name="f071fidCustomer"
                    #dept="ngModel" required>
                  </ng-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Request Invoice Date</label>
                  <input [disabled]="viewDisabled" type="date" min="2019-01-01" class="form-control" name="f071finvoiceDate"
                    [(ngModel)]="requestinvoiceDataheader.f071finvoiceDate" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4" style="display:none;">
                <div class="form-group">
                  <label>Advance Payment</label>
                  <input type="text" class="form-control" [(ngModel)]="requestinvoiceDataheader.f056famount" name="totalamount"
                    placeholder="Advance Payment">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Revenue Type</label>
                  <ng-select [disabled]="viewDisabled" [items]="revenuetypeList" bindLabel="f132frevenueName" bindValue="f132fid"
                    [(ngModel)]="requestinvoiceDataheader.f071frevenueType" name="f071frevenueType">
                  </ng-select>
                  <!-- <select class="form-control" [(ngModel)]="requestinvoiceDataheader.f071fbillType" name="f071fbillType">
                    <option value='0'>--Select--</option>
                    <option value='1'>General Bill</option>
                    <option value='2'>Utility Type</option>
                  </select> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Amount (RM)</label>
                  <input type="text" class="form-control" style="text-align: right" (keypress)="onlyNumberKey($event)"
                    name="finalAmount" [(ngModel)]="requestinvoiceDataheader.f071finvoiceTotal " (blur)="onBlurMethod()"
                    placeholder="Amount" readonly="readonly">
                </div>
              </div>
              <!-- <div class="col-sm-4" >
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" [(ngModel)]="requestinvoiceDataheader.f056fdescription" name="Description"
                    placeholder="Description">
                </div>
              </div> -->

            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label>Invoice Description<span class="required-class">*</span></label>
                  <textarea type="text" class="form-control" maxlength="300" [(ngModel)]="requestinvoiceDataheader.f071fdescription"
                    name="f071fdescription" placeholder="Invoice Description">

                  </textarea>
                </div>
              </div>
            </div>
          </div>

          <div id="overlay1"></div>

          <div id="myModal" class=" fade in" role="dialog">

            <!-- <div class="modal-dialog"> -->

            <!-- Modal content-->
            <div class="modal-content">
              <p class="maximize-icon">
                <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
              </p>
              <p class="minimize-icon hidden">
                <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
              </p>
              <div class="modal-body">



                <div class="table-responsive credit-note-table-wrapper" id="table">
                  <table class="table table-bordered table-striped credit-note-table">
                    <thead>
                      <tr>
                        <th rowspan="2">Revenue Item</th>
                        <th colspan='4' style='text-align: center;'>Debit GL Code</th>
                        <th colspan='4' style='text-align: center;'>Credit GL Code</th>

                        <th rowspan="2">Quantity</th>
                        <th rowspan="2">Price (RM)</th>
                        <th rowspan="2">Total (RM)</th>
                        <th rowspan="2">Tax Code</th>
                        <th rowspan="2">In %</th>
                        <th rowspan="2">Tax Amount (RM)</th>
                        <th rowspan="2">Total Inc Tax (RM)</th>
                        <!-- <th></th> -->
                      </tr>

                      <tr>
                        <th>Fund</th>
                        <th>Activity Code</th>
                        <th>Department</th>
                        <th>Account Code</th>
                        <th>Fund</th>
                        <th>Activity Code</th>
                        <th>Department</th>
                        <th>Account Code</th>
                      </tr>
                    </thead>
                    <tbody id="target1">
                      <tr *ngFor="let indinv of requestinvoiceList;let i = index;trackBy:indexTracker;last as isLast">
                        <td>
                          <!-- <select class="form-control" [(ngModel)]="requestinvoiceList[i].f072fidItem" name="f072fidItem"
                      #invoice="ngModel">
                      <option *ngFor="let inditem of itemList" [value]="inditem.f085fid">{{ inditem.f085fname }}</option>
                    </select> -->
                          <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'originalname'" style="width: 150px;"
                            bindLabel="originalname" bindValue="f085fid" [(ngModel)]="requestinvoiceList[i].f072fidItem"
                            name="f072fidItem" (change)="getglcodeList()">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                            bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="requestinvoiceList[i].f072fdebitFundCode"
                            name="f072fdebitFundCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                            style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="requestinvoiceList[i].f072fdebitActivityCode"
                            name="f072fdebitActivityCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                            bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="requestinvoiceList[i].f072fdebitDepartmentCode"
                            name="f072fdebitDepartmentCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                            style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="requestinvoiceList[i].f072fdebitAccountCode"
                            name="f072fdebitAccountCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                            bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="requestinvoiceList[i].f072fcreditFundCode"
                            name="f072fcreditFundCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                            style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="requestinvoiceList[i].f072fcreditActivityCode"
                            name="f072fcreditActivityCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                            bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="requestinvoiceList[i].f072fcreditDepartmentCode"
                            name="f072fcreditDepartmentCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                            style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="requestinvoiceList[i].f072fcreditAccountCode"
                            name="f072fcreditAccountCode">
                          </ng-select>
                        </td>
                        <td>
                          <input [disabled]="viewDisabled" type="text" style="width: 75px;" class="form-control"
                            (keypress)="onlyNumberKey($event)" [(ngModel)]="requestinvoiceList[i].f072fquantity"
                            placeholder="Enter Quantity" (change)="listamountprefill()">
                        </td>
                        <td>
                          <input [disabled]="viewDisabled" type="text" class="form-control" (keypress)="onlyNumberKey($event)"
                            [(ngModel)]="requestinvoiceList[i].f072fprice" style="text-align: right; width: 95px"
                            placeholder="Enter Price" name="listPrice" (change)="listamountprefill()">
                        </td>
                        <td><input type="text" readonly="readonly" maxlength="15" class="form-control" style="text-align: right;  width: 120px"
                            name="f072ftotalExc" [(ngModel)]="requestinvoiceList[i].f072ftotalExc" (blur)="onBlurMethod()"
                            placeholder="Total" value=""></td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'taxInformation'" style="width: 150px;"
                            bindLabel="taxInformation" bindValue="f081fid" [(ngModel)]="requestinvoiceList[i].f072fgstCode"
                            name="f072fgstCode">
                          </ng-select>
                        </td>
                        <!-- <td>
                    <input type="number" class="form-control" [(ngModel)]="requestinvoiceList[i].f072fgstValue" style="text-align: right" name="listGst"
                      (blur)="onBlurMethod()">
                  </td> -->
                        <td>
                          <input type="text" disabled="disabled" class="form-control" style="text-align: right; width: 80px"
                            name="f072fgstValue" [(ngModel)]="requestinvoiceList[i].f072fgstValue" (blur)="onBlurMethod()"
                            readonly="readonly" placeholder="Percentage" value="">
                        </td>

                        <td>
                          <input type="text" readonly="readonly" maxlength="15" class="form-control" style="text-align: right;  width: 120px"
                            name="f072ftaxAmount" [(ngModel)]="requestinvoiceList[i].f072ftaxAmount" (blur)="onBlurMethod()"
                            placeholder="Tax Amount" value="">
                        </td>


                        <td>
                          <input type="text" disabled="disabled" class="amountAlign" class="form-control" style="text-align: right;  width: 130px"
                            [(ngModel)]="requestinvoiceList[i].f072ftotal" name="listTotal" (blur)="onBlurMethod()"
                            placeholder="Total">
                        </td>

                        <!-- <td>
                    <input type="button" name="add" (click)='deleteRequestinvoice(requestinvoiceList[i])' value='Delete'
                      class="btn nh-btn-primary" />
                  </td> -->
                        <td *ngIf="!isLast">
                          <button class="btn nh-btn-primary" type="button" (click)='deleteRequestinvoice(requestinvoiceList[i])'
                            *ngIf="viewDisabled==false">
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>
                        <td *ngIf="isLast">
                          <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteRequestinvoice(requestinvoiceList[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>


                      <tr *ngIf="showLastRow==false">
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'originalname'" style="width: 150px;"
                            bindLabel="originalname" bindValue="f085fid" [(ngModel)]="requestinvoiceData.f072fidItem"
                            name="f072fidItem" (change)="getglcode()">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                            bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="requestinvoiceData.f072fdebitFundCode"
                            name="f072fdebitFundCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                            style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="requestinvoiceData.f072fdebitActivityCode"
                            name="f072fdebitActivityCode">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                            bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="requestinvoiceData.f072fdebitDepartmentCode"
                            name="f072fdebitDepartmentCode" #dept="ngModel" required>
                          </ng-select>
                        </td>

                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                            style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="requestinvoiceData.f072fdebitAccountCode"
                            name="f072fdebitAccountCode" #account="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                            bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="requestinvoiceData.f072fcreditFundCode"
                            name="f072fcreditFundCode" #fund="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                            style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="requestinvoiceData.f072fcreditActivityCode"
                            name="f072fcreditActivityCode" #activity="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="width: 150px;"
                            bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="requestinvoiceData.f072fcreditDepartmentCode"
                            name="f072fcreditDepartmentCode" #dept="ngModel" required>
                          </ng-select>
                        </td>

                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                            style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="requestinvoiceData.f072fcreditAccountCode"
                            name="f072fcreditAccountCode" #account="ngModel" required>
                          </ng-select>
                        </td>
                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="10" style="width: 75px;" class="form-control"
                            name="quantity" [(ngModel)]="requestinvoiceData.f072fquantity" (keypress)="onlyNumberKey($event)"
                            (blur)="amountprefill()" placeholder="Enter Quantity">
                        </td>
                        <td>
                          <input type="text" [disabled]="viewDisabled" maxlength="10" class="form-control" name="price"
                            style="text-align: right; width: 95px" [(ngModel)]="requestinvoiceData.f072fprice"
                            (keypress)="onlyNumberKey($event)" placeholder="Enter Price" (blur)="amountprefill()">
                        </td>
                        <td><input type="text" maxlength="15" class="form-control" (keypress)="onlyNumberKey($event)"
                            style="text-align: right;  width: 120px" name="f072ftotalExc" [(ngModel)]="requestinvoiceData.f072ftotalExc"
                            readonly="readonly" placeholder="Total"></td>
                        <td>
                          <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'taxInformation'" style="width: 150px;"
                            bindLabel="taxInformation" bindValue="f081fid" [(ngModel)]="requestinvoiceData.f072fgstCode"
                            (change)="getGstvalue()" name="f072fgstCode">
                          </ng-select>
                        </td>
                        <td>
                          <input type="text" style="width: 50px" class="form-control" (keypress)="onlyNumberKey($event)"
                            style="text-align: right;  width: 80px" name="f072fgstValue" [(ngModel)]="requestinvoiceData.f072fgstValue"
                            readonly="readonly" placeholder="Percentage" value="">
                        </td>



                        <td><input type="text" maxlength="15" class="form-control" (keypress)="onlyNumberKey($event)"
                            style="text-align: right; width: 120px" name="f072ftaxAmount" [(ngModel)]="requestinvoiceData.f072ftaxAmount"
                            readonly="readonly" (blur)="onBlurMethod()" placeholder="Tax Amount" value="">
                        </td>
                        <td>
                          <input type="text" disabled="disabled" maxlength="10" class="form-control" style="text-align: right ; width: 130px"
                            name="total" [(ngModel)]="requestinvoiceData.f072ftotal" readonly="readonly" placeholder="Total">
                        </td>
                        <!-- <td>
                    <input type="button" name="add" (click)='addrequestinvoicelist()' value='ADD' class="btn nh-btn-primary" />
                  </td> -->
                        <td>
                          <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addrequestinvoicelist()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:{{this.requestinvoiceDataheader.f071finvoiceTotal}}</td>

                        <td> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
          <div class="row" *ngIf="viewid==2">
            <div class="col-sm-12">
              <label>Remarks</label>
              <textarea class="form-control" [(ngModel)]="invoiceapprovalData.reason" name="reason" placeholder="Enter Remarks "></textarea>
            </div>
          </div>
          <div class="row" *ngIf="viewid==2">
            <div class="col-sm-12">
              <p class="text-right">
                <button type="button" (click)='invoiceApprovalListData()' class="btn nh-btn-primary">Approve</button>
                <button type="button" (click)='regectJournalApprovalListData()' class="btn nh-btn-primary">Reject</button>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/accountsrecivable/requestinvoice']" class="btn nh-btn-secondary" *ngIf="viewid!=2">Cancel</a>
                <a routerLink="/accountsrecivable/requestinvoiceapproval" class="btn nh-btn-secondary" *ngIf="viewid==2">Cancel</a>
                <!-- <a [routerLink]="['/accountsrecivable/requestinvoice']" class="btn nh-btn-primary">Cancel</a> -->
                <button type="submit" (click)='saveRequestinvoice()' class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>