<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelone']">Payroll
                                    Tax Schedule</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/leveltwo']"> Payroll
                                    Tax Exemption</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelthree']">
                                    Payroll EPF Contribution per Month</a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/payroll/levelfour']"> Payroll
                                    IT Deduction</a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title">Tax Schedule</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">

                    <thead>
                        <tr>
                            <th>P Start(RM)</th>
                            <th>P End(RM)</th>
                            <th>M(RM)</th>
                            <th>R(RM)</th>
                            <th>C1(RM)</th>
                            <th>C2(RM)</th>
                            <th>C3(RM)</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let indlevelone of leveloneList; let i = index;last as isLast">

                            <td>
                                <input type="text" class="form-control" style="text-align:right" name="f062fpStart" maxlength="10" placeholder="Enter PStart(RM)"
                                    [(ngModel)]="leveloneList[i].f062fpStart" value="" (blur)="onBlurMethod(leveloneList[i])"
                                    (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fpEnd" placeholder="Enter PEnd(RM)"
                                    [(ngModel)]="leveloneList[i].f062fpEnd" value="" (keypress)="onlyNumberKey($event)">
                            </td>

                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fm" placeholder="Enter M(RM)"
                                    [(ngModel)]="leveloneList[i].f062fm" value="" (keypress)="onlyNumberKey($event)">
                            </td>

                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fr" placeholder="Enter R(RM)"
                                    [(ngModel)]="leveloneList[i].f062fr" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fc1" placeholder="Enter C1(RM)"
                                    [(ngModel)]="leveloneList[i].f062fc1" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fc2" placeholder="Enter C2(RM)"
                                    [(ngModel)]="leveloneList[i].f062fc2" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fc3" placeholder="Enter C3(RM)"
                                    [(ngModel)]="leveloneList[i].f062fc3" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <!-- <td> -->
                            <!-- <input type="button" name="add" (click)='deletelevelone(leveloneList[i])' value='Delete' class="btn nh-btn-primary" /> -->
                            <!-- </td> -->
                            <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" type="button" (click)='deletelevelone(leveloneList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletelevelone(leveloneList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr *ngIf="showLastRow==false">
                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fpStart" placeholder="Enter PStart(RM)"
                                    [(ngModel)]="leveloneData.f062fpStart" value="" (keypress)="onlyNumberKey($event)">
                            </td>

                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fpEnd" placeholder="Enter PEnd(RM)"
                                    [(ngModel)]="leveloneData.f062fpEnd" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fm" placeholder="Enter M(RM)"
                                    [(ngModel)]="leveloneData.f062fm" value="" (keypress)="onlyNumberKey($event)">
                            </td>

                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fr" placeholder="Enter R(RM)"
                                    [(ngModel)]="leveloneData.f062fr" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fc1" placeholder="Enter C1(RM)"
                                    [(ngModel)]="leveloneData.f062fc1" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fc2" placeholder="Enter C2(RM)"
                                    [(ngModel)]="leveloneData.f062fc2" value="" (keypress)="onlyNumberKey($event)">
                            </td>
                            <td>
                                <input type="text" class="form-control" style="text-align:right" maxlength="10" name="f062fc3" placeholder="Enter C3(RM)"
                                    [(ngModel)]="leveloneData.f062fc3" value="" (keypress)="onlyNumberKey($event)">
                            </td>

                            <!-- <td>
                                <input type="button" name="add" (click)='addLevelone()' value='ADD' class="btn nh-btn-primary" />
                            </td> -->
                            <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addLevelone()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                        </tr>

                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <!-- <a routerLink="/payroll/levelone" class="btn nh-btn-secondary">Cancel</a> -->

                    <!-- <a [routerLink]="['/payroll/levelone']" class="btn nh-btn-secondary">Cancel</a> -->
                    <button type="submit" (click)='saveLevelone()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>