<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;padding-bottom: 100px">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title" *ngIf="idview!=2">Purchase Requisition Entry</h1>
          <h1 class="ad-page-title" *ngIf="idview==2">Purchase Requisition Approval</h1>
        </div>
      </div>
      <div class="row" id="target">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4" *ngIf="id!=0">
              <div class="form-group">
                <label>Reference Number</label>
                <input type="text" disabled="disabled" name="f088freferenceNumber" [(ngModel)]="purchaserequistionentryDataheader.f088freferenceNumber"
                  class="form-control">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Order Type</label>
                <ng-select [disabled]="viewDisabled" [items]="fordertype | sort:'name'" bindLabel="name" bindValue="name"
                  [(ngModel)]="purchaserequistionentryDataheader.f088forderType" name="f088forderType" class="formm-control">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Purchase Requisition Date</label>
                <input type="date" [disabled]="viewDisabled" class="form-control" name="f088fdate" [(ngModel)]="purchaserequistionentryDataheader.f088fdate"
                  (change)="dateComparison()" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Department<span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="departmentList | sort:'f015fdepartmentCode'" bindLabel="f015fdepartmentName"
                  bindValue="f015fdepartmentCode" [(ngModel)]="purchaserequistionentryDataheader.f088fidDepartment"
                  name="f088fidDepartment" (change)="getDepartment()">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Financial Year </label>
                <ng-select [disabled]="viewDisabled" [items]="financialList " bindLabel="f015fname" bindValue="f015fid"
                  [(ngModel)]="purchaserequistionentryDataheader.f088fidFinancialyear" name="f088fidFinancialyear"
                  (change)="getAllpurchaseGlList()"> </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Vendor </label>
                <ng-select [disabled]="viewDisabled" [items]="supplierList| sort:'Vendor'" bindLabel="Vendor" bindValue="f030fid"
                  [(ngModel)]="purchaserequistionentryDataheader.f088fidSupplier" name="f088fidSupplier"></ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description </label>
                <textarea type="text" [disabled]="viewDisabled" class="form-control" name="f088fdescription"
                  [(ngModel)]="purchaserequistionentryDataheader.f088fdescription" value="" required placeholder="Enter Description"></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount (RM)</label>
                <input type="text" class="form-control" style="text-align: right" name="f088ftotalAmount" [(ngModel)]="purchaserequistionentryDataheader.f088ftotalAmount"
                  placeholder="Amount" readonly="readonly" (change)="onBlurMethod()">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div id="overlay1"></div>

              <div id="myModal" class=" fade in" role="dialog">

                <!-- <div class="modal-dialog"> -->

                <!-- Modal content-->
                <div class="modal-content">
                  <p class="maximize-icon">
                    <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                  </p>
                  <p class="minimize-icon hidden">
                    <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                  </p>
                  <div class="modal-body">

                    <div class="table-responsive credit-note-table-wrapper">
                      <table class="table table-bordered table-striped credit-note-table" id="target1">
                        <thead>
                          <tr>
                            <th>Procurement Category</th>
                            <th>Procurement SubCategory</th>
                            <th>Item<span class="required-class">*</span></th>
                            <th>Asset Code</th>
                            <th colspan="4" style="text-align:center">GL Code<span class="required-class">*</span></th>
                            <th colspan="4" style="text-align:center">Budget Code<span class="required-class">*</span></th>
                            <th>SO Code<span class="required-class">*</span></th>
                            <th>Expected Delivery Date<span class="required-class">*</span></th>
                            <th>Quantity<span class="required-class">*</span></th>
                            <th>UOM</th>
                            <th>Price (RM)<span class="required-class">*</span></th>
                            <th>Total (RM)<span class="required-class">*</span></th>
                            <th>Tax Code<span class="required-class">*</span></th>
                            <th>In %<span class="required-class">*</span></th>
                            <th>Tax Amount (RM)<span class="required-class">*</span></th>
                            <th>Total Inc Tax (RM)<span class="required-class">*</span></th>
                            <th></th>
                          </tr>
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Fund</th>
                            <th>Activity Code</th>
                            <th>Cost Center</th>
                            <th>Account Code</th>
                            <th>Fund</th>
                            <th>Activity Code</th>
                            <th>Cost Center</th>
                            <th>Account Code</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let indinv of purchaserequistionentryList;let i = index;trackBy:indexTracker;last as isLast">
                            <td>
                              <input type="text" maxlength="10" readonly="readonly"  class="form-control"
                              name="categoryName" [(ngModel)]="purchaserequistionentryList[i].categoryName" placeholder="UOM">
                            </td>
                            <td>
                              <input type="text" maxlength="10" readonly="readonly" class="form-control"
                              name="subCategoryName" [(ngModel)]="purchaserequistionentryList[i].subCategoryName" placeholder="UOM">
                            </td>
                           
                            <td>
                              <input type="text" maxlength="10" readonly="readonly"  class="form-control"
                              name="itemName" [(ngModel)]="purchaserequistionentryList[i].itemName" placeholder="UOM">
                            </td>
                            <td>
                              <input type="text" maxlength="10" readonly="readonly"  class="form-control"
                              name="f088fassetCode" [(ngModel)]="purchaserequistionentryList[i].f088fassetCode" placeholder="UOM">

                            </td>
                        

                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="purchaserequistionentryList[i].f088ffundCode"
                                name="f088ffundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="purchaserequistionentryList[i].f088factivityCode"
                                name="f088factivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="purchaserequistionentryList[i].f088fdepartmentCode" name="f088fdepartmentCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="purchaserequistionentryList[i].f088faccountCode"
                                name="f088faccountCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterFund | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="purchaserequistionentryList[i].f088fbudgetFundCode"
                                name="f088fbudgetFundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f058fcompleteCode"
                                [(ngModel)]="purchaserequistionentryList[i].f088fbudgetActivityCode" name="f088fbudgetActivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="purchaserequistionentryList[i].f088fbudgetDepartmentCode" name="f088fbudgetDepartmentCode">
                              </ng-select>
                            </td>

                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'f059fcompleteCode'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f059fcompleteCode"
                                [(ngModel)]="purchaserequistionentryList[i].f088fbudgetAccountCode" name="f088fbudgetAccountCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="socodeList | sort:'socode'"
                                style="width: 150px;" bindLabel="socode" bindValue="socode" [(ngModel)]="purchaserequistionentryList[i].f088fsoCode"
                                name="f088fsoCode">
                              </ng-select>
                            </td>
                            <td>
                              <input type="date" [disabled]="viewDisabled" class="form-control" [(ngModel)]="purchaserequistionentryList[i].f088frequiredDate"
                                style="text-align: right" name="f088frequiredDate ">
                            </td>

                            <td>
                              <input type="text" [disabled]="viewDisabled" maxlength="10" style="width: 75px" class="form-control"
                                name="f088fquantity" [(ngModel)]="purchaserequistionentryList[i].f088fquantity"
                                (keypress)="onlyNumberKey($event)" placeholder="Quantity" (change)="listamountprefill()">
                            </td>
                            <td>
                                <input type="text" maxlength="10" readonly="readonly" style="width: 65px" class="form-control"
                                  name="f088funit" [(ngModel)]="purchaserequistionentryList[i].f088funit" placeholder="UOM">
                              </td>
                            <td>
                              <input type="text" [disabled]="viewDisabled" maxlength="10" style="text-align: right; width: 95px"
                                class="form-control" name="f088fprice" [(ngModel)]="purchaserequistionentryList[i].f088fprice"
                                (keypress)="onlyNumberKey($event)" placeholder="Price" (change)="listamountprefill()">
                            </td>

                            <td><input type="text" readonly="readonly" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                                name="f088total" [(ngModel)]="purchaserequistionentryList[i].f088total" (blur)="onBlurMethod()"
                                (keypress)="onlyNumberKey($event)" placeholder="Total">
                            </td>

                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'f081fcode'" style="width: 150px;"
                                bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="purchaserequistionentryList[i].f088ftaxCode"
                                name="f088ftaxCode">
                              </ng-select>
                            </td>

                            <td>
                              <input type="text" [disabled]="viewDisabled" maxlength="15" style="width: 65px" class="form-control"
                                readonly="readonly" name="f088fpercentage" [(ngModel)]="purchaserequistionentryList[i].f088fpercentage"
                                (keypress)="onlyNumberKey($event)" placeholder="In %" value="" (blur)="onBlurMethod()">
                            </td>


                            <td><input type="text" [disabled]="viewDisabled" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                                readonly="readonly" name="f088ftaxAmount" [(ngModel)]="purchaserequistionentryList[i].f088ftaxAmount"
                                (keypress)="onlyNumberKey($event)" placeholder="Tax Amount" value="" (blur)="onBlurMethod()">
                            </td>
                            <td>
                              <input type="text" disabled="disabled" maxlength="10" class="form-control" name="f088ftotalIncTax"
                                style="text-align: right;width: 130px" [(ngModel)]="purchaserequistionentryList[i].f088ftotalIncTax"
                                placeholder="Total" value="" (blur)="onBlurMethod()">
                            </td>

                            <td *ngIf="!isLast">
                              <button class="btn nh-btn-primary" type="button" (click)='deleteEntry(purchaserequistionentryList[i])'
                                *ngIf="viewDisabled==false">
                                <i class="fa fa-minus"></i>
                              </button>
                            </td>
                            <td *ngIf="isLast">
                              <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteEntry(purchaserequistionentryList[i])'>
                                <i class="fa fa-minus"></i>
                              </button>
                              <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                          </tr>


                          <tr *ngIf="showLastRow==false">
                            <td>
                           
                              <ng-select [items]="itemcategoryList" bindLabel="category_name" bindValue="category_code"
                              [(ngModel)]="purchaserequistionentryData.category_code" style="width: 150px;"
                              name="category_name" (change)="getSubCategories()">
                            </ng-select>

                            </td>
                            <td>
                              <ng-select [items]="itemsubcategoryList" bindLabel="subCategoryName" bindValue="subCategoryId"
                                [(ngModel)]="purchaserequistionentryData.subCategoryId" style="width: 150px;"
                                name="subCategoryId" (change)="getItems()">
                              </ng-select>
                            </td>
                           
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="itemList | sort:'itemName'" style="width: 150px;"
                                bindLabel="itemName" bindValue="itemId" (change)="getUOM()" [(ngModel)]="purchaserequistionentryData.idItem"
                                name="itemId">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="assetinformationList" bindLabel="f085fassetCode"
                                bindValue="f085fassetCode" style="width: 230px;" [(ngModel)]="purchaserequistionentryData.f088fassetCode"
                                name="f088fassetCode">
                              </ng-select>
                            </td>
                           
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="purchaserequistionentryData.f088ffundCode"
                                name="f088ffundCode" (change)="setFundCode()">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="purchaserequistionentryData.f088factivityCode"
                                name="f088factivityCode" (change)="setActivityCode()">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="purchaserequistionentryData.f088fdepartmentCode" name="f088fdepartmentCode"  (change)="setDepartmentCode()">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                                style="width: 150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="purchaserequistionentryData.f088faccountCode"
                                name="f088faccountCode"  (change)="setAccountCode()">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterFund | sort:'f057fcode'" style="width: 150px;"
                                bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="purchaserequistionentryData.f088fbudgetFundCode"
                                name="f088fbudgetFundCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterActivity | sort:'f058fcompleteCode'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f058fcompleteCode"
                                [(ngModel)]="purchaserequistionentryData.f088fbudgetActivityCode" name="f088fbudgetActivityCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterList | sort:'f015fdepartmentCode'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f015fdepartmentCode"
                                [(ngModel)]="purchaserequistionentryData.f088fbudgetDepartmentCode" name="f088fbudgetDepartmentCode">
                              </ng-select>
                            </td>

                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="costCenterAccount | sort:'f059fcompleteCode'"
                                style="width: 150px;" bindLabel="originalName" bindValue="f059fcompleteCode"
                                [(ngModel)]="purchaserequistionentryData.f088fbudgetAccountCode" name="f088fbudgetAccountCode">
                              </ng-select>
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="socodeList | sort:'socode'"
                                style="width: 150px;" bindLabel="socode" bindValue="socode" [(ngModel)]="purchaserequistionentryData.f088fsoCode"
                                name="f088fsoCode">
                              </ng-select>
                            </td>
                            <td>
                              <input type="date" [disabled]="viewDisabled" class="form-control" [(ngModel)]="purchaserequistionentryData.f088frequiredDate"
                                style="text-align: right" name="f088frequiredDate" (change)="dateComparison()">
                            </td>
                            <td>
                              <input type="text" [disabled]="viewDisabled" maxlength="10" style="width: 75px" class="form-control"
                                name="f088fquantity" [(ngModel)]="purchaserequistionentryData.f088fquantity" (keypress)="onlyNumberKey($event)"
                                placeholder="Quantity" (change)="listamountprefill()" (blur)="amountprefill()">
                            </td>
                            <td>
                                <input type="text" maxlength="10" readonly="readonly" style="width: 65px" class="form-control"
                                  name="f088funit" [(ngModel)]="purchaserequistionentryData.f088funit" placeholder="UOM">
                              </td>
                            <td>
                              <input type="text" [disabled]="viewDisabled" maxlength="10" style="text-align: right; width: 95px"
                                class="form-control" name="price" [(ngModel)]="purchaserequistionentryData.f088fprice"
                                (blur)="amountprefill()" (keypress)="onlyNumberKey($event)" placeholder="Price">
                            </td>
                            <td><input type="text" readonly="readonly" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                                name="f088total" [(ngModel)]="purchaserequistionentryData.f088total" (keypress)="onlyNumberKey($event)"
                                placeholder="Total">
                            </td>
                            <td>
                              <ng-select [disabled]="viewDisabled" [items]="taxcodeList | sort:'f081fcode'" style="width: 150px;"
                                bindLabel="f081fcode" bindValue="f081fid" [(ngModel)]="purchaserequistionentryData.f088ftaxCode"
                                (change)="getGstvalue()" name="f088ftaxCode">
                              </ng-select>
                            </td>
                            <td>
                              <input type="text" [disabled]="viewDisabled" maxlength="15" style="width: 65px" class="form-control"
                                readonly="readonly" name="f088fpercentage" [(ngModel)]="purchaserequistionentryData.f088fpercentage"
                                (keypress)="onlyNumberKey($event)" placeholder="In %" value="">
                            </td>
                            <td><input type="text" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                                readonly="readonly" name="f088ftaxAmount" [(ngModel)]="purchaserequistionentryData.f088ftaxAmount"
                                (keypress)="onlyNumberKey($event)" (blur)="onBlurMethod()" placeholder="Tax Amount"
                                value="">
                            </td>

                            <td>
                              <input type="text" disabled="disabled" maxlength="10" class="form-control" name="f088ftotalIncTax"
                                style="text-align: right;width: 130px" [(ngModel)]="purchaserequistionentryData.f088ftotalIncTax"
                                placeholder="Total">
                            </td>
                            <td>
                              <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                <i class="fa fa-minus"></i>
                              </button>
                              <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addEntrylist()'>
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>

                          </tr>

                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total:{{this.purchaserequistionentryDataheader.f088ftotalAmount}}</td>
                            <td> </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/procurement/purchaserequisitionentry']" *ngIf="idview!=2" class="btn nh-btn-secondary">Back</a>
                <a [routerLink]="['/procurement/prapproval']" *ngIf="idview==2" class="btn nh-btn-secondary">Back</a>
                <button type="submit" (click)='savePurchaseRequisition()' *ngIf="viewDisabled==false" class="btn um-btn-primary mar-l-20">Save</button>
              </p>
            </div>
          </div>
          <div class="row" *ngIf="idview==2">
            <div class="col-sm-12">
              <label>Description </label>
              <textarea class="form-control" [(ngModel)]="approvalData.reason" name="reason" placeholder="Enter the Description "></textarea>
            </div>
          </div>
          <div class="row" *ngIf="idview==2">
            <div class="col-sm-12">
              <p class="text-right">
                <button type="submit" (click)='PrapprovalListData()' class="btn nh-btn-primary">Approve</button>
                <button type="reject" (click)='regectapprovalListData()' class="btn nh-btn-primary">Reject</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>