<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Purchase Order Approval (Details)</h1>
        </div>
      </div>
      <div class="row" id="target">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Order Type</label>
                <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034forderType" name="f034forderType"
                  (change)="getPurchaseOrderNumber()">
                  <option [ngValue]="undefined" hidden selected> -- select-- </option>
                  <option value='PO'>PO</option>
                  <option value='NONPO'>NON PO</option>
                  <option value='WARRANT'>WARRANT</option>
                  <option value='NONPO'>GENERAL</option>
                  <option value='NONPO'>STAFF</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Referance Number</label>
                <input type="text" class="form-control" [(ngModel)]="purchaseorderDataheader.f034freferenceNumber" name="f034freferenceNumber"
                  placeholder="Referance Number" readonly="readonly" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Ordered Date</label>
                <input type="date" class="form-control" name="f034forderDate" [(ngModel)]="purchaseorderDataheader.f034forderDate"
                  value="" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Purchase Requisition Id </label>
                <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034fidPurchaseRequisition" (change)="getPurchaseOrderDetails()"
                  name="f034fidPurchaseRequisition">
                  <option [ngValue]="undefined" hidden selected> -- select-- </option>
                  <option *ngFor="let indpurchase of purchaseRequisitionList" [value]="indpurchase.f088fid">{{
                    indpurchase.f088freferenceNumber }} </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Budget Year </label>
                <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034fidFinancialyear" name="f034fidFinancialyear">
                  <option [ngValue]="undefined" hidden selected> -- select-- </option>
                  <option *ngFor="let indfinance of financialList" [value]="indfinance.f015fid">{{
                    indfinance.f015fname
                    }} </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Vendor </label>
                <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034fidSupplier" name="f034fidSupplier">
                  <option [ngValue]="undefined" hidden selected> -- select-- </option>
                  <option *ngFor="let indsupplier of supplierList" [value]="indsupplier.f030fid">{{
                    indsupplier.f030fcompanyName }} </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Cost Center </label>
                <select class="form-control" [(ngModel)]="purchaseorderDataheader.f034fidDepartment" name="f034fidDepartment">
                  <option [ngValue]="undefined" hidden selected> -- select-- </option>
                  <option *ngFor="let inddepartment of departmentList" [value]="inddepartment.f015fid">{{
                    inddepartment.f015fdepartmentName
                    }} </option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Expired Date</label>
                <input type="date" class="form-control" name="f034fexpiredDate" [(ngModel)]="purchaseorderDataheader.f034fexpiredDate"
                  value="" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Description </label>
                <textarea type="text" class="form-control" name="f034fdescription" [(ngModel)]="purchaseorderDataheader.f034fdescription"
                  value="" required placeholder="Description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount (RM)</label>
                <input type="text" class="form-control" style="text-align: right" name="f034ftotalAmount" [(ngModel)]="purchaseorderDataheader.f034ftotalAmount "
                  placeholder="Amount" readonly="readonly">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive credit-note-table-wrapper">
                <table class="table table-bordered table-striped table-food">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Unit</th>
                      <th colspan="4" style="text-align:center">GL Code</th>
                      <th colspan="4" style="text-align:center">Budget Code</th>
                      <th>SO Code</th>
                      <th>Required Date</th>
                      <th>Quantity</th>
                      <th>Price (RM)</th>
                      <th>Total (RM)</th>
                      <th>Tax Code</th>
                      <th>In %</th>
                      <th>Tax Amount (RM)</th>
                      <th>Total Inc Tax (RM)</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Fund Code</th>
                      <th>Activity Code</th>
                      <th>Cost Center Code</th>
                      <th>Account Code</th>
                      <th>Fund Code</th>
                      <th>Activity Code</th>
                      <th>Cost Center Code</th>
                      <th>Account Code</th>
                      <th></th>
                      <th> </th>
                      <th></th>
                      <th> </th>
                      <th> </th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indinv of purchaseorderList;let i = index;trackBy:indexTracker">
                      <td>
                        <select class="form-control" style="width: 90px" [(ngModel)]="purchaseorderList[i].f034fidItem"
                          name="f034fidItem" required #department="ngModel">
                          <option *ngFor="let indfeeitem of itemList" [value]="indfeeitem.f029fid">{{
                            indfeeitem.f029fitemName }}</option>
                        </select>
                      </td>
                      <td>
                        <input type="text" maxlength="10" style="text-align: right; width: 95px" class="form-control"
                          name="f034funit" [(ngModel)]="purchaseorderList[i].f034funit" placeholder="unit">
                      </td>
                      <td>
                        <input type="text" class="form-control fundAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034ffundCode"
                          name="f034ffundCode">
                      </td>
                      <td><input type="text" class="form-control activityCodeAlign" style="width:60px;" readonly="readonly"
                          [(ngModel)]="purchaseorderList[i].f034factivityCode" name="f034factivityCode" placeholder="Enter to Activity ">
                      </td>
                      <td> <input type="text" class="form-control costCenterAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034fdepartmentCode"
                          name="f034fdepartmentCode" placeholder="Enter to Department ">
                      </td>
                      <td> <input type="text" class="form-control accountCodeAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034faccountCode"
                          name="f034faccountCode" placeholder="Enter to Account ">
                      </td>
                      <td>
                        <input type="text" class="form-control fundAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034fbudgetFundCode"
                          name="f034fbudgetFundCode">
                      </td>
                      <td><input type="text" class="form-control activityCodeAlign" style="width:60px;" readonly="readonly"
                          [(ngModel)]="purchaseorderList[i].f034fbudgetActivityCode" name="f034fbudgetActivityCode"
                          placeholder="Enter to Activity ">
                      </td>
                      <td> <input type="text" class="form-control costCenterAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034fbudgetDepartmentCode"
                          name="f034fbudgetDepartmentCode" placeholder="Enter to Department ">
                      </td>
                      <td> <input type="text" class="form-control accountCodeAlign" readonly="readonly" [(ngModel)]="purchaseorderList[i].f034fbudgetAccountCode"
                          name="f034fbudgetAccountCode" placeholder="Enter to Account ">
                      </td>
                      <td>
                        <input type="text" style="width: 75px" class="form-control" name="f034fsoCode" [(ngModel)]="purchaseorderList[i].f034fsoCode">
                      </td>
                      <td>
                        <input type="date" class="form-control" [(ngModel)]="purchaseorderList[i].f034frequiredDate"
                          style="text-align: right" name="f034frequiredDate">
                      </td>
                      <td>
                        <input type="number" maxlength="10" style="width: 75px" class="form-control" name="f034fquantity"
                          [(ngModel)]="purchaseorderList[i].f034fquantity">
                      </td>
                      <td>
                        <input type="number" maxlength="10" style="text-align: right; width: 95px" class="form-control"
                          name="f034fprice" [(ngModel)]="purchaseorderList[i].f034fprice" placeholder="Price">
                      </td>
                      <td><input type="number" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                          name="f034total" [(ngModel)]="purchaseorderList[i].f034total" placeholder="Total" value="{{ purchaseorderList[i].f034fquantity * purchaseorderList[i].f034fprice }}">
                      </td>
                      <td>
                        <select class="form-control" style="width: 100px" [(ngModel)]="purchaseorderList[i].f034ftaxCode"
                          name="f034ftaxCode" required #department="ngModel" (change)="getGstvalue(this.value)">
                          <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                            indtaxcode.f081fcode }}</option>
                        </select>
                      </td>
                      <td>
                        <input type="number" maxlength="15" style="width: 65px" class="form-control" name="f034fpercentage"
                          [(ngModel)]="purchaseorderList[i].f034fpercentage" placeholder="" value="">
                      </td>


                      <td><input type="number" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                          name="f034ftaxAmount" [(ngModel)]="purchaseorderList[i].f034ftaxAmount" placeholder="Tax Amount"
                          value="">
                      </td>

                      <td>
                        <input type="text" disabled="disabled" maxlength="10" class="form-control" name="f034ftotalIncTax"
                          style="text-align: right;width: 130px" [(ngModel)]="purchaseorderList[i].f034ftotalIncTax"
                          placeholder="Total" value="">
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <th>Total</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/procurement/poapproval']" class="btn nh-btn-primary">Back</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>