<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Asset Registration</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="preRegisteredDetails | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f085fassetCode">Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fassetDescription">Sub Category</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f087fcategoryDiscription">Item Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fAcquisitionDate">Asset Description</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085forderNumber">Order Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085forderNumber">GRN Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085forderNumber">Created By</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085forderNumber">Created On</mfDefaultSorter>
                </th>
              

                <th>
                    <mfDefaultSorter by="f085forderNumber">Action</mfDefaultSorter>
                  </th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indRegDetails of mf.data ">
                <td>{{indRegDetails.categoryName}}</td>
                <td>{{indRegDetails.subCategoryName}}</td>
                <td>{{indRegDetails.itemName}}</td>
                <td>{{indRegDetails.f133fassetDescription}}</td>
                <td>{{indRegDetails.f133forderNumber}}</td>
                <td>{{indRegDetails.f034freferenceNumber}}</td>

                <td>{{indRegDetails.f014fuserName}}</td>
                <td>{{indRegDetails.f133fcreatedDtTm}}</td>

                <td><a routerLink="/assets/assetregistration/{{indRegDetails.f133fid}}" class="btn nh-btn-secondary">View</a></td>

              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <button type="button" class="btn um-btn-primary mar-l-20" (click)='saveAssetinformation()'>Approve</button>
              </p>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>