<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Credit Card Terminal</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewcreditcardterminal']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped " [mfData]="creditterminalList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f049fterminalNo">Terminal Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="departmentName">Department</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f049fbankCardType">Bank Card Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f049fstatus">Status</mfDefaultSorter>
                                </th>

                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indcreditcardterminal of mf.data">
                                <td>{{indcreditcardterminal.f049fterminalNo}}</td>
                                <td>{{indcreditcardterminal.departmentName}}</td>
                                <td>{{indcreditcardterminal.f049fbankCardType}}</td>
                                <td>{{indcreditcardterminal.f049fstatus == 1?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editcreditcardterminal/{{indcreditcardterminal.f049fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>