<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Voucher</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Voucher Type</label>
                                    <input type="text" class="form-control" name="VoucherType" placeholder="Enter Vocher Type" [(ngModel)]="vocherData.VoucherType" value="" required>
                                </div>
                            </div>
                        
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Voucher Name</label>
                                    <input type="text" class="form-control" name="VoucherName" placeholder="Enter Vocher Name" [(ngModel)]="vocherData.VoucherName" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Parent Voucher Type</label>
                                    <input type="text" class="form-control" name="ParentVoucherType" placeholder="Parent Vocher Type" [(ngModel)]="vocherData.ParentVoucherType" value="" required>
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Effective Date</label>
                                    <input type="date" class="form-control" name="EffectiveDate" [(ngModel)]="vocherData.suffEffectiveDateix" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Auto Numbering</label>
                                    <input type="text" class="form-control" name="AutoNumbering" placeholder="Enter Auto Numbering" [(ngModel)]="vocherData.AutoNumbering" value="" required>
                                </div>
                            </div>
                        
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Suffix</label>
                                    <input type="text" class="form-control" name="suffix" placeholder="Enter Suffix" [(ngModel)]="vocherData.suffix" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Prefix</label>
                                    <input type="text" class="form-control" name="prefix" placeholder="Enter Prefix" [(ngModel)]="vocherData.prefix" value="">
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>AutoPrint AfterSaving</label>
                                    <input type="text" class="form-control" name="AutoPrintAfterSaving" placeholder="Enter AutoPrint AfterSaving" [(ngModel)]="vocherData.AutoPrintAfterSaving" value=""
                                        required>
                                </div>
                            </div>
                        
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Auto Narration</label>
                                    <input type="text" class="form-control" name="AutoNarration" placeholder="Enter Auto Narration" [(ngModel)]="vocherData.AutoNarration" value="">
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Auto Narration Description</label>
                                    <input type="text" class="form-control" name="AutoNarrationDescription" placeholder="Enter Auto Narration Description" [(ngModel)]="vocherData.AutoNarrationDescription"
                                        value="">
                                </div>
                            </div>
                        
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Reset Number Every Financial Year</label>
                                    <input type="text" class="form-control" name="ResetNumberEveryFY" placeholder="Enter Reset Number Every Financial Year" [(ngModel)]="vocherData.ResetNumberEveryFY" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/generalsetup/vocher" class="btn nh-btn-secondary">Cancel</a>

                                    <button type="submit" (click)='addVocher()' class="btn nh-btn-primary">Save</button>

                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>