<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;padding-bottom: 100px;">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Vendor Registration</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/procurement/addnewsupplierregistration']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="supplierList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>

                            <tr>
                                <th>
                                    <mfDefaultSorter by="f030fvendorCode">Vendor Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fcompanyName"> Vendor Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030femail"> Email</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="f013fcountryName"> Country</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f012fstateName"> State</mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter by="f030fphone">Phone Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030ffax">Fax Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fwebsite"> Website</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fstartDate"> Start Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fendDate">End Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fapprovalStatus"> Status</mfDefaultSorter>
                                </th>
                                <th> Edit/View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indsuppreg of mf.data ">
                                <td>{{indsuppreg.f030fvendorCode}}</td>

                                <td>{{indsuppreg.f030fcompanyName}}</td>
                                <td>{{indsuppreg.f030femail}}</td>
                                <!-- <td>{{indsuppreg.f013fcountryName}}</td>
                                <td>{{indsuppreg.f012fstateName}}</td> -->
                                <td>{{indsuppreg.f030fphone}}</td>
                                <td>{{indsuppreg.f030ffax}}</td>
                                <td>{{indsuppreg.f030fwebsite}}</td>
                                <td>{{indsuppreg.f030fstartDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indsuppreg.f030fendDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indsuppreg.f030fapprovalStatus }}</td>
                                <!-- <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/procurement/editsupplierregistration/{{indsuppreg.f030fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                       
                                    </div>
                                </td> -->
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/procurement/editsupplierregistration/{{indsuppreg.f030fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye" *ngIf="indsuppreg.f030fapprovalStatus  == 'Approved'"></i>
                                                <i class="fa fa-edit" *ngIf="indsuppreg.f030fapprovalStatus  == 'Pending'"></i>
                                                <i class="fa fa-eye" *ngIf="indsuppreg.f030fapprovalStatus  == 'Rejected'"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>