<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Sponser Bill</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="add-btn">
                            <a [routerLink]="['/studentfinance/addnewsponserbill']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- <table class="table table-bordered table-striped table-food"> -->

                    <table class="table table-bordered table-striped" [mfData]="sponserbillList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f063fbillNo">Bill Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="sponsor">Sponser Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063fdate">Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f063famount">Amount (RM)</mfDefaultSorter>
                                </th>
                                <!-- <th>Sponser Name</th>
                                <th>Bill Number</th>
                                <th>Date</th>
                                <th>Amount (RM)</th> -->
                                <th>View</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indsponserbill of mf.data ">
                                <td>{{indsponserbill.f063fbillNo}}</td>
                                <td>{{indsponserbill.sponsor}}</td>
                                <td>{{indsponserbill.f063fdate | date: 'dd/MM/yyyy'}}</td>
                                <td class="amountAlign">{{indsponserbill.f063famount | number: '.2'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/editsponserbill/{{indsponserbill.f063fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <!-- <button type="submit" (click)='invoiceApprovalListData()' class="btn nh-btn-primary">Approve</button> -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>