<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Asset Pre Registration</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form (ngSubmit)="f.form.valid && addassetpreregistration()" #f="ngForm" name="form" novalidate>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>GRN<span class="required-class">*</span></label>
                  <!-- <select class="form-control" [(ngModel)]="assetpreregDataheader.f092fidGrn" name="GRN" (change)="getItemDetails()">
                    <option [ngValue]="undefined" hidden selected> -- select-- </option>
                    <option *ngFor="let indassetcategory of grnList" [value]="indassetcategory.f034fid">{{
                      indassetcategory.f034freferenceNumber }}</option>
                  </select> -->
                  <ng-select [items]="grnList" bindLabel="f034freferenceNumber" bindValue="f034fid" [(ngModel)]="assetpreregDataheader.f092fidGrn"
                    name="f092fidGrn" #type="ngModel" (change)="getItemDetails()" required>
                  </ng-select>
                </div>
              </div>


</div>               
          </form>

          <div class="row">
            <table class="table table-bordered table-striped table-food">
              <thead>
                <tr>
                  <th>Category Name</th>
                  <th>Sub Category</th>
                  <th>Item</th>
                  <th> Quantity</th>
                  <th>Received Quantity</th>
                  <th>Created By</th>
                  <th>Created On</th>
                  <th>Register</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let inddebitinfo of grnitemList;let i = index;trackBy:indexTracker">
                  <td>
                    <input type="text" class="form-control" disabled="disabled" placeholder="Reference Sequence Number"
                      [(ngModel)]="grnitemList[i].categoryName" name="po" value="">
                  </td>
                 
                  <td>
                  <input type="text" class="form-control" disabled="disabled" placeholder="Reference Sequence Number"
                    [(ngModel)]="grnitemList[i].subCategoryName" name="po" value="">
                </td>
                <td>
                    <input type="text" class="form-control" disabled="disabled" placeholder="Reference Sequence Number"
                      [(ngModel)]="grnitemList[i].itemName" name="po" value="">
                </td>
                <td>
                  <input type="text" class="form-control" disabled="disabled" placeholder="Reference Sequence Number"
                    [(ngModel)]="grnitemList[i].f034fquantity" name="po" value="">
              </td>
                <td>
                    <input type="text" class="form-control" disabled="disabled" placeholder="Reference Sequence Number"
                      [(ngModel)]="grnitemList[i].f034fquantity_received" name="po" value="">
                </td>
                <td>
                  <input type="text" class="form-control" disabled="disabled" placeholder="Reference Sequence Number"
                    [(ngModel)]="grnitemList[i].createdBy" name="po" value="">
              </td>
              <td>
                <input type="date" class="form-control" disabled="disabled" placeholder="Reference Sequence Number"
                  [(ngModel)]="grnitemList[i].f034fcreated_dt_tm" name="po" value="">
            </td>
               
                  <td *ngIf="grnitemList[i].f034fitem_sub_category==1">
                      <a routerLink="/assets/getgrnid/{{grnitemList[i].f034fid_details}}" class="btn nh-btn-primary">Pre Register</a>
                    </td>
                    <td *ngIf="grnitemList[i].f034fitem_sub_category==3">
                      <a routerLink="/assets/grntempstock/{{grnitemList[i].f034fid_details}}" class="btn nh-btn-primary">Pre Register</a>
                    </td>

                </tr>

              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>