<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Approval Bursary Withdraw</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="onlineapprovaloneList | filter : searchText " #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                    <th><mfDefaultSorter by="f064freferenceNumber">Reference Number</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="application">Description</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f064fsum">Investment Amount (RM)</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="investmentStatus">Investment Status</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="f064fcontactPerson">Contact Person</mfDefaultSorter></th>


                                
                                <th>Approve / Reject </th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indapprovalone of mf.data">
                                <td>{{indapprovalone.f064freferenceNumber}}</td>
                                <td>{{indapprovalone.application}}</td>
                                <td class="amountAlign">{{indapprovalone.f064fsum | number: '.2'}}</td>
                                <td>{{indapprovalone.investmentStatus}}</td>
                                <td>{{indapprovalone.f064fcontactPerson}}</td>

                                <!-- <td>{{indapprovalone.f063fstatus === true?'Active':'Inactive'}}</td> -->

                                <td>
                                    <input type="checkbox" [(ngModel)]="indapprovalone.f064fstatuss">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/investment/viewonlineapprovalone/{{indapprovalone.f064fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="onlineapprovaloneData.reason" name="reason" placeholder=" Enter the Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='onlineapprovaloneListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectoneListData()' class="btn nh-btn-primary">Reject</button>

                            </p>
                            
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>