<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Warrant</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/procurement/addwarrant']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="warrantList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f143freferenceNumber">Reference Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="vendor">Vendor</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f143ftotal">Amount(RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f143fstatus">Status</mfDefaultSorter>
                                </th>
                                <th>Edit/View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indwarrant of mf.data ">

                                <td>{{indwarrant.f143freferenceNumber}}</td>
                                <td>{{indwarrant.vendor}}</td>
                                <td class="amountAlign">{{indwarrant.f143ftotal | number: '.2'}}</td>
                                <td>{{indwarrant.f143fstatus}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/procurement/editwarrant/{{indwarrant.f143fid}}">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye" *ngIf="indwarrant.f143fstatus  == 'Approved'"></i>
                                                <i class="fa fa-edit" *ngIf="indwarrant.f143fstatus  == 'Pending'"></i>
                                                <i class="fa fa-eye" *ngIf="indwarrant.f143fstatus  == 'Rejected'"></i>
                                              </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>