<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Refund Information</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Graduation Type<span class="required-class">*</span> </label>
                <ng-select [items]="graduationType | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                  bindValue="f011fdefinitionCode" [(ngModel)]="bondinformationData.graduationType" name="graduationType"
                  #level="ngModel" (change)="getViewData()" required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Student </label>
                <ng-select [items]="studentList |sort: 'f060fmatricNumber'" maxlength="50" bindLabel="Student"
                  bindValue="f060fmatricNumber" [(ngModel)]="bondinformationData.student" name="student" #program="ngModel"
                  required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Program </label>
                <ng-select [items]="programmeList |sort: 'originalName'" maxlength="50" bindLabel="originalName"
                  bindValue="f068fcode" [(ngModel)]="bondinformationData.program" name="program" #program="ngModel"
                  required>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Citizen<span class="required-class">*</span></label>
                <ng-select [disabled]="editDisabled" [items]="citizenList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode"
                  bindValue="f011fid" [(ngModel)]="bondinformationData.citizen" name="citizen" #citizen="ngModel"
                  required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Region<span class="required-class">*</span></label>
                <ng-select [items]="regionList |sort: 'f016keterangan'" maxlength="50" bindLabel="f016keterangan"
                  bindValue="f016kdwarga" [(ngModel)]="bondinformationData.region" name="region" #region="ngModel"
                  required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Intake<span class="required-class">*</span> </label>

                <ng-select [items]="intakeList |sort: 'f067fname'" maxlength="50" bindLabel="f067fname" bindValue="f067fname"
                  [(ngModel)]="bondinformationData.intake" name="intake" #intake="ngModel" required>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <button type="submit" (click)="searchListFunction()" class="btn nh-btn-primary">Search</button>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food">
                <thead>
                  <tr>
                    <th></th>
                    <th>Student Name</th>
                    <th>Email</th>
                    <th>Invoice Number</th>
                    <th>Fee Item </th>
                    <th>Amount(RM)</th>
                    <th>Status</th>
                    <th>Return Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indList of searchList | filter : searchText ">
                    <td>
                      <input type="checkbox" [(ngModel)]="indList.checked">
                    </td>
                    <td>{{indList.f060fname }}</td>
                    <td>{{indList.f060femail }}</td>
                    <td>{{indList.f071finvoice_number}}</td>
                    <td>{{indList.f066fname}}</td>
                    <td class="amountAlign">{{indList.f072ftotal | number: '.2'}} </td>
                    <td>
                      <select class="form-control">
                        <option value="Graduation">Graduated</option>
                        <option value="Discontinued">Discontinued</option>
                      </select>
                    </td>
                    <td><input value="" type="date" class="form-control" [(ngModel)]="indList.returnDate">{{indList.f031fdate
                      | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right">
                <button type="button" (click)='addBondInfo()' class="btn um-btn-primary">Return</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>