<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Request Invoice Details</h1>
        </div>
      </div>
      <div class="row" id="target">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Request Invoice Type</label>
                <select class="form-control" [(ngModel)]="requestinvoiceDataheader.f071finvoiceType" name="f071finvoiceType"
                  (change)="getInvoiceNumber()">
                  <option value='0'>--Select--</option>
                  <option value='KI'>Payment Counter</option>
                  <option value='CI'>Credit Card Payment</option>
                  <option value='PI'>Invoice from PTJ</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Request Invoice Number</label>
                <input type="text" class="form-control" [(ngModel)]="requestinvoiceDataheader.f071finvoiceNumber" name="f071finvoiceNumber"
                  placeholder="Invoice Number" readonly="readonly" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" name="startDate" [(ngModel)]="requestinvoiceDataheader.f071finvoiceDate"
                  value="" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Amount (RM)</label>
                <input type="text" class="form-control" style="text-align: right" name="finalAmount" [(ngModel)]="requestinvoiceDataheader.f071finvoiceTotal "
                  placeholder="Amount" readonly="readonly">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Customer </label>
                <!-- <input type="text" class="form-control" name="customer" placeholder="Enter customer " [(ngModel)]="recurringsetupcustomerData.f077fcustomer" value="" required> -->
                <select class="form-control" [(ngModel)]="requestinvoiceDataheader.f071fidCustomer" name="f071fidCustomer">
                  <option *ngFor="let indcustomer of customerList" [value]="indcustomer.f021fid">{{
                    indcustomer.f021ffirstName
                    }} {{ indcustomer.f021flastName}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4" style="display:none;">
              <div class="form-group">
                <label>Advance Payment</label>
                <input type="text" class="form-control" [(ngModel)]="requestinvoiceDataheader.f056famount" name="totalamount"
                  placeholder="Advance Payment">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Bill Type</label>
                <!-- <input type="text" class="form-control" name="startDate" [(ngModel)]="requestinvoiceDataheader.f071fbillType"
                  value="" required> -->
                  <select class="form-control" [(ngModel)]="requestinvoiceDataheader.f071fbillType" name="f071fbillType">
                  <option value='0'>--Select--</option>
                  <option value='Utility Type'>Utility Type</option>
                </select>
              </div>
            </div>
            <!-- <div class="col-sm-4" >
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" [(ngModel)]="requestinvoiceDataheader.f056fdescription" name="Description"
                    placeholder="Description">
                </div>
              </div> -->

          </div>
          <!-- <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Bill Type</label>
                 
                    <select class="form-control" [(ngModel)]="requestinvoiceDataheader.f071fbillType" name="f071fbillType">
                    <option value='0'>--Select--</option>
                    <option value='Utility Type'>Utility Type</option>
                  </select>
                </div>
              </div>
          </div> -->

          <div class="table-responsive credit-note-table-wrapper">
            <table class="table table-bordered table-striped credit-note-table">
                <thead>
                    <tr>
                        <th rowspan="2">Item</th>
                        <th colspan='4' style='text-align: center;'>Debit GL Code</th>
                        <th colspan='4'  style='text-align: center;'>Credit GL Code</th>
                       
                        <th rowspan="2">Quantity</th>
                        <th rowspan="2">Price (RM)</th>
                        <th rowspan="2">Tax Code</th>
                        <th rowspan="2">In %</th>
                        <th rowspan="2">Total (RM)</th>
                        <th rowspan="2">Tax Amount (RM)</th>
                        <th rowspan="2">Total Inc Tax (RM)</th>
                        <th></th>
                      </tr>
  
                  <tr>
                    <th>Fund</th>
                    <th>Activity Code</th>
                    <th>Department Code</th>
  
                    <th>Account Code</th>
  
  
                    <th>Fund</th>
                    <th>Activity Code</th>
                    <th>Department Code</th>
  
                    <th>Account Code</th>
                  </tr>
                </thead>
              <tbody>
                <tr *ngFor="let indinv of requestinvoiceList;let i = index;trackBy:indexTracker" >
                  <td>
                    <select class="form-control" style="width: 100px;" disabled="disabled" [(ngModel)]="requestinvoiceList[i].f072fidItem" name="f072fidItem"
                      #invoice="ngModel">
                      <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                    </select> </td>
                  <td>
                    <!-- <select class="form-control" [(ngModel)]="requestinvoiceList[i].f072fidDebitGlcode" name="f072fidCreditGlcode">
                      <option *ngFor="let indglcode of glcodeList" [value]="indglcode.f014fid">{{ indglcode.f014fglCode
                        }}</option>
                    </select> -->
                    <select class="form-control fundAlign" disabled="disabled" [(ngModel)]="requestinvoiceList[i].f072fdebitFundCode" name="f072fdebitFundCode"
                      required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} - {{
                        indfund.f057fname }}</option>
                    </select>
                  </td>
                  <td> <select class="form-control accountCodeAlign" disabled="disabled" [(ngModel)]="requestinvoiceList[i].f072fdebitAccountCode" name="f072fdebitAccountCode"
                      placeholder="Enter to Account " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                        indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                    </select></td>
                  <td><select class="form-control activityCodeAlign" disabled="disabled" [(ngModel)]="requestinvoiceList[i].f072fdebitActivityCode" name="f072fdebitActivityCode"
                      placeholder="Enter to Activity " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                        - {{ indactivitycode.f058fname }}</option>
                    </select></td>
                  <td> <select class="form-control costCenterAlign" disabled="disabled" style="width: 165px" [(ngModel)]="requestinvoiceList[i].f072fdebitDepartmentCode" name="f072fdebitDepartmentCode"
                      placeholder="Enter to Department " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                        - {{ inddepartment.f015fdepartmentName }}</option>
                    </select></td>
                  <td><select class="form-control fundAlign" disabled="disabled" [(ngModel)]="requestinvoiceList[i].f072fcreditFundCode" name="f072fcreditFundCode"
                      required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} - {{
                        indfund.f057fname }}</option>
                    </select></td>
                  <td> <select class="form-control accountCodeAlign" disabled="disabled" [(ngModel)]="requestinvoiceList[i].f072fcreditAccountCode" name="f072fcreditAccountCode"
                      placeholder="Enter to Account " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                        indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                    </select></td>
                  <td><select class="form-control activityCodeAlign" disabled="disabled" [(ngModel)]="requestinvoiceList[i].f072fcreditActivityCode" name="f072fcreditActivityCode"
                      placeholder="Enter to Activity " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                        - {{ indactivitycode.f058fname }}</option>
                    </select></td>
                  <td> <select class="form-control costCenterAlign" disabled="disabled" style="width: 165px" [(ngModel)]="requestinvoiceList[i].f072fcreditDepartmentCode" name="f072fcreditDepartmentCode"
                      placeholder="Enter to Department " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                        - {{ inddepartment.f015fdepartmentName }}</option>
                    </select></td>
                  <td>
                    <input type="number" style="width: 75px;" disabled="disabled" class="form-control" [(ngModel)]="requestinvoiceList[i].f072fquantity"
                      value="" (blur)="onBlurMethod()">
                  </td>
                  <td>
                    <input type="number" class="form-control" disabled="disabled" [(ngModel)]="requestinvoiceList[i].f072fprice" style="text-align: right; width: 95px"
                      name="listPrice" (blur)="onBlurMethod()">
                  </td>
                  <td>
                    <select class="form-control" disabled="disabled" style="width: 100px;" [(ngModel)]="requestinvoiceList[i].f072fgstCode" name="f072fgstCode"
                      #invoice="ngModel">
                      <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                        indtaxcode.f081fcode }}</option>
                    </select> </td>
                  <!-- <td>
                    <input type="number" class="form-control" [(ngModel)]="requestinvoiceList[i].f072fgstValue" style="text-align: right" name="listGst"
                      (blur)="onBlurMethod()">
                  </td> -->
                  <td>
                    <input type="text" disabled="disabled" class="form-control" style="text-align: right; width: 80px"
                      name="f072fgstValue" [(ngModel)]="requestinvoiceList[i].f072fgstValue" placeholder="Percentage"
                      value="">
                  </td>

                  <td><input type="number" disabled="disabled" maxlength="15" class="form-control" style="text-align: right;  width: 120px"
                      name="f072ftotalExc" [(ngModel)]="requestinvoiceList[i].f072ftotalExc" placeholder="Total" value=""></td>


                  <td>
                    <input type="number" disabled="disabled" maxlength="15" class="form-control" style="text-align: right;  width: 120px"
                      name="f072ftaxAmount" [(ngModel)]="requestinvoiceList[i].f072ftaxAmount" placeholder="Tax Amount"
                      value="">
                  </td>


                  <td>
                    <input type="text" disabled="disabled" class="amountAlign" class="form-control" style="text-align: right;  width: 130px"
                      [(ngModel)]="requestinvoiceList[i].f072ftotal" name="listTotal" placeholder="Total">
                  </td>

                  
                </tr>


                <!-- <tr>
                  <td>
                    <select class="form-control" style="width: 90px" [(ngModel)]="requestinvoiceData.f072fidItem" name="fidItem"
                      required #department="ngModel">
                      <option *ngFor="let inditem of itemList" [value]="inditem.item_id">{{ inditem.item_name }}</option>
                    </select>
                  </td>
                  <td>
                  

                    <select class="form-control" [(ngModel)]="requestinvoiceData.f072fdebitFundCode" name="f072fdebitFundCode"
                      required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} - {{
                        indfund.f057fname }}</option>
                    </select>
                  </td>
                  <td> <select class="form-control" [(ngModel)]="requestinvoiceData.f072fdebitAccountCode" name="f072fdebitAccountCode"
                      placeholder="Enter to Account " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                        indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                    </select></td>
                  <td><select class="form-control" [(ngModel)]="requestinvoiceData.f072fdebitActivityCode" name="f072fdebitActivityCode"
                      placeholder="Enter to Activity " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                        - {{ indactivitycode.f058fname }}</option>
                    </select></td>
                  <td> <select class="form-control" style="width: 165px" [(ngModel)]="requestinvoiceData.f072fdebitDepartmentCode" name="f072fdebitDepartmentCode"
                      placeholder="Enter to Department " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                        - {{ inddepartment.f015fdepartmentName }}</option>
                    </select></td>
                  <td><select class="form-control" [(ngModel)]="requestinvoiceData.f072fcreditFundCode" name="f072fcreditFundCode"
                      required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indfund of fundList" [value]="indfund.f057fcode">{{indfund.f057fcode}} - {{
                        indfund.f057fname }}</option>
                    </select></td>
                  <td> <select class="form-control" [(ngModel)]="requestinvoiceData.f072fcreditAccountCode" name="f072fcreditAccountCode"
                      placeholder="Enter to Account " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indaccountcode of accountcodeList" [value]="indaccountcode.f059fcompleteCode">{{
                        indaccountcode.f059fcompleteCode }} - {{ indaccountcode.f059fname }}</option>
                    </select></td>
                  <td><select class="form-control" [(ngModel)]="requestinvoiceData.f072fcreditActivityCode" name="f072fcreditActivityCode"
                      placeholder="Enter to Activity " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let indactivitycode of activitycodeList" [value]="indactivitycode.f058fcompleteCode">{{indactivitycode.f058fcompleteCode}}
                        - {{ indactivitycode.f058fname }}</option>
                    </select></td>
                  <td> <select class="form-control" style="width: 165px" [(ngModel)]="requestinvoiceData.f072fcreditDepartmentCode" name="f072fcreditDepartmentCode"
                      placeholder="Enter to Department " required #glcode="ngModel">
                      <option [ngValue]="undefined" hidden selected> --please select-- </option>
                      <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fdepartmentCode">{{inddepartment.f015fdepartmentCode}}
                        - {{ inddepartment.f015fdepartmentName }}</option>
                    </select></td>
                 
                  <td>
                    <input type="number" maxlength="10" style="width: 75px;" class="form-control" name="quantity"
                      [(ngModel)]="requestinvoiceData.f072fquantity" placeholder="">
                  </td>
                  <td>
                    <input type="number" maxlength="10" class="form-control" name="price" style="text-align: right; width: 95px"
                      [(ngModel)]="requestinvoiceData.f072fprice" placeholder="Price">
                  </td>
                  <td>
                    <select class="form-control" style="width: 100px" [(ngModel)]="requestinvoiceData.f072fgstCode"
                      name="f072fgstCode" required #department="ngModel" (change)="getGstvalue(this.value)">
                      <option *ngFor="let indtaxcode of taxcodeList" [value]="indtaxcode.f081fid">{{
                        indtaxcode.f081fcode }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" style="width: 50px" class="form-control" style="text-align: right;  width: 80px"
                      name="f072fgstValue" [(ngModel)]="requestinvoiceData.f072fgstValue" placeholder="" value="">
                  </td>

                  <td><input type="number" maxlength="15" class="form-control" style="text-align: right;  width: 120px"
                      name="f072ftotalExc" [(ngModel)]="requestinvoiceData.f072ftotalExc" placeholder="Total" value="{{ requestinvoiceData.f072fquantity * requestinvoiceData.f072fprice }}"></td>

                  <td><input type="number" maxlength="15" class="form-control" style="text-align: right; width: 120px"
                      name="f072ftaxAmount" [(ngModel)]="requestinvoiceData.f072ftaxAmount" placeholder="Tax Amount"
                      value=""></td>



                  <td>
                    <input type="text" disabled="disabled" maxlength="10" class="form-control" style="text-align: right ; width: 130px"
                      name="total" [(ngModel)]="requestinvoiceData.f072ftotal" placeholder="Total" value="{{ requestinvoiceData.f072fgstValue / 100 * (requestinvoiceData.f072fquantity * requestinvoiceData.f072fprice) + (requestinvoiceData.f072fquantity * requestinvoiceData.f072fprice) }}">
                  </td> -->
                  <!-- <td>
                    <input type="button" name="add" (click)='addrequestinvoicelist()' value='ADD' class="btn nh-btn-primary" />
                  </td> -->
                <!-- </tr> -->

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <th>Total</th>

                  <!-- <td> </td> -->
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/accountsrecivable/requestinvoiceapproval']" class="btn nh-btn-primary">Back</a>
                <!-- <button type="submit" (click)='saveRequestinvoice()' class="btn nh-btn-primary">Save</button> -->
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
