<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;padding-bottom: 80px;">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Summary</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Budget Year<span class="required-class">*</span></label>
                                <ng-select [disabled]="viewDisabled" [items]="finantialyearList | sort:'f110fyear'"
                                    bindLabel="f110fyear" bindValue="f110fid" [(ngModel)]="budgetsummaryData.FinancialYear"
                                    (change)="getListOfPendingCostCenter()" name="FinancialYear">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fund<span class="required-class">*</span></label>
                                <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'f057fname'" bindLabel="originalName"
                                    bindValue="f057fcode" [(ngModel)]="budgetsummaryData.Fund" name="Fund">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Cost Center<span class="required-class">*</span> </label>
                                <ng-select [disabled]="viewDisabled" [items]="budgetcostcenterLists " bindLabel="originalName"
                                    bindValue="f015fdepartmentCode" [(ngModel)]="budgetsummaryData.Department" name="Department">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='addBudgetsummary()' class="btn nh-btn-primary">Get Data</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="budgetsummaryList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10" id='DivIdToPrint'>
                        <thead>
                            <tr>
                                <th>Fund</th>
                                <th>Activity Code</th>
                                <th>CostCenter</th>
                                <th>Account Code</th>
                                <th>Virement Add</th>
                                <th>Virement Reduce</th>
                                <th>Increment Amount</th>
                                <th>Decrement Amount</th>
                                <th>Actual Budget</th>
                                <th>Commitment</th>
                                <th>Expenses</th>
                                <!-- <th>Total Expenses</th> -->
                                <th>Current Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indbudgetsummary of mf.data ">
                                <td>{{indbudgetsummary.fund}}</td>
                                <td>{{indbudgetsummary.activity}}</td>
                                <td>{{indbudgetsummary.department}}</td>
                                <td>{{indbudgetsummary.account}}</td>
                                <td>{{indbudgetsummary.f108fveriment_to}}</td>
                                <td>{{indbudgetsummary.f108fveriment_from}}</td>
                                <td>{{indbudgetsummary.f108fincrement_amount}}</td>
                                <td>{{indbudgetsummary.f108fdecrement_amount}}</td>
                                <td>{{indbudgetsummary.f108fallocated_amount}}</td>
                                <td>{{indbudgetsummary.f108fbudget_commitment}}</td>
                                <td>{{indbudgetsummary.f108fbudget_expensed}}</td>
                                <!-- <td>{{indbudgetsummary.f108fbudget_expensed}}</td> -->
                                <td>{{indbudgetsummary.f108fbudget_pending}}</td>
                            </tr>
                        </tbody>
                        <td colspan="9">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>