<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Opening Balance</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="add-btn">
              <a [routerLink]="['/generalledger/addnewopeningbalance']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="openingbalanceList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="financialyear">Financial Year</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="fundName">Fund</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="activityName">Activity Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="departmentName">Department</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="accountName">Account Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f016fdrAmount">Debit Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f016fcrAmount">Credit Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f016fapprovedStatus"> Status</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indopeningbalance of mf.data">
                <td>{{indopeningbalance.financialyear}}</td>
                <td>{{indopeningbalance.fundName}}</td>
                <td>{{indopeningbalance.activityName}}</td>
                <td>{{indopeningbalance.departmentName}}</td>
                <td>{{indopeningbalance.accountName}}</td>
                <td class="amountAlign">{{indopeningbalance.f016fdrAmount | number: '.2'}}</td>
                <td class="amountAlign">{{indopeningbalance.f016fcrAmount | number: '.2'}}</td>
                <td>{{indopeningbalance.f016fapprovedStatus}}</td>

                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/generalledger/editopeningbalance/{{indopeningbalance.f016fid}}/0">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indopeningbalance.f016fapprovedStatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indopeningbalance.f016fapprovedStatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indopeningbalance.f016fapprovedStatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>