<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Disposal Account Code</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/assets/addnewdisposalaccountcode']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="disposalaccountcodeList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>

                <th>
                  <mfDefaultSorter by="f033fcode">Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="accountCode">Account code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="type">Disposal Type Reason</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f033fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inddisposalaccountcode of mf.data ">

                <td>{{inddisposalaccountcode.f033fcode}}</td>
                <td>{{inddisposalaccountcode.accountCode}}</td>
                <td>{{inddisposalaccountcode.type}}</td>
                <td>{{inddisposalaccountcode.f033fstatus == 1?'Active':'Inactive'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/assets/editdisposalaccountcode/{{inddisposalaccountcode.f033fid}}">
                      <button class="btn nh-btn-edit">

                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>