<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Apply Loan</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form #f="ngForm" name="form" novalidate>
            <div class="row">
              <table class="table table-bordered table-striped table-food">
                <tr>
                  <td width='40%'>Loan Type</td>
                  <td>
                    <ng-select [items]="loannameList | sort:'f020floanName'" bindLabel="f020floanName" bindValue="f020fid"
                      [(ngModel)]="vehicleloanData.f043fidLoanName" name="f043fidLoanName" #name="ngModel" (change)="getLoanTypeDetails()">
                    </ng-select>
                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted)" class="form-errors">*Select
                      Loan Type</span>
                  </td>
                </tr>
                <tr *ngIf="typeofLoan=='Vehicle Loan'">
                  <td width='40%'>Vehicle Condition</td>
                  <td>
                    <ng-select [items]="Vehiclelist" bindLabel="name" bindValue="id" [(ngModel)]="vehicleloanData.f043fvehicleCondition"
                      name="f043fvehicleCondition" #vehiclecond="ngModel" (change)="hideDetailsOfNew()">
                    </ng-select>
                    <span *ngIf="vehiclecond.errors && (vehiclecond.dirty || vehiclecond.touched || f.submitted)" class="form-errors">*Select
                      Vehicle Condition</span>
                  </td>
                </tr>
              </table>
              <table class="table table-bordered table-striped table-food">
                <tr>
                  <td width='40%'>Employee Name</td>
                  <td>
                    <ng-select [items]="smartStaffList" bindLabel="gradeCustomerName" bindValue="f034fstaffId"
                      [(ngModel)]="vehicleloanData.f043fempName" name="f043fempName" disabled>
                    </ng-select>
                  </td>
                </tr>
                <tr>
                  <td>IC NO</td>
                  <td> <input type="text" maxlength="20" class="form-control" name="f043icnumber" [(ngModel)]="vehicleloanData.f043icnumber"
                      value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Staff No</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="f034fstaffId"
                      [(ngModel)]="vehicleloanData.f034fstaffId" value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Department</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="departmentName"
                      [(ngModel)]="vehicleloanData.departmentName" value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Head of Department</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="hod"
                      [(ngModel)]="vehicleloanData.f034freportingName" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Unit</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="Unit"
                      [(ngModel)]="vehicleloanData.Unit" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Designation</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="designation"
                      [(ngModel)]="vehicleloanData.designation" value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Designation Status</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="designation status"
                      [(ngModel)]="vehicleloanData.designationStatus" value="" #reference="ngModel" disabled>
                </tr>
                <tr>
                  <td>Status</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="Status"
                      [(ngModel)]="vehicleloanData.Status" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Date of Report</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="dor"
                      [(ngModel)]="vehicleloanData.dor" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Confirmation Date</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="cd" [(ngModel)]="vehicleloanData.cd"
                      value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Basic Salary</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="bs" [(ngModel)]="vehicleloanData.bs"
                      value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Fixed Allowance</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="fa" [(ngModel)]="vehicleloanData.fa"
                      value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Acting Allowance</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="aa" [(ngModel)]="vehicleloanData.aa"
                      value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Total Monthly Deduction</td>
                  <td> <input type="text" readonly="readonly" maxlength="20" class="form-control" name="tmd"
                      [(ngModel)]="vehicleloanData.tmd" value="" #reference="ngModel">
                </tr>
                <tr>
                  <td>Address</td>
                  <td> <input type="text" readonly="readonly" maxlength="500" class="form-control" name="address"
                      [(ngModel)]="vehicleloanData.address" value="" #reference="ngModel">
                </tr>
              </table>
              <div class="col-sm-12" *ngIf="hideUsedDetails==1">
                <h1 class="ad-page-title">Used Vehicle Details </h1>
              </div>
              <table class="table table-bordered table-striped ta" *ngIf="hideUsedDetails==1">
                <tr>
                  <td width='40%'>Chassis Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fchasisNo" placeholder="Enter Chassis Number"
                      [(ngModel)]="vehicleloanData.f043fchasisNo" value="" #Chassis="ngModel">
                    <span *ngIf="Chassis.errors && (Chassis.dirty || Chassis.touched || f.submitted )" class="form-errors">*Enter
                      the Chassis Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>Engine Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fengineNo" placeholder="Enter Engine Number"
                      [(ngModel)]="vehicleloanData.f043fengineNo" value="" #Engine="ngModel">
                    <span *ngIf="Engine.errors && (Engine.dirty || Engine.touched || f.submitted )" class="form-errors">*Enter
                      the Engine Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>Vehicle Registration Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fregistrationNo" placeholder="Enter Vehicle Registration Number"
                      [(ngModel)]="vehicleloanData.f043fregistrationNo" value="" #Registration="ngModel">
                    <span *ngIf="Registration.errors && (Registration.dirty || Registration.touched || f.submitted )"
                      class="form-errors">*Enter
                      the Vehicle Registration Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>JKR Evaluation Amount(RM)</td>
                  <td> <input type="text" maxlength="15" style="text-align: right" class="form-control" name="f043fjkrAmount"
                      placeholder="Enter JKR Evaluation Amount(RM)" [(ngModel)]="vehicleloanData.f043fjkrAmount" value=""
                      #JKR="ngModel" (keypress)="onlyNumberKey($event)">
                    <span *ngIf="JKR.errors && (JKR.dirty || JKR.touched || f.submitted )" class="form-errors">*Enter
                      the JKR Evaluation Amount(RM).</span></td>
                </tr>
                <tr>
                  <td width='40%'>IC Number/Owner Registration Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043ficNo" placeholder="Enter IC Number./Owner Registration Number"
                      [(ngModel)]="vehicleloanData.f043ficNo" value="" #Owner="ngModel">
                    <span *ngIf="Owner.errors && (Owner.dirty || Owner.touched || f.submitted )" class="form-errors">*Enter
                      the IC Number./Owner Registration Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>JKR Evaluation Certificate Number</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fjkrCertificateNo" placeholder="Enter JKR Evaluation Certificate Number"
                      [(ngModel)]="vehicleloanData.f043fjkrCertificateNo" value="" #Evaluation="ngModel">
                    <span *ngIf="Evaluation.errors && (Evaluation.dirty || Evaluation.touched || f.submitted )" class="form-errors">*Enter
                      the JKR Evaluation Certificate Number.</span></td>
                </tr>
                <tr>
                  <td width='40%'>JKR Evaluation Period</td>
                  <td>
                    <ng-select [items]="jkrList | sort: 'name'" bindLabel="name" bindValue="id" [(ngModel)]="vehicleloanData.f043fjkrPeriod"
                      name="f043fjkrPeriod" #Period="ngModel" required>
                    </ng-select>
                    <span *ngIf="Period.errors && (Period.dirty || Period.touched || f.submitted)" class="form-errors">*Select
                      JKR Evaluation Period</span>
                  </td>
                </tr>
              </table>
              <div class="col-sm-12" *ngIf="hideNewDetails==1">
                <h1 class="ad-page-title"> Details </h1>
              </div>
              <table class="table table-bordered table-striped table-food" *ngIf="hideNewDetails==1">
                <tr *ngIf="typeofLoan=='Vehicle Loan'">
                  <td width='40%'>Manufacturer</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fmanufacturer" placeholder="Enter Manufacture"
                      [(ngModel)]="vehicleloanData.f043fmanufacturer" value="" #manufacture="ngModel">
                    <span *ngIf="manufacture.errors && (manufacture.dirty || manufacture.touched || f.submitted )"
                      class="form-errors">*Enter
                      the Manufacture .</span></td>
                </tr>
                <tr>
                  <td>Model</td>
                  <td> <input type="text" maxlength="10" class="form-control" name="f043fmodel" placeholder="Enter Model"
                      [(ngModel)]="vehicleloanData.f043fmodel" value="" #model="ngModel">
                    <span *ngIf="model.errors && (model.dirty || model.touched || f.submitted )" class="form-errors">*Enter
                      the Model
                      .</span></td>
                </tr>
                <tr *ngIf="typeofLoan=='Vehicle Loan'">
                  <td>CC</td>
                  <td> <input type="text" maxlength="5" class="form-control" name="f043fcc" placeholder="Enter CC"
                      [(ngModel)]="vehicleloanData.f043fcc" value="" #cc="ngModel">
                    <span *ngIf="cc.errors && (cc.dirty || cc.touched || f.submitted )" class="form-errors">*Enter
                      the
                      CC .</span></td>
                </tr>
                <tr *ngIf="showVendor!='Vendor'">
                  <td>Dealer</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fcompanyName" placeholder="Enter Dealers"
                      [(ngModel)]="vehicleloanData.f043fcompanyName" value="" #cmpname="ngModel">
                    <span *ngIf="cmpname.errors && (cmpname.dirty || cmpname.touched || f.submitted )" class="form-errors">*Enter
                      the Dealers.</span></td>
                </tr>
                <tr *ngIf="typeofLoan=='Vehicle Loan'">
                  <td width='40%'>Driving License</td>
                  <td> <input type="text" maxlength="50" class="form-control" name="f043fdrivingLicense" placeholder="Enter Driving License"
                      [(ngModel)]="vehicleloanData.f043fdrivingLicense" value="" #driving="ngModel">
                    <span *ngIf="driving.errors && (driving.dirty || driving.touched || f.submitted )" class="form-errors">*Enter
                      the Driving License .</span></td>
                </tr>
              </table>
              <div class="row">
                <div class="col-sm-12">
                  <h1 class="ad-page-title">Loan Details</h1>
                </div>
              </div>
              <table class="table table-bordered table-striped table-food">
                <tr *ngIf="showVendor=='Vendor'">
                  <td width='40%'>Vendor</td>
                  <td>
                    <ng-select [items]="supplierListNew" bindLabel="f030fcompanyName" bindValue="f030fid" [(ngModel)]="vehicleloanData.f043fidVendor"
                      name="f043fidVendor" #Vendor="ngModel">
                    </ng-select>
                </tr>
                <tr>
                  <td>Insurance</td>
                  <td>
                    <ng-select [items]="insurancecompanyList | sort:'f101fproductName'" bindLabel="f101fproductName"
                      bindValue="f101fid" [(ngModel)]="vehicleloanData.f043finsuranceComp" name="f043finsuranceComp"
                      #insurance="ngModel">
                    </ng-select>
                    <span *ngIf="insurance.errors && (insurance.dirty || insurance.touched || f.submitted)" class="form-errors">*Select
                      Insurance EMP</span>
                  </td>
                </tr>
                <tr>
                  <td width='40%'>Loan Entitlement(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043floanEntitlement"
                      [(ngModel)]="vehicleloanData.f043floanEntitlement" value="" #entitilement="ngModel" (keypress)="onlyNumberKey($event)">
                    <span *ngIf="entitilement.errors && (entitilement.dirty || entitilement.touched || f.submitted )"
                      class="form-errors">*Enter the Loan Entitlement .</span></td>
                </tr>
                <tr>
                  <td>Purchase Price (RM)</td>
                  <td> <input type="text" maxlength="15" class="form-control amountAlign" style="text-align: right"
                      name="f043fpurchasePrice" placeholder="Enter Purchase Price" [(ngModel)]="vehicleloanData.f043fpurchasePrice"
                      value="" #purchaseprice="ngModel" (keypress)="onlyNumberKey($event)" (click)="checkInsurance()">
                    <span *ngIf="purchaseprice.errors && (purchaseprice.dirty || purchaseprice.touched || f.submitted )"
                      class="form-errors">*Enter the Purchase Price
                      .</span></td>
                </tr>
                <tr>
                  <td> Loan Amount(RM)</td>
                  <td> <input type="text" maxlength="15" class="form-control" style="text-align: right" name="f043floanAmount"
                      placeholder="Enter Total Loan Amount" [(ngModel)]="vehicleloanData.f043floanAmount" value=""
                      #loanamount="ngModel" (keypress)="onlyNumberKey($event)" (blur)="checkEntitlement()">
                    <span *ngIf="loanamount.errors && (loanamount.dirty || loanamount.touched || f.submitted )" class="form-errors">*Enter
                      the Total Loan Amount</span></td>
                </tr>
                <tr>
                  <td>Instalment Period</td>
                  <td> <input type="text" maxlength="10" class="form-control " name="f043finstallmentPeriod" placeholder="Enter Instalment Period"
                      [(ngModel)]="vehicleloanData.f043finstallmentPeriod" value="" (blur)="monthlyemicalculate()"
                      #instalementperiod="ngModel">
                    <span *ngIf="instalementperiod.errors && (instalementperiod.dirty || instalementperiod.touched || f.submitted )"
                      class="form-errors">*Enter the Instalment Period</span></td>
                </tr>

                <tr >
                  <td>Debt Ratio</td>
                  <td> <input type="text" maxlength="15" class="form-control amountAlign" name="f043debtRatio"
                      [(ngModel)]="vehicleloanData.f043debtRatio" (keypress)="onlyNumberKey($event)" value=""
                      #f043fdebtRatio="ngModel" disabled>
                  </td>
                </tr>
                <tr>
                  <td>Insurance Amount(RM)</td>
                  <td> <input type="text" maxlength="15" class="form-control amountAlign" name="f043insuranceAmt"
                      [(ngModel)]="vehicleloanData.f043insuranceAmt" value="" #f043finsuranceamts="ngModel" (blur)="calculateTotal()"
                      (keypress)="onlyNumberKey($event)" disabled="disabled">
                    <span *ngIf="f043finsuranceamts.errors && (f043finsuranceamts.dirty || f043finsuranceamts.touched || f.submitted )"
                      class="form-errors">*Enter the Insurance Amount</span></td>
                </tr>
                <tr>
                  <td>Total Loan Amount(RM)</td>
                  <td> <input type="text" maxlength="15" readonly="readonly" class="form-control amountAlign" style="text-align: right"
                      name="f043ftotalLoan" [(ngModel)]="vehicleloanData.f043ftotalLoan" value="" (keypress)="onlyNumberKey($event)"
                      #ftotalloanAmount="ngModel">
                    <span *ngIf="ftotalloanAmount.errors && (ftotalloanAmount.dirty || ftotalloanAmount.touched || f.submitted )"
                      class="form-errors">*Enter
                      the Total Loan Amount</span></td>
                </tr>
                <tr>
                  <td></td>
                  <td> <button type="button" class="btn um-btn-primary mar-l-20" (click)="calculateLoan()">Calculate
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Monthly Installment(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043fmonthlyInstallment"
                      [(ngModel)]="vehicleloanData.f043fmonthlyInstallment" (keypress)="onlyNumberKey($event)">
                </tr>
                <tr>
                  <td>Principal Monthly(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043fprincipal"
                      [(ngModel)]="vehicleloanData.f043fprincipal" (keypress)="onlyNumberKey($event)">
                </tr>
                <tr>
                  <td>Profit Monthly(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043fprofitAmount"
                      [(ngModel)]="vehicleloanData.f043fprofitAmount" (keypress)="onlyNumberKey($event)">
                </tr>

                <tr>
                  <td>Total Payment(RM)</td>
                  <td> <input type="text" readonly="readonly" maxlength="15" class="form-control amountAlign" name="f043ftotalLoan"
                      [(ngModel)]="vehicleloanData.f043ftotalLoan" (keypress)="onlyNumberKey($event)">
                </tr>
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-12">
              <h1 class="ad-page-title">Guarantor Details</h1>
            </div>
          </div>
          <table class="table table-bordered table-striped table-food">
            <tr *ngFor="let indinv of guaranteeList;let i = index;last as isLast">
              <td>
                <ng-select [items]="gradeStaffList" bindLabel="gradeCustomerName" bindValue="f034fstaffId" [(ngModel)]="guaranteeList[i].guaranteeId"
                  name="guaranteeId" #firstgurrarantor="ngModel" (change)="guarantorLevel(guaranteeList[i],i)">
                </ng-select>
              </td>
            </tr>
          </table>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/loan/vehicleloan']" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)="addVehicleloan()" class="btn um-btn-primary mar-l-20">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>