<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Stock Distribution</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="stockdistrubutionList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="applicantName">Applicant Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="departmentName">Apply Stock from Store</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f099frequiredDate">Required Date</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f099fapprovalStatus">Status</mfDefaultSorter>
                </th>
                <th>
                  View
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indstockreg of mf.data ">
                <td>{{indstockreg.f099fapplicantName}}-{{indstockreg.applicantName}}</td>
                <td>{{indstockreg.departmentName}}</td>
                <td>{{indstockreg.f099frequiredDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indstockreg.f099fapprovalStatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/assets/viewstockditrubution/{{indstockreg.f099fid}}/2">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indstockreg.f099fapprovalStatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indstockreg.f099fapprovalStatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indstockreg.f099fapprovalStatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>