<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" id="target">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title"*ngIf="viewid!=2">Payment Voucher</h1>
          <h1 class="ad-page-title" *ngIf="viewid==2">Payment Voucher Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Payment Voucher Number  <span class="required-class">*</span></label>
                <input type="text" readonly="readonly" class="form-control" [disabled]="viewDisabled" name="f093fvoucherNo" [(ngModel)]="paymentvoucherDataheader.f093fvoucherNo"
                  value="" required>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Payment Voucher Type  <span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="paymenttypeList | sort:'f011fdefinitionCode' " bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="paymentvoucherDataheader.f093fpaymentType"
                  name="f093fpaymentType" (change)="getUserType()" required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Company Bank  <span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="companyBankList | sort:'Bank'" bindLabel="Bank" bindValue="f041fid" [(ngModel)]="paymentvoucherDataheader.f093fidCompanyBank"
                  name="f093fidCompanyBank" #accd="ngModel" required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Bank  <span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="bankList" bindLabel="f042fbankName" bindValue="f042fid" [(ngModel)]="paymentvoucherDataheader.f093fidBank"
                  name="f093fidBank" #accd="ngModel" required>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Payment Mode  <span class="required-class">*</span></label>
                <ng-select [disabled]="viewDisabled" [items]="paymentmodeList | sort:'f011fdefinitionCode'" bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="paymentvoucherDataheader.f093fpaymentMode"
                  name="f093fpaymentMode" #accd="ngModel" required>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Payment Reference Number  <span class="required-class">*</span></label>
                <input type="text" class="form-control" [disabled]="viewDisabled" name="paymentRefNo" [(ngModel)]="paymentvoucherDataheader.f093fpaymentRefNo "
                  placeholder="Payment Reference Number">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Description  <span class="required-class">*</span></label>
                <input type="text" [disabled]="viewDisabled" class="form-control" name="Description" [(ngModel)]="paymentvoucherDataheader.f093fdescription"
                  value="" required placeholder="Description">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food" id="target1">
                <thead>
                  <tr>
                    <th>Bill Registration Number</th>
                    <th>Voucher Date</th>
                    <th>Total Amount(RM)</th>
                    <th>Paid Amount(RM)</th>
                    <th>Customer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indpaymentList of paymentvoucherList;let i = index;trackBy:indexTracker">
                    <td>
                          <input type="text" readonly="readonly"class="form-control" [(ngModel)]="paymentvoucherList[i].f091freferenceNumber"
                            name="total amount" placeholder="Total">
                      

                    </td>
                    <td>
                      <input type="date" readonly="readonly" class="form-control" [(ngModel)]="paymentvoucherList[i].f091fcreatedDate"
                        style="text-align: right" name="invoicedate" (blur)="onBlurMethod()">
                    </td>

                    <td>
                      <input type="text"readonly="readonly" maxlength="15" class="amountAlign" class="form-control" style="text-align: right" [(ngModel)]="paymentvoucherList[i].f091ftotalAmount"
                        name="total amount" placeholder="Total">
                    </td>
                    <td>
                      <input type="text" readonly="readonly" class="amountAlign" maxlength="15" class="form-control"(keypress)="onlyNumberKey($event)" style="text-align: right" [(ngModel)]="paymentvoucherList[i].f094fpaidAmount"
                        name="paidamount" placeholder="Paid Amount">
                    </td>
                    <td>
                      <input type="text" readonly="readonly" class="form-control" [(ngModel)]="paymentvoucherList[i].f093idCustomer"
                        name="f093idCustomer" placeholder="Customer" disabled>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="text-right">
                  <a [routerLink]="['/accountspayable/paymentvoucher']" class="btn nh-btn-secondary" *ngIf="viewid!=2">Cancel</a>
                  <a [routerLink]="['/accountspayable/paymentvoucherapproval']" class="btn nh-btn-secondary" *ngIf="viewid==2">Cancel</a>
                <button type="submit" (click)='savePaymentvoucher()' class="btn nh-btn-primary" *ngIf="viewDisabled==false">Save</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>