<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll; padding-bottom: 100px">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title" *ngIf="this.idview!=2">Warrant</h1>
                    <h1 class="ad-page-title" *ngIf="this.idview==2">Warrant Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4" *ngIf="id>0">
                            <div class="form-group">
                                <label>Reference Number<span class="required-class">*</span></label>
                                <input type="text" readonly="readonly" maxlength="25" class="form-control" name="f143freferenceNumber"
                                    placeholder="Reference Number" [(ngModel)]="warrantDataheader.f143freferenceNumber"
                                    value="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Vendor </label>
                                <ng-select [disabled]="viewDisabled" [items]="supplierList" bindLabel="Vendor"
                                    bindValue="f030fid" [(ngModel)]="warrantDataheader.f143fidVendor" name="f143fidVendor">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Department<span class="required-class">*</span></label>
                                <ng-select [disabled]="viewDisabled" [items]="DeptList| sort:'f015fdepartmentCode'"
                                    bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="warrantDataheader.f143fdepartment"
                                    name="f143fdepartment">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Description<span class="required-class">*</span></label>
                                <textarea type="text" [disabled]="viewDisabled"  maxlength="300" class="form-control" name="f143fdescription"
                                    placeholder="Enter Description" [(ngModel)]="warrantDataheader.f143fdescription"
                                    value=""></textarea>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Amount(RM)<span class="required-class">*</span> </label>
                                <input maxlength="15" disabled="disabled" class="form-control" style="text-align:right" name="f143ftotal"
                                    placeholder="Amount" [(ngModel)]="warrantDataheader.f143ftotal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <thead>
                        <tr>
                            <th>Staff</th>
                            <th>Class</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                            <th>Amount(RM)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let inddebitinfo of warrantList;let i = index;trackBy:indexTracker;last as isLast">
                            <td>
                                <ng-select [disabled]="viewDisabled" [items]="staffList | sort:'f034fname'" bindLabel="f034fname"
                                    bindValue="f034fstaffId" style="width:120px" [(ngModel)]="warrantList[i].f144fidStaff" name="f144fidStaff"
                                    #dept="ngModel" required>
                                </ng-select>
                            </td>
                            <td>
                                <input type="text" [disabled]="viewDisabled"  maxlength="10" class="form-control" style="width: 120px" name="f144fclass"
                                    [(ngModel)]="warrantList[i].f144fclass" placeholder="Enter Class">
                            </td>
                            <td>
                                <input type="text" [disabled]="viewDisabled"  maxlength="10" class="form-control" style="width: 120px" name="f144ffrom"
                                    [(ngModel)]="warrantList[i].f144ffrom" placeholder="Enter From">
                            </td>
                            <td>
                                <input type="text" [disabled]="viewDisabled"  maxlength="10" class="form-control" style="width: 120px" name="f144fto"
                                    [(ngModel)]="warrantList[i].f144fto" placeholder="Enter To">
                            </td>
                            <td>
                                <input type="date" [disabled]="viewDisabled"  maxlength="25" class="form-control" name="f144fdate"
                                    [(ngModel)]="warrantList[i].f144fdate">
                            </td>

                            <td>
                                <input maxlength="10" [disabled]="viewDisabled"  style="text-align: right" (keypress)="onlyNumberKey($event)"
                                    [(ngModel)]="warrantList[i].f144famount" name="f144famount" placeholder="Amount">
                            </td>
                            <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" *ngIf="this.viewDisabled==false" type="button" (click)='deleteWarrant(warrantList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deleteWarrant(warrantList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="showLastRow==false">
                            <td>
                                <ng-select [disabled]="viewDisabled" [items]="staffList | sort:'f034fname'" bindLabel="f034fname"
                                    bindValue="f034fstaffId" [(ngModel)]="warrantData.f144fidStaff" style="width:120px" name="f144fidStaff"
                                    #dept="ngModel" required>
                                </ng-select>
                            </td>
                            <td>
                                <input type="text" maxlength="10" class="form-control" style="width: 120px" name="f144fclass"
                                    [(ngModel)]="warrantData.f144fclass" placeholder="Enter Class">
                            </td>
                            <td>
                                <input type="text" maxlength="10" class="form-control" style="width: 120px" name="f144ffrom"
                                    [(ngModel)]="warrantData.f144ffrom" placeholder="Enter From">
                            </td>
                            <td>
                                <input type="text" maxlength="10" class="form-control" style="width: 120px" name="f144fto"
                                    [(ngModel)]="warrantData.f144fto" placeholder="Enter To">
                            </td>
                            <td>
                                <input type="date" maxlength="25" class="form-control" name="f144fdate"
                                    [(ngModel)]="warrantData.f144fdate">
                            </td>

                            <td>
                                <input maxlength="10" style="text-align: right" (keypress)="onlyNumberKey($event)"
                                    [(ngModel)]="warrantData.f144famount" placeholder="Enter Amount" name="f144famount">
                            </td>
                            <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addWarrantList()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-right">
                        <a routerLink="/procurement/warrant" class="btn nh-btn-secondary" *ngIf="this.idview!=2">Cancel</a>
                        <a routerLink="/procurement/warrantapproval" class="btn nh-btn-secondary" *ngIf="this.idview==2">Cancel</a>
                        <button type="submit" (click)='saveWarrant()' *ngIf="this.viewDisabled==false" class="btn nh-btn-primary">Save</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>