<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Bill Registration</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="table-top-wrapper">
            <div class="input-group um-search-wrapper">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>

              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/accountspayable/addnewbillgeneration']" class="btn nh-btn-primary">Add</a>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="billRegistrationList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f091freferenceNumber">Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f091ftotalAmount">Amount(RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f091fcreatedDate">Created Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f091fapprovedStatus"> Status</mfDefaultSorter>
                </th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indbill of mf.data">
                <td>{{indbill.f091freferenceNumber}}</td>
                <td class="amountAlign">{{indbill.f091ftotalAmount | number: '.2' }}</td>
                <td>{{indbill.f091fcreatedDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{indbill.f091fapprovedStatus == '1'?'Approved':'Pending'}}</td>
                <div class="nh-btn-group">
                  <a routerLink="/accountspayable/editbillgeneration/{{indbill.f091fid}}">
                    <button class="btn nh-btn-edit">
                      <i class="fa fa-eye"></i>
                    </button>
                  </a>
                </div>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>