<section class="ps-main-section">
  <div class="ps-left-navbar">
    <ul class="ps-left-navbar-menu">
      <li class="ps-left-navbar-item">
        <a routerLink='studentfinance/returns'>Returns</a>
      </li>
    </ul>
  </div>
</section>

<router-outlet></router-outlet>
<app-footer></app-footer>
