<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Journal Entry</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/generalledger/addnewjournal']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="journalList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f017freferenceNumber">Journal Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f017fdescription">Journal Description</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f017ftotalAmount">Total Amount (RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f017fapprovedStatus">Status</mfDefaultSorter>
                </th>
                <th>View/Edit</th>
                <th>Print</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indjr of mf.data">
                <td>{{ indjr.f017freferenceNumber }}</td>
                <td>{{indjr.f017fdescription }}</td>
                <td class="amountAlign">{{indjr.f017ftotalAmount | number: '.2'}}</td>
                <td>{{indjr.f017fapprovedStatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/generalledger/editjournal/{{indjr.f017fid}}/0">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indjr.f017fapprovedStatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indjr.f017fapprovedStatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indjr.f017fapprovedStatus  == 'Rejected'"></i>
                        <i class="fa fa-window-close" *ngIf="indjr.f017fapprovedStatus  == 'Reversed'"></i>
                      </button>
                    </a>
                  </div>
                </td>
                <td><button (click)="addPrint(indjr.f017fid)"> Print</button></td>
              </tr>
            </tbody>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>