<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;padding-bottom: 100px;">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Vendor Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="supplierList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f030fvendorCode">Vendor Code</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fcompanyName">Company Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030femail">Email</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f013fcountryName">Country</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f012fstateName">State</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fphone">Phone Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030ffax">Fax Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fwebsite">Website</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fstartDate">Start Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030ffax"> End Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f030fapprovalStatus">Approve/Reject</mfDefaultSorter>
                                </th>
                                <th> View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indsuppapproval of mf.data ">
                                <td>{{indsuppapproval.f030fvendorCode}}</td>
                                <td>{{indsuppapproval.f030fcompanyName}}</td>
                                <td>{{indsuppapproval.f030femail}}</td>
                                <td>{{indsuppapproval.f013fcountryName}}</td>
                                <td>{{indsuppapproval.f012fstateName}}</td>
                                <td>{{indsuppapproval.f030fphone}}</td>
                                <td>{{indsuppapproval.f030ffax}}</td>
                                <td>{{indsuppapproval.f030fwebsite}}</td>
                                <td>{{indsuppapproval.f030fstartDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{indsuppapproval.f030fendDate | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indsuppapproval.f030fapprovalStatus" checked="false">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/procurement/viewsupplierregistration/{{indsuppapproval.f030fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="approvalData.reason" name="reason" placeholder="Enter Description"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='ApprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='regectApprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>