<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Apply Cash Advance</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/cashadvances/addnewcashadvanceapp']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="cashadvanceappList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f052fcashAdvance">Reference Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="staffName">Staff Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="financialYear">Financial Year</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f052ftotal">Amount(RM)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f052fapprovalStatus">Status</mfDefaultSorter>
                </th>
                <th>Edit/View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indcashadvanceapp of mf.data ">
                <td>{{indcashadvanceapp.f052fcashAdvance}}</td>
                <td>{{indcashadvanceapp.f052fidStaff}} - {{indcashadvanceapp.staffName}}</td>
                <td>{{indcashadvanceapp.financialYear}}</td>
                <td class="amountAlign">{{indcashadvanceapp.f052ftotal | number: '.2'}}</td>
                <td>{{indcashadvanceapp.f052fapprovalStatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/cashadvances/editcashadvanceapp/{{indcashadvanceapp.f052fid}}/0">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye" *ngIf="indcashadvanceapp.f052fapprovalStatus  == 'Approved'"></i>
                        <i class="fa fa-edit" *ngIf="indcashadvanceapp.f052fapprovalStatus  == 'Pending'"></i>
                        <i class="fa fa-eye" *ngIf="indcashadvanceapp.f052fapprovalStatus  == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>