<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Return Approval</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped" [mfData]="returnapprovalList | filter : searchText "
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="student">Student Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f118famount">Amount (RM)</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f118freceiptNumber">Receipt Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f118famountNumber">Account Number</mfDefaultSorter>
                                </th>
                                <th>
                                    Approve/Reject
                                </th>
                                <th>View</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indreturnapproval of mf.data">
                                <td>{{indreturnapproval.student}}</td>
                                <td class="amountAlign">{{indreturnapproval.f118famount | number: '.2'}}</td>
                                <td>{{indreturnapproval.f118freceiptNumber}}</td>
                                <td>{{indreturnapproval.f118famountNumber}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indreturnapproval.f118fapprovalStatus">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/studentfinance/viewreturn/{{indreturnapproval.f118fid}}/2">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="7">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="returnapprovalData.reason" name="reason"
                                placeholder="Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='returnapprovalListData()' class="btn nh-btn-primary">Approve</button>
                                <button type="reject" (click)='rejectreturnapprovalListData()' class="btn nh-btn-primary">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>