<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">DefinationTypems</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Id DefType</label>
                  <input type="text" class="form-control" name="id_deftype" [(ngModel)]="deftypemsData.id_deftype" value="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label> DefinationType Desc</label>
                  <input type="text" class="form-control" name="Definationtype_desc" [(ngModel)]="deftypemsData.Definationtype_desc" value="" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" name="Description" [(ngModel)]="deftypemsData.Description" value="" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Defination TypeDesc</label>
                  <input type="text" class="form-control" name="Defination_typedesc" [(ngModel)]="deftypemsData.Defination_typedesc" value="" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Bahasa Indonesia</label>
                  <input type="text" class="form-control" name="bahasa_indonesia" [(ngModel)]="deftypemsData.bahasa_indonesia" value="" required>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <p class="text-right">
                  <a href="/generalsetup/Deftypems" class="btn nh-btn-secondary">Cancel</a>
                  <button type="submit" (click)='adddeftypems()' class="btn nh-btn-primary">Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>