<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Update Asset</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="assetsList | filter : searchText" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f085fassetDescription">PO Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085forderNumber">Order Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fstoreCode">Store Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f087fcategoryDiscription">Asset Category</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="f085fAcquisitionDate">Sub Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f085fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indassetinformation of mf.data ">
                <td>{{indassetinformation.f085fpoNumber}}</td>
                <td>{{indassetinformation.f085forderNumber}}</td>
                <td>{{indassetinformation.f085fstoreCode}}</td>
                <td>{{indassetinformation.f087fcategoryDiscription}}</td>
                <td>{{indassetinformation.subCategory}}</td>
                <td>{{indassetinformation.f085fapprovalStatus}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/assets/editupdateasset/{{indassetinformation.f085fid}}">
                      <button class="btn nh-btn-edit">
                      <i class="fa fa-eye" *ngIf="indassetinformation.f085fapprovalStatus == 'Approved'"></i>
                      <i class="fa fa-edit" *ngIf="indassetinformation.f085fapprovalStatus == 'Pending'"></i>
                      <i class="fa fa-eye" *ngIf="indassetinformation.f085fapprovalStatus == 'Rejected'"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>