<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll; padding-bottom: 100px">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Asset Sub Category</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="add-btn">
              <a [routerLink]="['/assets/addnewsubcategory']" class="btn nh-btn-primary">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped table-food" [mfData]="subcategoryList | filter : searchText"
            #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f089faccountNumber">Current Running Number</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter by="subCategory">Procurement Sub Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f087fcategoryDiscription">Asset Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f089fsubcode">Asset Sub Category Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f089fsubDescription">Asset Sub Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f089flifeExpectancy">Life Span (In Years)</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f089fstatus">Status</mfDefaultSorter>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indsubcategory of mf.data ">
                <td>{{indsubcategory.f089faccountNumber}}</td>
                <td>{{indsubcategory.subCategory}}</td>
                <td>{{indsubcategory.f087fcategoryDiscription}}</td>
                <td>{{indsubcategory.f089fsubcode}}</td>
                <td>{{indsubcategory.f089fsubDescription}}</td>
                <td>{{indsubcategory.f089flifeExpectancy}}</td>
                <!-- <td>{{indsubcategory.f089fStatus === '1'?'Active':'Inactive'}}</td> -->
                <td>{{indsubcategory.f089fstatus == 1?'Active':'Inactive'}}</td>

                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/assets/editsubcategory/{{indsubcategory.f089fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-edit"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="8">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>