<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Order Type </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="add-btn">
                            <a [routerLink]="['/procurement/addnewordertype']" class="btn nh-btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="orderTypeList | filter : searchText | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="f081forderType">Order Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f081fdescription">Order Type Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="f081faccountCode">Account Code</mfDefaultSorter>
                                </th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indiorderType of mf.data ">
                                <td>{{indiorderType.f081forderType}}</td>
                                <td>{{indiorderType.f081fdescription}}</td>
                                <td>{{indiorderType.f081faccountCode}} - {{indiorderType.f059fname}}</td>
                                <td>{{indiorderType.f081fstatus === '1'?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/procurement/editordertype/{{indiorderType.f081fid}}">
                                            <button class="btn nh-btn-edit">

                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="8">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>