<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <!-- <section class="ad-section">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-12">
                        <h1 class="ad-page-title">Student Ledger</h1>
                    </div>
                  </div> -->
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Graduation Type<span class="required-class">*</span> </label>
                            <ng-select [items]="graduationType" bindLabel="f011fdefinitionCode" bindValue="f011fdefinitionCode"
                                [(ngModel)]="studentledgerData.graduationType" name="graduationType" #level="ngModel"
                                (change)="getViewData()" required>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Program </label>
                            <ng-select [items]="programmeList" maxlength="50" bindLabel="program_name" bindValue="f006kdprogram"
                                [(ngModel)]="studentledgerData.program" name="program" #program="ngModel" required>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Intake<span class="required-class">*</span> </label>
                            <ng-select [items]="intakeList" maxlength="50" bindLabel="intake_name" bindValue="term"
                                [(ngModel)]="studentledgerData.intake" name="intake" #intake="ngModel" required>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                          <label>Student </label>
                          <ng-select [items]="studentList" maxlength="50" bindLabel="f060fname"
                            bindValue="f060fid" [virtualScroll]=true [(ngModel)]="studentledgerData.student" name="student" #student="ngModel"
                            required>
                          </ng-select>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                        <div class="col-sm-12">
                          <p class="text-right">
                            <button type="button" (click)="showStudent()" class="btn nh-btn-primary">Search</button>
                          </p>
                        </div>
                      </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <p class="text-right">
                    <button type="button" (click)="showStudent()" class="btn nh-btn-primary">Search</button>
                </p>
            </div>
            <div class="col-sm-2">
                <p class="text-right">
                    <td><button (click)="addPrint()" class="btn nh-btn-primary">Print</button></td>
                </p>
            </div>
        </div>
        <!-- </div>   
            </section> -->
        <section class="ad-section">
            <div class="container-fluid">
                <!-- Tab section starts here -->
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="ad-page-title">STUDENT LEDGER</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ledger-tab">
                            <tabset>
                                <tab heading="Account Statement">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-food" [mfData]="statementList | filter : searchText"
                                                #mf="mfDataTable" [mfRowsOnPage]="10">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <mfDefaultSorter by="f082fdate">Date</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Transaction">Transaction Type</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Reference">Reference Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="desp">Description</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="debit">Debit</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="credit">Credit</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Balance">Balance(RM)</mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let indstatement of mf.data ">
                                                        <td>{{indstatement.f082fdate | date: 'dd/MM/yyyy'}}</td>
                                                        <td>{{indstatement.Transaction}}</td>
                                                        <td>{{indstatement.Receiptnum}}</td>
                                                        <td>{{indstatement.Description}}</td>
                                                        <td>{{indstatement.Debit}}</td>
                                                        <td>{{indstatement.Credit}}</td>
                                                        <td class="amountAlign">{{indstatement.Balance | number:'.2'}}</td>
                                                    </tr>
                                                </tbody>
                                                <td colspan="10">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                                </td>
                                            </table>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Account Statement (By Group)">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-food" [mfData]="statementgroupList | filter : searchText"
                                                #mf="mfDataTable" [mfRowsOnPage]="10">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <mfDefaultSorter by="f082fdate">Date</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Transaction">Transaction Type</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Reference">Reference Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="desp">Description</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="debit">Debit</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="credit">Credit</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Balance">Balance(RM)</mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let indstatementgroupList of mf.data ">
                                                        <td>{{indstatementgroupList.f082fdate | date: 'dd/MM/yyyy'}}</td>
                                                        <td>{{indstatementgroupList.Transaction}}</td>
                                                        <td>{{indstatementgroupList.Receiptnum}}</td>
                                                        <td>{{indstatementgroupList.Description}}</td>
                                                        <td>{{indstatementgroupList.Debit}}</td>
                                                        <td>{{indstatementgroupList.Credit}}</td>
                                                        <td class="amountAlign">{{indstatementgroupList.Balance |
                                                            number:'.2'}}</td>
                                                    </tr>
                                                </tbody>
                                                <td colspan="10">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                                </td>
                                            </table>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Invoice" id="tab1">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-food" [mfData]="invoiceList | filter : searchText"
                                                #mf1="mfDataTable" [mfRowsOnPage]="10">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <mfDefaultSorter by="f071finvoiceDate"> Date</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Description">Description</mfDefaultSorter>
                                                        </th>

                                                        <th>
                                                            <mfDefaultSorter by="f071finvoiceTotal">Invoice Amount(RM)</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Discount">Discount</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="selfipaid">Self Paid(RM)</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="sponsor">Sponsor Paid(RM)</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="sponsor">Credit Note</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="sponsor">Advance Payment(RM)</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="sponsor">Balance(RM)</mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let indinvoice of mf1.data">
                                                        <td>{{indinvoice.f071finvoiceDate | date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{indinvoice.f071finvoiceNumber}}</td>
                                                        <td>{{indinvoice.desp}}</td>
                                                        <td class="amountAlign">{{indinvoice.f071finvoiceTotal |
                                                            number: '.2'}}</td>
                                                        <td>{{indinvoice.discount}}</td>
                                                        <td>{{indinvoice.selfpaid}}</td>
                                                        <td>{{indinvoice.sponsorpaid}}</td>
                                                        <td>{{indinvoice.creditnote}}</td>
                                                        <td>{{indinvoice.Advancepayment}}</td>
                                                        <td class="amountAlign">{{indinvoice.f071fbalance | number:
                                                            '.2'}}</td>
                                                    </tr>
                                                </tbody>
                                                <td colspan="10">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                                </td>
                                            </table>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Payment">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-food" [mfData]="receiptList | filter : searchText"
                                                #mf2="mfDataTable" [mfRowsOnPage]="10">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <mfDefaultSorter by="f082fdate">Date</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f082freceiptNumber">Receipt Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="desp">Description</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="invoicenum">Invoice Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f082ftotalAmount">Amount(RM)</mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let indreceipt of mf2.data ">
                                                        <td>{{indreceipt.f082fdate | date: 'dd/MM/yyyy'}}</td>
                                                        <td>{{indreceipt.f082freceiptNumber}}</td>
                                                        <td>{{indreceipt.fullName}}</td>
                                                        <td>{{indreceipt.invoicenum}}</td>
                                                        <td class="amountAlign">{{indreceipt.f082ftotalAmount |
                                                            number:'.2'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </tab>

                                <tab heading="Advance Payment">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-food" [mfData]="AdvancepaymentList | filter : searchText"
                                                #mf="mfDataTable" [mfRowsOnPage]="10">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <mfDefaultSorter by="f065freturnDate"> Date</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f060fname">Refund Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f071finvoiceNumber">Description</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="indbondinfo">Advance Payment Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f066fname">Amount(RM)</mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let inddvancepaymentList of mf.data ">
                                                        <td>{{inddvancepaymentList.f060fname}}</td>
                                                        <td>{{inddvancepaymentList.f071finvoiceNumber}}</td>
                                                        <td class="amountAlign">{{inddvancepaymentList.f065famount |
                                                            number: '.2'}}</td>
                                                        <td>{{inddvancepaymentList.f071finvoiceDate | date:
                                                            'dd/MM/yyyy'}}</td>
                                                        <td>{{inddvancepaymentList.f066fname}}</td>
                                                        <td>{{inddvancepaymentList.f065freturnDate | date:
                                                            'dd/MM/yyyy'}}</td>
                                                    </tr>
                                                </tbody>
                                                <td colspan="10">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                                </td>
                                            </table>
                                        </div>
                                    </div>
                                </tab>

                                <tab heading="Credit Note">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-food" [mfData]="creditnoteList | filter : searchText"
                                                #mf3="mfDataTable" [mfRowsOnPage]="10">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <mfDefaultSorter by="f031fdate"> Date</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f071finvoiceNumber">Credit Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Description">Description</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f031ftype">Invoice Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f031ftotalAmount">Amount (RM)</mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let indcreditnotelist of mf3.data">
                                                        <td>{{indcreditnotelist.f031fdate | date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{indcreditnotelist.f071finvoiceNumber}}</td>
                                                        <td>{{indcreditnotelist.Description}}</td>
                                                        <td>{{indcreditnotelist.f031freferenceNumber }}</td>
                                                        <td class="amountAlign">{{indcreditnotelist.f031ftotalAmount |
                                                            number: '.2'}}</td>
                                                    </tr>
                                                </tbody>
                                                <td colspan="10">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                                </td>
                                            </table>
                                        </div>
                                    </div>
                                </tab>

                                <tab heading="Discount">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-food" [mfData]="discountList | filter : searchText"
                                                #mf4="mfDataTable" [mfRowsOnPage]="10">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <mfDefaultSorter by="f031fdate">Date</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f071finvoiceNumber">Discount Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="Description">Description</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="firstName">Invoice Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f031ftotalAmount">Amount (RM)</mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let inddiscountnotelist of mf4.data">
                                                        <td>{{inddiscountnotelist.f031fdate | date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{inddiscountnotelist.f071finvoiceNumber}}</td>
                                                        <td>{{inddiscountnotelist.Description}}</td>
                                                        <td>{{inddiscountnotelist.f031freferenceNumber }}</td>
                                                        <td>{{inddiscountnotelist.Invoicenumber}}</td>
                                                        <td class="amountAlign">{{inddiscountnotelist.f031ftotalAmount
                                                            |
                                                            number: '.2'}}</td>
                                                    </tr>
                                                </tbody>
                                                <td colspan="10">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                                </td>
                                            </table>
                                        </div>
                                    </div>
                                </tab>

                                <tab heading="Refund Information">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered table-striped table-food" [mfData]="bondinformationList | filter : searchText"
                                                #mf="mfDataTable" [mfRowsOnPage]="10">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f024freferenceNumber">Reference Number</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f024fdate"> Date</mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                            <mfDefaultSorter by="f024fapprovalStatus">Status</mfDefaultSorter>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let indbondinformationList of mf.data">
                                                        <td>{{indbondinformationList.f071finvoiceNumber}}</td>
                                                        <td>{{indbondinformationList.f024freferenceNumber}}</td>
                                                        <td>{{indbondinformationList.f024fdate | date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{indbondinformationList.f024fapprovalStatus}}</td>
                                                    </tr>
                                                </tbody>
                                                <td colspan="10">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                                                </td>
                                            </table>
                                        </div>
                                    </div>
                                </tab>

                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>