<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <!-- <div class="row">
              <div class="col-sm-12">
                <hr/>
                <h1 class="ad-page-title" style="text-align: center;">Student Ledger</h1>
              </div>
            </div> -->
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <hr />
              <h1 class="ad-page-title" style="text-align: center;">Account Statement</h1>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-food" [mfData]="statementList | filter : searchText"
                  #mf="mfDataTable" [mfRowsOnPage]="10">
                  <thead>
                    <tr>
                      <th>
                        <mfDefaultSorter by="f082fdate">Date</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="Transaction">Transaction Type</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="Recefnum">Reference Number</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="desp">Description</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="debit">Debit</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="credit">Credit</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="Balance">Balance(RM)</mfDefaultSorter>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indstatement of mf.data ">
                      <td>{{indstatement.f082fdate | date: 'dd/MM/yyyy'}}</td>
                      <td>{{indstatement.Transaction}}</td>
                      <td>{{indstatement.Recefnum}}</td>
                      <td>{{indstatement.desp}}</td>
                      <td>{{indstatement.debit}}</td>
                      <td>{{indstatement.credit}}</td>
                      <td class="amountAlign">{{indstatement.Balance | number:'.2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <hr />
              <h1 class="ad-page-title" style="text-align: center;">Account Statement (By Group)</h1>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-food" [mfData]="statementgroupList | filter : searchText"
                  #mf="mfDataTable" [mfRowsOnPage]="10">
                  <thead>
                    <tr>
                      <th>
                        <mfDefaultSorter by="f082fdate">Date</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="Transaction">Transaction Type</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="Reference">Reference Number</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="desp">Description</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="debit">Debit</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="credit">Credit</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="Balance">Balance(RM)</mfDefaultSorter>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indstatementgroupList of mf.data ">
                      <td>{{indstatementgroupList.f082fdate | date: 'dd/MM/yyyy'}}</td>
                      <td>{{indstatementgroupList.Transaction}}</td>
                      <td>{{indstatementgroupList.Receiptnum}}</td>
                      <td>{{indstatementgroupList.Description}}</td>
                      <td>{{indstatementgroupList.Debit}}</td>
                      <td>{{indstatementgroupList.Credit}}</td>
                      <td class="amountAlign">{{indstatementgroupList.Balance | number:'.2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <hr />
              <h1 class="ad-page-title" style="text-align: center;">Invoice</h1>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-food" [mfData]="invoiceList | filter : searchText"
                  #mf="mfDataTable" [mfRowsOnPage]="10">
                  <thead>
                    <tr>
                      <th>
                        <mfDefaultSorter by="f071finvoiceDate"> Date</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="Description">Description</mfDefaultSorter>
                      </th>

                      <th>
                        <mfDefaultSorter by="f071finvoiceTotal">Invoice Amount(RM)</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="Discount">Discount</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="selfipaid">Self Paid(RM)</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="sponsor">Sponsor Paid(RM)</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="sponsor">Credit Note</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="sponsor">Advance Payment(RM)</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="sponsor">Balance(RM)</mfDefaultSorter>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indinvoice of mf.data">
                      <td>{{indinvoice.f071finvoiceDate | date: 'MM/dd/yyyy'}}</td>
                      <td>{{indinvoice.f071finvoiceNumber}}</td>
                      <td>{{indinvoice.desp}}</td>
                      <td class="amountAlign">{{indinvoice.f071finvoiceTotal | number: '.2'}}</td>
                      <td>{{indinvoice.discount}}</td>
                      <td>{{indinvoice.selfpaid}}</td>
                      <td>{{indinvoice.sponsorpaid}}</td>
                      <td>{{indinvoice.creditnote}}</td>
                      <td>{{indinvoice.Advancepayment}}</td>
                      <td class="amountAlign">{{indinvoice.f071fbalance | number:'.2'}}</td>
                    </tr>
                  </tbody>
                  <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                  </td>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <hr />
                <h1 class="ad-page-title" style="text-align: center;">Payment</h1>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-striped table-food" [mfData]="receiptList | filter : searchText"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                      <tr>
                        <th>
                          <mfDefaultSorter by="f082fdate">Date</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f082freceiptNumber">Receipt Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="desp">Description</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="invoicenum">Invoice Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f082ftotalAmount">Amount(RM)</mfDefaultSorter>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indreceipt of mf.data ">
                        <td>{{indreceipt.f082fdate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{indreceipt.f082freceiptNumber}}</td>
                        <td>{{indreceipt.fullName}}</td>
                        <td>{{indreceipt.invoicenum}}</td>
                        <td class="amountAlign">{{indreceipt.f082ftotalAmount | number:'.2'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <hr />
                <h1 class="ad-page-title" style="text-align: center;">Advance Payment</h1>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-striped table-food" [mfData]="AdvancepaymentList | filter : searchText"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                      <tr>
                        <th>
                          <mfDefaultSorter by="f060fname">Name</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="indbondinfo">Refund Amount</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f071finvoiceDate">Invoice Date</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f066fname">Fee Item</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f065freturnDate">Refund Date</mfDefaultSorter>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let inddvancepaymentList of mf.data ">
                        <td>{{inddvancepaymentList.f060fname}}</td>
                        <td>{{inddvancepaymentList.f071finvoiceNumber}}</td>
                        <td class="amountAlign">{{inddvancepaymentList.f065famount | number: '.2'}}</td>
                        <td>{{inddvancepaymentList.f071finvoiceDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{inddvancepaymentList.f066fname}}</td>
                        <td>{{inddvancepaymentList.f065freturnDate | date: 'dd/MM/yyyy'}}</td>
                      </tr>
                    </tbody>
                    <td colspan="10">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                    </td>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <hr />
                <h1 class="ad-page-title" style="text-align: center;">Credit Note</h1>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-striped table-food" [mfData]="creditnoteList | filter : searchText"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                      <tr>
                        <th>
                          <mfDefaultSorter by="f031fdate"> Date</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f071finvoiceNumber">Credit Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="Description">Description</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f031ftype">Invoice Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f031ftotalAmount">Amount (RM)</mfDefaultSorter>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indcreditnotelist of mf.data">
                        <td>{{indcreditnotelist.f031fdate | date: 'MM/dd/yyyy'}}</td>
                        <td>{{indcreditnotelist.f071finvoiceNumber}}</td>
                        <td>{{indcreditnotelist.Description}}</td>
                        <td>{{indcreditnotelist.f031freferenceNumber }}</td>
                        <td class="amountAlign">{{indcreditnotelist.f031ftotalAmount | number: '.2'}}</td>
                      </tr>
                    </tbody>
                    <td colspan="10">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                    </td>
                  </table>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <hr />
                <h1 class="ad-page-title" style="text-align: center;">Discount Note</h1>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-striped table-food" [mfData]="discountList | filter : searchText"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                      <tr>
                        <th>
                          <mfDefaultSorter by="f031fdate">Date</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f071finvoiceNumber">Discount Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="Description">Description</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="firstName">Invoice Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f031ftotalAmount">Amount (RM)</mfDefaultSorter>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let inddiscountnotelist of mf.data">
                        <td>{{inddiscountnotelist.f031fdate | date: 'MM/dd/yyyy'}}</td>
                        <td>{{inddiscountnotelist.f071finvoiceNumber}}</td>
                        <td>{{inddiscountnotelist.Description}}</td>
                        <td>{{inddiscountnotelist.f031freferenceNumber }}</td>
                        <td>{{inddiscountnotelist.Invoicenumber}}</td>
                        <td class="amountAlign">{{inddiscountnotelist.f031ftotalAmount |
                          number: '.2'}}</td>
                      </tr>
                    </tbody>
                    <td colspan="10">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                    </td>
                  </table>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-12">
                <hr />
                <h1 class="ad-page-title" style="text-align: center;">Refund Information</h1>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-striped table-food" [mfData]="bondinformationList | filter : searchText"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                      <tr>
                        <th>
                          <mfDefaultSorter by="f071finvoiceNumber">Invoice Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f024freferenceNumber">Reference Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f024fdate"> Date</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f024fapprovalStatus">Status</mfDefaultSorter>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indbondinformationList of mf.data">
                        <td>{{indbondinformationList.f071finvoiceNumber}}</td>
                        <td>{{indbondinformationList.f024freferenceNumber}}</td>
                        <td>{{indbondinformationList.f024fdate | date: 'MM/dd/yyyy'}}</td>
                        <td>{{indbondinformationList.f024fapprovalStatus}}</td>
                      </tr>
                    </tbody>
                    <td colspan="10">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                    </td>
                  </table>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-sm-12">
                <hr />
                <h1 class="ad-page-title" style="text-align: center;">Student Register</h1>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-striped table-food" [mfData]="debitnoteList | filter : searchText"
                    #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                      <tr>
                        <th>
                          <mfDefaultSorter by="f071finvoiceNumber">Course Name</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f031ftype">Course Code</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f031freferenceNumber"> Credit hours</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="f031fdate">Status</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="remarks">Remarks</mfDefaultSorter>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let inddebitnotelist of mf.data">
                        <td>{{inddebitnotelist.Course}}</td>
                        <td>{{inddebitnotelist.code}}</td>
                        <td>{{inddebitnotelist.hours }}</td>
                        <td>{{inddebitnotelist.status}}</td>
                        <td class="amountAlign">{{inddebitnotelist.remarks | number: '.2'}}</td>
                      </tr>
                    </tbody>
                    <td colspan="10">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                    </td>
                  </table>
                </div>
              </div>
            </div> -->

          </div>
          <div class="row">
            <div class="col-sm-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>