<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Staff Tagging</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addProcessingFee()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Staff Name<span class="required-class">*</span></label>
                                    <ng-select [items]="staffList | sort: 'originalname'" bindLabel="f034fname" bindValue="f034fstaffId"
                                        [(ngModel)]="stafftaggingData.f043fidStaff" name="f043fidStaff" #staff="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf=" staff.errors && (staff.dirty || staff.touched || f.submitted)" class="form-errors">*Select
                                        Staff Name</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department Code<span class="required-class">*</span> </label>
                                    <ng-select [items]="DeptList | sort:'originalname'" bindLabel="f015fdepartmentName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="stafftaggingData.f043fdepartment"
                                        name="f043fdepartment" #dept="ngModel" required>
                                    </ng-select>
                                    <span *ngIf=" dept.errors && (dept.dirty || dept.touched || f.submitted)" class="form-errors">*Select
                                        Department Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fund<span class="required-class">*</span></label>
                                    <ng-select [items]="fundList | sort:'originalname'" bindLabel="f057fname" bindValue="f057fcode"
                                        [(ngModel)]="stafftaggingData.f043ffund" name="f043ffund" #fund="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="fund.errors && (fund.dirty || fund.touched || f.submitted)" class="form-errors">*Select
                                        Fund </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cost Center<span class="required-class">*</span></label>
                                    <ng-select [items]="DeptList | sort:'originalname'" bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode"
                                        [(ngModel)]="stafftaggingData.f043fcostCenter" name="f043fcostCenter" #Cost="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="Cost.errors && (Cost.dirty || Cost.touched || f.submitted)" class="form-errors">*Select
                                        Cost Center</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Activity Code<span class="required-class">*</span></label>
                                    <ng-select [items]="activitycodeList | sort:'originalname'" bindLabel="f058fname" bindValue="f058fcompleteCode"
                                        [(ngModel)]="stafftaggingData.f043factivity" name="f043factivity" #Activity="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="Activity.errors && (Activity.dirty || Activity.touched || f.submitted)"
                                        class="form-errors">*Select Activity Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Address 1<span class="required-class">*</span></label>
                                    <input type="text" class="form-control" maxlength="50" [(ngModel)]="stafftaggingData.f043faddress1"
                                        name="f043faddress1" placeholder="Enter Address 1" #address1="ngModel" required />
                                    <span *ngIf="address1.errors && (address1.dirty || address1.touched || f.submitted)"
                                        class="form-errors">*Enter the Address 1</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Address 2</label>
                                    <input type="text" class="form-control" maxlength="50" [(ngModel)]="stafftaggingData.f043faddress2"
                                        name="f043faddress2" placeholder="Enter Address 2" />
                                    <!-- <span *ngIf="address2.errors && (address2.dirty || address2.touched || f.submitted)"
                                        class="form-errors">*Enter Address 2</span> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Address 3</label>
                                    <input type="text" class="form-control" maxlength="50" [(ngModel)]="stafftaggingData.f043faddress3"
                                        name="f043faddress3" placeholder="Enter Address 3" />
                                    <!-- <span *ngIf="address3.errors && (address3.dirty || address3.touched || f.submitted)"
                                        class="form-errors">*Enter Address 3</span> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Country<span class="required-class">*</span></label>
                                    <ng-select [items]="countryList | sort:'f013fcountryName'" bindLabel="f013fcountryName" bindValue="f013fid"
                                        [(ngModel)]="stafftaggingData.f043fcountry" name="f043fcountry" #country="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="country.errors && (country.dirty || country.touched || f.submitted)"
                                        class="form-errors">*Select Country</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>State<span class="required-class">*</span></label>
                                    <ng-select [items]="stateList | sort:'f012fstateName'" bindLabel="f012fstateName" bindValue="f012fid"
                                        [(ngModel)]="stafftaggingData.f043fstate" name="f043fstate" #state="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="state.errors && (state.dirty || state.touched || f.submitted)" class="form-errors">*Select
                                        State</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Zip Code<span class="required-class">*</span></label>
                                    <input type="text" class="form-control" maxlength="10" [(ngModel)]="stafftaggingData.f043fzipCode"
                                        name="f043fzipCode" placeholder="Enter Zip Code" #address2="ngModel"
                                        required />
                                    <span *ngIf="address2.errors && (address2.dirty || address2.touched || f.submitted)"
                                        class="form-errors">*Enter the Zip Code</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Bank<span class="required-class">*</span></label>
                                    <ng-select [items]="banklist" bindLabel="Bank" bindValue="f041fid"
                                        [(ngModel)]="stafftaggingData.f043fbank" name="f043fbank" #bank="ngModel"
                                        required >
                                    </ng-select>
                                    <span *ngIf="bank.errors && (bank.dirty || bank.touched || f.submitted)" class="form-errors">*Select
                                        Bank</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Account Number<span class="required-class">*</span></label>
                                    

                                    <input type="text" class="form-control" maxlength="50" [(ngModel)]="stafftaggingData.f043faccountNumber"
                                        name="f043faccountNumber" placeholder="Enter Account Number" #Account="ngModel"
                                        required />

                                    <span *ngIf="Account.errors && (Account.dirty || Account.touched || f.submitted)"
                                        class="form-errors">*Enterthe Account Number</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>EPF Category<span class="required-class">*</span></label>
                                    <ng-select [items]="epfList | sort:'f030fcategoryName'" bindLabel="f030fcategoryName" bindValue="f030fid"
                                        [(ngModel)]="stafftaggingData.f043fidEpf" name="f043fidEpf" #epf="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="epf.errors && (epf.dirty || epf.touched || f.submitted)" class="form-errors">*Select
                                        EPF Category</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>SOCSO Category<span class="required-class">*</span></label>
                                    <ng-select [items]="socsocategoryList | sort:'f091fcategoryName'" bindLabel="f091fcategoryName" bindValue="f091fid"
                                        [(ngModel)]="stafftaggingData.f043fidSocso" name="f043fidSocso" #socso="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="socso.errors && (socso.dirty || socso.touched || f.submitted)" class="form-errors">*Select
                                        SOCSO Category</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>TAX</label><br>
                                    <input type="radio" name="refundable" [(ngModel)]="stafftaggingData.f043ftaxable"
                                        [checked]="stafftaggingData.f043ftaxable === '1'" [value]="1"> Yes
                                    <br>
                                    <input type="radio" name="refundable" [(ngModel)]="stafftaggingData.f043ftaxable"
                                        [checked]="stafftaggingData.f043ftaxable === '0'" [value]="0"> No

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="stafftaggingData.f043fstatus"
                                        [checked]="stafftaggingData.f043fstatus === '1'" [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="stafftaggingData.f043fstatus"
                                        [checked]="stafftaggingData.f043fstatus === '0'" [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-right">
                            <a [routerLink]="['/payroll/stafftagging']" class="btn nh-btn-secondary">Cancel</a>
                            <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                        </p>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>