<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">EA Form</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addEaform()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Year<span class="required-class">*</span></label>
                                    <ng-select [items]="fyearList" bindLabel="f015fname" bindValue="f015fid"
                                        [(ngModel)]="eaformData.f092fyear" name="f092fyear" #year="ngModel"
                                        required>
                                    </ng-select>
                                    <span *ngIf="year.errors && (year.dirty || year.touched || f.submitted )" class="form-errors">*Select
                                        Year</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Release Date<span class="required-class">*</span></label>
                                    <input type="date" maxlength="65" class="form-control" name="f092freleasingDate"
                                        placeholder="Enter Bank Name" [(ngModel)]="eaformData.f092freleasingDate"
                                        value="" required #realsingdate="ngModel">
                                    <span *ngIf="realsingdate.errors && (realsingdate.dirty || realsingdate.touched || f.submitted )"
                                        class="form-errors">*Select Release Date</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="eaformData.f092fstatus" [checked]="eaformData.f092fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="eaformData.f092fstatus" [checked]="eaformData.f092fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/payroll/eaform']" class="btn nh-btn-secondary">Cancel</a>

                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>