<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Summary Statement Report</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addbalancesheetreport()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Budget Year<span class="required-class">*</span></label>
                                    <ng-select [items]="finantialyearList | sort:'f110fyear'" bindLabel="f110fyear"
                                        bindValue="f110fid" [(ngModel)]="summarystatementData.financialYear" (change)="getListOfPendingCostCenter()" name="financialYear"
                                        #financial="ngModel" required></ng-select>
                                    <span *ngIf=" financial.errors && (financial.dirty || financial.touched || f.submitted)"
                                        class="form-errors">*Select Budget Year</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Department</label>
                                    <ng-select [items]="budgetcostcenterList | sort:'originalName'" bindLabel="originalName"
                                        bindValue="f015fdepartmentCode" [(ngModel)]="summarystatementData.departmentCode"
                                        name="departmentCode" #dept="ngModel" required>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fund</label>
                                    <ng-select [disabled]="viewDisabled" [items]="fundList | sort:'originalName'"
                                        bindLabel="originalName" bindValue="f057fcode" [(ngModel)]="summarystatementData.fundCode"
                                        name="fundCode" #fund="ngModel" required>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-right">
                        <button type="button" (click)="downloadReport()" class="btn nh-btn-primary">Download</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>