
<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Voucher List</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <!-- <div class="add-btn">
                            <a href="voucher/addnewvoucherlist" class="btn nh-btn-primary">Add Voucherlist</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food">
                        <thead>
                            <tr>
                                <th>Account Number</th>
                                <th>Voucher Number</th>
                                <th>Reference Number</th>
                                <th>Voucher Type</th>
                                <th>Voucher Date</th>

                                <th>Amount Type</th>
                                <th>Voucher Days</th>
                                <th>Voucher Amount</th>
                        
                                <th>Status</th>
                                <th>Edit</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indvoucherlist of voucherlistList | filter : searchText">
                                <td>{{indvoucherlist.f031faccountNumber}}</td>
                                <td>{{indvoucherlist.f031fvoucherNumber}}</td>
                                <td>{{indvoucherlist.f031frefNumber}}</td>
                                <td>{{indvoucherlist.f011fdefinitionCode}}</td>

                                <td>{{indvoucherlist.f031fvoucherDate}}</td>
                                <td>{{indvoucherlist.f031famountType}}</td>
                                <td>{{indvoucherlist.f031fvoucherDays}}</td>
                                <td>{{indvoucherlist.f031fvoucherAmount}}</td>

                                <td>{{indvoucherlist.f031fstatus === true?'Active':'Inactive'}}</td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <button class="btn nh-btn-edit">
                                            <a href="voucher/editvoucherlist/{{indvoucherlist.f031fid}}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </button>
                                       
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>