<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget Transfer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>From Department</label>
                                    <select class="form-control" [(ngModel)]="BudgettransferData.f056ffromDepartment" name="f056ffromDepartment" placeholder="Enter from Department " required #department="ngModel" >
                                            <option [ngValue]="undefined" hidden selected> --please select-- </option>
                                        <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fid">{{ inddepartment.f015fdepartmentName }}</option>                  
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>To Department </label>
                                    <select class="form-control" [(ngModel)]="BudgettransferData.f056ftoDepartment" name="f056ftoDepartment" placeholder="Enter to Department " required #department="ngModel" >
                                            <option [ngValue]="undefined" hidden selected> --please select-- </option>
                                        <option *ngFor="let inddepartment of DeptList" [value]="inddepartment.f015fid">{{ inddepartment.f015fdepartmentName }}</option>                  
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Amount </label>
                                    <input type="text" class="form-control" name="Amount" placeholder="Enter Amount"[(ngModel)]="BudgettransferData.f056famount" value="" #description="ngModel" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group">
                                      <div [className]="'active'"></div> 
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="BudgettransferData.f056fstatus" [checked]="BudgettransferData.f056fstatus === '1'" [value]="1">  Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="BudgettransferData.f056fstatus" [checked]="BudgettransferData.f056fstatus === '0'" [value]="0">  Inactive
                                    <br>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/budget/budgettransfer" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='addBudgettransfer()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>