<div class="ps-right-section">

    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Loan Parameters</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addLoantypesetup()" #f="ngForm" name="form" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Loan Type<span class="required-class">*</span></label>
                                    <ng-select [items]="loannameList | sort: 'f020floanName'" bindLabel="f020floanName"
                                        bindValue="f020fid" [(ngModel)]="loantypesetupData.f044fidLoan" name="f044fidLoan"
                                        #name="ngModel" required [disabled]="edit" (change)="checkDuplication()">
                                    </ng-select>
                                    <span *ngIf="name.errors && (name.dirty || name.touched || f.submitted )" class="form-errors">*Select
                                         Loan Type</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Employee Status<span class="required-class">*</span></label>
                                    <ng-select [items]="empstatusdesignation | sort: 'name'" bindLabel="name" bindValue="id"
                                        [(ngModel)]="loantypesetupData.f044fempStatus" name="f044fempStatus" #empstatus="ngModel"
                                        required  (change)="checkDuplication()">
                                    </ng-select>
                                    <span *ngIf="empstatus.errors && (empstatus.dirty || empstatus.touched || f.submitted )" class="form-errors">*Select
                                        Employee Status</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Confirmation Status<span class="required-class">*</span></label>
                                    <ng-select [items]="empstatustype  | sort: 'name'" bindLabel="name" bindValue="id" [(ngModel)]="loantypesetupData.f044fempType"
                                        name="f044fempType" #emptype="ngModel" required (change)="checkDuplication()">
                                    </ng-select>
                                    <span *ngIf="emptype.errors && (emptype.dirty || emptype.touched || f.submitted )" class="form-errors">*Select
                                        Confirmation Status</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Number Of Guarantors<span class="required-class">*</span></label>
                                    <input type="text" maxlength="1" class="form-control" 
                                        [(ngModel)]="loantypesetupData.f044fguarantee1" name="f044fguarantee1" required
                                        #guarantor1="ngModel" (keypress)="onlyNumberKey($event)" placeholder="Enter Number Of Guarantors" />
                                    <span *ngIf="guarantor1.errors && (guarantor1.dirty || guarantor1.touched || f.submitted)"
                                        class="form-errors">*Enter the
                                        Number Of Guarantors</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/loan/loantypesetup']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>