<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">

                    <h1 class="ad-page-title"> Tax Declaration Form</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">

                    <thead>
                        <tr>
                            <th>Reference Number</th>
                            <th>Description</th>
                            <th> Q1</th>
                            <th> Q2</th>
                            <th> Q3</th>
                            <th> Q4</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let indlevelfour of levelfourList; let i = index">
                            <td>
                                <input type="text" class="form-control" name="f082ftaxCode" placeholder="Enter Reference Number"
                                    [(ngModel)]="levelfourList[i].f082ftaxCode" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="f082freferenceNumber" placeholder="Enter Description"
                                    [(ngModel)]="levelfourList[i].f082freferenceNumber" value="">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="f082fq1" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourList[i].f082fq1" value="">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="f082fq2" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourList[i].f082fq2" value="">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="f082fq3" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourList[i].f082fq3" value="">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="f082fq4" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourList[i].f082fq4" value="">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" name="f082ftaxCode" placeholder="Enter Reference Number"
                                    [(ngModel)]="levelfourListdata.f082ftaxCode" value="">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="f082freferenceNumber" placeholder="Enter Description"
                                    [(ngModel)]="levelfourListdata.f082freferenceNumber" value="">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="f082fq1" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourListdata.f082fq1" value="">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="f082fq2" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourListdata.f082fq2" value="">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="f082fq3" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourListdata.f082fq3" value="">
                            </td>
                            <td>
                                <input type="number" class="form-control" name="f082fq4" placeholder="Enter Limit"
                                    [(ngModel)]="levelfourListdata.f082fq4" value="">
                            </td>
                            <td>
                                <input type="button" name="add" (click)='addLevelfour()' value='ADD' class="btn nh-btn-primary" />
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <button type="submit" (click)='saveLevelfour()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>