<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">Fee Structure</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form #f="ngForm" name="form" novalidate>
            <div class="row" id="target">
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Description<span class="required-class">*</span></label>
                      <textarea [disabled]="editDisabled" maxlength="100" class="form-control" name="f048fname"
                        placeholder="Enter Description" [(ngModel)]="feeStructureDataHeader.f048fname" value=""
                        #description="ngModel" required></textarea>
                    </div>
                  </div>
                  <div class="col-sm-4" *ngIf="id!=0">
                    <div class="form-group">
                      <label>Code<span class="required-class">*</span></label>
                      <input [disabled]="editDisabled" type="text" maxlength="50" class="form-control" name="f048fcode"
                        placeholder="Enter Code " [(ngModel)]="feeStructureDataHeader.f048fcode" value="" #code="ngModel"
                        required>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Effective Date<span class="required-class">*</span></label>
                      <input [disabled]="editDisabled" type="date" class="form-control" name="f048feffectiveDate"
                        placeholder="Enter Effective Date" [(ngModel)]="feeStructureDataHeader.f048feffectiveDate"
                        value="" #effectiveDate="ngModel" required>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Fee Type<span class="required-class">*</span></label>
                      <ng-select [disabled]="editDisabled" [items]="feeTypeList"
                      bindLabel="f120fname" bindValue="f120fid" [(ngModel)]="feeStructureDataHeader.f048ffeeType"
                      name="f048ffeeType">
                    </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Level of Study<span class="required-class">*</span></label>
                      <ng-select [disabled]="editDisabled" [items]="graduationType | sort:'f011fdefinitionCode'"
                        bindLabel="f011fdefinitionCode" bindValue="f011fdefinitionCode" [(ngModel)]="feeStructureDataHeader.f048fgraduationType"
                        name="f048fgraduationType" (change)="getViewData()" #level="ngModel" required>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Learning Center<span class="required-class">*</span></label>
                      <ng-select [disabled]="editDisabled" [items]="learningList | sort:'learning_center'" bindLabel="learning_center"
                        bindValue="kodpusat" [(ngModel)]="feeStructureDataHeader.f048flearningCentre" name="f048flearningCentre">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Citizen<span class="required-class">*</span></label>
                      <ng-select [disabled]="editDisabled" [items]="citizenList | sort:'name'" bindLabel="name"
                        bindValue="value" [(ngModel)]="feeStructureDataHeader.f048fcitizen" name="f048fcitizen"
                        #citizen="ngModel" required>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Intake<span class="required-class">*</span></label>
                      <ng-select [disabled]="editDisabled" [items]="intakeList | sort:'intake_name'" bindLabel="intake_name"
                        bindValue="term" [(ngModel)]="feeStructureDataHeader.f048fidIntake" name="f048fidIntake">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Partner/Collaboration<span class="required-class">*</span></label>
                      <input [disabled]="editDisabled" type="text" maxlength="70" class="form-control" name="f048fpartner"
                        placeholder="Enter Partner/Collaboration " [(ngModel)]="feeStructureDataHeader.f048fpartner"
                        value="" #partner="ngModel" required>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Region<span class="required-class">*</span></label>
                      <ng-select [disabled]="editDisabled" [items]="regionList | sort:'name'" bindLabel="name"
                        bindValue="name" [(ngModel)]="feeStructureDataHeader.f048fregion" name="f048fregion" #region="ngModel"
                        required>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Student Category<span class="required-class">*</span></label>
                      <ng-select [disabled]="editDisabled" [items]="studentCategoryList | sort:'f011fdefinitionCode'"
                        bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="feeStructureDataHeader.f048fstudentCategory"
                        name="f048fstudentCategory" #category="ngModel" required>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Mode Of Study<span class="required-class">*</span></label>
                      <ng-select [disabled]="editDisabled" [items]="modeOfStudyList | sort:'f011fdefinitionCode'"
                        bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="feeStructureDataHeader.f048fstudyMode"
                        name="f048fstudyMode" #mode="ngModel" required>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Total Amount (RM)<span class="required-class">*</span></label>
                      <input [disabled]="editDisabled" type="number" style="text-align: right;" min="0" class="form-control"
                        name="f048ftotal" disabled="disabled" placeholder="Total " [(ngModel)]="feeStructureDataHeader.f048ftotal"
                        value="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Is Programme Added<span class="required-class">*</span></label>
                      <br>
                      <input [disabled]="editDisabled" type="radio" name="Account" [(ngModel)]="feeStructureDataHeader.f048fisProgramAttached"
                        [checked]="feeStructureDataHeader.f048fisProgramAttached === '1'" [value]="1"> Yes
                      <br>
                      <input [disabled]="editDisabled" type="radio" name="Account" [(ngModel)]="feeStructureDataHeader.f048fisProgramAttached"
                        [checked]="feeStructureDataHeader.f048fisProgramAttached === '0'" [value]="0"> No
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row" *ngIf="program==true">
            <div id="overlay1"></div>
            <div id="myModal" class=" fade in" role="dialog">
              <div class="modal-content">
                <p class="maximize-icon">
                  <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                </p>
                <p class="minimize-icon hidden">
                  <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                </p>
                <div class="modal-body">

                  <table class="table table-bordered table-striped table-food" id="target">
                    <thead>
                      <tr>
                        <th colspan='2' style='text-align: center;'>Fee Structure Program</th>
                      </tr>
                      <tr>
                        <th>Program</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indinv of feeStructureProgramList;let i = index;trackBy:indexTracker;last as isLast1">
                        <td style='width:400px;'>
                          <ng-select [disabled]="editDisabled" [items]="programmeList | sort:'program_name'" bindLabel="program_name"
                            bindValue="f006kdprogram" [(ngModel)]="feeStructureProgramList[i].f048fidProgramme" name="f048fidProgramme">
                          </ng-select>
                        </td>
                        <td *ngIf="!isLast1">
                          <button class="btn nh-btn-primary" type="button" (click)='deletefeeStructureProgramList(feeStructureProgramList[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>
                        <td *ngIf="isLast1">
                          <button *ngIf="listshowLastRowMinus1" class="btn nh-btn-primary" type="button" (click)='deletefeeStructureProgramList(feeStructureProgramList[i])'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="listshowLastRowPlus1" class="btn nh-btn-primary" type="button" (click)='showNewRow1()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="showLastRow1==false">
                        <td style='width:400px;'>
                          <ng-select [disabled]="editDisabled" [items]="programmeList | sort:'program_name'" bindLabel="program_name"
                            bindValue="f006kdprogram" [(ngModel)]="feeStructureProgramData.f048fidProgramme" name="f048fidProgramme">
                          </ng-select>
                        </td>
                        <!-- <td>
                      <button class="btn nh-btn-primary" type="button" (click)='addfeeStructureProgramList()'>
                        <i class="fa fa-plus"></i>
                      </button>
                    </td> -->
                        <td>
                          <button *ngIf="showLastRowMinus1" class="btn nh-btn-primary" type="button" (click)='deletemodule1()'>
                            <i class="fa fa-minus"></i>
                          </button>
                          <button *ngIf="showLastRowPlus1" class="btn nh-btn-primary" type="button" (click)='addfeeStructureProgramList()'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div id="overlay1"></div>

            <div id="myModal" class=" fade in" role="dialog">

              <!-- <div class="modal-dialog"> -->

              <!-- Modal content-->
              <div class="modal-content">
                <p class="maximize-icon">
                  <i class="fa fa-window-maximize pull-right" aria-hidden="true" (click)="maximize()"></i>
                </p>
                <p class="minimize-icon hidden">
                  <i class="fa fa-window-minimize pull-right" aria-hidden="true" (click)="minimize()"></i>
                </p>
                <div class="modal-body">

                  <div class="table-responsive credit-note-table-wrapper">
                    <table class="table table-bordered table-striped credit-note-table" id="target1">
                      <thead>
                        <tr>
                          <th colspan='15' style='text-align: center;'>Fee Structure Details</th>
                          <th></th>
                        </tr>
                        <tr>
                          <th>Fee Category</th>
                          <th>Fee Item</th>
                          <!-- <th>Fee Type</th> -->
                          <th colspan="4" style="text-align: center;">Debit GL-Code</th>
                          <th colspan="4" style="text-align: center;">Credit GL-Code</th>
                          <th>Currency</th>
                          <th>Calculation Type</th>
                          <th>Frequency</th>
                          <th>Amount (RM)</th>
                          <th></th>
                        </tr>
                        <tr>
                          <th></th>
                          <th></th>
                          <!-- <th></th> -->
                          <th>Debit Fund </th>
                          <th>Debit Activity Code</th>
                          <th>Debit Department</th>
                          <th>Debit Account Code</th>
                          <th>Credit Fund </th>
                          <th>Credit Activity Code</th>
                          <th>Credit Department</th>
                          <th>Credit Account Code</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let indinv of feeStructureList;let i = index;trackBy:indexTracker;last as isLast">
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="feecategoryList | sort:'f065fname'" style="Width:150px;"
                              bindLabel="f065fname" bindValue="f065fid" [(ngModel)]="feeStructureList[i].f048fidFeeCategory"
                              (change)="getSubCategories()" name="f048fidFeeCategory">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="feeItemList | sort:'f066fname'" style="Width:150px;"
                              bindLabel="f066fname" bindValue="f066fid" [(ngModel)]="feeStructureList[i].f048fidFeeItem"
                              name="f048fidFeeItem" (change)="getglcodeList()">
                            </ng-select>
                          </td>
                          <!-- <td>
                            <ng-select [disabled]="editDisabled" [items]="feeTypeList | sort:'f120fname'" style="Width:150px;"
                              bindLabel="f120fname" bindValue="f120fid" [(ngModel)]="feeStructureList[i].f048ffeeType"
                              name="f048ffeeType">
                            </ng-select>
                          </td> -->
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="fundList | sort:'f057fcode'" style="Width:150px;"
                              bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="feeStructureList[i].f048fdrFund"
                              name="f048fdrFund">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                              style="Width:150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="feeStructureList[i].f048fdrActivity"
                              name="f048fdrActivity">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="Width:150px;"
                              bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="feeStructureList[i].f048fdrDepartment"
                              name="f048fdrDepartment">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                              style="Width:150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="feeStructureList[i].f048fdrAccount"
                              name="f048fdrAccount">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="fundList | sort:'f057fcode'" style="Width:150px;"
                              bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="feeStructureList[i].f048fcrFund"
                              name="f048fcrFund">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="activitycodeList | sort:'f058fcompleteCode'"
                              style="Width:150px;" bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="feeStructureList[i].f048fcrActivity"
                              name="f048fcrActivity">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="DeptList | sort:'f015fdepartmentCode'" style="Width:150px;"
                              bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="feeStructureList[i].f048fcrDepartment"
                              name="f048fcrDepartment">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="accountcodeList | sort:'f059fcompleteCode'"
                              style="Width:150px;" bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="feeStructureList[i].f048fcrAccount"
                              name="f048fcrAccount">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="currencySetupList | sort:'f062fcurDesc'"
                              style="Width:150px;" bindLabel="f062fcurDesc" bindValue="f062fid" [(ngModel)]="feeStructureList[i].f048fidCurrency"
                              name="f048fidCurrency">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="calculationTypeList " style="Width:150px;"
                              bindLabel="f011fdefinitionCode" bindValue="f011fid" [(ngModel)]="feeStructureList[i].f048fcalType"
                              name="f048fcalType">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [disabled]="editDisabled" [items]="semesterList | sort:'name'" style="Width:150px;"
                              bindLabel="name" bindValue="value" [(ngModel)]="feeStructureList[i].f048ffrequencyMode"
                              name="f048ffrequencyMode" style="width: 100px">
                            </ng-select>
                          </td>
                          <td>
                            <input [disabled]="editDisabled" type="text" min="0" maxlength="10" class="form-control"
                              name="f048famount" style="text-align: right;width: 130px" [(ngModel)]="feeStructureList[i].f048famount"
                              (keypress)="onlyNumberKey($event)" placeholder="Total" value=""> </td>
                          <!-- <td>
                      <button class="btn nh-btn-primary" type="button" (click)='deletefeeStructureList(feeStructureList[i])'>
                        <i class="fa fa-minus"></i>
                      </button>
                    </td> -->
                          <td *ngIf="!isLast">
                            <button class="btn nh-btn-primary" type="button" (click)='deletefeeStructureList(feeStructureList[i])'>
                              <i class="fa fa-minus"></i>
                            </button>
                          </td>
                          <td *ngIf="isLast">
                            <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletefeeStructureList(feeStructureList[i])'>
                              <i class="fa fa-minus"></i>
                            </button>
                            <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                              <i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>
                        <tr *ngIf="showLastRow==false">
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="feecategoryList | sort:'f065fname'"
                              bindLabel="f065fname" bindValue="f065fid" [(ngModel)]="feeStructureData.f048fidFeeCategory"
                              (change)="getSubCategories()" name="f048fidFeeCategory">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="feeItemList | sort:'f066fname'"
                              (change)="getglcode()" bindLabel="f066fname" bindValue="f066fid" [(ngModel)]="feeStructureData.f048fidFeeItem"
                              name="f048fidFeeItem">
                            </ng-select>
                          </td>
                          <!-- <td>
                            <ng-select [disabled]="editDisabled" [items]="feeTypeList | sort:'f120fname'" style="Width:150px;"
                              bindLabel="f120fname" bindValue="f120fid" [(ngModel)]="feeStructureData.f048ffeeType"
                              name="f048ffeeType">
                            </ng-select>
                          </td> -->
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="fundList | sort:'f057fcode'"
                              bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="feeStructureData.f048fdrFund"
                              name="f048fdrFund">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="activitycodeList | sort:'f058fcompleteCode'"
                              bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="feeStructureData.f048fdrActivity"
                              name="f048fdrActivity">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="DeptList | sort:'f015fdepartmentCode'"
                              bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="feeStructureData.f048fdrDepartment"
                              name="f048fdrDepartment">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="accountcodeList | sort:'f059fcompleteCode'"
                              bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="feeStructureData.f048fdrAccount"
                              name="f048fdrAccount">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="fundList | sort:'f057fcode'"
                              bindLabel="f057fname" bindValue="f057fcode" [(ngModel)]="feeStructureData.f048fcrFund"
                              name="f048fcrFund">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="activitycodeList | sort:'f058fcompleteCode'"
                              bindLabel="f058fname" bindValue="f058fcompleteCode" [(ngModel)]="feeStructureData.f048fcrActivity"
                              name="f048fcrActivity">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="DeptList | sort:'f015fdepartmentCode'"
                              bindLabel="f015fdepartmentName" bindValue="f015fdepartmentCode" [(ngModel)]="feeStructureData.f048fcrDepartment"
                              name="f048fcrDepartment">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="accountcodeList | sort:'f059fcompleteCode'"
                              bindLabel="f059fname" bindValue="f059fcompleteCode" [(ngModel)]="feeStructureData.f048fcrAccount"
                              name="f048fcrAccount">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select style="width:200px" style="Width:150px;" [items]="currencySetupList | sort:'f062fcurDesc'"
                              bindLabel="f062fcurDesc" bindValue="f062fid" [(ngModel)]="feeStructureData.f048fidCurrency"
                              name="f048fidCurrency">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [items]="calculationTypeList" style="Width:150px;" bindLabel="f011fdefinitionCode"
                              bindValue="f011fid" [(ngModel)]="feeStructureData.f048fcalType" name="f048fcalType">
                            </ng-select>
                          </td>
                          <td>
                            <ng-select [items]="semesterList | sort:'name'" style="Width:150px;" bindLabel="name"
                              bindValue="value" [(ngModel)]="feeStructureData.f048ffrequencyMode" name="f048ffrequencyMode"
                              style="width: 100px">
                            </ng-select>
                          </td>
                          <td>
                            <input type="text" min="0" maxlength="10" class="form-control" name="f048famount" style="text-align: right;width: 130px"
                              [(ngModel)]="feeStructureData.f048famount" (keypress)="onlyNumberKey($event)" placeholder="Total"
                              value="">
                          </td>
                          <!-- <td>
                      <button class="btn nh-btn-primary" type="button" (click)='addfeeStructureList()'>
                        <i class="fa fa-plus"></i>
                      </button>
                    </td> -->
                          <td>
                            <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                              <i class="fa fa-minus"></i>
                            </button>
                            <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addfeeStructureList()'>
                              <i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>Total: {{feeStructureDataHeader.f048ftotal}}</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-striped table-food" id="target2">
                <thead>
                  <tr>
                    <th style='width:257px;text-align: center' colspan='4'>Program Course Fee</th>

                  </tr>
                  <tr>
                    <th style='width:266px;'>Program</th>
                    <th style='width:266px;'>Subject</th>
                    <th style='width:266px;'>Amount</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let indinv of feeStructureProgramFeeList;let i = index;trackBy:indexTracker">
                    <td style='width:257px;'>
                      <select class="form-control" [(ngModel)]="feeStructureProgramFeeList[i].f048fidProgram" name="f048fidProgram"
                        value="">
                        <option [ngValue]="undefined" hidden selected> --please select-- </option>
                        <option *ngFor="let indprogramme of programmeList" [value]="indprogramme.f068fid">{{
                          indprogramme.f068fname }}</option>
                      </select> </td>

                    <td style='width:257px;'>
                      <select class="form-control" [(ngModel)]="feeStructureProgramFeeList[i].f048fidSubject"
                        name="f048fidSubject" value="">
                        <option [ngValue]="undefined" hidden selected> --please select-- </option>
                        <option value='1'>Maths</option>
                        <option value='2'>Science</option>

                      </select> </td>
                    <td>
                      <input type="number" style="text-align: right;" min="0" class="form-control" name="f048famount"
                        placeholder="Enter Amount" [(ngModel)]="feeStructureProgramFeeList[i].f048famount"
                        value="">

                    </td>

                    <td>

                      <input type="button" name="add" (click)='deletefeeStructureProgramFeeList(feeStructureProgramFeeList[i])'
                        value='Delete' class="btn nh-btn-primary" />
                    </td>
                  </tr>


                  <tr>
                    <td style='width:257px;'>
                      <select class="form-control" [(ngModel)]="feeStructureProgramFeeData.f048fidProgram" name="f048fidProgram"
                        value="">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option *ngFor="let indprogramme of programmeList" [value]="indprogramme.f068fid">{{
                          indprogramme.f068fname }}</option>
                      </select>
                    </td>
                    <td style='width:257px;'>
                      <select class="form-control" [(ngModel)]="feeStructureProgramFeeData.f048fidSubject" name="f048fidSubject"
                        value="">
                        <option [ngValue]="undefined" hidden selected> -- select-- </option>
                        <option value='1'>Maths</option>
                        <option value='2'>Science</option>

                      </select> </td>
                    <td style='width:150px;'>
                      <input type="number" style="text-align: right;" min="0" class="form-control" name="f048famount"
                        placeholder="Enter Amount" [(ngModel)]="feeStructureProgramFeeData.f048famount" value="">

                    </td>

                    <td>
                      <input type="button" name="add" (click)='addfeeStructureProgramFeeList()' value='ADD' class="btn nh-btn-primary" />
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div> -->


          <div class="row" *ngIf="id == ''">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/studentfinance/feestructure']" class="btn nh-btn-secondary">Cancel</a>
                <button type="submit" (click)="saveFeeStructure()" class="btn nh-btn-primary">Save</button>
              </p>
            </div>
          </div>

          <div class="row" *ngIf="id > 0">
            <div class="col-sm-12">
              <p class="text-right">
                <a [routerLink]="['/studentfinance/feestructure']" class="btn nh-btn-primary">Back</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>