<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Budget General Information</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Semester</label>
                                    <select class="form-control" [(ngModel)]="budgetgeneralinfodata.f053fidSemester"
                                        name="f053fidSemester" placeholder="Select Semester">
                                        <option [ngValue]="undefined" hidden selected> --please select-- </option>
                                        <option *ngFor="let indsem of semesterList" [value]="indsem.f053fid">{{
                                            indsem.f053fid }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>New Students</label>
                                    <input type="text" class="form-control" name="Newstudents" placeholder="Enter New students"
                                        [(ngModel)]="budgetgeneralinfodata.f053fnewStudents" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Graduate Students</label>
                                    <input type="text" class="form-control" name="GraduateStudents" placeholder="Enter Graduate Students"
                                        [(ngModel)]="budgetgeneralinfodata.f053fgraduateStudents" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Number of vice Accessories</label>
                                    <input type="text" class="form-control" name="NumberofviceAccessories" placeholder="Enter Number of vice Accessories"
                                        [(ngModel)]="budgetgeneralinfodata.f053fnoOfViceAccessories" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Attiration Rate</label>
                                    <input type="text" class="form-control" name="Attirationrate" placeholder="Enter Attiration rate"
                                        [(ngModel)]="budgetgeneralinfodata.f053fattirationRate" value="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Expenses by Govt</label>
                                    <input type="text" class="form-control" name="Expensesbygovt" placeholder="Enter Expenses by govt"
                                        [(ngModel)]="budgetgeneralinfodata.f053fexpensesByGovt" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div [className]="'active'"></div>
                                <label>Status</label>
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="budgetgeneralinfodata.f053fstatus"
                                    [checked]="budgetgeneralinfodata.f053fstatus === '1'" [value]="1"> Active
                                <br>
                                <input type="radio" name="Status" [(ngModel)]="budgetgeneralinfodata.f053fstatus"
                                    [checked]="budgetgeneralinfodata.f053fstatus === '0'" [value]="0"> Inactive
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a href="/budget/budgetgeneralinformation" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" (click)='addBudgetgeneralinformation()' class="btn nh-btn-primary">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>