<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Room</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form (ngSubmit)="f.form.valid && addRoom()" #f="ngForm" name="form" novalidate>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Location <span class="required-class">*</span></label>
                                    <input type="text" maxlength="50" class="form-control" name="f039flocation"
                                        placeholder="Enter Location" [(ngModel)]="roomData.f039flocation" value=""
                                        required #Location="ngModel">
                                    <span *ngIf="Location.errors && (Location.dirty || Location.touched || f.submitted )"
                                        class="form-errors">*Enter
                                        the Location

                                        .</span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Building<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f039fbuilding"
                                        placeholder="Enter Building" [(ngModel)]="roomData.f039fbuilding" value=""
                                        required #Building="ngModel">
                                    <span *ngIf="Building.errors && (Building.dirty || Building.touched || f.submitted )"
                                        class="form-errors">*Enter
                                        the Building
                                        .</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Room Number<span class="required-class">*</span></label>
                                    <input type="text" maxlength="10" class="form-control" name="f039froomNo"
                                        placeholder="Enter Room Number" [(ngModel)]="roomData.f039froomNo" value=""
                                        required #Building="ngModel">
                                    <span *ngIf="Building.errors && (Building.dirty || Building.touched || f.submitted )"
                                        class="form-errors">*Enter
                                        the Room Number
                                        .</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div [className]="'active'"></div>
                                    <label>Status</label>
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="roomData.f039fstatus" [checked]="roomData.f039fstatus === '1'"
                                        [value]="1"> Active
                                    <br>
                                    <input type="radio" name="Status" [(ngModel)]="roomData.f039fstatus" [checked]="roomData.f039fstatus === '0'"
                                        [value]="0"> Inactive
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-right">
                                    <a [routerLink]="['/assets/room']" class="btn nh-btn-secondary">Cancel</a>
                                    <button type="submit" class="btn um-btn-primary mar-l-20">Save</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>