<div class="ps-right-section">
  <div class="ps-dashboard-sec">
    <div class="container-fluid" style="height:100%;width:100%;overflow:scroll;overflow-y:hidden;overflow-x:scroll;padding-bottom: 250px">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="ad-page-title">GRN Approval</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-top-wrapper">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-striped" [mfData]="grnapprovalList | filter : searchText " #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="f034forderType">Order Type</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034freferenceNumber">GRN Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="purchaseNumber">Order Number</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="vendorCode">Vendor Code</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="vendorName">Vendor Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="createdBy">Enter By</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034fupdatedDtTm">Enter Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="f034ftotalAmount">Amount(RM)</mfDefaultSorter>
                </th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indgrnapproval of mf.data">
                <td>{{indgrnapproval.f034forderType}}</td>
                <td>{{indgrnapproval.f034freferenceNumber}}</td>
                <td>{{indgrnapproval.purchaseNumber}}</td>
                <td>{{indgrnapproval.vendorCode}}</td>
                <td>{{indgrnapproval.vendorName}}</td>
                <td>{{indgrnapproval.createdBy}}</td>
                <td>{{indgrnapproval.f034fcreatedDtTm | date: 'dd/MM/yyyy'}}</td>
                <td class="amountAlign">{{indgrnapproval.f034ftotalAmount | number: '.2'}}</td>
                <td class="actions-col">
                  <div class="nh-btn-group">
                    <a routerLink="/procurement/editgrnapproval/{{indgrnapproval.f034fid}}">
                      <button class="btn nh-btn-edit">
                        <i class="fa fa-eye"></i>
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
            <td colspan="10">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>