<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <ul>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationnzero']">Campus
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationnone']">
                                    Building
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationntwo']"> Level
                                    Building
                                </a>

                            </li>
                            <li style="display: inline;padding:20px;"><a [routerLink]="['/assets/locationnthree']"> Room
                                </a>

                            </li>
                        </ul>
                    </div>
                    <h1 class="ad-page-title">Room</h1>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped table-food">
                    <thead>
                        <tr>
                            <th>Campus Code</th>
                            <th>Building Code</th>
                            <th>Level Building Code</th>
                            <th>Room Number</th>
                            <th>Room Description</th>
                           <th></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let indlevelone of locationnthreeList; let i = index;last as isLast">
                                <td><input type="text"  disabled="disabled" class="form-control" [(ngModel)]="levelone" /></td>
                                <td><input type="text"  disabled="disabled" class="form-control" [(ngModel)]="leveltwo" /></td>
                                <td><input type="text"  disabled="disabled" class="form-control" [(ngModel)]="levelthree" /></td>

                            <td>
                                <input type="text" class="form-control" maxlength="3" (blur)="onBlurMethod(locationnthreeList[i])" name="f059fcode"  placeholder="Enter Room Number"
                                    [(ngModel)]="locationnthreeList[i].f059fcode" value="">
                            </td>
                            <td>
                                <textarea type="text" class="form-control" maxlength="100"  (blur)="onBlurMethod(locationnthreeList[i])" name="f059fname"  placeholder="Enter Room Description"
                                    [(ngModel)]="locationnthreeList[i].f059fname" value=""></textarea>
                            </td>
                            <td *ngIf="!isLast">
                                <button class="btn nh-btn-primary" type="button" (click)='deletelevelthree(locationnthreeList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td *ngIf="isLast">
                                <button *ngIf="listshowLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletelevelthree(locationnthreeList[i])'>
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="listshowLastRowPlus" class="btn nh-btn-primary" type="button" (click)='showNewRow()'>
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>

                        <tr *ngIf="showLastRow==false">
                                <td><input type="text"  disabled="disabled" class="form-control" [(ngModel)]="levelone" /></td>
                                <td><input type="text"  disabled="disabled" class="form-control" [(ngModel)]="leveltwo" /></td>
                                <td><input type="text"  disabled="disabled" class="form-control" [(ngModel)]="levelthree" /></td>
                            <td>
                                <input type="text" class="form-control" maxlength="3" name="code" placeholder="Enter Room Number"
                                    [(ngModel)]="locationnthreeData.f059fcode" value="">
                            </td>
                            <td>
                                <textarea type="text" class="form-control" maxlength="100" name="description" placeholder="Enter Room Description"
                                    [(ngModel)]="locationnthreeData.f059fname" value=""></textarea>
                            </td>
                            <td>
                                <button *ngIf="showLastRowMinus" class="btn nh-btn-primary" type="button" (click)='deletemodule()'>
                                  <i class="fa fa-minus"></i>
                                </button>
                                <button *ngIf="showLastRowPlus" class="btn nh-btn-primary" type="button" (click)='addLocationnthree()'>
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <p class="text-right">
                    <button type="submit" (click)='saveLocationnthree()' class="btn nh-btn-primary">Save</button>
                </p>
            </div>
        </div>
    </div>
</div>