<div class="ps-right-section">
    <div class="ps-dashboard-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="ad-page-title">Journal Reversal</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-top-wrapper">
                        <div class="input-group">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search ">
                            <span class="input-group-btn">
                                <button class="btn btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-food" [mfData]="journalreversalList | filter : searchText"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th><mfDefaultSorter by="f017freferenceNumber">Journal Reference Number</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="originalName">Approver</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f017fdescription">Journal Description</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f017ftotalAmount">Total Amount (RM)</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="f017fapprovedStatus">Reverse</mfDefaultSorter></th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indjournalreversal of mf.data">
                                <td>{{indjournalreversal.f017freferenceNumber}}</td>
                                <td>{{indjournalreversal.originalName}} </td>
                                <td>{{indjournalreversal.f017fdescription }} </td>
                                <td class="amountAlign">{{indjournalreversal.f017ftotalAmount | number: '.2'}}</td>
                                <td>
                                    <input type="checkbox" [(ngModel)]="indjournalreversal.journalApproval">
                                </td>
                                <td class="actions-col">
                                    <div class="nh-btn-group">
                                        <a routerLink="/generalledger/editjournal/{{indjournalreversal.f017fid}}/3">
                                            <button class="btn nh-btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <td colspan="6">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description </label>
                            <textarea class="form-control" [(ngModel)]="journalreversalData.description" name="description"
                                placeholder="Enter Description "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-right">
                                <button type="submit" (click)='journalReversalData()' class="btn nh-btn-primary">Reverse</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>